


      <dl class="govuk-summary-list govuk-!-margin-bottom-9">

          <div class="govuk-summary-list__row">
              <dt class="govuk-summary-list__key">
                  Does your condition mean that it is difficult for you to drive or get public transport to work?
              </dt>
              <dd class="govuk-summary-list__value">
                  Yes
              </dd>
              <dd class="govuk-summary-list__actions">
                  <a href="/alpha-1i/travelling-to-and-from-work/screener">

                      <span class="govuk-visually-hidden"> whether it is difficult for you to drive or get public transport to work</span>
                  </a>
              </dd>
          </div>

          <div class="govuk-summary-list__row">
              <dt class="govuk-summary-list__key">
                  How do you get to work now?
              </dt>
              <dd class="govuk-summary-list__value">
                  Taxi
              </dd>
              <dd class="govuk-summary-list__actions">
                  <a href="/live-52cases/{% if phase %}{{phase}}/cases/{% endif %}check-application/travel-to-from-work/details/how-do-you-get-to-work-at-the-moment">
{% if edit == 'true' %}Update{% endif %}
                      <span class="govuk-visually-hidden"> how you get to work now</span>
                  </a>
              </dd>
          </div>



          <div class="govuk-summary-list__row">
              <dt class="govuk-summary-list__key">
                  What type of support do you need to travel to work?
              </dt>
              <dd class="govuk-summary-list__value">
                  Taxi
              </dd>
              <dd class="govuk-summary-list__actions">
                  <a href="">

                      <span class="govuk-visually-hidden"> the type of support you need to travel to work</span>
                  </a>
              </dd>
          </div>




          <div class="govuk-summary-list__row">
              <dt class="govuk-summary-list__key">
                  How will support to travel to and from work meet your needs?
              </dt>
              <dd class="govuk-summary-list__value">
                  Since my vision loss has progressed to the point where I am no longer fit to drive, I am unable to take public transport due to vision loss as well, but also trigger anxiety. I am 5 miles away from my employer and unable to walk there. I need taxis to help me get to work and back.
              </dd>
              <dd class="govuk-summary-list__actions">
                  <a href="/live-52cases/{% if phase %}{{phase}}/cases/{% endif %}check-application/travel-to-from-work/details/work-how-would-it-meet-your-needs">
{% if edit == 'true' %}Add more details{% endif %}
                      <span class="govuk-visually-hidden"> how support to travel to and from work will meet your needs</span>
                  </a>
              </dd>
          </div>


{% if data['travelling-to-and-from-work-more-details1']%}

<div class="govuk-summary-list__row">
    <dt class="govuk-summary-list__key">
    Added by John Goldsmith
    </dt>
    <dd class="govuk-summary-list__value">
        {{data['travelling-to-and-from-work-more-details1']}}
    </dd>
    <dd class="govuk-summary-list__actions">
      {% if edit == 'true' %}  <a href="/live-52cases/{% if phase %}{{phase}}/cases/{% endif %}check-application/travel-to-from-work/details/change-work-how-would-it-meet-your-needs">
Change<span class="govuk-visually-hidden"> how support to travel to and from work will meet your needs</span></a> |     <a href="remove">Remove<span class="govuk-visually-hidden"> how support to travel to and from work will meet your needs</span>
    </a>{% endif %}
    </dd>
</div>
{% endif %}



          <div class="govuk-summary-list__row">
              <dt class="govuk-summary-list__key">
                  How many journeys will you need support for in a week?
              </dt>
              <dd class="govuk-summary-list__value">
                {% if data['travelling-to-and-from-work-how-many-journeys-taxi']%}{{data['travelling-to-and-from-work-how-many-journeys-taxi']}}{% else %}4{% endif %}  journeys per week
              </dd>
              <dd class="govuk-summary-list__actions">
                  <a href="/live-52cases/{% if phase %}{{phase}}/cases/{% endif %}check-application/travel-to-from-work/details/how-many-journeys">
{% if edit == 'true' %}Update{% endif %}
                      <span class="govuk-visually-hidden"> how many journeys you will need support for in a week</span>
                  </a>
              </dd>
          </div>

          <div class="govuk-summary-list__row">
              <dt class="govuk-summary-list__key">
                  Will your journeys to and from work be between your home and work addresses?
              </dt>
              <dd class="govuk-summary-list__value">
                  Yes
              </dd>
              <dd class="govuk-summary-list__actions">
                  <a href="/live-52cases/{% if phase %}{{phase}}/cases/{% endif %}check-application/travel-to-from-work/details/will-your-journeys-be-between-home-and-work">
{% if edit == 'true' %}Update{% endif %}
                      <span class="govuk-visually-hidden"> whether your journeys to and from work be between your home and work addresses</span>
                  </a>
              </dd>
          </div>



      </dl>
