
{% block pageTitle %}

{% endblock %}



{% block content %}

<!-- <div class="govuk-grid-row">
<div class="govuk-grid-column-two-thirds"> -->

<h2 class="govuk-heading-l">Contact details and log</h2>

{% if data ['appointee'] %}


              {% else %}
              <div class="govuk-inset-text">You cannot contact {% if data['appointee']=='Yes, I need to add an appointee'%}{{data['appointee-name']}}{% else %}  {% if case =='other-cases' %}
                {% for case in data['other-cases'] %}
                {{ case.name }}
                {% endfor %}
                {% endif %}

                {% if case =='other-cases-2' %}
                {% for case in data['other-cases-2'] %}
                {{ case.name }}
                {% endfor %}
                {% endif %}

                {% if case =='other-cases-3' %}
                {% for case in data['other-cases-2'] %}
                {{ case.name }}
                {% endfor %}
                {% endif %}


                          {% if case =='other-cases-4' %}
                          {% for case in data['other-cases-4'] %}
                          {{ case.name }}
                          {% endfor %}
                          {% endif %}

                {% if not case %}
                {% for case in data['priority-cases'] %}
                {{ case.name }}
                {% endfor %}
                {% endif %}   {% endif %} before completing appointee task.</div>
      {% endif %}
<div class="govuk-grid-row">


</div>
{% if not totalcontact %}
{% set totalcontact = 0 %}
{% endif %}



{% for i in [1,2,3,4,5,6,7,8,9,10] -%}
 {% set contactindex = i %}
  {% if data['_do_'+ contactindex]%}
  {% set totalcontact = totalcontact + 1 %}
{% endif %}
  {%- endfor %}



<form action="/payments/sprint-50/cases/{% if case %}{{case}}/cases/{% endif %}contact/{{totalcontact + 1}}/how-do-you-want-to-contact" method="post" novalidate>










      <p><a href="/payments/sprint-50/cases/contact/contact-details">View contact details</a></p>




        <fieldset class="govuk-fieldset">
          <legend class="govuk-fieldset__legend govuk-fieldset__legend--m">
            <h2 class="govuk-fieldset__heading">
          Logged contact: {{totalcontact}}
            </h2>
          </legend>
        </fieldset>


        {% if data['clear']=='No' %}{% else %}
          {% include  "sprint-50/claim/notification-contact.html" %}{% endif %}


          <!-- <p>Best times to contact Dereck Smith:</p>
              <p>Between 8:30 am and 6pm Monday to Saturday. </p> -->

<div class="govuk-form-group">
<dl class="hmrc-list-with-actions hmrc-list-with-actions--short">



{% for i in [5,4,3,2,1] -%}
{% set contactindex = i  %}
{% if data['_do_'+ contactindex] %}

  <div class="hmrc-list-with-actions__item">
    <dt class="hmrc-list-with-actions__name">
    {{data['_do_'+ contactindex]}}
    </dt>
    <dt class="hmrc-list-with-actions__name">

       {{ data['contact-date-day-'+ contactindex] }}
   {% if (data['contact-date-month-'+ contactindex] =='01') or (data['contact-date-month-'+ contactindex] =='1') %} January {% endif%}
   {% if (data['contact-date-month-'+ contactindex] =='02') or (data['contact-date-month-'+ contactindex] =='2') %} February  {% endif%}
   {% if (data['contact-date-month-'+ contactindex] =='03') or (data['contact-date-month-'+ contactindex] =='3') %} March {% endif%}
   {% if (data['contact-date-month-'+ contactindex] =='04') or (data['contact-date-month-'+ contactindex] =='4') %} April {% endif%}
   {% if (data['contact-date-month-'+ contactindex] =='05') or (data['contact-date-month-'+ contactindex] =='5') %} May {% endif%}
   {% if (data['contact-date-month-'+ contactindex] =='06') or (data['contact-date-month-'+ contactindex] =='6') %} June {% endif%}
   {% if (data['contact-date-month-'+ contactindex] =='07') or (data['contact-date-month-'+ contactindex] =='7') %} July {% endif%}
   {% if (data['contact-date-month-'+ contactindex] =='08') or (data['contact-date-month-'+ contactindex] =='8') %} August {% endif%}
   {% if (data['contact-date-month-'+ contactindex] =='09') or (data['contact-date-month-'+ contactindex] =='9') %} September {% endif%}
   {% if data['contact-date-month-'+ contactindex] =='10' %} October {% endif%}
   {% if data['contact-date-month-'+ contactindex] =='11'%} November {% endif%}
   {% if data['contact-date-month-'+ contactindex] =='12' %} December {% endif%}
{{ data['contact-date-year-'+ contactindex] }},

{{data['contact-time-'+ contactindex ] | lower}}
    </dt>
    <div class="hmrc-list-with-actions__actions">
      <dd class="hmrc-list-with-actions__action">
        <a class="govuk-link"
        href="
        {% if data['_do_'+ contactindex]=='Telephone call made'%}/payments/sprint-50/cases/dereck/cases/contact/{{contactindex}}/phone-log{% endif %}
        {% if data['_do_'+ contactindex]=='Email sent'%} /payments/sprint-50/cases/dereck/cases/contact/{{contactindex}}/email-log {% endif %}
        {% if data['_do_'+ contactindex]=='Email received'%} /payments/sprint-50/cases/dereck/cases/contact/{{contactindex}}/email-log {% endif %}
        {% if data['_do_'+ contactindex]=='Text message (SMS) sent'%} /payments/sprint-50/cases/dereck/cases/contact/{{contactindex}}/sms-log {% endif %}
        {% if data['_do_'+ contactindex]=='Telephone call received'%} /payments/sprint-50/cases/dereck/cases/contact/{{contactindex}}/phone-log{% endif %}">
          <span aria-hidden="true">View </span>
          <span class="govuk-visually-hidden"> {{data['_do_'+ contactindex]}}</span>
        </a>
      </dd>
    </div>
  </div>



{% endif %}
{%- endfor %}


</dl>
<form method="post" novalidate action="">


  <button class="govuk-button" data-module="govuk-button">
    Log {% if totalcontact == 0 %}{% else %}another{% endif %} contact made
  </button>
</form>
{% if phase == "thomas"  %}
<fieldset class="govuk-fieldset">
  <legend class="govuk-fieldset__legend govuk-fieldset__legend--m">
    <h2 class="govuk-fieldset__heading">
Jane Doe has added 3 contacts
    </h2>
  </legend>
</fieldset>
<div class="govuk-form-group">
  <dl class="hmrc-list-with-actions hmrc-list-with-actions--short">








    <div class="hmrc-list-with-actions__item">
      <dt class="hmrc-list-with-actions__name">
      Telephone call made
      </dt>
      <dt class="hmrc-list-with-actions__name">

        18 November 2023, 9:30am
      </dt>
      <div class="hmrc-list-with-actions__actions">
        <dd class="hmrc-list-with-actions__action">
          <a class="govuk-link" href="/sprint-50/cases/thomas/cases/contact/1/phone-log-prefill">
            <span aria-hidden="true">View </span>
            <span class="govuk-visually-hidden"> Telephone call made</span>
          </a>
        </dd>
      </div>
    </div>




    <div class="hmrc-list-with-actions__item">
      <dt class="hmrc-list-with-actions__name">
      Text message (SMS) sent
      </dt>
      <dt class="hmrc-list-with-actions__name">

    17 November 2023, 1:13 pm
      </dt>
      <div class="hmrc-list-with-actions__actions">
        <dd class="hmrc-list-with-actions__action">
          <a class="govuk-link" href="/sprint-50/cases/thomas/cases/contact/1/sms-log-prefill">
            <span aria-hidden="true">View </span>
            <span class="govuk-visually-hidden"> Text message (SMS) sent</span>
          </a>
        </dd>
      </div>
    </div>




    <div class="hmrc-list-with-actions__item">
      <dt class="hmrc-list-with-actions__name">
      Email sent
      </dt>
      <dt class="hmrc-list-with-actions__name">

    17 November 2023, 1:00 pm
      </dt>
      <div class="hmrc-list-with-actions__actions">
        <dd class="hmrc-list-with-actions__action">
          <a class="govuk-link" href="/sprint-50/cases/thomas/cases/contact/1/email-log-prefill">
            <span aria-hidden="true">View </span>
            <span class="govuk-visually-hidden"> Email sent</span>
          </a>
        </dd>
      </div>
    </div>




  </dl>


</div>{% endif %}
</div>








</div>




</div>     </div>
{% endblock %}
