<h2 class="govuk-heading-m">   Quote 1</h2>
        <dl class="govuk-summary-list govuk-!-margin-bottom-9">


        <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">
      Brand or supplier
        </dt>
        <dd class="govuk-summary-list__value">
          Jaws screen reader Professional License

        </dd>
        <dd class="govuk-summary-list__actions">
          {% if  changeHide %}  <a href="#">
        Change
        <span class="govuk-visually-hidden"> </span>
        </a>{% endif %}
        </dd>
        </div>



        <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">
      Total cost
        </dt>
        <dd class="govuk-summary-list__value">
          £499

        </dd>
        <dd class="govuk-summary-list__actions">
          {% if  changeHide %}  <a href="#">
        Change
        <span class="govuk-visually-hidden"> </span>
        </a>{% endif %}
        </dd>
        </div>



</dl>
