

<dl class="govuk-summary-list govuk-!-margin-bottom-9">
  <div class="govuk-summary-list__row">
    <dt class="govuk-summary-list__key">
{% include  "live-20/cases/searchlight/appointee/content/does-name-here-have-an-appointee.html" %}
    </dt>
    <dd class="govuk-summary-list__value">

{{data['appointee']}}

    </dd>
    <dd class="govuk-summary-list__actions">
      <a class="govuk-link" href="index">
      Change<span class="govuk-visually-hidden"> Does Dereck Smith have an appointee?</span>
      </a>
    </dd>
  </div>

  {% if data['appointee']=='Yes, I need to add an appointee'%}
  <div class="govuk-summary-list__row">
    <dt class="govuk-summary-list__key">

Appointee’s full name


    </dt>
    <dd class="govuk-summary-list__value">
      {{data['appointee-name']}}
    </dd>
    <dd class="govuk-summary-list__actions">
      <a class="govuk-link" href="appointee-details#appointee-name">
        Change<span class="govuk-visually-hidden"> Appointee’s full name</span>
      </a>
    </dd>
  </div>

  <div class="govuk-summary-list__row">
    <dt class="govuk-summary-list__key">

Appointee’s address


    </dt>
    <dd class="govuk-summary-list__value">
      {{data['appointee-address-line-1']}}<br>
      {{data['appointee-address-line-2']}}{% if data['appointee-address-line-2']%}<br>{% endif %}
      {{data['appointee-address-town']}}{% if data['appointee-address-town']%}<br>{% endif %}
      {{data['appointee-address-county']}}{% if data['appointee-address-county']%}<br>{% endif %}
      {{data['appointee-address-postcode']}}
    </dd>
    <dd class="govuk-summary-list__actions">
      <a class="govuk-link" href="appointee-details#appointee-address-line-1">
        Change<span class="govuk-visually-hidden"> Appointee’s address</span>
      </a>
    </dd>
</div>


    <div class="govuk-summary-list__row">
      <dt class="govuk-summary-list__key">

        Appointee’s contact details


      </dt>
      <dd class="govuk-summary-list__value">
        {% for feature in data['appointee-contact'] %}
          <li>{{ feature }}</li>
        {% else %}
          <li>None </li>
        {% endfor %}
      </dd>
      <dd class="govuk-summary-list__actions">
        <a class="govuk-link" href="appointee-details#appointee-name">
          Change<span class="govuk-visually-hidden"> Appointee’s contact details</span>
        </a>
      </dd>
    </div>

{% if 'email' in data['appointee-contact']%}
<div class="govuk-summary-list__row">
<dt class="govuk-summary-list__key">
Appointee’s email

</dt>
    <dd class="govuk-summary-list__value">
    {{data['appointee-email']}}
    </dd>
    <dd class="govuk-summary-list__actions">
      <a class="govuk-link" href="appointee-telephone-email#appointee-email">
        Change<span class="govuk-visually-hidden"> Appointee’s contact details</span>
      </a>
    </dd>
  </div>
{% endif %}

{% if 'telephone' in data['appointee-contact']%}
<div class="govuk-summary-list__row">
<dt class="govuk-summary-list__key">
Appointee’s telephone

</dt>
    <dd class="govuk-summary-list__value">
    {{data['appointee-telephone']}}
    </dd>
    <dd class="govuk-summary-list__actions">
      <a class="govuk-link" href="appointee-telephone-email#appointee-telephone">
        Change<span class="govuk-visually-hidden"> Appointee’s contact details</span>
      </a>
    </dd>
  </div>
{% endif %}
{% endif %}
</dl>
