{% set case = "dereck" %}
{% set page = "claim" %}
{% set claim = "true" %}
{% set title = "Check your answers: rejected proforma invoices" %}

{% extends   "payments/sprint-48/claim/_CSIBASE.html" %}

{% block csi %}





<!-- <form action="/cases/claim/task-list" method="post" novalidate> -->
<!-- <form action="/payments/sprint-48/cases/claim#your-tasks" method="post" novalidate> -->
<form action="/payments/sprint-48/cases/dereck/claim-dereck#your-tasks" method="post" novalidate>



        <div class="govuk-width-container">
        <main class="govuk-main-wrapper">
        <div class="govuk-grid-row">
        <div class="govuk-grid-column-two-thirds">



        <div class="govuk-form-group">
        <fieldset class="govuk-fieldset">
        <legend class="govuk-fieldset__legend govuk-fieldset__legend--l">


        <h2 class="govuk-fieldset__heading">
Check your answers: rejected proforma invoice
        </h2>


        <br>
        <dl class="govuk-summary-list">
        <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">
Description
        </dt>
        <dd class="govuk-summary-list__value">
ZoomText Professional License
        </dd>
        <dd class="govuk-summary-list__actions">
        <a class="govuk-link" href="#">
<!-- Change
        <span class="govuk-visually-hidden"> name</span> -->
        </a>
        </dd>
        </div>


        <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">
Element
        </dt>
        <dd class="govuk-summary-list__value">
Specialist equipment
        </dd>
        <dd class="govuk-summary-list__actions">
        <a class="govuk-link" href="#">
<!-- Change
        <span class="govuk-visually-hidden"> address</span> -->
        </a>
        </dd>
        </div>


        <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">
Amount claimed
        </dt>
        <dd class="govuk-summary-list__value">

        £530.64

        </dd>
        <dd class="govuk-summary-list__actions">
        <!-- <a class="govuk-link" href="/payments/sprint-48/cases/dereck/cases/company-details-no-match/rejected-invoice-ipad">
Update -->
        <span class="govuk-visually-hidden">amount to pay</span>
        </a>
        </dd>
        </div>


        <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">
Why are you rejecting this invoice?
        </dt>
        <dd class="govuk-summary-list__value">

{% if data ['proforma-reject'] %}
{{data['proforma-reject']}}
{% endif %}

{% if not data ['proforma-reject'] %}
        {{data['paid-in-full-no-match-reject-reason']}}
{% endif %}


        </dd>
        <dd class="govuk-summary-list__actions">
{% if data ['proforma-reject'] %}
<a class="govuk-link" href="/payments/sprint-48/cases/dereck/cases/paid-in-full-no-match/paid-in-full-no-match-valid-no-reject-other">
Update
<span class="govuk-visually-hidden"> - </span>
</a>
{% endif %}

{% if not data ['proforma-reject'] %}
<a class="govuk-link" href="/payments/sprint-48/cases/dereck/cases/paid-in-full-no-match/paid-in-full-no-match-valid-no-reject">
Update
<span class="govuk-visually-hidden"> - </span>
</a>
{% endif %}

        </dd>
        </div>
        </dl>


        </fieldset>
        </div>


        <div class="govuk-button-group">
        <button class="govuk-button" data-module="govuk-button">
Update calculation
        </button>
        </form>




        </form>
        </div>
        </div>
        </main>
        </div>







{% endblock %}
