
{% extends "layout.html" %}

{% block pageTitle %}
  Access to Work prototypes: renewals
{% endblock %}

{% block header %}

  <div class="prototype-remove-blue-border-from-header">

    {{ super() }}

    <div class="prototype-home-top">

      <div class="govuk-width-container">

        <div class="govuk-grid-row">

          <div class="govuk-grid-column-two-thirds">

            <h1 class="govuk-heading-xl govuk-!-margin-bottom-4">Access to Work</h1>
            <h1 class="govuk-heading-l govuk-!-font-weight-regular  govuk-!-margin-bottom-2">Renewals prototype</h1>

          </div>

        </div>

      </div>

    </div>

  </div>

{% endblock %}

{% block beforeContent %}

  {{ super() }}
  {{ govukBackLink({
    text: 'Back to renewals home',
    href: '/renewals/'
  }) }}
{% endblock %}

{% block content %}


 <h2 class="govuk-heading-l">HTO-2902: Renewals OGD prototypes for UR</h1>

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-one-half">



      <h2 class="govuk-heading-m">Email</h2>
     <p>
        <a href="email/index.html" class="govuk-link--no-visited-state">
       Email reminder scenario for UR

        </a>
      <p>
      <p>UR version with email, GOV.UK and service journeys.</p>



   <hr class="govuk-section-break govuk-section-break--l govuk-section-break--visible">

      <h2 class="govuk-heading-m">SMS</h2>

     <p>
        <a href="sms/index.html" class="govuk-link--no-visited-state">
       SMS reminder scenario for UR

        </a>
      <p>
      <p>UR version with SMS, GOV.UK and service journeys.</p>



<hr class="govuk-section-break govuk-section-break--l govuk-section-break--visible">







    </div>
  </div>

{% endblock %}
