
{% set changeHide = 'true '%}

{% if claim %}
<div class="govuk-tabs" data-module="govuk-tabs">
  <h2 class="govuk-tabs__title">
    Contents
  </h2>
  <ul class="govuk-tabs__list">
    <li class="govuk-tabs__list-item govuk-tabs__list-item--selected">
      <a class="govuk-tabs__tab" href="#application-summary">
        Application summary
      </a>
    </li>
    <li class="govuk-tabs__list-item">
      <a class="govuk-tabs__tab" href="#searchlight">
        Personal details
      </a>
    </li>
    <li class="govuk-tabs__list-item">
      <a class="govuk-tabs__tab" href="#your-tasks">
        Your tasks
      </a>
    </li>
    <!-- <li class="govuk-tabs__list-item">
      <a class="govuk-tabs__tab" href="#citizen-details">
      Application details
      </a>
    </li> -->



  </ul>
  <div class="govuk-tabs__panel" id="application-summary">

  {% if phase == "notEligible"  %}
{% include  "../claim/notification.html" %}
{% endif %}

 <div class="govuk-grid-row">
<div class="govuk-grid-column-two-thirds">
<h2 class="govuk-heading-l">Application summary</h2>
  <dl class="govuk-summary-list govuk-summary-list--no-border">
    <dl class="govuk-summary-list govuk-summary-list--no-border">

      <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
              Case type
            </dt>
            <dd class="govuk-summary-list__value">
              {% if case =='other-cases' %}
              {% for case in data['other-cases'] %}
              {{ case.case }}
              {% endfor %}
              {% endif %}

              {% if case =='other-cases-2' %}
              {% for case in data['other-cases-2'] %}
              {{ case.case }}
              {% endfor %}
              {% endif %}

              {% if not case %}
              {% for case in data['priority-cases'] %}
              {{ case.case }}
              {% endfor %}
              {% endif %}
            </dd>
          </div>{% if case == "priority-cases"  %}
          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
              Priority type
            </dt>
            <dd class="govuk-summary-list__value">
              Clinically extremely vulnerable  (CEV)
            </dd>
          </div>{% endif %}
  <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">
          Full name
        </dt>
        <dd class="govuk-summary-list__value">
          {% if case =='other-cases' %}
          {% for case in data['other-cases'] %}
          {{ case.name }}
          {% endfor %}
          {% endif %}

          {% if case =='other-cases-2' %}
          {% for case in data['other-cases-2'] %}
          {{ case.name }}
          {% endfor %}
          {% endif %}

          {% if not case %}
          {% for case in data['priority-cases'] %}
          {{ case.name }}
          {% endfor %}
          {% endif %}        </dd>
      </div>

            <div class="govuk-summary-list__row">
              <dt class="govuk-summary-list__key">
                 Health condition or disability
              </dt>
              <dd class="govuk-summary-list__value">
              macular oedema
              </dd>
            </div>
    <!-- <div class="govuk-summary-list__row">
      <dt class="govuk-summary-list__key">
        Unique reference number (URN)
      </dt>
      <dd class="govuk-summary-list__value">
        123456789
      </dd>
    </div> -->

    <!-- <div class="govuk-summary-list__row">
      <dt class="govuk-summary-list__key">
        Application refrence
      </dt>
      <dd class="govuk-summary-list__value">

      </dd>
    </div> -->

  </dl>



<!-- <h3 class="govuk-heading-m">Application details</h3> -->
    <dl class="govuk-summary-list govuk-summary-list--no-border">
      <!-- <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">
      Date Submitted
        </dt>
        <dd class="govuk-summary-list__value">
          2 November 2021, 10:09am
        </dd>
      </div> -->


      <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">
          Date submitted
        </dt>
        <dd class="govuk-summary-list__value">
          2 June 2022, 11:57am
        </dd>
      </div>
      <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">
          Application reference
        </dt>
        <dd class="govuk-summary-list__value">
          RMPX3{% if phase == "sonya"  %}0{% else %}1{% endif %}
        </dd>
      </div>



    </dl>

    </div>


 <div class="govuk-grid-column-one-third">
  {% if phase == "allocator"  %}
  <div class="update-panel">
       <h3 id="update-adviser-heading" class="govuk-heading-m">Update case manger</h3>
       <form action="/cases/apply/RMPX30/update-adviser" method="post" class="form" id="form-update-adviser" data-submitonce="data-submitonce">
         <div class="govuk-form-group form-group-compound">
           <select class="govuk-select" id="handlerId" name="handlerId" aria-labelledby="update-adviser-heading">
             <option value="" data-name=""></option>

                   <option value="4" data-name="Aaron">Aaron</option>

                   <option value="36" data-name="Adviser">Adviser</option>

                   <option value="37" data-name="Case Team Lead">Case Team Lead</option>

                   <option value="35" data-name="FRM">FRM</option>

                   <option value="38" data-name="Payment Officer">Payment Officer</option>

                   <option value="39" data-name="Payment Team Lead" selected="selected"> John Goldsmith</option>

                   <option value="40" data-name="Quality">Quality</option>

                   <option value="42" data-name="Quality1">Quality1</option>

                   <option value="5" data-name="Shannon White">Shannon White</option>

                   <option value="34" data-name="Telephony Agent">Telephony Agent</option>



           </select>
         </div>
         <div>
           <input type="submit" class="govuk-button" id="submitButtonEditAdvisor" value="Save">
         </div>
       </form>
     </div> {% endif %}


     <script>
     window.onload = function() {
       document.getElementById("timeline-date").innerHTML=moment().format("DD MM YYYY");
     }
   </script>

</div></div>
{% if phase == "sonya"  %}{% include  "../claim/timeline.html" %}{% else %}
{% include  "../claim/timeline-dereck.html" %}{% endif %}
</div>


















  <div class="govuk-tabs__panel govuk-tabs__panel--hidden" id="citizen-details">
    <div class="govuk-grid-row">
      <div class="govuk-grid-column-two-thirds">

 {% include "./details.html"%}


  </div>    </div>    </div>













  <div class="govuk-tabs__panel govuk-tabs__panel--hidden" id="your-tasks">

    {% if phase == "notEligible"  %}
    {% include  "./notification.html" %}
      {% else %}
    {% endif %}




    {% if case =='other-cases' %}
      {% include  "./task-list-sonya.html" %}
    {% endif %}

    {% if case =='other-cases-2' %}
      {% include  "./task-list-thomas.html" %}
    {% endif %}

    {% if not case %}
    {% include  "./task-list-dereck.html" %}
    {% endif %}




  </div>


  <div class="govuk-tabs__panel govuk-tabs__panel--hidden" id="searchlight">
    <div class="govuk-grid-row">
      <div class="govuk-grid-column-two-thirds">

    <h2 class="govuk-heading-l">Personal details</h2>
    {% if phase == "notEligible"  %}
    {% include  "./notification.html" %}
      {% else %}
    {% endif %}


    {% if data['Searchligh']=='No'%}
    <p >
    <a href="{% if not data['_do_1']%}/current/cases/contact/1/how-do-you-want-to-contact{% else %}/current/cases/contact/contact-log{% endif %}" aria-describedby="contact-status">

    Log contact with {% if data['appointee']=='Yes, I need to add an appointee'%}{{data['appointee-name']}}{% else %}Dereck Smith{% endif %}
    </a>
    </p>

    <!-- <div class="govuk-inset-text">
    <p>  You need to contact Dereck Smith.  </p>

    </div> -->

    <br>
    {% else %}


    {% if (data['national-insurance-number'] or data['found-nino']=='No' or data['Searchligh']=='No') and
    data ['elements']
    and
    data ['condition-check']
    and
    data ['job-deatils-check']

    and
    data ['contact-check']

    and
    data ['appointee']
    and
    data ['benefits']
    %}


                    {% else %}
                    <div class="govuk-inset-text">You cannot contact {% if data['appointee']=='Yes, I need to add an appointee'%}{{data['appointee-name']}}{% else %}Dereck Smith{% endif %} before completing all Searchlight checks.</div>
            {% endif %}
            {% endif %}
<p>You can <a href="/current/cases/searchlight/personal">update personal details</a>, this may effect the status of the task.</p>
    {% if case =='other-cases' %}
      {% include  "./task-list-sonya.html" %}
    {% endif %}

    {% if case =='other-cases-2' %}
      {% include  "./task-list-thomas.html" %}
    {% endif %}

    {% if not case %}
    {% include  "./task-list-comp/searchlight.html" %}
    {% endif %}



  </div>  </div>
  <p><a href="#your-tasks">Continue to your task</a></p>
  </div>







{% endif %}
