
{% set changeHide = 'true '%}

{% if claim %}
<div class="govuk-tabs" data-module="govuk-tabs">
  <h2 class="govuk-tabs__title">
    Contents
  </h2>
  <ul class="govuk-tabs__list">
    <li class="govuk-tabs__list-item govuk-tabs__list-item--selected">
      <a class="govuk-tabs__tab" href="#application-summary">
      Summary
      </a>
    </li>


    <li class="govuk-tabs__list-item">
      <a class="govuk-tabs__tab" href="#checks">
      Checks
      </a>
    </li>
    <li class="govuk-tabs__list-item">
      <a class="govuk-tabs__tab" href="#citizen-details">
    Review application
      </a>
    </li>
    <li class="govuk-tabs__list-item">
      <a class="govuk-tabs__tab" href="#wpa">
      Job details and workplace assessment
      </a>
    </li>
    <li class="govuk-tabs__list-item">
      <a class="govuk-tabs__tab" href="#business-case">
      Business case
      </a>
    </li>
    <li class="govuk-tabs__list-item">
      <a class="govuk-tabs__tab" href="#contact">
      Contact notes and details
      </a>
    </li>


  </ul>

  <div class="govuk-tabs__panel" id="application-summary">

  {% if data['exceptions']=='No'  %}
{% include  "../claim/notification.html" %}
{% endif %}
<!--
{% if data['wpa-pause']=='Yes'%}<div class="govuk-notification-banner" role="region"
  aria-labelledby="govuk-notification-banner-title"
  data-module="govuk-notification-banner">
  <div class="govuk-notification-banner__header">
    <h2 class="govuk-notification-banner__title" id="govuk-notification-banner-title">
      Important
    </h2>
  </div>
  <div class="govuk-notification-banner__content">
    <p class="govuk-notification-banner__heading">
      You have 7 days left to send your application.
      <a class="govuk-notification-banner__link" href="#">View application</a>.
    </p>
  </div>
</div>{% endif %}
{% if data['wpa-4-weeks']=='Yes'%}
<div class="govuk-notification-banner" role="region"
aria-labelledby="govuk-notification-banner-title"
data-module="govuk-notification-banner">
<div class="govuk-notification-banner__header">
<h2 class="govuk-notification-banner__title" id="govuk-notification-banner-title">
  Important
</h2>
</div>
<div class="govuk-notification-banner__content">
<p class="govuk-notification-banner__heading">
  You have 7 days left to send your application.
  <a class="govuk-notification-banner__link" href="#">View application</a>.
</p>
</div>
</div>
{% endif %} -->

 <div class="govuk-grid-row">
<div class="govuk-grid-column-two-thirds">
<h2 class="govuk-heading-l">Summary</h2>
  <dl class="govuk-summary-list govuk-summary-list--no-border">
    <dl class="govuk-summary-list govuk-summary-list--no-border">


  <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">
          Full name
        </dt>
        <dd class="govuk-summary-list__value">
          {% if case =='other-cases-fill-1' %}
          {% for case in data['other-cases-fill-1'] %}
          {{ case.name }}
          {% endfor %}
          {% endif %}
          {% if case =='other-cases-fill-2' %}
          {% for case in data['other-cases-fill-2'] %}
          {{ case.name }}
          {% endfor %}
          {% endif %}

          {% if case =='other-cases-fill-3' %}
          {% for case in data['other-cases-fill-3'] %}
          {{ case.name }}
          {% endfor %}
          {% endif %}
          {% if case =='other-cases-fill-4' %}
          {% for case in data['other-cases-fill-4'] %}
          {{ case.name }}
          {% endfor %}
          {% endif %}


          {% if case =='other-cases' %}
          {% for case in data['other-cases'] %}
          {{ case.name }}
          {% endfor %}
          {% endif %}

          {% if case =='other-cases-2' %}
          {% for case in data['other-cases-2'] %}
          {{ case.name }}
          {% endfor %}
          {% endif %}

          {% if case =='other-cases-3' %}
          {% for case in data['other-cases-2'] %}
          {{ case.name }}
          {% endfor %}
          {% endif %}


                    {% if case =='other-cases-4' %}
                    {% for case in data['other-cases-4'] %}
                    {{ case.name }}
                    {% endfor %}
                    {% endif %}

          {% if not case %}
          {% for case in data['priority-cases'] %}
          {{ case.name }}
          {% endfor %}
          {% endif %}        </dd>
      </div>
    <!-- <div class="govuk-summary-list__row">
      <dt class="govuk-summary-list__key">
        Unique reference number (URN)
      </dt>
      <dd class="govuk-summary-list__value">
        123456789
      </dd>
    </div> -->

    <!-- <div class="govuk-summary-list__row">
      <dt class="govuk-summary-list__key">
        Application refrence
      </dt>
      <dd class="govuk-summary-list__value">

      </dd>
    </div> -->

  </dl>



<!-- <h3 class="govuk-heading-m">Application details</h3> -->
    <dl class="govuk-summary-list govuk-summary-list--no-border">
      <!-- <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">
      Date Submitted
        </dt>
        <dd class="govuk-summary-list__value">
          2 November 2021, 10:09am
        </dd>
      </div> -->


      <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">
          Date submitted
        </dt>
        <dd class="govuk-summary-list__value">

          {% if case =='other-cases-fill-1' %}
        <script>// Get date
            var now = new Date();
            var pastDate = new Date(now);
            pastDate.setDate(now.getDate() - 60);

            var formattedDate = pastDate.toLocaleDateString('en-GB', {
            day: 'numeric',
            month: 'long',
            year: 'numeric'
            });

            var formattedTime = pastDate.toLocaleTimeString('en-GB', {
            hour: 'numeric',
            minute: 'numeric',
            hour12: true
            });

            document.write(formattedDate + ' at 3:00 pm');</script>{% endif %}
            {% if case =='other-cases-fill-2' %}
          <script>// Get date
              var now = new Date();
              var pastDate = new Date(now);
              pastDate.setDate(now.getDate() - 60);

              var formattedDate = pastDate.toLocaleDateString('en-GB', {
              day: 'numeric',
              month: 'long',
              year: 'numeric'
              });

              var formattedTime = pastDate.toLocaleTimeString('en-GB', {
              hour: 'numeric',
              minute: 'numeric',
              hour12: true
              });

              document.write(formattedDate + ' at 3:00 pm');</script>{% endif %}
              {% if case =='other-cases-fill-3' %}
            <script>// Get date
                var now = new Date();
                var pastDate = new Date(now);
                pastDate.setDate(now.getDate() - 60);

                var formattedDate = pastDate.toLocaleDateString('en-GB', {
                day: 'numeric',
                month: 'long',
                year: 'numeric'
                });

                var formattedTime = pastDate.toLocaleTimeString('en-GB', {
                hour: 'numeric',
                minute: 'numeric',
                hour12: true
                });

                document.write(formattedDate + ' at 3:00 pm');</script>{% endif %}
                {% if case =='other-cases-fill-4' %}
              <script>// Get date
                  var now = new Date();
                  var pastDate = new Date(now);
                  pastDate.setDate(now.getDate() - 60);

                  var formattedDate = pastDate.toLocaleDateString('en-GB', {
                  day: 'numeric',
                  month: 'long',
                  year: 'numeric'
                  });

                  var formattedTime = pastDate.toLocaleTimeString('en-GB', {
                  hour: 'numeric',
                  minute: 'numeric',
                  hour12: true
                  });

                  document.write(formattedDate + ' at 3:00 pm');</script>{% endif %}



  {% if case =='other-cases-2' %}
<script>// Get date
    var now = new Date();
    var pastDate = new Date(now);
    pastDate.setDate(now.getDate() - 70);

    var formattedDate = pastDate.toLocaleDateString('en-GB', {
    day: 'numeric',
    month: 'long',
    year: 'numeric'
    });

    var formattedTime = pastDate.toLocaleTimeString('en-GB', {
    hour: 'numeric',
    minute: 'numeric',
    hour12: true
    });

    document.write(formattedDate + ' at 4:51 pm');</script>{% endif %}




    {% if case =='other-cases' %}
  <script>// Get date
      var now = new Date();
      var pastDate = new Date(now);
      pastDate.setDate(now.getDate() - 60);

      var formattedDate = pastDate.toLocaleDateString('en-GB', {
      day: 'numeric',
      month: 'long',
      year: 'numeric'
      });

      var formattedTime = pastDate.toLocaleTimeString('en-GB', {
      hour: 'numeric',
      minute: 'numeric',
      hour12: true
      });

      document.write(formattedDate + ' at 3:00 pm');</script>{% endif %}
{% if not case %}
        <script>  var now = new Date();
          var pastDate = new Date(now);
          pastDate.setDate(now.getDate() - 60);

          var formattedDate = pastDate.toLocaleDateString('en-GB', {
          day: 'numeric',
          month: 'long',
          year: 'numeric'
          });

          var formattedTime = pastDate.toLocaleTimeString('en-GB', {
          hour: 'numeric',
          minute: 'numeric',
          hour12: true
          });

          document.write(formattedDate + ' at 3:00 pm');</script>{% endif %}
        </dd>
      </div>
      <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">
          Application reference
        </dt>
        <dd class="govuk-summary-list__value">
          RMPX3{% if phase == "paul"  %}1{% endif %}{% if phase == "sonya"  %}0{% endif %}{% if phase == "thomas"  %}2{% endif %}{% if not phase   %}0{% endif %}{% if phase == "arlo"  %}5{% endif %}
        </dd>
      </div>


      <!-- <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">
          Version of questions
        </dt>
        <dd class="govuk-summary-list__value">
        25.25.0-rc
        </dd>
      </div> -->

    </dl>

    </div>


 <div class="govuk-grid-column-one-third">
  {% if phase == "allocator"  %}
  <div class="update-panel">
       <h3 id="update-adviser-heading" class="govuk-heading-m">Update case manger</h3>
       <form action="/cases/apply/RMPX30/update-adviser" method="post" class="form" id="form-update-adviser" data-submitonce="data-submitonce">
         <div class="govuk-form-group form-group-compound">
           <select class="govuk-select" id="handlerId" name="handlerId" aria-labelledby="update-adviser-heading">
             <option value="" data-name=""></option>

                   <option value="4" data-name="Aaron">Aaron</option>

                   <option value="36" data-name="Adviser">Adviser</option>

                   <option value="37" data-name="Case Team Lead">Case Team Lead</option>

                   <option value="35" data-name="FRM">FRM</option>

                   <option value="38" data-name="Payment Officer">Payment Officer</option>

                   <option value="39" data-name="Payment Team Lead" selected="selected"> John Goldsmith</option>

                   <option value="40" data-name="Quality">Quality</option>

                   <option value="42" data-name="Quality1">Quality1</option>

                   <option value="5" data-name="Shannon White">Shannon White</option>

                   <option value="34" data-name="Telephony Agent">Telephony Agent</option>



           </select>
         </div>
         <div>
           <input type="submit" class="govuk-button" id="submitButtonEditAdvisor" value="Save">
         </div>
       </form>
     </div> {% endif %}


     <script>
     window.onload = function() {
       document.getElementById("timeline-date").innerHTML=moment().format("DD MM YYYY");
     }
   </script>

</div></div>
  <h2 class="govuk-heading-l">Case history</h2>

<p><a href="/current/cases/{%if phase %}{{phase}}/cases/{% endif %}close/reject-case"> Close the case</a></p>
<!-- <p><a href="/current/cases/{%if phase %}{{phase}}/cases/{% endif %}close/withdrawal-case"> Withdraw the case</a></p> -->
<br>

{% if phase == "george"  %}{% include  "../claim/timelines/timeline.html" %}{% endif %}
{% if phase == "paul"  %}{% include  "../claim/timelines/timeline.html" %}{% endif %}
{% if phase == "anahi"  %}{% include  "../claim/timelines/timeline.html" %}{% endif %}
{% if phase == "kam"  %}{% include  "../claim/timelines/timeline.html" %}{% endif %}
{% if phase == "arlo"  %}{% include  "../claim/timelines/timeline-john.html" %}{% endif %}
{% if phase == "sonya"  %}{% include  "../claim/timelines/timeline.html" %}{% endif %}
{% if phase == "thomas"  %}{% include  "../claim/timelines/timeline-thomas-new.html" %}</div></div>{% endif %}
{% if not phase %}{% include  "../claim/timelines/timeline-dereck.html" %}{% endif %}
</div>







<div class="govuk-tabs__panel govuk-tabs__panel--hidden" id="contact">

  {% if data['exceptions']=='No'  %}
  {% include  "../claim/notification.html" %}
  {% endif %}



  <div class="govuk-grid-row">
 <div class="govuk-grid-column-two-thirds">

<h1 class="govuk-heading-l">Contact notes and details</h1>

{% if


data ['appointee']

%}


                {% else %}
                <div class="govuk-inset-text">You cannot contact {% if data['appointee']=='Yes, I need to add an appointee'%}{{data['appointee-name']}}{% else %}
              {% if case =='other-cases-fill-1' %}
                  {% for case in data['other-cases-fill-1'] %}
                  {{ case.name }}
                  {% endfor %}
                  {% endif %}
                  {% if case =='other-cases-fill-2' %}
                      {% for case in data['other-cases-fill-2'] %}
                      {{ case.name }}
                      {% endfor %}
                      {% endif %}
                      {% if case =='other-cases-fill-3' %}
                          {% for case in data['other-cases-fill-3'] %}
                          {{ case.name }}
                          {% endfor %}
                          {% endif %}
                          {% if case =='other-cases-fill-4' %}
                              {% for case in data['other-cases-fill-4'] %}
                              {{ case.name }}
                              {% endfor %}
                              {% endif %}

{% if case =='other-cases' %}
                  {% for case in data['other-cases'] %}
                  {{ case.name }}
                  {% endfor %}
                  {% endif %}

                  {% if case =='other-cases-2' %}
                  {% for case in data['other-cases-2'] %}
                  {{ case.name }}
                  {% endfor %}
                  {% endif %}

                  {% if case =='other-cases-3' %}
                  {% for case in data['other-cases-2'] %}
                  {{ case.name }}
                  {% endfor %}
                  {% endif %}


                            {% if case =='other-cases-4' %}
                            {% for case in data['other-cases-4'] %}
                            {{ case.name }}
                            {% endfor %}
                            {% endif %}

                  {% if not case %}
                  {% for case in data['priority-cases'] %}
                  {{ case.name }}
                  {% endfor %}
                  {% endif %}   {% endif %} before completing appointee task.</div>
        {% endif %}
  <div class="govuk-grid-row">


</div>
{% if not totalcontact %}
  {% set totalcontact = 0 %}
  {% endif %}



  {% for i in [1,2,3,4,5,6,7,8,9,10] -%}
   {% set contactindex = i %}
    {% if data['_do_'+ contactindex]%}
    {% set totalcontact = totalcontact + 1 %}
  {% endif %}
    {%- endfor %}



  <form action="/current/cases/{% if phase %}{{phase}}/cases/{% endif %}contact/{{totalcontact + 1}}/how-do-you-want-to-contact" method="post" novalidate>










        <p><a href="/current/cases/{% if phase %}{{phase}}/cases/{% endif %}check-application/contact/contact-details">View contact details</a></p>




          <fieldset class="govuk-fieldset">
            <legend class="govuk-fieldset__legend govuk-fieldset__legend--m">
              <h2 class="govuk-fieldset__heading">
          Contact records: {{totalcontact}}
              </h2>
            </legend>
          </fieldset>


          {% if data['clear']=='No' %}{% else %}
            {% include  "current/claim/notification-contact.html" %}{% endif %}


            <!-- <p>Best times to contact Dereck Smith:</p>
                <p>Between 8:30 am and 6pm Monday to Saturday. </p> -->

<div class="govuk-form-group">
  <dl class="hmrc-list-with-actions hmrc-list-with-actions--short">



{% for i in [5,4,3,2,1] -%}
{% set contactindex = i  %}
{% if data['_do_'+ contactindex] %}

    <div class="hmrc-list-with-actions__item">
      <dt class="hmrc-list-with-actions__name">
      {{data['_do_'+ contactindex]}}
      </dt>
      <dt class="hmrc-list-with-actions__name">
      {% if data['todays-date'+ contactindex]=='No'%}
      {{ data['contact-date-day-'+ contactindex] }}
        {% if (data['contact-date-month-'+ contactindex] =='01') or (data['contact-date-month-'+ contactindex] =='1') %} January {% endif%}
        {% if (data['contact-date-month-'+ contactindex] =='02') or (data['contact-date-month-'+ contactindex] =='2') %} February  {% endif%}
        {% if (data['contact-date-month-'+ contactindex] =='03') or (data['contact-date-month-'+ contactindex] =='3') %} March {% endif%}
        {% if (data['contact-date-month-'+ contactindex] =='04') or (data['contact-date-month-'+ contactindex] =='4') %} June {% endif%}
        {% if (data['contact-date-month-'+ contactindex] =='05') or (data['contact-date-month-'+ contactindex] =='5') %} May {% endif%}
        {% if (data['contact-date-month-'+ contactindex] =='06') or (data['contact-date-month-'+ contactindex] =='6') %} June {% endif%}
        {% if (data['contact-date-month-'+ contactindex] =='07') or (data['contact-date-month-'+ contactindex] =='7') %} July {% endif%}
        {% if (data['contact-date-month-'+ contactindex] =='08') or (data['contact-date-month-'+ contactindex] =='8') %} August {% endif%}
        {% if (data['contact-date-month-'+ contactindex] =='09') or (data['contact-date-month-'+ contactindex] =='9') %} September {% endif%}
        {% if data['contact-date-month-'+ contactindex] =='10' %} October {% endif%}
        {% if data['contact-date-month-'+ contactindex] =='11'%} November {% endif%}
        {% if data['contact-date-month-'+ contactindex] =='12' %} December {% endif%}
        {{ data['contact-date-year-'+ contactindex] }} {% endif %}


  {% if data['todays-date'+ contactindex]=='Yes'%}
        <script>
          // Get the current date and time
               var now = new Date();
               var date = now.toLocaleDateString('en-GB', { day: 'numeric', month: 'long', year: 'numeric' });
               var time = now.toLocaleTimeString('en-GB', { hour: 'numeric', minute: 'numeric', hour12: true });

               // Write the date and time to the HTML page
               document.write(date );
             </script>{% endif %},

{{data['contact-time-'+ contactindex ] | lower}}
      </dt>
      <div class="hmrc-list-with-actions__actions">
        <dd class="hmrc-list-with-actions__action">
          <a class="govuk-link"
          href="{% if data['_do_'+ contactindex]=='Email sent'%}/current/cases/{% if phase == "thomas"  %}thomas/cases/{% endif %}{% if phase == "sonya"  %}sonya/cases/{% endif %}contact/{{contactindex}}/email-log{% endif %}{% if data['_do_'+ contactindex]=='Text message (SMS) sent'%}/current/cases/{% if phase == "thomas"  %}thomas/cases/{% endif %}{% if phase == "sonya"  %}sonya/cases/{% endif %}contact/{{contactindex}}/sms-log{% endif %}{% if data['_do_'+ contactindex]=='Telephone call made'%}/current/cases/{% if phase == "thomas"  %}thomas/cases/{% endif %}{% if phase == "sonya"  %}sonya/cases/{% endif %}contact/{{contactindex}}/phone-log{% endif %}{% if data['_do_'+ contactindex]=='Telephone call received'%}/current/cases/{% if phase == "thomas"  %}thomas/cases/{% endif %}{% if phase == "sonya"  %}sonya/cases/{% endif %}contact/{{contactindex}}/phone-log{% endif %}">
            <span aria-hidden="true">View </span>
            <span class="govuk-visually-hidden"> {{data['_do_'+ contactindex]}}</span>
          </a>
        </dd>
      </div>
    </div>

{% endif %}
{%- endfor %}


  </dl>
  <form method="post" novalidate action="">


    <button class="govuk-button" data-module="govuk-button">
      Record {% if totalcontact == 0 %}{% else %}another{% endif %} contact made
    </button>
  </form>
{% if phase == "thomas"  %}
  <fieldset class="govuk-fieldset">
    <legend class="govuk-fieldset__legend govuk-fieldset__legend--m">
      <h2 class="govuk-fieldset__heading">
  Jane Doe has added 3 contacts
      </h2>
    </legend>
  </fieldset>
  <div class="govuk-form-group">
    <dl class="hmrc-list-with-actions hmrc-list-with-actions--short">








      <div class="hmrc-list-with-actions__item">
        <dt class="hmrc-list-with-actions__name">
        Telephone call made
        </dt>
        <dt class="hmrc-list-with-actions__name">

          16 February 2024, 9:30am
        </dt>
        <div class="hmrc-list-with-actions__actions">
          <dd class="hmrc-list-with-actions__action">
            <a class="govuk-link" href="/current/cases/thomas/cases/contact/1/phone-log-prefill">
              <span aria-hidden="true">View </span>
              <span class="govuk-visually-hidden"> Telephone call made</span>
            </a>
          </dd>
        </div>
      </div>




      <div class="hmrc-list-with-actions__item">
        <dt class="hmrc-list-with-actions__name">
        Text message (SMS) sent
        </dt>
        <dt class="hmrc-list-with-actions__name">

      16 February 2024, 10:14am
        </dt>
        <div class="hmrc-list-with-actions__actions">
          <dd class="hmrc-list-with-actions__action">
            <a class="govuk-link" href="/current/cases/thomas/cases/contact/1/sms-log-prefill">
              <span aria-hidden="true">View </span>
              <span class="govuk-visually-hidden"> Text message (SMS) sent</span>
            </a>
          </dd>
        </div>
      </div>




      <div class="hmrc-list-with-actions__item">
        <dt class="hmrc-list-with-actions__name">
        Email sent
        </dt>
        <dt class="hmrc-list-with-actions__name">

      12 February 2024, 11:11am
        </dt>
        <div class="hmrc-list-with-actions__actions">
          <dd class="hmrc-list-with-actions__action">
            <a class="govuk-link" href="/current/cases/thomas/cases/contact/1/email-log-prefill">
              <span aria-hidden="true">View </span>
              <span class="govuk-visually-hidden"> Email sent</span>
            </a>
          </dd>
        </div>
      </div>




    </dl>


  </div>{% endif %}
</div>








</div>




</div>     </div>



  <div class="govuk-tabs__panel govuk-tabs__panel--hidden" id="checks">
    {% if data['exceptions']=='No'  %}
    {% include  "../claim/notification.html" %}
    {% endif %}
  <!-- {% if data['wpa-4-weeks']=='Yes'%}
  <div class="govuk-notification-banner" role="region"
  aria-labelledby="govuk-notification-banner-title"
  data-module="govuk-notification-banner">
  <div class="govuk-notification-banner__header">
  <h2 class="govuk-notification-banner__title" id="govuk-notification-banner-title">
    Important
  </h2>
  </div>
  <div class="govuk-notification-banner__content">
  <p class="govuk-notification-banner__heading">
    You have 7 days left to send your application.
    <a class="govuk-notification-banner__link" href="#">View application</a>.
  </p>
  </div>
  </div>
  {% endif %}
    {% if data['wpa-pause']=='Yes'%}<div class="govuk-notification-banner" role="region"
  aria-labelledby="govuk-notification-banner-title"
  data-module="govuk-notification-banner">
  <div class="govuk-notification-banner__header">
    <h2 class="govuk-notification-banner__title" id="govuk-notification-banner-title">
      Important
    </h2>
  </div>
  <div class="govuk-notification-banner__content">
    <p class="govuk-notification-banner__heading">
      You have 7 days left to send your application.
      <a class="govuk-notification-banner__link" href="#">View application</a>.
    </p>  </div>
</div>{% endif %} -->
    <div class="govuk-grid-row">
        <div class="govuk-grid-column-two-thirds">
            <h2 class="govuk-heading-l">Checks</h2>

<p>You can <a href="./personal-details">update or edit personal details</a>.</p>
{% if case =='other-cases-fill-1' %}
  {% include  "./task-list-comp/task-list-george-searchlight.html" %}
{% endif %}
{% if case =='other-cases-fill-2' %}
  {% include  "./task-list-comp/task-list-george-searchlight.html" %}
{% endif %}

{% if case =='other-cases-fill-3' %}
  {% include  "./task-list-comp/task-list-george-searchlight.html" %}
{% endif %}

{% if case =='other-cases-fill-4' %}
  {% include  "./task-list-comp/task-list-george-searchlight.html" %}
{% endif %}

    {% if case =='other-cases' %}
      {% include  "./task-list-comp/task-list-sonya-searchlight.html" %}
    {% endif %}

    {% if case =='other-cases-2' %}
      {% include  "./task-list-comp/task-list-thomas-searchlight.html" %}
    {% endif %}

    {% if case =='other-cases-3' %}
      {% include  "./task-list-comp/task-list-thomas-searchlight.html" %}
    {% endif %}

    {% if case =='other-cases-4' %}
      {% include  "./task-list-comp/task-list-thomas-searchlight.html" %}
    {% endif %}

    {% if not case %}
    {% include  "./task-list-comp/task-list-dereck-searchlight.html" %}
    {% endif %}


  </div>     </div>









  <div class="govuk-tabs__panel govuk-tabs__panel--hidden" id="citizen-details">
    {% if data['exceptions']=='No'  %}
    {% include  "../claim/notification.html" %}
    {% endif %}
    <!-- {% if data['wpa-4-weeks']=='Yes'%}
    <div class="govuk-notification-banner" role="region"
    aria-labelledby="govuk-notification-banner-title"
    data-module="govuk-notification-banner">
    <div class="govuk-notification-banner__header">
    <h2 class="govuk-notification-banner__title" id="govuk-notification-banner-title">
      Important
    </h2>
    </div>
    <div class="govuk-notification-banner__content">
    <p class="govuk-notification-banner__heading">
      You have 7 days left to send your application.
      <a class="govuk-notification-banner__link" href="#">View application</a>.
    </p>
    </div>
    </div>
    {% endif %}
{% if data['wpa-pause']=='Yes'%}<div class="govuk-notification-banner" role="region"
  aria-labelledby="govuk-notification-banner-title"
  data-module="govuk-notification-banner">
  <div class="govuk-notification-banner__header">
    <h2 class="govuk-notification-banner__title" id="govuk-notification-banner-title">
      Important
    </h2>
  </div>
  <div class="govuk-notification-banner__content">
    <p class="govuk-notification-banner__heading">
      You have 7 days left to send your application.
      <a class="govuk-notification-banner__link" href="#">View application</a>.
    </p>
  </div>
</div>{% endif %} -->
{% if case =='other-cases-fill-1' %}
  {% include  "./task-list-george-application.html" %}{% endif %}
  {% if case =='other-cases-fill-2' %}
    {% include  "./paul/task-list-paul-application.html" %}{% endif %}
    {% if case =='other-cases-fill-3' %}
      {% include  "./anahi/task-list-anahi-application.html" %}{% endif %}
      {% if case =='other-cases-fill-4' %}
        {% include  "current/claim/kam/task-list-kam-application.html" %}{% endif %}

  {% if case =='other-cases' %}
    {% include  "./task-list-sonya-application.html" %}{% endif %}

    {% if case =='other-cases-2' %}
      {% include  "./task-list-thomas-application.html" %}{% endif %}

      {% if case =='other-cases-3' %}
        {% include  "./task-list-thomas-application.html" %}{% endif %}
        {% if case =='other-cases-4' %}
          {% include  "./task-list-arlo-application.html" %}{% endif %}

      {% if not case %}
{% include  "./task-list-dereck-application.html" %}    {% endif %}

  </div>  </div>  </div>



<div class="govuk-tabs__panel govuk-tabs__panel--hidden" id="wpa">
  {% if case =='other-cases-fill-1' %}
{% include  "./task-list-george-wpa-job.html" %}</div></div>{% endif %}
{% if case =='other-cases-fill-2' %}
{% include  "./task-list-george-wpa-job.html" %}</div></div>{% endif %}
{% if case =='other-cases-fill-3' %}
{% include  "./anahi/task-list-anahi-wpa-job.html" %}</div></div>{% endif %}
{% if case =='other-cases-fill-4' %}
{% include  "./task-list-george-wpa-job.html" %}</div></div>{% endif %}



  {% if case =='other-cases' %}
{% include  "./task-list-sonya-wpa-job.html" %}</div></div>{% endif %}

{% if case =='other-cases-2' %}
{% include  "./task-list-thomas-wpa-job.html" %}</div></div>{% endif %}

 {% if not case %}
{% include  "./task-list-dereck-wpa-job.html" %}</div></div>{% endif %}

{% if (data['another-wpa'] =='No' or data['another-wpa'] =='Yes' and data['report-2']) or (data['wpa'+ phase] =='No')
 %}



<p>Go to <a href="/current/cases/{% if phase %}{{phase}}/cases/{% endif %}claim#business-case">business case tab</a></p><br>
{% endif %}





</div>

<div class="govuk-tabs__panel govuk-tabs__panel--hidden" id="business-case">
  {% if data['exceptions']=='No'  %}
  {% include  "../claim/notification.html" %}
  {% endif %}
  <!-- {% if data['wpa-4-weeks']=='Yes'%}
  <div class="govuk-notification-banner" role="region"
  aria-labelledby="govuk-notification-banner-title"
  data-module="govuk-notification-banner">
  <div class="govuk-notification-banner__header">
  <h2 class="govuk-notification-banner__title" id="govuk-notification-banner-title">
    Important
  </h2>
  </div>
  <div class="govuk-notification-banner__content">
  <p class="govuk-notification-banner__heading">
    You have 7 days left to send your application.
    <a class="govuk-notification-banner__link" href="#">View application</a>.
  </p>
  </div>
  </div>
  {% endif %}
{% if data['wpa-pause']=='Yes'%}<div class="govuk-notification-banner" role="region"
  aria-labelledby="govuk-notification-banner-title"
  data-module="govuk-notification-banner">
  <div class="govuk-notification-banner__header">
    <h2 class="govuk-notification-banner__title" id="govuk-notification-banner-title">
      Important
    </h2>
  </div>
  <div class="govuk-notification-banner__content">
    <p class="govuk-notification-banner__heading">
      You have 7 days left to send your application.
      <a class="govuk-notification-banner__link" href="#">View application</a>.
    </p>
  </div>
</div>{% endif %} -->
{% if case =='other-cases-fill-1' %}
{% include  "./task-list-george-business-case.html" %}{% endif %}
{% if case =='other-cases-fill-2' %}
{% include  "./paul/task-list-paul-business-case.html" %}{% endif %}
{% if case =='other-cases-fill-3' %}
{% include  "./anahi/task-list-anahi-business-case.html" %}{% endif %}
{% if case =='other-cases-fill-4' %}
{% include  "./kam/task-list-kam-business-case.html" %}{% endif %}

  {% if case =='other-cases-2' %}
  {% include  "./task-list-thomas-business-case.html" %}{% endif %}

  {% if case =='other-cases-4' %}
  {% include  "./task-list-arlo-business-case.html" %}{% endif %}

  {% if case =='other-cases' %}
  {% include  "./task-list-sonya-business-case.html" %}{% endif %}

      {% if not case %}
  {% include  "./task-list-dereck-business-case.html" %}{% endif %}


</div>













{% endif %}
