<dl class="govuk-summary-list govuk-!-margin-bottom-9">
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">

            Health condition or disability

          </dt>
          <dd class="govuk-summary-list__value">

          {% if case =='other-cases' %}
          {% for case in data['other-cases'] %}
          {{ case.condition }}
          {% endfor %}
          {% endif %}

          {% if case =='other-cases-2' %}
          {% for case in data['other-cases-2'] %}
          {{ case.condition }}
          {% endfor %}
          {% endif %}

          {% if not case %}
          {% for case in data['priority-cases'] %}
          {{ case.condition }}
          {% endfor %}
          {% endif %}

          {% if case == 'other-cases-4'%}
          {% for case in data['other-cases-3'] %}
          {{ case.condition }}
          {% endfor %}
          {% endif %}

          {% if case =='other-cases-3' %}
          {% for case in data['other-cases-3'] %}
          {{ case.condition }}
          {% endfor %}
          {% endif %}
          </dd>

          <dd class="govuk-summary-list__actions">

          {% if  changeHide %}   <a href="#">
              Change
              <span class="govuk-visually-hidden"> What condition or disability do you have?</span>
            </a>{% endif %}

          </dd>
        </div>

      <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">

          How does your condition or disability affect you at work?

        </dt>
        <dd class="govuk-summary-list__value">
          {% if case =='other-cases' %}
          {% for case in data['other-cases'] %}
          {{ case.conditiondetails }}
          {% endfor %}
          {% endif %}

          {% if case =='other-cases-2' %}
          {% for case in data['other-cases-2'] %}
          {{ case.conditiondetails }}
          {% endfor %}
          {% endif %}

          {% if not case %}
          {% for case in data['priority-cases'] %}
          {{ case.conditiondetails }}
          {% endfor %}
          {% endif %}

          {% if case =='other-cases-3' %}
          {% for case in data['other-cases-3'] %}
          {{ case.conditiondetails }}
          {% endfor %}
          {% endif %}

          {% if case =='other-cases-4' %}
          {% for case in data['other-cases-4'] %}
          {{ case.conditiondetails }}
          {% endfor %}
          {% endif %}
          <br>
        </dd>

        <dd class="govuk-summary-list__actions">

        {% if  changeHide %}   <a href="#">
            Change
            <span class="govuk-visually-hidden"> How do your conditions or disabilities affect you at work?</span>
          </a>{% endif %}

        </dd>
      </div>
    </dl>
