{% if 'Job' in data['priority']%}
  <div class="govuk-inset-text">

There are no Job start cases to request right now.

<!-- There are no new application or renewal cases to request right now. -->
<!-- There are no new CSI cases to request right now. -->
<!-- There are no new documents available to request right now. -->
  </div>
{% endif %}

{% if 'Kickstart' in data['priority']%}
  <div class="govuk-inset-text">
There are no Kickstart cases to request right now.
  </div>
{% endif %}

{% if 'cev' in data['priority']%}
  <div class="govuk-inset-text">
There are no Clinically extremely vulnerable (CEV) cases to request right now.
  </div>
{% endif %}

{% if 'YPGS' in data['priority']%}
  <div class="govuk-inset-text">
There are no Young Person Guarantee Scotland (YPGS) cases to request right now.
  </div>
{% endif %}
