
<ul class="app-task-list__items">
<li class="app-task-list__item">
<span class="app-task-list__task-name">
<a href="decision/notification.html" aria-describedby="job-status">
  Send decision
</a>
</span>
{% if not data['']%}<strong class="govuk-tag govuk-tag--grey app-task-list__tag" id="list-convictions-status">Not started</strong>   {% endif %}
{% if data['']%}<strong class="govuk-tag govuk-tag--grey app-task-list__tag" id="list-convictions-status">In progress</strong>   {% endif %}

 </li>




</ul>
