
<ul class="app-task-list__items">
<li class="app-task-list__item">
<span class="app-task-list__task-name">
<a href="{%if data['notification']%}decision/check.html{% else %}decision/notification.html{% endif %}" aria-describedby="job-status">
  Send decision
</a>
</span>
{% if not data['notification']%}<strong class="govuk-tag govuk-tag--grey app-task-list__tag" id="list-convictions-status">Not started</strong>   {% endif %}
{% if data['notification']%}<strong class="govuk-tag app-task-list__tag" id="eligibility-status">Completed</strong>   {% endif %}

 </li>




</ul>
