
{% for case in data['priority-cases'] %}


{% if not totalcomplete %}
  {% set totalcomplete = 0 %}
  {% endif %}

  {% if not totaljob %}
    {% set totaljob = 0 %}
    {% endif %}


    {% for i in [1] -%}
     {% set contactindex = i %}
      {% if data['wpa']=='No'  %}
      {% set totaljob = totaljob + 1 %}
    {% endif %}
      {%- endfor %}

    {% for i in [1] -%}
     {% set contactindex = i %}
      {% if data['wpa']=='Yes' and data['others-wpa']  %}
      {% set totaljob = totaljob + 1 %}
    {% endif %}
      {%- endfor %}

{% for i in [1] -%}
 {% set contactindex = i %}
  {% if 'Completed and sent letter ATW01CL' in data['notification']
  %}
  {% set totalcomplete = totalcomplete + 1 %}
{% endif %}
  {%- endfor %}

  {% for i in [1] -%}
   {% set contactindex = i %}
    {% if  'Completed and sent letter ATW02EL' in data['notification']
    %}
    {% set totalcomplete = totalcomplete + 1 %}
  {% endif %}
    {%- endfor %}

    {% for i in [1] -%}
     {% set contactindex = i %}
      {% if  'Sent any attachments' in data['notification']
      %}
      {% set totalcomplete = totalcomplete + 1 %}
    {% endif %}
      {%- endfor %}

  {% for i in [1] -%}
   {% set contactindex = i %}
    {% if
    'Saved copy of letters and any attachments to Sharepoint' in data['notification']
    %}
    {% set totalcomplete = totalcomplete + 1 %}
  {% endif %}
    {%- endfor %}

<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
        <h2 class="govuk-heading-l">   Job details and workplace assessment</h2>

      <!-- <h2 class="govuk-heading-s govuk-!-margin-bottom-2">Tasks incomplete</h2>
      <p class="govuk-body govuk-!-margin-bottom-7">You have 9 sections to complete.</p> -->


{% if data['Searchligh']=='No'%}
<!-- <p >
<a href="{% if not data['_do_1']%}/current/cases/contact/1/how-do-you-want-to-contact{% else %}/current/cases/contact/contact-log{% endif %}" aria-describedby="contact-status">

Log contact with {% if data['appointee']=='Yes, I need to add an appointee'%}{{data['appointee-name']}}{% else %}Dereck Smith{% endif %}
</a>
</p> -->

<!-- <div class="govuk-inset-text">
<p>  You need to contact Dereck Smith.  </p>

</div> -->

<br>
{% else %}


{% if

data ['appointee']

%}


                {% else %}
                <div class="govuk-inset-text">You cannot contact {% if data['appointee']=='Yes, I need to add an appointee'%}{{data['appointee-name']}}{% else %}Dereck Smith{% endif %} before completing appointee task.</div>
        {% endif %}
        {% endif %}





      <ol class="app-task-list">

  {% if data['Searchligh'] and

    data ['sae-checksonya']
    and

    data ['appointee']
    and
    data ['benefits']
  %}
    {% include  "../claim/task-list-comp/_task-list-open-job-thomas.html" %}
  {% else %}


  <li>
    <h2 class="app-task-list__section">
  Job details
    </h2>
    <ul class="app-task-list__items">





            <li class="app-task-list__item">
              <span class="app-task-list__task-name">

            Add information about the employer

              </span>
              <strong class="govuk-tag govuk-tag--grey app-task-list__tag" id="list-convictions-status">Cannot start yet</strong>
            </li>


                      </ul>


{% endif %}


<li>
  <h2 class="app-task-list__section">
  Workplace assessment
  </h2>
  {% if data['employer-sizesonya'] and data['Searchligh']%}
    {% include  "../claim/task-list-comp/_task-list-open-wpa-thomas.html" %}
  {% else %}
  <ul class="app-task-list__items">
<li class="app-task-list__item">
  <span class="app-task-list__task-name">

      Confirm whether workplace assessment is needed

  </span>
<strong class="govuk-tag govuk-tag--grey app-task-list__tag" id="list-convictions-status">Cannot start yet</strong>            </li>



      </li>





          </ul>


{% endif %}

{% endfor %}
