
{% for case in data['priority-cases'] %}


{% if not totalcomplete %}
  {% set totalcomplete = 0 %}
  {% endif %}

  {% if not totaljob %}
    {% set totaljob = 0 %}
    {% endif %}


    {% for i in [1] -%}
     {% set contactindex = i %}
      {% if data['wpa']=='No'  %}
      {% set totaljob = totaljob + 1 %}
    {% endif %}
      {%- endfor %}

    {% for i in [1] -%}
     {% set contactindex = i %}
      {% if data['wpa']=='Yes' and data['others-wpa']  %}
      {% set totaljob = totaljob + 1 %}
    {% endif %}
      {%- endfor %}

{% for i in [1] -%}
 {% set contactindex = i %}
  {% if 'Completed and sent letter ATW01CL' in data['notification']
  %}
  {% set totalcomplete = totalcomplete + 1 %}
{% endif %}
  {%- endfor %}

  {% for i in [1] -%}
   {% set contactindex = i %}
    {% if  'Completed and sent letter ATW02EL' in data['notification']
    %}
    {% set totalcomplete = totalcomplete + 1 %}
  {% endif %}
    {%- endfor %}

    {% for i in [1] -%}
     {% set contactindex = i %}
      {% if  'Sent any attachments' in data['notification']
      %}
      {% set totalcomplete = totalcomplete + 1 %}
    {% endif %}
      {%- endfor %}

  {% for i in [1] -%}
   {% set contactindex = i %}
    {% if
    'Saved copy of letters and any attachments to Sharepoint' in data['notification']
    %}
    {% set totalcomplete = totalcomplete + 1 %}
  {% endif %}
    {%- endfor %}

<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
        <h2 class="govuk-heading-l"> Prepare business case</h2>

      <!-- <h2 class="govuk-heading-s govuk-!-margin-bottom-2">Tasks incomplete</h2>
      <p class="govuk-body govuk-!-margin-bottom-7">You have 9 sections to complete.</p> -->


{% if data['Searchligh']=='No'%}
<p >
<a href="{% if not data['_do_1']%}/current/cases/contact/1/how-do-you-want-to-contact{% else %}/current/cases/contact/contact-log{% endif %}" aria-describedby="contact-status">

Log contact with {% if data['appointee']=='Yes, I need to add an appointee'%}{{data['appointee-name']}}{% else %}Dereck Smith{% endif %}
</a>
</p>

<!-- <div class="govuk-inset-text">
<p>  You need to contact Dereck Smith.  </p>

</div> -->

<br>
{% else %}


{% if

data ['appointee']

%}


                {% else %}
                <div class="govuk-inset-text">You cannot contact {% if data['appointee']=='Yes, I need to add an appointee'%}{{data['appointee-name']}}{% else %}Dereck Smith{% endif %} before completing appointee task.</div>
        {% endif %}
        {% endif %}





      <ol class="app-task-list">

  {% if data['Searchligh'] and

    data ['condition-check']
    and
    data ['job-deatils-check']

    and
    data ['appointee']
    and
    data ['benefits']
  %}
    {% include  "../claim/task-list-comp/_task-list-open-dereck.html" %}
  {% else %}


  <li>
    <h2 class="app-task-list__section">
      <span class="app-task-list__section-number">3. </span> Workplace assessment and job details
    </h2>
    <ul class="app-task-list__items">
  <li class="app-task-list__item">
    <span class="app-task-list__task-name">

        Confirm whether workplace assessment is needed

    </span>
<strong class="govuk-tag govuk-tag--grey app-task-list__tag" id="list-convictions-status">Cannot start yet</strong>            </li>



        </li>

        <li>


            <li class="app-task-list__item">
              <span class="app-task-list__task-name">

            Add information about the employer

              </span>
              <strong class="govuk-tag govuk-tag--grey app-task-list__tag" id="list-convictions-status">Cannot start yet</strong>
            </li>




{% endif %}



          </ul>
        </li>

        <h2 class="app-task-list__section">
      Element
        </h2>



        {% if not elementAdd %}
          {% set elementAdd = 0 %}
          {% endif %}

  {% if data['wpa']=='Yes'%}
        {% for i in [1] -%}
         {% set contactindex = i %}
          {% if data['report'] %}
          {% set elementAdd = elementAdd + 1 %}
        {% endif %}
          {%- endfor %}
  {% endif %}
  {% if data['wpa']=='No'%}
        {% for i in [1] -%}
         {% set contactindex = i %}
          {% if data['employer-size'] %}
          {% set elementAdd = elementAdd + 1 %}
        {% endif %}
          {%- endfor %}
  {% endif %}



<form class="" action="/current/cases/workplace-assesment/wpa-report/support" method="post" >
  <button class="govuk-button govuk-button--secondary" data-module="govuk-button">
    Add new elements
  </button>
</form>






    <ul class="app-task-list__items">
        {% if 'Specialist equipment' in data['elements']%}
        <li class="app-task-list__item">
          <span class="app-task-list__task-name">
         <a href="{% if data['sae-add']%}./check-application/sae/details/add{% else %}./check-application/sae/details/1/type{% endif %}" aria-describedby="read-declaration-status">
               Specialist equipment: add or change support
           </a>
          </span>
          {% if data['sae-add']=='No'%}<strong class="govuk-tag app-task-list__tag" id="eligibility-status">Completed</strong>{% endif %}
          {% if data['sae-add']=='Yes'%}  <strong class="govuk-tag govuk-tag--grey app-task-list__tag" id="list-convictions-status">in progress</strong>{% endif %}
          {% if not data['sae-add']%}  <strong class="govuk-tag govuk-tag--blue app-task-list__tag" id="grant-matches-claim-status">Not started</strong>{% endif %}
        </li>





        {% endif %}






  {% if 'Mental health support' in data['elements']%}
  <li class="app-task-list__item">
    <span class="app-task-list__task-name">
   <a href="{% if data['mhss-support']%}./check-application/mhss/details/check{% else %}./check-application/mhss/details/mental-health-support{% endif %}" aria-describedby="read-declaration-status">
        Mental health support: add or change support
     </a>
    </span>
    {% if data['mhss-support']=='Yes'%}
<strong class="govuk-tag app-task-list__tag" id="eligibility-status">Completed</strong>{% endif %}
    {% if data['mhss-support']=='No'%}<strong class="govuk-tag app-task-list__tag" id="eligibility-status">Completed</strong>{% endif %}
    {% if data['mhss-support']=='I am waiting for an answer'%}  <strong class="govuk-tag govuk-tag--grey app-task-list__tag" id="list-convictions-status">in progress</strong>{% endif %}
    {% if data['mhss-support']=='I have not discussed it with Dereck Smith yet'%}  <strong class="govuk-tag govuk-tag--grey app-task-list__tag" id="list-convictions-status">Contact needed</strong>{% endif %}

    {% if not data['mhss-support']%}  <strong class="govuk-tag govuk-tag--blue app-task-list__tag" id="grant-matches-claim-status">Not started</strong>{% endif %}
  </li>
  {% endif %}


    {% if 'Support worker' in data['elements']%}
 <li class="app-task-list__item">
    <span class="app-task-list__task-name">
   <a href="{% if data['sw-add']%}./check-application/support-worker/details/add{% else %}./check-application/support-worker/details/type{% endif %}" aria-describedby="read-declaration-status">
         Support worker: add or change support
     </a>
    </span>
    {% if data['sw-add']=='No'%}<strong class="govuk-tag app-task-list__tag" id="eligibility-status">Completed</strong>{% endif %}
    {% if data['sw-add']=='Yes'%}  <strong class="govuk-tag govuk-tag--grey app-task-list__tag" id="list-convictions-status">in progress</strong>{% endif %}
    {% if not data['sw-type']%}  <strong class="govuk-tag govuk-tag--blue app-task-list__tag" id="grant-matches-claim-status">Not started</strong>{% endif %}
  </li>
{% endif %}





</ul>


      {% if data['sae-add']=='No'%}
            <h2 class="govuk-heading--m">Award is under approval limits</h2>

            <p>You do not need to send this award to anyone else for approval. </p>

          <br>
      {% endif %}



        <li>
          <h2 class="app-task-list__section">
 Award decision
          </h2>
          {% if data['sae-add']=='No'%}
            {% include  "../claim/task-list-comp/_task-list-decision-dereck.html" %}
          {% else %}
          <ul class="app-task-list__items">
            <li class="app-task-list__item">
              <span class="app-task-list__task-name">
                Review and  confirm award summary
              </span>
              <strong class="govuk-tag govuk-tag--grey app-task-list__tag" id="submit-pay-status">Cannot start yet</strong>
            </li>
            <li class="app-task-list__item">
              <span class="app-task-list__task-name">
                Decision letters
              </span>
              <strong class="govuk-tag govuk-tag--grey app-task-list__tag" id="submit-pay-status">Cannot start yet</strong>
            </li>
          {% endif %}


        </li>
      </ol>
      {% if data['wpa']=='No'%}
    {% if totalcomplete > 2 and
    data['award']%}
<form action="/current/cases/complete/ons" method="post" novalidate>
       <button class="govuk-button" data-module="govuk-button">
      Confirm award
      </button>{% endif %}
{% endif %}

{% if data['wpa']=='Yes'%}
{% if totalcomplete == 4 and
data['award']%}
<form action="/current/cases/complete/ons" method="post" novalidate>
 <button class="govuk-button" data-module="govuk-button">
  Confirm award
</button>{% endif %}
{% endif %}

{% endfor %}
