{% set case = "dereck" %}
{% set page = "claim" %}
{% set claim = "true" %}
{% set title = "Case details" %}

{% if not number or (number == 'undefined') %}
{% set number = 1 %}
{% endif %}

{% extends   "payments/sprint-51/claim/_CSIBASE.html" %}

{% block csi %}

<a href="javascript:history.go(-1)" class="govuk-back-link">Back </a>


<form action="/payments/sprint-51/cases/{{case}}/cases/contact/{{number}}/other" method="post" novalidate>



<!-- <form action="
{% if data['clear']=='No' %}/payments/sprint-51/cases/dereck/claim-dereck#contact-log{% else %}
{% if data ['Searchligh']=='No' or
data ['Searchligh']=='Yes, but name, date of birth or address do not match' or
data ['found-nino']=='No' or
data ['exceptions']=='I need to contact Dereck Smith about their benefits' or
data ['job-deatils-contact']=='No, I have not spoken to them' %}/payments/sprint-51/cases/dereck/cases/contact{{number}}/notification-need{% else %}payments/sprint-51/cases/{% if case == "john"  %}john/cases/{% endif %}{% if case == "dereck"  %}dereck/cases/{% endif %}{% if case == "sonya"  %}sonya/cases/{% endif %}claim#contact{% endif %}{% endif %}" method="post" novalidate> -->


  <div class="govuk-width-container">


    <main class="govuk-main-wrapper">

      <div class="govuk-grid-row">
        <div class="govuk-grid-column-two-thirds">


              <h1 class="govuk-heading-xl">Email sent</h1>





              <div class="govuk-form-group">
                          <fieldset class="govuk-fieldset">
                            <legend class="govuk-fieldset__legend govuk-fieldset__legend--m">
                              <h2 class="govuk-fieldset__heading">
                        Who did you email?
                              </h2>
                            </legend>
                            <div class="govuk-radios" data-module="govuk-radios">
                              <div class="govuk-radios__item">
                                <input class="govuk-radios__input" id="email-sent-who" name="email-sent-who" type="radio" value="Dereck Smith">
                                <label class="govuk-label govuk-radios__label" for="email-sent-who">
                                  Dereck Smith
                                </label>
                              </div>

                              <div class="govuk-radios__item">
                                <input class="govuk-radios__input" id="email-sent-who-2" name="email-sent-who" type="radio" value="Employer">
                                <label class="govuk-label govuk-radios__label" for="email-sent-who-2">
                                  Employer
                                </label>
                              </div>

                              <div class="govuk-radios__item">
                                <input class="govuk-radios__input" id="email-sent-who-3" name="email-sent-who" type="radio" value="Supplier">
                                <label class="govuk-label govuk-radios__label" for="email-sent-who-3">
                                  Supplier
                                </label>
                              </div>


                            </div>
                          </fieldset>
                        </div>

                        <div class="govuk-form-group">
                          <fieldset class="govuk-fieldset" aria-describedby="contact-why-hint">
                            <legend class="govuk-fieldset__legend govuk-fieldset__legend--m">
                              <h2 class="govuk-fieldset__heading">
                          What did you email them about?
                              </h2>
                            </legend>
                            <div id="contact-why-hint" class="govuk-hint">
                              Select all that apply.
                            </div>
                            <div class="govuk-checkboxes" data-module="govuk-checkboxes">
                              <div class="govuk-checkboxes__item">
                                <input class="govuk-checkboxes__input" id="contact-why" name="contact-why" type="checkbox" value="Payment issues">
                                <label class="govuk-label govuk-checkboxes__label" for="contact-why">
                                Payment issues
                                </label>
                              </div>
                              <div class="govuk-checkboxes__item">
                                <input class="govuk-checkboxes__input" id="contact-why-2" name="contact-why" type="checkbox" value="Claim status">
                                <label class="govuk-label govuk-checkboxes__label" for="contact-why-2">
                                Claim status
                                </label>
                              </div>
                              <div class="govuk-checkboxes__item">
                                <input class="govuk-checkboxes__input" id="contact-why-2" name="contact-why" type="checkbox" value="Replacement document">
                                <label class="govuk-label govuk-checkboxes__label" for="contact-why-2">
                          Replacement document
                                </label>
                              </div>
                              <div class="govuk-checkboxes__item">
                                <input class="govuk-checkboxes__input" id="contact-why-3" name="contact-why" type="checkbox" value="Payment status">
                                <label class="govuk-label govuk-checkboxes__label" for="contact-why-3">
                                Payment status
                                </label>
                              </div>

                              <div class="govuk-checkboxes__item">
                                <input class="govuk-checkboxes__input" id="contact-why-4" name="contact-why" type="checkbox" value="Personal details">
                                <label class="govuk-label govuk-checkboxes__label" for="contact-why-4">
                                Personal details
                                </label>
                              </div>
                              <div class="govuk-checkboxes__item">
                                <input class="govuk-checkboxes__input" id="contact-why-5" name="contact-why" type="checkbox" value="Employer information ">
                                <label class="govuk-label govuk-checkboxes__label" for="contact-why-5">
                                 Employer information 
                                </label>
                              </div>
                              <div class="govuk-checkboxes__item">
                                <input class="govuk-checkboxes__input" id="contact-why-6" name="contact-why" type="checkbox" value="Employment details">
                                <label class="govuk-label govuk-checkboxes__label" for="contact-why-6">
                                Employment details
                                </label>
                              </div>
                              <div class="govuk-checkboxes__item">
                                <input class="govuk-checkboxes__input" id="contact-why-7" name="contact-why" type="checkbox" value="Employer threshold">
                                <label class="govuk-label govuk-checkboxes__label" for="contact-why-7">
                                Employer threshold
                                </label>
                              </div>
                              <div class="govuk-checkboxes__item">
                                <input class="govuk-checkboxes__input" id="contact-why-8" name="contact-why" type="checkbox" value="Cost share">
                                <label class="govuk-label govuk-checkboxes__label" for="contact-why-8">
                                Cost share
                                </label>
                              </div>
                              <div class="govuk-checkboxes__divider">or</div>
                              <div class="govuk-checkboxes__item">
                                <input class="govuk-checkboxes__input" id="contact-why-9" name="contact-why" type="checkbox" value="Other">
                                <label class="govuk-label govuk-checkboxes__label" for="contact-why-9">
                            Other
                                </label>
                              </div>



                            </div>
                          </fieldset>
                        </div>

<!--
{% if data['clear']=='No' %}{% else %}
  {% include  "sprint-51/claim/notification-contact.html" %}{% endif %} -->






<div class="govuk-inset-text">
Once saved, details cannot be changed.
  </div>

           <button class="govuk-button" data-module="govuk-button" name="contact-phone" value="completed">
          Confirm and save
          </button>


          </form>


          </div>
          </div>


</div>

        </main>
        </div>



{% endblock %}
