{% set case = "dereck" %}
{% set page = "claim" %}
{% set claim = "true" %}
{% set title = "Case details" %}

{% if not number or (number == 'undefined') %}
{% set number = 1 %}
{% endif %}

{% extends   "payments/sprint-51/claim/_CSIBASE.html" %}

{% block csi %}
<br>




<form action="" method="post" novalidate>


  <div class="govuk-width-container">


    <main class="govuk-main-wrapper">

      <div class="govuk-grid-row">
        <div class="govuk-grid-column-two-thirds">


              <h1 class="govuk-heading-xl">Telephone call made</h1>





              <div class="govuk-form-group">
                          <fieldset class="govuk-fieldset">
                            <legend class="govuk-fieldset__legend govuk-fieldset__legend--m">
                              <h2 class="govuk-fieldset__heading">
                        Who did you call?
                              </h2>
                            </legend>
                            <div class="govuk-radios" data-module="govuk-radios">
                              <div class="govuk-radios__item">
                                <input class="govuk-radios__input" id="contact-who" name="contact-who" type="radio" value="{% if case == "thomas"  %}Thomas King{% endif %}{% if case == "sonya"  %}Sonya Corkery{% endif %}{% if not case %}Dereck Smith{% endif %}">
                                <label class="govuk-label govuk-radios__label" for="where-do-you-live">
                                  {% if case == "arlo"  %}Arlo Spinka{% endif %}{% if case == "john"  %}John Smith{% endif %}  {% if case == "thomas"  %}Thomas King{% endif %}{% if case == "sonya"  %}Sonya Corkery{% endif %}{% if case == "dereck" %}Dereck Smith{% endif %}
                              </div>
                              <div class="govuk-radios__item">
                                <input class="govuk-radios__input" id="contact-who-2" name="contact-who" type="radio" value="Employer">
                                <label class="govuk-label govuk-radios__label" for="contact-who-2">
                                Employer
                                </label>
                              </div>

                              <div class="govuk-radios__item">
                                <input class="govuk-radios__input" id="where-do-you-live-3" name="where-do-you-live" type="radio" value="Supplier">
                                <label class="govuk-label govuk-radios__label" for="where-do-you-live-3">
                                  Supplier
                                </label>
                              </div>

                              <div class="govuk-radios__item">
                                <input class="govuk-radios__input" id="contact-who-4" name="contact-who" type="radio" value="Someone else">
                                <label class="govuk-label govuk-radios__label" for="where-do-you-live-4">
                                Someone else
                                </label>
                              </div>
                            </div>
                          </fieldset>
                        </div>

                        <div class="govuk-form-group">
                                    <fieldset class="govuk-fieldset">
                                      <legend class="govuk-fieldset__legend govuk-fieldset__legend--m">
                                        <h2 class="govuk-fieldset__heading">
                                Was the call answered?
                                        </h2>
                                      </legend>
                                      <div class="govuk-radios govuk-radios--inline" data-module="govuk-radios">
                                        <div class="govuk-radios__item">
                                          <input class="govuk-radios__input" id="asked-info-phone-" name="asked-info-phone-{{number}}" type="radio" value="Yes~id">
                                          <label class="govuk-label govuk-radios__label" for="contact-who">
                                      Yes
                                          </label>
                                        </div>
                                        <div class="govuk-radios__item">
                                          <input class="govuk-radios__input" id="contact-who-2" name="asked-info-phone-{{number}}" type="radio" value="No~phone-made-about">
                                          <label class="govuk-label govuk-radios__label" for="contact-who-2">
                                            No
                                          </label>
                                        </div>

                                      </div>
                                    </fieldset>
                                  </div>



{% if data['clear']=='No' %}{% else %}
  {% include  "sprint-51/claim/notification-contact.html" %}{% endif %}






<div class="govuk-inset-text">
Once saved, details cannot be changed.
  </div>

           <button class="govuk-button" data-module="govuk-button" name="contact-phone" value="completed">
          Confirm and save
          </button>


          </form>


        </div>        </div>



{% endblock %}
