.bryant-container {
	margin-bottom: 1em;
}
.bryant-sidebar {
	width: 23.4%; float: left; min-height: 1px;
}
.bryant-sidebar-inner {
	margin-right: 20px;
}
.bryant-content {
	width: 76.59%; float: left;
}
@media only screen and (max-width:480px)
{
.bryant-sidebar {
	width: 100%; float: none;
}
.bryant-content {
	width: 100%; float: none;
}
.bryant-sidebar-inner {
	margin-right: 0px;
}
}
