span.ext {
	background: url("extlink_s.png") no-repeat 2px; width: 10px; height: 10px; padding-right: 12px; text-decoration: none;
}
span.mailto {
	background: url("extlink_s.png") no-repeat -20px; width: 10px; height: 10px; padding-right: 12px; text-decoration: none;
}
@media print
{
span.ext {
	padding: 0px; display: none;
}
span.mailto {
	padding: 0px; display: none;
}
}
