h1 {
	font-family: Arial, FreeSans, sans-serif;
}
h2 {
	font-family: Arial, FreeSans, sans-serif;
}
h3 {
	font-family: Arial, FreeSans, sans-serif;
}
h4 {
	font-family: Arial, FreeSans, sans-serif;
}
h5 {
	font-family: Arial, FreeSans, sans-serif;
}
h6 {
	font-family: Arial, FreeSans, sans-serif;
}
body.html {
	font-family: Arial, FreeSans, sans-serif;
}
