.poll {
	overflow: hidden;
}
.poll .bar {
	margin: 1px 0px; height: 1em; background-color: rgb(221, 221, 221);
}
.poll .bar .foreground {
	height: 1em; float: left; background-color: rgb(0, 0, 0);
}
.poll .links {
	text-align: center;
}
.poll .percent {
	text-align: right;
}
.poll .total {
	text-align: center;
}
.poll .vote-form {
	text-align: center;
}
.poll .vote-form .choices {
	margin: 0px auto; text-align: left; display: table;
}
.poll .vote-form .choices .title {
	font-weight: bold;
}
.node-form #edit-poll-more {
	margin: 0px;
}
.node-form #poll-choice-table .form-text {
	width: auto; display: inline;
}
.node-form #poll-choice-table td.choice-flag {
	width: 4em; white-space: nowrap;
}
td.poll-chtext {
	width: 80%;
}
td.poll-chvotes .form-text {
	width: 85%;
}
