.views-exposed-form .views-exposed-widget {
	padding: 0.5em 1em 0px 0px; float: left;
}
.views-exposed-form .views-exposed-widget .form-submit {
	margin-top: 1.6em;
}
.views-exposed-form .form-item {
	margin-top: 0px; margin-bottom: 0px;
}
.views-exposed-form .form-submit {
	margin-top: 0px; margin-bottom: 0px;
}
.views-exposed-form label {
	font-weight: bold;
}
.views-exposed-widgets {
	margin-bottom: 0.5em;
}
.views-align-left {
	text-align: left;
}
.views-align-right {
	text-align: right;
}
.views-align-center {
	text-align: center;
}
.views-view-grid tbody {
	border-top-color: currentColor; border-top-width: medium; border-top-style: none;
}
.view .progress-disabled {
	float: none;
}
