{% set page = "claim" %}
{% set claim = "true" %}
{% set title = "Case details" %}

{% extends folder + "/claim/_CSIBASE.html" %}

{% block csi %}
<br>


<div class="govuk-grid-row">
      <div class="govuk-grid-column-two-thirds">
        <form action="../cases/claim#citizen-details" method="post" novalidate>
          <div class="govuk-form-group">
            <fieldset class="govuk-fieldset" role="group" aria-describedby="dob-hint">
              <legend class="govuk-fieldset__legend govuk-fieldset__legend--l">
                <h1 class="govuk-fieldset__heading">
                How do you want to be contacted?
                </h1>
              </legend>
              <div id="dob-hint" class="govuk-hint">

              </div>
            <div class="govuk-form-group">
              <div class="govuk-form-group">

                <div id="waste-hint" class="govuk-hint">
                      Select all that apply.
                    </div>
                    <div class="govuk-checkboxes" data-module="govuk-checkboxes">
                      <div class="govuk-checkboxes__item">
                        <input class="govuk-checkboxes__input" id="waste" name="waste" type="checkbox" value="carcasses">
                        <label class="govuk-label govuk-checkboxes__label" for="waste">
                          Email
                        </label>
                      </div>
                      <div class="govuk-checkboxes__item">
                        <input class="govuk-checkboxes__input" id="waste-2" name="waste" type="checkbox" value="mines">
                        <label class="govuk-label govuk-checkboxes__label" for="waste-2">
                          Telephone
                        </label>
                      </div>

                    </div> </fieldset>




          <button class="govuk-button" data-module="govuk-button">
            Save and continue
          </button>
        </form>
      </div>
    </div>


{% endblock %}
