{% set page = "claim" %}
{% set claim = "true" %}
{% set title = "Case details" %}

{% extends folder + "/claim/_CSIBASE.html" %}

{% block csi %}

<form action="" method="post" novalidate>
<div class="govuk-width-container">


  <main class="govuk-main-wrapper " id="main-content" role="main">
    <div class="govuk-grid-row">
      <div class="govuk-grid-column-two-thirds">

        <div class="govuk-form-group">
<fieldset class="govuk-fieldset" aria-describedby="temp-perm-1-hint">
  <legend class="govuk-fieldset__legend govuk-fieldset__legend--l">
    <h1 class="govuk-fieldset__heading">
Is this support worker needed on a temporary basis?  </h1>
  </legend>
  <div class="govuk-inset-text">
{{ data['sw-type']}}
  </div>
  <div class="govuk-radios govuk-radios--inline" data-module="govuk-radios">
    <div class="govuk-radios__item">
      <input class="govuk-radios__input" id="temp-perm-1" name="temp-perm-1" type="radio" value="true~temp-weeks">
      <label class="govuk-label govuk-radios__label" for="temp-perm-1">
        Yes
      </label>
    </div>
    <div class="govuk-radios__item">
      <input class="govuk-radios__input" id="temp-perm-1-2" name="temp-perm-1" type="radio" value="false~selected-quote">
      <label class="govuk-label govuk-radios__label" for="temp-perm-1-2">
        No
      </label>
    </div>
  </div>

</fieldset>
</div>
                   <button class="govuk-button" data-module="govuk-button">
                   Save and continue
                   </button>

                   </form>


                   </main>
                 </div>


               {% endblock %}
