{% set page = "claim" %}
{% set claim = "true" %}
{% set title = "Case details" %}

{% extends folder + "/claim/_CSIBASE.html" %}

{% block csi %}
<br>

<div class="govuk-width-container">


  <main class="govuk-main-wrapper " id="main-content" role="main">
    <div class="govuk-grid-row">
      <div class="govuk-grid-column-two-thirds">
      <h2 class="govuk-heading-l">

                    Employment</h2>

        <form action="" method="post" novalidate>








        <h3 class="govuk-heading-m">Employment details</h3>



  {% include "future/claim/_job-details.html"%}








<div class="govuk-form-group">
            <fieldset class="govuk-fieldset">
              <legend class="govuk-fieldset__legend govuk-fieldset__legend--m">

Have you contacted Jane Doe at DWP Digital?

              </legend>
              <div class="govuk-radios govuk-radios--inline " data-module="govuk-radios">
                <div class="govuk-radios__item govuk-radios--inline">
                  <input class="govuk-radios__input" id="job-deatils-contact" name="job-deatils-contact" type="radio" value="They gave permission~/future/cases/contact-employer/contact-employment" {{ checked("job-deatils-contact", "They gave permission") }}>
                  <label class="govuk-label govuk-radios__label" for="job-deatils-contact">
                    Yes
                  </label>
                </div>
                <div class="govuk-radios__item">
                  <input class="govuk-radios__input" id="job-deatils-contact-2" name="job-deatils-contact" type="radio" value="They did not give permission~/future/cases/contact-employer/unhappy-cost-share" {{ checked("job-deatils-contact", "They did not give permission") }}>
                  <label class="govuk-label govuk-radios__label" for="job-deatils-contact-2">
                    No
                  </label>
                </div>

              </div>

            </fieldset>
    </div>
            <button class="govuk-button" data-module="govuk-button">
              Save and continue
            </button>

          </form>
        </div>
      </div>
    </main>
  </div>


{% endblock %}
