{% set page = "claim" %}
{% set claim = "true" %}
{% set title = "Case details" %}
{% set view = "tab" %}

{% extends   "payments/current/claim/_CSIBASE-no-footer.html" %}



{% block csi %}




<!-- <form action="/cases/claim/task-list" method="post" novalidate> -->
<form action="/payments/current/cases/dereck/cases/whitemail/whitemail-type-tab#document-details" method="post" novalidate>



  <div class="govuk-width-container">
    <main class="govuk-main-wrapper">
      <div class="govuk-grid-row">
        <div class="govuk-grid-column-two-thirds">

<div class="govuk-form-group">

  <fieldset class="govuk-fieldset">

  <legend class="govuk-fieldset__legend govuk-fieldset__legend--l">
    <!-- <span class="govuk-caption-xl">Invoice 1</span> -->
    <h1 class="govuk-fieldset__heading">
      Do you want to remove this document?
    </h1>
    <p>If you need it later, you will have to add it again.</p>
  </legend>
  <div class="govuk-radios" data-module="govuk-radios">
        <div class="govuk-radios__item">
          <input class="govuk-radios__input" id="remove-whitemail" name="remove-whitemail" type="radio" value="Yes" {{ checked("remove-whitemail", "Yes") }}>
          <label class="govuk-label govuk-radios__label" for="remove-whitemail">
            Yes
          </label>
        </div>
        <div class="govuk-radios__item">
          <input class="govuk-radios__input" id="remove-whitemail-2" name="remove-whitemail" type="radio" value="No~/payments/current/cases/dereck/cases/whitemail/view-claim-details-tab#claim-details" {{ checked("remove-whitemail", "No") }}>
          <label class="govuk-label govuk-radios__label" for="remove-whitemail-2">
            No
          </label>
        </div>
      </div>

      </fieldset>
    </div>


    <input type="hidden" id="whitemail-removed" name="whitemail-removed" value="Yes">

               <button class="govuk-button" data-module="govuk-button">
             Save and continue
           </button>
         </form>
       </div>
     </div>


        </main>
        </div>







{% endblock %}
