{% set page = "claim" %}
{% set claim = "true" %}
{% set title = "Case details" %}
{% set view = "tab" %}

{% extends   "payments/current/claim/_CSIBASE-no-footer.html" %}



{% block csi %}




<form action="/cases/claim/task-list" method="post" novalidate>
<!-- <form action="/payments/current/cases/dereck/cases/whitemail/whitemail-name-tab#document-details" method="post" novalidate> -->


  <div class="govuk-width-container">
    <main class="govuk-main-wrapper">
      <div class="govuk-grid-row">
        <div class="govuk-grid-column-two-thirds">

<div class="govuk-form-group">

  <fieldset class="govuk-fieldset">

  <legend class="govuk-fieldset__legend govuk-fieldset__legend--l">
    <!-- <span class="govuk-caption-xl">Invoice 1</span> -->
    <h1 class="govuk-fieldset__heading">
      What type of document is it?

    </h1>
  </legend>
  <div class="govuk-radios" data-module="govuk-radios">
        <div class="govuk-radios__item">
          <input class="govuk-radios__input" id="whitemail-type" name="whitemail-type" type="radio" value="Invoice~/payments/current/cases/{{case}}/cases/whitemail/whitemail-name-tab#document-details" {{ checked("whitemail-type", "Invoice") }}>
          <label class="govuk-label govuk-radios__label" for="whitemail-type">
            Invoice
          </label>
        </div>
        <div class="govuk-radios__item">
          <input class="govuk-radios__input" id="whitemail-type-2" name="whitemail-type" type="radio" value="Claim~/payments/current/cases/{{case}}/cases/whitemail/whitemail-date-tab#document-details" {{ checked("whitemail-type", "Claim") }}>
          <label class="govuk-label govuk-radios__label" for="whitemail-type-2">
            Claim
          </label>
        </div>
        <div class="govuk-radios__divider">or</div>
        <div class="govuk-radios__item">
          <input class="govuk-radios__input" id="whitemail-type-3" name="whitemail-type" type="radio" value="Other~/payments/current/cases/{{case}}/cases/whitemail/whitemail-name-tab#document-details" {{ checked("whitemail-type", "Other") }}>
          <label class="govuk-label govuk-radios__label" for="whitemail-type-3">
            Other
          </label>
        </div>
      </div>

      </fieldset>
    </div>



               <button class="govuk-button" data-module="govuk-button">
             Save and continue
           </button>
         </form>
       </div>
     </div>


        </main>
        </div>







{% endblock %}
