{% set page = "claim" %}
{% set claim = "true" %}
{% set title = "Case details" %}
{% set view = "tab" %}

{% extends   "payments/current/claim/_CSIBASE-no-footer.html" %}



{% block csi %}




<!-- <form action="/cases/claim/task-list" method="post" novalidate> -->
{% if 'Email' in data ['whitemail-origin']%}
<form action="/payments/current/cases/dereck/cases/whitemail/whitemail-saved-location-tab#document-details" method="post" novalidate>
{% else %}
<form action="/payments/current/cases/dereck/cases/whitemail/whitemail-id-tab#document-details" method="post" novalidate>
{% endif %}



  <div class="govuk-width-container">
    <main class="govuk-main-wrapper">
      <div class="govuk-grid-row">
        <div class="govuk-grid-column-two-thirds">

<div class="govuk-form-group">

  <fieldset class="govuk-fieldset">

  <legend class="govuk-fieldset__legend govuk-fieldset__legend--l">
    <span class="govuk-caption-xl">
      {% if data['whitemail-name']%} {{data ['whitemail-name'] }}{% endif %}</span>
    <h1 class="govuk-fieldset__heading">
{% if 'Whitemail' in data ['whitemail-origin']%}
      Date document was scanned
{% else %}
      Date document was received
{% endif %}

    </h1>
  </legend>
  <div id="whitemail-hint" class="govuk-hint">
        For example, 27 3 2007
      </div>
      <div class="govuk-date-input" id="whitemail">
        <div class="govuk-date-input__item">
          <div class="govuk-form-group">
            <label class="govuk-label govuk-date-input__label" for="whitemail-day">
              Day
            </label>
            <input class="govuk-input govuk-date-input__input govuk-input--width-2" id="whitemail-day" name="whitemail-day" type="text" inputmode="numeric">
          </div>
        </div>
        <div class="govuk-date-input__item">
          <div class="govuk-form-group">
            <label class="govuk-label govuk-date-input__label" for="whitemail-month">
              Month
            </label>
            <input class="govuk-input govuk-date-input__input govuk-input--width-2" id="whitemail-month" name="whitemail-month" type="text" inputmode="numeric">
          </div>
        </div>
        <div class="govuk-date-input__item">
          <div class="govuk-form-group">
            <label class="govuk-label govuk-date-input__label" for="whitemail-year">
              Year
            </label>
            <input class="govuk-input govuk-date-input__input govuk-input--width-4" id="whitemail-year" name="whitemail-year" type="text" inputmode="numeric">
          </div>
        </div>
      </div>
    </fieldset>    </div>



               <button class="govuk-button" data-module="govuk-button">
             Save and continue
           </button>
         </form>
       </div>
     </div>


        </main>
        </div>







{% endblock %}
