{% set page = "claim" %}
{% set claim = "true" %}
{% set title = "Case details" %}

{% extends folder + "/claim/_CSIBASE.html" %}

{% block csi %}
<br>

<div class="govuk-width-container">


  <main class="govuk-main-wrapper " id="main-content" role="main">
    <div class="govuk-grid-row">
      <div class="govuk-grid-column-two-thirds">
      <h1 class="govuk-heading-l">

            Personal detail</h1>
            <dl class="govuk-summary-list govuk-!-margin-bottom-9">
                      <div class="govuk-summary-list__row">
                        <dt class="govuk-summary-list__key">
                          Name
                        </dt>
                        <dd class="govuk-summary-list__value">
    {% if case =='other-cases-3' %} John Smith {% endif %}{% if case =='other-cases-2' %}Thomas King{% endif %}{% if case =='other-cases' %}Sonya Corkery{% endif %}{% if not case %}Dereck Smith{% endif %}
                        </dd>
                        <dd class="govuk-summary-list__actions">
                          <a class="govuk-link" href="/live-44/cases/{% if phase %}{{phase}}/cases/{% endif %}personal-details/full-name">
                            Change<span class="govuk-visually-hidden"> name</span>
                          </a>
                        </dd>
                      </div>
                      <div class="govuk-summary-list__row">
                        <dt class="govuk-summary-list__key">
                          Date of birth
                        </dt>
                        <dd class="govuk-summary-list__value">
                    {%if not data['dob-issued-day']%}1{% else %}{{data['dob-issued-day']}}{% endif %} {%if not data['dob-issued-month']%}October{% else %}{{data['dob-issued-month']}}{% endif %} {%if not data['dob-issued-year']%}1978{% else %}{{data['dob-issued-year']}}{% endif %}
                        </dd>
                        <dd class="govuk-summary-list__actions">
                          <a class="govuk-link" href="/live-44/cases/{% if phase %}{{phase}}/cases/{% endif %}personal-details/date-birth">
                            Change<span class="govuk-visually-hidden"> date of birth</span>
                          </a>
                        </dd>
                      </div>


                      <div class="govuk-summary-list__row">
                        <dt class="govuk-summary-list__key">
                          Address
                        </dt>
                        <dd class="govuk-summary-list__value">
                        {% if  data['changeaddressline1']%} {{data['changeaddressline1']}} {% else %}72 Guild Street{% endif %}
                          <br>{% if  data['change-address-town']%} {{data['change-address-town']}} {% else %}London{% endif %}
                          <br>{% if  data['change-address-postcode']%} {{data['change-address-postcode']}} {% else %}SE23 6FH{% endif %}
                        </dd>
                        <dd class="govuk-summary-list__actions">
                          <a class="govuk-link" href="/live-44/cases/{% if phase %}{{phase}}/cases/{% endif %}personal-details/address">
                            Change<span class="govuk-visually-hidden"> address</span>
                          </a>
                        </dd>
                      </div>

                    </dl>
  <form action="/live-44/cases/{% if phase %}{{phase}}/cases/{% endif %}/claim#checks" method="post" novalidate>

                    <button class="govuk-button" data-module="govuk-button">
                                Return to checks
                              </button>

</form>
    </main>
  </div>


{% endblock %}
