{% set case = "sonya" %}
{% set page = "claim" %}
{% set claim = "true" %}
{% set title = "Case details" %}

{% extends   "payments/sprint-29/claim/_CSIBASE.html" %}


{% block csi %}
<br>




<!-- <form action="/cases/claim/task-list" method="post" novalidate> -->
<form action="amount-high-no-match" method="post" novalidate>


  <div class="govuk-width-container">
    <main class="govuk-main-wrapper">
      <div class="govuk-grid-row">
        <div class="govuk-grid-column-two-thirds">

<div class="govuk-form-group">

  <fieldset class="govuk-fieldset">

  <legend class="govuk-fieldset__legend govuk-fieldset__legend--l">

    <h1 class="govuk-fieldset__heading">
Ipad Pro case: invoice rejected
    </h1>

  </legend>
  <div id="contact-hint" class="govuk-hint">
              <!-- Does the claim match the grant award information below for the claim and grant award match. -->
                </div>

<div class="govuk-inset-text">
The replacement invoice deadline date for this item is

{{data['invoice-deadline-day']}}

{% if (data['invoice-deadline-month'] =='01') or (data['invoice-deadline-month'] =='1') %} January {% endif%}
{% if (data['invoice-deadline-month'] =='02') or (data['invoice-deadline-month'] =='2') %} February  {% endif%}
{% if (data['invoice-deadline-month'] =='03') or (data['invoice-deadline-month'] =='3') %} March {% endif%}
{% if (data['invoice-deadline-month'] =='04') or (data['invoice-deadline-month'] =='4') %} June {% endif%}
{% if (data['invoice-deadline-month'] =='05') or (data['invoice-deadline-month'] =='5') %} May {% endif%}
{% if (data['invoice-deadline-month'] =='06') or (data['invoice-deadline-month'] =='6') %} June {% endif%}
{% if (data['invoice-deadline-month'] =='07') or (data['invoice-deadline-month'] =='7') %} July {% endif%}
{% if (data['invoice-deadline-month'] =='08') or (data['invoice-deadline-month'] =='8') %} August {% endif%}
{% if (data['invoice-deadline-month'] =='09') or (data['invoice-deadline-month'] =='9') %} September {% endif%}
{% if data['invoice-deadline-month'] =='10' %} October {% endif%}
{% if data['invoice-deadline-month'] =='11'%} November {% endif%}
{% if data['invoice-deadline-month'] =='12' %} December {% endif%}

{{data['invoice-deadline-year']}}.
</div>

<br>
<h2 class="govuk-heading-m">Claim details</h2>


<!-- <h2 class="govuk-heading-m">Grant award details</h2> -->
        <dl class="govuk-summary-list govuk-!-margin-bottom-9">

          <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
Description
          </dt>
          <dd class="govuk-summary-list__value">
Ipad Pro case
          </dd>
          <dd class="govuk-summary-list__actions">
          </dd>
          </div>

          <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
Element
          </dt>
          <dd class="govuk-summary-list__value">
Specialist equipment
          </dd>
          <dd class="govuk-summary-list__actions">
          </dd>
          </div>

        <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">
Cost
        </dt>
        <dd class="govuk-summary-list__value">
£80
        </dd>
        <dd class="govuk-summary-list__actions">
        </dd>
        </div>
</dl>


                <br>








  <!-- <div class="govuk-radios">
        <div class="govuk-radios__item">
          <input class="govuk-radios__input" id="grant-match-claim-yes" name="grant-match-claim-yes" type="radio" value="yes">
          <label class="govuk-label govuk-radios__label" for="grant-match-claim-1">
        Yes
      </label>

        </div>






        <div class="govuk-radios__item">
          <input class="govuk-radios__input" id="grant-match-claim-no" name="grant-match-claim-no" type="radio" value="no">
          <label class="govuk-label govuk-radios__label" for="grant-match-claim-2">
        No
      </label> -->

      <div class="govuk-form-group">
      <legend class="govuk-fieldset__legend govuk-fieldset__legend--l">




            <div class="govuk-form-group">
              <fieldset class="govuk-fieldset">
                <legend class="govuk-fieldset__legend govuk-fieldset__legend--l">
                  <h2 class="govuk-heading-m">
                    Is the amount on the replacement invoice the same?
                  </h2>
                </legend>
                  <div class="govuk-radios__item">
                    <input class="govuk-radios__input" id="details-item-no-match-ipad-1" name="details-item-no-match-ipad" type="radio" value="Yes item amount is the same~saved-location" {{ checked("details-item-no-match-ipad", "Yes item amount is the same") }}>
                    <label class="govuk-label govuk-radios__label" for="claim-item-no-match-jaws-1">
                      Yes, the amount is the same
                    </label>
                  </div>
                  <div class="govuk-radios__item">
                    <input class="govuk-radios__input" id="details-item-no-match-ipad-2" name="details-item-no-match-ipad" type="radio" value="No item amount is different~rejected-invoice-ipad-amount" {{ checked("details-item-no-match-ipad", "No item amount is different") }}>
                    <label class="govuk-label govuk-radios__label" for="details-item-no-match-ipad-2">
                      No, the amount is different
                    </label>
                  </div>
                  <div class="govuk-radios__divider">or</div>
                  <div class="govuk-radios__item">
                    <input class="govuk-radios__input" id="details-item-no-match-ipad-3" name="details-item-no-match-ipad" type="radio" value="I have not recived a replacment invoice~rejected-invoice-ipad-close" {{ checked("details-item-no-match-ipad", "I have not recived a replacment invoice") }}>
                    <label class="govuk-label govuk-radios__label" for="details-item-no-match-ipad-3">
                      I have not received a valid replacement invoice
                    </label>
          </div>

        </div>
      </div>
    </fieldset>
  </div>
           <button class="govuk-button" data-module="govuk-button">
             Save and continue
           </button>
         </form>
       </div>
     </div>


        </main>
        </div>







{% endblock %}
