{% set page = "claim" %}
{% set claim = "true" %}
{% set title = "Case details" %}

{% set hidebanner = "true" %}

{% set name = "harold" %}
{% set case = 'other-cases-fill-1'%}

{% set phase = "case-manger-view" %}

{% extends   "live-atwis/current/claim/_MAINBASE.html" %}

{% block csi %}



    <div class="govuk-grid-row">
      <div class="govuk-grid-column-two-thirds">

        <form action="/live-atwis/current/cases-search/harold/cases/summary-data" method="post" novalidate>
          <div class="govuk-form-group">
            <fieldset class="govuk-fieldset">
              <legend class="govuk-fieldset__legend govuk-fieldset__legend--m">
            Are you sure you want to put data deletion on hold for [applicant name]'s application in ATWIS?
              </legend>

              <div class="govuk-warning-text">
                <span class="govuk-warning-text__icon" aria-hidden="true">!</span>
                <strong class="govuk-warning-text__text">
                  <span class="govuk-visually-hidden">Warning</span>
                If this application is being investigated, you can put the 24 month data retention period, [date], on hold. Data will not be deleted from ATWIS until the hold is lifted.
                </strong>
              </div>



              <div class="govuk-radios" data-module="govuk-radios">
                <div class="govuk-radios__item">
                  <input class="govuk-radios__input" id="data-delete-hold" name="data-delete-hold" type="radio" value="yes">
                  <label class="govuk-label govuk-radios__label" for="data-delete-hold">
                  Yes, put data deletion on hold
                  </label>
                </div>
                <div class="govuk-radios__item">
                  <input class="govuk-radios__input" id="data-delete-hold-2" name="data-delete-hold" type="radio" value="no">
                  <label class="govuk-label govuk-radios__label" for="data-delete-hold-2">
                  No, keep data until <script>// Get date
                        var now = new Date();
                        var pastDate = new Date(now);
                        pastDate.setDate(now.getDate() + 730);

                        var formattedDate = pastDate.toLocaleDateString('en-GB', {
                        day: 'numeric',
                        month: 'long',
                        year: 'numeric'
                        });

                        var formattedTime = pastDate.toLocaleTimeString('en-GB', {
                        hour: 'numeric',
                        minute: 'numeric',
                        hour12: true
                        });

                        document.write(formattedDate);</script>
                  </label>
                </div>
              </div>
            </fieldset>
          </div>
          <button type="submit" class="govuk-button" data-module="govuk-button">
            Continue
          </button>
        </form>
      </div>




{% endblock %}
