{% set page = "claim" %}
{% set claim = "true" %}
{% set title = "Case details" %}
{% set phase = "anahi" %}
{% set case = 'other-cases-fill-3'%}
{% extends folder + "/claim/_CSIBASE.html" %}

{% block csi %}




<form action="/current/cases/{% if phase %}{{phase}}/cases/{% endif %}claim#business-case" method="post" novalidate>


  <div class="govuk-width-container">


    <main class="govuk-main-wrapper">

      <div class="govuk-grid-row">
        <div class="govuk-grid-column-two-thirds">
          <div class="govuk-notification-banner" role="region" aria-labelledby="govuk-notification-banner-title" data-module="govuk-notification-banner">
            <div class="govuk-notification-banner__header">
              <h2 class="govuk-notification-banner__title" id="govuk-notification-banner-title">
                Important
              </h2>
            </div>
            <div class="govuk-notification-banner__content">
              <p class="govuk-notification-banner__heading">
        This case is over the cap limit

              </p><p>This means:</p>
              <ul class="govuk-list govuk-list--bullet">
                <li>the total cost of support asked for exceeds the cap limit</li>
                <li> the maximum amount Access to Work can pay is £69,260 in 1 year</li>
               <li>this grant is for 1 year only</li>
               </ul>

            </div>
          </div>


  <div class="govuk-form-group">
             <fieldset class="govuk-fieldset">
               <legend class="govuk-fieldset__legend govuk-fieldset__legend--l">
                 <h1 class="govuk-fieldset__heading">
              Review and confirm Anahi Korrapati's award summary
                 </h1>
               </legend>


<table class="govuk-table">
<caption class="govuk-table__caption govuk-table__caption--m">Award summary</caption>
<thead class="govuk-table__head">

<tr class="govuk-table__row">
<th scope="col" class="govuk-table__header">Support type</th>
<th scope="col" class="govuk-table__header ">Details</th>
<th scope="col" class="govuk-table__header govuk-table__header--numeric" >Start date</th>
<th scope="col" class="govuk-table__header govuk-table__header--numeric" >Cost</th>
</tr>
</thead>

<tbody class="govuk-table__body">

<tr class="govuk-table__row">
<th scope="row" class="govuk-table__header"> Specialist equipment</th>
<td class="govuk-table__cell govuk-table__cell--body">
  Jaws Screen Reader Software
</td>

<td class="govuk-table__cell govuk-table__cell--numeric" >

<script>
// Get the current date
var now = new Date();
var date = now.toLocaleDateString('en-GB', { day: 'numeric', month: 'long', year: 'numeric' });
// Write the date to the HTML page
document.write(date);
</script>
</td>




<td class="govuk-table__cell govuk-table__cell--numeric" >
£799.99
</td>
<tr class="govuk-table__row">
<th scope="row" class="govuk-table__header"> Specialist equipment</th>
<td class="govuk-table__cell govuk-table__cell--body">
  ZoomText
</td>

<td class="govuk-table__cell govuk-table__cell--numeric" >

<script>
// Get the current date
var now = new Date();
var date = now.toLocaleDateString('en-GB', { day: 'numeric', month: 'long', year: 'numeric' });
// Write the date to the HTML page
document.write(date);
</script>
</td>




<td class="govuk-table__cell govuk-table__cell--numeric" >
£635.00
</td><tr class="govuk-table__row">
<th scope="row" class="govuk-table__header"> Specialist equipment</th>
<td class="govuk-table__cell govuk-table__cell--body">
  High visability keyboard 5000 PRO
</td>

<td class="govuk-table__cell govuk-table__cell--numeric" >

<script>
// Get the current date
var now = new Date();
var date = now.toLocaleDateString('en-GB', { day: 'numeric', month: 'long', year: 'numeric' });
// Write the date to the HTML page
document.write(date);
</script>
</td>




<td class="govuk-table__cell govuk-table__cell--numeric" >
£3,200.00
</td><tr class="govuk-table__row">
<th scope="row" class="govuk-table__header"> Specialist equipment</th>
<td class="govuk-table__cell govuk-table__cell--body">
  Handheld video magnifier ruby xl hd
</td>

<td class="govuk-table__cell govuk-table__cell--numeric" >

<script>
// Get the current date
var now = new Date();
var date = now.toLocaleDateString('en-GB', { day: 'numeric', month: 'long', year: 'numeric' });
// Write the date to the HTML page
document.write(date);
</script>
</td>




<td class="govuk-table__cell govuk-table__cell--numeric" >
£100.00
</td><tr class="govuk-table__row">
<th scope="row" class="govuk-table__header"> Specialist equipment</th>
<td class="govuk-table__cell govuk-table__cell--body">
  Ergonomic Chair 5000
</td>

<td class="govuk-table__cell govuk-table__cell--numeric" >

<script>
// Get the current date
var now = new Date();
var date = now.toLocaleDateString('en-GB', { day: 'numeric', month: 'long', year: 'numeric' });
// Write the date to the HTML page
document.write(date);
</script>
</td>




<td class="govuk-table__cell govuk-table__cell--numeric" >
£1,000.00
</td>


<tr class="govuk-table__row">
<th scope="row" class="govuk-table__header"> Specialist equipment</th>
<td class="govuk-table__cell govuk-table__cell--body">
  Foot rest
</td>

<td class="govuk-table__cell govuk-table__cell--numeric" >

<script>
// Get the current date
var now = new Date();
var date = now.toLocaleDateString('en-GB', { day: 'numeric', month: 'long', year: 'numeric' });
// Write the date to the HTML page
document.write(date);
</script>
</td>




<td class="govuk-table__cell govuk-table__cell--numeric" >
£50.00
</td>



<tr class="govuk-table__row">
<th scope="row" class="govuk-table__header"> Specialist equipment</th>
<td class="govuk-table__cell govuk-table__cell--body">
  Orcam Read
</td>

<td class="govuk-table__cell govuk-table__cell--numeric" >

<script>
// Get the current date
var now = new Date();
var date = now.toLocaleDateString('en-GB', { day: 'numeric', month: 'long', year: 'numeric' });
// Write the date to the HTML page
document.write(date);
</script>
</td>




<td class="govuk-table__cell govuk-table__cell--numeric" >
£2,250.00
</td>

<tr class="govuk-table__row">
<th scope="row" class="govuk-table__header"> Specialist equipment</th>
<td class="govuk-table__cell govuk-table__cell--body">
Brailliant BI 40X braille display
</td>

<td class="govuk-table__cell govuk-table__cell--numeric" >

<script>

  var now = new Date();
  var pastDate = new Date(now);
  pastDate.setDate(now.getDate() - 60);

  var formattedDate = pastDate.toLocaleDateString('en-GB', {
  day: 'numeric',
  month: 'long',
  year: 'numeric'
  });



  document.write(formattedDate);


</script>
</td>




<td class="govuk-table__cell govuk-table__cell--numeric" >
£3,599.00
</td>


<tr class="govuk-table__row">
<th scope="row" class="govuk-table__header"> Support worker</th>
<td class="govuk-table__cell govuk-table__cell--body">
  Notetaker<br>  £20 per hour<br>37 hours of support per week for 1 year </td>
</td>

<td class="govuk-table__cell govuk-table__cell--numeric" >

<script>
// Get the current date
var now = new Date();
var date = now.toLocaleDateString('en-GB', { day: 'numeric', month: 'long', year: 'numeric' });
// Write the date to the HTML page
document.write(date);
</script>
</td>




<td class="govuk-table__cell govuk-table__cell--numeric" >
£35,520.00
</td>

<tr class="govuk-table__row">
<th scope="row" class="govuk-table__header"> Support worker</th>
<td class="govuk-table__cell govuk-table__cell--body">
  Personal reader<br>  £15 per hour<br>37 hours of support per week for 1 year </td>
</td>

<td class="govuk-table__cell govuk-table__cell--numeric" >

<script>
// Get the current date
var now = new Date();
var date = now.toLocaleDateString('en-GB', { day: 'numeric', month: 'long', year: 'numeric' });
// Write the date to the HTML page
document.write(date);
</script>
</td>




<td class="govuk-table__cell govuk-table__cell--numeric" >
£26,640.00
</td>






    <tr class="govuk-table__row">
      <th scope="row" class="govuk-table__header"> <div class="govuk-!-padding-bottom-9"></div>Total cost of support </th>
      <td class="govuk-table__cell govuk-table__cell--numeric"></td>
    <td class="govuk-table__cell govuk-table__cell--numeric"></td>
       <td class="govuk-table__cell govuk-table__cell--numeric"><div class="govuk-!-padding-bottom-9"></div>
£73,793.99


         </td> </tr>



                  </tbody>
                 </table>

<br>
                 <table class="govuk-table">
                 <caption class="govuk-table__caption govuk-table__caption--m">Deductions</caption>
                 <thead class="govuk-table__head">

                 <tr class="govuk-table__row">
                 <th scope="col" class="govuk-table__header">Deduction type</th>
                 <th scope="col" class="govuk-table__header ">Details</th>
                 <th scope="col" class="govuk-table__header govuk-table__header--numeric" ></th>
                 <th scope="col" class="govuk-table__header govuk-table__header--numeric" >Deductions</th>
                 </tr>
                 </thead>

                 <tbody class="govuk-table__body">
                {% if data['cost-share-needanahi']=='Yes'%} {% else %}  <tr class="govuk-table__row">
                   <th scope="row" class="govuk-table__header"> Mandatory cost share to be paid by employer</th>
                   <td class="govuk-table__cell govuk-table__cell--body">
                    Large employer
                   </td>

                   <td class="govuk-table__cell govuk-table__cell--numeric" >


                   </td>




                   <td class="govuk-table__cell govuk-table__cell--numeric" >
                   -£3000.00
                   </td>{% endif %}
                 <tr class="govuk-table__row">
                 <th scope="row" class="govuk-table__header"> Total social and domestic contribution: 2 days</th>
                 <td class="govuk-table__cell govuk-table__cell--body">
                  High visability keyboard 5000 PRO
                 </td>

                 <td class="govuk-table__cell govuk-table__cell--numeric" >


                 </td>




                 <td class="govuk-table__cell govuk-table__cell--numeric" >
              {% if data['cost-share-needanahi']=='Yes'%}  -£914.28 {% else %}   -£57.13{% endif %}
                 <!-- 28.57 -->
                 </td>
                 <tr class="govuk-table__row">
                 <th scope="row" class="govuk-table__header"> Total social and domestic contribution: 2 days</th>
                 <td class="govuk-table__cell govuk-table__cell--body">
                Handheld video magnifier ruby xl hd
                 </td>

                 <td class="govuk-table__cell govuk-table__cell--numeric" >


                 </td>




                 <td class="govuk-table__cell govuk-table__cell--numeric" >
{% if data['cost-share-needanahi']=='Yes'%}  -£28.57 {% else %} £0{% endif %}
                 <!-- -£28.57 -->
                 </td>




                     <tr class="govuk-table__row">
                       <th scope="row" class="govuk-table__header"> <div class="govuk-!-padding-bottom-9"></div>Total cost after deductions </th>
                       <td class="govuk-table__cell govuk-table__cell--numeric"></td>
                     <td class="govuk-table__cell govuk-table__cell--numeric"></td>
                        <td class="govuk-table__cell govuk-table__cell--numeric"><div class="govuk-!-padding-bottom-9"></div>
            {% if data['cost-share-needanahi']=='Yes'%} £72,851.14{% else %}     £70,736.86{% endif %}
                          </td>

                        </tr>
                        <th scope="row" class="govuk-table__header"> Maximum amount payable (cap limit)</th>
                        <td class="govuk-table__cell govuk-table__cell--numeric"></td>
                      <td class="govuk-table__cell govuk-table__cell--numeric" style"text-align: right;"></td>
                         <td class="govuk-table__cell govuk-table__cell--numeric">£69,260.00
                           </td>
                   </tr>


                                   </tbody>
                                  </table>


                                  <p class="govuk-body">If you need to change anything, go to:</p>
                                  <ul class="govuk-list govuk-list--bullet">
                                    <li><a href="/current/cases/anahi/cases/claim#business-case">business case</a></li>
                                    <li><a href="/current/cases/anahi/cases/claim#citizen-details">application  review</a></li>
                                    <li><a href="cost-share-need">update mandatory cost share</a> </p></li>
                                  </ul>

                                  </ul>   <p>Once you have confirmed the award summary, you will be able to send the award decision to Anahi Korrapati.</p>




           <button class="govuk-button" data-module="govuk-button" name="award{{phase}}" value="complete">
Confirm award summary
           </button>

         </form>
       </div>
     </div>


        </main>
        </div>



{% endblock %}
