



<!-------------- csi tables -->
{% macro statusTable(payment="") %}
    <table class="govuk-table">
      <thead class="govuk-table__head">
          <tr class="govuk-table__row">
            <th class="govuk-table__header">Name</th>

            <th class="govuk-table__header">Date submitted</th>
            <th class="govuk-table__header">Interview date</th>
            <th class="govuk-table__header">Status</th>
            <th class="govuk-table__header"></th>
          </tr>
        </thead>
        <tbody>


            <tr class="govuk-table__row">
              <th scope="row" class="govuk-table__header">{{ data['csi-info'][3]['firstname'] }} {{ data['csi-info'][3]['surname'] }}</th>

              <td class="govuk-table__cell">{{data['csi-info'][3]['submission-date']}}</td>
              <td class="govuk-table__cell">{{ data['csi-info'][3]['interview-date-day'] }} {{ data['csi-info'][3]['interview-date-month'] | toMonth }} {{ data['csi-info'][3]['interview-date-year'] }}</td>
              <td class="govuk-table__cell">{% if phase == 'waiting' %}No action needed{% elif not phase and not data['searchlight'] %}New{% else %}Action needed{% endif %}
              <td class="govuk-table__cell"><a href="csi/index{% if payment %}-payment{% else %}{% if phase == "interview" %}-interview{% elif phase == "waiting" %}-waiting{% elif phase == "same-day" %}-same-day{% elif phase == "payment-adviser" %}-payment-adviser{% endif %}{% endif %}">Go to case</a></td>
            </tr>
      </tbody>
    </table>
  {%- endmacro %}





<div class="govuk-grid-row">
  <div class="govuk-grid-column-full">


{% if taskUpdated %}
<div class="container status-message">
<div class="govuk-panel govuk-panel--confirmation">

  <h2 class="govuk-!-font-size-36"><img class="icon" style="height: 1em;
    margin: 0 15px;
    vertical-align: top;
}" src="{{asset_path}}images/icon-tick@2x.png" alt="">Case allocated</h2>


</div></div>
{% endif %}




    {% set csi %}
    <div class="govuk-grid-row">
      <div class="govuk-grid-column-two-thirds">
        <h2 class="govuk-heading-m">Your CSI cases (1)</h2>
      </div>
    </div>

<form action="/live-atwis/0/your-cases#csi" method="post" novalidate for="submitButtonRequestcsi">


  <div class="govuk-grid-column-one-quaters">


    <p class="govuk-body govuk-!-margin-bottom-6"></p>
          <input type="submit" class="govuk-button" id="submitButtonRequestcsi" name="csi-button" value="Request a new CSI case"></form>
      </div>



{% include "./claim/_notification-csi-type-case.html" %}

{% if (phase == "empty" or phase == "allocator")  %}
<br></br></br></br></br></br>
<p>There are currently no CSI Cases.</P>

{% else %}

<table class="govuk-table">
    <caption class="govuk-table__caption govuk-table__caption--m">Cases</caption>
      <thead class="govuk-table__head">
          <tr class="govuk-table__row">
            <th class="govuk-table__header">Name</th>
      <th class="govuk-table__header">Interview date</th>
            <th class="govuk-table__header">Date submitted</th>

            <th class="govuk-table__header">Status</th>
            <th class="govuk-table__header"></th>
          </tr>
        </thead>
        <tbody>


            <tr class="govuk-table__row">
              <th scope="row" class="govuk-table__header"><a href="/sprint-13/agreed/csi/index">Thomas Brown</a></th>
  <td class="govuk-table__cell">9 March 2021</td>
              <td class="govuk-table__cell">2 November 2021 13:23</td>

              <td class="govuk-table__cell">Not started

            </tr>
      </tbody>
    </table>


{% endif %}

      {% endset -%}




<!-------------- Your priority cases -->

{% set priority %}
<div class="govuk-grid-row">
  <div class="govuk-grid-column-one-third">
    <h1 class="govuk-heading-l">Your priority cases (4) </h1>



<form action="/live-atwis/0/your-cases#priority" method="post" novalidate for="submitButtonRequestPriority">
  <div class="govuk-grid-column-one-quaters">



      <label class="govuk-label" for="sort">
        Type of priority case
      </label>
      <select class="govuk-select" id="priority" name="priority">
        <option value="Job"
      {% if 'Job' in data['priority']%}selected{% endif %}>Job start</option>
        <option value="cev"
      {% if 'cev' in data['priority']%}selected{% endif %}> Clinically extremely vulnerable (CEV)</option>
        <option value="Kickstart"
      {% if 'Kickstart' in data['priority']%}selected{% endif %}>Kickstart</option>
        <option value="YPGS"
        {% if 'YPGS' in data['priority']%}selected{% endif %}>Young Person Guarantee Scotland (YPGS)</option>
      </select>


</div>
<br>

      <input type="submit" class="govuk-button" id="submitButtonRequestPriority" value="Request a new priority case">




  </div>  <div class="govuk-grid-column-full">

  <table class="govuk-table">
    <caption class="govuk-table__caption govuk-table__caption--m">Cases</caption>
    <thead class="govuk-table__head">
      <tr class="govuk-table__row">
        <th scope="col" class="govuk-table__header">Name</th>
                <!-- <th scope="col" class="govuk-table__header">Case type</th> -->
        <th scope="col" class="govuk-table__header">  Type of priority case</th>
              <th scope="col" class="govuk-table__header">Date submitted</th>
      </tr>
    </thead>




          <tr class="click-row govuk-table__row" >
            <th scope="row" class="govuk-table__header"><a href="">fsdf sdf</a></th>
              <!-- <td class="govuk-table__cell">New application</td> -->
                <td class="govuk-table__cell">Job start</td>
                <td class="govuk-table__cell numeric">25 Jul 2024, 11:55am</td>



            </tr>




          <tr class="click-row govuk-table__row" >
                <th scope="row" class="govuk-table__header"><a href="claim">Harold Lzhdrjrr Allen</a></th>
                <!-- <td class="govuk-table__cell">New application</td> -->
                  <td class="govuk-table__cell">Job start</td>
                <td class="govuk-table__cell numeric">25 Jul 2024, 2:15pm</td>



            </tr>




          <tr class="govuk-table__row" >
              <th scope="row" class="govuk-table__header"><a href="">Quinn Bwqcdrzf Patel</a></th>
              <!-- <td class="govuk-table__cell">New application</td> -->
                <td class="govuk-table__cell">Job start</td>
                <td class="govuk-table__cell numeric">25 Jul 2024, 2:17pm</td>


            </tr>




          <tr class="click-row govuk-table__row" >
              <th scope="row" class="govuk-table__header"><a href="">Felix Bhnfkpic Garcia</a></th>
              <!-- <td class="govuk-table__cell">New application</td> -->
                <td class="govuk-table__cell">Job start</td>
                <td class="govuk-table__cell numeric">25 Jul 2024, 2:28pm</td>



            </tr>


      </table></div></div>



    {% endset -%}


<!-------------- Your other cases -->
      {% set other %}







      <div class="govuk-grid-row">
        <div class="govuk-grid-column-one-third">
          <h1 class="govuk-heading-l">Your other cases (4)</h1>


<form action="/live-atwis/0/your-cases#other" method="post" novalidate for="submitButtonRequestother">
        <div class="govuk-grid-column-one-quaters">

          <div class="govuk-form-group" style="float: left">
            <label class="govuk-label" for="sort">
              Type of case
            </label>
            <select class="govuk-select" id="other" name="other">
              <option value="any"
                {% if 'any' in data['other']%}selected{% endif %}>Any</option>
              <option value="new"
              {% if 'new' in data['other']%}selected{% endif %} >New application</option>
              <option value="renewal"
              {% if 'renewal' in data['other']%}selected{% endif %}>Renewal</option>

            </select>
            </div>

            <button type="submit" class="govuk-button" data-module="govuk-button" id="submitButtonRequestother" value="Request a new other case">Request a new other case</button></form>

</div>
</div>
  <div class="govuk-grid-column-full">

<table class="govuk-table">
  <caption class="govuk-table__caption govuk-table__caption--m">Cases</caption>
  <thead class="govuk-table__head">
    <tr class="govuk-table__row">
      <th scope="col" class="govuk-table__header">Name</th>
      <th scope="col" class="govuk-table__header">  Type of case</th>
            <th scope="col" class="govuk-table__header">Date submitted</th>
    </tr>
  </thead>




        <tr class="click-row govuk-table__row" >
          <th scope="row" class="govuk-table__header"><a href="">fsdf sdf</a></th>
              <td class="govuk-table__cell">Renewal</td>
              <td class="govuk-table__cell numeric">25 Jul 2024, 11:55am</td>



          </tr>




        <tr class="click-row govuk-table__row" >
              <th scope="row" class="govuk-table__header"><a href="claim">Harold Lzhdrjrr Allen</a></th>
              <td class="govuk-table__cell">New application</td>
              <td class="govuk-table__cell numeric">25 Jul 2024, 2:15pm</td>



          </tr>




        <tr class="govuk-table__row" >
            <th scope="row" class="govuk-table__header"><a href="">Quinn Bwqcdrzf Patel</a></th>
              <td class="govuk-table__cell">New application</td>
              <td class="govuk-table__cell numeric">25 Jul 2024, 2:17pm</td>


          </tr>




        <tr class="click-row govuk-table__row" >
            <th scope="row" class="govuk-table__header"><a href="">Felix Bhnfkpic Garcia</a></th>
              <td class="govuk-table__cell">New application</td>
              <td class="govuk-table__cell numeric">25 Jul 2024, 2:28pm</td>



          </tr>


    </table>
</div>
</div>


        {% endset -%}


<!-------------- Your documents -->
  {% set doc %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-one-third">
      <h2 class="govuk-heading-l">Your documents (12)</h2>





        <label class="govuk-label" for="sort">
          Type of document
        </label>
        <select class="govuk-select" id="sort" name="sort">
          <option value="published" selected >Not complex</option>
          <option value="updated" >Complex</option>
          <option value="views">TESG</option>
          <option value="comments">CSI</option>
        </select>

<br>



        <input type="submit" class="govuk-button" id="submitButtonRequestNewDocument" value="Request a document" style="float: left">
      </div>
        <div class="govuk-grid-column-full">
      <table class="govuk-table" id="list-envelopes">
          <caption class="govuk-table__caption govuk-table__caption--m">Documents</caption>
        <thead class="govuk-table__head">
          <tr class="govuk-table__row">
            <th class="govuk-table__header">Name</th>
            <th class="govuk-table__header">Document type</th>
            <th class="govuk-table__header">Form reference</th>
            <th class="govuk-table__header">Date scanned</th>
            <th class="govuk-table__header">Status</th>


          </tr>
        </thead>
        <tbody>

                <tr class="click-row govuk-table__row" config-contextpath="/atw/ui-agent_f-apply_atw/" envelope-row="1721913667285">
                <th scope="row" class="govuk-table__header">

                      <a href="">     Mary Tcezpaou Ward

                  </th>
                  <td class="govuk-table__cell">CSI</td>
                  <td class="govuk-table__cell">DP221JP</td>
                  <td class="govuk-table__cell">19 July 2024</td>
                  <td class="govuk-table__cell">In progress</td>
                </tr>

                <tr class="click-row govuk-table__row" config-contextpath="/atw/ui-agent_f-apply_atw/" envelope-row="1721917932771">
                <th scope="row" class="govuk-table__header">

                      <a href="">     Sarah Dqwfmdst Mason

                  </th>
                  <td class="govuk-table__cell">CSI</td>
                  <td class="govuk-table__cell">DP221JP</td>
                  <td class="govuk-table__cell">19 July 2024</td>
                  <td class="govuk-table__cell">Not started</td>
                  </tr>

                <tr class="click-row govuk-table__row" config-contextpath="/atw/ui-agent_f-apply_atw/" envelope-row="1721913618600">
                <th scope="row" class="govuk-table__header">

                        <a href="">   Leah Rpffvllk Fletcher

                  </th>
                  <td class="govuk-table__cell">Support Worker</td>
                  <td class="govuk-table__cell">DP222JP</td>
                  <td class="govuk-table__cell">20 July 2024</td>
                  <td class="govuk-table__cell">Not started</td>
                </tr>

                <tr class="click-row govuk-table__row" config-contextpath="/atw/ui-agent_f-apply_atw/" envelope-row="1721913659320">
                <th scope="row" class="govuk-table__header">

                        <a href="">   Enoch Lobhcrsw Antrobus

                  </th>
                  <td class="govuk-table__cell">TESG Claim form</td>
                  <td class="govuk-table__cell">DP229JP TESG</td>
                  <td class="govuk-table__cell">20 July 2024</td>
                  <td class="govuk-table__cell">Not started</td>
                  </tr>

                <tr class="click-row govuk-table__row" config-contextpath="/atw/ui-agent_f-apply_atw/" envelope-row="1721913638181">
                <th scope="row" class="govuk-table__header">

                      <a href="">     Marcus Tsfkvyxu Gardner

                  </th>
                  <td class="govuk-table__cell">CSI</td>
                  <td class="govuk-table__cell">DP221JP</td>
                  <td class="govuk-table__cell">21 July 2024</td>
                  <td class="govuk-table__cell">In progress</td>
                  </tr>

                <tr class="click-row govuk-table__row" config-contextpath="/atw/ui-agent_f-apply_atw/" envelope-row="1721917871184">
                <th scope="row" class="govuk-table__header">

                        <a href="">   Roy Xuuouqbd Woods

                  </th>
                  <td class="govuk-table__cell">Support Worker</td>
                  <td class="govuk-table__cell">DP222JP</td>
                  <td class="govuk-table__cell">22 July 2024</td>
                  <td class="govuk-table__cell">Not started</td>
                </tr>

                <tr class="click-row govuk-table__row" config-contextpath="/atw/ui-agent_f-apply_atw/" envelope-row="1721917908728">
            <th scope="row" class="govuk-table__header">

                        <a href="">   Kevin Gvrseyyv Knight

                  </th>
                  <td class="govuk-table__cell">TESG Claim form</td>
                  <td class="govuk-table__cell">DP229JP TESG</td>
                  <td class="govuk-table__cell">22 July 2024</td>
                  <td class="govuk-table__cell">Not started</td>
                  </tr>

                <tr class="click-row govuk-table__row" config-contextpath="/atw/ui-agent_f-apply_atw/" envelope-row="1721917950555">
                <th scope="row" class="govuk-table__header">
    <a href="">
                      Enoch Gpofouna Rivers

                  </th>
                  <td class="govuk-table__cell">One off costs (SAE)</td>
                  <td class="govuk-table__cell">DP224JP</td>
                  <td class="govuk-table__cell">22 July 2024</td>
                  <td class="govuk-table__cell">Not started</td>
                </tr>

                <tr class="click-row govuk-table__row" config-contextpath="/atw/ui-agent_f-apply_atw/" envelope-row="1721917894554">
                <th scope="row" class="govuk-table__header">

                        <a href="">   Guy Xrllipig Jones

                  </th>
                  <td class="govuk-table__cell">CSI</td>
                  <td class="govuk-table__cell">DP221JP</td>
                  <td class="govuk-table__cell">23 July 2024</td>
                  <td class="govuk-table__cell">In progress</td>
                </tr>

                <tr class="click-row govuk-table__row" config-contextpath="/atw/ui-agent_f-apply_atw/" envelope-row="1721913626122">
              <th scope="row" class="govuk-table__header">

                        <a href="">   George Jtmtnrbz Lopez

                  </th>
                  <td class="govuk-table__cell">CSI</td>
                  <td class="govuk-table__cell">DP221JP</td>
                  <td class="govuk-table__cell">23 July 2024</td>
                  <td class="govuk-table__cell">Not started</td>
                </tr>

                <tr class="click-row govuk-table__row" config-contextpath="/atw/ui-agent_f-apply_atw/" envelope-row="1721913702191">
                <th scope="row" class="govuk-table__header">

                        <a href="">   Vicki Qehmumco Williamson</a>

                  </th>
                  <td class="govuk-table__cell">One off costs (SAE)</td>
                  <td class="govuk-table__cell">DP224JP</td>
                  <td class="govuk-table__cell">24 July 2024</td>
                  <td class="govuk-table__cell">Not started</td>
                </tr>

                <tr class="click-row govuk-table__row" config-contextpath="/atw/ui-agent_f-apply_atw/" envelope-row="1721917897489">
                <th scope="row" class="govuk-table__header">

                    <a href="">  David Egevswdg Garcia</a>

                  </th>
                  <td class="govuk-table__cell">CSI</td>
                  <td class="govuk-table__cell">DP221JP</td>
                  <td class="govuk-table__cell">25 July 2024</td>
                  <td class="govuk-table__cell">Not started</td>
                </tr>

        </tbody>
      </table>
  </div>

{% endset -%}



<!-------------- tabs -->
{% if phase == "allocator" %}
{{ govukTabs({
  items: [

    {
      label: "Your other cases (0)",
      id: "other",
      panel: {
        html: other
      }
    },
    {
      label: "Your priority cases (0)",
      id: "priority",
      panel: {
        html: priority
      }
    },
    {
      label: "Your CSI cases (0)",
      id: "csi",
      panel: {
        html: csi
      }
    },
    {

      label: "Your documents (12)",
      id: "in-disc",
      panel: {
        html: doc
      }
    }
  ]
}) }}
{% else %}

    {{ govukTabs({
      items: [

        {
          label: "Your other cases (4)",
          id: "other",
          panel: {
            html: other
          }
        },
        {
          label: "Your priority cases (4)",
          id: "priority",
          panel: {
            html: priority
          }
        },
        {
          label: "Your CSI cases (1)",
          id: "csi",
          panel: {
            html: csi
          }
        },
        {

          label: "Your documents (12)",
          id: "in-disc",
          panel: {
            html: doc
          }
        }
      ]
    }) }}
{% endif %}


  </div>
</div>
