{% set page = "claim" %}
{% set claim = "true" %}
{% set title = "Case details" %}

{% extends   "payments/sprint-18-ur/claim/_CSIBASE.html" %}



{% block csi %}
<br>




<!-- <form action="/cases/claim/task-list" method="post" novalidate> -->
<form action="/payments/sprint-18-ur/cases/claim#your-tasks" method="post" novalidate>


  <div class="govuk-width-container">
    <main class="govuk-main-wrapper">
      <div class="govuk-grid-row">
        <div class="govuk-grid-column-two-thirds">

<div class="govuk-form-group">

  <fieldset class="govuk-fieldset">

  <legend class="govuk-fieldset__legend govuk-fieldset__legend--l">

    <h2 class="govuk-fieldset__heading">

{% if case == 'dereck' %}
      Is the invoice marked as paid
{% endif %}

{% if case == 'sonya' %}
      Are all the invoices marked as paid
{% endif %}

    </h2>


        </legend>
        <div class="govuk-radios" data-module="govuk-radios">
          <div class="govuk-radios__item">
{% if case == 'dereck' %}
            <input class="govuk-radios__input" id="paid-in-full-1" name="paid-in-full" type="radio" value="yes~dereck/claim-dereck#your-tasks" {{ checked("paid-in-full", "Yes") }}>
{% endif %}
{% if case == 'sonya' %}
            <input class="govuk-radios__input" id="paid-in-full-1" name="paid-in-full" type="radio" value="yes~sonya/claim-sonya#your-tasks" {{ checked("paid-in-full", "Yes") }}>
{% endif %}

            <label class="govuk-label govuk-radios__label" for="paid-in-full-1">
              Yes
            </label>
          </div>
          <div class="govuk-radios__item">
            <input class="govuk-radios__input" id="paid-in-full-2" name="paid-in-full" type="radio" value="No~dereck/claim-dereck#your-tasks" {{ checked("paid-in-full", "No") }}>
            <label class="govuk-label govuk-radios__label" for="paid-in-full-2">
              No
            </label>
          </div>
        </div>

      </fieldset>
    </div>

               <button class="govuk-button" data-module="govuk-button">
             Save and continue
           </button>
         </form>
       </div>
     </div>


        </main>
        </div>







{% endblock %}
