{% from "govuk/components/button/macro.njk" import govukButton %}

{% macro researchToolButtons(props) %}

    <div class="vote-button-container">
        <div class="govuk-width-container">
            <div class="govuk-grid-row">
                <div class="govuk-grid-column-full">
                    <div class="vote-buttons-wrapper">
                        <form action="export" class="vote-buttons colour-distinction">
                            <input id="export-field" type="hidden" name="export-json" value="{{ data['export-json'] }}" />

                            {{ govukButton({ text: 'Makes sense', type: 'button', classes: 'button--good', attributes: { 'onclick': 'javascript:CFObject.voteUp();' } }) }} {{ govukButton({ text: 'Does not make sense', classes:
                            'govuk-button--warning button--bad', type: 'button', attributes: { 'onclick': 'javascript:CFObject.voteDown();' } }) }}

                            <div class="spacer"></div>

                            {{ govukButton({ text: 'I am finished', type: 'submit', classes: 'govuk-button--secondary' }) }}
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>

{% endmacro %}