
{% from "govuk/components/tag/macro.njk" import govukTag %}

{% macro taskListItem(props) %}

{% set isActive = props.isActive == 'complete' or props.isActive == 'true' %}

<li class="app-task-list__item">
    <span class="app-task-list__task-name">
        {% if isActive %} 
        <a class="govuk-link--no-visited-state" href="{{ props.url }}">
            {{ props.name }}
        </a>
        {% else %}
            {{ props.name }}
        {% endif %}
    </span>
    
    {% if props.tag %}
        {{ govukTag({
            classes: 'app-task-list__tag govuk-tag--' + props.tag.color,
            text: props.tag.text
        }) }}
    {% endif %}
    {% if props.tags %}
        {% for tag in props.tags %}
            {{ govukTag({
                classes: 'app-task-list__tag govuk-tag--' + tag.color + ' govuk-!-margin-left-1',
                text: tag.text
            }) }}
        {% endfor %}
    {% endif %}
</li>

{% endmacro %}
