{% set page = "claim" %}
{% set claim = "true" %}
{% set title = "Case details" %}

{% extends folder + "/claim/_CSIBASE.html" %}

{% block csi %}


<div class="govuk-width-container">


  <main class="govuk-main-wrapper " id="main-content" role="main">
    <div class="govuk-grid-row">
      <div class="govuk-grid-column-two-thirds">

{% if phase == 'thomas'%}












 <fieldset class="govuk-fieldset">
<h1 class="govuk-heading-{% if data['sae-item-type']%}m{% else %}l{% endif %}">

  {% if data['sw-type']%}Total 3 support workers{% else %}  Thomas King has added 2 support worker {% endif %}</h1>

  {% if data['sw-type']%}
              <fieldset class="govuk-fieldset">
        <h2 class="govuk-heading-m">

                Thomas King has added 2 support worker </h2>{% endif %}
    <dl class="govuk-summary-list hmrc-list-with-actions hmrc-list-with-actions--short">
      <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key govuk-!-font-weight-regular hmrc-summary-list__key">
          British Sign Language (BSL) interpreter
        </dt>

        <dt class="govuk-summary-list__key govuk-!-font-weight-regular hmrc-summary-list__value">
          {% if data['approve-1']=='true'%}Added to award
            {% else %}Not added to award{% endif %}
        </dt>
        <dd class="govuk-summary-list__actions hmrc-summary-list__actions">
          <ul class="govuk-summary-list__actions-list">
            <li class="govuk-summary-list__actions-list-item">
              <a class="govuk-link" href="details"><span aria-hidden="true">Change</span><span class="govuk-visually-hidden">{{data['condition-check-update']}}</span></a>
            </li>

          </ul>
        </dd>
      </div>


      <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key govuk-!-font-weight-regular hmrc-summary-list__key">
        Note taker
        </dt>
        <dt class="govuk-summary-list__key govuk-!-font-weight-regular hmrc-summary-list__value">
          {% if data['approve-2']=='true'%}Added to award{% endif %}
            {% if data['approve-2']=='false'%}Not added to award{% endif %}
        </dt>

        <dd class="govuk-summary-list__actions hmrc-summary-list__actions">
          <ul class="govuk-summary-list__actions-list">
            <li class="govuk-summary-list__actions-list-item">
              <a class="govuk-link" href="details"><span aria-hidden="true">Change</span><span class="govuk-visually-hidden">{{data['condition-check-update']}}</span></a>
            </li>

          </ul>
        </dd>
      </div>

    </dl>

         </fieldset>




  {% endif %}

{% if data['sw-type']%}
            <fieldset class="govuk-fieldset">
      <h2 class="govuk-heading-{% if phase == 'thomas'%}m{% else %}l{% endif %}">

              You have added 1 support worker </h2>





              <dl class="govuk-summary-list hmrc-list-with-actions hmrc-list-with-actions--short">
                <div class="govuk-summary-list__row">
                  <dt class="govuk-summary-list__key govuk-!-font-weight-regular hmrc-summary-list__key">
                    {{data['sw-type']}}
                  </dt>

                  <dt class="govuk-summary-list__key govuk-!-font-weight-regular hmrc-summary-list__value">
                    {% if data['approve-2']=='true'%}Added to award{% endif %}
                      {% if data['approve-2']=='false'%}Not added to award{% endif %}
                  </dt>


                  <dd class="govuk-summary-list__actions hmrc-summary-list__actions">
                    <ul class="govuk-summary-list__actions-list">
                      <li class="govuk-summary-list__actions-list-item">
                        <a class="govuk-link" href="details"><span aria-hidden="true">Change</span><span class="govuk-visually-hidden">{{data['condition-check-update']}}</span></a>
                      </li>
                      <li class="govuk-summary-list__actions-list-item">
                        <a class="govuk-link" href="#"><span aria-hidden="true">Remove</span><span class="govuk-visually-hidden">{{data['condition-check-update']}}</span></a>
                      </li>
                    </ul>
                  </dd>
                </div>


              </dl>

                   </fieldset>

{% endif %}



                   <form action="" method="post" novalidate>
                     <div class="govuk-form-group">
                                 <fieldset class="govuk-fieldset">
                                   <legend class="govuk-fieldset__legend govuk-fieldset__legend--m">

{% include "live-37/cases/check-application/support-worker/details/content/add.html" %}
                                   </legend>
                                   <div class="govuk-radios govuk-radios--inline" data-module="govuk-radios">
                                     <div class="govuk-radios__item govuk-radios--inline">
                                       <input class="govuk-radios__input" id="sw-add" name="sw-add{{phase}}" type="radio" value="Yes~/live-37/cases/{% if phase %}thomas/cases/{% endif %}/check-application/support-worker/details/type.html" {{ checked("sw-add", "Yes") }}>
                                       <label class="govuk-label govuk-radios__label" for="sw-add">
                                         Yes
                                       </label>
                                     </div>
                                     <div class="govuk-radios__item">
                                       <input class="govuk-radios__input" id="sw-add-2" name="sw-add{{phase}}" type="radio" value="No~/live-37/cases/{% if phase %}thomas/cases/{% endif %}claim#business-case" {{ checked("sw-add"+ phase, "No") }}>
                                       <label class="govuk-label govuk-radios__label" for="sw-add-2">
                                         No
                                       </label>
                                     </div>

                                   </div>

                                 </fieldset>
                         </div>
                             <button class="govuk-button" data-module="govuk-button">
                               Save and continue
                             </button>

                           </form>


                   </main>
                 </div>


               {% endblock %}
