{% set hideBack = true %}
{% set interviewLink = "true" %}
{% extends folder + "/" + subfolder + "/csi/_CSIQUESTION.html" %}
{% set link = "2-unhappy-email" %}

{% if appointee %}
{% set title = "Contact the appointee" %}
{% else %}
{% set title = "Contact the applicant" %}
{% endif %}

{% block csi %}

{% if appointee %}

    <P>Send an email to <strong>{{data['appointee-name'] | default(appointeeDetails.name) | safe }}</strong> to tell them that we will not provide funding
      because we do not think that {{data['csi-info'][2]['firstname']}} {{data['csi-info'][2]['surname']}}’s interview took place on {{ data['csi-info'][2]['interview-date-day'] }} {{ data['csi-info'][2]['interview-date-month'] | toMonth }}
      {{ data['csi-info'][2]['interview-date-year'] }} at {{ data['csi-info'][2]['company-name'] }}.</p>
{% else %}
<P>Send an email to <strong>{{data['csi-info'][2]['firstname']}} {{data['csi-info'][2]['surname']}}</strong> to tell them that we will not provide funding
  because we do not think that their interview took place on {{ data['csi-info'][2]['interview-date-day'] }} {{ data['csi-info'][2]['interview-date-month'] | toMonth }}
  {{ data['csi-info'][2]['interview-date-year'] }} at {{ data['csi-info'][2]['company-name'] }}.</p>
{% endif %}
      <P></p>
        {{ govukButton({
          text: "Open new email",
          classes: "govuk-button--secondary",
          href: "mailto:" + data['csi-info'][2]['email-for-user-research']
        }) }}


    <br>
    </br>
    {{ govukRadios({
        classes: "govuk-radios--inline",
         name: "send",
           fieldset: {
             legend: {
               text: "Have you sent the email?",
               isPageHeading: false,
               classes: "govuk-fieldset__legend--m"
             }
           },
           items: [
             {
               id: "yes",
               value: "yes",
               text: "Yes"
             },
             {
               id: "no",
               value: "no",
               text: "No"
             }
           ]
         }) }}

{% endblock %}
