<h2 class="govuk-heading-l">Application details</h2>




<dl class="govuk-summary-list govuk-summary-list--no-border">

 <div class="govuk-summary-list__row">
   <dt class="govuk-summary-list__key">
     Version of questions
   </dt>
   <dd class="govuk-summary-list__value">
     25.25.0-rc
   </dd>
 </div>
</dl>





            <!-- Sparrow apply journey for Personal details -->
            <h3 class="govuk-heading-m">Personal details</h3>

     {% include "../claim/_personal-details.html"%}
   <!-- Sparrow apply journey for Personal details -->

            <!-- Sparrow apply journey for Condition and Help Needed -->
         <h3 class="govuk-heading-m">Condition and Help Needed</h3>

             {% include "../claim/_condtion-help-needed.html"%}
   <!-- Sparrow apply journey for Condition and Help Needed -->


          <!-- Sparrow apply journey for How to contact -->
         <h3 class="govuk-heading-m">How to contact</h3>


                      {% include "../claim/_how-to-contact.html"%}
            <!-- Sparrow apply journey for How to contact -->





       <p></p>

       <!-- Sparrow apply journey for Job details -->
         <h3 class="govuk-heading-m">Employment details</h3>


          {% include "../claim/_job-details.html"%}

   <!-- Sparrow apply journey for Job details -->





                   <h3 class="govuk-heading-m">Effect of condition on Travel to and from work</h3>
                 <dl class="govuk-summary-list govuk-!-margin-bottom-9">

                 <div class="govuk-summary-list__row">
                   <dt class="govuk-summary-list__key">
                 How do you get to work at the moment?
                   </dt>
                   <dd class="govuk-summary-list__value">
                     <ul class="govuk-list govuk-list--bullet">
                 Car, lift or taxi
                 </ul>
                   </dd>
                   <dd class="govuk-summary-list__actions">
                     <a class="govuk-link" href="#">
                       Change<span class="govuk-visually-hidden"> Effect of condition on Travel to and from work</span>
                     </a>
                   </dd>
                 </div>
                     <div class="govuk-summary-list__row">
                       <dt class="govuk-summary-list__key">
                     Why can't you carry on using your car, getting a lift or a taxi?
                       </dt>
                       <dd class="govuk-summary-list__value">
                         <ul class="govuk-list govuk-list--bullet">
                           Can't continue travelling by car, lift or taxi
                         </ul>
                       </dd>
                       <dd class="govuk-summary-list__actions">
                         <a class="govuk-link" href="#">
                           Change<span class="govuk-visually-hidden"> Why can't you carry on using your car, getting a lift or a taxi?</span>
                         </a>
                       </dd>
                     </div>
                     <div class="govuk-summary-list__row">
                       <dt class="govuk-summary-list__key">
                     How often does your work travel include using your car, getting a lift or a taxi?
                       </dt>
                       <dd class="govuk-summary-list__value">
                         <ul class="govuk-list govuk-list--bullet">
                 5 times a week

                     </ul>
                       </dd>
                       <dd class="govuk-summary-list__actions">
                         <a class="govuk-link" href="#">
                           Change<span class="govuk-visually-hidden"> How often does your work travel include using your car, getting a lift or a taxi?</span>
                         </a>
                       </dd>
                     </div>

                     <div class="govuk-summary-list__row">
                       <dt class="govuk-summary-list__key">
                 Is it impossible for you to get to and from work using any of these?
                       </dt>
                       <dd class="govuk-summary-list__value">
                         <ul class="govuk-list govuk-list--bullet">
                           No, you could use all of these
                         </ul>
                       </dd>
                       <dd class="govuk-summary-list__actions">
                         <a class="govuk-link" href="#">
                           Change<span class="govuk-visually-hidden"> Is it impossible for you to get to and from work using any of these?</span>
                         </a>
                       </dd>
                     </div>



                   </dl>
