<h2 class="govuk-heading-m">   First quote for ZoomText</h2>
        <dl class="govuk-summary-list govuk-!-margin-bottom-9">


        <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">
      Brand
        </dt>
        <dd class="govuk-summary-list__value">
        ZoomText Professional License

        </dd>
        <dd class="govuk-summary-list__actions">
          {% if  changeHide %}  <a href="#">
        Change
        <span class="govuk-visually-hidden"> </span>
        </a>{% endif %}
        </dd>
        </div>

        <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">
      Supplier
        </dt>
        <dd class="govuk-summary-list__value">
        ZoomText Supplier

        </dd>
        <dd class="govuk-summary-list__actions">
          {% if  changeHide %}  <a href="#">
        Change
        <span class="govuk-visually-hidden"> </span>
        </a>{% endif %}
        </dd>
        </div>



        <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">
      Total cost including extra costs, like delivery and VAT
        </dt>
        <dd class="govuk-summary-list__value">
          £501

        </dd>
        <dd class="govuk-summary-list__actions">
          {% if  changeHide %}  <a href="#">
        Change
        <span class="govuk-visually-hidden"> </span>
        </a>{% endif %}
        </dd>
        </div>



</dl>
<h2 class="govuk-heading-m">   Second quote for ZoomText</h2>
        <dl class="govuk-summary-list govuk-!-margin-bottom-9">


          <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
        Brand
          </dt>
          <dd class="govuk-summary-list__value">
          ZoomText Professional License

          </dd>
          <dd class="govuk-summary-list__actions">
            {% if  changeHide %}  <a href="#">
          Change
          <span class="govuk-visually-hidden"> </span>
          </a>{% endif %}
          </dd>
          </div>

          <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
        Supplier
          </dt>
          <dd class="govuk-summary-list__value">
        Real Fake Software Supplier

          </dd>
          <dd class="govuk-summary-list__actions">
            {% if  changeHide %}  <a href="#">
          Change
          <span class="govuk-visually-hidden"> </span>
          </a>{% endif %}
          </dd>
          </div>



        <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">
      Total cost including extra costs, like delivery and VAT
        </dt>
        <dd class="govuk-summary-list__value">
          £502

        </dd>
        <dd class="govuk-summary-list__actions">
          {% if  changeHide %}  <a href="#">
        Change
        <span class="govuk-visually-hidden"> </span>
        </a>{% endif %}
        </dd>
        </div>



</dl>
<h2 class="govuk-heading-m">   Third quote for ZoomText</h2>
        <dl class="govuk-summary-list govuk-!-margin-bottom-9">


          <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
        Brand
          </dt>
          <dd class="govuk-summary-list__value">
          ZoomText Professional License

          </dd>
          <dd class="govuk-summary-list__actions">
            {% if  changeHide %}  <a href="#">
          Change
          <span class="govuk-visually-hidden"> </span>
          </a>{% endif %}
          </dd>
          </div>

          <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
        Supplier
          </dt>
          <dd class="govuk-summary-list__value">
           Software R Us

          </dd>
          <dd class="govuk-summary-list__actions">
            {% if  changeHide %}  <a href="#">
          Change
          <span class="govuk-visually-hidden"> </span>
          </a>{% endif %}
          </dd>
          </div>


        <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">
      Total cost including extra costs, like delivery and VAT
        </dt>
        <dd class="govuk-summary-list__value">
          £503

        </dd>
        <dd class="govuk-summary-list__actions">
          {% if  changeHide %}  <a href="#">
        Change
        <span class="govuk-visually-hidden"> </span>
        </a>{% endif %}
        </dd>
        </div>



</dl>
