{% set link = "../../confirm/1" %}
{% set interviewLink = true %}
{% extends folder + "/" + subfolder + "/csi/_CSIQUESTION.html" %}

{% set title =  "Phone the employer" %}


{% block csi %}


<p>Check that Thomas Brown attended the interview.</p>

<p>Contact Terry Gibson at Tesco on 07192 838 482.</p>


{{ govukRadios({

      classes: "govuk-radios--inline",
       idPrefix: "employer",
       name: "employer",
       fieldset: {
         legend: {
           text: "Has the employer responded?",
           isPageHeading: false,
           classes: "govuk-fieldset__legend--m"
         }
       },
       items: [
         {
           value: "yes",
           text: "Yes"
         },
         {
           value: "no",
           text: "No"
         }
       ]
     }) }}

{% endblock %}
