{% set page = "claim" %}
{% set claim = "true" %}
{% set title = "Case details" %}
{% set view = "tab" %}

{% extends   "payments/sprint-51/claim/_CSIBASE-no-footer.html" %}



{% block csi %}




<!-- <form action="/cases/claim/task-list" method="post" novalidate> -->
<form action="/payments/sprint-51/cases/dereck/cases/check-document/invoice-valid-3-tab#your-tasks" method="post" novalidate>



  <div class="govuk-width-container">
    <main class="govuk-main-wrapper">
      <div class="govuk-grid-row">
        <div class="govuk-grid-column-two-thirds">

<div class="govuk-form-group">

  <fieldset class="govuk-fieldset">

  <legend class="govuk-fieldset__legend govuk-fieldset__legend--l">
    <!-- <span class="govuk-caption-xl">Invoice 1</span> -->
    <h1 class="govuk-fieldset__heading">
      What do you want to name this document?

    </h1>
  </legend>


  <p class="govuk-body">
    <a href="/public/images/S8-Dereck-smith-invoice-3.pdf" target="_blank" class="govuk-link">{% if data['invoice-name-3']%} {{data ['invoice-name-3'] }} {% else %} View document in a new tab. {% endif %}</a>
  </p>
  <div class="govuk-input__wrapper">
    <input class="govuk-input govuk-input--width-10" id="invoice-name-3" name="invoice-name-3" type="text" spellcheck="false" aria-describedby="invoice-name-3" value="{{data ['invoice-name-3'] }}">
  </div>

    <!-- <div id="changed-name-hint" class="govuk-hint">
          Answer yes if you need to ask for any replacement invoices for this claim.<br>
        </div> -->


      </fieldset>
    </div>



               <button class="govuk-button" data-module="govuk-button">
             Save and continue
           </button>
         </form>
       </div>
     </div>


        </main>
        </div>







{% endblock %}
