


    <!-------------- header -->
        <!-- <div class="govuk-grid-column-two-thirds" > -->
<h1 class="govuk-heading-l top-section">
      <strong><span>Adviser: </span></strong>
  {% if phase == "allocator"  %}
  <span class="normal"> Al Ó Catháin  </span>{% else %}
  John Goldsmith
  {% endif %}
    </h1>



<!-------------- csi tables -->
{% macro statusTable(payment="") %}
    <table class="govuk-table">
      <thead class="govuk-table__head">
          <tr class="govuk-table__row">
            <th class="govuk-table__header">Name</th>

            <th class="govuk-table__header">Date submitted</th>
            <th class="govuk-table__header">Interview date</th>
            <th class="govuk-table__header">Status</th>
            <th class="govuk-table__header"></th>
          </tr>
        </thead>
        <tbody>


            <tr class="govuk-table__row">
              <th scope="row" class="govuk-table__header">{{ data['csi-info'][3]['firstname'] }} {{ data['csi-info'][3]['surname'] }}</th>

              <td class="govuk-table__cell">{{data['csi-info'][3]['submission-date']}}</td>
              <td class="govuk-table__cell">{{ data['csi-info'][3]['interview-date-day'] }} {{ data['csi-info'][3]['interview-date-month'] | toMonth }} {{ data['csi-info'][3]['interview-date-year'] }}</td>
              <td class="govuk-table__cell">{% if phase == 'waiting' %}No action needed{% elif not phase and not data['searchlight'] %}New{% else %}Action needed{% endif %}
              <td class="govuk-table__cell"><a href="csi/index{% if payment %}-payment{% else %}{% if phase == "interview" %}-interview{% elif phase == "waiting" %}-waiting{% elif phase == "same-day" %}-same-day{% elif phase == "payment-adviser" %}-payment-adviser{% endif %}{% endif %}">Go to case</a></td>
            </tr>
      </tbody>
    </table>
  {%- endmacro %}





<div class="govuk-grid-row">
  <div class="govuk-grid-column-full">


{% if taskUpdated %}
<div class="container status-message">
<div class="govuk-panel govuk-panel--confirmation">

  <h2 class="govuk-!-font-size-36"><img class="icon" style="height: 1em;
    margin: 0 15px;
    vertical-align: top;
}" src="{{asset_path}}images/icon-tick@2x.png" alt="">Case allocated</h2>


</div></div>
{% endif %}




    {% set csi %}
    <div class="govuk-grid-row">
      <div class="govuk-grid-column-two-thirds">
        <h2 class="govuk-heading-m">CSI cases </h2>
      </div>
    </div>

<form action="/live-27/your-cases#csi" method="post" novalidate for="submitButtonRequestcsi">


  <div class="govuk-grid-column-one-quaters">


    <p class="govuk-body govuk-!-margin-bottom-6"></p>
          <input type="submit" class="govuk-button" id="submitButtonRequestcsi" name="csi-button" value="Request a new CSI case"></form>
      </div>



{% include "./claim/_notification-csi-type-case.html" %}

{% if (phase == "empty" or phase == "allocator")  %}
<br></br></br></br></br></br>
<p>There are currently no CSI Cases.</P>

{% else %}

<table class="govuk-table">
      <thead class="govuk-table__head">
          <tr class="govuk-table__row">
            <th class="govuk-table__header">Name</th>

            <th class="govuk-table__header">Date submitted</th>
            <th class="govuk-table__header">Interview date</th>
            <th class="govuk-table__header">Status</th>
            <th class="govuk-table__header"></th>
          </tr>
        </thead>
        <tbody>


            <tr class="govuk-table__row">
              <th scope="row" class="govuk-table__header">Thomas Brown</th>

              <td class="govuk-table__cell">2 November 2021 13:23</td>
              <td class="govuk-table__cell">9 March 2021</td>
              <td class="govuk-table__cell">New
              </td><td class="govuk-table__cell"><a href="/sprint-13/agreed/csi/index">Go to case</a></td>
            </tr>
      </tbody>
    </table>


{% endif %}

      {% endset -%}




<!-------------- Your priority cases -->

{% set priority %}
<div class="govuk-grid-row">
  <div class="govuk-grid-column-one-third">
    <h2 class="govuk-heading-m">Priority cases </h2>
  </div>

  </div>
<form action="/live-27/your-cases#priority" method="post" novalidate for="submitButtonRequestPriority">
  <div class="govuk-grid-column-one-quaters">

          <div class="govuk-form-group" style="float: left">

      <label class="govuk-label" for="sort">
        Type of case
      </label>
      <select class="govuk-select" id="priority" name="priority">
        <option value="Job"
      {% if 'Job' in data['priority']%}selected{% endif %}>Job start</option>
        <option value="cev"
      {% if 'cev' in data['priority']%}selected{% endif %}> Clinically extremely vulnerable (CEV)</option>
        <option value="Kickstart"
      {% if 'Kickstart' in data['priority']%}selected{% endif %}>Kickstart</option>
        <option value="YPGS"
        {% if 'YPGS' in data['priority']%}selected{% endif %}>Young Person Guarantee Scotland (YPGS)</option>
      </select>
  </div>
  </div>

  <div class="govuk-grid-column-one-third" >

<p class="govuk-body govuk-!-margin-bottom-6"></p>
      <input type="submit" class="govuk-button" id="submitButtonRequestPriority" value="Request a new priority case">

  </div>
</form>

{% include "./claim/_notification-priority-type-case.html" %}

{% if phase == "allocator"  %}
<br></br></br></br></br></br>
<p>You have no cases.</P>

{% else %}
  <table class="govuk-table">
      <thead class="govuk-table__head">
          <tr class="govuk-table__row">
            <th scope="col" class="govuk-table__header">Name</th>
            <!-- <th class="govuk-table__header">Specialism</th> -->
            <th scope="col" class="govuk-table__header">Case type</th>
            <th scope="col" class="govuk-table__header">Priority type</th>
            <th scope="col" class="govuk-table__header">Date submitted</th>
            <th scope="col" class="govuk-table__header"></th>
          </tr>
        </thead>
        <tbody>



            <tr class="govuk-table__row">
              <th scope="row" class="govuk-table__header">Dereck Smith</th>
              <!-- <td class="govuk-table__cell"> 	Pan disability</td> -->
              <td class="govuk-table__cell">New application</td>
              <td class="govuk-table__cell">Clinically extremely vulnerable </td>
              <td class="govuk-table__cell">2 June 2022  11:57</td>
              <td class="govuk-table__cell"><a href="cases/claim{% if phase == "allocator"%}-allocator{% endif %}{% if phase == "case-manger-view"%}-case-manager-view{% endif %}">Go to case</a></td>
            </tr>




      </tbody>
    </table>

{% endif %}

    {% endset -%}


<!-------------- Your other cases -->
      {% set other %}
      <div class="govuk-grid-row">
        <div class="govuk-grid-column-one-third">
          <h2 class="govuk-heading-m">Other cases </h2>
        </div>
        </div>
<form action="/live-27/your-cases#other" method="post" novalidate for="submitButtonRequestother">
        <div class="govuk-grid-column-one-quaters">

          <div class="govuk-form-group" style="float: left">
            <label class="govuk-label" for="sort">
              Type of case
            </label>
            <select class="govuk-select" id="other" name="other">
              <option value="any"
                {% if 'any' in data['other']%}selected{% endif %}>Any</option>
              <option value="new"
              {% if 'new' in data['other']%}selected{% endif %} >New application</option>
              <option value="renewal"
              {% if 'renewal' in data['other']%}selected{% endif %}>Renewal</option>

            </select>
        </div>
        </div>

        <div class="govuk-grid-column-one-third" >
      <p class="govuk-body govuk-!-margin-bottom-6"></p>
            <input type="submit" class="govuk-button" id="submitButtonRequestother" value="Request a new other case"></form>

        </div>


{% include "./claim/_notification-other-type-case.html" %}

      {% if phase == "allocator" %}
      <br></br></br></br></br></br>
      <p>You have no cases.</P>
      {% else %}
      <table class="govuk-table">
        <thead class="govuk-table__head">
            <tr class="govuk-table__row">
              <th class="govuk-table__header">Name</th>
              <!-- <th class="govuk-table__header">Specialism</th> -->
              <th class="govuk-table__header">Case type</th>
              <th class="govuk-table__header">Date submitted</th>
              <th class="govuk-table__header"></th>
            </tr>
          </thead>
          <tbody>
                      <tr class="govuk-table__row">
                        <th scope="row" class="govuk-table__header">Sonya Corkery</th>
                        <!-- <td class="govuk-table__cell">{{ case.specialism }}</td> -->
                        <td class="govuk-table__cell">{% for case in data['other-cases'] %}{{ case.type }}{% endfor %}</td>
                        <td class="govuk-table__cell">  {% for case in data['other-cases'] %}{{ case.dos }}{% endfor %} 11:57</td>
                        <td class="govuk-table__cell"><a href="/live-27/cases/sonya/cases/claim">Go to case</a></td>
                          <!-- cases/claim-sonya{% if phase == "allocator"%}-allocator{% endif %} -->
                      </tr>
                      <tr class="govuk-table__row">
                        <th scope="row" class="govuk-table__header">  Thomas King</th>
                        <!-- <td class="govuk-table__cell">{{ case.specialism }}</td> -->
                        <td class="govuk-table__cell">{% for case in data['other-cases-2'] %}{{ case.type }}{% endfor %}</td>
                        <td class="govuk-table__cell">  {% for case in data['other-cases-2'] %}{{ case.dos }}{% endfor %} 11:15</td>
                        <td class="govuk-table__cell"><a href="/live-27/cases/thomas/cases/claim">Go to case</a></td>
                          <!-- cases/claim-sonya{% if phase == "allocator"%}-allocator{% endif %} -->
                      </tr>

            {% for case in cases %}


            {% endfor %}



        </tbody>
      </table>

      {% endif %}
        {% endset -%}



<!-------------- Your documents -->
  {% set doc %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-one-third">
      <h2 class="govuk-heading-m">Your documents </h2>
    </div>
  </div>
    <div class="govuk-grid-column-one-quaters">

      <div class="govuk-form-group" style="float: left">
        <label class="govuk-label" for="sort">
          Type of document
        </label>
        <select class="govuk-select" id="sort" name="sort">
          <option value="published" selected >Generic</option>
          <option value="updated" >Complex</option>
          <option value="views">TESG</option>
          <option value="comments">CSI</option>
        </select>
    </div>
    </div>

    <div class="govuk-grid-column-one-third" >
  <p class="govuk-body govuk-!-margin-bottom-6"></p>
        <input type="submit" class="govuk-button" id="submitButtonRequestNewDocument" value="Request a document" style="float: left">

    </div>
<br></br></br></br></br></br>
<p>There are no documents allocated to you</p>
{% endset -%}



<!-------------- tabs -->
{% if phase == "allocator" %}
{{ govukTabs({
  items: [

    {
      label: "Your other cases (0)",
      id: "other",
      panel: {
        html: other
      }
    },
    {
      label: "Your priority cases (0)",
      id: "priority",
      panel: {
        html: priority
      }
    },
    {
      label: "Your CSI cases (0)",
      id: "csi",
      panel: {
        html: csi
      }
    },
    {

      label: "Your documents (0)",
      id: "in-disc",
      panel: {
        html: doc
      }
    }
  ]
}) }}
{% else %}

    {{ govukTabs({
      items: [

        {
          label: "Your other cases (2)",
          id: "other",
          panel: {
            html: other
          }
        },
        {
          label: "Your priority cases (1)",
          id: "priority",
          panel: {
            html: priority
          }
        },
        {
          label: "Your CSI cases (1)",
          id: "csi",
          panel: {
            html: csi
          }
        },
        {

          label: "Your documents (0)",
          id: "in-disc",
          panel: {
            html: doc
          }
        }
      ]
    }) }}
{% endif %}


  </div>
</div>
