{% set page = "claim" %}
{% set claim = "true" %}
{% set title = "Case details" %}

{% extends folder + "/claim/_CSIBASE.html" %}
{% extends folder + "/claim/_CSIBASE.html" %}
{% if not number or (number == 'undefined') %}
{% set number = 1 %}
{% endif %}
{% block csi %}
<br>




<form action="" method="post" novalidate>


  <div class="govuk-width-container">


    <main class="govuk-main-wrapper">

      <div class="govuk-grid-row">
        <div class="govuk-grid-column-two-thirds">


              <h2 class="govuk-heading-xl">Email the {% if data['appointee']=='Yes, I need to add an appointee'%}appointee {% else %}applicant{% endif %}</h2>

          <form action="unhappy-email" method="post" novalidate="">





            {% if data['clear']=='No' %}{% else %}
              {% include  "live-19/claim/notification-contact.html" %}{% endif %}



            <p>Send an email to
              {% if data['appointee']=='Yes, I need to add an appointee'%} {{data['appointee-name']}}{% else %}Dereck Smith{% endif %}
              about {% if data['appointee']=='Yes, I need to add an appointee'%}Dereck Smith’s{% else %}their{% endif %} application.</p>




            <a href="mailto:  {% if data['appointee']=='Yes, I need to add an appointee'%}{{data['appointee-email']}}{% else %}{% if data['email']%}{{data['email']}}{% else %}dereck@gmail.com{% endif %}{% endif %}" role="button" draggable="false" class="govuk-button govuk-button--secondary" data-module="govuk-button">
              Open new email
            </a>




           <!--  end appointee details -->




















          <br>
          <br>









          <div class="govuk-form-group">

            <fieldset class="govuk-fieldset">

            <legend class="govuk-fieldset__legend govuk-fieldset__legend--m">

              Have you sent the email?

            </legend>


            <div class="govuk-radios govuk-radios--inline">




                  <div class="govuk-radios__item">
                    <input class="govuk-radios__input" id="yes" name="asked-info-email" type="radio" value="yes~/live-19/cases/contact/{{number}}/happy-email">
                    <label class="govuk-label govuk-radios__label" for="yes">
                  Yes
                </label>

                  </div>



                  <div class="govuk-radios__item">
                    <input class="govuk-radios__input" id="no" name="asked-info-email" type="radio" value="no~/live-19/cases/contact/{{number}}/unhappy-email">
                    <label class="govuk-label govuk-radios__label" for="no">
                  No
                </label>

                  </div>




            </div>


          </fieldset>


          </div>





          <!-- option to override the default 'continue' text on the button by setting a variable called 'customNext' -->






          <button class="govuk-button" data-module="govuk-button">
             Save and continue
          </button>


          </form>


          <!-- <p><a href="/live-1/agreed/csi/index" class="govuk-link govuk-link--no-visited-state">Return to tasks</a></p> -->

          </div>
          </div>


</div>

        </main>
        </div>



{% endblock %}
