{% set page = "claim" %}
{% set claim = "true" %}
{% set title = "Case details" %}
{% set changeHide = "true" %}
{% extends folder + "/claim/_CSIBASE.html" %}

{% block csi %}
<br>
<form action="/live-14/cases/check-application/sae/details/1" method="post" novalidate>
<div class="govuk-width-container">


  <main class="govuk-main-wrapper " id="main-content" role="main">
    <div class="govuk-grid-row">
      <div class="govuk-grid-column-two-thirds">
      <h1 class="govuk-heading-l">

                     Support details</h1>


      <h2 class="govuk-heading-m">

                     Specialist equipment</h2>

{% if data['sae-item-type']%}
<dl class="govuk-summary-list govuk-!-margin-bottom-9">




<div class="govuk-summary-list__row">
<dt class="govuk-summary-list__key">
Is this item a wheelchair or a hearing aid?
</dt>
<dd class="govuk-summary-list__value">
Other
</dd>
<dd class="govuk-summary-list__actions">
  {% if  changeHide %}  <a href="#">
Change
<span class="govuk-visually-hidden"> Do you know what specialist equipment you need?</span>
</a>{% endif %}
</dd>
</div>

<div class="govuk-summary-list__row">
<dt class="govuk-summary-list__key">
What type of specialist equipment do you need?
</dt>
<dd class="govuk-summary-list__value">
Jaws
<br>

<br>

<br>
</dd>
<dd class="govuk-summary-list__actions">
  {% if  changeHide %}  <a href="#">
Change
<span class="govuk-visually-hidden"> Do you know what specialist equipment you need?</span>
</a>{% endif %}

</dd>
</div>
<div class="govuk-summary-list__row">
<dt class="govuk-summary-list__key">
Do you need to add another item?
</dt>
<dd class="govuk-summary-list__value">
{{data['sae-add']}}

</dd>
<dd class="govuk-summary-list__actions">
  {% if  changeHide %}  <a href="#">
Change
<span class="govuk-visually-hidden"> Do you know what specialist equipment you need?</span>
</a>{% endif %}

</dd>
</div>
<div class="govuk-summary-list__row">
<dt class="govuk-summary-list__key">
How will this equipment help you at work?
</dt>
<dd class="govuk-summary-list__value">

dsa
<br>
</dd>

<dd class="govuk-summary-list__actions">
  {% if  changeHide %}  <a href="#">
Change
<span class="govuk-visually-hidden"> Do you know what specialist equipment you need?</span>
</a>{% endif %}


</dd>
</div>
</dl>
{% else %}
  {% include "live-14/claim/_sae.html"%}{% endif %}

  <button class="govuk-button govuk-button--secondary" data-module="govuk-button">
    Add more details
  </button>
  </form>
<form action="/live-14/cases/claim#your-tasks" method="post" novalidate>
  <div class="govuk-form-group">
              <fieldset class="govuk-fieldset">
                <legend class="govuk-fieldset__legend govuk-fieldset__legend--m">
                      {% include  "./content/more-information.html" %}

                </legend>
                <div class="govuk-radios govuk-radios--inline" data-module="govuk-radios">
                  <div class="govuk-radios__item govuk-radios--inline">
                    <input class="govuk-radios__input" id="sae-check" name="sae-check" type="radio" value="Yes" {{ checked("sae-check", "Yes") }}>
                    <label class="govuk-label govuk-radios__label" for="sae-check">
                      Yes
                    </label>
                  </div>
                  <div class="govuk-radios__item">
                    <input class="govuk-radios__input" id="sae-check-2" name="sae-check" type="radio" value="No" {{ checked("sae-check", "No") }}>
                    <label class="govuk-label govuk-radios__label" for="sae-check-2">
                      No
                    </label>
                  </div>

                </div>

              </fieldset>
      </div>
          <button class="govuk-button" data-module="govuk-button">
            Save and continue
          </button>

        </form>
        </div>
      </div>
    </main>
  </div>


{% endblock %}
