{% set link = "3" %}

{% extends folder + "/" + subfolder + "/csi/_CSIQUESTION.html" %}
{% set redirect = [{id : "yes", page: "2-appointee" }, {id: "no", page: link }] %}

{% set title =  "Does " + data['csi-info'][0]['name']  + " have an appointee?" %}

{% block csi %}

<p>Use Searchlight to check  if {{ data['csi-info'][0]['name'] | safe }} has an appointee.</p>


{{ govukRadios({
       name: "appointee",

       items: [
         {
           id: "yes",
           value: "yes",
           text: "Yes"
         },
         {
           id: "no",
           value: "no",
           text: "No"
         }
       ]
     }) }}

{% endblock %}
