{% set page = "claim" %}
{% set claim = "true" %}
{% set title = "Case details" %}

{% extends folder + "/claim/_CSIBASE.html" %}



{% block csi %}

<br>




<!-- <form action="/cases/claim/task-list" method="post" novalidate> -->
<form action="/payments/sprint-13/your-cases" method="post" novalidate>


  <div class="govuk-width-container">
    <main class="govuk-main-wrapper">
      <div class="govuk-grid-row">
        <div class="govuk-grid-column-two-thirds">

          <div class="govuk-panel govuk-panel--confirmation">
            <h1 class="govuk-panel__title">
              Payment complete
            </h1>
            <div class="govuk-panel__body">
              <!-- Your reference number<br><strong>HDJ2123F</strong> -->
            </div>
          </div>
          <br>
          <br>




      <div class="govuk-form-group">
      <!-- <legend class="govuk-fieldset__legend govuk-fieldset__legend--l">
        <h2 class="govuk-heading-m">
          Is the payee in SOP?
        </h2>
      </legend>
      <div class="govuk-radios" data-module="govuk-radios">
        <div class="govuk-radios__item">
          <input class="govuk-radios__input" id="sop-find-1" name="sop-find" type="radio" value="yes~sop-match" {{ checked("sop-find", "Yes") }}> -->
          <!-- <input class="govuk-radios__input" id="found-nino" name="found-nino" type="radio" value="Yes~./add-national-insurance-number" {{ checked("found-nino", "Yes") }}> -->
          <!-- <label class="govuk-label govuk-radios__label" for="sop-find-1">
            Yes
          </label>
        </div>
        <div class="govuk-radios__item">
          <input class="govuk-radios__input" id="sop-find-2" name="sop-find" type="radio" value="No~claim#your-tasks" {{ checked("sop-find", "No") }}>
          <label class="govuk-label govuk-radios__label" for="sop-find-2">
            No
          </label>
        </div>
      </div> -->

    </fieldset>
    </div>
    <div class="govuk-button-group">
        <button class="govuk-button" data-module="govuk-button">
          Save and continue
        </button>
      </form>
     </div>
   </div>


      </main>
      </div>







{% endblock %}
