{% set page = "claim" %}
{% set claim = "true" %}
{% set title = "Case details" %}

{% extends folder + "/claim/_CSIBASE.html" %}

{% block csi %}


<form action="" method="post" novalidate>


  <div class="govuk-width-container">
    <!-- <a href="#" class="govuk-back-link">Back</a> -->

    <main class="govuk-main-wrapper">

      <div class="govuk-grid-row">
        <div class="govuk-grid-column-two-thirds">

  <div class="govuk-form-group">
             <fieldset class="govuk-fieldset">
               <legend class="govuk-fieldset__legend govuk-fieldset__legend--l">
                 <h2 class="govuk-fieldset__heading">
Is {% if phase == "john" %}John Smith{% endif %}{% if phase == "sonya" %}Sonya Corkery{% endif %}{% if not phase %}Dereck Smith{% endif %} available for a workplace assessment in the next 4 weeks?
                 </h2>
               </legend>




               <p>Consider weekdays up to and including <strong><span id="future-date"></span></strong>. Exclude public holidays.




<script>
//get todays Date
var today = new Date();
var days = 0;
var futureDate = new Date();

//Add 8 weekdays to todays Date
while (days < 30) {
  futureDate.setDate(futureDate.getDate() + 1);
  var day = futureDate.getDay();
  if (day !== 0 && day !== 6) {
    days++;
}
}

//formate
var options = { day: 'numeric', month: 'long', year: 'numeric'
};
var formattedDate = futureDate.toLocaleDateString('en-GB', options);

// Display the future date on the page
document.getElementById("future-date").innerHTML =
formattedDate;
</script>




               <div class="govuk-radios ">
                 <div class="govuk-radios__item">
                   <input class="govuk-radios__input" id="wpa-4-weeks" name="wpa-4-weeks" type="radio" value="Yes~earliest-date-availability" {{ checked("wpa-4-weeks", "Yes") }}>
                   <label class="govuk-label govuk-radios__label" for="wpa-4-weeks">
                    Yes
                   </label>
                 </div>
                  <div class="govuk-radios__item">
                 <input class="govuk-radios__input" id="wpa-4-weeks" name="wpa-4-weeks" type="radio" value="No~pause" {{ checked("wpa-4-weeks", "No") }}>
                 <label class="govuk-label govuk-radios__label" for="wpa-4-weeks">
                  No
                 </label>
               </div>


               <div class="govuk-radios__item">
              <input class="govuk-radios__input" id="wpa-4-weeks" name="wpa-4-weeks" type="radio" value="I’m waiting for an answer~/live-atwis/0/cases/claim#wpa" {{ checked("wpa-4-weeks", "I’m waiting for an answer") }}>
              <label class="govuk-label govuk-radios__label" for="wpa-4-weeks">
            I’m waiting for an answer
              </label>
            </div>

                 </fieldset>
               </div>


           <button class="govuk-button" data-module="govuk-button">
             Save and continue
           </button>
         </form>
       </div>
     </div>


   </main>
   </div>



{% endblock %}
