{% extends "layout.html" %}

{% block content %}


<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <h1 class="govuk-heading-xl">

      <span class="govuk-caption-xl"></span>

</h1>

<p>Jump to page:</p>
  <ul class="govuk-list">
    <p class="govuk-body-l">Case manager view</p>
    <li>
      <a class="govuk-link" href="your-cases.html">Your cases - User type: Case manager (0 cases)</a>
    </li>
    <li>
      <a class="govuk-link" href="your-cases-inprogress.html">Your cases - User type: Case manager (Cases)</a>
    </li>
    <li>
      <a class="govuk-link" href="/live-atwis/1/cases/harold/cases/summary.html">Example cases - Harold - User type: Case manager</a>
    </li>



<br>

    <li>
      <a class="govuk-link" href="search.html">Search</a>
    </li>
    <li>
      <a class="govuk-link" href="cases-search/harold/cases/summary.html">Search example case - User type: Case manager </a>
    </li>
    <li>
      <a class="govuk-link" href="cases-search/harold/cases/summary_teamleader.html">Search cases - User type: Team Leader</a>
    </li>
    <br>




{% endblock %}
