{% extends "layout.html" %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <h1 class="govuk-heading-xl">

      <span class="govuk-caption-xl"></span>

</h1>

<p>Jump to section on page:</p>
  <ul class="govuk-list">
    <li>
      <a class="govuk-link" href="your-cases.html">Your cases</a>
    </li>
    <li>
      <a class="govuk-link" href="search.html">Search</a>
    </li>
    <li>
      <a class="govuk-link" href="claim.html">Claim</a>
    </li>
    <li>
      <a class="govuk-link" href="nino-searchlight/check-searchlight.html">Is Dereck Smith in Searchlight?</a>
    </li>
    <li>
      <a class="govuk-link" href="nino-searchlight/find-national-insurance-number.html">Have you found Dereck Smith’s National Insurance number in Searchlight?</a>
    </li>
    <li>
      <a class="govuk-link" href="nino-searchlight/add-national-insurance-number.html">Add Dereck Smith’s National Insurance number from Searchlight?</a>
    </li>

  </ul>
</div>

{% endblock %}
