{% set page = "claim" %}
{% set claim = "true" %}
{% set title = "Case details" %}

{% extends folder + "/claim/_CSIBASE.html" %}

{% block csi %}


<form action="address-of-wpa" method="post" novalidate>


  <div class="govuk-width-container">
    <!-- <a href="#" class="govuk-back-link">Back</a> -->

    <main class="govuk-main-wrapper">

      <div class="govuk-grid-row">
        <div class="govuk-grid-column-two-thirds">


          <div class="govuk-form-group">
            <h2 class="govuk-label-wrapper"><label class="govuk-label govuk-label--l" for="availability-wpa">
    {% include  "./content/days-available.html" %}
              </label>

        <p> Provide details of Dereck Smith's availability between 8am and  6pm on the following days:</p>

<ul id="future-dates" class="govuk-list govuk-list--bullet"></ul>
  <script>
    const today = new Date();
    let days = 0;
    let futureDate = new Date();
    const dateList = [];

    // Add 2 weekdays to today's date
    while (days < 2) {
      futureDate.setDate(futureDate.getDate() + 1);
      const day = futureDate.getDay();
      if (day !== 0 && day !== 6) {
        days++;
        dateList.push(new Date(futureDate));
      }
    }

    // Display the future dates on the HTML page
    const list = dateList
      .map(
        date =>
          `<li>${date.toLocaleDateString("en-GB", {
            day: "numeric",
            month: "long",
            year: "numeric"
          })}</li>`
      )
      .join("");
    document.getElementById("future-dates").innerHTML = list;
  </script>




            <textarea class="govuk-textarea" id="availability-wpa" name="availability-wpa" rows="5" aria-describedby="availability-wpa-hint"></textarea>
          </div>






           <button class="govuk-button" data-module="govuk-button">
             Save and continue
           </button>
         </form>
       </div>
     </div>


   </main>
   </div>



{% endblock %}
