{% set interviewDetails =  true  %}
{% set hideChange = true %}
{% extends folder + "/" + subfolder + "/csi/_CSIQUESTION.html" %}

{% if data['personal'] == 'no' or data['company'] == 'no' or data['interview'] == 'no' %}
{% set link = "unhappy-2" %}
{%  else  %}
{% set link = "../2-send/1" %}
{% endif %}

{% set redirect = [{id : "no", page: "unhappy-2" }, {id: "yes", page: link}] %}


{% set title =  "Check interview details" %}


{% block csi %}


{% include folder + "/" + subfolder + "/csi/_CLAIMDETAILS.html" %}

{% set conditionalText %}
{{ govukTextarea({
  name: "more-detail-5",
  id: "more-detail",
  value: data['more-detail-5'],
  label: {
    text: "What do you need to contact the applicant about?"
  },
  hint: {
    text: "You will be able to use these notes when you contact the applicant."
  }
}) }}
{% endset -%}
<br>
{{ govukRadios({
  classes: "govuk-radios--inline",
       idPrefix: "interview",
       name: "interview",
       fieldset: {
         legend: {
           text: "Are these details complete and the cost reasonable?",
           isPageHeading: false,
           classes: "govuk-fieldset__legend--m"
         }
       },
       hint: {
  html: "You can fix any small errors or mistakes in the <a href='../claim#interview'>Case details tab</a>."
  },
       items: [
       {
         id: "yes",
         value: "yes",
         checked: checked('interview', "yes"),
         text: "Yes"
       },
         {
           id: "no",
           value: "no",
           text: "No, I need to contact the applicant",
           checked: checked('interview', "no"),
           conditional: {
             html: conditionalText
           }
         }
       ]
     }) }}

{% endblock %}
