{% set page = "claim" %}
{% set claim = "true" %}
{% set title = "Case details" %}

{% extends folder + "/claim/_CSIBASE.html" %}

{% block csi %}
<br>




<form action="/live-17/cases/case-not-appropriate-for-atwis/task-list#your-tasks" method="post" novalidate>

<div class="govuk-width-container">
<main class="govuk-main-wrapper " id="main-content" role="main">
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

  <div class="govuk-form-group">
    <h1 class="govuk-heading-l">
    Based on your last answer, this case must be copied into DiSC
  </h1>
<!-- review the 'in principle' content-->

<!-- <dl class="govuk-summary-list ">
  <div class="govuk-summary-list__row">
    <dt class="govuk-summary-list__key">
    Is this equipment classed as an adaptation?
    </dt>
    <dd class="govuk-summary-list__value">
      Yes
    </dd>
  </div>

</dl> -->
             <p class="govuk-body"> ATWIS cannot process this type of case yet.</p>
             <p>Copy the details from your tasks into DiSC to continue with Dereck Smith’s case.</p>




                 </form>
           <button class="govuk-button" data-module="govuk-button" name="copy-to-disc" value="true">
             Return to your tasks
           </button>
<p class="govuk-body">You can <a href="javascript:history.go(-1)">change your last answer if it was incorrect</a>. </p>
<!-- <dl class="govuk-summary-list">
  <div class="govuk-summary-list__row">
    <dt class="govuk-summary-list__key">
  Is this equipment classed as an adaptation?
    </dt>
    <dd class="govuk-summary-list__value">
      Yes
    </dd>
    <dd class="govuk-summary-list__actions">
      <a class="govuk-link" href="#">
        Change<span class="govuk-visually-hidden"> name</span>
      </a>
    </dd>
  </div>

</dl> -->
         </div>
       </div>
     </main>
   </div>


{% endblock %}
