

<dl class="govuk-summary-list govuk-!-margin-bottom-9">



<div class="govuk-summary-list__row">
<dt class="govuk-summary-list__key">
Does your condition mean that you need a support worker at work?
</dt>
<dd class="govuk-summary-list__value">
Yes
</dd>
<dd class="govuk-summary-list__actions">
  {% if  changeHide %}  <a href="#">
Change
<span class="govuk-visually-hidden"> Does your condition mean that you need a support worker at work?</span>
</a>{% endif %}
</dd>
</div>



<div class="govuk-summary-list__row">
<dt class="govuk-summary-list__key">
Do you know what type of support worker you need?
</dt>
<dd class="govuk-summary-list__value">
Yes, I know what I need
</dd>
<dd class="govuk-summary-list__actions">

</dd>
</div>


</dl>



      <dl class="govuk-summary-list govuk-!-margin-bottom-9">

<div class="govuk-summary-list__row">
<dt class="govuk-summary-list__key">
Type of support worker
</dt>
<dd class="govuk-summary-list__value">
Notetaker
</dd>
<dd class="govuk-summary-list__actions">
  {% if  changeHide %}  <a href="#">
Change
<span class="govuk-visually-hidden"> Main role of support worker</span>
</a>{% endif %}
</dd>
</div>

<div class="govuk-summary-list__row">
<dt class="govuk-summary-list__key">
How will a support worker help you at work?
</dt>
<dd class="govuk-summary-list__value">

I have one hours a day where I need to communicate face to face with clients. As my first language is BSL, I need a someone to take notes.
</dd>
<dd class="govuk-summary-list__actions">

<a href="#">
{% if edit == 'true' %}Add more details{% endif %}
<span class="govuk-visually-hidden"> How will a support worker help you at work?</span>
</a>
</dd>
</div>
<div class="govuk-summary-list__row">
<dt class="govuk-summary-list__key">
Will you need a support worker on a temporary basis?
</dt>
<dd class="govuk-summary-list__value">
   No, I need a support worker on a permanent basis
<br>

<br>

<br>
</dd>
<dd class="govuk-summary-list__actions">

 <a href="#">
{% if edit == 'true' %}Update{% endif %}
<span class="govuk-visually-hidden"> What type of specialist equipment do you need?</span>
</a>
</dd>
</div>

<div class="govuk-summary-list__row">
<dt class="govuk-summary-list__key">
How many hours per week do you need this support at work?
</dt>
<dd class="govuk-summary-list__value">

{% if data['support-worker-hour-per-week']%}{{data['support-worker-hour-per-week']}}{% else %}37{% endif %} hours per week<br>
Works 37 hours per week
</dd>

<dd class="govuk-summary-list__actions">

<a href="/live-atwis/0/cases/anahi/cases/check-application/support-worker/details/hours-per-week">
{% if edit == 'true' %}Update{% endif %}
<span class="govuk-visually-hidden"> How many hours per week do you need this support at work?</span>
</a>

</dd>
</div>


<!-- </dl> -->

      <!-- <h2 class="govuk-heading-m">Support worker 2</h2>

      <dl class="govuk-summary-list govuk-!-margin-bottom-9">

<div class="govuk-summary-list__row">
<dt class="govuk-summary-list__key">
Type of support worker
</dt>
<dd class="govuk-summary-list__value">
Note taker
</dd>
<dd class="govuk-summary-list__actions">
 <a href="#">

<span class="govuk-visually-hidden"> Main role of support worker</span>
</a>
</dd>
</div>

<div class="govuk-summary-list__row">
<dt class="govuk-summary-list__key">
How will a support worker help you at work?
</dt>
<dd class="govuk-summary-list__value">

I have one hour a day where I need to communicate face to face with clients. As my first language is BSL, I need a note taker to annotate communicate for others.
</dd>
<dd class="govuk-summary-list__actions">

  <a href="#">
{% if edit == 'true' %}Add more details{% endif %}
<span class="govuk-visually-hidden"> How will a support worker help you at work?</span>
</a>
</dd>
</div>
<div class="govuk-summary-list__row">
<dt class="govuk-summary-list__key">
Will you need a support worker on a temporary basis?
</dt>
<dd class="govuk-summary-list__value">
   No, I need a support worker on a permanent basis
<br>

<br>

<br>
</dd>
<dd class="govuk-summary-list__actions">

 <a href="#">
{% if edit == 'true' %}Update{% endif %}
<span class="govuk-visually-hidden"> What type of specialist equipment do you need?</span>
</a>
</dd>
</div>

<div class="govuk-summary-list__row">
<dt class="govuk-summary-list__key">
How many hours per week do you need this support at work?
</dt>
<dd class="govuk-summary-list__value">

5 hours per week<br>
Works 37 hours per week
</dd>

<dd class="govuk-summary-list__actions">

 <a href="#">
{% if edit == 'true' %}Update{% endif %}
<span class="govuk-visually-hidden"> How many hours per week do you need this support at work?</span>
</a>

</dd>
</div> -->










<div class="govuk-summary-list__row">
<dt class="govuk-summary-list__key">
Do you need another support worker?
</dt>
<dd class="govuk-summary-list__value">

No
</dd>

<dd class="govuk-summary-list__actions">

  {% if  changeHide %}  <a href="#">
Change
<span class="govuk-visually-hidden"> Do you need another support worker?</span>
</a>{% endif %}

</dd>
</div>



</dl>
