{% extends "layout_unbranded.html" %}

{% block pageTitle %}
Handover
{% endblock %}

{% block content %}

<h1 class="govuk-heading-l" >[Scenario 2: adviser]</h1>

<p>[Handover to the adviser.]</p>

<p>[You've been told that you've been transferred a Communication Support at Interview case where the invoice amount is higher than the quote. The case is on ATWIS.]</p>

<a class="govuk-button govuk-button--secondary" href="agreed/your-cases-payment-adviser" data-module="govuk-button">
  Go to your cases for adviser
</a>

<p><a href="index">Back to index</a></p>



{% endblock %}
