// global styles for <a> and <p> tags
$govuk-global-styles: true;

// We can't mount GOV.UK Frontend's assets at root as it's done automatically by the extensions framework.
$govuk-assets-path: '/govuk/assets/';

// Import GOV.UK Frontend and any extension styles if extensions have been configured
@import "lib/extensions/extensions";

// Patterns that aren't in Frontend
@import "patterns/step-by-step-navigation";
@import "patterns/task-list";
@import "patterns/task-list-new";
@import "patterns/related-items";
@import "components/nav";
@import "components/new-nav";
@import "components/masthead";
@import "components/update-panel";
@import "components/sub-tabs";
@import "components/hmrc-add-to-list";

@import "components/key-details";

// Components that aren't in Frontend
@import "components/cookie-banner";

@import "components/timeline-moj";
@import "components/smart-cards";

.dwp-quick-reference {
  margin: 15px 0;
  color: #0b0c0c;
  font-family: Helvetica, Arial, sans-serif;
  word-break: break-word;
  width: 100%;
  padding: 20px 0;
}

.dwp-quick-reference__content {
  max-width: 66.67%;
  margin: 0 auto;
}
.dwp-quick-reference:first-child {
  margin-top: 0;
}
.dwp-quick-reference--alternative {
  margin-left: -15px;
  padding: 15px 15px 5px;
  color: #ffffff;
  background: #1d70b8;
}
@media (max-width: 40.0525em) {
  .dwp-quick-reference--alternative {
    margin-right: -15px;
  }
}
.dwp-quick-reference__block {
  margin: 0;
  padding: 0;
  max-width: 1290px;
  margin: 0 auto;
}
.dwp-quick-reference__label {
  font-family: Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-weight: 700;
  font-size: 1px;
  line-height: 1.25;
  margin: 0;
  padding: 0 10px 0 0;
  float: left;
}
@media print {
  .dwp-quick-reference__label {
    font-family: sans-serif;
  }
}
@media (min-width: 40.0625em) {
  .dwp-quick-reference__label {
    font-size: 1.1875rem;
    line-height: 1.3157894737;
  }
}
@media print {
  .dwp-quick-reference__label {
    font-size: 14pt;
    line-height: 1.15;
  }
}
.dwp-quick-reference__label:has(+ .dwp-quick-reference__status) {
  padding-top: 5px;
}
@media (max-width: 25em) {
  .dwp-quick-reference__label {
    padding-bottom: 4px;
    float: none;
  }
}
.dwp-quick-reference__primary {
  font-family: Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-weight: 700;
  font-size: 1.125rem;
  line-height: 1.1111111111;
  margin: 0;
  padding-bottom: 10px;
}
@media print {
  .dwp-quick-reference__primary {
    font-family: sans-serif;
  }
}
@media (min-width: 40.0625em) {
  .dwp-quick-reference__primary {
    font-size: 1.6875rem;
    line-height: 1.1111111111;
  }
}
@media print {
  .dwp-quick-reference__primary {
    font-size: 18pt;
    line-height: 1.15;
  }
}
@media (max-width: 40.0525em) {
  .dwp-quick-reference__primary {
    font-size: 20px;
  }
}
.dwp-quick-reference__secondary {
  font-family: Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-weight: 400;
  font-size: 1rem;
  line-height: 1.25;
  margin: 0;
  padding-bottom: 10px;
}
@media print {
  .dwp-quick-reference__secondary {
    font-family: sans-serif;
  }
}
@media (min-width: 40.0625em) {
  .dwp-quick-reference__secondary {
    font-size: 1.1875rem;
    line-height: 1.3157894737;
  }
}
@media print {
  .dwp-quick-reference__secondary {
    font-size: 14pt;
    line-height: 1.15;
  }
}
.dwp-quick-reference__status {
  margin: 0;
  margin-top: 5px;
  margin-bottom: 15px;
}
.dwp-quick-reference__status .govuk-tag {
  max-width: 260px;
}
.dwp-quick-reference__status--white {
  color: #1d70b8;
  background-color: #ffffff;
}

.dwp-quick-reference--reduced {
  margin-bottom: 15px;
}
.dwp-quick-reference--reduced .dwp-quick-reference__label {
  float: none;
}
@media (max-width: 40.0525em) {
  .dwp-quick-reference--reduced .dwp-quick-reference__label {
    margin-bottom: 3px;
  }
  .dwp-quick-reference--reduced .dwp-quick-reference__label:has(+ .dwp-quick-reference__status) {
    margin-bottom: 7px;
    padding-top: 0;
}
}


// Add extra styles here, or re-organise the Sass files in whichever way makes most sense to you
.dwp-image {
  display: block;
  margin-left: auto;
  margin-right: 100;
  width: 10%;
}
#ad-helpline {
    border-top: 3px solid #2ba197;
    padding-top: 15px;
}

.table-clickable tbody tr:hover {
  background-color: #F8F8F8;
  cursor: pointer;
}

$selected-colour: #FFECC7;

.table-clickable tbody tr.checked {
  background-color: #FFECC7;
}

.table-clickable tbody tr.checked:hover {
  background-color: darken(#FFECC7, 5%);
}

.table-clickable {

  .multiple-choice--hod {
/*   padding: 0.9em 0 0 1.05263em; */
padding-left: 10px;
  margin: 0;

  }
}

.not-error {
  border-color: #1d70b8 !important;
}

.prototype-email-table {
	@include govuk-font($size: 19);
	@include govuk-text-colour;
	.prototype-email-table-row {
		@include govuk-responsive-padding(4, 'top');
		@include govuk-responsive-padding(2, 'right');
		@include govuk-responsive-padding(4, 'bottom');
		@include govuk-responsive-padding(2, 'left');
		border: $govuk-border-colour 1px solid;
		border-bottom: none;
		&:last-of-type {
			border-bottom: $govuk-border-colour 1px solid;
		}
	}
	.prototype-email-table-descriptor {
		color: $govuk-secondary-text-colour;
		display: inline-block;
		width: 7em;
		text-align: right;
		@include govuk-responsive-margin(2, 'right');
	}
	.prototype-email-content {
		@include govuk-responsive-margin(4);
		@include govuk-responsive-padding(2, 'top');
		font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Helvetica, Arial,
			sans-serif, Apple Color Emoji, Segoe UI Emoji !important;
	}
	.govuk-header__container {
		background-color: black;
		@include govuk-responsive-padding(4, 'left');
		@include govuk-responsive-padding(4, 'right');
		.govuk-header__link {
			color: white;
		}
	}







}
