{% set case = "other-cases-fill-1" %}
{% set phase = "george" %}



{% set page = "claim" %}
{% set claim = "true" %}
{% set title = "Case details" %}

{% extends folder + "/claim/_CSIBASE.html" %}




{% block csi %}


<div class="govuk-width-container">


  <main class="govuk-main-wrapper " id="main-content" role="main">
    <div class="govuk-grid-row">
      <div class="govuk-grid-column-two-thirds">





      <h1 class="govuk-heading-l">
{% set totalsae  = 8 %}
            Total items of specialist equipment: {{totalsae}} </h1>





              <h2 class="govuk-heading-m">

                  Items from application </h2>


                  <div class="govuk-form-group">

                    <dl class="govuk-summary-list hmrc-list-with-actions hmrc-list-with-actions--short">
                      <div class="govuk-summary-list__row">
                        <dt class="govuk-summary-list__key govuk-!-font-weight-regular hmrc-summary-list__key">
                        Jaws Screen Reader Software
                        </dt>
                        <dt class="govuk-summary-list__key govuk-!-font-weight-regular hmrc-summary-list__value">

                                Added to award
                        </dt>
                        <dd class="govuk-summary-list__actions hmrc-summary-list__actions">
                          <ul class="govuk-summary-list__actions-list">
                            <li class="govuk-summary-list__actions-list-item">
                              <a class="govuk-link" href=""><span aria-hidden="true">Change</span><span class="govuk-visually-hidden">  {{data['sae-item-type'+ number]}}</span></a>
                            </li>

                          </ul>
                        </dd>
                      </div>
                      <div class="govuk-summary-list__row">
                        <dt class="govuk-summary-list__key govuk-!-font-weight-regular hmrc-summary-list__key">
                      ZoomText
                        </dt>
                        <dt class="govuk-summary-list__key govuk-!-font-weight-regular hmrc-summary-list__value">

                                Added to award
                        </dt>
                        <dd class="govuk-summary-list__actions hmrc-summary-list__actions">
                          <ul class="govuk-summary-list__actions-list">
                            <li class="govuk-summary-list__actions-list-item">
                              <a class="govuk-link" href=""><span aria-hidden="true">Change</span><span class="govuk-visually-hidden">  {{data['sae-item-type'+ number]}}</span></a>
                            </li>

                          </ul>
                        </dd>
                      </div>
                      <div class="govuk-summary-list__row">
                        <dt class="govuk-summary-list__key govuk-!-font-weight-regular hmrc-summary-list__key">
                          High visability keyboard 2000
                        </dt>
                        <dt class="govuk-summary-list__key govuk-!-font-weight-regular hmrc-summary-list__value">
{% if data['approve-1']%}
      {% if data['social-domestic-'+ phase]=='I am not sure, I need more details'%}Need more details{% else %}
                          {% if data['approve-1']=='true'%}Added to award{% endif %}
                            {% if data['approve-1']=='false'%}Not added to award{% endif %}{% endif %}

                            {% else %}
                                Added to award{% endif %}
                        </dt>
                        <dd class="govuk-summary-list__actions hmrc-summary-list__actions">
                          <ul class="govuk-summary-list__actions-list">
                            <li class="govuk-summary-list__actions-list-item">
                              <a class="govuk-link" href=""><span aria-hidden="true">Change</span><span class="govuk-visually-hidden">  {{data['sae-item-type'+ number]}}</span></a>
                            </li>

                          </ul>
                        </dd>
                      </div>

                      <div class="govuk-summary-list__row">
                        <dt class="govuk-summary-list__key govuk-!-font-weight-regular hmrc-summary-list__key">
                        Handheld video magnifier ruby xl hd
                        </dt>
                        <dt class="govuk-summary-list__key govuk-!-font-weight-regular hmrc-summary-list__value">
{% if data['approve-2']%}

                      {% if data['social-domestic-'+ phase]=='I am not sure, I need more details'%}Need more details{% else %}
                          {% if data['approve-2']=='true'%}Added to award{% endif %}
                            {% if data['approve-2']=='false'%}Not added to award{% endif %}

                            {% endif %}

                        {% else %}
                            Added to award{% endif %}
                        </dt>

                        <dd class="govuk-summary-list__actions hmrc-summary-list__actions">
                          <ul class="govuk-summary-list__actions-list">
                            <li class="govuk-summary-list__actions-list-item">
                              <a class="govuk-link" href=""><span aria-hidden="true">Change</span><span class="govuk-visually-hidden">  {{data['sae-item-type'+ number]}}</span></a>
                            </li>

                             </ul>


                           </dd>
                         </div>


                         <div class="govuk-summary-list__row">
                           <dt class="govuk-summary-list__key govuk-!-font-weight-regular hmrc-summary-list__key">
                         Ergonomic Chair 5000
                           </dt>
                           <dt class="govuk-summary-list__key govuk-!-font-weight-regular hmrc-summary-list__value">

                                   Added to award
                           </dt>
                           <dd class="govuk-summary-list__actions hmrc-summary-list__actions">
                             <ul class="govuk-summary-list__actions-list">
                               <li class="govuk-summary-list__actions-list-item">
                                 <a class="govuk-link" href=""><span aria-hidden="true">Change</span><span class="govuk-visually-hidden">  {{data['sae-item-type'+ number]}}</span></a>
                               </li>

                             </ul>
                           </dd>
                         </div>

                         <div class="govuk-summary-list__row">
                           <dt class="govuk-summary-list__key govuk-!-font-weight-regular hmrc-summary-list__key">
                         Foot rest
                           </dt>
                           <dt class="govuk-summary-list__key govuk-!-font-weight-regular hmrc-summary-list__value">

                                   Added to award
                           </dt>
                           <dd class="govuk-summary-list__actions hmrc-summary-list__actions">
                             <ul class="govuk-summary-list__actions-list">
                               <li class="govuk-summary-list__actions-list-item">
                                 <a class="govuk-link" href=""><span aria-hidden="true">Change</span><span class="govuk-visually-hidden">  {{data['sae-item-type'+ number]}}</span></a>
                               </li>

                             </ul>
                           </dd>
                         </div>

                         <div class="govuk-summary-list__row">
                           <dt class="govuk-summary-list__key govuk-!-font-weight-regular hmrc-summary-list__key">
                         Orcam Read
                           </dt>
                           <dt class="govuk-summary-list__key govuk-!-font-weight-regular hmrc-summary-list__value">

                                   Added to award
                           </dt>
                           <dd class="govuk-summary-list__actions hmrc-summary-list__actions">
                             <ul class="govuk-summary-list__actions-list">
                               <li class="govuk-summary-list__actions-list-item">
                                 <a class="govuk-link" href=""><span aria-hidden="true">Change</span><span class="govuk-visually-hidden">  {{data['sae-item-type'+ number]}}</span></a>
                               </li>

                             </ul>
                           </dd>
                         </div>

                         <div class="govuk-summary-list__row">
                           <dt class="govuk-summary-list__key govuk-!-font-weight-regular hmrc-summary-list__key">
                           Macbook pro laptop 15 inch
                           </dt>
                           <dt class="govuk-summary-list__key govuk-!-font-weight-regular hmrc-summary-list__value">
        Not added to award
                           </dt>

                           <dd class="govuk-summary-list__actions hmrc-summary-list__actions">
                             <ul class="govuk-summary-list__actions-list">
                               <li class="govuk-summary-list__actions-list-item">
                                 <a class="govuk-link" href=""><span aria-hidden="true">Change</span><span class="govuk-visually-hidden">  {{data['sae-item-type'+ number]}}</span></a>
                               </li>

                                </ul>


                              </dd>
                            </div>
      </dl>










                   <form action="" method="post" novalidate>
                     <div class="govuk-form-group">
                                 <fieldset class="govuk-fieldset">
                                   <legend class="govuk-fieldset__legend govuk-fieldset__legend--m">

{% include "accessibility/cases/check-application/sae/details/content/add.html" %}
                                   </legend>


                                <div id="event-name-hint" class="govuk-hint">You should add all items suggested.</div>
                                   <div class="govuk-radios govuk-radios--inline" data-module="govuk-radios">
                                     <div class="govuk-radios__item govuk-radios--inline">
                                       <input class="govuk-radios__input" id="sae-add" name="sae-add{{phase}}" type="radio" value="Yes~/accessibility/cases/kam/cases/check-application/sae/details/{{totalsae +1}}/type.html" >
                                       <label class="govuk-label govuk-radios__label" for="sae-add">
                                         Yes
                                       </label>
                                     </div>
                                     <div class="govuk-radios__item">
                                       <input class="govuk-radios__input" id="sae-add-2" name="sae-add{{phase}}" type="radio" value="No~/accessibility/cases/kam/cases/claim#business-case" {{ checked}}>
                                       <label class="govuk-label govuk-radios__label" for="sae-add-2">
                                         No
                                       </label>
                                     </div>

                                   </div>

                                 </fieldset>
                         </div><br>
                             <button class="govuk-button" data-module="govuk-button">
                               Save and continue
                             </button>

                           </form>


                   </main>
                 </div>


               {% endblock %}
