{% extends "layout.html" %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

    <form id="form" method="post" action="../total_cost">

    <h1 class="govuk-heading-l govuk-!-margin-bottom-4">
        Interviewer question:
    </h1>
    <h2 class="govuk-heading-m govuk-!-margin-bottom-2">
        We need some contact details for the interviewer?
    </h2>

    <details class="govuk-details">
    <summary class="govuk-details__summary">
        <span class="govuk-details__summary-text">
        Why are we asking
        </span>
    </summary>
    <div class="govuk-details__text">
      As we need to confirm interview details after the event, we need to know who to contact.
    </div>
    </details>

    <span  class="govuk-hint">

    </span>

		<h4 class="govuk-heading-m govuk-!-margin-bottom-2">
        Name
    </h4>
    <div class="govuk-form-group govuk-!-margin-bottom-8">
      <input class="govuk-input govuk-input--width-11" id="interviewer-name" name="interviewer-name" type="text" aria-describedby="interviewer-name-hint">
    </div>


    <div class="govuk-form-group">
        <fieldset class="govuk-fieldset" aria-describedby="citizenship-conditional-hint">
          <legend class="govuk-fieldset__legend govuk-fieldset__legend--xl">
            <h2 class="govuk-heading-m govuk-!-margin-bottom-2">
              Enter their contact details
            </h2>
          </legend>
          <div class="govuk-checkboxes" data-module="govuk-checkboxes">
            <div class="govuk-checkboxes__item">
              <input class="govuk-checkboxes__input" id="citizenship-conditional-1" name="citizen" type="checkbox" value="email" data-aria-controls="conditional-citizenship-conditional-1">
              <label class="govuk-label govuk-checkboxes__label" for="citizenship-conditional-1">
                Email
              </label>
            </div>
            <div class="govuk-checkboxes__conditional govuk-checkboxes__conditional--hidden" id="conditional-citizenship-conditional-1">
              <div class="govuk-form-group">
                <label class="govuk-label" for="contact-by-email">
                  Email address
                </label>
                <input class="govuk-input govuk-!-width-one-third" id="contact-by-email" name="contact-by-email" type="email" spellcheck="false">
              </div>
      
            </div>
            <div class="govuk-checkboxes__item">
              <input class="govuk-checkboxes__input" id="citizenship-conditional-2" name="citizen" type="checkbox" value="phone" data-aria-controls="conditional-citizenship-conditional-2">
              <label class="govuk-label govuk-checkboxes__label" for="citizenship-conditional-2">
                Phone
              </label>
            </div>
            <div class="govuk-checkboxes__conditional govuk-checkboxes__conditional--hidden" id="conditional-citizenship-conditional-2">
              <div class="govuk-form-group">
                <label class="govuk-label" for="contact-by-phone">
                  Phone number
                </label>
                <input class="govuk-input govuk-!-width-one-third" id="contact-by-phone" name="contact-by-phone" type="tel">
              </div>
      
            </div>
          </div>
        </fieldset>
      </div>
	
		<input type="submit" class="govuk-button" value="Continue" id="submit"><!-- total_cost -->

    </form>

  <div><!-- govuk-grid-column-two-thirds -->
<div><!-- govuk-grid-row -->
{% endblock %}