{% set page = "claim" %}
{% set claim = "true" %}
{% set title = "Case details" %}
{% set view = "tab" %}


{% extends   "payments/sprint-36/claim/_CSIBASE-no-footer.html" %}



{% block csi %}
<br>





<form action="/payments/sprint-36/cases/dereck/cases/review-claim/ttw-claim-tab#your-tasks" method="post" novalidate>




  <div class="govuk-width-container">
    <main class="govuk-main-wrapper">
      <div class="govuk-grid-row">
        <div class="govuk-grid-column-two-thirds">


          <div class="govuk-form-group">
            <fieldset class="govuk-fieldset" role="group" aria-describedby="ttw-claim-start-hint">
              <legend class="govuk-fieldset__legend govuk-fieldset__legend--l">
                <h1 class="govuk-fieldset__heading">
                  Add details from claim
                </h1>
              </legend>
              <label class="govuk-label govuk-label--m" for="ttw-claim-start-name">
                Claim start date
              </label>
              <div id="ttw-claim-start-hint" class="govuk-hint">
                For example, 1 3 2023
              </div>
              <div class="govuk-date-input" id="ttw-claim-start">
                <div class="govuk-date-input__item">
                  <div class="govuk-form-group">
                    <label class="govuk-label govuk-date-input__label" for="ttw-claim-start-day">
                      Day
                    </label>
                    <input class="govuk-input govuk-date-input__input govuk-input--width-2" id="ttw-claim-start-day" name="ttw-claim-start-day" type="text" inputmode="numeric" value="{{data ['ttw-claim-start-day']}}">
                  </div>
                </div>
                <div class="govuk-date-input__item">
                  <div class="govuk-form-group">
                    <label class="govuk-label govuk-date-input__label" for="ttw-claim-start-month">
                      Month
                    </label>
                    <input class="govuk-input govuk-date-input__input govuk-input--width-2" id="ttw-claim-start-month" name="ttw-claim-start-month" type="text" inputmode="numeric" value="{{data ['ttw-claim-start-month']}}">
                  </div>
                </div>
                <div class="govuk-date-input__item">
                  <div class="govuk-form-group">
                    <label class="govuk-label govuk-date-input__label" for="ttw-claim-start-year">
                      Year
                    </label>
                    <input class="govuk-input govuk-date-input__input govuk-input--width-4" id="ttw-claim-start-year" name="ttw-claim-start-year" type="text" inputmode="numeric" value="{{data ['ttw-claim-start-year']}}">
                  </div>
                </div>
              </div>
              <br>



              <label class="govuk-label govuk-label--m" for="ttw-claim-end">
                Claim end date
              </label>
              <div id="ttw-claim-end-hint" class="govuk-hint">
                For example, 31 3 2023
              </div>
              <div class="govuk-date-input" id="ttw-claim-end">
                <div class="govuk-date-input__item">
                  <div class="govuk-form-group">
                    <label class="govuk-label govuk-date-input__label" for="ttw-claim-end-day">
                      Day
                    </label>
                    <input class="govuk-input govuk-date-input__input govuk-input--width-2" id="ttw-claim-end-day" name="ttw-claim-end-day" type="text" inputmode="numeric" value="{{data ['ttw-claim-end-day']}}">
                  </div>
                </div>
                <div class="govuk-date-input__item">
                  <div class="govuk-form-group">
                    <label class="govuk-label govuk-date-input__label" for="ttw-claim-end-month">
                      Month
                    </label>
                    <input class="govuk-input govuk-date-input__input govuk-input--width-2" id="ttw-claim-end-month" name="ttw-claim-end-month" type="text" inputmode="numeric" value="{{data ['ttw-claim-end-month']}}">
                  </div>
                </div>
                <div class="govuk-date-input__item">
                  <div class="govuk-form-group">
                    <label class="govuk-label govuk-date-input__label" for="ttw-claim-end-year">
                      Year
                    </label>
                    <input class="govuk-input govuk-date-input__input govuk-input--width-4" id="ttw-claim-end-year" name="ttw-claim-end-year" type="text" inputmode="numeric" value="{{data ['ttw-claim-end-year']}}">
                  </div>
                </div>
              </div>
              <br>



              <label class="govuk-label govuk-label--m" for="ttw-journeys">
                Number of journeys claimed
              </label>
              <div id="ttw-journeys-hint" class="govuk-hint">
                <!-- For example, 502135326 -->
              </div>
              <input class="govuk-input govuk-input--width-10" id="ttw-journeys" name="ttw-journeys" type="text" aria-describedby="ttw-journeys-hint" value="{{data ['ttw-journeys'] }}">
            </div>



            </fieldset>
          </div>






    </div>
    </div>
    <div class="govuk-button-group">
      <button class="govuk-button" data-module="govuk-button">
        Save and continue
      </button>
    </form>
       </div>
     </div>


        </main>
        </div>







{% endblock %}
