{% set hideBanner = true %}
{% set yourCases = true %}
{% extends "../claim/_BASE.html" %}







{% block content %}








<div class="govuk-grid-row">
      <div class="govuk-grid-column-two-thirds-from-desktop">
        <!-- {{ govukBackLink({
        text: "Back",
        href: "javascript:history.go(-1)"
        }) }} -->
        <h1 class="govuk-heading-l">Check answers before sending referral</h1>


                <h2 class="govuk-heading-m">Type</h2>
                <dl class="govuk-summary-list govuk-!-margin-bottom-9">


                  <div class="govuk-summary-list__row">
                    <dt class="govuk-summary-list__key">
                    Type of referral
                    </dt>
                    <dd class="govuk-summary-list__value">
              {{data["typeReferral"]}}
                    </dd>
                    <dd class="govuk-summary-list__actions">
                      <a class="govuk-link" href="personal-details#national-insurance-number">Change<span class="govuk-visually-hidden"> </span></a>
                    </dd>
                    </div>
                        </dl>








        <h2 class="govuk-heading-m">Personal details</h2>
        <dl class="govuk-summary-list govuk-!-margin-bottom-9">

          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
            National Insurance number
            </dt>
            <dd class="govuk-summary-list__value">
{{data["nationalInsuranceNumber-refferral"]}}
            </dd>
            <dd class="govuk-summary-list__actions">
              <a class="govuk-link" href="personal-details#national-insurance-number">Change<span class="govuk-visually-hidden"> customer reference</span></a>
            </dd>
            </div>
          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
              First name
            </dt>
            <dd class="govuk-summary-list__value">
            {{data["firstName-refferral"]}}
            </dd>
            <dd class="govuk-summary-list__actions">
              <a class="govuk-link" href="personal-details#f-firstName">Change<span class="govuk-visually-hidden"> first name</span></a>
            </dd>
          </div>
          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
              Last name
            </dt>
            <dd class="govuk-summary-list__value">
          {{data["lastName-refferral"]}}
            </dd>
            <dd class="govuk-summary-list__actions">
              <a class="govuk-link" href="personal-details#f-lastName">Change<span class="govuk-visually-hidden"> last name</span></a>
            </dd>
          </div>


          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
            UK telephone number
            </dt>
            <dd class="govuk-summary-list__value">
          {{data["telephone-mhss"]}}
            </dd>
            <dd class="govuk-summary-list__actions">
              <a class="govuk-link" href="personal-details#telephone-mhss">Change<span class="govuk-visually-hidden">  UK phone number</span></a>
            </dd>
          </div>






          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
          Address
            </dt>
            <dd class="govuk-summary-list__value">
{{data['select-an-address-mhss']}}
            </dd>
            <dd class="govuk-summary-list__actions">
              <a class="govuk-link" href="address_manual">Change<span class="govuk-visually-hidden"> address</span></a>
            </dd>
            </div>


        </dl>



        <h2 class="govuk-heading-m">Provider details</h2>
        <dl class="govuk-summary-list govuk-!-margin-bottom-9">

          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
            Where referral was made
            </dt>
            <dd class="govuk-summary-list__value">
        {{data["type-mhss"]}}
            </dd>
            <dd class="govuk-summary-list__actions">
              <a class="govuk-link" href="Provider">Change<span class="govuk-visually-hidden"> Provider</span></a>
            </dd>
          </div>

          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
            Provider, code and office
            </dt>
            <dd class="govuk-summary-list__value">
  {{data["site-mhss"]}}
            </dd>
            <dd class="govuk-summary-list__actions">
              <a class="govuk-link" href="Provider">Change<span class="govuk-visually-hidden"> Provider</span></a>
            </dd>
          </div>


        </dl>



<input type="hidden" name="answers-checked-mhss" value="true">


        <h2 class="govuk-heading-m">Now send {{data["firstName-refferral"]}} {{data["lastName-refferral"]}}'s referral</h2>
        <p class="govuk-body">By submitting this referral you are confirming that, to the best of your knowledge, the details you are providing are correct.</p>
        <form action="confim" method="post" novalidate>
          <input type="hidden" name="answers-checked-mhss" value="true">
          <button type="submit" class="govuk-button" data-module="govuk-button">
            Accept and send
          </button>
        </form>
      </div>
    </div>






{% endblock %}



<!-------------- footer -->
{% block footer %}


  {{ govukFooter({
    meta: {
      html: urFooterLink ,

      items: [
        {
          href: "https://govuk-prototype-kit.herokuapp.com/",
          text: "GOV.UK Prototype Kit " + releaseVersion
        },
        {
          href: "/prototype-admin/clear-data",
          text: "Clear data"
        }

      ]
    }
  }) }}





{% endblock %}
