{% set hideBanner = true %}
{% set yourCases = true %}
{% extends "../claim/_BASE.html" %}







{% block content %}








<div class="govuk-grid-row">
      <div class="govuk-grid-column-two-thirds">
        {{ govukBackLink({
        text: "Back",
        href: "javascript:history.go(-1)"
        }) }}
        <div class="govuk-width-container">
      <h1 class="govuk-heading-l">No address found</h1>
      <p>We could not find an address that matches <b>wr11nl</b> and <b>1</b>. You can search again or enter the address manually.</p>
      <p><a href="address_lookup">Search again</a></p>
      <p class="govuk-body govuk-!-margin-bottom-0"><a href="address_manual" class="govuk-link">Enter address manually</a></p>
      </div>



{% endblock %}



<!-------------- footer -->
{% block footer %}


  {{ govukFooter({
    meta: {
      html: urFooterLink ,

      items: [
        {
          href: "https://govuk-prototype-kit.herokuapp.com/",
          text: "GOV.UK Prototype Kit " + releaseVersion
        },
        {
          href: "/prototype-admin/clear-data",
          text: "Clear data"
        }

      ]
    }
  }) }}





{% endblock %}
