{% set hideBanner = true %}
{% set yourCases = true %}
{% extends "../claim/_BASE.html" %}







{% block content %}








<div class="govuk-grid-row">
      <div class="govuk-grid-column-two-thirds">
        <!-- <h1 class="govuk-heading-l">Provider details </h1>
<p>Based on   {{data["firstName-refferral"]}} {{data["lastName-refferral"]}}'s National Insurance number, a [type] referral will be sent to <strong>[provider name]</strong>.</p>


        <form action="check-your-answers" method="post" novalidate>


 -->{{ govukBackLink({
 text: "Back",
 href: "javascript:history.go(-1)"
 }) }}

    <form action="check-your-answers" method="post" novalidate>
      <h1 class="govuk-heading-l">
              Provider details
              </h1>


              <p>{{data["firstName-refferral"]}} {{data["lastName-refferral"]}}'s National Insurance number is <strong>{{data['nationalInsuranceNumber-refferral']}}</strong>.
If the applicant works for a provider, you can <a href="override">select an override code</a>.</p>



<details class="govuk-details">
  <summary class="govuk-details__summary">
    <span class="govuk-details__summary-text"> What is the National Insurance number split?</span>
  </summary>
  <div class="govuk-details__text">
Applicants are referred to providers based on the last 2 digits of their National Insurance number:
<ul class="govuk-list">
  <li>
00 - 49 refer to Maximus</li>
  <li>50 - 99 refer to Ingeus</li>
  </ul> 
</div>
</details>


          <div class="govuk-form-group">
            <fieldset class="govuk-fieldset">
              <legend class="govuk-fieldset__legend govuk-fieldset__legend--m">
        Select a provider, code and office to send the referral to

              <!-- for {{data['referralSource'] | lower}} -->

              </legend>
              <!-- <div id="type-mhss-hint" class="govuk-hint">
            Select a provider, code and office to send the referral to.
              </div> -->
                    <div class="govuk-radios" data-module="govuk-radios">


                                      <div class="govuk-radios__item">
                                        <input class="govuk-radios__input" id="site-mhss" name="site-mhss" type="radio" value="Maximus, HKH/19424, Harrow Kings House">
                                        <label class="govuk-label govuk-radios__label" for="site-mhss">
                                        Maximus, HKH/19424, Harrow Kings House
                                        </label>
                                      </div>
                                      <div class="govuk-radios__item">
                                        <input class="govuk-radios__input" id="site-mhss-2" name="site-mhss" type="radio" value="Ingeus, HKH/19427, Harrow Kings House">
                                        <label class="govuk-label govuk-radios__label" for="site-mhss-2">
                                        Ingeus, HKH/19427, Harrow Kings House
                                        </label>
                                      </div>
                                      <div class="govuk-radios__item">
                                        <input class="govuk-radios__input" id="site-mhss-3" name="site-mhss" type="radio" value="Maximus, HLF/2193, Halifax Crossfield House">
                                        <label class="govuk-label govuk-radios__label" for="site-mhss-3">
                                      Maximus, HLF/2193, Halifax Crossfield House
                                        </label>
                                      </div>
                                      <div class="govuk-radios__item">
                                        <input class="govuk-radios__input" id="site-mhss-4" name="site-mhss" type="radio" value="Ingeus, HLF/2196,  Halifax Crossfield House">
                                        <label class="govuk-label govuk-radios__label" for="site-mhss-4">
                                    Ingeus, HLF/2196,  Halifax Crossfield House
                                        </label>

                                    </div>
                                  </div>
                                </fieldset>
                              </div>



    <button type="submit" data-prevent-double-click="true" class="govuk-button" data-module="govuk-button" id="continue-button" data-govuk-button-init="">
  Continue
    </button>






    </form>

      </div>
    </div>






{% endblock %}



<!-------------- footer -->
{% block footer %}


  {{ govukFooter({
    meta: {
      html: urFooterLink ,

      items: [
        {
          href: "https://govuk-prototype-kit.herokuapp.com/",
          text: "GOV.UK Prototype Kit " + releaseVersion
        },
        {
          href: "/prototype-admin/clear-data",
          text: "Clear data"
        }

      ]
    }
  }) }}





{% endblock %}
