{% set hideBanner = true %}
{% set yourCases = true %}
{% extends "../claim/_BASE.html" %}







{% block content %}








<div class="govuk-grid-row">
      <div class="govuk-grid-column-two-thirds">
        <!-- <h1 class="govuk-heading-l">Provider details </h1>
<p>Based on   {{data["firstName-refferral-mhss"]}} {{data["lastName-refferral-mhss"]}}'s National Insurance number, a [type] referral will be sent to <strong>[provider name]</strong>.</p>


        <form action="check-your-answers" method="post" novalidate>


 -->{{ govukBackLink({
 text: "Back",
 href: "javascript:history.go(-1)"
 }) }}

    <form action="" method="post" novalidate>

      <div class="govuk-form-group">
        <fieldset class="govuk-fieldset" aria-describedby="type-mhss-hint">
          <legend class="govuk-fieldset__legend govuk-fieldset__legend--l">
            <h1 class="govuk-fieldset__heading">
        What type of mental health support service referral do you want to send?
            </h1>
          </legend>
          <!-- <div id="type-mhss-hint" class="govuk-hint">
          Select where the referral was made.
          </div> -->
          <div class="govuk-radios" data-module="govuk-radios">
            <div class="govuk-radios__item">
              <input class="govuk-radios__input" id="type-mhss" name="type-mhss" type="radio" value="Authority referral~providerAuthority" aria-describedby="type-mhss-item-hint">
              <label class="govuk-label govuk-radios__label" for="type-mhss">
              Authority referral
              </label>
              <div id="type-mhss-item-hint" class="govuk-hint govuk-radios__hint">
              Application allocated to a case manager
              </div>
            </div>
            <div class="govuk-radios__item">
              <input class="govuk-radios__input" id="type-mhss-2" name="type-mhss" type="radio" value="Self-referral~supplier" aria-describedby="type-mhss-2-item-hint">
              <label class="govuk-label govuk-radios__label" for="type-mhss-2">
                Self-referral
              </label>
              <div id="type-mhss-2-item-hint" class="govuk-hint govuk-radios__hint">
              Application made directly to a provider
              </div>
            </div>
          </div>
        </fieldset>
      </div>









          <!-- <div class="govuk-form-group">
            <label class="govuk-label" for="sort">
              type-mhss code
            </label>
            <select class="govuk-select" id="sort" name="sort">
              <option value="published" selected>None</option>
              <option value="updated" >1</option>
              <option value="views"> 2</option>
              <option value="comments"> 3</option>
                  <option value="comments"> 4</option>
            </select>
          </div> -->


<!--
          <div class="govuk-form-group">
            <label class="govuk-label govuk-label--m"  for="national-insurance-number">
            Enter type-mhss code
            </label>
            <!-- <div id="national-insurance-number-hint" class="govuk-hint">
            It’s a number that is 2 letters, 6 numbers, then A, B, C or D, like 'QQ 12 34 56 C'.
            </div> -->
            <!-- <input class="govuk-input govuk-input--width-10 govuk-input--extra-letter-spacing" id="national-insurance-number" name="nationalInsuranceNumber-refferral-mhss" type="text" spellcheck="false" aria-describedby="national-insurance-number-hint" value={{data["nationalInsuranceNumber-refferral-mhss"]}}>
          </div> -->




    <button type="submit" data-prevent-double-click="true" class="govuk-button" data-module="govuk-button" id="continue-button" data-govuk-button-init="">
    Continue
    </button>






    </form>

      </div>
    </div>






{% endblock %}



<!-------------- footer -->
{% block footer %}


  {{ govukFooter({
    meta: {
      html: urFooterLink ,

      items: [
        {
          href: "https://govuk-prototype-kit.herokuapp.com/",
          text: "GOV.UK Prototype Kit " + releaseVersion
        },
        {
          href: "/prototype-admin/clear-data",
          text: "Clear data"
        }

      ]
    }
  }) }}





{% endblock %}
