{% set page = "claim" %}
{% set claim = "true" %}
{% set title = "Case details" %}

{% extends folder + "/claim/_CSIBASE.html" %}

{% block csi %}

<form action="help" method="post" novalidate>
<div class="govuk-width-container">


  <main class="govuk-main-wrapper " id="main-content" role="main">
    <div class="govuk-grid-row">
      <div class="govuk-grid-column-two-thirds">

            <fieldset class="govuk-fieldset">
      <h1 class="govuk-heading-l">

              You have added 1 item of specialist equipment </h1>





              <dl class="govuk-summary-list hmrc-list-with-actions hmrc-list-with-actions--short">
                <div class="govuk-summary-list__row">
                  <dt class="govuk-summary-list__key govuk-!-font-weight-regular hmrc-summary-list__key">
                    {{data['sae-item-type']}}
                  </dt>




                  <dd class="govuk-summary-list__actions hmrc-summary-list__actions">
                    <ul class="govuk-summary-list__actions-list">
                      <li class="govuk-summary-list__actions-list-item">
                        <a class="govuk-link" href="details"><span aria-hidden="true">Change</span><span class="govuk-visually-hidden">{{data['condition-check-update']}}</span></a>
                      </li>
                      <li class="govuk-summary-list__actions-list-item">
                        <a class="govuk-link" href="#"><span aria-hidden="true">Remove</span><span class="govuk-visually-hidden">{{data['condition-check-update']}}</span></a>
                      </li>
                    </ul>
                  </dd>
                </div>


              </dl>

                   </fieldset>
                   </div>         </div><form action="/live-15/cases/claim#your-tasks" method="post" novalidate>
                     <div class="govuk-form-group">
                                 <fieldset class="govuk-fieldset">
                                   <legend class="govuk-fieldset__legend govuk-fieldset__legend--m">
                                    Do you need to add another item?

                                   </legend>
                                   <div class="govuk-radios govuk-radios--inline" data-module="govuk-radios">
                                     <div class="govuk-radios__item govuk-radios--inline">
                                       <input class="govuk-radios__input" id="sae-add" name="sae-add" type="radio" value="Yes" {{ checked("sae-add", "Yes") }}>
                                       <label class="govuk-label govuk-radios__label" for="sae-add">
                                         Yes
                                       </label>
                                     </div>
                                     <div class="govuk-radios__item">
                                       <input class="govuk-radios__input" id="sae-add-2" name="sae-add" type="radio" value="No" {{ checked("sae-add", "No") }}>
                                       <label class="govuk-label govuk-radios__label" for="sae-add-2">
                                         No
                                       </label>
                                     </div>

                                   </div>

                                 </fieldset>
                         </div>
                             <button class="govuk-button" data-module="govuk-button">
                               Save and continue
                             </button>

                           </form>


                   </main>
                 </div>


               {% endblock %}
