{% set page = "claim" %}
{% set claim = "true" %}
{% set title = "Case details" %}

{% extends folder + "/claim/_CSIBASE.html" %}



{% block csi %}

<br>




<!-- <form action="/cases/claim/task-list" method="post" novalidate> -->
<form action="" method="post" novalidate>


  <div class="govuk-width-container">
    <main class="govuk-main-wrapper">
      <div class="govuk-grid-row">
        <div class="govuk-grid-column-two-thirds">

<div class="govuk-form-group">

  <fieldset class="govuk-fieldset">

  <legend class="govuk-fieldset__legend govuk-fieldset__legend--l">

    <h2 class="govuk-fieldset__heading">
Check payee details on SOP
    </h2>

  </legend>
  <div id="contact-hint" class="govuk-hint">
              <!-- Does the claim match the grant award information below for the claim and grant award match. -->
                </div>



<br>

<h2 class="govuk-heading-m">   Claim details</h2>
        <dl class="govuk-summary-list govuk-!-margin-bottom-9">


        <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">
      Payee name
        </dt>
        <dd class="govuk-summary-list__value">
        Lime Limeted

        </dd>
        <dd class="govuk-summary-list__actions">

        </dd>
        </div>

        <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">
      Payee address
        </dt>
        <dd class="govuk-summary-list__value">
        220 St Vincent Street<br>Glasgow<br>AB1 1AB

        </dd>
        <dd class="govuk-summary-list__actions">

        </dd>
        </div>



        <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">
      Telephone
        </dt>
        <dd class="govuk-summary-list__value">
          01475741305

        </dd>
        <dd class="govuk-summary-list__actions">

        </dd>
        </div>


        <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">
      Email
        </dt>
        <dd class="govuk-summary-list__value">
          info@limelimited.com

        </dd>
        <dd class="govuk-summary-list__actions">

        </dd>
        </div>


        <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">
      Name on bank account
        </dt>
        <dd class="govuk-summary-list__value">
          Lime Limited

        </dd>
        <dd class="govuk-summary-list__actions">

        </dd>
        </div>


        <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">
      Sort code
        </dt>
        <dd class="govuk-summary-list__value">
          06-02-28

        </dd>
        <dd class="govuk-summary-list__actions">

        </dd>
        </div>


        <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">
      Account number
        </dt>
        <dd class="govuk-summary-list__value">
          42473644

        </dd>
        <dd class="govuk-summary-list__actions">

        </dd>
        </div>



</dl>





      <div class="govuk-form-group">
      <legend class="govuk-fieldset__legend govuk-fieldset__legend--l">
        <h2 class="govuk-heading-m">
          Is the payee on SOP?
        </h2>
      </legend>
      <div class="govuk-radios" data-module="govuk-radios">
        <div class="govuk-radios__item">
          <input class="govuk-radios__input" id="paid-in-full-1" name="paid-in-full" type="radio" value="yes~sop-match" {{ checked("paid-in-full", "Yes") }}>
          <!-- <input class="govuk-radios__input" id="found-nino" name="found-nino" type="radio" value="Yes~./add-national-insurance-number" {{ checked("found-nino", "Yes") }}> -->
          <label class="govuk-label govuk-radios__label" for="paid-in-full-1">
            Yes
          </label>
        </div>
        <div class="govuk-radios__item">
          <input class="govuk-radios__input" id="paid-in-full-2" name="paid-in-full" type="radio" value="No~claim#your-tasks" {{ checked("paid-in-full", "No") }}>
          <label class="govuk-label govuk-radios__label" for="paid-in-full-2">
            No
          </label>
        </div>
      </div>

    </fieldset>
    </div>
    <div class="govuk-button-group">
        <button class="govuk-button" data-module="govuk-button">
          Save and continue
        </button>
      </form>
     </div>
   </div>


      </main>
      </div>







{% endblock %}
