{% set  hideForm = true %}
{% set hideBack = true %}
{% extends folder + "/" + subfolder + "/csi/_CSIQUESTION.html" %}
{% set hideReturn  = true %}
{% set title = "" %}


{% block csi %}


{{ govukPanel({
       titleText: "Case closed",
       html: ""
     }) }}
     <br>
    <P>The case has been removed from <strong>Your priority cases</strong>.</p>

    <br>

{{ govukButton({
      href: "/" + folder + "/" + subfolder + "/your-cases-empty",
          text: "Return to Your cases"
        }) }}


{% endblock %}

{% block pageScripts %}
<style>
  .govuk-panel--confirmation {
      color: #fff;
      background: #00703c;
  }
  </style>
{% endblock %}
