{% extends "layout.html" %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

    <form id="form" method="post" action="customer/contact">

      <!--<h1 class="govuk-heading-l govuk-!-margin-bottom-4">
          Your support worker
      </h1>-->
      <h1 class="govuk-heading-l govuk-!-margin-bottom-2">
          Who are you applying for?
      </h1>

      <div class="govuk-form-group">
        <div class="govuk-radios">
          <div class="govuk-radios__item">
            <input class="govuk-radios__input" id="terminal-1" name="terminal" type="radio" value="yes">
            <label class="govuk-label govuk-radios__label" for="terminal-1">
              Me
            </label>
          </div>
          <div class="govuk-radios__item">
            <input class="govuk-radios__input" id="terminal-2" name="terminal" type="radio" value="no" aria-controls="no-reveal">
            <label class="govuk-label govuk-radios__label" for="terminal-2">
              Someone else
            </label>
          </div>
        </div>
      </div>

      <input type="submit" class="govuk-button" value="Continue" id="submit"><!-- job_company_name -->

      </form>

      <script>
          document.getElementById('form').addEventListener('submit', function (event)  {
            event.preventDefault();
            if (document.getElementById('terminal-1').checked) {
              window.location = 'what-do-you-want-help-with';
            } else {
              window.location = 'applying-for-someone-else/dob';
            }
          })
      </script>

  <div><!-- govuk-grid-column-two-thirds -->
<div><!-- govuk-grid-row -->
{% endblock %}
