{% set page = "task-list" %}
{% set title = "Your tasks" %}
{% extends "./_CSIBASE.html" %}

{% block csi %}




{% macro taskListItem(title="'title'", link='#', completed='', started='', locked='' ) %}

<li class="app-task-list__item">
  <span class="app-task-list__task-name">
  {% if not (locked or completed)  %}  <a href="{{link}}" aria-describedby="eligibility-completed"> {% endif %}
      {{title}}
    {% if not (locked or completed)  %}   </a> {% endif %}
  </span>
{% if completed %}
<strong class="govuk-tag app-task-list__task-completed" id="eligibility-completed">Completed</strong>
{% elif started %}
<strong class="govuk-tag app-task-list__task-completed" style="background-color: #6f777b;
" id="eligibility-completed">Not complete</strong>

{% else %}
{% endif %}

</li>


{% endmacro %}


{% if not (phase == "interview") %}
{% if phase == "waiting" or (data['claim'] == "yes" and not (phase == "same-day") )%}
<br><p>You currently have no tasks. The case will be available in <strong>Your priority cases</strong>
  after the interview date.</p>

{% endif %}
{% endif %}

{% if not (phase == "interview" ) and not (phase == "waiting") %}
{% if data['personal'] == 'no' or data['company'] == 'no' or data['searchlight'] == "no" %}
<br>
{{ govukWarningText({
  html: "[Information required from applicant. <a href='fix/index'>Check what's needed and contact applicant</a>]",
  iconFallbackText: "Warning"
}) }}
{% endif %} {% endif %}
{% if not (phase == "interview" ) and not (phase == "waiting") %}
              <ol class="app-task-list">
                      <li>
                        <h2 class="app-task-list__section">
                          Check and approve
                        </h2>
                        <ul class="app-task-list__items" style="padding-left: 0">

                          {{taskListItem(title="Find applicant on Searchlight", link="check/0", completed=(data['searchlight'] == "yes" or phase == "interview" or phase == "waiting" ), started=(data['searchlight'] == "no"), locked=(phase == "interview" or phase == "waiting"))}}


                          {{taskListItem(title="Check for appointee", link="check/1", completed=(data['appointee'] or phase == "interview" or phase == "waiting" ), locked=(phase == "interview" or phase == "waiting" or not data['searchlight'] or (data['searchlight'] == "no") ))}}


{{taskListItem(title="Check personal details", link="check/2", completed=(data['personal'] == 'yes' or phase == "interview" or phase == "waiting" ), started=(data['personal']=="no") , locked=(phase == "interview" or phase == "waiting" or not data['appointee'] ))}}



{{taskListItem(title="Check company details", link="check/3", completed=(data['company'] == 'yes' or phase == "interview" or phase == "waiting"), started=(data['company']=="no"), locked=(phase == "interview" or phase == "waiting"  or (not data['appointee'] and not (data['searchlight'] == "no"))))}}

{{taskListItem(title="Check interview details", link="check/4", completed=(data['interview'] == "yes" or phase == "interview" or phase == "waiting"), started=(data['interview']=="no"), locked=(phase == "interview" or phase == "waiting" or not data['company']))}}



</ul>
</li>
</ol>



<ol class="app-task-list">
        <li>
          <h2 class="app-task-list__section">
            Send confirmation
          </h2>
          <ul class="app-task-list__items" style="padding-left:0">



            {{taskListItem(title="Send a confirmation email", link="send/1", completed=(data['send'] == "yes" or phase == "interview" or phase == "waiting"),  locked=(not (data['interview'] == "yes" )) or (data['interview'] and (data['personal'] == 'no' or data['company'] == 'no' or data['searchlight'] == "no")) ) }}

            {{taskListItem(title="Print and send the form", link="send/2", completed=(data['claim'] == "yes" or interview or waiting), locked=(not data['send']) )}}





</ul>
</li>
</ol>

{% endif %}




{% if phase == "same-day" or phase == "interview" %}

<ol class="app-task-list">
        <li>
                        <h2 class="app-task-list__section">
                           After the interview
                        </h2>


                        <ul class="app-task-list__items" style="padding-left:0">

    {{taskListItem(title="Contact employer", link="contact/index", completed=(data['employer'] =="yes"), locked=(not (phase == "interview") or (phase == "same-day" and not data['claim'] == "yes") ))}}

    {{taskListItem(title="Confirm interview took place", link="confirm/1", completed=(data['confirm'] =="yes"), locked=(not (data['employer'] == "yes") ))}}


                        </ul>
                      </li>
                    </ol>

{% endif %}

{% endblock %}



{% block footer %}
  {{ govukFooter({
    meta: {
      items: [
        {
          href: "https://govuk-prototype-kit.herokuapp.com/",
          text: "GOV.UK Prototype Kit " + releaseVersion
        },
        {
          href: "/prototype-admin/clear-data",
          text: "Clear data"
        },
        {
          href: "index",
          text: "Index before interview"
        },
        {
          href: "index-waiting",
          text: "Index waiting"
        },
        {
          href: "index-same-day",
          text: "Index same day"
        },
        {
          href: "index-interview",
          text: "Index after interview"
        }
      ]
    }
  }) }}

{% endblock %}
