{% set page = "claim" %}
{% set claim = "true" %}
{% set title = "Case details" %}

{% extends folder + "/claim/_CSIBASE.html" %}

{% block csi %}

<form action="sd-1-2" method="post" novalidate>
<div class="govuk-width-container">


  <main class="govuk-main-wrapper " id="main-content" role="main">
    <div class="govuk-grid-row">
      <div class="govuk-grid-column-two-thirds-from-desktop">

        <h1 class="govuk-heading-l">  Quote for the cost of specialist equipment</h1>




                <div class="govuk-inset-text">
              {{data['sae-item-type']}}
                  </div>



<div class="govuk-form-group">
            <fieldset class="govuk-fieldset">
              <legend class="govuk-fieldset__legend govuk-fieldset__legend--m">


              </legend>
              <!-- <div class="govuk-form-group">
    <label class="govuk-label" for="Brand">
      Brand
    </label>
    <input class="govuk-input" id="Brand" name="quotes-check" type="text" spellcheck="false" autocomplete="name">
  </div> -->
  <div class="govuk-form-group">
<label class="govuk-label" for="Supplier">
Supplier
</label>
<input class="govuk-input" id="Supplier" name="quotes-check" type="text" spellcheck="false" autocomplete="name">
</div>
<label class="govuk-label" for="cost-per-item">
Total cost
</label>
  <div class="govuk-input__wrapper">
      <div class="govuk-input__prefix" aria-hidden="true">£</div>
      <input class="govuk-input govuk-input--width-5" id="cost-per-item" name="cost-per-item" type="text" spellcheck="false">

    </div>


            </fieldset>
    </div>


    <div class="govuk-form-group">
      <fieldset class="govuk-fieldset">
        <legend class="govuk-fieldset__legend govuk-fieldset__legend--m">
          <h1 class="govuk-fieldset__heading">
    Where is the quote from?
          </h1>
        </legend>
        <div class="govuk-radios__item">
          <input class="govuk-radios__input" id="quotes-choose-2" name="quotes-choose" type="radio" value="Dereck Smith" {{ checked("quotes-choose", "Dereck Smith") }}>
          <label class="govuk-label govuk-radios__label" for="quotes-choose-2">

          Dereck Smith
          </label>
        </div>
        <div class="govuk-radios__item">
          <input class="govuk-radios__input" id="quotes-choose-2" name="quotes-choose" type="radio" value="Workplace assessment" {{ checked("quotes-choose", "Workplace assessment") }}>
          <label class="govuk-label govuk-radios__label" for="quotes-choose-2">

        Workplace assessment
          </label>
        </div>
        <div class="govuk-radios__item">
          <input class="govuk-radios__input" id="quotes-choose-3" name="quotes-choose" type="radio" value="Other source~rateother" {{ checked("quotes-choose", "Other source") }}>
          <label class="govuk-label govuk-radios__label" for="quotes-choose-3">
            Other source
          </label>
        </div>

      </fieldset>
    </div>

   <button class="govuk-button" data-module="govuk-button">
     Save and continue
   </button>

        </main>
        </div>



{% endblock %}
