{% set page = "claim" %}
{% set claim = "true" %}
{% set title = "Case details" %}

{% set hidebanner = "true" %}

{% set name = "sarah" %}


{% set phase = "case-manger-view" %}

{% extends   "live-atwis/7/claim/_MAINBASE.html" %}

{% block csi %}



    <div class="govuk-grid-row">
      <div class="govuk-grid-column-two-thirds">



        <form action="/live-atwis/7/cases-search/sarah/cases/summary-data" method="post" novalidate>

          <div class="govuk-form-group">
             <fieldset class="govuk-fieldset">
               <legend class="govuk-fieldset__legend govuk-fieldset__legend--l">
                 <h1 class="govuk-fieldset__heading">
                Is the investigation of this document data complete?
                  </h1>
                   </legend >
          <div id="dob-hint" class="govuk-hint">
                  If the investigation is complete and you reset data deletion, Sarah Smith's document data will be permanently deleted from AtWIS on
                  <script>// Get date
                        var now = new Date();
                        var pastDate = new Date(now);
                        pastDate.setDate(now.getDate() + 730);

                        var formattedDate = pastDate.toLocaleDateString('en-GB', {
                        day: 'numeric',
                        month: 'long',
                        year: 'numeric'
                        });

                        var formattedTime = pastDate.toLocaleTimeString('en-GB', {
                        hour: 'numeric',
                        minute: 'numeric',
                        hour12: true
                        });

                        document.write(formattedDate);</script>.
                </div>





              <div class="govuk-radios" data-module="govuk-radios">
                <div class="govuk-radios__item">
                  <input class="govuk-radios__input" id="data-delete-hold-sarah" name="data-delete-hold-sarah" type="radio" value="yes">
                  <label class="govuk-label govuk-radios__label" for="data-delete-hold-sarah-off">
            Yes it's complete, reset data deletion

                  </label>
                </div>
                <div class="govuk-radios__item">
                  <input class="govuk-radios__input" id="data-delete-hold-sarah-off-2" name="data-delete-hold-sarah" type="radio" value="no">
                  <label class="govuk-label govuk-radios__label" for="data-delete-hold-sarah-off-2">
                  No, it's still being investigated
                  </label>
                </div>
              </div>
            </fieldset>
          </div>
          <button type="submit" class="govuk-button" data-module="govuk-button">
          Confirm
          </button>
        </form>
      </div>




{% endblock %}
