<ol class="app-task-list">
  <li>
    <h2 class="app-task-list__section">
      <span class="app-task-list__section-number">2. </span> Review application
    </h2>
    <ul class="app-task-list__items">

      <li class="app-task-list__item">
        <span class="app-task-list__task-name">
       <a href="./check-application/condition-help-needed" aria-describedby="read-declaration-status">
             Health condition or disability
         </a>
        </span>

      {% if 'Health condition or disability' in data['wpa-report'] and not data['more-detail1']%}<strong class="govuk-tag govuk-tag--grey app-task-list__tag" id="list-convictions-status">in progress</strong>{% else %}
      {% if data['condition-check']=='No'%}<strong class="govuk-tag app-task-list__tag" id="eligibility-status">Completed</strong>{% endif %}
      {% if data['condition-check']=='Yes'%}  <strong class="govuk-tag govuk-tag--blue app-task-list__tag" id="contact-details-status">Contact needed</strong>{% endif %}
      {% if not data['condition-check']%}  <strong class="govuk-tag govuk-tag--grey app-task-list__tag" id="list-convictions-status">Not started</strong>{% endif %}{% endif %}
      </li>


                  <!-- <li class="app-task-list__item">
                    <span class="app-task-list__task-name">
                   <a href="./check-application/contact" aria-describedby="read-declaration-status">
                      Contact details
                     </a>
                    </span>
                    {% if 'Contact details' in data['wpa-report'] and not data['more-detail-contact-1']%}<strong class="govuk-tag govuk-tag--grey app-task-list__tag" id="list-convictions-status">in progress</strong>{% else %}
                    {% if data['contact-check']=='No'%}<strong class="govuk-tag app-task-list__tag" id="eligibility-status">Completed</strong>{% endif %}
                    {% if data['contact-check']=='Yes'%}  <strong class="govuk-tag govuk-tag--grey app-task-list__tag" id="list-convictions-status">in progress</strong>{% endif %}
                    {% if not data['contact-check']%}  <strong class="govuk-tag govuk-tag--grey app-task-list__tag" id="list-convictions-status">Not started</strong>{% endif %}{% endif %}
                  </li> -->

                  <li class="app-task-list__item">
                    <span class="app-task-list__task-name">
                   <a href="./check-application/employment-details" aria-describedby="read-declaration-status">
                         Employment details
                     </a>
                    </span>
                            {% if 'Employment details' in data['wpa-report'] and not data['more-detail-job-1']%}<strong class="govuk-tag govuk-tag--grey app-task-list__tag" id="list-convictions-status">in progress</strong>{% else %}
                    {% if data['job-deatils-check']=='No'%}<strong class="govuk-tag app-task-list__tag" id="eligibility-status">Completed</strong>{% endif %}
                    {% if data['job-deatils-check']=='Yes'%}  <strong class="govuk-tag govuk-tag--blue app-task-list__tag" id="contact-details-status">Contact needed</strong>{% endif %}
                    {% if not data['job-deatils-check']%}  <strong class="govuk-tag govuk-tag--grey app-task-list__tag" id="list-convictions-status">Not started</strong>{% endif %}{% endif %}
                  </li>






</ul>
</li>
{% if data['job-deatils-check']
and

   data['condition-check']
 %}
<p>Go to next tab <a href="/live-36/cases/claim#business-case">prepare business case</a></p><br>
 {% else %}



{% endif %}
