
{% extends "layout.html" %}

{% block pageTitle %}


  HTO-5149 index

{% endblock %}

{% block header %}

  <div class="prototype-remove-blue-border-from-header">

    {{ super() }}

    <div class="prototype-home-top">

      <div class="govuk-width-container">

        <div class="govuk-grid-row">

          <div class="govuk-grid-column-two-thirds">

            <h1 class="govuk-heading-xl govuk-!-margin-bottom-4">Access to Work</h1>

            <h1 class="govuk-heading-l govuk-!-font-weight-regular  govuk-!-margin-bottom-2">Renewals prototype</h1>


          </div>

        </div>

      </div>

    </div>

  </div>

{% endblock %}

{% block beforeContent %}

  {{ super() }}
  {{ govukBackLink({

    text: 'Back to renewals home',
    href: '/renewals/'

  }) }}
{% endblock %}

{% block content %}






  <div class="govuk-grid-row">
    <div class="govuk-grid-column-one-half">


<details class="govuk-details" data-module="govuk-details">
  <summary class="govuk-details__summary">
    <span class="govuk-details__summary-text">
      Summary of changes
    </span>
  </summary>
  <div class="govuk-details__text">
    <ul class="govuk-list govuk-list--bullet">
  <li>'Get help' moved to bottom of page as per the DWP design system</li>

</ul>
  </div>
</details>

     <p>
        <a href="service/are-you-a-civil-servant.html" class="govuk-link--no-visited-state">
       Full service journey
         </a>
      <br>Full journey, including new and updated pages.</p>

      <h3 class="govuk-heading-m">Individual pages</h3>


      <p><a href="service/support-changes" class="govuk-link--no-visited-state">
      New question – support changes
        </a>


        <p><a href="service/contact-details" class="govuk-link--no-visited-state">
      Contact details
        </a>


{# @Max this link won't work from the index, is there a way to get it to work, so the devs can see the page from this index? #}
        <p><a href="service/review" class="govuk-link--no-visited-state">
      Check your answers
        </a>
      


        <p><a href="service/renewal-sent" class="govuk-link--no-visited-state">
      Confirmation page
        </a>

        <br>
        Content updates, including dynamic content for whether any support changes selected.
        </p>


        <h4 class="govuk-heading-s govuk-error-message">Error messages: support changes page</h4>

         <p>
         <a href="service/support-changes-error-no-selection" class="govuk-link--no-visited-state">
        No checkboxes selected

        </a> <br>If continue button selected before checkboxes completed. </p>

       <p>
         <a href="service/support-changes-no-js-error" class="govuk-link--no-visited-state">
       No JS – if ‘no changes‘ selected with another checkbox

          </a> <br>If JavaScript is turned off, the ‘exclusive‘ behaviour will not work on the ‘no changes‘ checkbox.
        <br>
        <br>
        Error message needed to prevent other checkboxes being selected alongside ‘no changes‘.</p>





    </div>
  </div>

{% endblock %}
