{% set page = "claim" %}
{% set claim = "true" %}
{% set title = "Case details" %}

{% extends folder + "/claim/_CSIBASE.html" %}

{% block csi %}
<br>




<form action="urn" method="post" novalidate>


  <div class="govuk-width-container">


    <main class="govuk-main-wrapper">

      <div class="govuk-grid-row">
        <div class="govuk-grid-column-two-thirds">





          <div class="govuk-form-group">
                     <fieldset class="govuk-fieldset">
                       <legend class="govuk-fieldset__legend govuk-fieldset__legend--l">
                         <h1 class="govuk-fieldset__heading">
Have you copied any information needed in ATWIS, over to DiSC?
                         </h1>
                       </legend>




                       <div class="govuk-radios ">
                         <div class="govuk-radios__item">
                           <input class="govuk-radios__input" id="disc-copy" name="disc-copy{{phase}}" type="radio" value="Yes" {{ checked("disc-copy", "Yes") }}>
                           <label class="govuk-label govuk-radios__label" for="disc-copy">
                            Yes
                           </label>
                         </div>


                                          <div class="govuk-radios__item">
                                            <input class="govuk-radios__input" id="disc-copy-2" name="disc-copy" type="radio" value="No, there is no information to copy over" {{ checked("disc-copy", "No, there is no information to copy over") }}>
                                            <label class="govuk-label govuk-radios__label" for="disc-copy-2">
                                          No, there is no information to copy over
                                            </label>
                                          </div>




                       </div>

                     </fieldset>
                   </div>


           <button class="govuk-button" data-module="govuk-button">
             Save and continue
           </button>
         </form>
       </div>
     </div>


        </main>
        </div>



{% endblock %}
