{% set page = "claim" %}
{% set claim = "true" %}
{% set title = "Case details" %}
{% set edit = 'true' %}
{% extends folder + "/claim/_CSIBASE.html" %}

{% block csi %}


<div class="govuk-width-container">


  <main class="govuk-main-wrapper " id="main-content" role="main">
    <div class="govuk-grid-row">
      <div class="govuk-grid-column-two-thirds">
      <h1 class="govuk-heading-l">

                    Edit: employment details</h1>










  {% include "live-40/claim/_job-details.html"%}

  <!-- <p><a href="/live-40/cases/check-application/employment-help-needed/details">  Add more details</a></p> -->

<form action="../" method="post" novalidate>




          <button class="govuk-button" data-module="govuk-button">
            Confirm and save
          </button>

        </form>
        </div>
      </div>
    </main>
  </div>


{% endblock %}
