{% set page = "claim" %}
{% set claim = "true" %}
{% set title = "Case details" %}
{% set hideback = "Case details" %}
{% extends folder + "/claim/_refurralform.html" %}


{% block content %}


<form action="" method="post" novalidate>


  <div class="govuk-width-container">
    <!-- <a href="#" class="govuk-back-link">Back</a> -->

    <main class="govuk-main-wrapper">
<img src="/public/images/dwp-logo.png" alt="User icon" class="dwp-image">
      <div class="govuk-grid-row">
        <div class="govuk-grid-column-two-thirds">





         <!-- Disable browser validation for any examples that include form elements -->






  <div class="govuk-form-group">
    <h1 class="govuk-heading-l">
              Annex A<br>Needs Assessment Referral

            </h1>
<p>This report framework should be flexible and open to change to allow us to respond to
change in the life of the contract.</p>

<!-- <p><a href="https://www.gov.uk/government/publications/access-to-work-holistic-assessments-provider-guidance" target="_blank">Access to Work holistic assessments provider guidance (opens in a new tab)</a>.
<p> Add any addtional address, contact details and alternatives where needed to the refferal form. As well as: </p>
<ul>
  <li>If addtional ID is required</li>
  <li>Avability of Dereck Smith over the next 8 working days</li>
  <li>other Contact details</li>
  <li>Place of Assessment, if diffrent from workplace address</li>
</ul> -->

<dl class="govuk-summary-list govuk-summary-list--no-border">
<div class="govuk-summary-list__row">
<dt class="govuk-summary-list__key">
Name
</dt>
<dd class="govuk-summary-list__value">
Dereck Smith
</dd>
</div>
<div class="govuk-summary-list__row">
<dt class="govuk-summary-list__key">
NINO
</dt>
<dd class="govuk-summary-list__value">
{{data['national-insurance-number']}}
</dd>
</div>
<div class="govuk-summary-list__row">
<dt class="govuk-summary-list__key">
Assessment Type
</dt>
<dd class="govuk-summary-list__value">
{{data['wpa-type']}}
</dd>
</div>
<div class="govuk-summary-list__row">
<dt class="govuk-summary-list__key">
Health condition or disability
</dt>
<dd class="govuk-summary-list__value">
macular oedema
</dd>
</div>
<div class="govuk-summary-list__row">
<dt class="govuk-summary-list__key">
How does your condition or disability affect you at work? Current reported performance against job tasks (impact of disability)
</dt>
<dd class="govuk-summary-list__value">
I have macular oedema which has cause permanent vision loss in both eyes. It was caused by my diabetes. I ask colleagues to read thing out aloud and describe them to me on video calls and in person.
</dd>
</div>
<div class="govuk-summary-list__row">
<dt class="govuk-summary-list__key">
Detail the customer’s experience with previous solutions
</dt>
<dd class="govuk-summary-list__value">
I need Jaws to read out the content on a screen to me, as I'm unable to visual see the screen currently have to rely on others. I use a computer for 99% of my work.</dd>
</div>





<div class="govuk-summary-list__row">
<dt class="govuk-summary-list__key">
Job title
</dt>
<dd class="govuk-summary-list__value">
QA Engineer
</dd>
</div>
<div class="govuk-summary-list__row">
<dt class="govuk-summary-list__key">
Job description
</dt>
<dd class="govuk-summary-list__value">
Responsible for the creation of tests to identify issues with software before the product launch. Duties include identifying and analysing any bugs and errors found during the test phase and documenting them for review after. Skills: Communications skills, both written and verbal. Strong IT skills Creating documentation Coding Bug Reporting Improving Quality Assurance Practices
</dd>
</div>
<div class="govuk-summary-list__row">
<dt class="govuk-summary-list__key">

</dt>
<dd class="govuk-summary-list__value">

</dd>
</div>

<h2>Contact details</h2>
<div class="govuk-summary-list__row">
<dt class="govuk-summary-list__key">
Telephone number
</dt>
<dd class="govuk-summary-list__value">
01234567890
</dd>
</div>
<div class="govuk-summary-list__row">
<dt class="govuk-summary-list__key">
 Email
</dt>
<dd class="govuk-summary-list__value">
dereck@gmail.com
</dd>
</div>
<div class="govuk-summary-list__row">
<dt class="govuk-summary-list__key">
When are the best times to contact you?
</dt>
<dd class="govuk-summary-list__value">
Between 8:30 am and 6pm Monday to Saturday.
</dd>
</div>


<h2>Place of Assessment</h2>
<div class="govuk-summary-list__row">
<dt class="govuk-summary-list__key">
Address of Assessment
</dt>
<dd class="govuk-summary-list__value">

{% if data['address-of-wpa']=='Other address'%}
{{data['address-wpa-line-1']}}<br>
{{data['address-wpa-line-2']}}{% if data['address-wpa-line-2']%}<br>{% endif %}
{{data['address-wpa-town']}}<br>
{{data['address-wpa-county']}}<br>
{{data['address-wpa-postcode']}}
{% else %}
{{data['address-of-wpa']}}{% endif %}


</dd>
<dd class="govuk-summary-list__actions">

    </dd>

</div>
<div class="govuk-summary-list__row">
<dt class="govuk-summary-list__key">
Company or organisation name
</dt>
<dd class="govuk-summary-list__value">
Smith Digital Limited
</dd>
</div>

<div class="govuk-summary-list__row">
<dt class="govuk-summary-list__key">
Organisational Set Up
</dt>
<dd class="govuk-summary-list__value">
{{data['employer-size']}}

</dd>
</div>



<h2>Workplace contact</h2>
<div class="govuk-summary-list__row">
<dt class="govuk-summary-list__key">
Name
</dt>
<dd class="govuk-summary-list__value">
Jane Doe
</dd>
<dd class="govuk-summary-list__actions">

    </dd>
</div>

<div class="govuk-summary-list__row">
<dt class="govuk-summary-list__key">
Job title
</dt>
<dd class="govuk-summary-list__value">
Line Manager
</dd><dd class="govuk-summary-list__actions">

    </dd>
</div>
<div class="govuk-summary-list__row">
<dt class="govuk-summary-list__key">
Email address
</dt>
<dd class="govuk-summary-list__value">
Jane@smithdigital.co
</dd><dd class="govuk-summary-list__actions">

    </dd>
</div>
<div class="govuk-summary-list__row">
<dt class="govuk-summary-list__key">
Phone number
</dt>
<dd class="govuk-summary-list__value">
123456789
</dd><dd class="govuk-summary-list__actions">

    </dd>
</div>

</dl>



<!-- <div class="govuk-form-group">
  <fieldset class="govuk-fieldset" aria-describedby="changed-name-hint">
    <legend class="govuk-fieldset__legend govuk-fieldset__legend--m">
      <h2 class="govuk-fieldset__heading">
      Additional ID
      </h2>
    </legend>

    <div class="govuk-radios govuk-radios--inline" data-module="govuk-radios">
      <div class="govuk-radios__item">
        <input class="govuk-radios__input" id="changed-name" name="changed-name" type="radio" value="yes">
        <label class="govuk-label govuk-radios__label" for="changed-name">
          Yes
        </label>
      </div>
      <div class="govuk-radios__item">
        <input class="govuk-radios__input" id="changed-name-2" name="changed-name" type="radio" value="no">
        <label class="govuk-label govuk-radios__label" for="changed-name-2">
          No
        </label>
      </div>
    </div>

  </fieldset>
</div> -->





<div class="govuk-form-group">
  <h2 class="govuk-label-wrapper"><label class="govuk-label govuk-label--m" for="more-detail">
      Availability of Dereck Smith over the next 8 working days
    </label>
  </h2>

<p>{{ data['availability-wpa']}}</p>

{% if 'No' in data['others-wpa']%}
<p>Dereck Smith has requested no one else at the WPA.</p>{% endif %}

{% if 'portugal' in data['others-wpa']%}
<p>Dereck Smith has requested a third party at the WPA.</p>

<div class="govuk-form-group">
  <h2 class="govuk-label-wrapper"><label class="govuk-label govuk-label--m" for="more-detail">
      Avability of third party over the next 8 working days
    </label>
  </h2>
  <div id="more-detail-hint" class="govuk-hint">
    Include names and availability on non-working days/out of working hours if
appropriate.
  </div>

  <div class="govuk-form-group">
</div>
  <textarea class="govuk-textarea" id="more-detail" name="more-detail" rows="5" aria-describedby="more-detail-hint"></textarea>
</div>

{% endif %}

{% if 'france' in data['others-wpa']%}
<p>Dereck Smith has requested someone from Smith Digital Limited at the WPA.</p>

<div class="govuk-form-group">
  <h2 class="govuk-label-wrapper"><label class="govuk-label govuk-label--m" for="more-detail">
      Avability of someone from Smith Digital Limited over the next 8 working days
    </label>
  </h2>
  <div id="more-detail-hint" class="govuk-hint">
    Include names and availability on non-working days/out of working hours if
appropriate.
  </div>

  <div class="govuk-form-group">
</div>
  <textarea class="govuk-textarea" id="more-detail" name="more-detail" rows="5" aria-describedby="more-detail-hint"></textarea>
</div>

{% endif %}
            <form action="/form-handler" method="post" novalidate>

  </div>




  <h2 >
  Access to Work Adviser Name
  </h2>
  <p>
John Goldsmith</p>
<h2 >
Access to Work Adviser Email
</h2>
<p>john@dwp.co.uk</p>

<div class="govuk-form-group">
  <label class="govuk-label" for="telephone-number">
Access to Work Adviser Telephone Number
  </label>
  <input class="govuk-input govuk-input--width-20" id="telephone-number" name="telephone-number" type="tel" autocomplete="tel">
</div>

<!-- <div id="current_date"></p>
<script>
document.getElementById("current_date").innerHTML = Date();
</script> -->





<p><span id="day"></span> <span id="month"></span> <span id="year"></span></p>

<script>
const months = ["January","February","March","April","May","June","July","August","September","October","November","December"];

const d = new Date();
let month = months[d.getMonth()];
document.getElementById("day").innerHTML = d.getDate();
document.getElementById("month").innerHTML = month;
document.getElementById("year").innerHTML = d.getFullYear();
</script>

<div class="govuk-inset-text">
To save the referral you may need to select the PDF option from the 'printer' or 'destination' dropdown<br><br>
<button class="govuk-button" data-module="govuk-button" onclick="window.print();">
 Save as pdf
</button>
</form>
</div>
           <!-- <button class="govuk-button" data-module="govuk-button" onclick="window.print();">
            Save as pdf
           </button>
         </form> -->
       </div>
     </div>


   </main>
   </div>



{% endblock %}
