{% extends "layout.html" %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <h1 class="govuk-heading-xl">

      <span class="govuk-caption-xl"></span>

</h1>

<p>Jump to page:</p>
  <ul class="govuk-list">
    <p class="govuk-body-l">Case manager view</p>
    <li>
      <a class="govuk-link" href="your-cases.html">Your cases - User type: Case manager</a>
    </li>
    <br>

    <li>
      <a class="govuk-link" href="your-cases-allocator.html">Your cases - User type: Leads/Allocator </a>
    </li>
    <br>


    <p class="govuk-body-l"> Screens</p>
    <p>If you do not select as user type view from the above two links, the following page will default to the last type you had or Case manager. <p>

<ul class="govuk-list govuk-list--bullet">
    <li>
      <a class="govuk-link" href="search.html">Search</a>
    </li>
    <li>
      <a class="govuk-link" href="all-advisers.html">All advisers (Lead/allocator view only)</a>
    </li>

</ul>



<h2 class="govuk-heading-s">Dereck Smith Case:</h2>
<p>Case type: Does not know what they need</p>
<ul class="govuk-list govuk-list--bullet">
    <li>
      <a class="govuk-link" href="cases/claim.html">Case (Summary tab)</a>
    </li>
    <li>
      <a class="govuk-link" href="cases/claim#checks">Case (Check tab)</a>
    </li>
    <li>
      <a class="govuk-link" href="cases/claim#citizen-details">Case (Application review tab)</a>
    </li>
    <li>
      <a class="govuk-link" href="cases/claim#business-case">Case (Business case tab)</a>
    </li>
    <li>
      <a class="govuk-link" href="cases/claim#contact">Case (Contact tab)</a>
    </li>
</ul>
<h2 class="govuk-heading-s">Sonya Corkery Case:</h2>
<p>Case type: Multiple specialist equipment and mental health support</p>
<ul class="govuk-list govuk-list--bullet">
    <li>
      <a class="govuk-link" href="cases/sonya/cases/claim.html">Case (Summary tab)</a>
    </li>
    <li>
      <a class="govuk-link" href="cases/sonya/cases/claim#checks">Case (Check tab)</a>
    </li>
    <li>
      <a class="govuk-link" href="cases/sonya/cases/claim#citizen-details">Case (Application review tab)</a>
    </li>
    <li>
      <a class="govuk-link" href="cases/sonya/cases/claim#business-case">Case (Business case tab)</a>
    </li>
    <li>
      <a class="govuk-link" href="cases/sonya/cases/claim#contact">Case (Contact tab)</a>
    </li>
</ul>
<h2 class="govuk-heading-s">Thomas King Case</h2>
<p>Case type: Support worker and cap case</p>
<ul class="govuk-list govuk-list--bullet">
    <li>
      <a class="govuk-link" href="cases/thomas/cases/claim.html">Case (Summary tab)</a>
    </li>
    <li>
      <a class="govuk-link" href="cases/thomas/cases/claim#checks">Case (Check tab)</a>
    </li>
    <li>
      <a class="govuk-link" href="cases/thomas/cases/claim#citizen-details">Case (Application review tab)</a>
    </li>
    <li>
      <a class="govuk-link" href="cases/thomas/cases/claim#business-case">Case (Business case tab)</a>
    </li>
    <li>
      <a class="govuk-link" href="cases/thomas/cases/claim#contact">Case (Contact tab)</a>
    </li>
</ul>

<h2 class="govuk-heading-s">Arlo Spinka Case</h2>
<p>Case type: Support worker</p>
<ul class="govuk-list govuk-list--bullet">
    <li>
      <a class="govuk-link" href="cases/thomas/cases/claim.html">Case (Summary tab)</a>
    </li>
    <li>
      <a class="govuk-link" href="cases/thomas/cases/claim#checks">Case (Check tab)</a>
    </li>
    <li>
      <a class="govuk-link" href="cases/thomas/cases/claim#citizen-details">Case (Application review tab)</a>
    </li>
    <li>
      <a class="govuk-link" href="cases/thomas/cases/claim#business-case">Case (Business case tab)</a>
    </li>
    <li>
      <a class="govuk-link" href="cases/thomas/cases/claim#contact">Case (Contact tab)</a>
    </li>
</ul>

{% endblock %}
