{% set case = "sonya" %}
{% set page = "claim" %}
{% set claim = "true" %}
{% set title = "Which items appear on the proforma invoices you are rejecting?" %}

{% extends   "payments/sprint-34/claim/_CSIBASE.html" %}



{% block csi %}
<br>




<form action="/payments/sprint-34/cases/sonya/cases/paid-in-full-no-match/paid-in-full-no-match-valid-no-reject" method="post" novalidate>

  <div class="govuk-width-container">

    <main class="govuk-main-wrapper">





<div class="govuk-form-group">
                    <fieldset class="govuk-fieldset" aria-describedby="nationality-hint">
                      <legend class="govuk-fieldset__legend govuk-fieldset__legend--l">
                        <h1 class="govuk-fieldset__heading">

<!-- MAKE DYNAMIC TEXT BASED ON FEEDER RADIOS AS WE KNOW WHAT IS WRONG ALREADY, AMOUNT, ELEMENT OR BOTH -->
                          Which items appear on the proforma invoices you are rejecting?
                        </h1>
                      </legend>
                      <div id="nationality-hint" class="govuk-hint">
                        <!-- If you have dual nationality, select all options that are relevant to you. -->
                      </div>
                      <div class="govuk-checkboxes" data-module="govuk-checkboxes">
                        <!-- <div class="govuk-checkboxes__item">
                          <input class="govuk-checkboxes__input" id="paid-in-full-no-match-1" name="paid-in-full-no-match" type="checkbox" value="Jaws screen reader" {{ checked("paid-in-full-no-match", "Jaws screen reader") }}>
                          <label class="govuk-label govuk-checkboxes__label" for="paid-in-full-no-match-1">
                            Jaws screen reader
                          </label> -->
                          <!-- <div id="nationality-item-hint" class="govuk-hint govuk-checkboxes__hint">
                            £499
                          </div> -->
                        <!-- </div> -->

                        <div class="govuk-checkboxes__item">
                          <input class="govuk-checkboxes__input" id="paid-in-full-no-match-2" name="paid-in-full-no-match" type="checkbox" value="ZoomText Professional License" {{ checked("paid-in-full-no-match", "ZoomText Professional License") }}>
                          <label class="govuk-label govuk-checkboxes__label" for="paid-in-full-no-match-2">
                            ZoomText Professional License
                          </label>
                          <!-- <div id="nationality-item-hint" class="govuk-hint govuk-checkboxes__hint">
                            £501
                          </div> -->
                        </div>


                      </div>



                  <!-- <p class="govuk-body">
                     <a href="#" class="govuk-link">Check Searchlight (opens in a new tab)</a>
                   </p> -->

                          <!-- <p class="govuk-body">
                            Application details: -->
                          <!-- </p>
                          <dl class="govuk-summary-list">
                          <div class="govuk-summary-list__row">
                          <dt class="govuk-summary-list__key">
                          Element type
                          </dt>
                          <dd class="govuk-summary-list__value">
                          Specialist equipment
                          </dd>
                          </div>
                          <div class="govuk-summary-list__row">
                          <dt class="govuk-summary-list__key">
                          Description
                          </dt>
                          <dd class="govuk-summary-list__value">
                          JAWS, Job Access With Speech
                          </dd>
                          </div>
                          <div class="govuk-summary-list__row">
                          <dt class="govuk-summary-list__key">
                          Cost
                          </dt>
                          <dd class="govuk-summary-list__value">
                          £499
                          </dd>
                          </div>
                          <br>

                          </dl>
                          <form action="/form-handler" method="post" novalidate>

                            <div class="govuk-form-group">
                              <fieldset class="govuk-fieldset">
                                <legend class="govuk-fieldset__legend govuk-fieldset__legend--m">
 -->




                                  <!-- <div class="govuk-form-group">
                                  <legend class="govuk-fieldset__legend govuk-fieldset__legend--l">
                                    <h2 class="govuk-heading-m">
                                      Does the claim match the invoice?
                                    </h2>
                                  </legend>
                                      <div class="govuk-radios" data-module="govuk-radios">
                                        <div class="govuk-radios__item">
                                          <input class="govuk-radios__input" id="grant-matches-invoice-1" name="grant-matches-invoice" type="radio" value="yes~claim#your-tasks" {{ checked("grant-matches-invoice", "Yes") }}>
                                          <label class="govuk-label govuk-radios__label" for="grant-matches-invoice-1">
                                            Yes
                                          </label>
                                        </div>
                                        <div class="govuk-radios__item">
                                          <input class="govuk-radios__input" id="grant-matches-invoice-2" name="grant-matches-invoice" type="radio" value="No~claim#your-tasks" {{ checked("grant-matches-invoice", "No") }}>
                                          <label class="govuk-label govuk-radios__label" for="grant-matches-invoice-2">
                                            No
                                          </label>
                                        </div>
 -->
                                    </div>
                                  </div>


                                       <button class="govuk-button" data-module="govuk-button">
                                         Save and continue
                                       </button>
                                     </form>
                                   </div>
                                  </div>


                                    </main>
                                    </div>







                                  {% endblock %}
