{% extends "layout.html" %}

{% block content %}

<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

        <form id="form" method="post" action="../interviewer_details">

        <h1 class="govuk-heading-l govuk-!-margin-bottom-2">
          Tell us where you are having your interview
        </h1>

        <div class="govuk-form-group">
            <label class="govuk-label" for="event-name">
                Company Name
            </label>
            <input class="govuk-input" id="event-name" name="event-name" type="text">
       </div>

        <fieldset class="govuk-fieldset">

            <div class="govuk-form-group">
              <h2 class="govuk-heading-m govuk-!-margin-bottom-2">
                Company Address
              </h2>
            <label class="govuk-label" for="address-line-1">
                Building and street
                <span class="govuk-visually-hidden">line 1 of 2</span>
            </label>
            <input class="govuk-input" id="address-line-1" name="address-line-1" type="text">
            </div>

            <div class="govuk-form-group">
            <label class="govuk-label" for="address-line-2">
                <span class="govuk-visually-hidden">Building and street line 2 of 2</span>
            </label>
            <input class="govuk-input" id="address-line-2" name="address-line-2" type="text">
            </div>

            <div class="govuk-form-group">
            <label class="govuk-label" for="address-town">
                Town or city
            </label>
            <input class="govuk-input govuk-!-width-two-thirds" id="address-town" name="address-town" type="text">
            </div>

            <div class="govuk-form-group">
            <label class="govuk-label" for="address-county">
                County
            </label>
            <input class="govuk-input govuk-!-width-two-thirds" id="address-county" name="address-county" type="text">
            </div>

            <div class="govuk-form-group">
            <label class="govuk-label" for="address-postcode">
                Postcode
            </label>
            <input class="govuk-input govuk-input--width-10" id="address-postcode" name="address-postcode" type="text">
            </div>

        </fieldset>

        <input type="submit" class="govuk-button" value="Continue" id="submit"><!-- dob -->

    </form>

    <div><!-- govuk-grid-column-two-thirds -->
<div><!-- govuk-grid-row -->
{% endblock %}
