{% set page = "claim" %}
{% set claim = "true" %}
{% set title = "Case details" %}
{% set view = "tab" %}


{% extends   "payments/sprint-46/claim/_CSIBASE-no-footer.html" %}



{% block csi %}
<br>


<form action="/payments/sprint-46/cases/thomas/review-invoice-no-match/sw-invoice-rejected-add-hours-2-tab#your-tasks" method="post" novalidate>



<!-- <form action="/payments/sprint-46/cases/thomas/cases/review-claim/sw-claim-tab#your-tasks" method="post" novalidate> -->



  <div class="govuk-width-container">
    <main class="govuk-main-wrapper">
      <div class="govuk-grid-row">
        <div class="govuk-grid-column-two-thirds">


          <div class="govuk-form-group">
            <fieldset class="govuk-fieldset" role="group" aria-describedby="sw-claim-start-hint">
              <legend class="govuk-fieldset__legend govuk-fieldset__legend--l">
                <h1 class="govuk-fieldset__heading">
                  {{data['sw-invoice-ref-2']}}: add details
                </h1>

                <!-- <div class="govuk-inset-text">
                  {{data['sw-invoice-ref-2']}}
                </div> -->

              </legend>
              <label class="govuk-label govuk-label--m" for="sw-invoice-start-name-2">
                Invoice start date
              </label>
              <div id="sw-claim-start-hint" class="govuk-hint">
                For example, 1 3 2023
              </div>
              <div class="govuk-date-input" id="sw-invoice-start-2">
                <div class="govuk-date-input__item">
                  <div class="govuk-form-group">
                    <label class="govuk-label govuk-date-input__label" for="sw-invoice-start-day-2">
                      Day
                    </label>
                    <input class="govuk-input govuk-date-input__input govuk-input--width-2" id="sw-invoice-start-day-2" name="sw-invoice-start-day-2" type="text" inputmode="numeric" value="{{data ['sw-invoice-start-day-2']}}">
                  </div>
                </div>
                <div class="govuk-date-input__item">
                  <div class="govuk-form-group">
                    <label class="govuk-label govuk-date-input__label" for="sw-invoice-start-month-2">
                      Month
                    </label>
                    <input class="govuk-input govuk-date-input__input govuk-input--width-2" id="sw-invoice-start-month-2" name="sw-invoice-start-month-2" type="text" inputmode="numeric" value="{{data ['sw-invoice-start-month-2']}}">
                  </div>
                </div>
                <div class="govuk-date-input__item">
                  <div class="govuk-form-group">
                    <label class="govuk-label govuk-date-input__label" for="sw-claim-start-year">
                      Year
                    </label>
                    <input class="govuk-input govuk-date-input__input govuk-input--width-4" id="sw-invoice-start-year-2" name="sw-invoice-start-year-2" type="text" inputmode="numeric" value="{{data ['sw-invoice-start-year-2']}}">
                  </div>
                </div>
              </div>
              <br>



              <label class="govuk-label govuk-label--m" for="sw-invoice-end-2">
                Invoice end date
              </label>
              <div id="sw-claim-end-hint" class="govuk-hint">
                For example, 31 3 2023
              </div>
              <div class="govuk-date-input" id="sw-claim-end">
                <div class="govuk-date-input__item">
                  <div class="govuk-form-group">
                    <label class="govuk-label govuk-date-input__label" for="sw-invoice-end-day-2">
                      Day
                    </label>
                    <input class="govuk-input govuk-date-input__input govuk-input--width-2" id="sw-invoice-end-day-2" name="sw-invoice-end-day-2" type="text" inputmode="numeric" value="{{data ['sw-invoice-end-day-2']}}">
                  </div>
                </div>
                <div class="govuk-date-input__item">
                  <div class="govuk-form-group">
                    <label class="govuk-label govuk-date-input__label" for="sw-invoice-end-month-2">
                      Month
                    </label>
                    <input class="govuk-input govuk-date-input__input govuk-input--width-2" id="sw-invoice-end-month-2" name="sw-invoice-end-month-2" type="text" inputmode="numeric" value="{{data ['sw-invoice-end-month-2']}}">
                  </div>
                </div>
                <div class="govuk-date-input__item">
                  <div class="govuk-form-group">
                    <label class="govuk-label govuk-date-input__label" for="sw-invoice-end-year-2">
                      Year
                    </label>
                    <input class="govuk-input govuk-date-input__input govuk-input--width-4" id="sw-invoice-end-year-2" name="sw-invoice-end-year-2" type="text" inputmode="numeric" value="{{data ['sw-invoice-end-year-2']}}">
                  </div>
                </div>
              </div>
              <br>






            </fieldset>
          </div>






    </div>
    </div>
    <div class="govuk-button-group">
      <button class="govuk-button" data-module="govuk-button">
        Save and continue
      </button>
    </form>
       </div>
     </div>


        </main>
        </div>







{% endblock %}
