


    <!-------------- header -->
        <!-- <div class="govuk-grid-column-two-thirds" > -->
<h1 class="govuk-heading-l top-section">
      <strong><span>Case Manager: </span></strong>
  {% if phase == "allocator"  %}
  <span class="normal"> Al Ó Catháin  </span>{% else %}
  John Goldsmith
  {% endif %}
    </h1>



<!-------------- csi tables -->






<div class="govuk-grid-row">
  <div class="govuk-grid-column-full">


{% if taskUpdated %}
<div class="container status-message">
<div class="govuk-panel govuk-panel--confirmation">

  <h2 class="govuk-!-font-size-36"><img class="icon" style="height: 1em;
    margin: 0 15px;
    vertical-align: top;
}" src="{{asset_path}}images/icon-tick@2x.png" alt="">Case allocated</h2>


</div></div>
{% endif %}




    {% set csi %}
    <div class="govuk-grid-row">
      <div class="govuk-grid-column-two-thirds">
        <h2 class="govuk-heading-m">CSI cases </h2>
      </div>
    </div>

<form action="/current/your-cases#csi" method="post" novalidate for="submitButtonRequestcsi">


  <div class="govuk-grid-column-one-quaters">


    <p class="govuk-body govuk-!-margin-bottom-6"></p>
          <input type="submit" class="govuk-button" id="submitButtonRequestcsi" name="csi-button" value="Request a new CSI case"></form>
      </div>



{% include "./claim/_notification-csi-type-case.html" %}


<br></br>
<p>There are currently no CSI Cases.</P>






      {% endset -%}




<!-------------- Your priority cases -->

{% set priority %}
<div class="govuk-grid-row">
  <div class="govuk-grid-column-one-third">
    <h2 class="govuk-heading-m">Priority cases </h2>
  </div>

  </div>
<form action="/current/your-cases#priority" method="post" novalidate for="submitButtonRequestPriority">
  <div class="govuk-grid-column-one-quaters">

          <div class="govuk-form-group" style="float: left">

      <label class="govuk-label" for="sort">
        Type of case
      </label>
      <select class="govuk-select" id="priority" name="priority">
        <option value="Job"
      {% if 'Job' in data['priority']%}selected{% endif %}>Job start</option>
        <option value="cev"
      {% if 'cev' in data['priority']%}selected{% endif %}> Clinically extremely vulnerable (CEV)</option>
        <option value="Kickstart"
      {% if 'Kickstart' in data['priority']%}selected{% endif %}>Kickstart</option>
        <option value="YPGS"
        {% if 'YPGS' in data['priority']%}selected{% endif %}>Young Person Guarantee Scotland (YPGS)</option>
      </select>
  </div>
  </div>

  <div class="govuk-grid-column-one-third" >

<p class="govuk-body govuk-!-margin-bottom-6"></p>
      <input type="submit" class="govuk-button" id="submitButtonRequestPriority" value="Request a new priority case">

  </div>
</form>

{% include "./claim/_notification-priority-type-case.html" %}

{% if phase == "allocator"  %}
<br></br></br></br></br></br>
<p>You have no cases.</P>

{% else %}
  <table class="govuk-table">
      <thead class="govuk-table__head">
          <tr class="govuk-table__row">
            <th scope="col" class="govuk-table__header">Name</th>
            <!-- <th class="govuk-table__header">Specialism</th> -->
            <th scope="col" class="govuk-table__header">Case type</th>
            <th scope="col" class="govuk-table__header">Priority type</th>
            <th scope="col" class="govuk-table__header">Date submitted</th>
            <th scope="col" class="govuk-table__header">Status </th>
            <th scope="col" class="govuk-table__header"></th>
          </tr>
        </thead>
        <tbody>


{% if  data['Dereck-Smith']=='complete'%}{% else %}
            <tr class="govuk-table__row">
              <th scope="row" class="govuk-table__header">Dereck Smith</th>
              <!-- <td class="govuk-table__cell"> 	Pan disability</td> -->
              <td class="govuk-table__cell">New application</td>
              <td class="govuk-table__cell">Job start </td>
              <td class="govuk-table__cell"><script>
                // Get date
                    var now = new Date();
                    var pastDate = new Date(now);
                    pastDate.setDate(now.getDate() - 60);

                    var formattedDate = pastDate.toLocaleDateString('en-GB', {
                    day: 'numeric',
                    month: 'long',
                    year: 'numeric'
                    });

                    var formattedTime = pastDate.toLocaleTimeString('en-GB', {
                    hour: 'numeric',
                    minute: 'numeric',
                    hour12: true
                    });

                    document.write(formattedDate + ', 3:00 pm');
                   </script></td>
                      <td class="govuk-table__cell">Not started</td>
              <!-- <td class="govuk-table__cell">Not started in progress On hold</td> -->
              <td class="govuk-table__cell"><a href="cases/claim{% if phase == "allocator"%}-allocator{% endif %}{% if phase == "case-manger-view"%}-case-manager-view{% endif %}">Go to case</a></td>
            </tr>

{% endif %}

{% if  data['Dereck-Smith']=='complete'%}{% else %}
            <tr class="govuk-table__row">
              <th scope="row" class="govuk-table__header">Sarah Lumley</th>
              <!-- <td class="govuk-table__cell"> 	Pan disability</td> -->
              <td class="govuk-table__cell">New application</td>
              <td class="govuk-table__cell">Job start </td>
              <td class="govuk-table__cell"><script>
                // Get date
                    var now = new Date();
                    var pastDate = new Date(now);
                    pastDate.setDate(now.getDate() - 60);

                    var formattedDate = pastDate.toLocaleDateString('en-GB', {
                    day: 'numeric',
                    month: 'long',
                    year: 'numeric'
                    });

                    var formattedTime = pastDate.toLocaleTimeString('en-GB', {
                    hour: 'numeric',
                    minute: 'numeric',
                    hour12: true
                    });

                    document.write(formattedDate + ', 3:00 pm');
                   </script></td>
                      <td class="govuk-table__cell">Needs approval </td>
              <!-- <td class="govuk-table__cell">Not started in progress On hold</td> -->
              <td class="govuk-table__cell"><a href="cases/allocator/cases/claim{% if phase == "allocator"%}-allocator{% endif %}{% if phase == "case-manger-view"%}-case-manager-view{% endif %}">Go to case</a></td>
            </tr>

{% endif %}



      </tbody>
    </table>

{% endif %}

    {% endset -%}


<!-------------- Your other cases -->
      {% set other %}
      <div class="govuk-grid-row">
        <div class="govuk-grid-column-one-third">
          <h2 class="govuk-heading-m">Other cases </h2>
        </div>
        </div>
<form action="/current/your-cases#other" method="post" novalidate for="submitButtonRequestother">
        <div class="govuk-grid-column-one-quaters">

          <div class="govuk-form-group" style="float: left">
            <label class="govuk-label" for="sort">
              Type of case
            </label>
            <select class="govuk-select" id="other" name="other">
              <option value="any"
                {% if 'any' in data['other']%}selected{% endif %}>Any</option>
              <option value="new"
              {% if 'new' in data['other']%}selected{% endif %} >New application</option>
              <option value="renewal"
              {% if 'renewal' in data['other']%}selected{% endif %}>Renewal</option>

            </select>
        </div>
        </div>

        <div class="govuk-grid-column-one-third" >
      <p class="govuk-body govuk-!-margin-bottom-6"></p>
            <input type="submit" class="govuk-button" id="submitButtonRequestother" value="Request a new other case"></form>

        </div>


{% include "./claim/_notification-other-type-case.html" %}

      {% if phase == "allocator" %}
      <br></br></br></br></br></br>
      <p>You have no cases.</P>
      {% else %}
      <table class="govuk-table">
        <thead class="govuk-table__head">
            <tr class="govuk-table__row">
              <th class="govuk-table__header">Name</th>
              <!-- <th class="govuk-table__header">Specialism</th> -->
              <th class="govuk-table__header">Case type</th>
              <th class="govuk-table__header">Date submitted</th>
              <th class="govuk-table__header">Status</th>
                <th class="govuk-table__header"></th>
            </tr>
          </thead>
          <tbody>
                      <tr class="govuk-table__row">
                        {% if  data['Sonya-Corkery']=='complete'%}{% else %}
                        <th scope="row" class="govuk-table__header">Sonya Corkery</th>
                        <!-- <td class="govuk-table__cell">{{ case.specialism }}</td> -->
                        <td class="govuk-table__cell">{% for case in data['other-cases'] %}{{ case.type }}{% endfor %}</td>
                        <td class="govuk-table__cell"> <script>
                          // Get date
                              var now = new Date();
                              var pastDate = new Date(now);
                              pastDate.setDate(now.getDate() - 60);

                              var formattedDate = pastDate.toLocaleDateString('en-GB', {
                              day: 'numeric',
                              month: 'long',
                              year: 'numeric'
                              });

                              var formattedTime = pastDate.toLocaleTimeString('en-GB', {
                              hour: 'numeric',
                              minute: 'numeric',
                              hour12: true
                              });

                              document.write(formattedDate + ', 3:00 pm');
                             </script></td>
                        <td class="govuk-table__cell">In progress </td>
                                <td class="govuk-table__cell"><a href="/current/cases/sonya/cases/claim">Go to case</a></td>
                          <!-- cases/claim-sonya{% if phase == "allocator"%}-allocator{% endif %} -->
                      </tr>{% endif %}


                      {% if  data['Thomas-King']=='complete'%}{% else %}
                      <tr class="govuk-table__row">
                        <th scope="row" class="govuk-table__header">  Thomas King</th>
                        <!-- <td class="govuk-table__cell">{{ case.specialism }}</td> -->
                        <td class="govuk-table__cell">{% for case in data['other-cases-2'] %}{{ case.type }}{% endfor %}</td>
                        <td class="govuk-table__cell">  <script>
                          // Get date
                              var now = new Date();
                              var pastDate = new Date(now);
                              pastDate.setDate(now.getDate() - 70);

                              var formattedDate = pastDate.toLocaleDateString('en-GB', {
                              day: 'numeric',
                              month: 'long',
                              year: 'numeric'
                              });

                              var formattedTime = pastDate.toLocaleTimeString('en-GB', {
                              hour: 'numeric',
                              minute: 'numeric',
                              hour12: true
                              });

                              document.write(formattedDate + ', 4:51 pm');
                             </script></td>
                               <td class="govuk-table__cell">In progress </td>
                        <td class="govuk-table__cell"><a href="/current/cases/thomas/cases/claim">Go to case</a></td>
                          <!-- cases/claim-sonya{% if phase == "allocator"%}-allocator{% endif %} -->
                      </tr>{% endif %}
                      <tr class="govuk-table__row">
                        <th scope="row" class="govuk-table__header"> John Smith</th>
                        <!-- <td class="govuk-table__cell">{{ case.specialism }}</td> -->
                        <td class="govuk-table__cell">{% for case in data['other-cases-2'] %}{{ case.type }}{% endfor %}</td>
                        <td class="govuk-table__cell">   <script>
                          // Get date
                              var now = new Date();
                              var pastDate = new Date(now);
                              pastDate.setDate(now.getDate() - 60);

                              var formattedDate = pastDate.toLocaleDateString('en-GB', {
                              day: 'numeric',
                              month: 'long',
                              year: 'numeric'
                              });

                              var formattedTime = pastDate.toLocaleTimeString('en-GB', {
                              hour: 'numeric',
                              minute: 'numeric',
                              hour12: true
                              });

                              document.write(formattedDate + ', 1:01 pm');
                             </script></td>
                             <td class="govuk-table__cell">In progress </td>
                        <td class="govuk-table__cell"><a href="/current/cases/john/cases/claim">Go to case</a></td>
                          <!-- cases/claim-sonya{% if phase == "allocator"%}-allocator{% endif %} -->
                      </tr>
                      <tr class="govuk-table__row">
                        <th scope="row" class="govuk-table__header"> Arlo Spinka</th>
                        <!-- <td class="govuk-table__cell">{{ case.specialism }}</td> -->
                        <td class="govuk-table__cell">{% for case in data['other-cases-2'] %}{{ case.type }}{% endfor %}</td>
                        <td class="govuk-table__cell">   <script>
                          // Get date
                              var now = new Date();
                              var pastDate = new Date(now);
                              pastDate.setDate(now.getDate() - 59);

                              var formattedDate = pastDate.toLocaleDateString('en-GB', {
                              day: 'numeric',
                              month: 'long',
                              year: 'numeric'
                              });

                              var formattedTime = pastDate.toLocaleTimeString('en-GB', {
                              hour: 'numeric',
                              minute: 'numeric',
                              hour12: true
                              });

                              document.write(formattedDate + ', 11:13 am');
                             </script></td>
                               <td class="govuk-table__cell">In progress </td>
                        <td class="govuk-table__cell"><a href="/current/cases/arlo/cases/claim">Go to case</a></td>
                          <!-- cases/claim-sonya{% if phase == "allocator"%}-allocator{% endif %} -->
                      </tr>




                      <tr class="govuk-table__row">
                        {% if  data['George-Dermott']=='complete'%}{% else %}
                        <th scope="row" class="govuk-table__header">George Dermott </th>
                        <!-- <td class="govuk-table__cell">{{ case.specialism }}</td> -->
                        <td class="govuk-table__cell">{% for case in data['other-cases'] %}{{ case.type }}{% endfor %}</td>
                        <td class="govuk-table__cell"> <script>
                          // Get date
                              var now = new Date();
                              var pastDate = new Date(now);
                              pastDate.setDate(now.getDate() - 60);

                              var formattedDate = pastDate.toLocaleDateString('en-GB', {
                              day: 'numeric',
                              month: 'long',
                              year: 'numeric'
                              });

                              var formattedTime = pastDate.toLocaleTimeString('en-GB', {
                              hour: 'numeric',
                              minute: 'numeric',
                              hour12: true
                              });

                              document.write(formattedDate + ', 3:00 pm');
                             </script></td>
                               <td class="govuk-table__cell">In progress </td>
                        <td class="govuk-table__cell"><a href="/current/cases/george/cases/claim">Go to case</a></td>
                          <!-- cases/claim-sonya{% if phase == "allocator"%}-allocator{% endif %} -->
                      </tr>{% endif %}
                      <tr class="govuk-table__row">
                        {% if  data['Paul-Stenberg']=='complete'%}{% else %}
                        <th scope="row" class="govuk-table__header">Paul Stenberg </th>
                        <!-- <td class="govuk-table__cell">{{ case.specialism }}</td> -->
                        <td class="govuk-table__cell">{% for case in data['other-cases'] %}{{ case.type }}{% endfor %}</td>
                        <td class="govuk-table__cell"> <script>
                          // Get date
                              var now = new Date();
                              var pastDate = new Date(now);
                              pastDate.setDate(now.getDate() - 60);

                              var formattedDate = pastDate.toLocaleDateString('en-GB', {
                              day: 'numeric',
                              month: 'long',
                              year: 'numeric'
                              });

                              var formattedTime = pastDate.toLocaleTimeString('en-GB', {
                              hour: 'numeric',
                              minute: 'numeric',
                              hour12: true
                              });

                              document.write(formattedDate + ', 3:00 pm');
                             </script></td>
                               <td class="govuk-table__cell">In progress </td>
                        <td class="govuk-table__cell"><a href="/current/cases/paul/cases/claim">Go to case</a></td>
                          <!-- cases/claim-sonya{% if phase == "allocator"%}-allocator{% endif %} -->
                      </tr>{% endif %}
                      <tr class="govuk-table__row">
                        {% if  data['Anahi-Korrapati']=='complete'%}{% else %}
                        <th scope="row" class="govuk-table__header">Anahi Korrapati </th>
                        <!-- <td class="govuk-table__cell">{{ case.specialism }}</td> -->
                        <td class="govuk-table__cell">{% for case in data['other-cases'] %}{{ case.type }}{% endfor %}</td>
                        <td class="govuk-table__cell"> <script>
                          // Get date
                              var now = new Date();
                              var pastDate = new Date(now);
                              pastDate.setDate(now.getDate() - 60);

                              var formattedDate = pastDate.toLocaleDateString('en-GB', {
                              day: 'numeric',
                              month: 'long',
                              year: 'numeric'
                              });

                              var formattedTime = pastDate.toLocaleTimeString('en-GB', {
                              hour: 'numeric',
                              minute: 'numeric',
                              hour12: true
                              });

                              document.write(formattedDate + ', 3:00 pm');
                             </script></td>
                               <td class="govuk-table__cell">In progress </td>
                        <td class="govuk-table__cell"><a href="/current/cases/anahi/cases/claim">Go to case</a></td>
                          <!-- cases/claim-sonya{% if phase == "allocator"%}-allocator{% endif %} -->
                      </tr>{% endif %}

                      <tr class="govuk-table__row">
                        {% if  data['Kam-Haraguchi']=='complete'%}{% else %}
                        <th scope="row" class="govuk-table__header">Kam Haraguchi </th>
                        <!-- <td class="govuk-table__cell">{{ case.specialism }}</td> -->
                        <td class="govuk-table__cell">{% for case in data['other-cases'] %}{{ case.type }}{% endfor %}</td>
                        <td class="govuk-table__cell"> <script>
                          // Get date
                              var now = new Date();
                              var pastDate = new Date(now);
                              pastDate.setDate(now.getDate() - 60);

                              var formattedDate = pastDate.toLocaleDateString('en-GB', {
                              day: 'numeric',
                              month: 'long',
                              year: 'numeric'
                              });

                              var formattedTime = pastDate.toLocaleTimeString('en-GB', {
                              hour: 'numeric',
                              minute: 'numeric',
                              hour12: true
                              });

                              document.write(formattedDate + ', 3:00 pm');
                             </script></td>
                               <td class="govuk-table__cell">In progress </td>
                        <td class="govuk-table__cell"><a href="/current/cases/kam/cases/claim">Go to case</a></td>
                          <!-- cases/claim-sonya{% if phase == "allocator"%}-allocator{% endif %} -->
                      </tr>{% endif %}

            {% for case in cases %}


            {% endfor %}



        </tbody>
      </table>

      {% endif %}
        {% endset -%}



<!-------------- Your documents -->
  {% set doc %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-one-third">
      <h2 class="govuk-heading-m">Your documents </h2>
    </div>
  </div>
    <div class="govuk-grid-column-one-quaters">

      <div class="govuk-form-group" style="float: left">
        <label class="govuk-label" for="sort">
          Type of document
        </label>
        <select class="govuk-select" id="sort" name="sort">
          <option value="published" selected >Generic</option>
          <option value="updated" >Complex</option>
          <option value="views">TESG</option>
          <option value="comments">CSI</option>
        </select>
    </div>
    </div>

    <div class="govuk-grid-column-one-third" >
  <p class="govuk-body govuk-!-margin-bottom-6"></p>
        <input type="submit" class="govuk-button" id="submitButtonRequestNewDocument" value="Request a document" style="float: left">

    </div>
<br></br></br></br></br></br>
<p>There are no documents allocated to you</p>
{% endset -%}



<!-------------- tabs -->
{% if phase == "allocator" %}
{{ govukTabs({
  items: [

    {
      label: "Your other cases (0)",
      id: "other",
      panel: {
        html: other
      }
    },
    {
      label: "Your priority cases (0)",
      id: "priority",
      panel: {
        html: priority
      }
    },
    {
      label: "Your CSI cases (0)",
      id: "csi",
      panel: {
        html: csi
      }
    },
    {

      label: "Your documents (0)",
      id: "in-disc",
      panel: {
        html: doc
      }
    }
  ]
}) }}
{% else %}

    {{ govukTabs({
      items: [

        {
          label: "Your other cases (8)",
          id: "other",
          panel: {
            html: other
          }
        },
        {
          label: "Your priority cases (2)",
          id: "priority",
          panel: {
            html: priority
          }
        },
        {
          label: "Your CSI cases (1)",
          id: "csi",
          panel: {
            html: csi
          }
        },
        {

          label: "Your documents (0)",
          id: "in-disc",
          panel: {
            html: doc
          }
        }
      ]
    }) }}
{% endif %}


  </div>
</div>
