{% extends "layout.html" %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <h1 class="govuk-heading-xl">

      <span class="govuk-caption-xl"></span>

</h1>

<p>Jump to page:</p>
  <ul class="govuk-list">
    <p class="govuk-body-l">Case manager view</p>
    <li>
      <a class="govuk-link" href="your-cases.html">Your cases - User type: Case manager</a>
    </li>
    <br>

    <!-- <li>
      <a class="govuk-link" href="your-cases-allocator.html">Your cases - User type: Leads/Allocator </a>
    </li> -->
    <br>


    <p class="govuk-body-l"> Screens</p>

  <p class="govuk-body-m"> Your cases:</p>
<ul class="govuk-list govuk-list--bullet">
    <li>
      <a class="govuk-link" href="your-cases.html">No cases</a>

    </li>
    <li>      <a class="govuk-link" href="your-cases-inprogress.html">Cases allocated</a></li>
      <li>      <a class="govuk-link" href="your-cases-completed.html">Case completed</a></li>
    <!-- <li>
      <a class="govuk-link" href="all-advisers.html">All advisers (Lead/allocator view only)</a>
    </li> -->

</ul>
  <p class="govuk-body-m"> Screens:</p>
<ul class="govuk-list govuk-list--bullet">
    <li>
      <a class="govuk-link" href="search.html">No search</a>

    </li>
    <li>      <a class="govuk-link" href="search-error.html">Error</a></li>
    <!-- <li>
      <a class="govuk-link" href="all-advisers.html">All advisers (Lead/allocator view only)</a>
    </li> -->

</ul>



{% endblock %}
