{% set page = "claim" %}
{% set claim = "true" %}
{% set title = "Case details" %}
{% set view = "tab" %}

{% extends   "payments/sprint-48/claim/_CSIBASE-no-footer.html" %}

{% block csi %}
<br>



{% if data ['sw-accomodation-number']%}
<form action="/payments/sprint-48/cases/thomas/additional-costs/sw-accomodation-check-tab#your-tasks" method="post" novalidate>
{% endif %}
{% if not data ['sw-accomodation-number']%}
<form action="/payments/sprint-48/cases/thomas/additional-costs/sw-accomodation-amount-tab#your-tasks" method="post" novalidate>
{% endif %}



<!-- <form action="matches-grant-multi-tab#your-tasks" method="post" novalidate> -->




  <div class="govuk-width-container">
    <main class="govuk-main-wrapper">
      <div class="govuk-grid-row">
        <div class="govuk-grid-column-two-thirds">


          <div class="govuk-form-group">
            <fieldset class="govuk-fieldset" role="group" aria-describedby="ttw-claim-start-hint">
              <legend class="govuk-fieldset__legend govuk-fieldset__legend--l">
                <h1 class="govuk-fieldset__heading">
                  Number of overnight stays
                </h1>
              </legend>


              <div id="ttw-journeys-hint" class="govuk-hint">
                <!-- For example, 502135326 -->
              </div>

            <div class="govuk-inset-text">
            Additional costs: accommodation
            </div>

            <label class="govuk-label govuk-label--m" for="sop-supplier-number">
            UK excluding London
            </label>
              <input class="govuk-input govuk-input--width-10" id="sw-accomodation-number" name="sw-accomodation-number" type="text" aria-describedby="sw-accomodation-number" value="{{data ['sw-accomodation-number'] }}">
            </div>

            <label class="govuk-label govuk-label--m" for="sop-supplier-number">
            London
            </label>
              <input class="govuk-input govuk-input--width-10" id="sw-accomodation-number" name="sw-london-accomodation-number" type="text" aria-describedby="sw-accomodation-number" value="{{data ['sw-accomodation-number'] }}">
            </div>


          </div>

            </fieldset>
          </div>






    </div>
    </div>
    <div class="govuk-button-group">
      <button class="govuk-button" data-module="govuk-button">
        Save and continue
      </button>
    </form>
       </div>
     </div>


        </main>
        </div>







{% endblock %}
