



<ul class="app-task-list__items">
  <li class="app-task-list__item">
  <span class="app-task-list__task-name">
  <a href="{% if data['ttw-addarlo']%}check-application/travel-to-from-work/details/add{% else %}check-application/travel-to-from-work/details/info{% endif %}" aria-describedby="job-status">
Travel to and from work: add or change support
  </a>
  </span>
  {% if not data['ttw-add'+ phase]%}<strong class="govuk-tag govuk-tag--grey app-task-list__tag" id="list-convictions-status">Not started</strong>   {% endif %}
  {% if data['ttw-add'+ phase]%} <strong class="govuk-tag app-task-list__tag" id="eligibility-status">Completed</strong> {% endif %}

   </li>


   {% if not elementAdd =='1'%}
   <br>  <p>Add new elements</p>{% else %}
  <br> <form class="" action="/live-34/cases/arlo/cases/workplace-assesment/wpa-report/support" method="post" >
   <button class="govuk-button govuk-button--secondary" data-module="govuk-button">
   Add new elements
   </button></form>{% endif %}


   {% if 'Mental health support' in data['elements']%}
   <li class="app-task-list__item">
     <span class="app-task-list__task-name">
       <a href="{% if data['mhss-support']%}./check-application/mhss/details/check{% else %}./check-application/mhss/details/mental-health-support{% endif %}" aria-describedby="read-declaration-status">
            Mental health support: add or change support
         </a>
        </span>
        {% if data['mhss-support']=='Yes'%}
    <strong class="govuk-tag app-task-list__tag" id="eligibility-status">Completed</strong>{% endif %}
        {% if data['mhss-support']=='No'%}<strong class="govuk-tag app-task-list__tag" id="eligibility-status">Completed</strong>{% endif %}
        {% if data['mhss-support']=='I am waiting for an answer'%}  <strong class="govuk-tag govuk-tag--grey app-task-list__tag" id="list-convictions-status">in progress</strong>{% endif %}
        {% if data['mhss-support']=='I have not discussed it with arlo King yet'%}  <strong class="govuk-tag govuk-tag--grey app-task-list__tag" id="list-convictions-status">Contact needed</strong>{% endif %}

        {% if not data['mhss-support']%}  <strong class="govuk-tag govuk-tag--grey app-task-list__tag" id="list-convictions-status">Not started</strong>{% endif %}
      </li>

   {% endif %}


</ul>
