{% if 'Job' in data['priority']%}
  <div class="govuk-inset-text">

No job start cases available to request.

<!-- There are no new application or renewal cases to request right now. -->
<!-- There are no new CSI cases to request right now. -->
<!-- There are no new documents available to request right now. -->
  </div>
{% endif %}

{% if 'Kickstart' in data['priority']%}
  <div class="govuk-inset-text">
No Kickstart cases available to request.
  </div>
{% endif %}

{% if 'cev' in data['priority']%}
  <div class="govuk-inset-text">
No clinically extremely vulnerable cases available to request.
  </div>
{% endif %}

{% if 'YPGS' in data['priority']%}
  <div class="govuk-inset-text">
No Young Person’s Guarantee Scotland cases available to request.
  </div>
{% endif %}
