<h2 class="govuk-heading-m">   First quote for Jaws screen reader</h2>
        <dl class="govuk-summary-list govuk-!-margin-bottom-9">


        <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">
      Brand
        </dt>
        <dd class="govuk-summary-list__value">
          Jaws screen reader Professional License

        </dd>
        <dd class="govuk-summary-list__actions">
          {% if  changeHide %}  <a href="#">
        Change
        <span class="govuk-visually-hidden"> </span>
        </a>{% endif %}
        </dd>
        </div>

                <div class="govuk-summary-list__row">
                <dt class="govuk-summary-list__key">
             Supplier
                </dt>
                <dd class="govuk-summary-list__value">
                  Jaws Supplier

                </dd>
                <dd class="govuk-summary-list__actions">
                  {% if  changeHide %}  <a href="#">
                Change
                <span class="govuk-visually-hidden"> </span>
                </a>{% endif %}
                </dd>
                </div>


        <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">
      Total cost including extra costs, like delivery and VAT
        </dt>
        <dd class="govuk-summary-list__value">
          £499

        </dd>
        <dd class="govuk-summary-list__actions">
          {% if  changeHide %}  <a href="#">
        Change
        <span class="govuk-visually-hidden"> </span>
        </a>{% endif %}
        </dd>
        </div>



</dl>
