

<dl class="govuk-summary-list govuk-!-margin-bottom-9">



<div class="govuk-summary-list__row">
<dt class="govuk-summary-list__key">
Do you need equipment, adaptations or software to support you with your condition at work?
</dt>
<dd class="govuk-summary-list__value">
Yes
</dd>
<dd class="govuk-summary-list__actions">
  {% if  changeHide %}  <a href="#">
Change
<span class="govuk-visually-hidden"> Do you need equipment, adaptations or software to support you with your condition at work?</span>
</a>{% endif %}
</dd>
</div>



<div class="govuk-summary-list__row">
<dt class="govuk-summary-list__key">
Do you know what specialist equipment you need?
</dt>
<dd class="govuk-summary-list__value">
Yes, I know what I need
</dd>
<dd class="govuk-summary-list__actions">
  {% if  changeHide %}  <a href="#">
Change
<span class="govuk-visually-hidden"> Do you know what specialist equipment you need?</span>
</a>{% endif %}
</dd>
</div>
<!--
<div class="govuk-summary-list__row">
<dt class="govuk-summary-list__key">
Do you need a wheelchair or a hearing aid to support at work?
</dt>
<dd class="govuk-summary-list__value">
Other
</dd>
<dd class="govuk-summary-list__actions">
  {% if  changeHide %}  <a href="#">
Change
<span class="govuk-visually-hidden"> Do you need a wheelchair or a hearing aid to support at work?</span>
</a>{% endif %}
</dd>
</div> -->

<div class="govuk-summary-list__row">
<dt class="govuk-summary-list__key">
What type of specialist equipment do you need?
</dt>
<dd class="govuk-summary-list__value">
<ul>
  <li>Jaws screen reader</li>
<li>ZoomText</li>
</ul>
<br>

<br>

<br>
</dd>
<dd class="govuk-summary-list__actions">

  {% if  changeHide %}  <a href="#">
Change
<span class="govuk-visually-hidden"> What type of specialist equipment do you need?</span>
</a>{% endif %}
</dd>
</div>
<div class="govuk-summary-list__row">
<dt class="govuk-summary-list__key">
{% include "live-40/cases/check-application/sae/details/content/add.html" %}
</dt>
<dd class="govuk-summary-list__value">
  No
<br>

<br>

<br>
</dd>
<dd class="govuk-summary-list__actions">

  {% if  changeHide %}  <a href="#">
Change
<span class="govuk-visually-hidden"> What type of specialist equipment do you need?</span>
</a>{% endif %}
</dd>
</div>

<div class="govuk-summary-list__row">
<dt class="govuk-summary-list__key">
How will this equipment help you at work?
</dt>
<dd class="govuk-summary-list__value">



I need Jaws and ZoomText software to read out the content on a screen to me, as I'm unable to visual see the screen currently have to rely on others. I use a computer for 99% of my work.

<br>
</dd>

<dd class="govuk-summary-list__actions">
 <a href="#">
{% if edit == 'true' %}Add more details{% endif %}
<span class="govuk-visually-hidden"> How will this equipment help you at work?</span>
</a>

</dd>
</div>
</dl>
