{% extends "layout.html" %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <h1 class="govuk-heading-xl">

      <span class="govuk-caption-xl"></span>

</h1>
<p>Jump to page:</p>
  <ul class="govuk-list">
    <p class="govuk-body-l govuk-!-font-weight-bold">Custom user name for UR</p>
    <p>This screen will allow you to enter a username that then replaces all holding text of that name within the prototype to better aclimitise the user to the prototype for testing. <p>

    <li>
      <a class="govuk-link" href="cases/set-advisor.html">Custom user name </a>
    </li>
    <br>




  <ul class="govuk-list">
    <p class="govuk-body-l govuk-!-font-weight-bold">Payment officer case allocation view</p>
    <li>
      <a class="govuk-link" href="your-cases.html">Your cases - User type: Payment Officer</a>
    </li>
    <br>
    <!-- <p class="govuk-body-l">Team lead view</p>
    <li>
      <a class="govuk-link" href="your-cases-team-lead.html">Your cases - User type: Team Lead</a>
    </li>
    <br> -->
    <br>





    <!-- <p class="govuk-body-l govuk-!-font-weight-bold">govuk-!-font-weight-bold</p> -->


    <p class="govuk-body-l govuk-!-font-weight-bold">Dereck Smith</p>
    <p>Specialist aids and equipment - easy path<p>

    <li>
      <a class="govuk-link" href="cases/dereck/claim-dereck">Dereck - claim (Summary tab)</a>
    </li>
    <li>
      <a class="govuk-link" href="cases/dereck/claim-dereck#claim-details">Dereck - claim (Claim form tab)</a>
    </li>
    <li>
      <a class="govuk-link" href="cases/dereck/claim-dereck#document-details">Dereck - invoice (Documents tab)</a>
    </li>
    <li>
      <a class="govuk-link" href="cases/dereck/claim-dereck#your-tasks">Dereck - claim (Your tasks tab)</a>
    </li>

    <br>
    <p>Task list<p>
      <li>
        <a class="govuk-link" href="cases/dereck/cases/review-claim/matches-grant-multi-tab#your-tasks">Dereck - check claim matches grant award</a>
      </li>
      <li>
        <a class="govuk-link" href="cases/dereck/cases/review-claim/company-details-tab#your-tasks">Dereck - Check invoices are valid</a>
      </li>
      <li>
        <a class="govuk-link" href="sprint-36/cases/dereck/cases/review-invoice/paid-in-full-tab#your-tasks">Dereck - Check invoice have been paid</a>
      </li>
      <li>
        <a class="govuk-link" href="cases/dereck/cases/review-invoice/add-invoice-date-tab#your-tasks">Dereck - Add invoice number</a>
      </li>
      <li>
        <a class="govuk-link" href="cases/dereck/cases/review-payment/sop-find-tab#your-tasks">Dereck - Find payee in SOP</a>
      </li>
      <li>
        <a class="govuk-link" href="cases/dereck/cases/review-payment/sop-find-yes-tab#your-tasks">Dereck - Find payee in SOP 2</a>
      </li>
      <li>
        <a class="govuk-link" href="cases/dereck/cases/review-payment/sop-add-supplier-tab#your-tasks">Dereck - Add payee details from SOP</a>
      </li>
      <li>
        <a class="govuk-link" href="cases/dereck/cases/review-payment/sop-approve-tab#your-tasks">Dereck - Check payment and send for processing</a>
      </li>
      <li>
        <a class="govuk-link" href="cases/dereck/sent-for-approval">Dereck - Payment sent for processing</a>
      </li>
    <br>
    <br>



    <p class="govuk-body-l govuk-!-font-weight-bold">Sonya Corkery</p>
    <p>Specialist aids and equipment - no paths for grant not matching, invoice details not matching, proforma invoices and payee not in SOP<p>

    <li>
      <a class="govuk-link" href="cases/Sonya/claim-dereck">Sonya - claim (Summary tab)</a>
    </li>
    <li>
      <a class="govuk-link" href="cases/Sonya/claim-dereck#claim-details">Sonya - claim (Claim form tab)</a>
    </li>
    <li>
      <a class="govuk-link" href="cases/Sonya/claim-dereck#document-details">Sonya - invoice (Documents tab)</a>
    </li>
    <li>
      <a class="govuk-link" href="cases/Sonya/claim-dereck#your-tasks">Sonya - claim (Your tasks tab)</a>
    </li>

    <br>
    <p>Task list<p>
      <p>Select items - Jaws, Zoom text, Ipad case, Mouse and Keyboard 1<p>

      <li>
        <a class="govuk-link" href="cases/sonya/cases/review-claim/select-claim-items-tab#your-tasks">Sonya - Select claim items</a>
      </li>
      <li>
        <a class="govuk-link" href="cases/Sonya/cases/review-claim/matches-grant-multi-tab#your-tasks">Sonya - Check claim matches grant award</a>
      </li>

      <hr class="govuk-section-break govuk-section-break--m govuk-section-break--visible">
      <p>No path - Grant does not match claim<p>

      <li>
        <a class="govuk-link" href="cases/sonya/cases/review-claim-no-match/select-claim-items-no-match#your-tasks">Sonya - Which items do not match</a>
      </li>
      <li>
        <a class="govuk-link" href="cases/sonya/cases/review-claim-no-match/jaws-item-no-match">Sonya - Jaws screen reader</a>
      </li>
      <li>
        <a class="govuk-link" href="cases/sonya/cases/review-claim-no-match/amount-high-no-match">Sonya - Jaws screen reader - Amount higher than grant</a>
      </li>
      <li>
        <a class="govuk-link" href="cases/sonya/cases/review-claim-no-match/keyboard-item-no-match">Sonya - Ergonomic keyboard</a>
      </li>
      <li>
        <a class="govuk-link" href="cases/sonya/cases/review-claim-no-match/amount-low-no-match">Sonya - Ergonomic keyboard - Amount lower than grant</a>
      </li>
      <li>
        <a class="govuk-link" href="cases/sonya/cases/review-claim-no-match/amount-low-no-match-check">Sonya - Ergonomic keyboard - Check answers</a>
      </li>

      <hr class="govuk-section-break govuk-section-break--m govuk-section-break--visible">
      <p>No path - Check invoce details are correct<p>

      <li>
        <a class="govuk-link" href="cases/Sonya/cases/review-claim/company-details-tab#your-tasks">Sonya - Check invoices are valid</a>
      </li>
      <li>
        <a class="govuk-link" href="cases/company-details-no-match/select-company-details-no-match#your-tasks">Sonya - Which invoices are you rejecting</a>
      </li>
      <li>
        <a class="govuk-link" href="cases/sonya/cases/company-details-no-match/contact-company-details-no-match">Sonya - When do the invoices need to be returned</a>
      </li>
      <li>
        <a class="govuk-link" href="cases/sonya/cases/company-details-no-match/rejected-invoice-ipad">Sonya - Review rejected invoice: Ipad Pro case</a>
      </li>
      <li>
        <a class="govuk-link" href="cases/company-details-no-match/rejected-invoice-ipad-close">Sonya - I have not received a valid replacement invoice</a>
      </li>
      <li>
        <a class="govuk-link" href="cases/sonya/cases/company-details-no-match/rejected-invoice-ipad-amount">Sonya - Amount on invoice has changed</a>
      </li>
      <li>
        <a class="govuk-link" href="cases/sonya/cases/company-details-no-match/saved-location">Sonya - Did you save the replacement invoice in SharePoint?</a>
      </li>
      <li>
        <a class="govuk-link" href="cases/company-details-no-match/saved-location-other#your-tasks">Sonya - Where did you save the replacment invoice?</a>
      </li>
      <li>
        <a class="govuk-link" href="cases/sonya/cases/company-details-no-match/rejected-invoice-ipad-check">Sonya - check answers</a>
      </li>

      <hr class="govuk-section-break govuk-section-break--m govuk-section-break--visible">
      <p>No path - Proformas<p>

      <li>
        <a class="govuk-link" href="cases/Sonya/cases/review-invoice/paid-in-full-tab#your-tasks">Sonya - Check invoice have been paid</a>
      </li>

      <hr class="govuk-section-break govuk-section-break--m govuk-section-break--visible">

      <li>
        <a class="govuk-link" href="cases/Sonya/cases/review-invoice/add-invoice-date-tab#your-tasks">Sonya - Add invoice number</a>
      </li>

      <hr class="govuk-section-break govuk-section-break--m govuk-section-break--visible">
      <p>No path - payee not in SOP<p>

      <li>
        <a class="govuk-link" href="cases/Sonya/cases/review-payment/sop-find-tab#your-tasks">Sonya - Find payee in SOP</a>
      </li>
      <li>
        <a class="govuk-link" href="cases/review-payment/sop-find-no#your-tasks">Sonya - Add payee in SOP</a>
      </li>
      <li>
        <a class="govuk-link" href="cases/review-payment/sop-find-details-confirm">Sonya - Confirm payee is in SOP</a>
      </li>
      <li>
        <a class="govuk-link" href=""> TBD Sonya - No confirmation recived</a>
      </li>
      <li>
        <a class="govuk-link" href="cases/Sonya/cases/review-payment/sop-find-yes-tab#your-tasks">Sonya - Find payee in SOP 2</a>
      </li>
      <li>
        <a class="govuk-link" href="cases/review-payment/sop-find-details-amend#your-tasks">Sonya - What details need updating in SOP</a>
      </li>
      <li>
        <a class="govuk-link" href="cases/review-payment/sop-find-details-confirm">Sonya - Have you received confirmation set up or amended</a>
      </li>
      <hr class="govuk-section-break govuk-section-break--m govuk-section-break--visible">
      <li>
        <a class="govuk-link" href="cases/sonya/cases/review-payment/sop-approve-tab#your-tasks">Sonya - Check payment and send for processing</a>
      </li>
      <li>
        <a class="govuk-link" href="cases/sonya/sent-for-approval">Sonya - Payment sent for processing</a>
      </li>




<br>
<br>


<p class="govuk-body-l govuk-!-font-weight-bold">Nina West</p>
<p>Specialist aids and equipment - Cost share - medium employer, contribution not met £0 payment<p>

<li>
  <a class="govuk-link" href="cases/nina/claim-dereck">Nina - claim (Summary tab)</a>
</li>
<li>
  <a class="govuk-link" href="cases/nina/claim-dereck#claim-details">Nina - claim (Claim form tab)</a>
</li>
<li>
  <a class="govuk-link" href="cases/nina/claim-dereck#document-details">Nina - invoice (Documents tab)</a>
</li>
<li>
  <a class="govuk-link" href="cases/nina/claim-dereck#your-tasks">Nina - claim (Your tasks tab)</a>
</li>

<br>
<p>Task list<p>
    <p>Select items - Ipad case, Keyboard 1 and Keyboard 2<p>

  <li>
    <a class="govuk-link" href="cases/nina/cases/review-claim/select-claim-items-tab#your-tasks">Nina - Select claim items</a>
  </li>
  <li>
    <a class="govuk-link" href="cases/nina/cases/review-claim/matches-grant-multi-tab#your-tasks">Nina - Check claim matches grant award</a>
  </li>
  <li>
    <a class="govuk-link" href="cases/nina/cases/review-payment/sop-approve-tab#your-tasks">Nina - Check payment and send for processing</a>
  </li>



  <br>
  <br>


  <p class="govuk-body-l govuk-!-font-weight-bold">James McCarthy</p>
  <p>Specialist aids and equipment - Cost share - medium employer, contribution met<p>

  <li>
    <a class="govuk-link" href="cases/jamesm/claim-dereck">James - claim (Summary tab)</a>
  </li>
  <li>
    <a class="govuk-link" href="cases/jamesm/claim-dereck#claim-details">James - claim (Claim form tab)</a>
  </li>
  <li>
    <a class="govuk-link" href="cases/jamesm/claim-dereck#document-details">James - invoice (Documents tab)</a>
  </li>
  <li>
    <a class="govuk-link" href="cases/jamesm/claim-dereck#your-tasks">James - claim (Your tasks tab)</a>
  </li>

  <br>
  <p>Task list<p>
    <p>Select items - Jaws, Zoom text, Keyboard 1 and Keyboard 2<p>

    <li>
      <a class="govuk-link" href="cases/jamesm/cases/review-claim/select-claim-items-tab#your-tasks">James - Select claim items</a>
    </li>
    <li>
      <a class="govuk-link" href="cases/jamesm/cases/review-claim/matches-grant-multi-tab#your-tasks">James - Check claim matches grant award</a>
    </li>
    <li>
      <a class="govuk-link" href="cases/jamesm/cases/review-payment/sop-approve-tab#your-tasks">James - Check payment and send for processing</a>
    </li>


    <br>
    <br>


    <p class="govuk-body-l govuk-!-font-weight-bold">Paul Hill</p>
    <p>Travel to work<p>

    <li>
      <a class="govuk-link" href="cases/paul/claim-dereck">Paul - claim (Summary tab)</a>
    </li>
    <li>
      <a class="govuk-link" href="cases/paul/claim-dereck#claim-details">Paul - claim (Claim form tab)</a>
    </li>
    <li>
      <a class="govuk-link" href="cases/paul/claim-dereck#document-details">Paul - invoice (Documents tab)</a>
    </li>
    <li>
      <a class="govuk-link" href="cases/paul/claim-dereck#your-tasks">Paul - claim (Your tasks tab)</a>
    </li>

    <br>
    <p>Task list<p>
      <p>Select items - Taxi<p>

      <li>
        <a class="govuk-link" href="cases/paul/cases/review-claim/select-claim-items-tab#your-tasks">Paul - Select claim items</a>
      </li>
      <li>
        <a class="govuk-link" href="cases/paul/cases/review-claim/matches-grant-multi-tab#your-tasks">Paul - Check claim matches grant award</a>
      </li>
      <li>
        <a class="govuk-link" href="">Paul - </a>
      </li>




    <!-- <li>
      <a class="govuk-link" href="cases/searchlight/national-insurance/find-national-insurance-number.html">Have you found Dereck Smith’s National Insurance number in Searchlight?</a>
    </li>
    <li>
      <a class="govuk-link" href="cases/searchlight/national-insurance/add-national-insurance-number.html">Add Dereck Smith’s National Insurance number from Searchlight?</a>
    </li>

    <br>
    <p>  Check for appointee </p>
    <li>
      <a class="govuk-link" href="cases/searchlight/appointee.html">Does Dereck Smith have an appointee?</a>
    </li>
    <li>
      If user answers 'Yes, add an appointee' <a class="govuk-link" href="cases/searchlight/appointee-details.html">Add appointee details for Dereck Smith</a>
    </li>


        <br>
        <p>    Check benefits </p>
        <li>
          <a class="govuk-link" href="cases/searchlight/benefits/check.html">Does Searchlight show benefits that could affect Dereck Smith’s eligibility?</a>
        </li>
        <li>
          <a class="govuk-link" href="cases/searchlight/benefits/exceptions.html">Can Dereck Smith still get Access to Work?</a>
        </li>
        <li>
          <a class="govuk-link" href="cases/searchlight/benefits/answers.html">Check Derek Smith’s benefits</a>
        </li>
        <br>

  <p class="govuk-body">Personal details</p>
  <li>
   Job details  <a class="govuk-link" href="cases/job-details.html">Job details (employed)</a>    </li>
   <li>
     <li>
      Job details  <a class="govuk-link" href="cases/job-details.html">Job details (employed)</a>    </li>
      <li>
<br>

    <p class="govuk-body-l"> 2. Business cases </p>
    <li>
     Employe contact  <a class="govuk-link" href="cases/contact-employer.html">Has {name here} confirmed Access to Work can communicate with their workplace contact?  (employed)</a>   <br>
   Yes, they gave permission branch:<br>
<a class="govuk-link" href="cases/contact-employer.html">Have you contacted the workplace contact about this application?</a>   <br>
They did not give permission:<br>
<a class="govuk-link" href="cases/contact-employer.html">This case will be closed because you cannot contact Smith Digital Limited</a>   <br>

  </li>
     <li>
    <li>
     Job details  <a class="govuk-link" href="cases/job-details.html">Job details (employed)</a>    </li>
     <li>
      Job details  <a class="govuk-link" href="cases/job-details/self-employment.html">Job details (self employed)</a>
     </li>
     No, {employer} has not confirmed job details branch:<br>
    <a class="govuk-link" href="cases/job-details/unhappy-employment-details.html">This case will be closed because {employer} has no records of {name here}</a>   <br>
     Small/micro branch:<br>
     <a class="govuk-link" href="cases/job-details/contact-cost-share-agreement-micro-small.html">Cost share agreement </a>    <br>
     Medium/large branch:<br>
     <a class="govuk-link" href="cases/job-details/contact-cost-share-agreement.html">Cost share agreement </a>    <br>
     Did Smith Digital Limited agree to a cost share? No branch:<br>
     <a class="govuk-link" href="cases/job-details/third-party.html">Has a third party agreed to a cost share? </a>    <br>
     Has a third party agreed to a cost share? Yes branch:<br>
     <a class="govuk-link" href="cases/job-details/third-party-details.html">Add third party details </a>    <br>
     <a class="govuk-link" href="cases/job-details/third-party-telephone-email.html">Add third party contact details (select the type from the last page) </a>    <br>
     Has a third party agreed to a cost share? N0 (is a large or medium) branch:<br>
     <a class="govuk-link" href="cases/job-details/third-party-details.html">live-15/cases/job-details/unhappy-cost-share  </a>    <br>


     <li>
      Job details  <a class="govuk-link" href="cases/job-details/note.html">Job details: contact notes </a>
     </li> -->


  </ul>
</div>

{% endblock %}
