{% set page = "claim" %}
{% set claim = "true" %}
{% set title = "Case details" %}

{% set case = "other-cases-fill-5" %}
{% set phase = "allocator" %}
{% extends folder + "/claim/_CSIBASE.html" %}

{% block csi %}




<form action="/accessibility/cases/allocator/cases/claim-case-manager-view#business-case" method="post" novalidate>


  <div class="govuk-width-container">


    <main class="govuk-main-wrapper">

      <div class="govuk-grid-row">
        <div class="govuk-grid-column-two-thirds">

          <div class="govuk-grid-column-two-thirds">
                  <h1 class="govuk-heading-l">Approval</h1>



                    <div class="govuk-form-group">
                                <fieldset class="govuk-fieldset">
                                  <legend class="govuk-fieldset__legend govuk-fieldset__legend--m">
                                  What was the decision?
                                  </legend>
                                  <div class="govuk-radios" data-module="govuk-radios">
                                    <div class="govuk-radios__item">
                                      <input class="govuk-radios__input" id="approval" name="approval{% if data['moreDetail-approval']%}1{% endif %}" type="radio" value="Approved" >
                                      <label class="govuk-label govuk-radios__label" for="approval">
                                        Approved
                                      </label>
                                    </div>
                                    <div class="govuk-radios__item">
                                      <input class="govuk-radios__input" id="approval-2" name="approval{% if data['moreDetail-approval']%}1{% endif %}" type="radio" value="Not approved" >
                                      <label class="govuk-label govuk-radios__label" for="approval-2">
                                        Not approved
                                      </label>
                                    </div>

                                  </div>
                                </fieldset>
                              </div>



                              <div class="govuk-form-group">
                                <h1 class="govuk-label-wrapper">
                                  <label class="govuk-label govuk-label--m" for="more-detail">
                                  Details
                                  </label>
                                </h1>

                                <textarea class="govuk-textarea" id="more-detail" name="moreDetail-approval{% if data['moreDetail-approval']%}1{% endif %}" rows="5" aria-describedby="more-detail-hint"></textarea>
                              </div>

{% if data['moreDetail-approval']%}
<h2> First approval details
</h2>
<dl class="govuk-summary-list">
  <div class="govuk-summary-list__row">
    <dt class="govuk-summary-list__key">
    Approved by
    </dt>
    <dd class="govuk-summary-list__value">
  Al Ó Catháin
    </dd>

  </div>
  <div class="govuk-summary-list__row">
    <dt class="govuk-summary-list__key">
      What was the decision?
    </dt>
    <dd class="govuk-summary-list__value">
    {{data['approval']}}
    </dd>

  </div>
  <div class="govuk-summary-list__row">
    <dt class="govuk-summary-list__key">
    Details
    </dt>
    <dd class="govuk-summary-list__value">
    {{data['moreDetail-approval']}}
    </dd>

  </div>

</dl>

{% endif %}

{% if data['moreDetail-approval1']%}
<h2> Second approval details
</h2>
<dl class="govuk-summary-list">
  <div class="govuk-summary-list__row">
    <dt class="govuk-summary-list__key">
    Approved by
    </dt>
    <dd class="govuk-summary-list__value">
  Al Ó Catháin
    </dd>

  </div>
  <div class="govuk-summary-list__row">
    <dt class="govuk-summary-list__key">
      What was the decision?
    </dt>
    <dd class="govuk-summary-list__value">
    {{data['approval1']}}
    </dd>

  </div>
  <div class="govuk-summary-list__row">
    <dt class="govuk-summary-list__key">
    Details
    </dt>
    <dd class="govuk-summary-list__value">
    {{data['moreDetail-approval1']}}
    </dd>

  </div>


</dl>

{% endif %}

           <button class="govuk-button" data-module="govuk-button"  value="complete">Confirm and save
           </button>


         </form>
       </div>
     </div>


        </main>
        </div>



{% endblock %}
