

<div class="govuk-notification-banner" role="region" aria-labelledby="govuk-notification-banner-title" data-module="govuk-notification-banner">
  <div class="govuk-notification-banner__header">
    <h2 class="govuk-notification-banner__title" id="govuk-notification-banner-title">
      Important
    </h2>
  </div>
  <div class="govuk-notification-banner__content">
    <p class="govuk-notification-banner__heading">
      Application may not be eligible.
      <a class="govuk-notification-banner__link" href="/live-14/cases/contact">Your actions</a>.
    </p>
    <!-- <p>Summary of what make the case not eligible...</P> -->
    <!-- {% if phase == "notEligible"  %}
  <p>Dereck Smith’s address in not in Great Britian.</p>
  {% endif %} -->



    <!-- {% if data['exceptions']=='No'%}
    <p> Dereck Smith is receiving benefits. </p>{% endif %} -->

      <!-- and does not have one of the following:
    <ul class="govuk-list govuk-list--bullet">
      <li> is starting a work trial</li>
      <li> has not started their job yet, but will stop claiming benefits when their job begins </li>
      <li> has a permitted work decision from Access to Work</li>
        </ul> -->
  </div>
</div>
