{% set page = "claim" %}
{% set claim = "true" %}
{% set title = "Case details" %}

{% extends folder + "/claim/_CSIBASE.html" %}

{% block csi %}

<form action="" method="post" novalidate>
<div class="govuk-width-container">


  <main class="govuk-main-wrapper " id="main-content" role="main">
    <div class="govuk-grid-row">
      <div class="govuk-grid-column-two-thirds">

            <fieldset class="govuk-fieldset">
      <h1 class="govuk-heading-l">


                  Does the person providing the lift have to drive further than their usual journey?</h1>




                     <div class="govuk-radios govuk-radios--inline" data-module="govuk-radios">
                       <div class="govuk-radios__item govuk-radios--inline">
                         <input class="govuk-radios__input" id="addtional-miles" name="addtional-miles" type="radio" value="Yes~approve-1" {{ checked("addtional-miles", "Yes, a wheelchair") }}>
                         <label class="govuk-label govuk-radios__label" for="addtional-miles">
                          Yes
                         </label>
                       </div>

                       <div class="govuk-radios__item">
                          <input class="govuk-radios__input" id="addtional-miles-3" name="addtional-miles" type="radio" value="No~add" {{ checked("addtional-miles", "No, something else") }}>
                          <label class="govuk-label govuk-radios__label" for="addtional-miles-3">
                          No
                          </label>
                        </div>

                     </div>

                   </fieldset>
                   </div>         </div><br>
                   <button class="govuk-button" data-module="govuk-button">
                   Save and continue
                   </button>

                   </form>


                   </main>
                 </div>


               {% endblock %}
