








      </ul>
      </li>
      <!-- <p >
<a href="{% if not data['_do_1']%}/current/cases/contact/1/how-do-you-want-to-contact{% else %}/current/cases/contact/contact-log{% endif %}" aria-describedby="contact-status">

  Record contact with {% if data['appointee']=='Yes, I need to add an appointee'%}{{data['appointee-name']}}{% else %}{% if phase == "sonya" %}Sonya Corkery{% else %}Dereck Smith{% endif %}{% endif %}
</a>
      </p><br> -->

      <!-- <p >
      <a href="{% if not data['_do_1']%}/current/cases/contact/1/how-do-you-want-to-contact{% else %}/current/cases/contact/contact-log{% endif %}" aria-describedby="contact-status">
      Add contact
      </a>
      </p> -->
<!-- <br> -->
<li>
  <h2 class="app-task-list__section">
    <span class="app-task-list__section-number">3. </span> Workplace assessment and job details
  </h2>
  <ul class="app-task-list__items">
<li class="app-task-list__item">
  <span class="app-task-list__task-name">
<a href="{% if phase =="sonya"%}/current/cases/workplace-assesment/wpa-not-needed{% else %}{% if data['wpa']%}/current/cases/workplace-assesment/check-wpa{% else %}{% if data['elements']=='I do not know'%}/current/cases/workplace-assesment{% else %}/current/cases/workplace-assesment/wpa-not-needed{% endif %}{% endif %}{% endif %}" aria-describedby="job-status">
  Confirm whether workplace assessment is needed
</a>
  </span>

    {% if not data['wpa']%}<strong class="govuk-tag govuk-tag--grey app-task-list__tag" id="list-convictions-status">Not started</strong>  {% else %}
<strong class="govuk-tag app-task-list__tag" id="eligibility-status">Completed</strong>
    {% endif %}
  </li>


  {% if data['wpa']=='Yes'%}
        <li class="app-task-list__item">
          <span class="app-task-list__task-name">
        <a href="{% if data['wpa-type']%}/current/cases/workplace-assesment/check{% else %}/current/cases/workplace-assesment/citizen-wpa{% endif %}" aria-describedby="job-status">
            Type of workplace assessment
        </a>
          </span>
          {% if data['wpa-type']=='Face-to-face'%}<strong class="govuk-tag app-task-list__tag" id="eligibility-status">Completed</strong>  {% endif %}
          {% if data['wpa-type']=='Virtual'%}<strong class="govuk-tag app-task-list__tag" id="eligibility-status">Completed</strong>  {% endif %}
          {% if data['wpa-type']=='I have not discussed it with them yet'%}<strong class="govuk-tag govuk-tag--blue app-task-list__tag" id="contact-details-status">Contact needed</strong>{% endif %}
          {% if not data['wpa-type']%}<strong class="govuk-tag govuk-tag--grey app-task-list__tag" id="list-convictions-status">Not started</strong>  {% endif %}
          </li>
    {% endif %}

    {% if data['wpa-type']%}
          <li class="app-task-list__item">
            <span class="app-task-list__task-name">
          <a href="{% if data['']%}/current/cases/workplace-assesment/check{% else %}/current/cases/workplace-assesment/availability{% endif %}" aria-describedby="job-status">
              Availability for workplace assessment
          </a>
            </span>
            {% if data['']=='Face-to-face'%}<strong class="govuk-tag app-task-list__tag" id="eligibility-status">Completed</strong>  {% endif %}
            {% if data['wpa-4-weeks']=='Yes'%}<strong class="govuk-tag govuk-tag--blue app-task-list__tag" id="contact-details-status"> On hold </strong>{% endif %}
          {% if data['wpa-4-weeks']=='No'%}
          {% if data['wpa-pause']=='No'%}<strong class="govuk-tag govuk-tag--red app-task-list__tag" id="contact-details-status"> Completed</strong>{% endif %}
          {% if data['wpa-pause']=='Yes'%}<strong class="govuk-tag govuk-tag--blue app-task-list__tag" id="contact-details-status"> On hold</strong>{% endif %}
{% endif %}


            {% if not data['wpa-availability']%}<strong class="govuk-tag govuk-tag--grey app-task-list__tag" id="list-convictions-status">Not started</strong>  {% endif %}
            </li>
      {% endif %}
    <li>


{% if not data['wpa']%}
        <li class="app-task-list__item">
        <span class="app-task-list__task-name">

                Add information about the employer

        </span>
        <strong class="govuk-tag govuk-tag--grey app-task-list__tag" id="list-convictions-status">Cannot Start yet</strong>            </li>
{% else %}




{% if data['wpa']=='No'%}
<li>


    <li class="app-task-list__item">
      <span class="app-task-list__task-name">
<a href="
{% if data ['job-deatils-contact']=='They gave permission (apply)'%}
{% if data ['employer-sector']%}/current/cases/job-details/check{% else %}/current/cases/job-details/employment-sector{% endif %}
{% else %}
{% if data ['job-deatils-contact']%}/current/cases/job-details/check{% else %}/current/cases/contact-employer{% endif %}
{% endif %}
" aria-describedby="job-status">

    Add information about the employer
</a>
      </span>
{% if data['employer-sector']=='Yes' and data['employer-sector-type'] %}<strong class="govuk-tag app-task-list__tag" id="eligibility-status">Completed</strong>{% endif %}
{% if not data['employer-sector']%}<strong class="govuk-tag govuk-tag--grey app-task-list__tag" id="list-convictions-status">Not started</strong>{% endif %}
{% if data ['employer-sector']=='No'%}<strong class="govuk-tag govuk-tag--blue app-task-list__tag" id="contact-details-status">Contact needed</strong>{% endif %}
</li>
{% else %}

{% if data['address-of-wpa']%}
<li>


    <li class="app-task-list__item">
      <span class="app-task-list__task-name">
<a href="
{% if data ['job-deatils-contact']=='They gave permission (apply)'%}
{% if data ['employer-sector']%}/current/cases/job-details/check{% else %}/current/cases/job-details/employment-sector{% endif %}
{% else %}
{% if data ['job-deatils-contact']%}/current/cases/job-details/check{% else %}/current/cases/contact-employer{% endif %}
{% endif %}
" aria-describedby="job-status">

    Add information about the employer
</a>
      </span>
{% if data['employer-sector']=='Yes' and data['employer-sector-type'] %}<strong class="govuk-tag app-task-list__tag" id="eligibility-status">Completed</strong>{% endif %}
{% if not data['employer-sector']%}<strong class="govuk-tag govuk-tag--grey app-task-list__tag" id="list-convictions-status">Not started</strong>{% endif %}
{% if data ['employer-sector']=='No'%}<strong class="govuk-tag govuk-tag--blue app-task-list__tag" id="contact-details-status">Contact needed</strong>{% endif %}
</li>







{% if data['wpa']=='Yes' and  data['employer-size'] and data['employer-sector-type']%}
            <li class="app-task-list__item">
              <span class="app-task-list__task-name">
          <a href="{% if data['referral-form']%}/current/cases/workplace-assesment/check-referral-form{% else %}/current/cases/workplace-assesment/referral-form{% endif %}" aria-describedby="cost-share-agreement">
                  Workplace assessment referral form
          </a>
              </span>
              {% if not data['referral-form']%}
              <strong class="govuk-tag govuk-tag--grey app-task-list__tag" id="list-convictions-status">Not started</strong>            </li>
{% else %}
<strong class="govuk-tag app-task-list__tag" id="eligibility-status">Completed</strong>
{% endif %}
{% endif %}




  {% if data['referral-form']%}

  <li class="app-task-list__item">
    <span class="app-task-list__task-name">
<a href="{% if data['report']%}/current/cases/workplace-assesment/wpa-report/check{% else %}/current/cases/workplace-assesment/wpa-report{% endif %}" aria-describedby="cost-share-agreement">
      Review workplace assessment report
</a>
    </span>
{% if data['report']%}<strong class="govuk-tag app-task-list__tag" id="eligibility-status">Completed</strong>{% else %}
    <strong class="govuk-tag govuk-tag--grey app-task-list__tag" id="list-convictions-status">Not started</strong>   {% endif %}         </li>

{% endif %}



{% else %}
<li class="app-task-list__item">
<span class="app-task-list__task-name">

        Add information about the employer

</span>
<strong class="govuk-tag govuk-tag--grey app-task-list__tag" id="list-convictions-status">Cannot Start yet</strong>            </li>


{% endif %}
{% endif %}
{% endif %}



          </ul>
