{% extends "layout.html" %}

{% block content %}


<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <h1 class="govuk-heading-xl">

      <span class="govuk-caption-xl"></span>

</h1>
<h2 class="govuk-heading-xl">Index of individuals screen and sections: </h2>
  <h2 class="govuk-heading-l">Case manager view (John Goldsmith)</h2>
<ul class="govuk-list">

  <li>
    <a class="govuk-link" href="your-cases.html">Your cases (0 cases)</a>
  </li>
  <li>
    <a class="govuk-link" href="your-cases-inprogress.html">Your cases (Cases)</a>
  </li>
  <li>
    <a class="govuk-link" href="/live-atwis/7/cases/harold/cases/summary.html">Example cases - New application (Harold)</a>
  </li>
  <li>
    <a class="govuk-link" href="/sprint-13-old/agreed/csi/index-same-day.html">CSI - New application (Thomas)</a>
  </li>
</ul>


<br>
  <h2 class="govuk-heading-l">Team leader view (Al Ó Catháin)</h2>
<ul class="govuk-list">

  <li>
    <a class="govuk-link" href="your-cases-teamleader.html">Your cases (0 cases)</a>
  </li>
  <li>
    <a class="govuk-link" href="all-advisers.html">All advisors</a>
  </li>
  <li>
    <a class="govuk-link" href="/7/your-cases-case-manager-view.html">Team leaders view of a Case manager (John Goldsmith)</a>
  </li>
  <li>
    <a class="govuk-link" href="/live-atwis/7/your-cases-teamleader/unallocated">Unallocated</a>
  </li>

</ul>


<br>
  <h2 class="govuk-heading-l">Search</h2>
<ul class="govuk-list">

  <li>
    <a class="govuk-link" href="search.html">Search</a>
  </li>
  <li>
    <a class="govuk-link" href="cases-search/harold/cases/summary.html">Search result case - User type: Case manager </a>
  </li>
  <li>
    <a class="govuk-link" href="cases-search/harold/cases/summary_teamleader.html">Search result cases - User type: Team Leader</a>
  </li>
</ul>


  <h2 class="govuk-heading-l">Data retention (team leader)</h2>
  <p>The following search will show all data retention cases and documents. </p>
<p><a href="/live-atwis/7/your-cases-teamleader/search">Search</a></p>
<p>To see what these screen look like as a case manager, remove '_teamleader' from 'summary_teamleader':</p>
<ul class="govuk-list">
Harlod (Application):
  <li>
    <a class="govuk-link" href="cases-search/harold/cases/summary-data">Data tab</a>
  </li>
  <li>
    <a class="govuk-link" href="cases-search/harold/cases/data">Trigger data retetion</a>
  </li>
  <li>
    <a class="govuk-link" href="cases-search/harold/cases/data/hold">data deletion off hold </a>
  </li>
  <li>
    <a class="govuk-link" href="cases-search/harold/cases/summary_teamleader">Case history</a>
  </li>
</ul>



<ul class="govuk-list">
Thomas (Renewal):
<li>
<a class="govuk-link" href="cases-search/thomas/cases/summary-data">Data tab</a>
</li>
<li>
<a class="govuk-link" href="cases-search/thomas/cases/data">Trigger data retetion</a>
</li>
<li>
<a class="govuk-link" href="cases-search/thomas/cases/data/hold">data deletion off hold </a>
</li>
<li>
<a class="govuk-link" href="cases-search/thomas/cases/summary_teamleader">Case history</a>
</li>
</ul>


<ul class="govuk-list">
Sonam (Documents none CSI):
<li>
<a class="govuk-link" href="cases-search/sonam/cases/summary-data">Data tab</a>
</li>
<li>
<a class="govuk-link" href="cases-search/sonam/cases/data">Trigger data retetion</a>
</li>
<li>
<a class="govuk-link" href="cases-search/sonam/cases/data/hold">data deletion off hold </a>
</li>
<li>
<a class="govuk-link" href="cases-search/sonam/cases/summary_teamleader">Case history</a>
</li>
</ul>

<ul class="govuk-list">
Desmond (CSI):
<li>
<a class="govuk-link" href="cases-search/desmond/cases/summary_teamleader#data">Data tab</a>
</li>
<li>
<a class="govuk-link" href="cases-search/desmond/cases/data">Trigger data retetion</a>
</li>
<li>
<a class="govuk-link" href="cases-search/desmond/cases/data/hold">data deletion off hold </a>
</li>
<li>
<a class="govuk-link" href="cases-search/desmond/cases/summary_teamleader">Case history</a>
</li>
</ul>

<ul class="govuk-list">
Neil (CSI Documents 7 years):
<li>
<a class="govuk-link" href="cases-search/neil/cases/summary-data">Data tab</a>
</li>
<li>
<a class="govuk-link" href="cases-search/neil/cases/data">Trigger data retetion</a>
</li>
<li>
<a class="govuk-link" href="cases-search/neil/cases/data/hold">data deletion off hold </a>
</li>
<li>
<a class="govuk-link" href="cases-search/neil/cases/summary_teamleader">Case history</a>
</li>
<p>
<ul class="govuk-list">
Sarah (CSI Documents 2 years):
<li>
<a class="govuk-link" href="cases-search/sarah/cases/summary-data">Data tab</a>
</li>
<li>
<a class="govuk-link" href="cases-search/sarah/cases/data">Trigger data retetion</a>
</li>
<li>
<a class="govuk-link" href="cases-search/sarah/cases/data/hold">data deletion off hold </a>
</li>
<li>
<a class="govuk-link" href="cases-search/sarah/cases/summary_teamleader">Case history</a>
</li>
</ul>

</ul>

  <h2 class="govuk-heading-l">Referrals</h2>
<ul class="govuk-list">
    <p class="govuk-body-l"></p>
  <li>
    <a class="govuk-link" href="referral/index">Type and history</a>
  </li>
  <p>
  <li>
  Workplace assessment<p>
    <a class="govuk-link" href="referral/wpa/personal-details">Personal details</a>
  </li>
  <li>
    <a class="govuk-link" href="referral/wpa/address_lookup">Address look up pt1</a>
  </li>
  <li>
    <a class="govuk-link" href="referral/wpa/address_manual">Address manual</a>
  </li>
  <li>
    <a class="govuk-link" href="referral/wpa/address">Address select</a>
  </li>
  <li>
    <a class="govuk-link" href="referral/wpa/no_address">No address found</a>
  </li>
  <li>
    <a class="govuk-link" href="referral/wpa/address_confirm">Address confirm</a>
  </li>
  <li>
    <a class="govuk-link" href="referral/wpa/provider">Provider</a>
  </li>
  <li>
    <a class="govuk-link" href="referral/wpa/check-your-answers">Check your answers</a>
  </li>
  <li>
    <a class="govuk-link" href="referral/wpa/confirm">Complete page</a>
  </li>
  <p>
  <li>
  Mental Health support service (MHSS) <p>

    <a class="govuk-link" href="referral/mhss/personal-details">Personal details</a>
  </li>
  <li>
    <a class="govuk-link" href="referral/mhss/address_lookup">Address look up pt1</a>
  </li>
  <li>
    <a class="govuk-link" href="referral/mhss/address_manual">Address manual</a>
  </li>
  <li>
    <a class="govuk-link" href="referral/mhss/address">Address select</a>
  </li>
  <li>
    <a class="govuk-link" href="referral/mhss/no_address">No address found</a>
  </li>
  <li>
    <a class="govuk-link" href="referral/mhss/address_confirm">Address confirm</a>
  </li>
  <li>
    <a class="govuk-link" href="referral/mhss/typeprovider">Provider type</a>
  </li>
  <li>
    <a class="govuk-link" href="referral/mhss/providerAuthority">Provider authority</a>
  </li>
  <li>
    <a class="govuk-link" href="referral/mhss/override">Provider override codes</a>
  </li>
  <li>
    <a class="govuk-link" href="referral/mhss/supplier">Provider Self referral</a>
  </li>
  <li>
    <a class="govuk-link" href="referral/mhss/check-your-answers">Check your answers</a>
  </li>
  <li>
    <a class="govuk-link" href="referral/mhss/confirm">Complete page</a>
  </li>

<p>
  <li>
      Status <p>
    <a class="govuk-link" href="referral/status">Your referral with different status</a>
  </li>

</ul>


{% endblock %}
