{% set page = "task-list" %}
{% set title = "Your tasks" %}
{% extends "./_CSIBASE.html" %}

{% block csi %}

{% if not interview %}
              <ol class="app-task-list">
                      <li>
                        <h2 class="app-task-list__section">
                          <span class="app-task-list__section-number">1. </span> Review and decide
                        </h2>
                        <ul class="app-task-list__items">
                          <li class="app-task-list__item">
                            <span class="app-task-list__task-name">
                              <a href="appointee/1" aria-describedby="eligibility-completed">
                                Check for appointee
                              </a>
                            </span>
                          {% if interview or data['appointee'] %} <strong class="govuk-tag app-task-list__task-completed" id="eligibility-completed">Completed</strong>{% endif %}
                          </li>

                          <li class="app-task-list__item">
                            <span class="app-task-list__task-name">
                              <a href="check/3" aria-describedby="eligibility-completed">
                                Check quote
                              </a>
                            </span>
  {% if interview or data['interview'] %}                          <strong class="govuk-tag app-task-list__task-completed" id="eligibility-completed">Completed</strong>{% endif %}
                          </li>
                        </ul>
                        </li>
                        </ol>
                        <ol class="app-task-list">
                                <li>
                          <h2 class="app-task-list__section">
                              <span class="app-task-list__section-number">2. </span> Tell citizen
                            </h2>

  <ul class="app-task-list__items">
                          <li class="app-task-list__item">
                            <span class="app-task-list__task-name">
                              <a href="send/1" aria-describedby="read-declaration-completed">
                                Send email
                              </a>
                            </span>
        {% if interview or (data['notifications'] =="yes") %}<strong class="govuk-tag app-task-list__task-completed" id="read-declaration-completed">Completed</strong> {% elif data['send'] %}<strong class="govuk-tag app-task-list__task-completed" id="eligibility-completed">[In progress]</strong>{% endif %}
                          </li>
                          <li class="app-task-list__item">
                            <span class="app-task-list__task-name">
                              <a href="send/2" aria-describedby="read-declaration-completed">
                                Send SMS
                              </a>
                            </span>
                        {% if interview or (data['notifications'] =="yes") %}<strong class="govuk-tag app-task-list__task-completed" id="read-declaration-completed">Completed</strong> {% elif data['send'] %}<strong class="govuk-tag app-task-list__task-completed" id="eligibility-completed">[In progress]</strong>{% endif %}
                          </li>
                          <li class="app-task-list__item">
                            <span class="app-task-list__task-name">
                              <a href="send/3" aria-describedby="read-declaration-completed">
                                Send claim and cover letter
                              </a>
                            </span>
        {% if interview or (data['notifications'] =="yes") %}<strong class="govuk-tag app-task-list__task-completed" id="read-declaration-completed">Completed</strong> {% elif data['send'] %}<strong class="govuk-tag app-task-list__task-completed" id="eligibility-completed">[In progress]</strong>{% endif %}
                          </li>
                        </ul>
                      </li>
                      <li>

{% else %}  <!-- scenario if interview is true -->
                      <!--  <h2 class="app-task-list__section">
                          <span class="app-task-list__section-number">2. </span> After the interview
                        </h2>


                        <ul class="app-task-list__items">

                          <li class="app-task-list__item">
                            <span class="app-task-list__task-name">
                              <a href="contact/index">
                                Contact employer
                              </a>
                            </span>
                          </li>
                          <li class="app-task-list__item">
                            <span class="app-task-list__task-name">
                              <a href="confirm/1" aria-describedby="company-information-completed">
                                Confirm interview took place


                              </a>
                            </span>
                                              </li>

                        </ul>
                      </li>
                    </ol>

{% endif %}


{% endblock %}



{% block footer %}
  {{ govukFooter({
    meta: {
      items: [
        {
          href: "https://govuk-prototype-kit.herokuapp.com/",
          text: "GOV.UK Prototype Kit " + releaseVersion
        },
        {
          href: "/prototype-admin/clear-data",
          text: "Clear data"
        },
        {
          href: "index",
          text: "Index before interview"
        },
        {
          href: "index-interview",
          text: "Index after interview"
        }
      ]
    }
  }) }}

{% endblock %}
