
{% extends "layout.html" %}

{% block pageTitle %}
  Access to Work prototypes: renewals
{% endblock %}

{% block header %}

  <div class="prototype-remove-blue-border-from-header">

    {{ super() }}

    <div class="prototype-home-top">

      <div class="govuk-width-container">

        <div class="govuk-grid-row">

          <div class="govuk-grid-column-two-thirds">

            <h1 class="govuk-heading-xl govuk-!-margin-bottom-4">Access to Work</h1>
            <h1 class="govuk-heading-l govuk-!-font-weight-regular  govuk-!-margin-bottom-2">Renewals prototype</h1>

          </div>

        </div>

      </div>

    </div>

  </div>

{% endblock %}

{% block beforeContent %}

  {{ super() }}
  {{ govukBackLink({
    text: 'Back to prototype home',
    href: '/'
  }) }}
{% endblock %}

{% block content %}
<div class="govuk-warning-text">
  <span class="govuk-warning-text__icon" aria-hidden="true">!</span>
  <strong class="govuk-warning-text__text">
    <span class="govuk-warning-text__assistive">Warning</span>
    Navigation page for internal team use only. Not for development or usability sessions.
  </strong>
</div>
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-one-half">
      <h2 class="govuk-heading-m">
             <a href="renewals/current/index.html" class="govuk-link--no-visited-state">
              Current<br><strong class="govuk-tag govuk-tag--green">
            Live
             </strong>
             </a>
           </h2>
           <p>'Get help' update to be at the bottom of the page. </p>
 <hr class="govuk-section-break govuk-section-break--l govuk-section-break--visible">
   <h2 class="govuk-heading-m">
          <a href="HTO-5149/index.html" class="govuk-link--no-visited-state">
            HTO-5149: Support changes question added<br><strong class="govuk-tag govuk-tag--yellow">
           Draft
          </strong>
          </a>
        </h2>
        <p>New question after ‘/urn‘ and before ‘/contact‘ details about whether support needs have changed for renewal.</p>
    </h2>



     <hr class="govuk-section-break govuk-section-break--l govuk-section-break--visible">
 <h2 class="govuk-heading-m">
        <a href="HTO-3198/apply-cs-filtering1.html" class="govuk-link--no-visited-state">
          HTO-3198: In-journey support content<br><strong class="govuk-tag govuk-tag--green ">
        Live
        </strong>
        </a>
      </h2>
      <p>Support column content for live renew service. Same content as apply and CSI.</p>
  </h2>

   <hr class="govuk-section-break govuk-section-break--l govuk-section-break--visible">

 <h2 class="govuk-heading-m">
        <a href="HTO-2827/index.html" class="govuk-link--no-visited-state">
          HTO-2827: Priority case question change<br><strong class="govuk-tag govuk-tag--green">
         Live
        </strong>
        </a>
      </h2>
      <p>Removing clinically extremely vunderable question.</p>
  </h2>



   <hr class="govuk-section-break govuk-section-break--l govuk-section-break--visible">


 <h2 class="govuk-heading-m">
        <a href="HTO-2719/index.html" class="govuk-link--no-visited-state">
          HTO-2719: GA cookie consent design and content<br><strong class="govuk-tag govuk-tag--green">
         Live
        </strong>
        </a>
      </h2>
      <p>Cookie consent for live renewals service. </p>
  </h2>

   <hr class="govuk-section-break govuk-section-break--l govuk-section-break--visible">

     <h2 class="govuk-heading-m">
        <a href="HTO-2800/are-you-a-civil-servant.html" class="govuk-link--no-visited-state">
          HTO-2800: prototype for tense changes for renewal service<br><strong class="govuk-tag govuk-tag--green">
         Live
        </strong>
        </a>
      </h2>
      <p>Prototype for devs which includes the tense changes to the content for the renewals service.</p>


      <p>To go live after 1 April 2022.</p>

   <hr class="govuk-section-break govuk-section-break--l govuk-section-break--visible">



     <h2 class="govuk-heading-m">
        <a href="HTO-2999/renew-atw-cs.html" class="govuk-link--no-visited-state">
          HTO-2999: Response times removal from service confirmation page <br>(dev ready prototype)<br><strong class="govuk-tag govuk-tag--green">
         Live
        </strong>
        </a>
      </h2>
      <p>Dev ready copy of renewal service. Only change is to confirmation page.</p>
      <p>Does not include tense changes for 1 April, they are in HTO-2800.</p>


         <hr class="govuk-section-break govuk-section-break--l govuk-section-break--visible">



     <h2 class="govuk-heading-m">
        <a href="HTO-2902/index.html" class="govuk-link--no-visited-state">
          HTO-2902: UR prototype for OGD changes added to live service on 21 February<br><strong class="govuk-tag govuk-tag--grey">
  Old
        </strong>
        </a>
      </h2>
      <p>UR version for civil service filtering question added. </p>


      <p>Affecting grant end dates on or after 1 April 2022.</p>

   <hr class="govuk-section-break govuk-section-break--l govuk-section-break--visible">


    <h2 class="govuk-heading-m">
        <a href="HTO-2484/renew-atw-cs.html" class="govuk-link--no-visited-state">
          HTO-2484: OGD change added <nobr>21 February</nobr> (dev ready prototype)<br><strong class="govuk-tag govuk-tag--grey">
  Old
      </strong>
        </a>
      </h2>

     <p>Civil service filtering question added. </p>

      <p>Affecting grant end dates on or after 1 April 2022.</p>


<hr class="govuk-section-break govuk-section-break--l govuk-section-break--visible">

<h2 class="govuk-heading-m">
        <a href="current/clinically-extremely-vulnerable.html" class="govuk-link--no-visited-state">
          Old version of renewals service, before OGD filtering added<br><strong class="govuk-tag govuk-tag--grey">
  Old
</strong>
        </a>
      </h2>

      <p>Renewals service as of 10 January 2022.</p>


      <hr class="govuk-section-break govuk-section-break--l govuk-section-break--visible">


    </div>
  </div>

{% endblock %}
