{% set page = "claim" %}
{% set claim = "true" %}
{% set title = "Case details" %}

{% extends folder + "/claim/_CSIBASE.html" %}
{% if not number or (number == 'undefined') %}
{% set number = 1 %}
{% endif %}
{% block csi %}
<br>




<form action="/contact-answer-{{phase}}" method="post" novalidate>


  <div class="govuk-width-container">


    <main class="govuk-main-wrapper">

      <div class="govuk-grid-row">
        <div class="govuk-grid-column-two-thirds">










                        <div class="govuk-form-group">
                          <fieldset class="govuk-fieldset" aria-describedby="contact-why-hint">
                            <legend class="govuk-fieldset__legend govuk-fieldset__legend--l">
                              <h1 class="govuk-fieldset__heading">
                        What did you call about?
                              </h1>
                            </legend>
                            <div id="contact-why-hint" class="govuk-hint">
                              Select all that apply.
                            </div>
                            <div class="govuk-checkboxes" data-module="govuk-checkboxes">
                              <div class="govuk-checkboxes__item">
                                <input class="govuk-checkboxes__input" id="contact-why" name="contact-why" type="checkbox" value="Quotes">
                                <label class="govuk-label govuk-checkboxes__label" for="contact-why">
                                Quotes
                                </label>
                              </div>

                              <div class="govuk-checkboxes__item">
                                <input class="govuk-checkboxes__input" id="contact-why-3" name="contact-why" type="checkbox" value="Element details">
                                <label class="govuk-label govuk-checkboxes__label" for="contact-why-3">
                                Element details
                                </label>
                              </div>

                              <div class="govuk-checkboxes__item">
                                <input class="govuk-checkboxes__input" id="contact-why-4" name="contact-why" type="checkbox" value="Personal details">
                                <label class="govuk-label govuk-checkboxes__label" for="contact-why-4">
                                Personal details
                                </label>
                              </div>
                              <div class="govuk-checkboxes__item">
                                <input class="govuk-checkboxes__input" id="contact-why-5" name="contact-why" type="checkbox" value="Health condition or disability">
                                <label class="govuk-label govuk-checkboxes__label" for="contact-why-5">
                                 Health condition or disability
                                </label>
                              </div>
                              <div class="govuk-checkboxes__item">
                                <input class="govuk-checkboxes__input" id="contact-why-6" name="contact-why" type="checkbox" value="Employment details">
                                <label class="govuk-label govuk-checkboxes__label" for="contact-why-6">
                                Employment details
                                </label>
                              </div>
                              <div class="govuk-checkboxes__item">
                                <input class="govuk-checkboxes__input" id="contact-why-7" name="contact-why" type="checkbox" value="Employer information">
                                <label class="govuk-label govuk-checkboxes__label" for="contact-why-7">
                                Employer information
                                </label>
                              </div>
                              <div class="govuk-checkboxes__item">
                                <input class="govuk-checkboxes__input" id="contact-why-8" name="contact-why" type="checkbox" value="Workplace assessment">
                                <label class="govuk-label govuk-checkboxes__label" for="contact-why-8">
                                Workplace assessment
                                </label>
                              </div>

                              <div class="govuk-checkboxes__item">
                                <input class="govuk-checkboxes__input" id="contact-why-9" name="contact-why" type="checkbox" value="Award outcome">
                                <label class="govuk-label govuk-checkboxes__label" for="contact-why-9">
                            Award outcome
                                </label>
                              </div>


                              <div class="govuk-checkboxes__item">
                                <input class="govuk-checkboxes__input" id="contact-why-10" name="contact-why" type="checkbox" value="Other">
                                <label class="govuk-label govuk-checkboxes__label" for="contact-why-10">
                            Other
                                </label>
                              </div>
                            </div>
                          </fieldset>
                        </div>


{% if data['clear']=='No' %}{% else %}
  {% include  "live-52claim/notification-contact.html" %}{% endif %}






<div class="govuk-inset-text">
Once saved, details cannot be changed.
  </div>

           <button class="govuk-button" data-module="govuk-button" name="contact-phone" value="completed">
          Confirm and save
          </button>


          </form>


          </div>
          </div>


</div>

        </main>
        </div>



{% endblock %}
