{% set page = "claim" %}
{% set claim = "true" %}
{% set title = "Case details" %}

{% if not number or (number == 'undefined') %}
{% set number = 1 %}
{% endif %}

{% extends folder + "/claim/_CSIBASE.html" %}

{% block csi %}
<br>

<div class="govuk-width-container">
<form action="/live-16/cases/{% if phase == "sonya" %}sonya/cases/{% else %}{% endif %}check-application/condition-help-needed/index" method="post" novalidate>

  <main class="govuk-main-wrapper " id="main-content" role="main">
    <div class="govuk-grid-row">
      <div class="govuk-grid-column-two-thirds">



  <h1 class="govuk-heading-l">Add more details about the health condition or disability</h1>




    <div class="govuk-form-group">
                <fieldset class="govuk-fieldset">
                  <legend class="govuk-fieldset__legend govuk-fieldset__legend--m">
                      Where are these details from?

                  </legend>
                  <div class="govuk-radios govuk-radios--inline" data-module="govuk-radios">
                    <div class="govuk-radios__item govuk-radios--inline">
                      <input class="govuk-radios__input" id="condition-check-update" name="condition-check-update{{phase}}{{number}}" type="radio" value="Workplace assessment report" {{ checked("condition-check-update" + number, "Workplace assessment report") }}>
                      <label class="govuk-label govuk-radios__label" for="condition-check-update">
                        Workplace assessment report
                      </label>
                    </div>
                    <div class="govuk-radios__item">
                      <input class="govuk-radios__input" id="condition-check-update-2" name="condition-check-update{{phase}}{{number}}" type="radio" value="Dereck Smith" {{ checked("condition-check-update" + number, "Dereck Smith") }}>
                      <label class="govuk-label govuk-radios__label" for="condition-check-update-2">
                        {% if phase == "sonya" %}Sonya Corkery{% else %}Dereck Smith{% endif %}
                      </label>
                    </div>

                  </div>

                </fieldset>
        </div>







  <div class="govuk-character-count" data-module="govuk-character-count" data-maxlength="500">
  <div class="govuk-form-group">
    <h2 class="govuk-label-wrapper">
      <label class="govuk-label govuk-label--m" for="with-hint">
      More details about {% if phase == "sonya" %}Sonya Corkery{% else %}Dereck Smith{% endif %}’s health condition or disability 
      </label>
    </h2>

    <textarea class="govuk-textarea govuk-js-character-count" id="with-hint" name="more-detail{{phase}}{{number}}" rows="5" aria-describedby="with-hint-info with-hint-hint">{{data['more-detail' + number]}}</textarea>
  </div>

  <div id="with-hint-info" class="govuk-hint govuk-character-count__message">
    You can enter up to 500 characters
  </div>

</div>
            <button class="govuk-button" data-module="govuk-button">
              Save and continue
            </button>

          </form>
        </div>
      </div>
    </main>
  </div>


{% endblock %}
