{% set hideBanner = true %}
{% set yourCases = true %}
{% extends "../claim/_BASE.html" %}







{% block content %}








<div class="govuk-grid-row">
      <div class="govuk-grid-column-two-thirds">



        <form action="../index" method="post" novalidate>

          <div class="govuk-panel govuk-panel--confirmation">
            <h1 class="govuk-panel__title">
              Referral complete
            </h1>
            <!-- <div class="govuk-panel__body">
              Your reference number<br><strong>HDJ2123F</strong>
            </div> -->
          </div>

          <p>We’ve sent {{data["firstName-refferral-wpa"]}} {{data["lastName-refferral-wpa"]}} referral to {% if data['site']=='Reed In Partnership, HLF/2183, Halifax Crossfield House'%}Reed In Partnership{% endif %}{% if data['site']=='Reed In Partnership, HKH/19414, Harrow Kings House'%}Reed In Partnership{% endif %}{% if data['site']=='Maximus, HLF/2184, Halifax Crossfield House'%}Maximus{% endif %}{% if data['site']=='Maximus, HKH/19415, Harrow Kings House'%}Maximus{% endif %}{% if not data['site']%}Maximus{% endif %}.</p>

          <h2 class="govuk-heading-m">What happens next</h2>
          <p>
{% if data['site']=='Reed In Partnership, HLF/2183, Halifax Crossfield House'%}Reed In Partnership{% endif %}
{% if data['site']=='Reed In Partnership, HKH/19414, Harrow Kings House'%}Reed In Partnership{% endif %}
{% if data['site']=='Maximus, HLF/2184, Halifax Crossfield House'%}Maximus{% endif %}
{% if data['site']=='Maximus, HKH/19415, Harrow Kings House'%}Maximus{% endif %}
{% if not data['site']%}Maximus{% endif %}
             will contact {{data["firstName-refferral-wpa"]}} {{data["lastName-refferral-wpa"]}} to arrange the workplace assessment. </p>

    <button type="submit" data-prevent-double-click="true" class="govuk-button" data-module="govuk-button" id="continue-button" data-govuk-button-init="">
    Return to referrals
    </button>






    </form>

      </div>
    </div>






{% endblock %}



<!-------------- footer -->
{% block footer %}


  {{ govukFooter({
    meta: {
      html: urFooterLink ,

      items: [
        {
          href: "https://govuk-prototype-kit.herokuapp.com/",
          text: "GOV.UK Prototype Kit " + releaseVersion
        },
        {
          href: "/prototype-admin/clear-data",
          text: "Clear data"
        }

      ]
    }
  }) }}





{% endblock %}
