.nav-horizontal {
  background-color: govuk-colour("light-grey", $legacy: "grey-3");
  overflow: hidden;
}
.nav-pri {
  float: left;
  margin: 0;
  padding: 0;
  list-style: none;

  li {
    float: left;
    margin: 0;

    a {
      display: inline-block;
      padding: 15px;
      text-decoration: none;
      color: govuk-colour("black");
      margin-right: none;
      margin-left: 0;

      &:hover {
        background-color: #f8f8f8;
      }
    }
  }
}
.nav-pri li.active a,
.nav-pri li.active a:hover {
  background-color: govuk-colour("blue");
  font-weight: bold;
  color: #fff;
}
