{% set hideBanner = true %}
{% set yourCases = true %}
{% extends "./claim/_BASE.html" %}







{% block content %}








<div class="govuk-grid-row">
      <div class="govuk-grid-column-two-thirds">
        <!-- <h1 class="govuk-heading-l">Provider details </h1>
<p>Based on   {{data["firstName-refferral"]}} {{data["lastName-refferral"]}}'s National Insurance number, a [type] referral will be sent to <strong>[provider name]</strong>.</p>


        <form action="check-your-answers" method="post" novalidate>


 -->{{ govukBackLink({
 text: "Back",
 href: "javascript:history.go(-1)"
 }) }}

    <form action="check-your-answers" method="post" novalidate>

    <form action="provider" method="post" novalidate>

          <div class="govuk-form-group">
            <fieldset class="govuk-fieldset">
              <legend class="govuk-fieldset__legend govuk-fieldset__legend--l">
                <h1 class="govuk-fieldset__heading">
              Provider details
                </h1>
              </legend>
              <p>{{data["firstName-refferral"]}} {{data["lastName-refferral"]}}'s National Insurance number is <strong>{{data['nationalInsuranceNumber-refferral']}}</strong>. Select an office location and provider to send the referral to.</p>
              <div class="govuk-radios" data-module="govuk-radios">
                <div class="govuk-radios__item">
                  <input class="govuk-radios__input" id="site" name="site" type="radio" value="Halifax, HLF/2183 for Reed In Partnership">
                  <label class="govuk-label govuk-radios__label" for="site">
                    Halifax, HLF/2183 for Reed In Partnership
                  </label>
                </div>
                <div class="govuk-radios__item">
                  <input class="govuk-radios__input" id="site-2" name="site" type="radio" value="Halifax, HLF/2184 for Maximus">
                  <label class="govuk-label govuk-radios__label" for="site-2">
                      Halifax, HLF/2184 for Maximus
                  </label>
                </div>
                <div class="govuk-radios__item">
                  <input class="govuk-radios__input" id="site-3" name="site" type="radio" value="Harrow, HKH/19414 for Reed In Partnership">
                  <label class="govuk-label govuk-radios__label" for="site-3">
                  Harrow, HKH/19414 for Reed In Partnership
                  </label>
                </div>
                <div class="govuk-radios__item">
                  <input class="govuk-radios__input" id="site-4" name="site" type="radio" value="Harrow, HKH/19414 for Maximus">
                  <label class="govuk-label govuk-radios__label" for="site-4">
                    Harrow, HKH/19414 for Maximus
                  </label>
                </div>

              </div>
            </fieldset>
          </div>





          <!-- <div class="govuk-form-group">
            <label class="govuk-label" for="sort">
              Site code
            </label>
            <select class="govuk-select" id="sort" name="sort">
              <option value="published" selected>None</option>
              <option value="updated" >1</option>
              <option value="views"> 2</option>
              <option value="comments"> 3</option>
                  <option value="comments"> 4</option>
            </select>
          </div> -->


<!--
          <div class="govuk-form-group">
            <label class="govuk-label govuk-label--m"  for="national-insurance-number">
            Enter site code
            </label>
            <!-- <div id="national-insurance-number-hint" class="govuk-hint">
            It’s a number that is 2 letters, 6 numbers, then A, B, C or D, like 'QQ 12 34 56 C'.
            </div> -->
            <!-- <input class="govuk-input govuk-input--width-10 govuk-input--extra-letter-spacing" id="national-insurance-number" name="nationalInsuranceNumber-refferral" type="text" spellcheck="false" aria-describedby="national-insurance-number-hint" value={{data["nationalInsuranceNumber-refferral"]}}>
          </div> -->




    <button type="submit" data-prevent-double-click="true" class="govuk-button" data-module="govuk-button" id="continue-button" data-govuk-button-init="">
    Save and continue
    </button>






    </form>

      </div>
    </div>






{% endblock %}



<!-------------- footer -->
{% block footer %}


  {{ govukFooter({
    meta: {
      html: urFooterLink ,

      items: [
        {
          href: "https://govuk-prototype-kit.herokuapp.com/",
          text: "GOV.UK Prototype Kit " + releaseVersion
        },
        {
          href: "/prototype-admin/clear-data",
          text: "Clear data"
        }

      ]
    }
  }) }}





{% endblock %}
