{% set page = "claim" %}
{% set claim = "true" %}
{% set title = "Case details" %}
{% set edit = 'true' %}
{% extends folder + "/claim/_CSIBASE.html" %}

{% block csi %}


<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

    <form class="form" action="edit" method="post">

      <div class="govuk-form-group">
        <h1 class="govuk-label-wrapper"><label class="govuk-label govuk-label--l" for="job-title">
          What is {% if phase == "john" %}John Smith{% endif %}{% if phase == "thomas" %}Thomas King{% endif %}{% if phase == "sonya" %}Sonya Corkery{% endif %}{% if not phase %}Dereck Smith{% endif %} job title at Smith Digital Limited?
        </label>
        </h1>
        <input class="govuk-input" id="job-title" name="job-title-employed" type="text" value="{% if not data['job-title-employed']%}QA Engineer{% else %}{{ data['job-title-employed'] }}{% endif %}">
      </div>

      <div class="govuk-!-padding-bottom-0"></div>

      <form class="form" action="/url/of/next/page" method="post">
        <button class="govuk-button" data-module="govuk-button">Save and continue</button>
      </form>



  <div class="govuk-grid-column-one-third">

  </div>
</div>

  </div>

{% endblock %}
