.grid-1 {
	margin-right: 10px; margin-left: 10px; position: relative;
}
.grid-2 {
	margin-right: 10px; margin-left: 10px; position: relative;
}
.grid-3 {
	margin-right: 10px; margin-left: 10px; position: relative;
}
.grid-4 {
	margin-right: 10px; margin-left: 10px; position: relative;
}
.grid-5 {
	margin-right: 10px; margin-left: 10px; position: relative;
}
.grid-6 {
	margin-right: 10px; margin-left: 10px; position: relative;
}
.grid-7 {
	margin-right: 10px; margin-left: 10px; position: relative;
}
.grid-8 {
	margin-right: 10px; margin-left: 10px; position: relative;
}
.grid-9 {
	margin-right: 10px; margin-left: 10px; position: relative;
}
.grid-10 {
	margin-right: 10px; margin-left: 10px; position: relative;
}
.grid-11 {
	margin-right: 10px; margin-left: 10px; position: relative;
}
.grid-12 {
	margin-right: 10px; margin-left: 10px; position: relative;
}
.grid-13 {
	margin-right: 10px; margin-left: 10px; position: relative;
}
.grid-14 {
	margin-right: 10px; margin-left: 10px; position: relative;
}
.grid-15 {
	margin-right: 10px; margin-left: 10px; position: relative;
}
.grid-16 {
	margin-right: 10px; margin-left: 10px; position: relative;
}
.grid-17 {
	margin-right: 10px; margin-left: 10px; position: relative;
}
.grid-18 {
	margin-right: 10px; margin-left: 10px; position: relative;
}
.grid-19 {
	margin-right: 10px; margin-left: 10px; position: relative;
}
.grid-20 {
	margin-right: 10px; margin-left: 10px; position: relative;
}
.grid-21 {
	margin-right: 10px; margin-left: 10px; position: relative;
}
.grid-22 {
	margin-right: 10px; margin-left: 10px; position: relative;
}
.grid-23 {
	margin-right: 10px; margin-left: 10px; position: relative;
}
.grid-24 {
	margin-right: 10px; margin-left: 10px; position: relative;
}
.container-12 .block .omega-grid {
	margin-right: -10px; margin-left: -10px; position: relative;
}
.container-16 .block .omega-grid {
	margin-right: -10px; margin-left: -10px; position: relative;
}
.container-24 .block .omega-grid {
	margin-right: -10px; margin-left: -10px; position: relative;
}
