body div.general-styles .ui-widget-content a {
	color: rgb(0, 93, 165);
}
body div.general-styles-content .ui-widget-content a {
	color: rgb(0, 93, 165);
}
body .link-button-style {
	color: rgb(0, 93, 165);
}
body .ui-dialog.ui-widget button.fake-cancel {
	color: rgb(0, 93, 165);
}
html body.html a.button.fake-cancel {
	color: rgb(0, 93, 165);
}
body input#edit-cancel {
	color: rgb(0, 93, 165);
}
body input[value='Cancel'].form-submit {
	color: rgb(0, 93, 165);
}
body a.export-button {
	color: rgb(0, 93, 165);
}
a#edit-cancel {
	color: rgb(0, 93, 165);
}
body .media-widget .invotra-manual-crop .manualcrop-cancel {
	color: rgb(0, 93, 165);
}
body .pane-lists #invotra-list-wrapper form a.cancel {
	color: rgb(0, 93, 165);
}
body .section-footer a {
	color: rgb(0, 93, 165);
}
body .menu a.active {
	color: rgb(0, 93, 165);
}
body a {
	color: rgb(0, 93, 165);
}
body li a.active {
	color: rgb(0, 93, 165);
}
body ul.tabs li a:hover {
	color: rgb(0, 93, 165);
}
body ul.tabs li a {
	color: rgb(0, 93, 165);
}
body.page-media-browser .ui-tabs .ui-tabs-nav li a {
	color: rgb(0, 93, 165);
}
body.page-media-format-form .ui-tabs .ui-tabs-nav li a {
	color: rgb(0, 93, 165);
}
body.page-media-browser .ui-tabs .ui-tabs-nav li a:hover {
	color: rgb(0, 93, 165);
}
body.page-media-format-form .ui-tabs .ui-tabs-nav li a:hover {
	color: rgb(0, 93, 165);
}
body .ui-tabs.tabs-top .ui-tabs-nav li a {
	color: rgb(0, 93, 165);
}
body .ui-tabs.tabs-top .ui-tabs-nav li.ui-state-hover a {
	color: rgb(0, 93, 165);
}
body .ui-tabs .ui-tabs-nav li.ui-state-hover a {
	color: rgb(0, 93, 165);
}
body #mini-panel-group_header .pane-group-menu li a {
	color: rgb(0, 93, 165);
}
body #mini-panel-group_header .pane-group-menu li a:hover {
	color: rgb(0, 93, 165);
}
body.node-type-group-status .moscone-header .pane-group-menu li a {
	color: rgb(0, 93, 165);
}
body.node-type-advpoll .moscone-header .pane-group-menu li a {
	color: rgb(0, 93, 165);
}
body.node-type-group-status .moscone-header .pane-group-menu li a:hover {
	color: rgb(0, 93, 165);
}
body.node-type-advpoll .moscone-header .pane-group-menu li a:hover {
	color: rgb(0, 93, 165);
}
.ui-dialog.ui-widget .ui-dialog-buttonpane .ui-dialog-buttonset button.ui-button.fake-cancel {
	color: rgb(0, 93, 166);
}
body a:hover {
	color: rgb(0, 93, 166);
}
body div.region-menu {
	background: rgb(255, 255, 255);
}
body .clean-header #region-menu #block-menu-menu-quick-links .block-title {
	color: rgb(0, 0, 0);
}
div.region-menu .pane-tree li a {
	color: rgb(0, 0, 0);
}
div.region-menu .pane-tree li a:hover {
	color: rgb(0, 0, 0);
}
body .region-menu .pane-tree li:hover {
	border-color: rgb(0, 114, 143);
}
body .region-menu .pane-invotra-extranet-menu-bar li:hover {
	border-color: rgb(0, 114, 143);
}
body .region-menu .pane-tree li.active-parent {
	border-color: rgb(0, 114, 143);
}
div.region-menu .pane-tree li li a {
	color: rgb(0, 114, 143);
}
div.region-menu .pane-tree li li a:hover {
	color: rgb(0, 114, 143);
}
div.region-menu .pane-tree li li a.active {
	color: rgb(0, 114, 143);
}
body .region-content h1 {
	color: rgb(51, 51, 52);
}
body {
	color: rgb(51, 51, 53);
}
body.html {
	background: rgb(233, 232, 232);
}
body .region-content .ui-widget-content {
	background: rgb(233, 232, 232);
}
body.html .section-footer {
	background: rgb(51, 51, 52); color: rgb(255, 255, 255);
}
body.html .section-footer h2 {
	color: rgb(255, 255, 255);
}
body.html .section-footer a {
	color: rgb(255, 255, 255);
}
body a.go-back-button {
	background: rgb(88, 89, 91); border-color: rgb(88, 89, 91); color: rgb(255, 255, 239);
}
body .cke_reset_all .cke_dialog a.cke_dialog_ui_button_ok {
	background: rgb(88, 89, 91); border-color: rgb(88, 89, 91); color: rgb(255, 255, 239);
}
body .ui-dialog.ui-widget button.ui-button {
	background: rgb(88, 89, 91); border-color: rgb(88, 89, 91); color: rgb(255, 255, 239);
}
body #section-content a.add-term {
	background: rgb(88, 89, 91); border-color: rgb(88, 89, 91); color: rgb(255, 255, 239);
}
body button.fake-ok {
	background: rgb(88, 89, 91); border-color: rgb(88, 89, 91); color: rgb(255, 255, 239);
}
body a.button.fake-ok {
	background: rgb(88, 89, 91); border-color: rgb(88, 89, 91); color: rgb(255, 255, 239);
}
body .pane-invotra-custom-ct-add-new-link ul.action-links a {
	background: rgb(88, 89, 91); border-color: rgb(88, 89, 91); color: rgb(255, 255, 239);
}
body .pane-menu-overview ul.action-links a {
	background: rgb(88, 89, 91); border-color: rgb(88, 89, 91); color: rgb(255, 255, 239);
}
body input.form-submit {
	background: rgb(88, 89, 91); border-color: rgb(88, 89, 91); color: rgb(255, 255, 239);
}
body #keyword-fake-form button.refine-submit:focus {
	background: rgb(88, 89, 91); border-color: rgb(88, 89, 91); color: rgb(255, 255, 239);
}
body .focus#keyword-fake-form button {
	background: rgb(88, 89, 91); border-color: rgb(88, 89, 91); color: rgb(255, 255, 239);
}
body .pane-group-members-add-search .pane-fulltext-search-bar form.focus::after {
	background: rgb(88, 89, 91); border-color: rgb(88, 89, 91); color: rgb(255, 255, 239);
}
body .pane-group-members-add-search .pane-fulltext-search-bar form.focus-submit::after {
	background: rgb(88, 89, 91); border-color: rgb(88, 89, 91); color: rgb(255, 255, 239);
}
body #invotra-toolbar-login-form .form-submit {
	background: rgb(88, 89, 91); border-color: rgb(88, 89, 91); color: rgb(255, 255, 239);
}
body .pane-user-create-link a {
	background: rgb(88, 89, 91); border-color: rgb(88, 89, 91); color: rgb(255, 255, 239);
}
body.productivity-landing .block-system .create-wrapper a.create-link {
	background: rgb(88, 89, 91); border-color: rgb(88, 89, 91); color: rgb(255, 255, 239);
}
body #user-profile .pane-flag-link.pane-user a {
	background: rgb(88, 89, 91); border-color: rgb(88, 89, 91); color: rgb(255, 255, 239);
}
body #productivity .productivity-create a {
	background: rgb(88, 89, 91); border-color: rgb(88, 89, 91); color: rgb(255, 255, 239);
}
body.page-apps-groups .create-group a {
	background: rgb(88, 89, 91); border-color: rgb(88, 89, 91); color: rgb(255, 255, 239);
}
body .request-access-block .request-access-button {
	background: rgb(88, 89, 91); border-color: rgb(88, 89, 91); color: rgb(255, 255, 239);
}
body .pane-group-members-add-search .pane-group-node-members-add a {
	background: rgb(88, 89, 91); border-color: rgb(88, 89, 91); color: rgb(255, 255, 239);
}
body .pane-new-folder a.context {
	background: rgb(88, 89, 91); border-color: rgb(88, 89, 91); color: rgb(255, 255, 239);
}
body .pane-messages-feed .views-field-invotra-subscriptions-message-body .group-user .profile-link a {
	background: rgb(88, 89, 91); border-color: rgb(88, 89, 91); color: rgb(255, 255, 239);
}
body .media-browser-tab a.button.button-yes {
	background: rgb(88, 89, 91); border-color: rgb(88, 89, 91); color: rgb(255, 255, 239);
}
body .pane-add-member a {
	background: rgb(88, 89, 91); border-color: rgb(88, 89, 91); color: rgb(255, 255, 239);
}
body .pane-add-child-section a {
	background: rgb(88, 89, 91); border-color: rgb(88, 89, 91); color: rgb(255, 255, 239);
}
body .pane-ilp-search .form-wrapper > div .item-list ul > li a.active {
	background: rgb(88, 89, 91); border-color: rgb(88, 89, 91); color: rgb(255, 255, 239);
}
body .pane-group-node-members-add a .add-members {
	background: rgb(88, 89, 91); border-color: rgb(88, 89, 91); color: rgb(255, 255, 239);
}
body .pane-group-members-add-search .pane-members-fulltext-search-bar form .submit {
	background: rgb(88, 89, 91); border-color: rgb(88, 89, 91); color: rgb(255, 255, 239);
}
body .pane-fulltext-search-bar form button {
	background: rgb(88, 89, 91); border-color: rgb(88, 89, 91); color: rgb(255, 255, 239);
}
body #views-exposed-form-groups-landing-panel-pane-1 .views-submit-button {
	background: rgb(88, 89, 91); border-color: rgb(88, 89, 91); color: rgb(255, 255, 239);
}
body .productivity-landing .block-system .pane-invotra-lp-create .create-wrapper .create-link {
	background: rgb(88, 89, 91); border-color: rgb(88, 89, 91); color: rgb(255, 255, 239);
}
body .invotra-dashboard-table .block-system .pane-invotra-lp-create .create-wrapper .create-link {
	background: rgb(88, 89, 91); border-color: rgb(88, 89, 91); color: rgb(255, 255, 239);
}
body.page-apps-ideas-manage .pane-ideas-admin-manage .pane-ideas-management-panel-pane-1 .view-ideas-management .feed-icon a {
	background: rgb(88, 89, 91); border-color: rgb(88, 89, 91); color: rgb(255, 255, 239);
}
body #views-form-invotra-restricted-sections-section-teams-section-teams .team-buttons-wrapper .add-team {
	background: rgb(88, 89, 91); border-color: rgb(88, 89, 91); color: rgb(255, 255, 239);
}
body #search-block-toolbar form .search-button::after {
	color: rgb(255, 255, 239);
}
body .pane-search-configurable .pane-content form .search-button::after {
	color: rgb(255, 255, 239);
}
body .pane-simple-search-bar .pane-content form .search-button::after {
	color: rgb(255, 255, 239);
}
body #search-block-toolbar .search-button {
	border-color: rgb(88, 89, 91); color: rgb(255, 255, 239); background-color: rgb(88, 89, 91);
}
body .pane-search-configurable .pane-content .search-button {
	border-color: rgb(88, 89, 91); color: rgb(255, 255, 239); background-color: rgb(88, 89, 91);
}
body .pane-simple-search-bar .pane-content .search-button {
	border-color: rgb(88, 89, 91); color: rgb(255, 255, 239); background-color: rgb(88, 89, 91);
}
body #block-invotra-search-and-do-search-lite .search-button {
	border-color: rgb(88, 89, 91); color: rgb(255, 255, 239); background-color: rgb(88, 89, 91);
}
body .invotra-facets-date-ranges-container ul li a.invotra-facets-date-range-selection.invotra-facets-date-range-active::before {
	color: rgb(88, 89, 91);
}
body .facetapi-facetapi-checkbox-links li .radio span.checked::before {
	color: rgb(88, 89, 91);
}
body .facetapi-facetapi-checkbox-remove li .radio span.checked::before {
	color: rgb(88, 89, 91);
}
body .facetapi-invotra-facets-radios li .radio span.checked::before {
	color: rgb(88, 89, 91);
}
body .form-type-radio .radio span.checked::before {
	color: rgb(88, 89, 91);
}
body .form-type-checkbox .radio span.checked::before {
	color: rgb(88, 89, 91);
}
body .form-type-bef-checkbox .radio span.checked::before {
	color: rgb(88, 89, 91);
}
body .form-type-checkbox .checker span.checked::before {
	color: rgb(88, 89, 91);
}
body .form-type-bef-checkbox .checker span.checked::before {
	color: rgb(88, 89, 91);
}
body .invotra-facets-date-ranges-container ul li a.invotra-facets-date-range-selection.invotra-facets-date-range-active::before {
	color: rgb(88, 89, 91);
}
body #invotra-profile-menu ul li ul li.expanded > a:hover::after {
	color: rgb(88, 89, 91);
}
body #invotra-profile-menu ul li ul li.expanded:hover > a::after {
	color: rgb(88, 89, 91);
}
body #invotra-profile-menu ul li ul li.expanded > a.active::after {
	color: rgb(88, 89, 91);
}
body #invotra-profile-menu ul li ul li.expanded > a.active-trail::after {
	color: rgb(88, 89, 91);
}
body .form-type-checkbox .checker.focus:hover span.checked::before {
	color: rgb(88, 89, 91);
}
body .form-type-bef-checkbox .checker.focus:hover span.checked::before {
	color: rgb(88, 89, 91);
}
body a#tabs-show-add_manual_page:hover::before {
	color: rgb(88, 89, 91);
}
body a#tabs-show:hover::before {
	color: rgb(88, 89, 91);
}
body #entity-actions span.flag-favourite-terms a:hover::before {
	color: rgb(88, 89, 91);
}
body .rate-widget-fivestar ul:hover a {
	color: rgb(88, 89, 91);
}
body .pane-actions .panel-pane.pane-flag-link span.flag-favourite-nodes a.flag-action:hover::before {
	color: rgb(88, 89, 91);
}
body .pane-invotra-actions .panel-pane.pane-flag-link span.flag-wrapper a.flag-action:hover::before {
	color: rgb(88, 89, 91);
}
body .pane-invotra-dashboard-timerange-filter > .pane-content ul.links li a.invotra-dashboard-timerange-selection.invotra-dashboard-timerange-active::before {
	color: rgb(88, 89, 91);
}
body .view-apps-ideas .views-row .views-field-field-final-evaluation .evaluation-mark::after {
	color: rgb(88, 89, 91);
}
body .best-comment .evaluation-title {
	color: rgb(88, 89, 91);
}
body .invotra-actions-links:hover .invotra-icon {
	color: rgb(88, 89, 91);
}
body .invotra-actions-links.open .invotra-icon {
	color: rgb(88, 89, 91);
}
body .invotra-ideas-app-contribution-container ul li a.invotra-ideas-app-contribution-selection.invotra-ideas-app-contribution-active::before {
	color: rgb(88, 89, 91);
}
body a.go-back-button:hover {
	background: rgb(128, 130, 133); border-color: rgb(128, 130, 133); color: rgb(255, 255, 239);
}
body #invotra-toolbar-login-form .form-submit:hover {
	background: rgb(128, 130, 133); border-color: rgb(128, 130, 133); color: rgb(255, 255, 239);
}
body .pane-user-create-link a:hover {
	background: rgb(128, 130, 133); border-color: rgb(128, 130, 133); color: rgb(255, 255, 239);
}
body.productivity-landing .block-system .create-wrapper a.create-link:hover {
	background: rgb(128, 130, 133); border-color: rgb(128, 130, 133); color: rgb(255, 255, 239);
}
body #user-profile .pane-flag-link.pane-user a:hover {
	background: rgb(128, 130, 133); border-color: rgb(128, 130, 133); color: rgb(255, 255, 239);
}
body .cke_reset_all .cke_dialog a.cke_dialog_ui_button_ok:hover {
	background: rgb(128, 130, 133); border-color: rgb(128, 130, 133); color: rgb(255, 255, 239);
}
body .media-browser-tab a.button.button-yes:hover {
	background: rgb(128, 130, 133); border-color: rgb(128, 130, 133); color: rgb(255, 255, 239);
}
body .ui-dialog.ui-widget button.ui-button:hover {
	background: rgb(128, 130, 133); border-color: rgb(128, 130, 133); color: rgb(255, 255, 239);
}
body #section-content a.add-term:hover {
	background: rgb(128, 130, 133); border-color: rgb(128, 130, 133); color: rgb(255, 255, 239);
}
body button.fake-ok:hover {
	background: rgb(128, 130, 133); border-color: rgb(128, 130, 133); color: rgb(255, 255, 239);
}
body a.button.fake-ok:hover {
	background: rgb(128, 130, 133); border-color: rgb(128, 130, 133); color: rgb(255, 255, 239);
}
body .pane-invotra-custom-ct-add-new-link ul.action-links a:hover {
	background: rgb(128, 130, 133); border-color: rgb(128, 130, 133); color: rgb(255, 255, 239);
}
body .pane-menu-overview ul.action-links a:hover {
	background: rgb(128, 130, 133); border-color: rgb(128, 130, 133); color: rgb(255, 255, 239);
}
body input.form-submit:hover {
	background: rgb(128, 130, 133); border-color: rgb(128, 130, 133); color: rgb(255, 255, 239);
}
body #keyword-fake-form button.refine-submit:hover {
	background: rgb(128, 130, 133); border-color: rgb(128, 130, 133); color: rgb(255, 255, 239);
}
body .pane-group-members-add-search .pane-fulltext-search-bar form.focus-hover::after {
	background: rgb(128, 130, 133); border-color: rgb(128, 130, 133); color: rgb(255, 255, 239);
}
body #productivity .productivity-create a:hover {
	background: rgb(128, 130, 133); border-color: rgb(128, 130, 133); color: rgb(255, 255, 239);
}
body.page-apps-groups .create-group a:hover {
	background: rgb(128, 130, 133); border-color: rgb(128, 130, 133); color: rgb(255, 255, 239);
}
body .request-access-block .request-access-button:hover {
	background: rgb(128, 130, 133); border-color: rgb(128, 130, 133); color: rgb(255, 255, 239);
}
body .pane-group-node-members-add a .add-members:hover {
	background: rgb(128, 130, 133); border-color: rgb(128, 130, 133); color: rgb(255, 255, 239);
}
body .pane-new-folder a.context:hover {
	background: rgb(128, 130, 133); border-color: rgb(128, 130, 133); color: rgb(255, 255, 239);
}
body .pane-messages-feed .views-field-invotra-subscriptions-message-body .group-user .profile-link a:hover {
	background: rgb(128, 130, 133); border-color: rgb(128, 130, 133); color: rgb(255, 255, 239);
}
body .pane-add-member a:hover {
	background: rgb(128, 130, 133); border-color: rgb(128, 130, 133); color: rgb(255, 255, 239);
}
body .pane-add-child-section a:hover {
	background: rgb(128, 130, 133); border-color: rgb(128, 130, 133); color: rgb(255, 255, 239);
}
body .pane-group-members-add-search .pane-members-fulltext-search-bar form .submit:hover {
	background: rgb(128, 130, 133); border-color: rgb(128, 130, 133); color: rgb(255, 255, 239);
}
body #views-exposed-form-groups-landing-panel-pane-1 .views-submit-button:hover::before {
	background: rgb(128, 130, 133); border-color: rgb(128, 130, 133); color: rgb(255, 255, 239);
}
body .pane-fulltext-search-bar form button.submit:hover {
	background: rgb(128, 130, 133); border-color: rgb(128, 130, 133); color: rgb(255, 255, 239);
}
body .pane-fulltext-search-bar form button.submit:focus {
	background: rgb(128, 130, 133); border-color: rgb(128, 130, 133); color: rgb(255, 255, 239);
}
body .productivity-landing .block-system .pane-invotra-lp-create .create-wrapper .create-link {
	background: rgb(128, 130, 133); border-color: rgb(128, 130, 133); color: rgb(255, 255, 239);
}
body .invotra-dashboard-table .block-system .pane-invotra-lp-create .create-wrapper .create-link:hover {
	background: rgb(128, 130, 133); border-color: rgb(128, 130, 133); color: rgb(255, 255, 239);
}
body.page-apps-ideas-manage .pane-ideas-admin-manage .pane-ideas-management-panel-pane-1 .view-ideas-management .feed-icon a:hover {
	background: rgb(128, 130, 133); border-color: rgb(128, 130, 133); color: rgb(255, 255, 239);
}
body #views-form-invotra-restricted-sections-section-teams-section-teams .team-buttons-wrapper .add-team:hover {
	background: rgb(128, 130, 133); border-color: rgb(128, 130, 133); color: rgb(255, 255, 239);
}
body #search-block-toolbar .search-button:hover {
	border-color: rgb(128, 130, 133); color: rgb(255, 255, 239); background-color: rgb(128, 130, 133);
}
body .pane-search-configurable .pane-content .search-button:hover {
	border-color: rgb(128, 130, 133); color: rgb(255, 255, 239); background-color: rgb(128, 130, 133);
}
body .pane-simple-search-bar .pane-content .search-button:hover {
	border-color: rgb(128, 130, 133); color: rgb(255, 255, 239); background-color: rgb(128, 130, 133);
}
body #block-invotra-search-and-do-search-lite .search-button:hover {
	border-color: rgb(128, 130, 133); color: rgb(255, 255, 239); background-color: rgb(128, 130, 133);
}
body #invotra-login-link:hover {
	border-color: rgb(128, 130, 133); color: rgb(255, 255, 239); background-color: rgb(128, 130, 133);
}
body #invotra-login-link:focus {
	border-color: rgb(128, 130, 133); color: rgb(255, 255, 239); background-color: rgb(128, 130, 133);
}
body #invotra-login-link:active {
	border-color: rgb(128, 130, 133); color: rgb(255, 255, 239); background-color: rgb(128, 130, 133);
}
body a.go-back-button:active {
	background: rgb(88, 89, 91); border-color: rgb(88, 89, 91); color: rgb(255, 255, 239);
}
body .cke_reset_all .cke_dialog a.cke_dialog_ui_button_ok:active {
	background: rgb(88, 89, 91); border-color: rgb(88, 89, 91); color: rgb(255, 255, 239);
}
body .media-browser-tab a.button.button-yes:active {
	background: rgb(88, 89, 91); border-color: rgb(88, 89, 91); color: rgb(255, 255, 239);
}
body .ui-dialog.ui-widget button.ui-button:active {
	background: rgb(88, 89, 91); border-color: rgb(88, 89, 91); color: rgb(255, 255, 239);
}
body #section-content a.add-term:active {
	background: rgb(88, 89, 91); border-color: rgb(88, 89, 91); color: rgb(255, 255, 239);
}
body button.fake-ok:active {
	background: rgb(88, 89, 91); border-color: rgb(88, 89, 91); color: rgb(255, 255, 239);
}
body a.button.fake-ok:active {
	background: rgb(88, 89, 91); border-color: rgb(88, 89, 91); color: rgb(255, 255, 239);
}
body .pane-invotra-custom-ct-add-new-link ul.action-links a:active {
	background: rgb(88, 89, 91); border-color: rgb(88, 89, 91); color: rgb(255, 255, 239);
}
body .pane-menu-overview ul.action-links a:active {
	background: rgb(88, 89, 91); border-color: rgb(88, 89, 91); color: rgb(255, 255, 239);
}
body input.form-submit.focus {
	background: rgb(88, 89, 91); border-color: rgb(88, 89, 91); color: rgb(255, 255, 239);
}
body a.button.submit.focus {
	background: rgb(88, 89, 91); border-color: rgb(88, 89, 91); color: rgb(255, 255, 239);
}
body input.form-submit:active {
	background: rgb(88, 89, 91); border-color: rgb(88, 89, 91); color: rgb(255, 255, 239);
}
body .pane-fulltext-search-bar form button.submit:active {
	background: rgb(88, 89, 91); border-color: rgb(88, 89, 91); color: rgb(255, 255, 239);
}
body #keyword-fake-form button.refine-submit:active {
	background: rgb(88, 89, 91); border-color: rgb(88, 89, 91); color: rgb(255, 255, 239);
}
body .pane-group-members-add-search .pane-fulltext-search-bar form.focus-active::after {
	background: rgb(88, 89, 91); border-color: rgb(88, 89, 91); color: rgb(255, 255, 239);
}
body #views-exposed-form-groups-landing-panel-pane-1 .views-submit-button:active {
	background: rgb(88, 89, 91); border-color: rgb(88, 89, 91); color: rgb(255, 255, 239);
}
body #views-exposed-form-groups-landing-panel-pane-1 .views-submit-button:hover:active::before {
	background: rgb(88, 89, 91); border-color: rgb(88, 89, 91); color: rgb(255, 255, 239);
}
body #user-profile .pane-flag-link.pane-user a:active {
	background: rgb(88, 89, 91); border-color: rgb(88, 89, 91); color: rgb(255, 255, 239);
}
body #invotra-toolbar-login-form .form-submit:active {
	background: rgb(88, 89, 91); border-color: rgb(88, 89, 91); color: rgb(255, 255, 239);
}
body .pane-user-create-link a:active {
	background: rgb(88, 89, 91); border-color: rgb(88, 89, 91); color: rgb(255, 255, 239);
}
body #productivity .productivity-create a:active {
	background: rgb(88, 89, 91); border-color: rgb(88, 89, 91); color: rgb(255, 255, 239);
}
body.page-apps-groups .create-group a:active {
	background: rgb(88, 89, 91); border-color: rgb(88, 89, 91); color: rgb(255, 255, 239);
}
body .request-access-block .request-access-button:active {
	background: rgb(88, 89, 91); border-color: rgb(88, 89, 91); color: rgb(255, 255, 239);
}
body .pane-group-node-members-add a .add-members:active {
	background: rgb(88, 89, 91); border-color: rgb(88, 89, 91); color: rgb(255, 255, 239);
}
body .pane-new-folder a.context:active {
	background: rgb(88, 89, 91); border-color: rgb(88, 89, 91); color: rgb(255, 255, 239);
}
body .pane-messages-feed .views-field-invotra-subscriptions-message-body .group-user .profile-link a:active {
	background: rgb(88, 89, 91); border-color: rgb(88, 89, 91); color: rgb(255, 255, 239);
}
body .pane-add-member a:active {
	background: rgb(88, 89, 91); border-color: rgb(88, 89, 91); color: rgb(255, 255, 239);
}
body .pane-group-members-add-search .pane-members-fulltext-search-bar form .submit:active {
	background: rgb(88, 89, 91); border-color: rgb(88, 89, 91); color: rgb(255, 255, 239);
}
body.productivity-landing .block-system .create-wrapper a.create-link:active {
	background: rgb(88, 89, 91); border-color: rgb(88, 89, 91); color: rgb(255, 255, 239);
}
body .productivity-landing .block-system .pane-invotra-lp-create .create-wrapper .create-link:active {
	background: rgb(88, 89, 91); border-color: rgb(88, 89, 91); color: rgb(255, 255, 239);
}
body.page-apps-ideas-manage .pane-ideas-admin-manage .pane-ideas-management-panel-pane-1 .view-ideas-management .feed-icon a:active {
	background: rgb(88, 89, 91); border-color: rgb(88, 89, 91); color: rgb(255, 255, 239);
}
body .invotra-dashboard-table .block-system .pane-invotra-lp-create .create-wrapper .create-link:active {
	background: rgb(88, 89, 91); border-color: rgb(88, 89, 91); color: rgb(255, 255, 239);
}
body #search-block-toolbar .search-button:active {
	border-color: rgb(88, 89, 91); color: rgb(255, 255, 239); background-color: rgb(88, 89, 91);
}
body .pane-search-configurable .pane-content .search-button:active {
	border-color: rgb(88, 89, 91); color: rgb(255, 255, 239); background-color: rgb(88, 89, 91);
}
body .pane-simple-search-bar .pane-content .search-button:active {
	border-color: rgb(88, 89, 91); color: rgb(255, 255, 239); background-color: rgb(88, 89, 91);
}
body #block-invotra-search-and-do-search-lite .search-button:active {
	border-color: rgb(88, 89, 91); color: rgb(255, 255, 239); background-color: rgb(88, 89, 91);
}
body .cke_reset_all .cke_dialog a.cke_dialog_ui_button_cancel {
	background: rgb(242, 107, 94); border-color: rgb(243, 107, 94); color: rgb(255, 254, 255);
}
body #preview #preview-button3-view {
	background: rgb(242, 107, 94); border-color: rgb(243, 107, 94); color: rgb(255, 254, 255);
}
body input#edit-logo-remove-button {
	background: rgb(242, 107, 94); border-color: rgb(243, 107, 94); color: rgb(255, 254, 255);
}
body input.form-submit.remove {
	background: rgb(242, 107, 94); border-color: rgb(243, 107, 94); color: rgb(255, 254, 255);
}
body .zone-content a.delete-taxonomy-link {
	background: rgb(242, 107, 94); border-color: rgb(243, 107, 94); color: rgb(255, 254, 255);
}
body input#edit-delete {
	background: rgb(242, 107, 94); border-color: rgb(243, 107, 94); color: rgb(255, 254, 255);
}
body.page-comment-reports .pane-review-reports-review-comment .view-review-reports a.remove {
	background: rgb(242, 107, 94); border-color: rgb(243, 107, 94); color: rgb(255, 254, 255);
}
body.page-node-revisions #edit-delete-revisions {
	background: rgb(242, 107, 94); border-color: rgb(243, 107, 94); color: rgb(255, 254, 255);
}
body.page-node-revisions #edit-delete-revisions {
	background: rgb(242, 107, 94); border-color: rgb(243, 107, 94); color: rgb(255, 254, 255);
}
body input.form-submit.webform-conditional-action-remove {
	background: rgb(242, 107, 94); border-color: rgb(243, 107, 94); color: rgb(255, 254, 255);
}
body input.form-submit.webform-conditional-rule-remove {
	background: rgb(242, 107, 94); border-color: rgb(243, 107, 94); color: rgb(255, 254, 255);
}
body .cke_reset_all .cke_dialog a.cke_dialog_ui_button_cancel:hover {
	background: rgb(244, 137, 125); border-color: rgb(245, 137, 125); color: rgb(255, 254, 255);
}
body #preview #preview-button3-view:hover {
	background: rgb(244, 137, 125); border-color: rgb(245, 137, 125); color: rgb(255, 254, 255);
}
body input#edit-logo-remove-button:hover {
	background: rgb(244, 137, 125); border-color: rgb(245, 137, 125); color: rgb(255, 254, 255);
}
body input.form-submit.remove:hover {
	background: rgb(244, 137, 125); border-color: rgb(245, 137, 125); color: rgb(255, 254, 255);
}
body .zone-content a.delete-taxonomy-link:hover {
	background: rgb(244, 137, 125); border-color: rgb(245, 137, 125); color: rgb(255, 254, 255);
}
body input#edit-delete:hover {
	background: rgb(244, 137, 125); border-color: rgb(245, 137, 125); color: rgb(255, 254, 255);
}
body.page-comment-reports .pane-review-reports-review-comment .view-review-reports a.remove:hover {
	background: rgb(244, 137, 125); border-color: rgb(245, 137, 125); color: rgb(255, 254, 255);
}
body.page-node-revisions #edit-delete-revisions:hover {
	background: rgb(244, 137, 125); border-color: rgb(245, 137, 125); color: rgb(255, 254, 255);
}
body.page-node-revisions #edit-delete-revisions:hover {
	background: rgb(244, 137, 125); border-color: rgb(245, 137, 125); color: rgb(255, 254, 255);
}
body input.form-submit.webform-conditional-action-remove:hover {
	background: rgb(244, 137, 125); border-color: rgb(245, 137, 125); color: rgb(255, 254, 255);
}
body input.form-submit.webform-conditional-rule-remove:hover {
	background: rgb(244, 137, 125); border-color: rgb(245, 137, 125); color: rgb(255, 254, 255);
}
body .cke_reset_all .cke_dialog a.cke_dialog_ui_button_cancel:active {
	background: rgb(203, 96, 85); border-color: rgb(204, 96, 85); color: rgb(255, 254, 255);
}
body #preview #preview-button3-view:active {
	background: rgb(203, 96, 85); border-color: rgb(204, 96, 85); color: rgb(255, 254, 255);
}
body input#edit-logo-remove-button:active {
	background: rgb(203, 96, 85); border-color: rgb(204, 96, 85); color: rgb(255, 254, 255);
}
body input.form-submit.remove:active {
	background: rgb(203, 96, 85); border-color: rgb(204, 96, 85); color: rgb(255, 254, 255);
}
body .zone-content a.delete-taxonomy-link:active {
	background: rgb(203, 96, 85); border-color: rgb(204, 96, 85); color: rgb(255, 254, 255);
}
body.page-comment-reports .pane-review-reports-review-comment .view-review-reports a.remove:active {
	background: rgb(203, 96, 85); border-color: rgb(204, 96, 85); color: rgb(255, 254, 255);
}
body input#edit-delete:active {
	background: rgb(203, 96, 85); border-color: rgb(204, 96, 85); color: rgb(255, 254, 255);
}
body.page-node-revisions #edit-delete-revisions:active {
	background: rgb(203, 96, 85); border-color: rgb(204, 96, 85); color: rgb(255, 254, 255);
}
body input.form-submit.webform-conditional-action-remove:active {
	background: rgb(203, 96, 85); border-color: rgb(204, 96, 85); color: rgb(255, 254, 255);
}
body input.form-submit.webform-conditional-rule-remove:active {
	background: rgb(203, 96, 85); border-color: rgb(204, 96, 85); color: rgb(255, 254, 255);
}
body #invotra-profile-toolbar .profile-menu-logout a.log-out {
	border-color: rgb(204, 204, 204); color: rgb(51, 51, 50); background-color: rgb(255, 255, 255);
}
body .media-widget a.button {
	border-color: rgb(204, 204, 204); color: rgb(51, 51, 50); background-color: rgb(255, 255, 255);
}
body .form-media a.button.browse {
	border-color: rgb(204, 204, 204); color: rgb(51, 51, 50); background-color: rgb(255, 255, 255);
}
body input#preview-button1-view {
	border-color: rgb(204, 204, 204); color: rgb(51, 51, 50); background-color: rgb(255, 255, 255);
}
body input#edit-fontsize-selectors-add-selector {
	border-color: rgb(204, 204, 204); color: rgb(51, 51, 50); background-color: rgb(255, 255, 255);
}
body input#edit-sync {
	border-color: rgb(204, 204, 204); color: rgb(51, 51, 50); background-color: rgb(255, 255, 255);
}
body input#edit-preview {
	border-color: rgb(204, 204, 204); color: rgb(51, 51, 50); background-color: rgb(255, 255, 255);
}
body input[value='Preview'] {
	border-color: rgb(204, 204, 204); color: rgb(51, 51, 50); background-color: rgb(255, 255, 255);
}
body input#edit-next {
	border-color: rgb(204, 204, 204); color: rgb(51, 51, 50); background-color: rgb(255, 255, 255);
}
body input#edit-apply {
	border-color: rgb(204, 204, 204); color: rgb(51, 51, 50); background-color: rgb(255, 255, 255);
}
body input.form-submit.field-add-more-submit {
	border-color: rgb(204, 204, 204); color: rgb(51, 51, 50); background-color: rgb(255, 255, 255);
}
body .pane-node-field-list-collection input#edit-add {
	border-color: rgb(204, 204, 204); color: rgb(51, 51, 50); background-color: rgb(255, 255, 255);
}
body ul.action-links a {
	border-color: rgb(204, 204, 204); color: rgb(51, 51, 50); background-color: rgb(255, 255, 255);
}
body .pane-forum-topic-list .forum-add-forum a {
	border-color: rgb(204, 204, 204); color: rgb(51, 51, 50); background-color: rgb(255, 255, 255);
}
body .input-standard-button {
	border-color: rgb(204, 204, 204); color: rgb(51, 51, 50); background-color: rgb(255, 255, 255);
}
body .filters-standard-button {
	border-color: rgb(204, 204, 204); color: rgb(51, 51, 50); background-color: rgb(255, 255, 255);
}
body .view-apps-ideas .view-empty a {
	border-color: rgb(204, 204, 204); color: rgb(51, 51, 50); background-color: rgb(255, 255, 255);
}
body.page-comment-reports .pane-review-reports-review-comment .view-review-reports a.cancel {
	border-color: rgb(204, 204, 204); color: rgb(51, 51, 50); background-color: rgb(255, 255, 255);
}
body.page-node-reports .pane-review-reports-review-content .view-review-reports a.cancel {
	border-color: rgb(204, 204, 204); color: rgb(51, 51, 50); background-color: rgb(255, 255, 255);
}
body .field-name-field-subpage-reference table.field-multiple-table input.remove-button {
	border-color: rgb(204, 204, 204); color: rgb(51, 51, 50); background-color: rgb(255, 255, 255);
}
body.page-node-revisions .compare-revisions {
	border-color: rgb(204, 204, 204); color: rgb(51, 51, 50); background-color: rgb(255, 255, 255);
}
body #invotra-profile-toolbar .profile-menu-logout a.log-out:hover {
	border-color: rgb(151, 151, 151); color: rgb(51, 51, 50); background-color: rgb(242, 242, 242);
}
body .media-widget a.button:hover {
	border-color: rgb(151, 151, 151); color: rgb(51, 51, 50); background-color: rgb(242, 242, 242);
}
body .form-media a.button.browse:hover {
	border-color: rgb(151, 151, 151); color: rgb(51, 51, 50); background-color: rgb(242, 242, 242);
}
body input#preview-button1-view:hover {
	border-color: rgb(151, 151, 151); color: rgb(51, 51, 50); background-color: rgb(242, 242, 242);
}
body input#edit-fontsize-selectors-add-selector:hover {
	border-color: rgb(151, 151, 151); color: rgb(51, 51, 50); background-color: rgb(242, 242, 242);
}
body input#edit-sync:hover {
	border-color: rgb(151, 151, 151); color: rgb(51, 51, 50); background-color: rgb(242, 242, 242);
}
body input#edit-preview:hover {
	border-color: rgb(151, 151, 151); color: rgb(51, 51, 50); background-color: rgb(242, 242, 242);
}
body input[value='Preview']:hover {
	border-color: rgb(151, 151, 151); color: rgb(51, 51, 50); background-color: rgb(242, 242, 242);
}
body input#edit-next:hover {
	border-color: rgb(151, 151, 151); color: rgb(51, 51, 50); background-color: rgb(242, 242, 242);
}
body input#edit-apply:hover {
	border-color: rgb(151, 151, 151); color: rgb(51, 51, 50); background-color: rgb(242, 242, 242);
}
body input.form-submit.field-add-more-submit:hover {
	border-color: rgb(151, 151, 151); color: rgb(51, 51, 50); background-color: rgb(242, 242, 242);
}
body .pane-node-field-list-collection input#edit-add:hover {
	border-color: rgb(151, 151, 151); color: rgb(51, 51, 50); background-color: rgb(242, 242, 242);
}
body ul.action-links a:hover {
	border-color: rgb(151, 151, 151); color: rgb(51, 51, 50); background-color: rgb(242, 242, 242);
}
body .pane-forum-topic-list .forum-add-forum a:hover {
	border-color: rgb(151, 151, 151); color: rgb(51, 51, 50); background-color: rgb(242, 242, 242);
}
body .view-apps-ideas .view-empty a:hover {
	border-color: rgb(151, 151, 151); color: rgb(51, 51, 50); background-color: rgb(242, 242, 242);
}
body .input-standard-button:hover {
	border-color: rgb(151, 151, 151); color: rgb(51, 51, 50); background-color: rgb(242, 242, 242);
}
body .filters-standard-button:hover {
	border-color: rgb(151, 151, 151); color: rgb(51, 51, 50); background-color: rgb(242, 242, 242);
}
body.page-comment-reports .pane-review-reports-review-comment .view-review-reports a.cancel:hover {
	border-color: rgb(151, 151, 151); color: rgb(51, 51, 50); background-color: rgb(242, 242, 242);
}
body.page-node-reports .pane-review-reports-review-content .view-review-reports a.cancel:hover {
	border-color: rgb(151, 151, 151); color: rgb(51, 51, 50); background-color: rgb(242, 242, 242);
}
body .field-name-field-subpage-reference table.field-multiple-table .remove-button:hover {
	border-color: rgb(151, 151, 151); color: rgb(51, 51, 50); background-color: rgb(242, 242, 242);
}
body.page-node-revisions .compare-revisions:hover {
	border-color: rgb(151, 151, 151); color: rgb(51, 51, 50); background-color: rgb(242, 242, 242);
}
@media all and (max-width:960px)
{
body #invotra-profile-toolbar .profile-menu-logout a.log-out:hover {
	border-color: rgb(204, 204, 204); color: rgb(51, 51, 50); background-color: rgb(255, 255, 255);
}
body .media-widget a.button:hover {
	border-color: rgb(204, 204, 204); color: rgb(51, 51, 50); background-color: rgb(255, 255, 255);
}
body .form-media a.button.browse:hover {
	border-color: rgb(204, 204, 204); color: rgb(51, 51, 50); background-color: rgb(255, 255, 255);
}
body input#preview-button1-view:hover {
	border-color: rgb(204, 204, 204); color: rgb(51, 51, 50); background-color: rgb(255, 255, 255);
}
body input#edit-fontsize-selectors-add-selector:hover {
	border-color: rgb(204, 204, 204); color: rgb(51, 51, 50); background-color: rgb(255, 255, 255);
}
body input#edit-sync:hover {
	border-color: rgb(204, 204, 204); color: rgb(51, 51, 50); background-color: rgb(255, 255, 255);
}
body input#edit-preview:hover {
	border-color: rgb(204, 204, 204); color: rgb(51, 51, 50); background-color: rgb(255, 255, 255);
}
body input[value='Preview']:hover {
	border-color: rgb(204, 204, 204); color: rgb(51, 51, 50); background-color: rgb(255, 255, 255);
}
body input#edit-next:hover {
	border-color: rgb(204, 204, 204); color: rgb(51, 51, 50); background-color: rgb(255, 255, 255);
}
body input#edit-apply:hover {
	border-color: rgb(204, 204, 204); color: rgb(51, 51, 50); background-color: rgb(255, 255, 255);
}
body input.form-submit.field-add-more-submit:hover {
	border-color: rgb(204, 204, 204); color: rgb(51, 51, 50); background-color: rgb(255, 255, 255);
}
body .pane-node-field-list-collection input#edit-add:hover {
	border-color: rgb(204, 204, 204); color: rgb(51, 51, 50); background-color: rgb(255, 255, 255);
}
body ul.action-links a:hover {
	border-color: rgb(204, 204, 204); color: rgb(51, 51, 50); background-color: rgb(255, 255, 255);
}
body .pane-forum-topic-list .forum-add-forum a:hover {
	border-color: rgb(204, 204, 204); color: rgb(51, 51, 50); background-color: rgb(255, 255, 255);
}
body .view-apps-ideas .view-empty a:hover {
	border-color: rgb(204, 204, 204); color: rgb(51, 51, 50); background-color: rgb(255, 255, 255);
}
body .input-standard-button:hover {
	border-color: rgb(204, 204, 204); color: rgb(51, 51, 50); background-color: rgb(255, 255, 255);
}
body .filters-standard-button:hover {
	border-color: rgb(204, 204, 204); color: rgb(51, 51, 50); background-color: rgb(255, 255, 255);
}
body.page-comment-reports .pane-review-reports-review-comment .view-review-reports a.cancel:hover {
	border-color: rgb(204, 204, 204); color: rgb(51, 51, 50); background-color: rgb(255, 255, 255);
}
body.page-node-reports .pane-review-reports-review-content .view-review-reports a.cancel:hover {
	border-color: rgb(204, 204, 204); color: rgb(51, 51, 50); background-color: rgb(255, 255, 255);
}
body .field-name-field-subpage-reference table.field-multiple-table .remove-button:hover {
	border-color: rgb(204, 204, 204); color: rgb(51, 51, 50); background-color: rgb(255, 255, 255);
}
body.page-node-revisions .compare-revisions:hover {
	border-color: rgb(204, 204, 204); color: rgb(51, 51, 50); background-color: rgb(255, 255, 255);
}
}
body .media-widget a.button:active {
	border-color: rgb(88, 89, 91); color: rgb(51, 51, 50); box-shadow: 0px 0px 3px 0px #58595b; background-color: rgb(235, 235, 235); -moz-box-shadow: 0px 0px 3px 0px #58595b; -webkit-box-shadow: 0px 0px 3px 0px #58595b;
}
body input#preview-button1-view:active {
	border-color: rgb(88, 89, 91); color: rgb(51, 51, 50); box-shadow: 0px 0px 3px 0px #58595b; background-color: rgb(235, 235, 235); -moz-box-shadow: 0px 0px 3px 0px #58595b; -webkit-box-shadow: 0px 0px 3px 0px #58595b;
}
body input#edit-fontsize-selectors-add-selector:active {
	border-color: rgb(88, 89, 91); color: rgb(51, 51, 50); box-shadow: 0px 0px 3px 0px #58595b; background-color: rgb(235, 235, 235); -moz-box-shadow: 0px 0px 3px 0px #58595b; -webkit-box-shadow: 0px 0px 3px 0px #58595b;
}
body input#edit-sync:active {
	border-color: rgb(88, 89, 91); color: rgb(51, 51, 50); box-shadow: 0px 0px 3px 0px #58595b; background-color: rgb(235, 235, 235); -moz-box-shadow: 0px 0px 3px 0px #58595b; -webkit-box-shadow: 0px 0px 3px 0px #58595b;
}
body input#edit-preview:active {
	border-color: rgb(88, 89, 91); color: rgb(51, 51, 50); box-shadow: 0px 0px 3px 0px #58595b; background-color: rgb(235, 235, 235); -moz-box-shadow: 0px 0px 3px 0px #58595b; -webkit-box-shadow: 0px 0px 3px 0px #58595b;
}
body input[value='Preview']:active {
	border-color: rgb(88, 89, 91); color: rgb(51, 51, 50); box-shadow: 0px 0px 3px 0px #58595b; background-color: rgb(235, 235, 235); -moz-box-shadow: 0px 0px 3px 0px #58595b; -webkit-box-shadow: 0px 0px 3px 0px #58595b;
}
body input#edit-next:active {
	border-color: rgb(88, 89, 91); color: rgb(51, 51, 50); box-shadow: 0px 0px 3px 0px #58595b; background-color: rgb(235, 235, 235); -moz-box-shadow: 0px 0px 3px 0px #58595b; -webkit-box-shadow: 0px 0px 3px 0px #58595b;
}
body input#edit-apply:active {
	border-color: rgb(88, 89, 91); color: rgb(51, 51, 50); box-shadow: 0px 0px 3px 0px #58595b; background-color: rgb(235, 235, 235); -moz-box-shadow: 0px 0px 3px 0px #58595b; -webkit-box-shadow: 0px 0px 3px 0px #58595b;
}
body input.form-submit.field-add-more-submit:active {
	border-color: rgb(88, 89, 91); color: rgb(51, 51, 50); box-shadow: 0px 0px 3px 0px #58595b; background-color: rgb(235, 235, 235); -moz-box-shadow: 0px 0px 3px 0px #58595b; -webkit-box-shadow: 0px 0px 3px 0px #58595b;
}
body .pane-node-field-list-collection input#edit-add:active {
	border-color: rgb(88, 89, 91); color: rgb(51, 51, 50); box-shadow: 0px 0px 3px 0px #58595b; background-color: rgb(235, 235, 235); -moz-box-shadow: 0px 0px 3px 0px #58595b; -webkit-box-shadow: 0px 0px 3px 0px #58595b;
}
body ul.action-links a:active {
	border-color: rgb(88, 89, 91); color: rgb(51, 51, 50); box-shadow: 0px 0px 3px 0px #58595b; background-color: rgb(235, 235, 235); -moz-box-shadow: 0px 0px 3px 0px #58595b; -webkit-box-shadow: 0px 0px 3px 0px #58595b;
}
body .pane-forum-topic-list .forum-add-forum a:active {
	border-color: rgb(88, 89, 91); color: rgb(51, 51, 50); box-shadow: 0px 0px 3px 0px #58595b; background-color: rgb(235, 235, 235); -moz-box-shadow: 0px 0px 3px 0px #58595b; -webkit-box-shadow: 0px 0px 3px 0px #58595b;
}
body .input-standard-button:active {
	border-color: rgb(88, 89, 91); color: rgb(51, 51, 50); box-shadow: 0px 0px 3px 0px #58595b; background-color: rgb(235, 235, 235); -moz-box-shadow: 0px 0px 3px 0px #58595b; -webkit-box-shadow: 0px 0px 3px 0px #58595b;
}
body .filters-standard-button:active {
	border-color: rgb(88, 89, 91); color: rgb(51, 51, 50); box-shadow: 0px 0px 3px 0px #58595b; background-color: rgb(235, 235, 235); -moz-box-shadow: 0px 0px 3px 0px #58595b; -webkit-box-shadow: 0px 0px 3px 0px #58595b;
}
body .view-apps-ideas .view-empty a:active {
	border-color: rgb(88, 89, 91); color: rgb(51, 51, 50); box-shadow: 0px 0px 3px 0px #58595b; background-color: rgb(235, 235, 235); -moz-box-shadow: 0px 0px 3px 0px #58595b; -webkit-box-shadow: 0px 0px 3px 0px #58595b;
}
body.page-comment-reports .pane-review-reports-review-comment .view-review-reports a.cancel:active {
	border-color: rgb(88, 89, 91); color: rgb(51, 51, 50); box-shadow: 0px 0px 3px 0px #58595b; background-color: rgb(235, 235, 235); -moz-box-shadow: 0px 0px 3px 0px #58595b; -webkit-box-shadow: 0px 0px 3px 0px #58595b;
}
body.page-node-reports .pane-review-reports-review-content .view-review-reports a.cancel:active {
	border-color: rgb(88, 89, 91); color: rgb(51, 51, 50); box-shadow: 0px 0px 3px 0px #58595b; background-color: rgb(235, 235, 235); -moz-box-shadow: 0px 0px 3px 0px #58595b; -webkit-box-shadow: 0px 0px 3px 0px #58595b;
}
body .field-name-field-subpage-reference table.field-multiple-table input.remove-button:active {
	border-color: rgb(88, 89, 91); color: rgb(51, 51, 50); box-shadow: 0px 0px 3px 0px #58595b; background-color: rgb(235, 235, 235); -moz-box-shadow: 0px 0px 3px 0px #58595b; -webkit-box-shadow: 0px 0px 3px 0px #58595b;
}
body.page-node-revisions .compare-revisions:active {
	border-color: rgb(88, 89, 91); color: rgb(51, 51, 50); box-shadow: 0px 0px 3px 0px #58595b; background-color: rgb(235, 235, 235); -moz-box-shadow: 0px 0px 3px 0px #58595b; -webkit-box-shadow: 0px 0px 3px 0px #58595b;
}
body .general-styles-content .general-22 li .type {
	color: rgb(88, 89, 91);
}
body .general-styles .general-22 .views-field-type {
	color: rgb(88, 89, 91);
}
body .general-styles .general-22 .views-field-node-type {
	color: rgb(88, 89, 91);
}
body #invotra-team-chart li div.links a.expand::before {
	color: rgb(88, 89, 91);
}
body #invotra-team-chart li div.links a.collapse::before {
	color: rgb(88, 89, 91);
}
body #invotra-org-chart li div.links a.expand::before {
	color: rgb(88, 89, 91);
}
body #invotra-org-chart li div.links a.collapse::before {
	color: rgb(88, 89, 91);
}
body #invotra-team-chart li div.links a.expand:hover::before {
	color: rgb(128, 130, 133);
}
body #invotra-team-chart li div.links a.collapse:hover::before {
	color: rgb(128, 130, 133);
}
body #invotra-org-chart li div.links a.expand:hover::before {
	color: rgb(128, 130, 133);
}
body #invotra-org-chart li div.links a.collapse:hover::before {
	color: rgb(128, 130, 133);
}
body #invotra-team-chart li div.links a.expand:active::before {
	color: rgb(88, 89, 91);
}
body #invotra-team-chart li div.links a.collapse:active::before {
	color: rgb(88, 89, 91);
}
body #invotra-org-chart li div.links a.expand:active::before {
	color: rgb(88, 89, 91);
}
body #invotra-org-chart li div.links a.collapse:active::before {
	color: rgb(88, 89, 91);
}
body table tr th {
	border-color: rgb(88, 89, 91);
}
body table tr td {
	border-color: rgb(88, 89, 91);
}
body table tr:first-child td {
	border-color: rgb(88, 89, 91);
}
body table td:first-child {
	border-color: rgb(88, 89, 91);
}
body table tr:first-child th:first-child {
	border-color: rgb(88, 89, 91);
}
body table td {
	background-color: rgb(255, 255, 255);
}
body table tr.odd td {
	background-color: rgb(255, 255, 255);
}
body #taxonomy-overview-terms .body-sections .item-wrap.odd {
	background-color: rgb(255, 255, 255);
}
body table tr.even td {
	background-color: rgb(230, 231, 232);
}
body #taxonomy-overview-terms .body-sections .item-wrap.even {
	background-color: rgb(230, 231, 232);
}
body .invotra-dashboard-report-widget .invotra-dashboard-stats-background {
	background-color: rgb(88, 89, 91);
}
body .invotra-dashboard-report-widget {
	box-shadow: 0px -2px 0px #58595b;
}
body .invotra-dashboard-report-widget .invotra-dashboard-report-widget-header {
	border-top-color: rgb(88, 89, 91);
}
body .facetapi-invotra-messagewall-message-type-links li .facetapi-active {
	border-left-color: rgb(0, 114, 143);
}
body.productivity-landing ul.facetapi-facet-field-group-category li a.facetapi-active {
	border-left-color: rgb(0, 114, 143);
}
body.productivity-landing ul.facetapi-facet-type li a.facetapi-active {
	border-left-color: rgb(0, 114, 143);
}
body.productivity-landing ul.facetapi-facet-invotra-group-category li a.facetapi-active {
	border-left-color: rgb(0, 114, 143);
}
body #group-landing ul.facetapi-facet-created li a.facetapi-active {
	border-left-color: rgb(0, 114, 143);
}
body #group-landing ul.facetapi-facet-field-group-category li a.facetapi-active {
	border-left-color: rgb(0, 114, 143);
}
body .invotra-my-workspace-facet li .facetapi-active {
	border-left-color: rgb(0, 114, 143);
}
.facetapi-invotra-facets-category-links li .facetapi-active {
	border-left-color: rgb(0, 114, 143);
}
body.page-people-teams-find-people .pane-content .invotra-lp-refine-form {
	border-color: rgb(88, 89, 91);
}
body.page-people-teams-find-teams .pane-content .invotra-lp-refine-form {
	border-color: rgb(88, 89, 91);
}
body.page-locations-find-locations .pane-content .invotra-lp-refine-form {
	border-color: rgb(88, 89, 91);
}
body .panel-pane.pane-ilp-locations-title {
	border-color: rgb(88, 89, 91);
}
body .select2-container.select2-dropdown-open .select2-choice {
	background-color: rgb(88, 89, 91);
}
body .pane-group-advpoll .poll .poll-bar .bar .foreground {
	background-color: rgb(88, 89, 91);
}
body .views-field-node-poll .poll .poll-bar .bar .foreground {
	background-color: rgb(88, 89, 91);
}
body .pane-node-poll-view-results .poll .bar .foreground {
	background-color: rgb(88, 89, 91);
}
body .pane-invotra-poll .poll .bar .foreground {
	background-color: rgb(88, 89, 91);
}
body .folder-tree-wrap a.current-link {
	border-left-color: rgb(0, 114, 143);
}
body .ui-tabs.tabs-right .ui-tabs-nav li.ui-state-active a {
	border-left-color: rgb(0, 114, 143);
}
body .ui-tabs.tabs-left .ui-tabs-nav li.ui-state-active a {
	border-left-color: rgb(0, 114, 143);
}
body .nav-tab-style li a.active {
	border-left-color: rgb(0, 114, 143);
}
body .panels-section-column-categories .panels-categories-box .panels-modal-add-category.active {
	border-left-color: rgb(0, 114, 143);
}
body div.tabs ul.tabs li.active a {
	background: rgb(233, 232, 232); border-bottom-color: rgb(233, 232, 232); border-bottom-width: 1px; border-bottom-style: solid;
}
body .ui-tabs.tabs-top .ui-tabs-nav li.ui-state-active a {
	background: rgb(233, 232, 232); border-bottom-color: rgb(233, 232, 232); border-bottom-width: 1px; border-bottom-style: solid;
}
body.page-node- div.tabs ul.tabs.secondary li.active a {
	border-color: rgb(88, 89, 91);
}
body div.tabs ul.tabs.secondary li.active a {
	border-color: rgb(88, 89, 91);
}
body .invotra-my-workspace-facet li .facetapi-active i.fa {
	color: rgb(0, 114, 143);
}
body .invotra-my-workspace-facet li .facetapi-active [class^='icon-'] {
	color: rgb(0, 114, 143);
}
body .invotra-my-workspace-facet li .facetapi-active [class*=' icon-'] {
	color: rgb(0, 114, 143);
}
body .folder-tree-wrap a.current-link::after {
	color: rgb(0, 114, 143);
}
body .panels-section-column-categories .panels-categories-box .panels-modal-add-category.active::before {
	color: rgb(0, 114, 143);
}
body.productivity-landing .block-system .pane-invotra-apps-create .create-wrapper .create-link {
	border-color: rgb(88, 89, 91); color: rgb(255, 255, 239); background-color: rgb(88, 89, 91);
}
body.productivity-landing-old .block-system .pane-invotra-apps-create .create-wrapper .create-link {
	border-color: rgb(88, 89, 91); color: rgb(255, 255, 239); background-color: rgb(88, 89, 91);
}
body.productivity-landing .block-system .pane-invotra-apps-create .create-wrapper .create-link:hover {
	background: rgb(128, 130, 133); border-color: rgb(128, 130, 133); color: rgb(255, 255, 239);
}
body.productivity-landing-old .block-system .pane-invotra-apps-create .create-wrapper .create-link:hover {
	background: rgb(128, 130, 133); border-color: rgb(128, 130, 133); color: rgb(255, 255, 239);
}
body.productivity-landing .block-system .pane-invotra-apps-create .create-wrapper .create-link:active {
	background: rgb(88, 89, 91); border-color: rgb(88, 89, 91); color: rgb(255, 255, 239);
}
body.productivity-landing-old .block-system .pane-invotra-apps-create .create-wrapper .create-link:active {
	background: rgb(88, 89, 91); border-color: rgb(88, 89, 91); color: rgb(255, 255, 239);
}
body #toolbar-section {
	background: rgb(0, 114, 143);
}
body #invotra-profile-toolbar {
	background: rgb(0, 114, 143);
}
body #invotra-profile-menu ul li ul li.expanded:hover > a {
	border-color: rgb(88, 89, 91);
}
body #invotra-profile-menu ul li ul li.expanded > a.active {
	border-color: rgb(88, 89, 91);
}
body #invotra-profile-menu ul li ul li.expanded > a:hover {
	border-color: rgb(88, 89, 91);
}
body #invotra-profile-menu ul li ul li.expanded > a.active-trail {
	border-color: rgb(88, 89, 91);
}
body #invotra-profile-menu ul li ul {
	border-color: rgb(0, 114, 143);
}
body #invotra-profile-toolbar .profile-menu {
	border-color: rgb(0, 114, 143);
}
body #invotra-profile-menu > ul > li:hover > a {
	border-color: rgb(0, 114, 143);
}
body #invotra-profile-menu > ul > li > a:hover {
	border-color: rgb(0, 114, 143);
}
body #invotra-profile-menu > ul > li > a.open {
	border-color: rgb(0, 114, 143);
}
body #invotra-profile-menu > ul > li > a.active {
	border-color: rgb(0, 114, 143);
}
body #invotra-profile-menu > ul > li > a.active-trail {
	border-color: rgb(0, 114, 143);
}
body #invotra-profile-menu ul li ul {
	border-color: rgb(0, 114, 143);
}
body #invotra-profile-toolbar .profile-menu {
	border-color: rgb(0, 114, 143);
}
body #invotra-profile-menu > ul > li:hover > a {
	border-color: rgb(0, 114, 143);
}
body #invotra-profile-menu > ul > li > a:hover {
	border-color: rgb(0, 114, 143);
}
body #invotra-profile-menu > ul > li > a.open {
	border-color: rgb(0, 114, 143);
}
body #invotra-profile-menu > ul > li > a.active {
	border-color: rgb(0, 114, 143);
}
body #invotra-profile-menu > ul > li > a.active-trail {
	border-color: rgb(0, 114, 143);
}
body #invotra-profile-menu > ul > li > a {
	color: rgb(255, 255, 255);
}
body #toolbar-subscriptions .expanded .feeds-link::before {
	color: rgb(255, 255, 255);
}
body #toolbar-notifications .notifications-link::before {
	color: rgb(255, 255, 255);
}
body #invotra-profile-toolbar .profile-info .profile-info-name a {
	color: rgb(255, 255, 255);
}
body #mobile-bar #mobile-buttons #show-menu::before {
	color: rgb(0, 0, 0);
}
#mobile-bar #mobile-buttons .mobile#toolbar-notifications .notifications-link::before {
	color: rgb(0, 0, 0);
}
body #mobile-bar #mobile-buttons #show-search::before {
	color: rgb(0, 0, 0);
}
body #mobile-bar #mobile-buttons #show-profile-menu::before {
	color: rgb(0, 0, 0);
}
body div.uploader .action {
	background: rgb(255, 255, 255); color: rgb(51, 51, 50);
}
body .webform-progressbar .webform-progressbar-outer .webform-progressbar-wrapper .webform-progressbar-page.completed {
	background: rgb(88, 89, 91); border-color: rgb(88, 89, 91);
}
body .webform-progressbar .webform-progressbar-outer .webform-progressbar-wrapper .webform-progressbar-page.current {
	background: rgb(88, 89, 91); border-color: rgb(88, 89, 91);
}
body .pane-invotra-dashboard-timerange-filter > .pane-content ul.links li a.invotra-dashboard-timerange-selection::after {
	border-color: rgb(88, 89, 91);
}
body .best-comment article {
	border-color: rgb(88, 89, 91);
}
body .item-list .invotra-pager li a {
	color: rgb(51, 51, 50);
}
body .pane-invotra-actions .panel-pane.pane-flag-link span.flag-follow-node a.flag:hover::before {
	color: rgb(0, 114, 143);
}
body .pane-invotra-actions .panel-pane.pane-flag-link span.flag-wrapper a.flag.unflag-action .flag-icon::before {
	color: rgb(0, 114, 143);
}
body .pane-invotra-actions .rate-widget-thumbs_up .rate-thumbs-up-btn-up.user-voted::before {
	color: rgb(0, 114, 143);
}
body #entity-actions span.flag-favourite-nodes a.unflag-action .flag-icon::before {
	color: rgb(0, 114, 143);
}
body #entity-actions span.flag-favourite-terms a.unflag-action .flag-icon::before {
	color: rgb(0, 114, 143);
}
body .flag-wrapper.flag-favourite-comments a.unflag-action .flag-icon::before {
	color: rgb(0, 114, 143);
}
body .flag-wrapper.flag-favourite-terms a.unflag-action .flag-icon::before {
	color: rgb(0, 114, 143);
}
body .flag-wrapper.flag-favourite-nodes a.unflag-action .flag-icon::before {
	color: rgb(0, 114, 143);
}
body .flag-wrapper.flag-favourite-comments a.unflag-action .flag-icon:hover::before {
	color: rgb(0, 114, 143);
}
body .flag-wrapper.flag-favourite-terms a.unflag-action .flag-icon:hover::before {
	color: rgb(0, 114, 143);
}
body .flag-wrapper.flag-favourite-nodes a.unflag-action .flag-icon:hover::before {
	color: rgb(0, 114, 143);
}
body .comments-and-likes .like-flag-wrapper .like-widget a.voted .fa::before {
	color: rgb(0, 114, 143);
}
body .pane-group-home-panel-pane-1 .invotra-panes-comments-and-likes .like-flag-wrapper .like-widget a.voted .fa::before {
	color: rgb(0, 114, 143);
}
body .view-apps-ideas .views-row .views-field-comments-and-likes .like-flag-wrapper .like-widget a.voted .fa::before {
	color: rgb(0, 114, 143);
}
body .view-message-wall-messages .like-widget a.focus.voted .like-icon {
	color: rgb(0, 114, 143);
}
body .view-message-wall-messages .like-widget a.voted .like-icon {
	color: rgb(0, 114, 143);
}
body .pane-messagewall-like .like-widget a.focus.voted .like-icon {
	color: rgb(0, 114, 143);
}
body .pane-messagewall-like .like-widget a.voted .like-icon {
	color: rgb(0, 114, 143);
}
body .pane-invotra-comments-and-likes .like-widget a.focus.voted {
	color: rgb(0, 114, 143);
}
body .pane-invotra-comments-and-likes .like-widget a.voted {
	color: rgb(0, 114, 143);
}
body .pane-actions .rate-widget-thumbs_up .rate-thumbs-up-btn-up.user-voted::before {
	color: rgb(0, 114, 143);
}
body .pane-invotra-actions .rate-widget-thumbs_up .rate-thumbs-up-btn-up.user-voted::before {
	color: rgb(0, 114, 143);
}
body #mini-panel-actions .pane-content .rate-widget-fivestar .item-list a.rate-fivestar-btn-filled::before {
	color: rgb(0, 114, 143);
}
body .pane-invotra-actions .pane-content .rate-widget-fivestar .item-list a.rate-fivestar-btn-filled::before {
	color: rgb(0, 114, 143);
}
body .pane-invotra-actions .panel-pane.pane-lists .invotra-lists-link.unflag-action::before {
	color: rgb(0, 114, 143);
}
body .pane-invotra-actions .panel-pane.pane-lists.open-list .invotra-lists-link::before {
	color: rgb(0, 114, 143);
}
body .rate-widget .like-votes.liked .rate-button::before {
	color: rgb(0, 114, 143);
}
body .rate-widget .like-votes.liked:hover .rate-button::before {
	color: rgb(0, 114, 143);
}
body .comments-and-likes .like-flag-wrapper .like-widget a.voted .fa::before {
	color: rgb(0, 114, 143);
}
body .invotra-panes-comments-and-likes .like-flag-wrapper .like-widget a.voted .fa::before {
	color: rgb(0, 114, 143);
}
body .pane-group-search-panel-pane-1 .invotra-panes-comments-and-likes .like-flag-wrapper .like-widget a.voted .fa::before {
	color: rgb(0, 114, 143);
}
body .view-apps-ideas .views-row .views-field-comments-and-likes .like-flag-wrapper .like-widget a.voted .fa::before {
	color: rgb(0, 114, 143);
}
body.node-type-group-status .moscone-flipped-content-inner .pane-invotra-comments-and-likes .like-flag-wrapper .like-widget a.voted .fa::before {
	color: rgb(0, 114, 143);
}
body.node-type-advpoll .moscone-flipped-content-inner .pane-invotra-comments-and-likes .like-flag-wrapper .like-widget a.voted .fa::before {
	color: rgb(0, 114, 143);
}
body .comment .comment-content .like a.rate-button.user-voted::after {
	color: rgb(0, 114, 143);
}
body .rate-widget-fivestar .item-list a.rate-fivestar-btn-filled::before {
	color: rgb(0, 114, 143);
}
body .standard-button-small {
	background: rgb(255, 255, 255); border-color: rgb(204, 204, 204); color: rgb(51, 51, 50);
}
body .standard-button-small:hover {
	background: rgb(242, 242, 242); border-color: rgb(151, 151, 151);
}
body .standard-button-small:active {
	background: rgb(235, 235, 235); border-color: rgb(75, 186, 139);
}
body .pane-root-navigation ul li.active > a::after {
	background: rgb(0, 114, 143);
}
body .nav-style1 ul li.active > a::after {
	background: rgb(0, 114, 143);
}
body .nav-style2 ul li.active > a::after {
	background: rgb(0, 114, 143);
}
body .nav-style4 ul li.active > a::after {
	background: rgb(0, 114, 143);
}
body .pane-group-update-and-poll .ui-tabs.tabs-top .ui-tabs-nav .ui-state-active {
	border-color: rgb(0, 114, 143) !important;
}
