.ctools-locked {
	padding: 1em; border: 1px solid red; border-image: none; color: red;
}
.ctools-owns-lock {
	background: 0px 0px rgb(255, 255, 221); padding: 1em; border: 1px solid rgb(240, 192, 32); border-image: none;
}
a.ctools-ajaxing {
	background: url("../images/status-active.gif") no-repeat right; padding-right: 18px !important;
}
input.ctools-ajaxing {
	background: url("../images/status-active.gif") no-repeat right; padding-right: 18px !important;
}
button.ctools-ajaxing {
	background: url("../images/status-active.gif") no-repeat right; padding-right: 18px !important;
}
select.ctools-ajaxing {
	background: url("../images/status-active.gif") no-repeat right; padding-right: 18px !important;
}
div.ctools-ajaxing {
	background: url("../images/status-active.gif") no-repeat center; width: 18px; float: left;
}
