#ui-datepicker-div {
	background: rgb(238, 238, 238); font-family: Verdana, sans-serif; font-size: 100%; border-right-color: rgb(102, 102, 102); border-bottom-color: rgb(102, 102, 102); border-right-width: 2px; border-bottom-width: 2px; border-right-style: solid; border-bottom-style: solid; z-index: 9999;
}
.ui-datepicker {
	padding: 0.2em 0.2em 0px; width: auto;
}
.ui-datepicker .ui-datepicker-header {
	padding: 0.2em 0px; position: relative;
}
.ui-datepicker .ui-datepicker-prev {
	top: 2px; width: 1.8em; height: 1.8em; position: absolute;
}
.ui-datepicker .ui-datepicker-next {
	top: 2px; width: 1.8em; height: 1.8em; position: absolute;
}
.ui-datepicker .ui-datepicker-prev-hover {
	top: 1px;
}
.ui-datepicker .ui-datepicker-next-hover {
	top: 1px;
}
.ui-datepicker .ui-datepicker-prev {
	left: 2px;
}
.ui-datepicker .ui-datepicker-next {
	right: 2px;
}
.ui-datepicker .ui-datepicker-prev-hover {
	left: 1px;
}
.ui-datepicker .ui-datepicker-next-hover {
	right: 1px;
}
.ui-datepicker .ui-datepicker-prev span {
	left: 50%; top: 50%; margin-top: -8px; margin-left: -8px; display: block; position: absolute;
}
.ui-datepicker .ui-datepicker-next span {
	left: 50%; top: 50%; margin-top: -8px; margin-left: -8px; display: block; position: absolute;
}
.ui-datepicker .ui-datepicker-title {
	margin: 0px 2.3em; text-align: center; line-height: 1.8em;
}
.ui-datepicker .ui-datepicker-title select {
	margin: 1px 0px; font-size: 1em; float: left;
}
.ui-datepicker select.ui-datepicker-month-year {
	width: 100%;
}
.ui-datepicker select.ui-datepicker-month {
	width: 49%;
}
.ui-datepicker select.ui-datepicker-year {
	width: 49%;
}
.ui-datepicker .ui-datepicker-title select.ui-datepicker-year {
	float: right;
}
.ui-datepicker table {
	margin: 0px 0px 0.4em; width: 100%; font-size: 0.9em; border-collapse: collapse;
}
.ui-datepicker th {
	padding: 0.7em 0.3em; border: 0px currentColor; border-image: none; text-align: center; font-weight: bold;
}
.ui-datepicker td {
	padding: 1px; border: 0px currentColor; border-image: none;
}
.ui-datepicker td span {
	padding: 0.2em; text-align: right; text-decoration: none; display: block;
}
.ui-datepicker td a {
	padding: 0.2em; text-align: right; text-decoration: none; display: block;
}
.ui-datepicker .ui-datepicker-buttonpane {
	margin: 0.7em 0px 0px; padding: 0px 0.2em; border-right-color: currentColor; border-bottom-color: currentColor; border-left-color: currentColor; border-right-width: 0px; border-bottom-width: 0px; border-left-width: 0px; border-right-style: none; border-bottom-style: none; border-left-style: none; background-image: none;
}
.ui-datepicker .ui-datepicker-buttonpane button {
	margin: 0.5em 0.2em 0.4em; padding: 0.2em 0.6em 0.3em; width: auto; overflow: visible; float: right; cursor: pointer;
}
.ui-datepicker .ui-datepicker-buttonpane button.ui-datepicker-current {
	float: left;
}
.ui-datepicker.ui-datepicker-multi {
	width: auto;
}
.ui-datepicker-multi .ui-datepicker-group {
	float: left;
}
.ui-datepicker-multi .ui-datepicker-group table {
	margin: 0px auto 0.4em; width: 95%;
}
.ui-datepicker-multi-2 .ui-datepicker-group {
	width: 50%;
}
.ui-datepicker-multi-3 .ui-datepicker-group {
	width: 33.3%;
}
.ui-datepicker-multi-4 .ui-datepicker-group {
	width: 25%;
}
.ui-datepicker-multi .ui-datepicker-group-last .ui-datepicker-header {
	border-left-width: 0px;
}
.ui-datepicker-multi .ui-datepicker-group-middle .ui-datepicker-header {
	border-left-width: 0px;
}
.ui-datepicker-multi .ui-datepicker-buttonpane {
	clear: left;
}
.ui-datepicker-row-break {
	width: 100%; clear: both;
}
.ui-datepicker-rtl {
	direction: rtl;
}
.ui-datepicker-rtl .ui-datepicker-prev {
	left: auto; right: 2px;
}
.ui-datepicker-rtl .ui-datepicker-next {
	left: 2px; right: auto;
}
.ui-datepicker-rtl .ui-datepicker-prev:hover {
	left: auto; right: 1px;
}
.ui-datepicker-rtl .ui-datepicker-next:hover {
	left: 1px; right: auto;
}
.ui-datepicker-rtl .ui-datepicker-buttonpane {
	clear: right;
}
.ui-datepicker-rtl .ui-datepicker-buttonpane button {
	float: left;
}
.ui-datepicker-rtl .ui-datepicker-buttonpane button.ui-datepicker-current {
	float: right;
}
.ui-datepicker-rtl .ui-datepicker-group {
	float: right;
}
.ui-datepicker-rtl .ui-datepicker-group-last .ui-datepicker-header {
	border-right-width: 0px; border-left-width: 1px;
}
.ui-datepicker-rtl .ui-datepicker-group-middle .ui-datepicker-header {
	border-right-width: 0px; border-left-width: 1px;
}
