.container-inline-date {
	clear: both;
}
.container-inline-date .form-item {
	margin: 0px; padding: 0px; float: none;
}
.container-inline-date > .form-item {
	margin-right: 0.5em; vertical-align: top; display: inline-block;
}
fieldset.date-combo .container-inline-date > .form-item {
	margin-bottom: 10px;
}
.container-inline-date .form-item .form-item {
	float: left;
}
.container-inline-date .form-item {
	width: auto;
}
.container-inline-date .form-item input {
	width: auto;
}
.container-inline-date .description {
	clear: both;
}
.container-inline-date .form-item input {
	margin-right: 5px;
}
.container-inline-date .form-item select {
	margin-right: 5px;
}
.container-inline-date .form-item option {
	margin-right: 5px;
}
.container-inline-date .date-spacer {
	margin-left: -5px;
}
.views-right-60 .container-inline-date div {
	margin: 0px; padding: 0px;
}
.container-inline-date .date-timezone .form-item {
	width: auto; clear: both; float: none;
}
.container-inline-date .date-padding {
	float: left;
}
fieldset.date-combo .container-inline-date .date-padding {
	padding: 10px;
}
.views-exposed-form .container-inline-date .date-padding {
	padding: 0px;
}
#calendar_div {
	margin: 0px; padding: 0px;
}
#calendar_div td {
	margin: 0px; padding: 0px;
}
#calendar_div th {
	margin: 0px; padding: 0px;
}
#calendar_div {
	margin: 0px; width: 185px; border-collapse: separate;
}
.calendar_control {
	margin: 0px; width: 185px; border-collapse: separate;
}
.calendar_links {
	margin: 0px; width: 185px; border-collapse: separate;
}
.calendar_header {
	margin: 0px; width: 185px; border-collapse: separate;
}
.calendar {
	margin: 0px; width: 185px; border-collapse: separate;
}
.calendar td {
	padding: 0px;
}
span.date-display-single {
	
}
span.date-display-start {
	
}
span.date-display-end {
	
}
.date-prefix-inline {
	display: inline-block;
}
.date-clear {
	clear: both; float: none; display: block;
}
.date-no-float {
	width: 98%; clear: both; float: none;
}
.date-float {
	width: auto; clear: none; float: left;
}
.date-float .form-type-checkbox {
	padding-right: 1em;
}
.form-type-date-select [class*=hour].form-type-select {
	margin-left: 0.75em;
}
.date-container .date-format-delete {
	margin-top: 1.8em; margin-left: 1.5em; float: left;
}
.date-container .date-format-name {
	float: left;
}
.date-container .date-format-type {
	padding-left: 10px; float: left;
}
.date-container .select-container {
	clear: left; float: left;
}
div.date-calendar-day {
	background: rgb(243, 243, 243); border-width: 1px; border-style: solid; border-color: rgb(238, 238, 238) rgb(187, 187, 187) rgb(187, 187, 187) rgb(238, 238, 238); margin: 6px 10px 0px 0px; width: 40px; text-align: center; color: rgb(153, 153, 153); line-height: 1; float: left;
}
div.date-calendar-day span {
	text-align: center; display: block;
}
div.date-calendar-day span.month {
	padding: 2px; color: white; text-transform: uppercase; font-size: 0.9em; background-color: rgb(181, 190, 190);
}
div.date-calendar-day span.day {
	font-size: 2em; font-weight: bold;
}
div.date-calendar-day span.year {
	padding: 2px; font-size: 0.9em;
}
.date-form-element-content-multiline {
	padding: 10px; border: 1px solid rgb(204, 204, 204); border-image: none;
}
.form-item.form-item-instance-widget-settings-input-format-custom {
	margin-left: 1.3em;
}
.form-item.form-item-field-settings-enddate-required {
	margin-left: 1.3em;
}
#edit-field-settings-granularity .form-type-checkbox {
	margin-right: 0.6em;
}
.date-year-range-select {
	margin-right: 1em;
}
