.pane-search-multi-index-panel-pane-1 .view-header {
	font-size: 14px;
}
.search-results .facets .pane-custom h2 {
	font-size: 14px;
}
.page-solr-search .facets .pane-custom h2 {
	font-size: 14px;
}
