div.panel-pane div.admin-links {
	font-size: xx-small; margin-right: 1em;
}
div.panel-pane div.admin-links li a {
	color: rgb(204, 204, 204);
}
div.panel-pane div.admin-links li {
	background: white; padding-bottom: 2px; z-index: 201;
}
div.panel-pane div.admin-links:hover a {
	color: rgb(0, 0, 0);
}
div.panel-pane div.admin-links-hover a {
	color: rgb(0, 0, 0);
}
div.panel-pane div.admin-links a::before {
	content: "[";
}
div.panel-pane div.admin-links a::after {
	content: "]";
}
div.panel-pane div.panel-hide {
	display: none;
}
div.panel-pane div.panel-hide-hover {
	margin-top: -1.5em; display: block; position: absolute; z-index: 200;
}
div.panel-pane:hover div.panel-hide {
	margin-top: -1.5em; display: block; position: absolute; z-index: 200;
}
div.panel-pane div.feed a {
	float: right;
}
