fieldset {
	padding: 0.5em; margin-bottom: 1em;
}
form {
	margin: 0px; padding: 0px;
}
hr {
	border: 1px solid gray; border-image: none; height: 1px;
}
img {
	border: 0px currentColor; border-image: none;
}
table {
	border-collapse: collapse;
}
th {
	text-align: left; padding-right: 1em; border-bottom-color: rgb(204, 204, 204); border-bottom-width: 3px; border-bottom-style: solid;
}
tbody {
	border-top-color: rgb(204, 204, 204); border-top-width: 1px; border-top-style: solid;
}
tr.even {
	padding: 0.1em 0.6em; border-bottom-color: rgb(204, 204, 204); border-bottom-width: 1px; border-bottom-style: solid; background-color: rgb(238, 238, 238);
}
tr.odd {
	padding: 0.1em 0.6em; border-bottom-color: rgb(204, 204, 204); border-bottom-width: 1px; border-bottom-style: solid; background-color: rgb(238, 238, 238);
}
th.active img {
	display: inline;
}
td.active {
	background-color: rgb(221, 221, 221);
}
.item-list .title {
	font-weight: bold;
}
.item-list ul {
	margin: 0px 0px 0.75em; padding: 0px;
}
.item-list ul li {
	margin: 0px 0px 0.25em 1.5em; padding: 0px;
}
.form-item {
	margin-top: 1em; margin-bottom: 1em;
}
.form-actions {
	margin-top: 1em; margin-bottom: 1em;
}
tr.odd .form-item {
	margin-top: 0px; margin-bottom: 0px; white-space: nowrap;
}
tr.even .form-item {
	margin-top: 0px; margin-bottom: 0px; white-space: nowrap;
}
.form-item .description {
	font-size: 0.85em;
}
label {
	font-weight: bold; display: block;
}
label.option {
	font-weight: normal; display: inline;
}
.form-checkboxes .form-item {
	margin-top: 0.4em; margin-bottom: 0.4em;
}
.form-radios .form-item {
	margin-top: 0.4em; margin-bottom: 0.4em;
}
.form-type-radio .description {
	margin-left: 2.4em;
}
.form-type-checkbox .description {
	margin-left: 2.4em;
}
input.form-checkbox {
	vertical-align: middle;
}
input.form-radio {
	vertical-align: middle;
}
.marker {
	color: rgb(255, 0, 0);
}
.form-required {
	color: rgb(255, 0, 0);
}
.form-item input.error {
	border: 2px solid red; border-image: none;
}
.form-item textarea.error {
	border: 2px solid red; border-image: none;
}
.form-item select.error {
	border: 2px solid red; border-image: none;
}
.container-inline .form-actions {
	margin-top: 0px; margin-bottom: 0px;
}
.container-inline.form-actions {
	margin-top: 0px; margin-bottom: 0px;
}
.more-link {
	text-align: right;
}
.more-help-link {
	text-align: right;
}
.more-help-link a {
	background: url("../../misc/help.png") no-repeat 0px 50%; padding: 1px 0px 1px 20px;
}
.item-list .pager {
	text-align: center; clear: both;
}
.item-list .pager li {
	padding: 0.5em; display: inline; list-style-type: none; background-image: none;
}
.pager-current {
	font-weight: bold;
}
#autocomplete li.selected {
	background: rgb(0, 114, 185); color: rgb(255, 255, 255);
}
html.js fieldset.collapsible .fieldset-legend {
	background: url("../../misc/menu-expanded.png") no-repeat 5px 65%; padding-left: 15px;
}
html.js fieldset.collapsed .fieldset-legend {
	background-position: 5px 50%; background-image: url("../../misc/menu-collapsed.png");
}
.fieldset-legend span.summary {
	color: rgb(153, 153, 153); font-size: 0.9em; margin-left: 0.5em;
}
tr.drag {
	background-color: rgb(255, 255, 240);
}
tr.drag-previous {
	background-color: rgb(255, 255, 221);
}
.tabledrag-toggle-weight {
	font-size: 0.9em;
}
body div.tabledrag-changed-warning {
	margin-bottom: 0.5em;
}
tr.selected td {
	background: rgb(255, 255, 204);
}
td.checkbox {
	text-align: center;
}
th.checkbox {
	text-align: center;
}
.progress {
	font-weight: bold;
}
.progress .bar {
	background: rgb(204, 204, 204); border-color: rgb(102, 102, 102); margin: 0px 0.2em; border-radius: 3px; -moz-border-radius: 3px; -webkit-border-radius: 3px;
}
.progress .filled {
	background: url("../../misc/progress.gif") rgb(0, 114, 185);
}
