#permissions td.module {
	font-weight: bold;
}
#permissions td.permission {
	padding-left: 1.5em;
}
#permissions tr.odd .form-item {
	white-space: normal;
}
#permissions tr.even .form-item {
	white-space: normal;
}
#user-admin-settings fieldset .fieldset-description {
	padding-bottom: 0.5em; font-size: 0.85em;
}
#user-admin-roles td.edit-name {
	clear: both;
}
#user-admin-roles .form-item-name {
	margin-right: 1em; float: left;
}
.password-strength {
	width: 17em; margin-top: 1.4em; float: right;
}
.password-strength-title {
	display: inline;
}
.password-strength-text {
	font-weight: bold; float: right;
}
.password-indicator {
	width: 100%; height: 0.3em; background-color: rgb(196, 196, 196);
}
.password-indicator div {
	width: 0%; height: 100%; background-color: rgb(71, 201, 101);
}
input.password-confirm {
	width: 16em; margin-bottom: 0.4em;
}
input.password-field {
	width: 16em; margin-bottom: 0.4em;
}
div.password-confirm {
	width: 17em; margin-top: 1.5em; float: right; visibility: hidden;
}
div.form-item div.password-suggestions {
	margin: 0.7em 0px; padding: 0.2em 0.5em; border: 1px solid rgb(180, 180, 180); border-image: none; width: 38.5em;
}
div.password-suggestions ul {
	margin-bottom: 0px;
}
.confirm-parent {
	margin: 0px; width: 36.3em; clear: left;
}
.password-parent {
	margin: 0px; width: 36.3em; clear: left;
}
.profile {
	margin: 1em 0px; clear: both;
}
.profile .user-picture {
	margin: 0px 1em 1em 0px; float: right;
}
.profile h3 {
	border-bottom-color: rgb(204, 204, 204); border-bottom-width: 1px; border-bottom-style: solid;
}
.profile dl {
	margin: 0px 0px 1.5em;
}
.profile dt {
	margin: 0px 0px 0.2em; font-weight: bold;
}
.profile dd {
	margin: 0px 0px 1em;
}
