{% set page = "claim" %}
{% set claim = "true" %}
{% set title = "Case details" %}

{% extends folder + "/claim/_CSIBASE.html" %}
{% if not number or (number == 'undefined') %}
{% set number = 1 %}
{% endif %}
{% block csi %}
<br>




<form action="javascript:history.go(-1)" method="post" novalidate>


  <div class="govuk-width-container">


    <main class="govuk-main-wrapper">

      <div class="govuk-grid-row">
        <div class="govuk-grid-column-two-thirds">






<div class="govuk-character-count" data-module="govuk-character-count" data-maxlength="80">
  <div class="govuk-form-group">
    <h2 class="govuk-label-wrapper"><label class="govuk-label govuk-label--l" for="job-detail-note1">
Telephone call made on <script>
  // Get the current date and time
  var pastDate = new Date(now);
  pastDate.setDate(now.getDate() - 7);

  var formattedDate = pastDate.toLocaleDateString('en-GB', {
  day: 'numeric',
  month: 'long',
  year: 'numeric'
  });

  var formattedTime = pastDate.toLocaleTimeString('en-GB', {
  hour: 'numeric',
  minute: 'numeric',
  hour12: true
  });

  document.write(formattedDate);


     </script> at 11:00 am


    </label>
    </h2>


<p>By John Goldsmith to {% if phase == "thomas" %}Thomas King{% endif %}{% if phase == "sonya"  %}Sonya Corkery{% endif %}{% if not phase %}Dereck Smith{% endif %}</p>
<p>Sonya Corkery answered the telephone.</p>
<p>Verified Sonya Corkery identity.</p>

<p>About: </p>
<ul class="govuk-list govuk-list--bullet">

    <li>Workplace assesment</li>
    <li>Application status</li>

<!-- <li>Workplace assessment </li> -->
</ul>
</div>
<!-- <p>{{data['other-discussion-1']}}</p> -->
<!-- <p> Return to <strong>your tasks</strong> to update Dereck Smith‘s personal details. </p> -->
<!-- {% include  "current/claim/notification-contact.html" %} -->
     <br>
     <h2 class="govuk-label-wrapper"><label class="govuk-label govuk-label--m" for="other-note1">

                    Summarise

                          </label>
                          </h2>
                          <p> Discussed Workplace assesment</p>
     <h2 class="govuk-label-wrapper"><label class="govuk-label govuk-label--m" for="other-note1">

      Additional details

                          </label>
                          </h2>

                          <p>I phoned Sonya Corkery to discuses the workplace assessment. Sonya Corkery wants a virtual assessment and is available to be contact by the assessor in the next two working todays.
                             Added the details to the relevant task.
 </p>


           <button class="govuk-button" data-module="govuk-button" name="contact-phone" value="completed">
             Return
          </button>


          </form>


          </div>
          </div>


</div>

        </main>
        </div>



{% endblock %}
