
{% set page = "claim" %}
{% set claim = "true" %}
{% set title = "Case details" %}

{% extends folder + "/claim/_CSIBASE.html" %}



{% block csi %}
<br>




<form action="/payments/sprint-12/cases/claim#your-tasks" method="post" novalidate>
  <div class="govuk-width-container">

    <main class="govuk-main-wrapper">

      <div class="govuk-grid-row">
        <div class="govuk-grid-column-two-thirds">
          <h2 class="govuk-heading-l">
                    Check claim matches invoice
                  </h2>

                  <!-- <p class="govuk-body">
                     <a href="#" class="govuk-link">Check Searchlight (opens in a new tab)</a>
                   </p> -->

                          <!-- <p class="govuk-body">
                            Application details: -->
                          </p>
                          <dl class="govuk-summary-list">
                          <div class="govuk-summary-list__row">
                          <dt class="govuk-summary-list__key">
                          Element type
                          </dt>
                          <dd class="govuk-summary-list__value">
                          Specialist equipment
                          </dd>
                          </div>
                          <div class="govuk-summary-list__row">
                          <dt class="govuk-summary-list__key">
                          Description
                          </dt>
                          <dd class="govuk-summary-list__value">
                          JAWS, Job Access With Speech
                          </dd>
                          </div>
                          <div class="govuk-summary-list__row">
                          <dt class="govuk-summary-list__key">
                          Cost
                          </dt>
                          <dd class="govuk-summary-list__value">
                          £499
                          </dd>
                          </div>
                          <br>

                          </dl>
                          <form action="/form-handler" method="post" novalidate>

                            <div class="govuk-form-group">
                              <fieldset class="govuk-fieldset">
                                <legend class="govuk-fieldset__legend govuk-fieldset__legend--m">


                                </p>
                                <dl class="govuk-summary-list">
                                <div class="govuk-summary-list__row">
                                <dt class="govuk-summary-list__key">
                                Element type
                                </dt>
                                <dd class="govuk-summary-list__value">
                                Specialist equipment
                                </dd>
                                </div>
                                <div class="govuk-summary-list__row">
                                <dt class="govuk-summary-list__key">
                                Description
                                </dt>
                                <dd class="govuk-summary-list__value">
                                Erganomic keyboard
                                </dd>
                                </div>
                                <div class="govuk-summary-list__row">
                                <dt class="govuk-summary-list__key">
                                Cost
                                </dt>
                                <dd class="govuk-summary-list__value">
                                £120
                                </dd>
                                </div>
                                <br>

                                </dl>
                                <form action="/form-handler" method="post" novalidate>

                                  <div class="govuk-form-group">
                                    <fieldset class="govuk-fieldset">
                                      <legend class="govuk-fieldset__legend govuk-fieldset__legend--m">



                                  <div class="govuk-form-group">
                                  <legend class="govuk-fieldset__legend govuk-fieldset__legend--l">
                                    <h2 class="govuk-heading-m">
                                      Does the claim match the invoice?
                                    </h2>
                                  </legend>
                                      <div class="govuk-radios" data-module="govuk-radios">
                                        <div class="govuk-radios__item">
                                          <input class="govuk-radios__input" id="claim-matches-invoice-1" name="claim-matches-invoice" type="radio" value="yes~claim#your-tasks" {{ checked("claim-matches-invoice", "Yes") }}>
                                          <!-- <input class="govuk-radios__input" id="found-nino" name="found-nino" type="radio" value="Yes~./add-national-insurance-number" {{ checked("found-nino", "Yes") }}> -->
                                          <label class="govuk-label govuk-radios__label" for="claim-matches-invoice-1">
                                            Yes
                                          </label>
                                        </div>
                                        <div class="govuk-radios__item">
                                          <input class="govuk-radios__input" id="claim-matches-invoice-2" name="claim-matches-invoice" type="radio" value="No~claim#your-tasks" {{ checked("claim-matches-invoice", "No") }}>
                                          <label class="govuk-label govuk-radios__label" for="claim-matches-invoice-2">
                                            No
                                          </label>
                                        </div>

                                    </div>
                                  </div>
                                  </fieldset>
                                  </div>
                                       <button class="govuk-button" data-module="govuk-button">
                                         Save and continue
                                       </button>
                                     </form>
                                   </div>
                                  </div>


                                    </main>
                                    </div>







                                  {% endblock %}
