


{% extends "layout.html" %}


{% block pageTitle %}
  {{title}} - {{serviceName}} - GOV.UK
{% endblock %}


<!-- BLACK HEADER BANNER -->

{% block header %}
<header class="govuk-header " role="banner" data-module="govuk-header">
   <div class="govuk-header__container govuk-width-container">
     <div class="govuk-header__logo">
       <a href="#" class="govuk-header__link govuk-header__link--homepage">
         <span class="govuk-header__logotype">

           <span class="govuk-header__logotype-text">
             GOV.UK
           </span>
         </span>
       </a>
     </div>
     <div class="govuk-header__content">
       <a href="/{{folder}}/" class="govuk-header__link govuk-header__link--service-name">
        {{serviceName}}
       </a>


     </div>
     {% if not hideUser %}
     <div class="header-user-details">
          Sue Pearson
         </div>
        {% endif %}
   </div>
 </header>



<!-- GREY SUB HEADER -->

{% block atwisHeader %}
    <div class="nav-horizontal">
      <div class="govuk-width-container">
        <ul class="nav-pri">
          <li{% if yourCases %} class="active"{% endif %}>
          <a href="/payments/sprint-48/your-cases" class="active" aria-sprint-48="page">Your cases</a>
        </li>
          <li{% if Search %} class="active"{% endif %}><a href="search">Search</a></li>
        </ul>
      </div>
    </div>



<!-- BLUE CASE BANNER -->

{% if not hideBanner %}
    {% block banner %}

    <div class="app-example-page">
    <section class="dwp-key-details-bar" aria-label="Key details">
      <dl class="dwp-key-details-bar__key-details">
        <div class="dwp-key-details-bar__top-block">

            <dt class="govuk-visually-hidden">Name:</dt>
            <dd class="dwp-key-details-bar__primary">
              {% if case == 'dereck' %}
              Dereck Smith
              {% endif %}
              {% if case == 'sonya' %}
              Sonya Corkey
              {% endif %}
              {% if case == 'james' %}
              James McCarthy
              {% endif %}
              {% if case == 'nina' %}
              Nina West
              {% endif %}
              {% if case == 'paul' %}
              Paul Hill
              {% endif %}
              {% if case == 'thomas' %}
              Thomas King
              {% endif %}


</dd>

<!-- BLUE BANNER STATUS -->

            <dt class="govuk-visually-hidden">Decisions status:</dt>
       <dd class="dwp-key-details-bar__status">
{% if phase == "complete" %}
            completed
{% else %}
              {% if data ['Searchligh'] or data ['appointee'] or data ['benefits'] %}
            In progress
{% else %}
            Not started
{% endif %}
{% endif %}

            </dd>
        </div>


        <!-- BLUE BANNER TEXT UNDER CASE NAME -->


          <div class="dwp-key-details-bar__bottom-block">
      {% if (phase == "case-manger-view") %} <dt>Allocated to:</dt>
            {{data['advisor-name']}} {% endif %}

            <dt>Application reference:</dt>
            <dd>RMPX30</dd>
<br>
</br>
            <dt>Claim element:</dt>
{% if case == 'dereck' or case == 'sonya'%}
            <dd>specialist equipment</dd>
{% endif %}

{% if case == 'thomas'%}
            <dd>support worker</dd>
{% endif %}



{% if data ['cost-share']%}
<br>
</br>
            <dt>Cost share:</dt>
            <dd>yes</dd>
<br>
</br>
            <dt>Company size:</dt>
            <dd>medium</dd>

{% else %}
<br>
</br>
            <dt>Cost share:</dt>
            <dd>no</dd>
<br>
</br>
            <dt>Company size:</dt>
            <dd>small</dd>

{% endif %}


  {% if data['appointee']=='Yes, I need to add an appointee' and data['appointee-name']%}
            <dt>Appointee:</dt>
            {{data['advisor-name']}} {% endif %}
              <!-- <dt>Date of birth:</dt>
              <dd>4 June 1972</dd>

              <dt>Mobile number:</dt>
              <dd>07777 900 900</dd>

              <dt>Language:</dt>
              <dd>Welsh speaker</dd> -->

          </div>
      </dl>
    </section>


      </div>


<div class="govuk-width-container">


<!-- {% if not hideback %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-three-quarters">
<br>
{{ govukBackLink({
text: "Back",
href: "javascript:history.go(-1)"
}) }}<br></div></div>{% endif %}

<main> -->

    {% endblock %}
{% endif %}

  {% endblock %}
{% endblock %}


<!-- SETS WIDTH OF THE PROTOTYPE -->

{% block head %}
  {% include "includes/head.html" %}
  <!-- extra agent-only css  -->
<link href="/public/stylesheets/dwp.css" media="all" rel="stylesheet" type="text/css" />
<link href="/public/stylesheets/atwis.css" media="all" rel="stylesheet" type="text/css" />

{% endblock %}
