{% set link = "../fix/index" %}
{% extends folder + "/" + subfolder + "/csi/_CSIQUESTION.html" %}
<!-- {% set redirect = [{id : "yes", page: link }, {id: "no", page: "1-unhappy"}] %} -->
{% set title = "[Select details that need more information]" %}
{% block csi %}



<table class="table-clickable govuk-table">
  <thead class="govuk-table__head">
    <tr class="govuk-table__row">

      <th class="govuk-table__header">[Field]</th>
        <th class="govuk-table__header">[Details]</th>


    <th class="govuk-table__header" style="padding: 0 10px;">
      <div class="govuk-checkboxes__item govuk-checkboxes--small">
        <input type="checkbox" class="govuk-checkboxes__input jsCheckboxAll" id="radio-all">
        <label class="govuk-label govuk-checkboxes__label" for="radio-all">
          &nbsp;
        </label>
      </div>
    </th>
    </tr>
  </thead>
  <tbody class="govuk-table__body">



{{selectTable(name="interview-date-day", section="Date of interview", group="interview", details=(data['csi-info'][0]['interview-date-day'] + " " +  data['csi-info'][0]['interview-date-month'] | toMonth  + " " + data['csi-info'][0]['interview-date-year']  ) | safe)}}

{{selectTable(name="deaf", section="Condition", group="interview", details="Deaf")}}

{{selectTable(name="duration", section="Duration", group="interview", details=data['csi-info'][0]['duration'])}}

{{selectTable(name="support-worker-pay", section="Quote", group="interview", details=data['csi-info'][0]['support-worker-pay'] | toMoney | safe )}}



  </tbody>
</table>

<p>[you will get a chance to review all these details later]</p>

{% endblock %}
