{% set page = "claim" %}
{% set claim = "true" %}
{% set title = "Case details" %}

{% extends folder + "/claim/_CSIBASE.html" %}

{% block csi %}
<br>


<form action="/live-21/cases/{% if phase == "sonya" %}Sonya/cases/{% endif %}claim#your-tasks" method="post" novalidate>
<div class="govuk-width-container">


  <main class="govuk-main-wrapper " id="main-content" role="main">
    <div class="govuk-grid-row">
      <div class="govuk-grid-column-two-thirds-from-desktop">

        <h2 class="govuk-heading-l">{% include  "./content/check.html" %}</h2>



        <dl class="govuk-summary-list govuk-!-margin-bottom-9">
          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
             {% include  "./content/does-name-here-have-an-appointee.html" %}
            </dt>
            <dd class="govuk-summary-list__value">

{{data['appointee']}}

            </dd>
            <dd class="govuk-summary-list__actions">
              <a class="govuk-link" href="index">
              Update<span class="govuk-visually-hidden">   {% include  "./content/does-name-here-have-an-appointee.html" %}</span>
              </a>
            </dd>
          </div>


          {% if data['appointee']=='Yes, I need to add an appointee'%}
          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
{% include  "./content/appointee-full-name.html" %}


            </dt>
            <dd class="govuk-summary-list__value">
              {{data['appointee-name']}}
            </dd>
            <dd class="govuk-summary-list__actions">
              <a class="govuk-link" href="appointee-details#appointee-name">
                Update<span class="govuk-visually-hidden"> {% include  "./content/appointee-full-name.html" %}</span>
              </a>
            </dd>
          </div>

          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">

{% include  "./content/appointee-address.html" %}


            </dt>
            <dd class="govuk-summary-list__value">
              {{data['appointee-address-line-1']}}<br>
              {{data['appointee-address-line-2']}}{% if data['appointee-address-line-2']%}<br>{% endif %}
              {{data['appointee-address-town']}}{% if data['appointee-address-town']%}<br>{% endif %}
              {{data['appointee-address-county']}}{% if data['appointee-address-county']%}<br>{% endif %}
              {{data['appointee-address-postcode']}}
            </dd>
            <dd class="govuk-summary-list__actions">
              <a class="govuk-link" href="appointee-details#appointee-address-line-1">
                Update<span class="govuk-visually-hidden"> {% include  "./content/appointee-address.html" %}</span>
              </a>
            </dd>
</div>


            <div class="govuk-summary-list__row">
              <dt class="govuk-summary-list__key">
{% include  "./content/appointee-contact-details.html" %}

              </dt>
              <dd class="govuk-summary-list__value">
                {% for feature in data['appointee-contact'] %}
                  <li>{{ feature }}</li>
                {% else %}
                  <li>None </li>
                {% endfor %}
              </dd>
              <dd class="govuk-summary-list__actions">
                <a class="govuk-link" href="appointee-details#appointee-name">
                  Update<span class="govuk-visually-hidden"> {% include  "./content/appointee-contact-details.html" %}</span>
                </a>
              </dd>
            </div>

{% if 'email' in data['appointee-contact']%}
<div class="govuk-summary-list__row">
  <dt class="govuk-summary-list__key">
   {% include  "./content/appointee-email.html" %}

  </dt>
            <dd class="govuk-summary-list__value">
            {{data['appointee-email']}}
            </dd>
            <dd class="govuk-summary-list__actions">
              <a class="govuk-link" href="appointee-telephone-email#appointee-email">
                Update<span class="govuk-visually-hidden">    {% include  "./content/appointee-email.html" %}</span>
              </a>
            </dd>
          </div>
{% endif %}

{% if 'telephone' in data['appointee-contact']%}
<div class="govuk-summary-list__row">
  <dt class="govuk-summary-list__key">
    {% include  "./content/appointee-telephone.html" %}

  </dt>
            <dd class="govuk-summary-list__value">
            {{data['appointee-telephone']}}
            </dd>
            <dd class="govuk-summary-list__actions">
              <a class="govuk-link" href="appointee-telephone-email#appointee-telephone">
                Update<span class="govuk-visually-hidden">     {% include  "./content/appointee-telephone.html" %}</span>
              </a>
            </dd>
          </div>
{% endif %}
{% endif %}
        </dl>






<!--
        <div class="govuk-inset-text">
        <p> You need to contact Dereck Smith to check whether their benefits mean they are not eligible for Access to Work. This will be added to your 'Contact Dereck Smith' task.  </p>

        </div> -->


          <input type="hidden" name="appointee-checked" value="true">

          <button class="govuk-button" data-module="govuk-button" name="appointee-cya" value="finished">
            Return to your tasks
          </button>

        </form>

      </div>
    </div>
  </main>
</div>


{% endblock %}
