{% set page = "claim" %}
{% set claim = "true" %}
{% set title = "Case details" %}
{% set view = "tab" %}

{% extends   "payments/sprint-50/claim/_CSIBASE-no-footer.html" %}



{% block csi %}
<br>




{% if case == 'dereck' %}
<form action="/payments/sprint-50/cases/dereck/cases/company-details-no-match/contact-company-details-no-match-tab#your-tasks" method="post" novalidate>
{% endif %}
{% if case == 'sonya' %}
<form action="/payments/sprint-50/cases/sonya/cases/company-details-no-match/contact-company-details-no-match-tab#your-tasks" method="post" novalidate>
{% endif %}
  <div class="govuk-width-container">

    <main class="govuk-main-wrapper">





<div class="govuk-form-group">
                    <fieldset class="govuk-fieldset" aria-describedby="nationality-hint">
                      <legend class="govuk-fieldset__legend govuk-fieldset__legend--l">
                        <h1 class="govuk-fieldset__heading">

<!-- MAKE DYNAMIC TEXT BASED ON FEEDER RADIOS AS WE KNOW WHAT IS WRONG ALREADY, AMOUNT, ELEMENT OR BOTH -->
                          Which items are on the invoices you are rejecting?
                        </h1>
                      </legend>
                      <div id="nationality-hint" class="govuk-hint">
                        <!-- If you have dual nationality, select all options that are relevant to you. -->
                      </div>
                      <div class="govuk-checkboxes" data-module="govuk-checkboxes">
                        <div class="govuk-checkboxes__item">



{% if 'Jaws screen reader' in data['claim-item'] %}
                          <input class="govuk-checkboxes__input" id="details-item-no-match-1" name="details-item-no-match" type="checkbox" value="Jaws screen reader" {{ checked("details-item-no-match", "Jaws screen reader") }}>
                          <label class="govuk-label govuk-checkboxes__label" for="details-item-no-match-1">
                            JAWS screen reader
                          </label>
                          <!-- <div id="nationality-item-hint" class="govuk-hint govuk-checkboxes__hint">
                            £499
                          </div> -->
                        </div>
{% endif %}

{% if 'ZoomText Professional License' in data['claim-item'] %}
                        <div class="govuk-checkboxes__item">
                          <input class="govuk-checkboxes__input" id="details-item-no-match-2" name="details-item-no-match" type="checkbox" value="ZoomText Professional License" {{ checked("details-item-no-match", "ZoomText Professional License") }}>
                          <label class="govuk-label govuk-checkboxes__label" for="details-item-no-match-2">
                            ZoomText Professional License
                          </label>
                          <!-- <div id="nationality-item-hint" class="govuk-hint govuk-checkboxes__hint">
                            £501
                          </div> -->
                        </div>
{% endif %}


{% if 'Ipad Pro case' in data['claim-item'] %}
                        <div class="govuk-checkboxes__item">
                          <input class="govuk-checkboxes__input" id="details-item-no-match-3" name="details-item-no-match" type="checkbox" value="Ipad Pro case" {{ checked("details-item-no-match", "Ipad Pro case") }}>
                          <label class="govuk-label govuk-checkboxes__label" for="details-item-no-match-3">
                            Ipad Pro case
                          </label>
                          <!-- <div id="nationality-item-hint" class="govuk-hint govuk-checkboxes__hint">
                            £80
                          </div> -->
                        </div>
{% endif %}

{% if 'Foot rest' in data['claim-item'] %}
                        <div class="govuk-checkboxes__item">
                          <input class="govuk-checkboxes__input" id="details-item-no-match-7" name="details-item-no-match" type="checkbox" value="Foot rest" {{ checked("details-item-no-match", "Foot rest") }}>
                          <label class="govuk-label govuk-checkboxes__label" for="details-item-no-match-7">
                            Foot rest
                          </label>
                          <!-- <div id="nationality-item-hint" class="govuk-hint govuk-checkboxes__hint">
                            £110
                          </div> -->
                        </div>

{% endif %}

{% if 'Sit stand desk' in data['claim-item'] %}
                        <div class="govuk-checkboxes__item">
                          <input class="govuk-checkboxes__input" id="details-item-no-match-8" name="details-item-no-match" type="checkbox" value="Sit stand desk" {{ checked("details-item-no-match", "Sit stand desk") }}>
                          <label class="govuk-label govuk-checkboxes__label" for="details-item-no-match-8">
                            Sit stand desk
                          </label>
                          <!-- <div id="nationality-item-hint" class="govuk-hint govuk-checkboxes__hint">
                            £110
                          </div> -->
                        </div>

{% endif %}


{% if 'Ergonomic Keyboard' in data['claim-item'] %}
                        <div class="govuk-checkboxes__item">
                          <input class="govuk-checkboxes__input" id="details-item-no-match-4" name="details-item-no-match" type="checkbox" value="Ergonomic Keyboard" {{ checked("details-item-no-match", "Ergonomic Keyboard") }}>
                          <label class="govuk-label govuk-checkboxes__label" for="details-item-no-match-4">
                            Ergonomic keyboard
                          </label>
                          <!-- <div id="nationality-item-hint" class="govuk-hint govuk-checkboxes__hint">
                            £110
                          </div> -->
                        </div>
{% endif %}


{% if 'Office chair' in data['claim-item'] %}
                        <div class="govuk-checkboxes__item">
                          <input class="govuk-checkboxes__input" id="details-item-no-match-5" name="details-item-no-match" type="checkbox" value="Office chair" {{ checked("details-item-no-match", "Office chair") }}>
                          <label class="govuk-label govuk-checkboxes__label" for="details-item-no-match-5">
                            Office chair
                          </label>
                          <!-- <div id="nationality-item-hint" class="govuk-hint govuk-checkboxes__hint">
                            £230
                          </div> -->
                        </div>
{% endif %}


{% if 'Ergonomic mouse' in data['claim-item'] %}
                        <div class="govuk-checkboxes__item">
                          <input class="govuk-checkboxes__input" id="details-item-no-match-6" name="details-item-no-match" type="checkbox" value="Ergonomic mouse" {{ checked("details-item-no-match", "Ergonomic mouse") }}>
                          <label class="govuk-label govuk-checkboxes__label" for="details-item-no-match-6">
                            Ergonomic mouse
                          </label>
                          <!-- <div id="nationality-item-hint" class="govuk-hint govuk-checkboxes__hint">
                            £40
                          </div> -->
                        </div>
{% endif %}

{% if 'Desk magnifier' in data['claim-item'] %}
                        <div class="govuk-checkboxes__item">
                          <input class="govuk-checkboxes__input" id="details-item-no-match-9" name="details-item-no-match" type="checkbox" value="Desk magnifier" {{ checked("details-item-no-match", "Desk magnifier") }}>
                          <label class="govuk-label govuk-checkboxes__label" for="details-item-no-match-9">
                            Desk magnifier
                          </label>
                          <!-- <div id="nationality-item-hint" class="govuk-hint govuk-checkboxes__hint">
                            £40
                          </div> -->
                        </div>
{% endif %}


{% if 'Laptop stand' in data['claim-item'] %}
                        <div class="govuk-checkboxes__item">
                          <input class="govuk-checkboxes__input" id="details-item-no-match-10" name="details-item-no-match" type="checkbox" value="Laptop stand" {{ checked("details-item-no-match", "Laptop stand") }}>
                          <label class="govuk-label govuk-checkboxes__label" for="details-item-no-match-10">
                            Laptop stand
                          </label>
                          <!-- <div id="nationality-item-hint" class="govuk-hint govuk-checkboxes__hint">
                            £40
                          </div> -->
                        </div>
{% endif %}




                      </div>




                                    </div>
                                  </div>


                                       <button class="govuk-button" data-module="govuk-button">
                                         Save and continue
                                       </button>
                                     </form>
                                   </div>
                                  </div>


                                    </main>
                                    </div>







                                  {% endblock %}
