








      <!-- <p >
<a href="{% if not data['_do_1']%}/live-atwis/0/cases/contact/1/how-do-you-want-to-contact{% else %}/live-atwis/0/cases/contact/contact-log{% endif %}" aria-describedby="contact-status">

  Record contact with {% if data['appointee']=='Yes, I need to add an appointee'%}{{data['appointee-name']}}{% else %}{% if phase == "sonya" %}Sonya Corkery{% else %}Dereck Smith{% endif %}{% endif %}
</a>
      </p><br> -->

      <!-- <p >
      <a href="{% if not data['_do_1']%}/live-atwis/0/cases/contact/1/how-do-you-want-to-contact{% else %}/live-atwis/0/cases/contact/contact-log{% endif %}" aria-describedby="contact-status">
      Add contact
      </a>
      </p> -->
<!-- <br> -->
<li>
  <h2 class="app-task-list__section">
Job details
  </h2>
  <ul class="app-task-list__items">



    <li class="app-task-list__item">
      <span class="app-task-list__task-name">
  <a href="

  {% if data ['employer-sector'+ phase]%}/live-atwis/0/cases/{% if phase %}{{phase}}/cases/{% endif %}job-details/check{% else %}/live-atwis/0/cases/{% if phase %}{{phase}}/cases/{% endif %}job-details/employment-sector{% endif %}

  " aria-describedby="job-status">

    Add information about the employer
  </a>
      </span>
  {% if data['employer-sector'+ phase]=='Yes' and data['employer-sector-type'+ phase] %}<strong class="govuk-tag app-task-list__tag" id="eligibility-status">Completed</strong>{% endif %}
  {% if not data['employer-sector'+ phase]%}<strong class="govuk-tag govuk-tag--blue app-task-list__tag" id="grant-matches-claim-status">Not started</strong>{% endif %}
  {% if data ['employer-sector'+ phase]=='No'%}<strong class="govuk-tag govuk-tag--blue app-task-list__tag" id="contact-details-status">Contact needed</strong>{% endif %}
  </li>











</ul>
