{% set page = "claim" %}
{% set claim = "true" %}
{% set title = "Case details" %}

{% if not number or (number == 'undefined') %}
{% set number = 1 %}
{% endif %}

{% extends folder + "/claim/_CSIBASE.html" %}

{% block csi %}





<form action="" method="post" novalidate>


  <div class="govuk-width-container">


    <main class="govuk-main-wrapper">

      <div class="govuk-grid-row">
        <div class="govuk-grid-column-two-thirds">

<div class="govuk-form-group">

  <fieldset class="govuk-fieldset">

  <legend class="govuk-fieldset__legend govuk-fieldset__legend--l">

    <h2 class="govuk-fieldset__heading">
      <!-- How do you want to contact {% if data['appointee']=='Yes, I need to add an appointee'%}{{data['appointee-name']}}{% else %}Dereck Smith{% endif %}{% if not data['_do_1']%} first{% endif %}? -->
Type of contact
    </h2>

  </legend>
  <div id="contact-hint" class="govuk-hint">
              You need to add each type of contact separately. You will be able to add another later.
                </div>
<!-- {% if data['clear']=='No' %}{% else %}
  {% include  "accessibility/claim/notification-contact.html" %}{% endif %} -->

  <div class="govuk-radios">
        <div class="govuk-radios__item">
          <input class="govuk-radios__input" id="email-sent" name="_do_{{number}}" type="radio" value="Email sent~../{{number}}/email-sent">
          <label class="govuk-label govuk-radios__label" for="email-sent">
        Email sent
      </label>

        </div>


        <div class="govuk-radios__item">
          <input class="govuk-radios__input" id="email-received" name="_do_{{number}}" type="radio" value="Email received~../{{number}}/email-received">
          <label class="govuk-label govuk-radios__label" for="email-received">
        Email received
      </label>

        </div>



        <div class="govuk-radios__item">
          <input class="govuk-radios__input" id="telephone-call-made" name="_do_{{number}}" type="radio" value="Telephone call made~../{{number}}/phone-made">
          <label class="govuk-label govuk-radios__label" for="telephone-call-made">
        Telephone call made
      </label>

        </div>
        <div class="govuk-radios__item">
          <input class="govuk-radios__input" id="telephone-call-received" name="_do_{{number}}" type="radio" value="Telephone call received~../{{number}}/phone-received">
          <label class="govuk-label govuk-radios__label" for="telephone-call-received">
        Telephone call received
      </label>

        </div>

        <div class="govuk-radios__item">
          <input class="govuk-radios__input" id="sms" name="_do_{{number}}" type="radio" value="Text message (SMS) sent~../{{number}}/sms">
          <label class="govuk-label govuk-radios__label" for="sms">
        Text message (SMS) sent
      </label>

        </div>



  </div>


</fieldset>




</div>

  <h1 class="govuk-heading-l">  When did this happen? </h1>

<div class="govuk-form-group">
           <label class="govuk-label govuk-label--m" for="passport-number">
          Time
           </label>
           <div id="passport-number-hint" class="govuk-hint">
             For example, 9:00am or 2:30pm - enter 12:00pm for midday
           </div>
           <input class="govuk-input govuk-input--width-5" id="contact-time" name="contact-time-{{number}}" type="text" aria-describedby="contact-time-hint">


         </div>


         <!-- <div class="govuk-form-group">
           <fieldset class="govuk-fieldset" role="group" aria-describedby="expiry-hint">
             <legend class="govuk-fieldset__legend govuk-fieldset__legend--m">
              Date
             </legend>
             <div id="expiry-hint" class="govuk-hint">
               For example, 31 1 2022
             </div>
             <div class="govuk-date-input" id="contact-date-">
               <div class="govuk-date-input__item">
                 <div class="govuk-form-group">
                   <label class="govuk-label govuk-date-input__label" for="contact-date-day">
                     Day
                   </label>
                   <input class="govuk-input govuk-date-input__input govuk-input--width-2" id="contact-date-day" name="contact-date-day-{{number}}" type="text" pattern="[0-9]*" inputmode="numeric">
                 </div>
               </div>
               <div class="govuk-date-input__item">
                 <div class="govuk-form-group">
                   <label class="govuk-label govuk-date-input__label" for="contact-date-month">
                     Month
                   </label>
                   <input class="govuk-input govuk-date-input__input govuk-input--width-2" id="contact-date-month" name="contact-date-month-{{number}}" type="text" pattern="[0-9]*" inputmode="numeric">
                 </div>
               </div>
               <div class="govuk-date-input__item">
                 <div class="govuk-form-group">
                   <label class="govuk-label govuk-date-input__label" for="contact-date-year">
                     Year
                   </label>
                   <input class="govuk-input govuk-date-input__input govuk-input--width-4" id="contact-date-year" name="contact-date-year-{{number}}" type="text" pattern="[0-9]*" inputmode="numeric">
                 </div>
               </div>
             </div>
                  </div> -->

                  <div class="govuk-form-group">

                    <fieldset class="govuk-fieldset">



      <h3 class="govuk-heading-m"> Use today's date?</h3>



                    <div class="govuk-radios govuk-radios--inline">
                          <div class="govuk-radios__item ">
                            <input class="govuk-radios__input" id="email-sent" name="todays-date{{number}}" type="radio" value="Yes">
                            <label class="govuk-label govuk-radios__label" for="email-sent">
                        Yes
                        </label>

                          </div>


                          <div class="govuk-radios__item">
                            <input class="govuk-radios__input" id="email-received" name="todays-date{{number}}" type="radio" value="No">
                            <label class="govuk-label govuk-radios__label" for="email-received">
                        No
                        </label>

                          </div>







                    </div>


                  </fieldset>




                  </div>
           <button class="govuk-button" data-module="govuk-button">
             Save and continue
           </button>
         </form>
       </div>
     </div>


        </main>
        </div>



{% endblock %}
