{% set page = "claim" %}
{% set claim = "true" %}
{% set title = "Case details" %}

{% extends folder + "/claim/_CSIBASE.html" %}

{% block csi %}
<form action="/live-40/cases/{% if phase %}{{phase}}/cases/{% endif %}check-application/travel-to-from-work/details/{% if phase == 'john'%}approve-1{% else %}additional-miles{% endif %}" method="post" novalidate>
<div class="govuk-width-container">


  <main class="govuk-main-wrapper " id="main-content" role="main">
    <div class="govuk-grid-row">
      <div class="govuk-grid-column-two-thirds">

        <h1 class="govuk-label-wrapper">

Travel to and from work


      </h1>
<br>
      <p>The following travel to work support in {% if case =='other-cases-4' %}
        Arlo Spinka{% else %}John Smith{% endif %}'s application can now be assessed:</p>

<ul class="govuk-list govuk-list--bullet">
        <li>{% if case =='other-cases-4' %}
          Lift in a car from a friend, colleague or family member {% else %}Taxi{% endif %}</li>

</ul>
<p>  {% if case =='other-cases-4' %}
  Arlo Spinka{% else %}John Smith{% endif %} currently gets to work now by {% if case =='other-cases-4' %}
    drive or lift in a car{% else %}taxi{% endif %}.
  <!-- <ul class="govuk-list govuk-list--bullet">
          <li>Taxi</li>

  </ul> -->
<p> You will need to:</p>
<ul class="govuk-list">

  <li><a href="https://intranet.dwp.gov.uk/manual/access-work/travel-work-and-travel-work" target="_blank">Check travel to work and travel in Work guidance (open in new tab)</a>.</li>

<li>
<a href="/live-40/cases/{{phase}}/cases/contact/contact-details">Contact {% if case =='other-cases-4' %}
  Arlo Spinka{% else %}John Smith{% endif %} to check journey details</a></li>
</ul>
  <dl class="govuk-summary-list">


                          <div class="govuk-summary-list__row">
                          <dt class="govuk-summary-list__key">
                            Workplace address
                          </dt>
                          <dd class="govuk-summary-list__value">
                            <ul class="govuk-list">
                              <li>{% if not data['workplace-address-line-1']%}220 St Vincent Street{% else %}{{data['workplace-address-line-1']}}{% endif  %}</li>
                              <li>{% if not data['workplace-address-line-town']%}London{% else %}{{data['workplace-address-line-town']}}{% endif %}</li>
                              <li>{% if not data['workplace-address-postcode']%}AB1 1AB{% else %}{{data['workplace-address-postcode']}}{% endif %}</li>
                            </ul>
                          </dd>
                          </div>
                          <div class="govuk-summary-list__row">
                          <dt class="govuk-summary-list__key">
                            {% if case =='other-cases-4' %}
                              Arlo Spinka{% else %}John Smith{% endif %}'s address
                          </dt>
                          <dd class="govuk-summary-list__value">

                          {% if data['changeaddressline1']%}{{data['changeaddressline1']}}
                          {% else %}  72 Guild Street{% endif %}
                          <br>London


                          <br>{% if data['change-address-postcode']%}{{data['change-address-postcode']}}
                          {% else %} SE23 6FH {% endif %}
                          </dd>
                          </div>

                          </dl>



<button class="govuk-button" data-module="govuk-button">
Continue
</button>
</form>


</main>

   {% endblock %}
