
<ul class="app-task-list__items">
<li class="app-task-list__item">
<span class="app-task-list__task-name">
<a href="specialist-equipment" aria-describedby="job-status">
  Specialist equipment details
</a>
</span>
{% if not data['element-decision']%}<strong class="govuk-tag govuk-tag--grey app-task-list__tag" id="list-convictions-status">Not started</strong>   {% endif %}
{% if data['element-decision']%} <strong class="govuk-tag app-task-list__tag" id="eligibility-status">Completed</strong> {% endif %}

 </li>




<!-- <li class="app-task-list__item">
  <span class="app-task-list__task-name">
<a href="claim#your-tasks" aria-describedby="job-status">
      Evidence for approval decision
</a>
  </span>
  <strong class="govuk-tag govuk-tag--grey app-task-list__tag" id="list-convictions-status">Not started</strong>            </li> -->
</ul>
