
.app-masthead {
  padding-top: 20px;
  padding-bottom: 20px;
  color: #fff;
  background-color: #005ea5;
}

.app-masthead * {
  color: #fff;
}

@media (min-width: 40.0625em) {
  .app-masthead {
    padding-bottom: 30px;
    padding-top: 30px;
  }
}