{% set link = "4-request-evidence" %}
{% set paymentLink = true %}
{% extends folder + "/" + subfolder + "/csi/_CSIQUESTION.html" %}
{% set title =  "[Is the bank account valid?]" %}


{% block csi %}

<p>[Use the wizard to check]</p>

{% from "govuk/components/radios/macro.njk" import govukRadios %}

{{ govukRadios({
  classes: "govuk-radios--inline",
  idPrefix: "changed-name",
  name: "changed-name",
  fieldset: {
    legend: {
      text: "",
      isPageHeading: true,
      classes: "govuk-fieldset__legend--xl"
    }
  },
  items: [
    {
      value: "yes",
      text: "Yes"
    },
    {
      value: "no",
      text: "No"
    }
  ]
}) }}




{% endblock %}
