{% set page = "claim" %}
{% set claim = "true" %}
{% set title = "Case details" %}

{% extends folder + "/claim/_CSIBASE.html" %}

{% block csi %}
<br>


<div class="govuk-grid-row">
      <div class="govuk-grid-column-two-thirds">
        <form action="../cases/claim#citizen-details" method="post" novalidate>
          <div class="govuk-form-group">
            <div class="govuk-form-group">
    <h1 class="govuk-label-wrapper"><label class="govuk-label govuk-label--l" for="condition">
        What are your conditions or disabilities?
      </label>
    </h1>
    <!-- <div id="condition-hint" class="govuk-hint">
      Do not include personal or financial information, like your National Insurance number or credit card details.
    </div> -->
    <textarea class="govuk-textarea" id="condition" name="condition" rows="5" aria-describedby="condition-hint" >{% if not data['condition']%}I have macular oedema which has cause permanent vision loss in both eyes. It was caused by my diabetes.{% else %}{{data['condition']}}
      {% endif %} </textarea>

</div>
  </div>
          <button class="govuk-button" data-module="govuk-button">
            Save and continue
          </button>
        </form>
      </div>
    </div>


{% endblock %}
