


<!-- HEADER -->

        <!-- <div class="govuk-grid-column-two-thirds"> -->
<h1 class="govuk-heading-l top-section">
      <strong><span>Payment officer: </span></strong>

{% if data['advisor-name'] %}
<span class="normal"> {{data['advisor-name']}}  </span>
  {% else %}
  <span class="normal"> Sue Pearson </span>
    {% endif %}
      </h1>



<!-- CLAIMS -->


                <div class="govuk-grid-row">
                  <!-- <div class="govuk-grid-column-one-third"> -->
                    <div class="govuk-tabs" data-module="govuk-tabs">
                      <h2 class="govuk-tabs__title">
                        Contents
                      </h2>
                      <ul class="govuk-tabs__list">


                        <!-- {% if not data['sop-supplier-number']%}  <strong class="govuk-tag govuk-tag--grey app-task-list__tag" id="grant-matches-claim-status">Cannot start yet</strong>{% endif %}
                        {% if data['sop-supplier-number'] and not data ['sop-approve']%}  <strong class="govuk-tag govuk-tag--blue app-task-list__tag" id="grant-matches-claim-status">Not started</strong>{% endif %}
                        {% if data['sop-approve'] %} <strong class="govuk-tag app-task-list__task-completed" id="grant-matches-claim-completed">Completed</strong>{% endif %} -->



                        {% if not data['claims']%}
                        <li class="govuk-tabs__list-item govuk-tabs__list-item--selected">
                          <a class="govuk-tabs__tab" href="#past-day">
                            Claims (0)
                          </a>
                        </li>
{% endif %}



                        {% if data['claims']%}
                        <li class="govuk-tabs__list-item govuk-tabs__list-item--selected">
                          <a class="govuk-tabs__tab" href="#past-day">
                            Claims (1)
                          </a>
                        </li>

{% endif %}


                      {% if data['sop-supplier-number']%}
                        <li class="govuk-tabs__list-item">
                          <a class="govuk-tabs__tab" href="#past-week">
                            Waiting for approval (0)
                          </a>
                        </li>

{% endif %}

                        <!-- {% if not data['sop-supplier-number']%}
                        <li class="govuk-tabs__list-item">
                          <a class="govuk-tabs__tab" href="#past-week">
                            Waiting for approval (0)
                          </a>
                        </li>

{% endif %} -->


                      </ul>





                      <div class="govuk-tabs__panel" id="past-day">
                        <h2 class="govuk-heading-m">Claims</h2>

                        <form action="/payments/sprint-12/your-cases#claims" method="post" novalidate for="submitButtonRequestGetNewClaim">
                          <div class="govuk-grid-column-one-quaters">

                      <div class="govuk-form-group" style="float: left">

                              <label class="govuk-label" for="sort">
                                Claim type
                              </label>
                              <select class="govuk-select" id="claims" name="claims">
                                <option value="No specialist equipment"
                                {% if 'No specialist equipment' in data['claims']%}selected{% endif %}>No specialist equipment</option>
                                <option value="Specialist equipment"
                                {% if 'Specialist equipment' in data['claims']%}selected{% endif %}>Specialist equipment</option>
                                <option value="TESG"
                                {% if 'TESG' in data['claims']%}selected{% endif %}>TESG</option>
                                <option value="CSI"
                                {% if 'CSI' in data['claims']%}selected{% endif %}>CSI</option>
                              </select>
                          </div>

                          <div class="govuk-grid-column-one-third" >

                          <p class="govuk-body govuk-!-margin-bottom-6"></p>
                              <input type="submit" class="govuk-button" id="submitButtonRequestGetNewClaim" value="Get new claim" style="float: left">
                          </div>










{% if 'Specialist equipment' in data['claims']%}

                        <table class="govuk-table">
                          <thead class="govuk-table__head">
                            <tr class="govuk-table__row">
                              <th scope="col" class="govuk-table__header">Name</th>
                              <th scope="col" class="govuk-table__header">Claim type</th>
                              <th scope="col" class="govuk-table__header">Date received</th>
                              <th scope="col" class="govuk-table__header">Status</th>
                              <th scope="col" class="govuk-table__header">Action</th>

                            </tr>
                          </thead>
                          <tbody class="govuk-table__body">
                            <tr class="govuk-table__row">
                              <th scope="row" class="govuk-table__header">Dereck Smith</th>
                              <td class="govuk-table__cell">Specialist equipment</td>
                              <td class="govuk-table__cell">12 June 2022</td>
                              <td class="govuk-table__cell">Not started</td>
                              <td class="govuk-table__cell"><a href="cases/claim{% if phase == "payment-officer"%}-payment-officer{% endif %}{% if phase == "case-manger-view"%}-case-manager-view{% endif %}">Go to claim</a></td>
                            </tr>
                          </tbody>
                        </table>
{% endif %}

{% if 'No specialist equipment' in data['claims']%}

                        <table class="govuk-table">
                          <thead class="govuk-table__head">
                            <tr class="govuk-table__row">
                              <th scope="col" class="govuk-table__header">Name</th>
                              <th scope="col" class="govuk-table__header">Claim type</th>
                              <th scope="col" class="govuk-table__header">Date received</th>
                              <th scope="col" class="govuk-table__header">Status</th>
                              <th scope="col" class="govuk-table__header">Action</th>

                            </tr>
                          </thead>
                          <tbody class="govuk-table__body">
                            <tr class="govuk-table__row">
                              <th scope="row" class="govuk-table__header">Jane Doe</th>
                              <td class="govuk-table__cell">Specialist equipment</td>
                              <td class="govuk-table__cell">12 June 2022</td>
                              <td class="govuk-table__cell">Not started</td>
                              <td class="govuk-table__cell"><a href="cases/claim{% if phase == "payment-officer"%}-payment-officer{% endif %}{% if phase == "case-manger-view"%}-case-manager-view{% endif %}">Go to claim</a></td>
                            </tr>
                          </tbody>
                        </table>
{% endif %}



{% if not data['claims'] %}
                          <p>You have no cases.</P>
{% endif %}




<!-- {% if data['sop-supplier-number']%}

                      </div>
                      <div class="govuk-tabs__panel govuk-tabs__panel--hidden" id="past-week">
                        <h2 class="govuk-heading-l">Waiting for approval</h2>
                        <table class="govuk-table">
                          <thead class="govuk-table__head">
                            <tr class="govuk-table__row">
                              <th scope="col" class="govuk-table__header">Name</th>
                              <th scope="col" class="govuk-table__header">Claim type</th>
                              <th scope="col" class="govuk-table__header">Date received</th>
                              <th scope="col" class="govuk-table__header">Date sent for approval</th>
                              <th scope="col" class="govuk-table__header">Status</th>
                              <th scope="col" class="govuk-table__header">Action</th>
                            </tr>
                          </thead>
                          <tbody class="govuk-table__body">
                            <tr class="govuk-table__row">
                              <th scope="row" class="govuk-table__header">Dereck Smith</th>
                              <td class="govuk-table__cell">Specialist equipment</td>
                              <td class="govuk-table__cell">12 June 2022</td>
                              <td class="govuk-table__cell">25 November 2022</td>
                              <td class="govuk-table__cell">Not started</td>
                              <td class="govuk-table__cell"><a href="cases/claim{% if phase == "payment-officer"%}-payment-officer{% endif %}{% if phase == "case-manger-view"%}-case-manager-view{% endif %}">Go to claim</a></td>
                            </tr>
                          </tbody>
                        </table>
{% endif %} -->

<!-- {% if not data['sop-supplier-number'] %}
<p>You have no cases waiting for approval.</P>{% endif %} -->


                      </div>
                    </div>




























  </div>
</div>


  </div>
</div>
