{% set page = "claim" %}
{% set claim = "true" %}
{% set title = "Case details" %}
{% set view = "tab" %}

{% extends   "payments/current/claim/_CSIBASE-no-footer.html" %}

{% block csi %}






<form action="/payments/current/cases/thomas/claim-thomas#your-tasks" method="post" novalidate>

          <div class="govuk-width-container">
            <main class="govuk-main-wrapper">
              <div class="govuk-grid-row">
                <div class="govuk-grid-column-two-thirds">

        <div class="govuk-form-group">

          <fieldset class="govuk-fieldset">

             <h1 class="govuk-heading-l">
            Hours claimed are more than replacment invoice
            </h1>

              <!-- <h2 class="govuk-heading-m">
            British Sign Language (BSL) interpreter
            </h2> -->

            <!-- <p class="govuk-body">number of hours claimed {{data['sw-hours']}} . </p> -->
            <p class="govuk-body">{{data['sw-hours']}} hours claimed. </p>

            <p class="govuk-body">The maximum amount of hours you can pay for this claim is: </p>

          <div class="govuk-inset-text">
          <p class="govuk-body govuk-!-font-weight-bold govuk-!-font-size-27">20 hours </p>
        </div>



</br>
</br>
                      <div class="govuk-form-group">
                        <legend class="govuk-fieldset__legend govuk-fieldset__legend--l">
                          <h2 class="govuk-heading-m">
                            Do you want to pay 20 hours for this claim?
                          </h2>
                        </legend>
                            <div class="govuk-radios" data-module="govuk-radios">
                              <div class="govuk-radios__item">
                                <input class="govuk-radios__input" id="sw-hours-more-1" name="sw-hours-more" type="radio" value="Yes" {{ checked("sw-hours-more", "Yes") }}>
                                <label class="govuk-label govuk-radios__label" for="sw-hours-more-1">
                                  Yes
                                </label>
                              </div>
                              <div class="govuk-radios__item">
                                <input class="govuk-radios__input" id="sw-hours-more-2" name="sw-hours-more" type="radio" value="No" {{ checked("sw-hours-more", "No") }}>
                                <label class="govuk-label govuk-radios__label" for="sw-hours-more-2">
                                  No, reject this claim
                                </label>
                              </div>

                          </div>
                        </div>




                    </div>

                </div>
              </div>
            </fieldset>
          </div>
                   <button class="govuk-button" data-module="govuk-button">
                     Save and continue
                   </button>
                 </form>
               </div>
             </div>


                </main>
                </div>











{% endblock %}
