{% extends "layout.html" %} {% set serviceName = "Renew Access to Work" %}

{% block pageTitle %}
  Renewal application sent
{% endblock %}



<!-- {% if data ['support-changed'] == 'Yes' %}
{% endif %} -->


{% block beforeContent %}

<div class="govuk-phase-banner">
  <p class="govuk-phase-banner__content">
    <strong class="govuk-tag govuk-phase-banner__content__tag">
      beta
    </strong>
    <span class="govuk-phase-banner__text">
      This is a new service – your <a class="govuk-link" href="https://getinvolved.dwp.gov.uk/digital/cdc1a144">feedback</a> will help us to improve it.
    </span>
  </p>
</div>


{% endblock %}

{% block content %}


<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

   <div class="govuk-panel govuk-panel--confirmation">
          <h1 class="govuk-panel__title">
            Renewal application sent
          </h1>
        </div>

        <h2 class="govuk-heading-m">What happens next</h2>



        <p class="govuk-body">
          The Access to Work team will review your renewal application.


{% if data ['support-changes'] != 'no-changes' %}
         We will contact you or your representative for information about the changes to the support you need.
{% else %}
If we need more information, we will contact you or your representative.
{% endif %}


{# Also and if else works
 {% if data ['support-changes'] == 'no-changes' %}
      If we need more information, we will contact you or your representative.
      {% else %}
      We will contact you or your representative for information about the changes to the support you need.
      {% endif %}
#}
        </p>
        <p class="govuk-body">
         You will get a new grant award letter once your grant has been renewed.
        </p>

         <!-- <ul class="govuk-list govuk-list--bullet">
          <li>your condition or disabilities</li>
          <li>how your condition or disabilities affect your work</li>
          <li>how your condition or disabilities affect your journey to work</li>
          <li>your job role, place of work or working hours</li>
          <li>your personal details</li>
        </ul> -->

        <p class="govuk-body">
          <a href="https://getinvolved.dwp.gov.uk/digital/cdc1a144/" class="govuk-link">What did you think of this service?</a> (takes 30 seconds)
        </p>

  </div>
  <div class="govuk-grid-column-one-third">
    <hr class="govuk-section-break govuk-section-break--visible">
      <aside id="journey-sidebar" role="region">
        <h2 class="govuk-heading-m govuk-!-margin-top-4">Get help</h2>


        <p class="govuk-body">You can contact us for free by:</p>
        <ul class="govuk-list govuk-list--bullet">
    <li>Telephone: 0800 121 7479</li>
    <li>Textphone: 0800 121 7579</li>
    <li><a href="https://www.relayuk.bt.com/">Relay UK</a>, if you cannot hear or speak on the phone: 18001 then 0800 121 7479</li>
  <li><a href="https://portal.starleaf.com/webrtc?name=DWP&target=DWP@interpreterslive.call.sl">Video Relay Service</a> for British Sign Language – <a href="https://www.dalanguages.co.uk/dwp-bsl/">find out how to use the service</a></li>
    </ul>

        <p class="govuk-body">Opening times: Monday to Friday, 9am to 5pm (except public holidays)</p>
    </aside>


      </div> </div>

{% endblock %}
