{% extends "layout.html" %} {% set serviceName = "Renew Access to Work" %}

{% block pageTitle %}
  Has the support you need changed?
{% endblock %}

{% block beforeContent %}

<div class="govuk-phase-banner">
  <p class="govuk-phase-banner__content">
    <strong class="govuk-tag govuk-phase-banner__content__tag">
      beta
    </strong>
    <span class="govuk-phase-banner__text">
      This is a new service – your <a class="govuk-link" href="https://getinvolved.dwp.gov.uk/digital/cdc1a144">feedback</a> will help us to improve it.
    </span>
  </p>
</div>

{{ govukBackLink({
text: "Back",
href: "javascript:history.go(-1)"
}) }}



{% endblock %}

{% block content %}

  <!-- <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">


      <form class="form" action="contact-details" method="post">


      <form action="/form-handler" method="post" novalidate>

          <div class="govuk-form-group">
            <fieldset class="govuk-fieldset">
              <legend class="govuk-fieldset__legend govuk-fieldset__legend--xl">
                <h1 class="govuk-fieldset__heading">
                  Has the type or cost of support you need changed?
                </h1>
              </legend>

              <div id="dob-hint" class="govuk-hint">
               Answer yes if your employer or job has changed. We will contact you about your renewal if there are any changes.
              </div>

              <div class="govuk-radios" data-module="govuk-radios">
                <div class="govuk-radios__item">
                  <input class="govuk-radios__input" id="support-changed-1" name="support-changed" type="radio" value="Yes~contact-details.html" {{ checked("support-changed", "Yes") }}>
                  <label class="govuk-label govuk-radios__label" for="support-changed-1">
                    Yes
                  </label>
                </div>
                <div class="govuk-radios__item">

                  <input class="govuk-radios__input" id="support-changed-2" name="support-changed" type="radio" value="No~contact-details.html" {{ checked("support-changed", "No") }}>

                  <label class="govuk-label govuk-radios__label" for="support-changed-2">
                    No
                  </label>
                </div>
              </div>

            </fieldset>
          </div> -->

          <div class="govuk-grid-row">
                <div class="govuk-grid-column-two-thirds">

                 <form class="form" action="contact-details" method="post">

                   <div class="govuk-error-summary" aria-labelledby="error-summary-title" role="alert" data-module="govuk-error-summary">
                   <h2 class="govuk-error-summary__title" id="error-summary-title">
                     There is a problem
                   </h2>
                   <div class="govuk-error-summary__body">
                     <ul class="govuk-list govuk-error-summary__list">
                       <li>
                         <a href="#support-changes">Select whether there are any changes to the support you need</a>
                       </li>
                     </ul>
                   </div>
                 </div>


                      <div class="govuk-form-group govuk-form-group--error">
                   <fieldset class="govuk-fieldset" aria-describedby="support-changes-error">
                     <legend class="govuk-fieldset__legend govuk-fieldset__legend--l">
                       <h1 class="govuk-fieldset__heading">
                        Has the support you need changed?
                       </h1>
                     </legend>

                     <div id="support-hint" class="govuk-hint">
                       We will contact you about any changes to your Access to Work grant. Select all changes that apply.
                     </div>

                     <p id="support-changes-error" class="govuk-error-message">
                       <span class="govuk-visually-hidden">Error:</span> Select whether there are any changes to the support you need
                     </p>

                     <div class="govuk-checkboxes" data-module="govuk-checkboxes">
                <div class="govuk-checkboxes" data-module="govuk-checkboxes">
                <div class="govuk-checkboxes__item">
                  <input class="govuk-checkboxes__input" id="support-changes" name="support-changes" type="checkbox" value="cost" {{ checked("support-changes", "cost") }}>
                  <label class="govuk-label govuk-checkboxes__label" for="support-changes">
                   Cost of support has changed
                  </label>
                </div>
                <div class="govuk-checkboxes__item">
                  <input class="govuk-checkboxes__input" id="support-changes-2" name="support-changes" type="checkbox" value="how-often" {{ checked("support-changes", "how-often") }}>
                  <label class="govuk-label govuk-checkboxes__label" for="support-changes-2">
                   How often support is needed has changed
                  </label>
                </div>
                <div class="govuk-checkboxes__item">
                  <input class="govuk-checkboxes__input" id="support-changes-3" name="support-changes" type="checkbox" value="type" {{ checked("support-changes", "type") }}>
                  <label class="govuk-label govuk-checkboxes__label" for="support-changes-3">
                  Type of support needed has changed
                  </label>
                </div>
                
                <div class="govuk-checkboxes__item">
                  <input class="govuk-checkboxes__input" id="support-changes-4" name="support-changes" type="checkbox" value="other" {{ checked("support-changes", "other") }}>
                  <label class="govuk-label govuk-checkboxes__label" for="support-changes-4">
                   Other change to support needed
                  </label>
                </div>
                <div class="govuk-checkboxes__divider">or</div>
                <div class="govuk-checkboxes__item">
                  <input class="govuk-checkboxes__input" id="support-changes-5" name="support-changes" type="checkbox" value="no-changes" data-behaviour="exclusive" {{ checked("support-changes", "no-changes") }}>
                  <label class="govuk-label govuk-checkboxes__label" for="support-changes-5">
                    No changes
                  </label>
                </div>
              </div>

                   </fieldset>
                 </div>


        <button class="govuk-button" data-module="govuk-button">Continue</button>

      </form>

    </div>
    <div class="govuk-grid-column-one-third">
      <hr class="govuk-section-break govuk-section-break--visible">
        <aside id="journey-sidebar" role="region">
          <h2 class="govuk-heading-m govuk-!-margin-top-4">Get help</h2>


          <p class="govuk-body">You can contact us for free by:</p>
          <ul class="govuk-list govuk-list--bullet">
      <li>Telephone: 0800 121 7479</li>
      <li>Textphone: 0800 121 7579</li>
      <li><a href="https://www.relayuk.bt.com/">Relay UK</a>, if you cannot hear or speak on the phone: 18001 then 0800 121 7479</li>
    <li><a href="https://portal.starleaf.com/webrtc?name=DWP&target=DWP@interpreterslive.call.sl">Video Relay Service</a> for British Sign Language – <a href="https://www.dalanguages.co.uk/dwp-bsl/">find out how to use the service</a></li>
      </ul>

          <p class="govuk-body">Opening times: Monday to Friday, 9am to 5pm (except public holidays)</p>
      </aside>


        </div> </div>

{% endblock %}
