{% extends folder + "/" + subfolder + "/intranet/_BASE.html" %}
{% set title = "Letters" %}
{% block intranet %}
<H2><STRONG>Adviser Decision Letters</STRONG></H2>
<P>Introduction</P>
<P>The latest revisions, valid from the&nbsp;12th April&nbsp;2018 are available.
These will need to be used in conjunction with DWP guidelines see below for
further information.</P>
<P>Each of the letters has a corresponding set of completion notes to tell you
what should be included in each section.</P>
<P>Use the letters by:</P>
<UL>
  <LI>opening up a current intranet copy and saving a copy to the customer
  folder located in the shared folder (This will allow you to update it with
  your customer’s information and print copies)</LI>
  <LI><STRONG>Always</STRONG> download a letter from the intranet and
  <STRONG>NOT</STRONG> a saved copy, as letters may be updated regularly.
  Existing letters should not under any circumstances be amended.or used to
  produce other letters.</LI></UL>
<P>Our letter templates are editable and have been designed to add details and
amend as required. For any technical problems, please check the operations
guidance (<A href="#"
rel="nofollow"><U>Completing interactive Word letters</U></A>) before emailing
DWP OED Channel Production Team</P>
<H2><STRONG>Access to Work letters and instructions</STRONG></H2>
<P>New Letters effective from&nbsp;12th April&nbsp;2018</P>
<P>&nbsp;</P>
<H3>Accessibility</H3>
<DIV class="singleBox">
<P>Following Royal National Institute for the Blind (RNIB) advice the following
versions of the letters can be adapted for people with visual impairments by <A
href="#" rel="nofollow">enlarging</A><A
name="P11_432" id="P11_432"></A> the fonts as required</P>
<P>&nbsp;</P></DIV>
<DIV class="singleBox">
<DIV class="border"><A name="H2ApprovalLetters" id="H2ApprovalLetters"></A><BR>
<TABLE  border="1" cellspacing="1" cellpadding="1">
  <THEAD>
  <TR>
    <TH style="border-color: rgb(0, 114, 143); width: 250px; background-color: rgb(215, 232, 238);"
    colspan="2" scope="col">Approval Letters</TH></TR></THEAD>
  <TBODY>
  <TR>
    <TD style="border-color: rgb(0, 114, 143); width: 250px;"><IMG title="application/msword"
      class="file-icon" alt="" src="/public/sass/intranet/x-office-document.png"><A
      class="piwik_download" href="#">ATW01
      TESG</A></TD>
    <TD style="border-color: rgb(0, 114, 143);">
      <P>Application for a Transitional Employer Support Grant (TESG) from
      Access to Work.</P></TD></TR>
  <TR>
    <TD style="border-color: rgb(0, 114, 143); width: 250px;"><SPAN class="file file-document file-application-msword"
      id="file-428862"><SPAN class="content"><SPAN class="file attachment"><IMG
      title="application/msword" class="file-icon" alt="" src="/public/sass/intranet/x-office-document.png">
      <A class="link piwik_download" href="#"
      type="application/msword; length=149504">ATW01W TESG</A></SPAN> </SPAN>
      </SPAN> </TD>
    <TD style="border-color: rgb(0, 114, 143);">Application for a Transitional
      Employer Support Grant (TESG) from Access to Work. - Welsh</TD></TR>
  <TR>
    <TD style="border-color: rgb(0, 114, 143); width: 250px;">
      <P><IMG title="application/msword" class="file-icon" alt="" src="/public/sass/intranet/x-office-document.png"><A
      class="piwik_download" href="#">Customer
      Letter ATW01CL</A></P>
      <P><IMG title="application/msword" class="file-icon" alt="" src="/public/sass/intranet/x-office-document.png">&nbsp;<A
      class="piwik_download" href="#">How
      to complete ATW01CL</A></P></TD>
    <TD style="border-color: rgb(0, 114, 143);">Following&nbsp; Access to Work
      grant, I am writing to you to confirm the support that can be provided,
      details are enclosed.</TD></TR>
  <TR>
    <TD style="border-color: rgb(0, 114, 143); width: 250px;"><SPAN class="file file-document file-application-msword"
      id="file-505275"><SPAN class="content"><SPAN class="file attachment"><IMG
      title="application/msword" class="file-icon" alt="" src="/public/sass/intranet/x-office-document.png">
      <A class="link piwik_download" href="#"
      type="application/msword; length=338432">ATW02 TESG</A></SPAN> </SPAN>
      </SPAN> </TD>
    <TD style="border-color: rgb(0, 114, 143);">Migration notification from
      Work Choice to Access to Work to confirm the Access to Work grant
    awarded.</TD></TR>
  <TR>
    <TD style="border-color: rgb(0, 114, 143); width: 250px;"><SPAN class="file file-document file-application-msword"
      id="file-495342"><SPAN class="content"><SPAN class="file attachment"><IMG
      title="application/msword" class="file-icon" alt="" src="/public/sass/intranet/x-office-document.png">
      <A class="link piwik_download" href="#"
      type="application/msword; length=142336">ATW02 TESG (W).doc</A></SPAN>
      </SPAN>   </SPAN> </TD>
    <TD style="border-color: rgb(0, 114, 143);">Migration notification from
      Work Choice to Access to Work to confirm the Access to Work grant awarded.
      - Welsh</TD></TR>
  <TR>
    <TD style="border-color: rgb(0, 114, 143);">
      <P><IMG title="application/msword" class="file-icon" alt="" src="/public/sass/intranet/x-office-document.png"><A
      class="piwik_download" href="#">Employer
      Letter ATW02EL</A></P>
      <P><IMG title="application/msword" class="file-icon" alt="" src="/public/sass/intranet/x-office-document.png"><A
      class="piwik_download" href="#">How
      to complete ATW02EL</A></P></TD>
    <TD style="border-color: rgb(0, 114, 143);">Following receipt of an
      application for an Access to Work grant from, this letter confirms the
      support that can be provided.</TD></TR>
  <TR>
    <TD style="border-color: rgb(0, 114, 143);"><SPAN class="file file-document file-application-msword"
      id="file-494496"><SPAN class="content"><SPAN class="file attachment"><IMG
      title="application/msword" class="file-icon" alt="" src="/public/sass/intranet/x-office-document.png">
      <A class="link piwik_download" href="#"
      type="application/msword; length=339968">ATW03 TESG.doc</A></SPAN> </SPAN>
        </SPAN> </TD>
    <TD style="border-color: rgb(0, 114, 143);"><SPAN style="color: black; font-size: 10.5pt;">Early
      migration </SPAN><SPAN
      style="color: rgb(31, 73, 125); font-size: 10.5pt;">(Working Links
      Employees ONLY) </SPAN><SPAN
      style="color: black; font-size: 10.5pt;">notification from Work Choice to
      Access to Work (1 Jan 2019 – 31 March 19) to confirm the Access to Work
      grant awarded.</SPAN></TD></TR>
  <TR>
    <TD style="border-color: rgb(0, 114, 143);"><SPAN class="file file-document file-application-msword"
      id="file-503900"><SPAN class="content"><SPAN class="file attachment"><IMG
      title="application/msword" class="file-icon" alt="" src="/public/sass/intranet/x-office-document.png">
      <A class="link piwik_download" href="#"
      type="application/msword; length=218112">ATW03 TESGW</A></SPAN> </SPAN>
      </SPAN> </TD>
    <TD style="border-color: rgb(0, 114, 143);"><SPAN style="color: black; font-size: 10.5pt;">Early
      migration</SPAN><SPAN style="color: rgb(31, 73, 125); font-size: 10.5pt;">
      </SPAN><SPAN style="color: black; font-size: 10.5pt;">notification from
      Work Choice to Access to Work (1 Jan 2019 – 31 March 19) to confirm the
      Access to Work grant awarded - Welsh</SPAN></TD></TR></TBODY></TABLE>
<P><A name="H2EligibilityQuestionnaire"
id="H2EligibilityQuestionnaire"></A></P></DIV></DIV>
<DIV class="singleBox">
<DIV class="border">
<TABLE  border="1" cellspacing="1" cellpadding="1">
  <THEAD>
  <TR>
    <TH style="border-color: rgb(0, 114, 143); width: 250px; background-color: rgb(215, 232, 238);"
    colspan="2" scope="col">Eligibility&nbsp;Questionnaire</TH></TR></THEAD>
  <TBODY>
  <TR>
    <TD style="border-color: rgb(0, 114, 143); width: 250px;">
      <P><IMG title="application/msword" class="file-icon" alt="" src="/public/sass/intranet/x-office-document.png"><A
      class="piwik_download" href="#">Questionnaire</A></P></TD>
    <TD style="border-color: rgb(0, 114, 143);">Customer Eligibility
      Questionnaire</TD></TR></TBODY></TABLE>
<P><A name="P42_1096" id="P42_1096"></A><A name="H2WithdrawalLetters" id="H2WithdrawalLetters"></A></P></DIV></DIV>
<DIV class="singleBox">
<DIV class="border">
<TABLE  border="1" cellspacing="1" cellpadding="1">
  <THEAD>
  <TR>
    <TH style="border-color: rgb(0, 114, 143); width: 250px; background-color: rgb(215, 232, 238);"
    colspan="2" scope="col">Withdrawal Letters</TH></TR></THEAD>
  <TBODY>
  <TR>
    <TD style="border-color: rgb(0, 114, 143); width: 250px;">
      <P><IMG title="application/msword" class="file-icon" alt="" src="/public/sass/intranet/x-office-document.png"><A
      class="piwik_download" href="#">No
      contact within 72 hours ATW03NCL</A></P>
      <P><IMG title="application/msword" class="file-icon" alt="" src="/public/sass/intranet/x-office-document.png"><A
      class="piwik_download" href="#">How
      to complete ATW03NCL</A></P></TD>
    <TD style="border-color: rgb(0, 114, 143);">Withdrawal letter - 72 Hours
      No Contact Letter</TD></TR>
  <TR>
    <TD style="border-color: rgb(0, 114, 143);">
      <P><IMG title="application/msword" class="file-icon" alt="" src="/public/sass/intranet/x-office-document.png"><A
      class="piwik_download" href="#">Withdrawal
      ATW04</A></P>
      <P><IMG title="application/msword" class="file-icon" alt="" src="/public/sass/intranet/x-office-document.png">&nbsp;<A
      class="link piwik_download" href="#">Withdrawal
      ATW04 (Welsh)</A></P>
      <P><IMG title="application/msword" class="file-icon" alt="" src="/public/sass/intranet/x-office-document.png"><A
      class="piwik_download" href="#">How
      to complete ATW04</A></P></TD>
    <TD style="border-color: rgb(0, 114, 143);">New Withdrawal Letter&nbsp; -
      This letter is to inform you that the offer of help from Access to Work
      programme for XXXXX has been withdrawn</TD></TR>
  <TR>
    <TD style="border-color: rgb(0, 114, 143);">
      <P><IMG title="application/msword" class="file-icon" alt="" src="/public/sass/intranet/x-office-document.png"><A
      class="piwik_download" href="#">Not
      Approved Rejection ATW05NARL</A></P>
      <P><IMG title="application/msword" class="file-icon" alt="" src="/public/sass/intranet/x-office-document.png"><A
      class="piwik_download" href="#">How
      to complete ATW05NARL</A></P></TD>
    <TD style="border-color: rgb(0, 114, 143);">Application Rejection
      Letter&nbsp; - Following your application for an Access to Work grant, I
      am writing to tell you that on this occasion your application has not been
      approved.</TD></TR></TBODY></TABLE>
<P><A name="H2MedicalLetter" id="H2MedicalLetter"></A></P></DIV></DIV>
<DIV class="singleBox">
<DIV class="border">
<TABLE  border="1" cellspacing="1" cellpadding="1">
  <THEAD>
  <TR>
    <TH style="border-color: rgb(0, 114, 143); width: 250px; background-color: rgb(215, 232, 238);"
    colspan="2" scope="col">Medical Letter</TH></TR></THEAD>
  <TBODY>
  <TR>
    <TD style="border-color: rgb(0, 114, 143); width: 250px;">
      <P><IMG title="application/msword" class="file-icon" alt="" src="/public/sass/intranet/x-office-document.png"><A
      class="piwik_download" href="#">Customer
      Letter ATW06MEDL</A></P>
      <P><IMG title="application/msword" class="file-icon" alt="" src="/public/sass/intranet/x-office-document.png"><A
      class="piwik_download" href="#">How
      to complete ATW06MEDL</A></P></TD>
    <TD style="border-color: rgb(0, 114, 143);">Medical Letter - Having
      received your application for assistance under the Access to Work
      programme, we are now considering your application for Travel to Work /
      Travel in Work support.</TD></TR>
  <TR>
    <TD style="border-color: rgb(0, 114, 143);">
      <P><IMG title="application/msword" class="file-icon" alt="" src="/public/sass/intranet/x-office-document.png"><A
      class="piwik_download" href="#">Customer
      Letter ATW06WMEDL</A></P></TD>
    <TD style="border-color: rgb(0, 114, 143);">&nbsp;</TD></TR></TBODY></TABLE>
<P><A name="H2EmployerFunding" id="H2EmployerFunding"></A></P></DIV></DIV>
<DIV class="singleBox">
<DIV class="border">
<TABLE  border="1" cellspacing="1" cellpadding="1">
  <THEAD>
  <TR>
    <TH style="border-color: rgb(0, 114, 143); width: 250px; background-color: rgb(215, 232, 238);"
    colspan="2" scope="col">Employer Funding</TH></TR></THEAD>
  <TBODY>
  <TR>
    <TD style="border-color: rgb(0, 114, 143); width: 250px;">
      <P><IMG title="application/msword" class="file-icon" alt="" src="/public/sass/intranet/x-office-document.png"><A
      class="piwik_download" href="#">Customer
      Letter ATW10EFL</A></P>
      <P><IMG title="application/msword" class="file-icon" alt="" src="/public/sass/intranet/x-office-document.png"><A
      class="piwik_download" href="#">How
      to complete ATW10EFL</A></P></TD>
    <TD style="border-color: rgb(0, 114, 143);">Employer Funding Letter&nbsp;
      - OGD - Employer Funding, Customer letter - I am writing to confirm that
      the support identified to help you at work cannot be funded by Access to
      Work.</TD></TR></TBODY></TABLE>
<P><A name="H2MandatoryReconsiderationLetter" id="H2MandatoryReconsiderationLetter"></A></P></DIV></DIV>
<DIV class="singleBox">
<DIV class="border">
<TABLE style="width: 400px;" border="1" cellspacing="1" cellpadding="1">
  <THEAD>
  <TR>
    <TH style="border-color: rgb(0, 114, 143); background-color: rgb(215, 232, 238);"
    scope="col">Reconsideration Letter</TH></TR></THEAD>
  <TBODY>
  <TR>
    <TD style="border-color: rgb(0, 114, 143);">
      <P><IMG title="application/msword" class="file-icon" alt="" src="/public/sass/intranet/x-office-document.png">&nbsp;<A
      class="piwik_download" href="#"><U>Reconsideration
      Letter ATW12MRL</U></A></P>
      <P><STRONG><U><IMG title="application/msword" class="file-icon" alt=""
      src="/public/sass/intranet/x-office-document.png"></U></STRONG>
      <A class="piwik_download" href="#"><U>How
      to complete ATW12MRL</U></A></P></TD></TR>
  <TR>
    <TD style="border-color: rgb(0, 114, 143);">
      <P><STRONG><U><IMG title="application/msword" class="file-icon" alt=""
      src="/public/sass/intranet/x-office-document.png"></U></STRONG>&nbsp;<A
      class="piwik_download" href="#"><U>Reconsideration
      Letter ATW12WMRL</U></A></P></TD></TR></TBODY></TABLE>
<H2>&nbsp;</H2>
<P>&nbsp;</P></DIV></DIV>
{% endblock %}
