{% set page = "claim" %}
{% set claim = "true" %}
{% set title = "Case details" %}

{% extends folder + "/claim/_CSIBASE.html" %}

{% block csi %}

<form action="select-sw-2" method="post" novalidate>
<div class="govuk-width-container">


  <main class="govuk-main-wrapper " id="main-content" role="main">
    <div class="govuk-grid-row">
      <div class="govuk-grid-column-two-thirds">

        <div class="govuk-form-group">
<fieldset class="govuk-fieldset" aria-describedby="approve-2-hint">
  <legend class="govuk-fieldset__legend govuk-fieldset__legend--l">
    <h1 class="govuk-fieldset__heading">
Do you want to add this support worker to {% if case =='other-cases-2' %}Thomas King{% endif %}{% if case =='other-cases' %}Sonya Corkery{% endif %}{% if not case %}Dereck Smith{% endif %}'s award?
    </h1>
  </legend>
  <div class="govuk-inset-text">
 Note taker
  </div>
  <div class="govuk-radios " data-module="govuk-radios">
    <div class="govuk-radios__item">
      <input class="govuk-radios__input" id="approve-2" name="approve-2" type="radio" value="true~select-sw-2">
      <label class="govuk-label govuk-radios__label" for="approve-2">
        Yes, add to the award
      </label>
    </div>
    <div class="govuk-radios__item">
      <input class="govuk-radios__input" id="approve-2-2" name="approve-2" type="radio" value="false~not-needed-2">
      <label class="govuk-label govuk-radios__label" for="approve-2-2">
        No, do not add to the award
      </label>
    </div>
  </div>

</fieldset>
</div>
                   <button class="govuk-button" data-module="govuk-button">
                   Save and continue
                   </button>

                   </form>


                   </main>
                 </div>


               {% endblock %}
