{% set page = "claim" %}
{% set claim = "true" %}
{% set title = "Case details" %}

{% extends folder + "/claim/_CSIBASE.html" %}

{% block csi %}
<br>

<form action="/live-16/cases/claim#your-tasks" method="post" novalidate>


  <div class="govuk-width-container">
    <!-- <a href="#" class="govuk-back-link">Back</a> -->

    <main class="govuk-main-wrapper">

      <div class="govuk-grid-row">
        <div class="govuk-grid-column-two-thirds">

  <div class="govuk-form-group">
             <fieldset class="govuk-fieldset">
               <legend class="govuk-fieldset__legend govuk-fieldset__legend--l">
                 <h2 class="govuk-fieldset__heading">
                Have you sent a CIS500 to update Searchlight?
                 </h2>
               </legend>


               <div class="govuk-radios govuk-radios--inline">
                 <div class="govuk-radios__item">
                   <input class="govuk-radios__input" id="cis500" name="cis500" type="radio" value="Yes" {{ checked("cis500", "Yes") }}>
                   <label class="govuk-label govuk-radios__label" for="cis500">
                     Yes
                   </label>
                 </div>
                 <div class="govuk-radios__item">
                   <input class="govuk-radios__input" id="cis500-2" name="cis500" type="radio" value="No" {{ checked("cis500", "No") }}>
                   <label class="govuk-label govuk-radios__label" for="cis500-2">
                     No
                   </label>
                 </div>

               </div>

             </fieldset>
           </div>

           <button class="govuk-button" data-module="govuk-button">
             Save and continue
           </button>
         </form>
       </div>
     </div>


   </main>
   </div>



{% endblock %}
