<dl class="govuk-summary-list govuk-!-margin-bottom-9">
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">

            Health condition or disability

          </dt>
          <dd class="govuk-summary-list__value">
            macular oedema
            <br>

            <br>

            <br>
          </dd>

          <dd class="govuk-summary-list__actions">

          {% if  changeHide %}   <a href="#">
              Change
              <span class="govuk-visually-hidden"> What condition or disability do you have?</span>
            </a>{% endif %}

          </dd>
        </div>

      <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">

          How does your condition or disability affect you at work?

        </dt>
        <dd class="govuk-summary-list__value">
          I have macular oedema which has cause permanent vision loss in both eyes. It was caused by my diabetes.

I ask colleagues to read thing out aloud and describe them to me on video calls and in person.


          <br>
        </dd>

        <dd class="govuk-summary-list__actions">

        {% if  changeHide %}   <a href="#">
            Change
            <span class="govuk-visually-hidden"> How do your conditions or disabilities affect you at work?</span>
          </a>{% endif %}

        </dd>
      </div>
    </dl>
