








<br>
      <div class="govuk-grid-row">
        <div class="govuk-grid-column-one-third">
          <h1 class="govuk-heading-m">Your other cases (1)</h1>


<form action="/live-atwis/5/your-cases-inprogress-teamleader/index#other" method="post" novalidate for="submitButtonRequestother">
        <div class="govuk-grid-column-one-quaters">

          <div class="govuk-form-group" style="float: left">
            <label class="govuk-label" for="sort">
              Type of case
            </label>
            <select class="govuk-select" id="other" name="other">
              <option value="any"
                {% if 'any' in data['other']%}selected{% endif %}>Any</option>
              <option value="new"
              {% if 'new' in data['other']%}selected{% endif %} >New application</option>
              <option value="renewal"
              {% if 'renewal' in data['other']%}selected{% endif %}>Renewal</option>

            </select>
            </div>
            <div class="govuk-grid-column-one-quaters">
            <button type="submit" class="govuk-button" data-module="govuk-button" id="submitButtonRequestother" value="Request a new other case">Request a new other case</button></form>

</div>


</div></div>
<div class="govuk-grid-column-full">

<table class="govuk-table">
<caption class="govuk-table__caption govuk-table__caption--m">Cases</caption>
<thead class="govuk-table__head">
  <tr class="govuk-table__row">
    <th scope="col" class="govuk-table__header">Name</th>
    <th scope="col" class="govuk-table__header">  Type of case</th>
          <th scope="col" class="govuk-table__header">Date submitted</th>
  </tr>
</thead>




      <tr class="click-row govuk-table__row" >
        <th scope="row" class="govuk-table__header"><a href="">Sarah Keystone</a></th>
            <td class="govuk-table__cell">New application</td>
            <td class="govuk-table__cell numeric">25 Jul 2025, 11:55am</td>



        </tr>










  </table>
</div>
