
{% set changeHide = 'true '%}

{% if claim %}
<nav class="navigation-secondary" style="max-width: 1280px">
      <ul style="max-width: 1280px">
          <li>
            <a href="summary-teamlead" aria-current="page" class="active" >Application summary</a>

</li>

<li >
  <a href="summary-application_teamlead" aria-current="page">Application details</a>

</li>
<li >
  <a href="summary-data" aria-current="page">Data</a>

</li>



        </ul>

        </nav>

        <div class="govuk-tabs__panel" id="application-summary">




       <div class="govuk-grid-row">
      <div class="govuk-grid-column-two-thirds">




<script>
  window.onload = function() {
    sessionStorage.removeItem('live-nino');
  };
  </script>

<h2 class="govuk-heading-l">Application summary</h2>
  <dl class="govuk-summary-list govuk-summary-list--no-border">
    <dl class="govuk-summary-list govuk-summary-list--no-border">

            <div class="govuk-summary-list__row">







<p>URN: 123456789</p>
<details class="govuk-details">
  <summary class="govuk-details__summary">
    <span class="govuk-details__summary-text">
  Edit URN
    </span>
  </summary>
  <div class="govuk-details__text">
    <div class="govuk-form-group">
      <label class="govuk-label" for="event-name">
      URN
      </label>
      <input class="govuk-input govuk-input--width-10" id="URN" name="URN" type="text" value="123456789">
    </div>

    <div>
      <input type="submit" class="govuk-button" id="submitButtonEditAdvisor" value="Save">
    </div>
  </div>
</details>






                    <div class="govuk-summary-list__row">


                          <dt class="govuk-summary-list__key">
                        End date of data retention
                          </dt>
                          <dd class="govuk-summary-list__value">


                            <script>// Get date
                                var now = new Date();
                                var pastDate = new Date(now);
                                pastDate.setDate(now.getDate() + 730);

                                var formattedDate = pastDate.toLocaleDateString('en-GB', {
                                day: 'numeric',
                                month: 'long',
                                year: 'numeric'
                                });

                                var formattedTime = pastDate.toLocaleTimeString('en-GB', {
                                hour: 'numeric',
                                minute: 'numeric',
                                hour12: true
                                });

                                document.write(formattedDate);</script>     </dd>
                        </div>
      <div class="govuk-summary-list__row">


            <dt class="govuk-summary-list__key">
            Date submitted
            </dt>
            <dd class="govuk-summary-list__value">


              <script>// Get date
                  var now = new Date();
                  var pastDate = new Date(now);
                  pastDate.setDate(now.getDate() - 100);

                  var formattedDate = pastDate.toLocaleDateString('en-GB', {
                  day: 'numeric',
                  month: 'long',
                  year: 'numeric'
                  });

                  var formattedTime = pastDate.toLocaleTimeString('en-GB', {
                  hour: 'numeric',
                  minute: 'numeric',
                  hour12: true
                  });

                  document.write(formattedDate + ' at 3:00 pm');</script>     </dd>
          </div>
  <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">
          Full name
        </dt>
        <dd class="govuk-summary-list__value">


      Harold Lzhdrjrr Allen       </dd>
      </div>
    <div class="govuk-summary-list__row">
      <dt class="govuk-summary-list__key">
      Employer
      </dt>
      <dd class="govuk-summary-list__value">
        Smith PLC
      </dd>
    </div>

    <div class="govuk-summary-list__row">
      <dt class="govuk-summary-list__key">
      Condition
      </dt>
      <dd class="govuk-summary-list__value">
Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
      </dd>
    </div>

  </dl>

<h2 class="govuk-heading-l">Case history</h2>


<div class="moj-timeline">

  {% if data['data-delete-hold-off']=='yes'%}
    <div class="moj-timeline__item">
      <span class="govuk-body">
        <time datetime="2023-06-06T09:12:00.000Z"><script>
          // Get the current date and time
               var now = new Date();
               var date = now.toLocaleDateString('en-GB', { day: 'numeric', month: 'long', year: 'numeric' });
               var time = now.toLocaleTimeString('en-GB', { hour: 'numeric', minute: 'numeric', hour12: true });

               // Write the date and time to the HTML page
               document.write(date + ' at 11:13 am');
             </script></time>
      </span>
    <div class="moj-timeline__header">
      <h2 class="moj-timeline__title">Data retention taken off hold   </h2>

      <p>by Al Ó Catháin </p>
    </div>
  </div>

  {% endif %}

{% if data['data-delete-hold']=='yes' %}
  <div class="moj-timeline__item">
    <span class="govuk-body">
      <time datetime="2023-06-06T09:12:00.000Z"><script>
        // Get the current date and time
             var now = new Date();
             var date = now.toLocaleDateString('en-GB', { day: 'numeric', month: 'long', year: 'numeric' });
             var time = now.toLocaleTimeString('en-GB', { hour: 'numeric', minute: 'numeric', hour12: true });

             // Write the date and time to the HTML page
             document.write(date + ' at 11:13 am');
           </script></time>
    </span>
  <div class="moj-timeline__header">
    <h2 class="moj-timeline__title">Data deletion for this application is on hold in ATWIS.    </h2>

    <p>by Al Ó Catháin </p>
  </div>
</div>

{% endif %}
            <div class="moj-timeline__item">
              <span class="govuk-body">
                <time datetime="2023-06-06T09:12:00.000Z"><script>
                  // Get the current date and time
                  var now = new Date();
                  var pastDate = new Date(now);
                  pastDate.setDate(now.getDate() - 20);

                  var formattedDate = pastDate.toLocaleDateString('en-GB', {
                  day: 'numeric',
                  month: 'long',
                  year: 'numeric'
                  });

                  var formattedTime = pastDate.toLocaleTimeString('en-GB', {
                  hour: 'numeric',
                  minute: 'numeric',
                  hour12: true
                  });

                  document.write(formattedDate + ' at 9:15 am');

                     </script></time>
              </span>
            <div class="moj-timeline__header">
              <h2 class="moj-timeline__title">Application copied to DiSC  </h2>
              <p>by John Goldsmith </p>
            </div>
    </div>

          <div class="moj-timeline__item">
            <span class="govuk-body">
              <time datetime="2023-06-06T09:12:00.000Z"><script>
                var now = new Date();
                var pastDate = new Date(now);
                pastDate.setDate(now.getDate() - 30);

                var formattedDate = pastDate.toLocaleDateString('en-GB', {
                day: 'numeric',
                month: 'long',
                year: 'numeric'
                });

                var formattedTime = pastDate.toLocaleTimeString('en-GB', {
                hour: 'numeric',
                minute: 'numeric',
                hour12: true
                });

                document.write(formattedDate + ' at 9:18 am');
                   </script></time>
            </span>
          <div class="moj-timeline__header">
            <h2 class="moj-timeline__title">Application allocated to John Goldsmith  </h2>
            <p>by Al O'Cator </p>
          </div>
  </div>


          <div class="moj-timeline__item">
            <span class="govuk-body">
              <time datetime="2023-05-28T10:15:00.000Z"><script>
                // Get date
                    var now = new Date();
                    var pastDate = new Date(now);
                    pastDate.setDate(now.getDate() - 100);

                    var formattedDate = pastDate.toLocaleDateString('en-GB', {
                    day: 'numeric',
                    month: 'long',
                    year: 'numeric'
                    });

                    var formattedTime = pastDate.toLocaleTimeString('en-GB', {
                    hour: 'numeric',
                    minute: 'numeric',
                    hour12: true
                    });

                    document.write(formattedDate + ' at 3:00 pm');
                   </script></time>
            </span>
            <div class="moj-timeline__header">

              <h2 class="moj-timeline__title">Application received</h2>
              <p></p>
            </div>

          </div>


        </div>


</div>






 <div class="govuk-grid-column-one-third">



       <h3 id="update-adviser-heading" class="govuk-heading-m">Update case manger</h3>
       <form action="/cases/apply/RMPX3current/update-adviser" method="post" class="form" id="form-update-adviser" data-submitonce="data-submitonce">
         <div class="govuk-form-group form-group-compound">
           <select class="govuk-select" id="handlerId" name="handlerId" aria-labelledby="update-adviser-heading">
             <option value="" data-name=""></option>

                   <option value="4" data-name="Aaron">Aaron</option>

                   <option value="36" data-name="Adviser">Adviser</option>

                   <option value="37" data-name="Case Team Lead">Case Team Lead</option>

                   <option value="35" data-name="FRM">FRM</option>

                   <option value="38" data-name="Payment Officer">Payment Officer</option>

                   <option value="39" data-name="Payment Team Lead" selected="selected"> John Goldsmith</option>

                   <option value="40" data-name="Quality">Quality</option>

                   <option value="42" data-name="Quality1">Quality1</option>

                   <option value="5" data-name="Shannon White">Shannon White</option>

                   <option value="34" data-name="Telephony Agent">Telephony Agent</option>



           </select>
         </div>
         <div>
           <input type="submit" class="govuk-button" id="submitButtonEditAdvisor" value="Save">
         </div>
       </form>



     <div class="govuk-form-group">
             <h2 id="update-specialism-heading" class="govuk-heading-m">Update specialism</h2>
             <form action="/atw/ui-agent_f-7909_atw/cases/apply/GOVGL5YM/update-specialism" method="post" class="form" id="form-update-specialism" autocomplete="off" data-submitonce="">
                 <div class="govuk-form-group form-group-compound">
                 <select class="govuk-select" id="specialismId" name="specialism" aria-labelledby="update-specialism-heading">

                     <option value="" data-name=""></option>


                         <option value="self_employed" data-name="Self-employed">
                     Self-employed
                     </option>

                         <option value="director" data-name="Director">
                     Director
                     </option>

                         <option value="hidden" data-name="Hidden impairments">
                     Hidden impairments
                     </option>

                         <option value="large_employer" data-name="Large employer">
                     Large employer
                     </option>

                         <option value="deaf" data-name="Deaf">
                     Deaf
                     </option>

                         <option value="visual" data-name="Visually impaired">
                     Visually impaired
                     </option>

                         <option value="unknown" data-name="Pan disability">
                     Pan disability
                     </option>

                 </select>
                 </div>
                 <div>
                   <input type="hidden" name="caseVersion" value="v2">
                   <input type="submit" class="govuk-button" id="submitButtonSpecialism" value="Update">
                 </div>
             </form>
         </div>




     <script>
     window.onload = function() {
       document.getElementById("timeline-date").innerHTML=moment().format("DD MM YYYY");
     }
   </script>

</div></div>


</div>








  <div class="govuk-tabs__panel govuk-tabs__panel--hidden" id="checks">
<div class="govuk-grid-row">
<div class="govuk-grid-column-two-thirds">


            <div>





              <h1 class="govuk-heading-l">Copy this case over to DISC</h1>
              <p class="govuk-body">
                <span class="bold">Version of questions:</span>

                  1.20.0-rc
                <br>
              </p>
            </div>

      {% include  "live-atwis/current/cases/harold/cases/application.html" %}



  </div>
  </div>  </div>

  <div class="govuk-tabs__panel govuk-tabs__panel--hidden" id="data">


    <div class="govuk-grid-row">
   <div class="govuk-grid-column-two-thirds">
{% if data['data-delete-hold']=='yes' and not data['data-delete-hold-off']%}
<div class="govuk-notification-banner govuk-notification-banner--success" role="alert" aria-labelledby="govuk-notification-banner-title" data-module="govuk-notification-banner">
  <div class="govuk-notification-banner__header">
    <h2 class="govuk-notification-banner__title" id="govuk-notification-banner-title">
      Success
    </h2>
  </div>
  <div class="govuk-notification-banner__content">
  <p class="govuk-notification-banner__heading">
      Data deletion for this application is on hold. Data will not be deleted from ATWIS until the hold is lifted.
    </p>
    </div>
</div>


<h1 class="govuk-heading-l">Take data deletion off hold</h1>

<p>Data deletion for this application is currently on hold. If the investigation for [applicant name]'s application is complete, you must <a href="data/hold">take data deletion off hold</a>.</p>
<div class="govuk-warning-text">
  <span class="govuk-warning-text__icon" aria-hidden="true">!</span>
  <strong class="govuk-warning-text__text">
    <span class="govuk-visually-hidden">Warning</span>
    In line with General Data Protection Regulation (GDPR), this application and its data will be kept for 24 months in ATWIS, until <script>// Get date
          var now = new Date();
          var pastDate = new Date(now);
          pastDate.setDate(now.getDate() + 730);

          var formattedDate = pastDate.toLocaleDateString('en-GB', {
          day: 'numeric',
          month: 'long',
          year: 'numeric'
          });

          var formattedTime = pastDate.toLocaleTimeString('en-GB', {
          hour: 'numeric',
          minute: 'numeric',
          hour12: true
          });

          document.write(formattedDate);</script>. After this date, [applicant name]'s data will be permanently deleted from ATWIS. If this date has already passed, data will be deleted immediately.


  </strong>
</div>

{% endif %}

{% if not data['data-delete-hold-off'] and not data['data-delete-hold']%}
<h1 class="govuk-heading-l">Put data deletion on hold</h1>


<div class="govuk-warning-text">
  <span class="govuk-warning-text__icon" aria-hidden="true">!</span>
  <strong class="govuk-warning-text__text">
    <span class="govuk-visually-hidden">Warning</span>
  In line with General Data Protection Regulation (GDPR), this application and its data will be kept for 24 months in ATWIS, until   <script>// Get date
        var now = new Date();
        var pastDate = new Date(now);
        pastDate.setDate(now.getDate() + 730);

        var formattedDate = pastDate.toLocaleDateString('en-GB', {
        day: 'numeric',
        month: 'long',
        year: 'numeric'
        });

        var formattedTime = pastDate.toLocaleTimeString('en-GB', {
        hour: 'numeric',
        minute: 'numeric',
        hour12: true
        });

        document.write(formattedDate);</script>. After this date, [applicant name]'s data will be permanently deleted from ATWIS.
  </strong>
</div>




<p>If this application is being investigated and you need to stop data from being deleted before the investigation is complete, you can
    <a href="./data">put data deletion on hold</a>.</p>
{% endif %}



{% if data['data-delete-hold']=='yes' and data['data-delete-hold-off']=='yes'%}
<h1 class="govuk-heading-l">Put data deletion on hold</h1>


<div class="govuk-warning-text">
  <span class="govuk-warning-text__icon" aria-hidden="true">!</span>
  <strong class="govuk-warning-text__text">
    <span class="govuk-visually-hidden">Warning</span>
  In line with General Data Protection Regulation (GDPR), this application and its data will be kept for 24 months in ATWIS, until   <script>// Get date
        var now = new Date();
        var pastDate = new Date(now);
        pastDate.setDate(now.getDate() + 730);

        var formattedDate = pastDate.toLocaleDateString('en-GB', {
        day: 'numeric',
        month: 'long',
        year: 'numeric'
        });

        var formattedTime = pastDate.toLocaleTimeString('en-GB', {
        hour: 'numeric',
        minute: 'numeric',
        hour12: true
        });

        document.write(formattedDate);</script>. After this date, [applicant name]'s data will be permanently deleted from ATWIS.
  </strong>
</div>




<p>If this application is being investigated and you need to stop data from being deleted before the investigation is complete, you can
    <a href="./data">put data deletion on hold</a>.</p>

{% endif %}
    </div>
  </div>












{% endif %}
