{% set monthAndYear = "November 2023" %}






        <div class="moj-timeline">
          {% if data['_do_5']%}
                    <div class="moj-timeline__item">
                      <time datetime="2023-06-06T09:22:00.000Z">
                        <span class="govuk-body">
                          {% if data['todays-date5']=='No'%}
                          {{ data['contact-date-day-5'] }}
                            {% if (data['contact-date-month-5'] =='01') or (data['contact-date-month-5'] =='1') %} January {% endif%}
                            {% if (data['contact-date-month-5'] =='02') or (data['contact-date-month-5'] =='2') %} February  {% endif%}
                            {% if (data['contact-date-month-5'] =='03') or (data['contact-date-month-5'] =='3') %} March {% endif%}
                            {% if (data['contact-date-month-5'] =='04') or (data['contact-date-month-5'] =='4') %} June {% endif%}
                            {% if (data['contact-date-month-5'] =='05') or (data['contact-date-month-5'] =='5') %} May {% endif%}
                            {% if (data['contact-date-month-5'] =='06') or (data['contact-date-month-5'] =='6') %} June {% endif%}
                            {% if (data['contact-date-month-5'] =='07') or (data['contact-date-month-5'] =='7') %} July {% endif%}
                            {% if (data['contact-date-month-5'] =='08') or (data['contact-date-month-5'] =='8') %} August {% endif%}
                            {% if (data['contact-date-month-5'] =='09') or (data['contact-date-month-5'] =='9') %} September {% endif%}
                            {% if data['contact-date-month-5'] =='10' %} October {% endif%}
                            {% if data['contact-date-month-5'] =='11'%} November {% endif%}
                            {% if data['contact-date-month-5'] =='12' %} December {% endif%}
                            {{ data['contact-date-year-5'] }} {% endif %}


                      {% if data['todays-date5']=='Yes'%}
                            <script>
                              // Get the current date and time
                                   var now = new Date();
                                   var date = now.toLocaleDateString('en-GB', { day: 'numeric', month: 'long', year: 'numeric' });
                                   var time = now.toLocaleTimeString('en-GB', { hour: 'numeric', minute: 'numeric', hour12: true });

                                   // Write the date and time to the HTML page
                                   document.write(date + ' at ');
                                 </script>{{data['contact-time-5']}}{% endif %}

                    </time>

                              <div class="moj-timeline__header">
                                <h2 class="moj-timeline__title">
                                  {{data['_do_5']}}

                                  </h2>
                                <p >by John Goldsmith </p>
                              </div>

                <p>{{data['summary-case-history5']}}</p>
                    <p> <a href="/live-atwis/1/cases/contact/5/{% if data['_do_5']=='Email sent'%}email-log{% endif %}{% if data['_do_5']=='Email received'%}email-log{% endif %}{% if data['_do_5']=='Telephone call made'%}phone-log{% endif %}{% if data['_do_5']=='Telephone call received'%}phone-log{% endif %}{% if data['_do_5']=='Text message (SMS) sent'%}sms-log{% endif %}">View details</a></p>
                              </div>
          {% endif %}
          {% if data['_do_4']%}
                    <div class="moj-timeline__item">
                      <time datetime="2023-06-06T09:22:00.000Z">
                        <span class="govuk-body">
                          {% if data['todays-date4']=='No'%}
                          {{ data['contact-date-day-4'] }}
                            {% if (data['contact-date-month-4'] =='01') or (data['contact-date-month-4'] =='1') %} January {% endif%}
                            {% if (data['contact-date-month-4'] =='02') or (data['contact-date-month-4'] =='2') %} February  {% endif%}
                            {% if (data['contact-date-month-4'] =='03') or (data['contact-date-month-4'] =='3') %} March {% endif%}
                            {% if (data['contact-date-month-4'] =='04') or (data['contact-date-month-4'] =='4') %} June {% endif%}
                            {% if (data['contact-date-month-4'] =='05') or (data['contact-date-month-4'] =='5') %} May {% endif%}
                            {% if (data['contact-date-month-4'] =='06') or (data['contact-date-month-4'] =='6') %} June {% endif%}
                            {% if (data['contact-date-month-4'] =='07') or (data['contact-date-month-4'] =='7') %} July {% endif%}
                            {% if (data['contact-date-month-4'] =='08') or (data['contact-date-month-4'] =='8') %} August {% endif%}
                            {% if (data['contact-date-month-4'] =='09') or (data['contact-date-month-4'] =='9') %} September {% endif%}
                            {% if data['contact-date-month-4'] =='10' %} October {% endif%}
                            {% if data['contact-date-month-4'] =='11'%} November {% endif%}
                            {% if data['contact-date-month-4'] =='12' %} December {% endif%}
                            {{ data['contact-date-year-4'] }} {% endif %}


                      {% if data['todays-date4']=='Yes'%}
                            <script>
                              // Get the current date and time
                                   var now = new Date();
                                   var date = now.toLocaleDateString('en-GB', { day: 'numeric', month: 'long', year: 'numeric' });
                                   var time = now.toLocaleTimeString('en-GB', { hour: 'numeric', minute: 'numeric', hour12: true });

                                   // Write the date and time to the HTML page
                                   document.write(date + ' at ');
                                 </script>{{data['contact-time-4']}}{% endif %}

                    </time>

                              <div class="moj-timeline__header">
                                <h2 class="moj-timeline__title">
                                  {{data['_do_4']}}

                                  </h2>
                                <p >by John Goldsmith </p>
                              </div>
<p>{{data['summary-case-history4']}}</p>
                    <p> <a href="/live-atwis/1/cases/contact/4/{% if data['_do_4']=='Email sent'%}email-log{% endif %}{% if data['_do_4']=='Email received'%}email-log{% endif %}{% if data['_do_4']=='Telephone call made'%}phone-log{% endif %}{% if data['_do_4']=='Telephone call received'%}phone-log{% endif %}{% if data['_do_4']=='Text message (SMS) sent'%}sms-log{% endif %}">View details</a></p>
                              </div>
          {% endif %}

          {% if data['_do_3']%}
                    <div class="moj-timeline__item">
                      <time datetime="2023-06-06T09:22:00.000Z">
                        <span class="govuk-body">
                          {% if data['todays-date3']=='No'%}
                          {{ data['contact-date-day-3'] }}
                            {% if (data['contact-date-month-3'] =='01') or (data['contact-date-month-3'] =='1') %} January {% endif%}
                            {% if (data['contact-date-month-3'] =='02') or (data['contact-date-month-3'] =='2') %} February  {% endif%}
                            {% if (data['contact-date-month-3'] =='03') or (data['contact-date-month-3'] =='3') %} March {% endif%}
                            {% if (data['contact-date-month-3'] =='04') or (data['contact-date-month-3'] =='4') %} June {% endif%}
                            {% if (data['contact-date-month-3'] =='05') or (data['contact-date-month-3'] =='5') %} May {% endif%}
                            {% if (data['contact-date-month-3'] =='06') or (data['contact-date-month-3'] =='6') %} June {% endif%}
                            {% if (data['contact-date-month-3'] =='07') or (data['contact-date-month-3'] =='7') %} July {% endif%}
                            {% if (data['contact-date-month-3'] =='08') or (data['contact-date-month-3'] =='8') %} August {% endif%}
                            {% if (data['contact-date-month-3'] =='09') or (data['contact-date-month-3'] =='9') %} September {% endif%}
                            {% if data['contact-date-month-3'] =='10' %} October {% endif%}
                            {% if data['contact-date-month-3'] =='11'%} November {% endif%}
                            {% if data['contact-date-month-3'] =='12' %} December {% endif%}
                            {{ data['contact-date-year-3'] }} {% endif %}


                      {% if data['todays-date3']=='Yes'%}
                            <script>
                              // Get the current date and time
                                   var now = new Date();
                                   var date = now.toLocaleDateString('en-GB', { day: 'numeric', month: 'long', year: 'numeric' });
                                   var time = now.toLocaleTimeString('en-GB', { hour: 'numeric', minute: 'numeric', hour12: true });

                                   // Write the date and time to the HTML page
                                   document.write(date + ' at ');
                                 </script>{{data['contact-time-3']}}{% endif %}

                    </time>

                              <div class="moj-timeline__header">
                                <h2 class="moj-timeline__title">
                                  {{data['_do_3']}}

                                  </h2>
                                <p >by John Goldsmith </p>
                              </div>

              <p>{{data['summary-case-history3']}}</p>
                    <p> <a href="/live-atwis/1/cases/contact/3/{% if data['_do_3']=='Email sent'%}email-log{% endif %}{% if data['_do_3']=='Email received'%}email-log{% endif %}{% if data['_do_3']=='Telephone call made'%}phone-log{% endif %}{% if data['_do_3']=='Telephone call received'%}phone-log{% endif %}{% if data['_do_3']=='Text message (SMS) sent'%}sms-log{% endif %}">View details</a></p>
                              </div>
          {% endif %}

          {% if data['_do_2']%}
                    <div class="moj-timeline__item">
                      <time datetime="2023-06-06T09:22:00.000Z">
                        <span class="govuk-body">
                          {% if data['todays-date2']=='No'%}
                          {{ data['contact-date-day-2'] }}
                            {% if (data['contact-date-month-2'] =='02') or (data['contact-date-month-2'] =='2') %} January {% endif%}
                            {% if (data['contact-date-month-2'] =='02') or (data['contact-date-month-2'] =='2') %} February  {% endif%}
                            {% if (data['contact-date-month-2'] =='03') or (data['contact-date-month-2'] =='3') %} March {% endif%}
                            {% if (data['contact-date-month-2'] =='04') or (data['contact-date-month-2'] =='4') %} June {% endif%}
                            {% if (data['contact-date-month-2'] =='05') or (data['contact-date-month-2'] =='5') %} May {% endif%}
                            {% if (data['contact-date-month-2'] =='06') or (data['contact-date-month-2'] =='6') %} June {% endif%}
                            {% if (data['contact-date-month-2'] =='07') or (data['contact-date-month-2'] =='7') %} July {% endif%}
                            {% if (data['contact-date-month-2'] =='08') or (data['contact-date-month-2'] =='8') %} August {% endif%}
                            {% if (data['contact-date-month-2'] =='09') or (data['contact-date-month-2'] =='9') %} September {% endif%}
                            {% if data['contact-date-month-2'] =='10' %} October {% endif%}
                            {% if data['contact-date-month-2'] =='11'%} November {% endif%}
                            {% if data['contact-date-month-2'] =='12' %} December {% endif%}
                            {{ data['contact-date-year-2'] }} {% endif %}


                      {% if data['todays-date2']=='Yes'%}
                            <script>
                              // Get the current date and time
                                   var now = new Date();
                                   var date = now.toLocaleDateString('en-GB', { day: 'numeric', month: 'long', year: 'numeric' });
                                   var time = now.toLocaleTimeString('en-GB', { hour: 'numeric', minute: 'numeric', hour12: true });

                                   // Write the date and time to the HTML page
                                   document.write(date + ' at ');
                                 </script>{{data['contact-time-2']}}{% endif %}

                    </time>

                              <div class="moj-timeline__header">
                                <h2 class="moj-timeline__title">
                                  {{data['_do_2']}}

                                  </h2>
                                <p >by John Goldsmith </p>
                              </div>

            <p>{{data['summary-case-history2']}}</p>
                    <p> <a href="/live-atwis/1/cases/contact/2/{% if data['_do_2']=='Email sent'%}email-log{% endif %}{% if data['_do_2']=='Email received'%}email-log{% endif %}{% if data['_do_2']=='Telephone call made'%}phone-log{% endif %}{% if data['_do_2']=='Telephone call received'%}phone-log{% endif %}{% if data['_do_2']=='Text message (SMS) sent'%}sms-log{% endif %}">View details</a></p>
                              </div>
          {% endif %}


{% if data['_do_1']%}
          <div class="moj-timeline__item">
            <time datetime="2023-06-06T09:12:00.000Z">
              <span class="govuk-body">
                {% if data['todays-date1']=='No'%}
                {{ data['contact-date-day-1'] }}
                  {% if (data['contact-date-month-1'] =='01') or (data['contact-date-month-1'] =='1') %} January {% endif%}
                  {% if (data['contact-date-month-1'] =='02') or (data['contact-date-month-1'] =='2') %} February  {% endif%}
                  {% if (data['contact-date-month-1'] =='03') or (data['contact-date-month-1'] =='3') %} March {% endif%}
                  {% if (data['contact-date-month-1'] =='04') or (data['contact-date-month-1'] =='4') %} June {% endif%}
                  {% if (data['contact-date-month-1'] =='05') or (data['contact-date-month-1'] =='5') %} May {% endif%}
                  {% if (data['contact-date-month-1'] =='06') or (data['contact-date-month-1'] =='6') %} June {% endif%}
                  {% if (data['contact-date-month-1'] =='07') or (data['contact-date-month-1'] =='7') %} July {% endif%}
                  {% if (data['contact-date-month-1'] =='08') or (data['contact-date-month-1'] =='8') %} August {% endif%}
                  {% if (data['contact-date-month-1'] =='09') or (data['contact-date-month-1'] =='9') %} September {% endif%}
                  {% if data['contact-date-month-1'] =='10' %} October {% endif%}
                  {% if data['contact-date-month-1'] =='11'%} November {% endif%}
                  {% if data['contact-date-month-1'] =='12' %} December {% endif%}
                  {{ data['contact-date-year-1'] }} {% endif %}


            {% if data['todays-date1']=='Yes'%}
                  <script>
                    // Get the current date and time
                         var now = new Date();
                         var date = now.toLocaleDateString('en-GB', { day: 'numeric', month: 'long', year: 'numeric' });
                         var time = now.toLocaleTimeString('en-GB', { hour: 'numeric', minute: 'numeric', hour12: true });

                         // Write the date and time to the HTML page
                         document.write(date + ' at ');
                       </script>{{data['contact-time-1']}}{% endif %}

          </time>

                    <div class="moj-timeline__header">
                      <h2 class="moj-timeline__title">
                        {{data['_do_1']}}

                        </h2>
                      <p >by John Goldsmith </p>
                    </div>

        <p>{{data['summary-case-history1']}}</p>
          <p> <a href="/live-atwis/1/cases/contact/1/{% if data['_do_1']=='Email sent'%}email-log{% endif %}{% if data['_do_1']=='Email received'%}email-log{% endif %}{% if data['_do_1']=='Telephone call made'%}phone-log{% endif %}{% if data['_do_1']=='Telephone call received'%}phone-log{% endif %}{% if data['_do_1']=='Text message (SMS) sent'%}sms-log{% endif %}">View details</a></p>
                    </div>
{% endif %}


{% if data['wpa']=='Yes'%}
<div class="moj-timeline__item">
  <span class="govuk-body">
    <time datetime="2023-06-06T09:12:00.000Z"><script>
      // Get the current date and time
           var now = new Date();
           var date = now.toLocaleDateString('en-GB', { day: 'numeric', month: 'long', year: 'numeric' });
           var time = now.toLocaleTimeString('en-GB', { hour: 'numeric', minute: 'numeric', hour12: true });

           // Write the date and time to the HTML page
           document.write(date + ' at ' + time);
         </script></time>
  </span>
<div class="moj-timeline__header">
  <h2 class="moj-timeline__title">  Review workplace assessment report task </h2>
  <p >by John Goldsmith </p>
</div>
</div>

<div class="moj-timeline__item">
  <span class="govuk-body">
    <time datetime="2023-06-06T09:12:00.000Z"><script>
      // Get the current date and time
           var now = new Date();
           var date = now.toLocaleDateString('en-GB', { day: 'numeric', month: 'long', year: 'numeric' });
           var time = now.toLocaleTimeString('en-GB', { hour: 'numeric', minute: 'numeric', hour12: true });

           // Write the date and time to the HTML page
           document.write(date + ' at ' + time);
         </script></time>
  </span>
<div class="moj-timeline__header">
  <h2 class="moj-timeline__title">  Log workplace assessment task </h2>
  <p >by John Goldsmith </p>
</div>
</div>


<div class="moj-timeline__item">
  <span class="govuk-body">
    <time datetime="2023-06-06T09:12:00.000Z"><script>
      // Get the current date and time
           var now = new Date();
           var date = now.toLocaleDateString('en-GB', { day: 'numeric', month: 'long', year: 'numeric' });
           var time = now.toLocaleTimeString('en-GB', { hour: 'numeric', minute: 'numeric', hour12: true });

           // Write the date and time to the HTML page
           document.write(date + ' at ' + time);
         </script></time>
  </span>
<div class="moj-timeline__header">
  <h2 class="moj-timeline__title">   Workplace assessment referral form task </h2>
  <p >by John Goldsmith </p>
</div>




</div>

<div class="moj-timeline__item">
  <span class="govuk-body">
    <time datetime="2023-06-06T09:12:00.000Z"><script>
      // Get the current date and time
           var now = new Date();
           var date = now.toLocaleDateString('en-GB', { day: 'numeric', month: 'long', year: 'numeric' });
           var time = now.toLocaleTimeString('en-GB', { hour: 'numeric', minute: 'numeric', hour12: true });

           // Write the date and time to the HTML page
           document.write(date + ' at ' + time);
         </script></time>
  </span>
<div class="moj-timeline__header">
  <h2 class="moj-timeline__title">   Availability for workplace assessment task </h2>
  <p >by John Goldsmith </p>
</div>




</div>

<div class="moj-timeline__item">
  <span class="govuk-body">
    <time datetime="2023-06-06T09:12:00.000Z"><script>
      // Get the current date and time
           var now = new Date();
           var date = now.toLocaleDateString('en-GB', { day: 'numeric', month: 'long', year: 'numeric' });
           var time = now.toLocaleTimeString('en-GB', { hour: 'numeric', minute: 'numeric', hour12: true });

           // Write the date and time to the HTML page
           document.write(date + ' at ' + time);
         </script></time>
  </span>
<div class="moj-timeline__header">
  <h2 class="moj-timeline__title">  Type of workplace assessment task </h2>
  <p >by John Goldsmith </p>
</div>




</div>

{% endif %}
{% if data['wpa']%}
<div class="moj-timeline__item">
  <span class="govuk-body">
    <time datetime="2023-06-06T09:12:00.000Z"><script>
      // Get the current date and time
           var now = new Date();
           var date = now.toLocaleDateString('en-GB', { day: 'numeric', month: 'long', year: 'numeric' });
           var time = now.toLocaleTimeString('en-GB', { hour: 'numeric', minute: 'numeric', hour12: true });

           // Write the date and time to the HTML page
           document.write(date + ' at ' + time);
         </script></time>
  </span>
<div class="moj-timeline__header">
  <h2 class="moj-timeline__title"> Confirm whether workplace assessment is needed task </h2>
  <p >by John Goldsmith </p>
</div>




</div>
{% endif %}

{% if data['job-deatils-check']%}
<div class="moj-timeline__item">
  <span class="govuk-body">
    <time datetime="2023-06-06T09:12:00.000Z"><script>
      // Get the current date and time
           var now = new Date();
           var date = now.toLocaleDateString('en-GB', { day: 'numeric', month: 'long', year: 'numeric' });
           var time = now.toLocaleTimeString('en-GB', { hour: 'numeric', minute: 'numeric', hour12: true });

           // Write the date and time to the HTML page
           document.write(date + ' at ' + time);
         </script></time>
  </span>
<div class="moj-timeline__header">
  <h2 class="moj-timeline__title">  Employment details task </h2>
  <p >by John Goldsmith </p>
</div>
{% if data['job-deatils-check']=='Yes'%}<br> <p>Contact needed for more information. </p>{% endif %}



</div>
{% endif %}

 {% if data['condition-check']%}
 <div class="moj-timeline__item">
   <span class="govuk-body">
     <time datetime="2023-06-06T09:12:00.000Z"><script>
       // Get the current date and time
            var now = new Date();
            var date = now.toLocaleDateString('en-GB', { day: 'numeric', month: 'long', year: 'numeric' });
            var time = now.toLocaleTimeString('en-GB', { hour: 'numeric', minute: 'numeric', hour12: true });

            // Write the date and time to the HTML page
            document.write(date + ' at ' + time);
          </script></time>
   </span>
 <div class="moj-timeline__header">
   <h2 class="moj-timeline__title">  Health condition or disability task </h2>
   <p>by John Goldsmith </p>
 </div>
 {% if data['condition-check']=='Yes'%}<br> <p>Contact needed for more information. </p>{% endif %}



 </div>
 {% endif %}



{% if data['searchlight-cis500']=='Yes' or data['cis500']=='Yes'%}
<div class="moj-timeline__item">
  <span class="govuk-body">
    <time datetime="2023-06-06T09:12:00.000Z"><script>
      // Get the current date and time
           var now = new Date();
           var date = now.toLocaleDateString('en-GB', { day: 'numeric', month: 'long', year: 'numeric' });
           var time = now.toLocaleTimeString('en-GB', { hour: 'numeric', minute: 'numeric', hour12: true });

           // Write the date and time to the HTML page
           document.write(date + ' at ' + time);
         </script></time>
  </span>
<div class="moj-timeline__header">
  <h2 class="moj-timeline__title">  CIS500 task </h2>
  <p>by John Goldsmith </p>
</div>




</div>
{% endif %}
{% if data['searchlight-correct']%}
<div class="moj-timeline__item">
  <span class="govuk-body">
    <time datetime="2023-06-06T09:12:00.000Z"><script>
      // Get the current date and time
           var now = new Date();
           var date = now.toLocaleDateString('en-GB', { day: 'numeric', month: 'long', year: 'numeric' });
           var time = now.toLocaleTimeString('en-GB', { hour: 'numeric', minute: 'numeric', hour12: true });

           // Write the date and time to the HTML page
           document.write(date + ' at ' + time);
         </script></time></span>
<div class="moj-timeline__header">
  <h2 class="moj-timeline__title">  Update personal details  task </h2>
  <p>by John Goldsmith </p>
</div>





</div>
{% endif %}

{% if data['benefits-change']%}
<div class="moj-timeline__item">
  <span class="govuk-body">
    <time datetime="2023-06-06T09:12:00.000Z"><script>
      // Get the current date and time
           var now = new Date();
           var date = now.toLocaleDateString('en-GB', { day: 'numeric', month: 'long', year: 'numeric' });
           var time = now.toLocaleTimeString('en-GB', { hour: 'numeric', minute: 'numeric', hour12: true });

           // Write the date and time to the HTML page
           document.write(date + ' at ' + time);
         </script></time>
  </span>
<div class="moj-timeline__header">
  <h2 class="moj-timeline__title"> Check benefits task </h2>
  <p>by John Goldsmith </p>
</div>




</div>
{% endif %}
{% if data['appointee-change']%}
<div class="moj-timeline__item">
  <span class="govuk-body">
    <time datetime="2023-06-06T09:12:00.000Z"><script>
      // Get the current date and time
           var now = new Date();
           var date = now.toLocaleDateString('en-GB', { day: 'numeric', month: 'long', year: 'numeric' });
           var time = now.toLocaleTimeString('en-GB', { hour: 'numeric', minute: 'numeric', hour12: true });

           // Write the date and time to the HTML page
           document.write(date + ' at ' + time);
         </script></time>
  </span>
<div class="moj-timeline__header">
  <h2 class="moj-timeline__title"> Check appointee task </h2>
  <p>by John Goldsmith </p>
</div>




</div>
{% endif %}
{% if data['Searchligh-change']%}
<div class="moj-timeline__item">
  <span class="govuk-body">
    <time datetime="2023-06-06T09:12:00.000Z"><script>
      // Get the current date and time
           var now = new Date();
           var date = now.toLocaleDateString('en-GB', { day: 'numeric', month: 'long', year: 'numeric' });
           var time = now.toLocaleTimeString('en-GB', { hour: 'numeric', minute: 'numeric', hour12: true });

           // Write the date and time to the HTML page
           document.write(date + ' at ' + time);
         </script></time>
  </span>
<div class="moj-timeline__header">
  <h2 class="moj-timeline__title"> Check personal details and add National Insurance number task </h2>
  <p>by John Goldsmith </p>
</div>




</div>
{% endif %}

{% if data['changeaddressline1']%}
<div class="moj-timeline__item">
  <span class="govuk-body">
    <time datetime="2023-06-06T09:12:00.000Z"><script>
      // Get the current date and time
           var now = new Date();
           var date = now.toLocaleDateString('en-GB', { day: 'numeric', month: 'long', year: 'numeric' });
           var time = now.toLocaleTimeString('en-GB', { hour: 'numeric', minute: 'numeric', hour12: true });

           // Write the date and time to the HTML page
           document.write(date + ' at ' + time);
         </script></time>
  </span>

<div class="moj-timeline__header">
  <h2 class="moj-timeline__title"> Personal details update </h2>
  <p>by John Goldsmith </p>
</div>


<div class="moj-timeline__description">

      <p>Address line 1: <strong>72 Guild Street</strong> changed to <strong>{{data['changeaddressline1']}}</strong></p>
      <!-- <p>Address line 2: <strong>72 Guild Street</strong> changed to <strong>{{data['changeaddressline1']}}</strong></p>
      <p>Town or city: <strong>London</strong> changed to <strong>{{data['changeaddressline1']}}</strong></p>
      <p>County: <strong>72 Guild Street</strong> changed to <strong>{{data['changeaddressline1']}}</strong></p>
      <p>Postcode: <strong>AB1 1BA</strong> changed to <strong>{{data['changeaddressline1']}}</strong></p> -->



    </div>
</div>
{% endif %}
{% if data['first-name']%}
<div class="moj-timeline__item">
  <span class="govuk-body">
    <time datetime="2023-06-06T09:12:00.000Z"><script>
      // Get the current date and time
           var now = new Date();
           var date = now.toLocaleDateString('en-GB', { day: 'numeric', month: 'long', year: 'numeric' });
           var time = now.toLocaleTimeString('en-GB', { hour: 'numeric', minute: 'numeric', hour12: true });

           // Write the date and time to the HTML page
           document.write(date + ' at ' + time);
         </script></time>
  </span>
<div class="moj-timeline__header">
  <h2 class="moj-timeline__title"> Personal details update </h2>
  <p>by John Goldsmith </p>
</div>



<div class="moj-timeline__description">
      <p> <strong>Dereck Smith</strong> changed to <strong>John Smiths</strong></p>

    </div>
</div>
{% endif %}









{% if data['benefits']%}

         <div class="moj-timeline__item">
           <span class="govuk-body">
             <time datetime="2023-06-06T09:12:00.000Z"><script>
               // Get the current date and time
                    var now = new Date();
                    var date = now.toLocaleDateString('en-GB', { day: 'numeric', month: 'long', year: 'numeric' });
                    var time = now.toLocaleTimeString('en-GB', { hour: 'numeric', minute: 'numeric', hour12: true });

                    // Write the date and time to the HTML page
                    document.write(date + ' at 11:19 am');
                  </script></time>
           </span>
            <div class="moj-timeline__header">
              <h2 class="moj-timeline__title">Check benefits task </h2>
              <p>by John Goldsmith</p>
            </div>





          </div>{% endif %}
          {% if data['appointee']%}
          <div class="moj-timeline__item">
            <span class="govuk-body">
              <time datetime="2023-06-06T09:12:00.000Z"><script>
                // Get the current date and time
                     var now = new Date();
                     var date = now.toLocaleDateString('en-GB', { day: 'numeric', month: 'long', year: 'numeric' });
                     var time = now.toLocaleTimeString('en-GB', { hour: 'numeric', minute: 'numeric', hour12: true });

                     // Write the date and time to the HTML page
                     document.write(date + ' at 11:15 am' );
                   </script></time>
            </span>
            <div class="moj-timeline__header">
              <h2 class="moj-timeline__title">Check appointee task </h2>
              <p>by John Goldsmith</p>
            </div>





          </div>{% endif %}

{% if data['Searchligh']%}
          <div class="moj-timeline__item">
            <span class="govuk-body">
              <time datetime="2023-06-06T09:12:00.000Z">
                <script>
                // Get the current date and time
                     var now = new Date();
                     var date = now.toLocaleDateString('en-GB', { day: 'numeric', month: 'long', year: 'numeric' });
                     var time = now.toLocaleTimeString('en-GB', { hour: 'numeric', minute: 'numeric', hour12: true });

                     // Write the date and time to the HTML page
                     document.write(date + ' at 11:01 am' );
                   </script></time>
            </span>
            <div class="moj-timeline__header">
              <h2 class="moj-timeline__title">Check personal details and add National Insurance number task </h2>
              <p>by John Goldsmith</p>
            </div>

{% if data['Searchligh']=='No'%}  <br>
  <p>Personal details for Dereck Smith are not in Searchlight. Contact needed. </p>{% endif %}






          </div> {% endif %}

          <!-- <div class="moj-timeline__item">

            <div class="moj-timeline__header">
              <h2 class="moj-timeline__title">Application allocated to John Goldsmith</h2>
              <p>by Al O'Cator</p>
            </div>
            <span class="govuk-body">
              <time datetime="2023-05-28T10:15:00.000Z">20 October 2023 at 10:15am</time>
            </p>
          </div> -->
          <div class="moj-timeline__item">
            <span class="govuk-body">
              <time datetime="2023-06-06T09:12:00.000Z"><script>
                // Get the current date and time
                     var now = new Date();
                     var date = now.toLocaleDateString('en-GB', { day: 'numeric', month: 'long', year: 'numeric' });
                     var time = now.toLocaleTimeString('en-GB', { hour: 'numeric', minute: 'numeric', hour12: true });

                     // Write the date and time to the HTML page
                     document.write(date + ' at 9:15 am');
                   </script></time>
            </span>
          <div class="moj-timeline__header">
            <h2 class="moj-timeline__title">Application allocated to John Goldsmith  </h2>
            <p>by Al O'Cator </p>
          </div>





        </div>
          <div class="moj-timeline__item">
            <span class="govuk-body">
              <time datetime="2023-05-28T10:15:00.000Z"><script>
                // Get date
                    var now = new Date();
                    var pastDate = new Date(now);
                    pastDate.setDate(now.getDate() - 60);

                    var formattedDate = pastDate.toLocaleDateString('en-GB', {
                    day: 'numeric',
                    month: 'long',
                    year: 'numeric'
                    });

                    var formattedTime = pastDate.toLocaleTimeString('en-GB', {
                    hour: 'numeric',
                    minute: 'numeric',
                    hour12: true
                    });

                    document.write(formattedDate + ' at 3:00 pm');
                   </script></time>
            </span>
            <div class="moj-timeline__header">

              <h2 class="moj-timeline__title">Application received</h2>
              <p></p>
            </div>

          </div>


        </div>





  <script>
  const months = ["January","February","March","July","May","June","July","August","September","October","November","December"];

  const d = new Date();
  let month = months[d.getMonth()];
  document.getElementById("day").innerHTML = d.getDate();
  document.getElementById("month").innerHTML = month;
  document.getElementById("year").innerHTML = d.getFullYear();
  </script>
<!-- <ol class="dwp-timeline">
{% macro timeline(title="", allocation="", stage="", date="1 "  + monthAndYear +  " at 4:30pm" ) %}
        <li class="dwp-timeline__entry">
          <h3  style="margin-bottom: 0" class="govuk-heading-s dwp-timeline__title">{{title}}  </h3>

          <p class="dwp-timeline__info">
<span class="dwp-timeline__date">{% if stage == "payment" %}Rich Silver{% elif stage == "allocator" %}Al O'Cator{% elif stage == "unallocated"%}{% else %}John Goldsmith{%endif %} {% if allocation %}to {{allocation}}{% endif %}</span>
<span class="dwp-timeline__date">{{date}}</span>
          </p>
</li>
{% endmacro %} -->
