{% if phase =="sonya"%}


<ul class="app-task-list__items">

<li class="app-task-list__item">
<span class="app-task-list__task-name">
<a href="{% if data['sae-addsonya']%}./check-application/sae/details/add{% else %}./check-application/sae/details/approve-1{% endif %}" aria-describedby="job-status">
  Specialist equipment: add or change support
</a>
</span>
{% if not data['sae-add'+ phase]%}<strong class="govuk-tag govuk-tag--blue app-task-list__tag" id="grant-matches-claim-status">Not started</strong>   {% endif %}
{% if data['sae-add'+ phase]%} <strong class="govuk-tag app-task-list__tag" id="eligibility-status">Completed</strong> {% endif %}

 </li>



       <li class="app-task-list__item">
       <span class="app-task-list__task-name">
<a href="/live-atwis/1/cases/sonya/cases/check-application/mhss/details/mental-health-support" aria-describedby="job-status">
            Mental health support: add or change support
</a>
       </span>
       {% if not data['mhss-support']%}<strong class="govuk-tag govuk-tag--blue app-task-list__tag" id="grant-matches-claim-status">Not started</strong>   {% endif %}
       {% if data['mhss-support']=="I've not discussed it with Sonya Corkery yet"%} <strong class="govuk-tag govuk-tag--grey app-task-list__tag" id="list-convictions-status">Contact needed</strong>  {% endif %}
       {% if data['mhss-support']=="I'm waiting for an answer"%} <strong class="govuk-tag govuk-tag--grey app-task-list__tag" id="list-convictions-status">In progress</strong>  {% endif %}

       {% if data['mhss-support']=="No"%} <strong class="govuk-tag app-task-list__tag" id="eligibility-status">Completed</strong> {% endif %}
              {% if data['mhss-support']=="Yes"%}
              {% if data['mhss-enddate']=="Yes, but they will contact the MHSS provider directly"%}<strong class="govuk-tag app-task-list__tag" id="eligibility-status">Completed</strong> {% endif %}
{% if data['mhss-enddate']=="No"%}<strong class="govuk-tag app-task-list__tag" id="eligibility-status">Completed</strong> {% endif %}
              {% if data['mhss-referral']%}   <strong class="govuk-tag app-task-list__tag" id="eligibility-status">Completed</strong> {% endif %}{% endif %}

    </li>
<br>
 <form class="" action="/live-atwis/1/cases/sonya/cases/workplace-assesment/wpa-report/support" method="post" >
   <button class="govuk-button govuk-button--secondary" data-module="govuk-button">
     Add new elements
   </button>
 </form>





   {% if not data['sae-add'+ phase]%}
   <!-- <li class="app-task-list__item">
   <span class="app-task-list__task-name">

    Choose quote: specialist equipment 2

   </span>
   <strong class="govuk-tag govuk-tag--grey app-task-list__tag" id="list-convictions-status">Cannot start yet</strong>

    </li>
   <li class="app-task-list__item">
   <span class="app-task-list__task-name">

     Confirm details for specialist equipment 1

   </span>
<strong class="govuk-tag govuk-tag--grey app-task-list__tag" id="list-convictions-status">Cannot start yet</strong>


    </li>-->{% else %}






    <!-- <li class="app-task-list__item">
    <span class="app-task-list__task-name">
    <a href="check-application/quotes/select" aria-describedby="job-status">
     Choose quote: specialist equipment 2
    </a>
    </span>
    {% if not data['chosen-quote-'+ phase]%}<strong class="govuk-tag govuk-tag--blue app-task-list__tag" id="grant-matches-claim-status">Not started</strong>   {% endif %}
    {% if data['chosen-quote-'+ phase]%} <strong class="govuk-tag app-task-list__tag" id="eligibility-status">Completed</strong> {% endif %}

     </li> -->
{% endif %}


{% else %}

{% endif %}
<!-- <li class="app-task-list__item">
  <span class="app-task-list__task-name">
<a href="claim#your-tasks" aria-describedby="job-status">
      Evidence for approval decision
</a>
  </span>
  <strong class="govuk-tag govuk-tag--blue app-task-list__tag" id="grant-matches-claim-status">Not started</strong>            </li> -->


  {% if 'Mental health support' in data['elements']%}
  <li class="app-task-list__item">
    <span class="app-task-list__task-name">
   <a href="" aria-describedby="read-declaration-status">
        Mental health support: add or change support
     </a>
    </span>
    {% if data['placeholder']=='No'%}<strong class="govuk-tag app-task-list__tag" id="eligibility-status">Completed</strong>{% endif %}
    {% if data['placeholder']=='Yes'%}  <strong class="govuk-tag govuk-tag--grey app-task-list__tag" id="list-convictions-status">in progress</strong>{% endif %}
    {% if not data['placeholder']%}  <strong class="govuk-tag govuk-tag--blue app-task-list__tag" id="grant-matches-claim-status">Not started</strong>{% endif %}
  </li>
  {% endif %}


    {% if 'Support worker' in data['elements']%}
 <li class="app-task-list__item">
    <span class="app-task-list__task-name">
   <a href="{% if data['sw-item-type']%}./check-application/sw/details/add{% else %}./check-application/sw/details/type{% endif %}" aria-describedby="read-declaration-status">
         Support worker: add or change support
     </a>
    </span>
    {% if data['placeholder']=='No'%}<strong class="govuk-tag app-task-list__tag" id="eligibility-status">Completed</strong>{% endif %}
    {% if data['placeholder']=='Yes'%}  <strong class="govuk-tag govuk-tag--grey app-task-list__tag" id="list-convictions-status">in progress</strong>{% endif %}
    {% if not data['placeholder']%}  <strong class="govuk-tag govuk-tag--blue app-task-list__tag" id="grant-matches-claim-status">Not started</strong>{% endif %}
  </li>
{% endif %}
</ul>
