{% set page = "claim" %}
{% set claim = "true" %}
{% set title = "Case details" %}
{% set changeHide = "True" %}
{% if phase == 'sonya' %}{% set case = "-sonya" %}{% endif %}
{% extends folder + "/claim/_CSIBASE.html" %}

{% block csi %}


  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

<form action="/live-20/cases/check-application/element" method="post" novalidate>

  <div class="govuk-form-group">
    <fieldset class="govuk-fieldset" aria-describedby="elements-hint">
      <legend class="govuk-fieldset__legend govuk-fieldset__legend--l">
        <h1 class="govuk-fieldset__heading">
          Does Dereck Smith need specialist equipment to support them with their condition at work?
        </h1>
      </legend>

      <div class="govuk-radios govuk-radios--inline" data-module="govuk-radios">
        <div class="govuk-radios__item">
          <input class="govuk-radios__input" id="elements" name="elements" type="radio" value="Yes" checked="">
          <label class="govuk-label govuk-radios__label" for="elements">
            Yes
          </label>
        </div>
        <div class="govuk-radios__item">
          <input class="govuk-radios__input" id="elements-2" name="elements" type="radio" value="No">
          <label class="govuk-label govuk-radios__label" for="elements-2">
            No
          </label>
        </div>
      </div>

    </fieldset>
  </div>

          <button class="govuk-button" data-module="govuk-button" >
          Save and continue
          </button>

        </form>

      </div>
    </div>
  </main>
</div>


{% endblock %}
