{% extends "layout.html" %} {% set serviceName = "Communication Support at Interview" %}

{% block pageTitle %}
 Do you know the support cost?
{% endblock %}

{% block beforeContent %}

<div class="govuk-phase-banner">
  <p class="govuk-phase-banner__content">
    <strong class="govuk-tag govuk-phase-banner__content__tag">
      beta
    </strong>
    <span class="govuk-phase-banner__text">
      This is a new service – your <a class="govuk-link" href="/orange/https://getinvolved.dwp.gov.uk/digital/cdc1a144">feedback</a> will help us to improve it.
    </span>
  </p>
</div>

{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <form class="form" action="role-paid" method="post">

      <form action="/form-handler" method="post" novalidate>

        <h1 class="govuk-heading-l">
           What disability or health condition do you need communication support for?
         </h1>

















       <div class="govuk-form-group">



         <input class="govuk-input govuk-!-width-three-quarters" id="f-condition" name="condition" type="text">

       </div>







           <div class="govuk-button-group casa-form-control-block">

                 <button class="govuk-button" data-module="govuk-button">Continue</button>

      </form>

             </div>

      <hr class="govuk-section-break govuk-section-break--visible">

        <h2 class="govuk-heading-m govuk-!-margin-top-4">Get help</h2>


        <p class="govuk-body">You can contact us for free by:</p>
        <ul class="govuk-list govuk-list--bullet">
    <li>Telephone: 0800 121 7479</li>
    <li>Textphone: 0800 121 7579</li>
    <li><a href="/orange/https://www.relayuk.bt.com/">Relay UK</a>, if you cannot hear or speak on the phone: 18001 then 0800 121 7479</li>
<li><a href="/orange/https://portal.starleaf.com/webrtc?name=DWP&target=DWP@interpreterslive.call.sl">Video Relay Service</a> for British Sign Language – <a href="/orange/https://www.dalanguages.co.uk/dwp-bsl/">find out how to use the service</a></li>
    </ul>

        <p class="govuk-body">Opening times: Monday to Friday, 9am to 5pm (except public holidays)</p>


      </div> </div>

{% endblock %}
