{% extends "layout.html" %} {% set serviceName = "Communication Support at Interview" %}

{% block pageTitle %}
 Do you know the support cost?
{% endblock %}

{% block beforeContent %}

<div class="govuk-phase-banner">
  <p class="govuk-phase-banner__content">
    <strong class="govuk-tag govuk-phase-banner__content__tag">
      beta
    </strong>
    <span class="govuk-phase-banner__text">
      This is a new service – your <a class="govuk-link" href="/orange/https://getinvolved.dwp.gov.uk/digital/cdc1a144">feedback</a> will help us to improve it.
    </span>
  </p>
</div>

{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <form class="form" action="clinically-extremely-vulnerable" method="post">

      <form action="/form-handler" method="post" novalidate>

          <div class="govuk-form-group">
            <fieldset class="govuk-fieldset">
              <legend class="govuk-fieldset__legend govuk-fieldset__legend--l">
                <h1 class="govuk-fieldset__heading">
You need to ask your sign language interpreter or support worker how much it will cost
                </h1>
              </legend>
    </fieldset>
        <p class="govuk-body">Ask the person who will help you to communicate at the interview what their total cost will be. Ask them to include:</p>

        <ul class="govuk-list govuk-list--bullet">
            <li>travel costs</li>
            <li>administrative costs</li>
            <li>VAT</li>
        </ul>

        <p class="govuk-body">
                Once you know the total cost, you can complete the application.
            </p>

<a href="https://www.gov.uk/guidance/apply-for-communication-support-at-a-job-interview-if-you-have-a-disability-or-health-condition-access-to-work" class="govuk-link">Return to the Communication Support at Interview guidance on GOV.UK</a>
          </div>
        <button class="govuk-button" data-module="govuk-button">Continue</button>

      </form>


      <hr class="govuk-section-break govuk-section-break--visible">

        <h2 class="govuk-heading-m govuk-!-margin-top-4">Get help</h2>


        <p class="govuk-body">You can contact us for free by:</p>
        <ul class="govuk-list govuk-list--bullet">
    <li>Telephone: 0800 121 7479</li>
    <li>Textphone: 0800 121 7579</li>
    <li><a href="/orange/https://www.relayuk.bt.com/">Relay UK</a>, if you cannot hear or speak on the phone: 18001 then 0800 121 7479</li>
<li><a href="/orange/https://portal.starleaf.com/webrtc?name=DWP&target=DWP@interpreterslive.call.sl">Video Relay Service</a> for British Sign Language – <a href="/orange/https://www.dalanguages.co.uk/dwp-bsl/">find out how to use the service</a></li>
    </ul>

        <p class="govuk-body">Opening times: Monday to Friday, 9am to 5pm (except public holidays)</p>


      </div> </div>

{% endblock %}
