{% extends "layout.html" %} {% set serviceName = "Communication Support at Interview" %}

{% block pageTitle %}
 Do you know the support cost?
{% endblock %}

{% block beforeContent %}

<div class="govuk-phase-banner">
  <p class="govuk-phase-banner__content">
    <strong class="govuk-tag govuk-phase-banner__content__tag">
      beta
    </strong>
    <span class="govuk-phase-banner__text">
      This is a new service – your <a class="govuk-link" href="/orange/https://getinvolved.dwp.gov.uk/digital/cdc1a144">feedback</a> will help us to improve it.
    </span>
  </p>
</div>

{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <form class="form" action="role-duration" method="post">



        <fieldset class="govuk-fieldset">

      <legend class="govuk-fieldset__legend govuk-fieldset__legend--l">

        <h1 class="govuk-fieldset__heading">

  What is the company address?

        </h1>

      </legend>
















    <div class="govuk-form-group">
      <label class="govuk-label" for="f-address1">
        Address line 1
      </label>


      <input class="govuk-input" id="f-address1" name="address1" type="text" autocomplete="address-line1">

    </div>

















    <div class="govuk-form-group">
      <label class="govuk-label" for="f-address2">
        Address line 2 (optional)
      </label>


      <input class="govuk-input" id="f-address2" name="address2" type="text" autocomplete="address-line2">

    </div>



















    <div class="govuk-form-group">
      <label class="govuk-label" for="f-address3">
        Town or city
      </label>


      <input class="govuk-input govuk-!-width-two-thirds" id="f-address3" name="address3" type="text" autocomplete="address-line3">

    </div>



















    <div class="govuk-form-group">
      <label class="govuk-label" for="f-address4">
        County (optional)
      </label>


      <input class="govuk-input govuk-!-width-two-thirds" id="f-address4" name="address4" type="text" autocomplete="address-level1">

    </div>



















    <div class="govuk-form-group">
      <label class="govuk-label" for="f-postcode">
        Postcode
      </label>


      <input class="govuk-input govuk-input--width-10" id="f-postcode" name="postcode" type="text" autocomplete="postal-code">

    </div>




    </fieldset>
        <button class="govuk-button" data-module="govuk-button">Continue</button>

      </form>


      <hr class="govuk-section-break govuk-section-break--visible">

        <h2 class="govuk-heading-m govuk-!-margin-top-4">Get help</h2>


        <p class="govuk-body">You can contact us for free by:</p>
        <ul class="govuk-list govuk-list--bullet">
    <li>Telephone: 0800 121 7479</li>
    <li>Textphone: 0800 121 7579</li>
    <li><a href="/orange/https://www.relayuk.bt.com/">Relay UK</a>, if you cannot hear or speak on the phone: 18001 then 0800 121 7479</li>
<li><a href="/orange/https://portal.starleaf.com/webrtc?name=DWP&target=DWP@interpreterslive.call.sl">Video Relay Service</a> for British Sign Language – <a href="/orange/https://www.dalanguages.co.uk/dwp-bsl/">find out how to use the service</a></li>
    </ul>

        <p class="govuk-body">Opening times: Monday to Friday, 9am to 5pm (except public holidays)</p>


      </div> </div>

{% endblock %}
