{% extends "layout.html" %} {% set serviceName = "Communication Support at Interview" %}

{% block pageTitle %}
 Do you know the support cost?
{% endblock %}

{% block beforeContent %}

<div class="govuk-phase-banner">
  <p class="govuk-phase-banner__content">
    <strong class="govuk-tag govuk-phase-banner__content__tag">
      beta
    </strong>
    <span class="govuk-phase-banner__text">
      This is a new service – your <a class="govuk-link" href="/orange/https://getinvolved.dwp.gov.uk/digital/cdc1a144">feedback</a> will help us to improve it.
    </span>
  </p>
</div>

{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <form class="form" action="role-details" method="post">



        <div id="csi-application-sent">
  <div class="govuk-panel govuk-panel--confirmation" data-gtm-vis-recent-on-screen11984963_401="131" data-gtm-vis-first-on-screen11984963_401="131" data-gtm-vis-total-visible-time11984963_401="100" data-gtm-vis-has-fired11984963_401="1">
  <h1 class="govuk-panel__title">
    Application sent
  </h1>

  <div class="govuk-panel__body">
    Your reference number<br><strong>HUORYWOE</strong>
  </div>

</div>

  </div>


<h2 class="govuk-heading-m">What happens next</h2>

<p class="govuk-body">We will review your application.</p>
<p class="govuk-body">An adviser will contact you within 2 working days.</p>
<p class="govuk-body">
    <a href="https://forms.office.com/e/uE9wkGPpCY" class="govuk-link" target="_blank">What did you think of this service?</a>
    (opens in a new tab)
  </p>




<br>
      <hr class="govuk-section-break govuk-section-break--visible">

        <h2 class="govuk-heading-m govuk-!-margin-top-4">Get help</h2>


        <p class="govuk-body">You can contact us for free by:</p>
        <ul class="govuk-list govuk-list--bullet">
    <li>Telephone: 0800 121 7479</li>
    <li>Textphone: 0800 121 7579</li>
    <li><a href="/orange/https://www.relayuk.bt.com/">Relay UK</a>, if you cannot hear or speak on the phone: 18001 then 0800 121 7479</li>
<li><a href="/orange/https://portal.starleaf.com/webrtc?name=DWP&target=DWP@interpreterslive.call.sl">Video Relay Service</a> for British Sign Language – <a href="/orange/https://www.dalanguages.co.uk/dwp-bsl/">find out how to use the service</a></li>
    </ul>

        <p class="govuk-body">Opening times: Monday to Friday, 9am to 5pm (except public holidays)</p>


      </div> </div>

{% endblock %}
