{% set page = "claim" %}
{% set claim = "true" %}
{% set title = "Case details" %}
{% set view = "tab" %}

{% extends   "payments/sprint-51/claim/_CSIBASE-no-footer.html" %}



{% block csi %}




<!-- <form action="/cases/claim/task-list" method="post" novalidate> -->
<form action="/payments/sprint-51/cases/dereck/cases/whitemail/whitemail-type-tab#document-details" method="post" novalidate>



  <div class="govuk-width-container">
    <main class="govuk-main-wrapper">
      <div class="govuk-grid-row">
        <div class="govuk-grid-column-two-thirds">

<div class="govuk-form-group">

  <fieldset class="govuk-fieldset">

  <legend class="govuk-fieldset__legend govuk-fieldset__legend--l">
    <span class="govuk-caption-xl">
      {% if data['whitemail-name']%} {{data ['whitemail-name'] }}{% endif %}</span>
    <h1 class="govuk-fieldset__heading">
      Did you save the replacement document in SharePoint?

    </h1>
  </legend>
  <div class="govuk-radios" data-module="govuk-radios">
        <div class="govuk-radios__item">
          <input class="govuk-radios__input" id="whitemail-sharepoint" name="whitemail-sharepoint" type="radio" value="Yes~/payments/sprint-51/cases/{{case}}/cases/whitemail/check-answers-tab#document-details" {{ checked("whitemail-sharepoint", "Yes") }}>
          <label class="govuk-label govuk-radios__label" for="whitemail-sharepoint">
            Yes
          </label>
        </div>
        <div class="govuk-radios__item">
          <input class="govuk-radios__input" id="whitemail-sharepoint-2" name="whitemail-sharepoint" type="radio" value="No~/payments/sprint-51/cases/{{case}}/cases/whitemail/whitemail-saved-location-other-tab#document-details" {{ checked("whitemail-sharepoint", "No") }}>
          <label class="govuk-label govuk-radios__label" for="whitemail-sharepoint-2">
            No
          </label>
        </div>
      </div>

      </fieldset>
    </div>



               <button class="govuk-button" data-module="govuk-button">
             Save and continue
           </button>
         </form>
       </div>
     </div>


        </main>
        </div>







{% endblock %}
