{% extends folder + "/claim/_CSIBASE.html" %}
{% set hideback = "true" %}
{% block pageTitle %}
  Task list
{% endblock %}

{% block beforeContent %}
{% endblock %}
{% set case = 'Alexis'%}
{% block content %}




<div class="govuk-grid-row">
  <div class="govuk-form-group">


        <div class="govuk-tabs" data-module="govuk-tabs">
          <h2 class="govuk-tabs__title">
            Contents
          </h2>
          <ul class="govuk-tabs__list">
            <li class="govuk-tabs__list-item govuk-tabs__list-item--selected">
              <a class="govuk-tabs__tab" href="#past-day">
                Case Management
              </a>
            </li>
            <li class="govuk-tabs__list-item">
              <a class="govuk-tabs__tab" href="#past-week">
                Application
              </a>
            </li>
            <!-- <li class="govuk-tabs__list-item">
              <a class="govuk-tabs__tab" href="#past-month">
                Past month
              </a>
            </li> -->

          </ul>
          <div class="govuk-tabs__panel" id="past-day">


         <div class="govuk-grid-row">
        <div class="govuk-grid-column-two-thirds">





          <p></p>

            <h2 class="govuk-heading-s">Application Summary</h2>


        <p> Application refrence: XXXXXX
        <br> Date Submitted: XXXXXX</p>

        <p><strong>Name: </strong>Dereck Smith</p>



        <p><strong>Condition:</strong> XXXXXX</p>


        </div>




         <div class="govuk-grid-column-one-third">



             <div class="update-panel govuk-form-group">
                <h3 id="update-specialism-heading" class="govuk-heading-m">Update specialism</h3>
                <form action="/cases/apply/RMPX30/update-specialism" method="post" class="form" id="form-update-specialism" autocomplete="off" data-submitonce="">
                    <div class="govuk-form-group form-group-compound">
                    <select class="govuk-select" id="specialismId" name="specialism" aria-labelledby="update-specialism-heading">


                            <option value="self_employed" data-name="Self-employed">
                        Self-employed
                        </option>

                            <option value="director" data-name="Director">
                        Director
                        </option>

                            <option value="hidden" data-name="Hidden impairments">
                        Hidden impairments
                        </option>

                            <option value="large_employer" data-name="Large employer">
                        Large employer
                        </option>

                            <option value="deaf" data-name="Deaf">
                        Deaf
                        </option>

                            <option value="visual" data-name="Visually impaired">
                        Visually impaired
                        </option>

                            <option value="unknown" data-name="Pan disability" selected="">
                        Pan disability
                        </option>

                    </select>
                    </div>
                    <div>
                    <input type="submit" class="govuk-button" id="submitButtonSpecialism" value="Save">
                    </div>
                </form>
            </div>
           </div>
        </div>






          </div>
















          <div class="govuk-tabs__panel govuk-tabs__panel--hidden" id="past-week">
            <div class="govuk-grid-row">


           <div class="govuk-grid-column-two-thirds">

                 <h2 class="govuk-heading-l">Application</h2>
                 <p class="govuk-body">
                   <strong>Reference number:</strong> <span id="reference-number">XXXXXX</span><br>
                   <strong>Date submitted:</strong> <span id="date-created">XXXXXXX</span><br>
                   <strong>Version of questions:</strong>

                    XXXXXXXX
                     <br>
                 </p>



    <div class="govuk-accordion" data-module="govuk-accordion" id="accordion-default">
      <div class="govuk-accordion__section ">
        <div class="govuk-accordion__section-header">
          <h2 class="govuk-accordion__section-heading">
        <span class="govuk-accordion__section-button" id="accordion-default-heading-1">
          Customer update
        </span>
          </h2>
        </div>
        <div id="accordion-default-content-1" class="govuk-accordion__section-content" aria-labelledby="accordion-default-heading-1">

          <div class="govuk-grid-row">
            <div class="govuk-grid-column-full">

              <h2 class="govuk-heading-m">Customer details</h2>

              <dl class="govuk-summary-list govuk-!-margin-bottom-9">
                <div class="govuk-summary-list__row">
                  <dt class="govuk-summary-list__key">
                    Last name
                  </dt>
                  <dd class="govuk-summary-list__value">
                   Kemp
                  </dd>
                </div>
                <div class="govuk-summary-list__row">
                  <dt class="govuk-summary-list__key">
                    First name
                  </dt>
                  <dd class="govuk-summary-list__value">
                    Alexis
                  </dd>
                </div>

                <div class="govuk-summary-list__row">
                  <dt class="govuk-summary-list__key">
                    Date of birth
                  </dt>
                  <dd class="govuk-summary-list__value">
                  25 March 1998
                  </dd>
                </div>
                <div class="govuk-summary-list__row">
                  <dt class="govuk-summary-list__key">
                    Gender
                  </dt>
                  <dd class="govuk-summary-list__value">
                  Did not answer
                  </dd>
                </div>
                <div class="govuk-summary-list__row">
                  <dt class="govuk-summary-list__key">
                    Ethnicity
                  </dt>
                  <dd class="govuk-summary-list__value">
                    Did not answer
                  </dd>
                </div>
                <div class="govuk-summary-list__row">
                  <dt class="govuk-summary-list__key">
                    Address
                  </dt>
                  <dd class="govuk-summary-list__value">


          230 St Vincent Street
                    <br>
                  Glasgow

                    <br>
                    United Kingdom
                    <br>
                  </dd>
                </div>
                <div class="govuk-summary-list__row">
                  <dt class="govuk-summary-list__key">
                    Postcode
                  </dt>
                  <dd class="govuk-summary-list__value">
                    AB1 1AB
                  </dd>
                </div>

                <div class="govuk-summary-list__row">
                  <dt class="govuk-summary-list__key">
                    Telephone Number
                  </dt>
                  <dd class="govuk-summary-list__value">
                  I find it difficult to hear or speak on the telephone
                  </dd>
                </div>
                <div class="govuk-summary-list__row">
                  <dt class="govuk-summary-list__key">
                    Email address
                  </dt>
                  <dd class="govuk-summary-list__value">

    alexis@outlook.co.uk
                  </dd>
                </div>
              </dl>

              <h2 class="govuk-heading-m">Preferred communication method</h2>

              <dl class="govuk-summary-list govuk-!-margin-bottom-9">
                <div class="govuk-summary-list__row">
                  <dt class="govuk-summary-list__key">
                    Who should we contact about your application?
                  </dt>
                  <dd class="govuk-summary-list__value">
                  Me
                  </dd>
                </div>

                <div class="govuk-summary-list__row">
                  <dt class="govuk-summary-list__key">
                  Telephone number
                  </dt>
                  <dd class="govuk-summary-list__value">
                    I find it difficult to hear or speak on the telephone
                  </dd>
                </div>
                <div class="govuk-summary-list__row">
                  <dt class="govuk-summary-list__key">
                    Email address
                  </dt>
                  <dd class="govuk-summary-list__value">

    alexis@outlook.co.uk
                  </dd>
                </div>
              </dl>

              <h2 class="govuk-heading-m">Disability description</h2>

              <dl class="govuk-summary-list govuk-!-margin-bottom-9">
                <div class="govuk-summary-list__row">
                  <dt class="govuk-summary-list__key">
                      Health conditions or disabilities
                  </dt>
                  <dd class="govuk-summary-list__value">
                Deaf
                  </dd>
                </div>
                <div class="govuk-summary-list__row">
                     <dt class="govuk-summary-list__key">
                     How customer feels disability affects job
                     </dt>
                     <dd class="govuk-summary-list__value">
                       I am Deaf and rely on BSL interpreters for most of my communication in the office.  My job in HR means I spend a lot of time communicating face to face with other people. Without interpreter support, I would not be able to participate in meetings with either my team members or other colleagues in the business.  My job in HR means that I spend a lot of time communicating face to face with other people. The only way I can do this is with in-person BSL support. 
                 </div>
              </dl>

            </div>
          </div>

        </div>
      </div>
      <div class="govuk-accordion__section ">
        <div class="govuk-accordion__section-header">
          <h2 class="govuk-accordion__section-heading">
        <span class="govuk-accordion__section-button" id="accordion-default-heading-2">
          Update employer and job
        </span>
          </h2>
        </div>
        <div id="accordion-default-content-2" class="govuk-accordion__section-content" aria-labelledby="accordion-default-heading-2">
          <div class="govuk-grid-row">
        <div class="govuk-grid-column-full">
              <h2 class="govuk-heading-m">Employment</h2>

              <dl class="govuk-summary-list govuk-!-margin-bottom-9">

                <div class="govuk-summary-list__row">
                  <dt class="govuk-summary-list__key">
                    Job title
                  </dt>
                  <dd class="govuk-summary-list__value">
                  HR Assistant
                  </dd>
                </div>

                <div class="govuk-summary-list__row">
                  <dt class="govuk-summary-list__key">
                    Job start date
                  </dt>
                  <dd class="govuk-summary-list__value">
                  15 December 2022
                  </dd>
                </div>
                <div class="govuk-summary-list__row">
                  <dt class="govuk-summary-list__key">
                    Employment status
                  </dt>
                  <dd class="govuk-summary-list__value">
                Employed
                  </dd>
                </div>
                <div class="govuk-summary-list__row">
                  <dt class="govuk-summary-list__key">
                    Company or organisation name
                  </dt>
                  <dd class="govuk-summary-list__value">
                  Tesco
                  </dd>
                </div>
              </dl>

              <h2 class="govuk-heading-m">Workplace details</h2>

              <dl class="govuk-summary-list govuk-!-margin-bottom-9">
                <div class="govuk-summary-list__row">
                  <dt class="govuk-summary-list__key">
                    Address
                  </dt>
                  <dd class="govuk-summary-list__value">
                222 St Vincent Street<br>
                Glasgow<br>
AB1 1AB
                  </dd>
                </div>


                <div class="govuk-summary-list__row">
                  <dt class="govuk-summary-list__key">
                    Hours worked per week
                  </dt>
                  <dd class="govuk-summary-list__value">
                    32
                  </dd>
                </div>
                <div class="govuk-summary-list__row">
                  <dt class="govuk-summary-list__key">
                    Days in the week worked
                  </dt>
                  <dd class="govuk-summary-list__value">
                                            <ul>
                                                <li>Monday</li>
                                                <li>Tuesday</li>
                                                <li>Wednesday</li>
                                                <li>Thursday</li>
                                                <li>Friday</li>

                                                </ul>
                                                <p>
                                                </p><p> Dereck Smith does not work flexibly or a shift pattern.</p>
                                             </dd>
                </div>
                <div class="govuk-summary-list__row">
                  <dt class="govuk-summary-list__key">
                    Hybrid working
                  </dt>
                  <dd class="govuk-summary-list__value">
No                </div>
                <div class="govuk-summary-list__row">
                  <dt class="govuk-summary-list__key">
                    Job description
                  </dt>
                  <dd class="govuk-summary-list__value">
I work in the HR department for a large supermarket group.  My work involves supporting store managers and staff that have got grievances and other HR issues. I also spend a lot of time visiting colleagues in other local stores.  I input data and create reports from the work HR computer system and take part in daily team meetings and strategy meetings with HR and wider business colleagues.                   </dd>
                </div>
                <div class="govuk-summary-list__row">
                  <dt class="govuk-summary-list__key">
                    How customer feels disability affects job
                  </dt>
                  <dd class="govuk-summary-list__value">
I am Deaf and rely on BSL interpreters for most of my communication in the office.  My job in HR means I spend a lot of time communicating face to face with other people. Without interpreter support, I would not be able to participate in meetings with either my team members or other colleagues in the business.  My job in HR means that I spend a lot of time communicating face to face with other people. The only way I can do this is with in-person BSL support. 
 </div><div class="govuk-summary-list__row">



                             <dt class="govuk-summary-list__key">
                                Other jobs
                             </dt>
                             <dd class="govuk-summary-list__value">
                                No
                             </dd>
                         </div>



                <div class="govuk-summary-list__row">
                  <dt class="govuk-summary-list__key">
                    Support customers feels may be needed
                  </dt>
                  <dd class="govuk-summary-list__value">
                  Support worker


                  </dd>
                </div>

                <div class="govuk-summary-list__row">
                  <dt class="govuk-summary-list__key">
                  Support customers feels they do not needed
                  </dt>
                  <dd class="govuk-summary-list__value">
                    <ul>
                        <li>Specialist equipment</li>
                          <li>Mental health support</li>
                      <li>Travelling to and from work</li>
                      <li>Changes to workplace</li>
                      <li>Adaptations to a vehicle</li>
                    </ul>
                  </dd>
                </div>
              </dl>
<h2 class="govuk-heading-m">Workplace contact</h2>
              <dl class="govuk-summary-list govuk-!-margin-bottom-9">
    <div class="govuk-summary-list__row">
      <dt class="govuk-summary-list__key">
        Their name
      </dt>
      <dd class="govuk-summary-list__value">
        John Smith
      </dd>

    </div>
    <div class="govuk-summary-list__row">
      <dt class="govuk-summary-list__key">
        Their job title
      </dt>
      <dd class="govuk-summary-list__value">
        Line manager
      </dd>

    </div>
    <div class="govuk-summary-list__row">
      <dt class="govuk-summary-list__key">
        Their email address
      </dt>
      <dd class="govuk-summary-list__value">
        j.smith@tesco.com
      </dd>

    </div>
    <div class="govuk-summary-list__row">
      <dt class="govuk-summary-list__key">
        Their phone number
      </dt>
      <dd class="govuk-summary-list__value">
        123456789
      </dd>

    </div>
    <div class="govuk-summary-list__row">
      <dt class="govuk-summary-list__key">
      Permission for us to contact John Smith
      </dt>
      <dd class="govuk-summary-list__value">
        Yes
      </dd>

    </div>
  </dl>
            </div>
          </div>
        </div>
      </div>
      <div class="govuk-accordion__section ">
        <div class="govuk-accordion__section-header">
          <h2 class="govuk-accordion__section-heading">
        <span class="govuk-accordion__section-button" id="accordion-default-heading-3">
          Support requested
        </span>
          </h2>
        </div>
        <div id="accordion-default-content-3" class="govuk-accordion__section-content" aria-labelledby="accordion-default-heading-3">
          <div class="govuk-grid-row">
        <div class="govuk-grid-column-full">
              <h2 class="govuk-heading-m">Create business case</h2>

              <dl class="govuk-summary-list govuk-!-margin-bottom-9">

                <div class="govuk-summary-list__row">
                  <dt class="govuk-summary-list__key">
                    Job description
                  </dt>
                  <dd class="govuk-summary-list__value">
I work in the HR department for a large supermarket group.  My work involves supporting store managers and staff that have got grievances and other HR issues. I also spend a lot of time visiting colleagues in other local stores.  I input data and create reports from the work HR computer system and take part in daily team meetings and strategy meetings with HR and wider business colleagues.                   </dd>
                </div>
                <div class="govuk-summary-list__row">
                  <dt class="govuk-summary-list__key">
                    How customer feels disability affects job
                  </dt>
                  <dd class="govuk-summary-list__value">
I am Deaf and rely on BSL interpreters for most of my communication in the office. My job in HR means I spend a lot of time communicating face to face with other people. Without interpreter support, I would not be able to participate in meetings with either my team members or other colleagues in the business. My job in HR means that I spend a lot of time communicating face to face with other people. The only way I can do this is with in-person BSL support.                  </div>
                <div class="govuk-summary-list__row">
                  <dt class="govuk-summary-list__key">
                    Support customers feels may be needed
                  </dt>
                  <dd class="govuk-summary-list__value">
                  Support worker


                  </dd>
                </div>

                <div class="govuk-summary-list__row">
                  <dt class="govuk-summary-list__key">
                  Support customers feels they do not needed
                  </dt>
                  <dd class="govuk-summary-list__value">
                    <ul>
                        <li>Specialist equipment</li>
                          <li>Mental health support</li>
                      <li>Travelling to and from work</li>
                      <li>Changes to workplace</li>
                      <li>Adaptations to a vehicle</li>
                    </ul>
                  </dd>
                </div>
              </dl>

              <h2 class="govuk-heading-m"> Support worker</h2>
  <dl class="govuk-summary-list govuk-!-margin-bottom-9">

            <div class="govuk-summary-list__row">
                <dt class="govuk-summary-list__key">
    Type of support worker
                </dt>
                <dd class="govuk-summary-list__value">
                    British Sign Language (BSL) interpreter
                </dd>

            </div>


            <div class="govuk-summary-list__row">
                <dt class="govuk-summary-list__key">
                  How will a  British Sign Language (BSL) interpreter
                   help you at work?
                </dt>
                <dd class="govuk-summary-list__value">
                  I need a BSL interpreter so that I can communicate with other colleagues face to face across the organisation. This is something that happens for much of my week. I need to understand what is being said in face-to-face meetings and communicate back.  Without BSL support I would not be able to do my job. 
                </dd>

            </div>

            <div class="govuk-summary-list__row">
                <dt class="govuk-summary-list__key">
                    Will you need a support worker on a temporary basis?
                </dt>
                <dd class="govuk-summary-list__value">
                    No, I need a support worker on a permanent basis
                </dd>

            </div>



            <div class="govuk-summary-list__row">
                <dt class="govuk-summary-list__key">
                    How many hours per week do you need this support at work?
                </dt>
                <dd class="govuk-summary-list__value">
                    32
                     hours per week

                </dd>

            </div>

            <div class="govuk-summary-list__row">
                <dt class="govuk-summary-list__key">
                    Do you have quotes for the support worker that you need?
                </dt>
                <dd class="govuk-summary-list__value">
                    Yes, I have quotes
                </dd>

            </div>






            <div class="govuk-!-padding-bottom-7"></div>

            <h2 class="govuk-heading-m">First quote for   British Sign Language (BSL) interpreter</h2>

                <div class="govuk-summary-list__row">
                    <dt class="govuk-summary-list__key">
                        Support worker provider
                    </dt>
                    <dd class="govuk-summary-list__value">
                        BSL interpreter limited
                    </dd>

                </div>
                <div class="govuk-summary-list__row">
                    <dt class="govuk-summary-list__key">
                        Cost per hour
                    </dt>
                    <dd class="govuk-summary-list__value">
                        £ 15 per hour
                    </dd>

                </div>
                <div class="govuk-summary-list__row">
                    <dt class="govuk-summary-list__key">
                        Have you worked with this support worker provider before?
                    </dt>
                    <dd class="govuk-summary-list__value">
                        Yes
                    </dd>

                </div>
                <div class="govuk-summary-list__row">
                <dt class="govuk-summary-list__key">
                    Do you have a second quote?
                </dt>
                <dd class="govuk-summary-list__value">
                    Yes
                </dd>

                </div>





            <div class="govuk-!-padding-bottom-7"></div>

            <h2 class="govuk-heading-m">Second quote for   British Sign Language (BSL) interpreter</h2>

            <div class="govuk-summary-list__row">
                <dt class="govuk-summary-list__key">
                    Support worker provider
                </dt>
                <dd class="govuk-summary-list__value">
                    interpreter r Us
                </dd>

            </div>
            <div class="govuk-summary-list__row">
                <dt class="govuk-summary-list__key">
                    Cost per hour
                </dt>
                <dd class="govuk-summary-list__value">
                    £ 16 per hour
                </dd>

            </div>
            <div class="govuk-summary-list__row">
                <dt class="govuk-summary-list__key">
                    Have you worked with this support worker provider before?
                </dt>
                <dd class="govuk-summary-list__value">
                    No
                </dd>

            </div>
            <div class="govuk-summary-list__row">
                <dt class="govuk-summary-list__key">
                    Do you have a third quote?
                </dt>
                <dd class="govuk-summary-list__value">
                    Yes
                </dd>

            </div>






            <div class="govuk-!-padding-bottom-7"></div>

            <h2 class="govuk-heading-m">Third quote for   British Sign Language (BSL) interpreter</h2>

            <div class="govuk-summary-list__row">
                <dt class="govuk-summary-list__key">
                    Support worker provider
                </dt>
                <dd class="govuk-summary-list__value">
                    British Sign Language interpreter Agency
                </dd>

            </div>
            <div class="govuk-summary-list__row">
                <dt class="govuk-summary-list__key">
                    Cost per hour
                </dt>
                <dd class="govuk-summary-list__value">
                    £ 17 per hour
                </dd>

            </div>
            <div class="govuk-summary-list__row">
                <dt class="govuk-summary-list__key">
                    Have you worked with this support worker provider before?
                </dt>
                <dd class="govuk-summary-list__value">
                    No
                </dd>

            </div>



        </dl>



              <h2 class="govuk-heading-m">     Additional information </h2>

              <dl class="govuk-summary-list govuk-!-margin-bottom-9">
                  <div class="govuk-summary-list__row">
                      <dt class="govuk-summary-list__key">
                       Is there anything else that Dereck Smith would like to tell us?
                      </dt>
                      <dd class="govuk-summary-list__value">
                       No
                      </dd>
                  </div>


              </dl>
           </div>
           </div>
           </div>       </div>       </div>

  <div class="govuk-!-padding-bottom-4"></div>

      <form class="form" action="disc#past-week" method="post">
          <div class="govuk-button-group">
              <button class="govuk-button" data-module="govuk-button">
                  Application copied
              </button>


          </div>
      </form>

    </div>
</div></div></div>
</div>    </div>    </div>

{% endblock %}
