

<!-- TAB LIST -->
{% set changeHide = 'true '%}

<div class="govuk-tabs" data-module="govuk-tabs">
  <h2 class="govuk-tabs__title">
    Contents
  </h2>

  <ul class="govuk-tabs__list">

    <li class="govuk-tabs__list-item govuk-tabs__list-item--selected">
      <a class="govuk-tabs__tab" href="#claim-summarry">
        Case history
      </a>
    </li>

    <li class="govuk-tabs__list-item">
      <a class="govuk-tabs__tab" href="#claim-details">
      Claim form
      </a>
    </li>

    {% if data ['invoice-valid'] or data ['invoice-valid-2'] or data ['invoice-valid-3']%}
    <li class="govuk-tabs__list-item">
      <a class="govuk-tabs__tab" href="#document-details">
      Documents
      </a>
    </li>
    {% endif %}


    <li class="govuk-tabs__list-item">
      <a class="govuk-tabs__tab" href="#your-tasks">
        Your tasks
      </a>
    </li>



      <li class="govuk-tabs__list-item">
        <a class="govuk-tabs__tab" href="#contact-log">
          Contact details and log
        </a>
    </li>

  </ul>







<!-- CASE HISTORY DETAILS -->






      <div class="govuk-tabs__panel govuk-tabs__panel--hidden" id="claim-summarry">
        <div class="govuk-grid-row">
          <div class="govuk-grid-column-two-thirds">

{% include  "../claim/timeline.html" %}

</div>
</div>
</div>




  <div class="govuk-tabs__panel govuk-tabs__panel--hidden" id="document-details">
    <div class="govuk-grid-row">
      <div class="govuk-grid-column-two-thirds">

 {% include "./document-details.html"%}

</div>
</div>
</div>



  <div class="govuk-tabs__panel govuk-tabs__panel--hidden" id="claim-details">
    <div class="govuk-grid-row">
      <div class="govuk-grid-column-two-thirds">

 {% include "./claim-details.html"%}

</div>
</div>
</div>



  <div class="govuk-tabs__panel govuk-tabs__panel--hidden" id="your-tasks">

    {% include  "./task-list.html" %}

</div>
</div>
</div>



  <div class="govuk-tabs__panel govuk-tabs__panel--hidden" id="contact-log">
    <div class="govuk-grid-row">
      <div class="govuk-grid-column-two-thirds">

        {% include  "./notification.html" %}


  </div>
  </div>
  </div>
