
{% extends "layout-cookiebanner-accepted.html" %} {% set serviceName = "Communication Support at Interview" %}

{% block pageTitle %}
 Do you know the support cost?
{% endblock %}


{% block beforeContent %}

<div class="govuk-phase-banner">
  <p class="govuk-phase-banner__content">
    <strong class="govuk-tag govuk-phase-banner__content__tag">
      beta
    </strong>
    <span class="govuk-phase-banner__text">
      This is a new service – your <a class="govuk-link" href="https://getinvolved.dwp.gov.uk/digital/cdc1a144">feedback</a> will help us to improve it.
    </span>
  </p>
</div>

{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <form class="form" action="clinically-extremely-vulnerable" method="post">

      <form action="/form-handler" method="post" novalidate>

          <div class="govuk-form-group">
            <fieldset class="govuk-fieldset">
              <legend class="govuk-fieldset__legend govuk-fieldset__legend--xl">
                <h1 class="govuk-fieldset__heading">
                 Do you know how much your sign language interpreter or support worker will cost?
                </h1>
              </legend>

              <div id="dob-hint" class="govuk-hint">
        You need to ask them for their total cost before you can complete your application.
              </div>

              <div class="govuk-radios" data-module="govuk-radios">
                <div class="govuk-radios__item">
                  <input class="govuk-radios__input" id="are-you-a-civil-servant" name="are-you-a-civil-servant" type="radio" value="yes~other-jobs.html">
                  <label class="govuk-label govuk-radios__label" for="are-you-a-civil-servant">
                    Yes
                  </label>
                </div>
                <div class="govuk-radios__item">
                  <input class="govuk-radios__input" id="are-you-a-civil-servant-2" name="are-you-a-civil-servant" type="radio" value="no~condition.html">
                  <label class="govuk-label govuk-radios__label" for="are-you-a-civil-servant-2">
                    No
                  </label>
                </div>
              </div>

            </fieldset>
          </div>
        <button class="govuk-button" data-module="govuk-button">Continue</button>

      </form>

    </div>
    <div class="govuk-grid-column-one-third">
      <hr class="govuk-section-break govuk-section-break--visible">
        <aside id="journey-sidebar" role="region">
        <h2 class="govuk-heading-m govuk-!-margin-top-4">Get help</h2>
        <h3 class="govuk-heading-s">Telephone</h3>
        <p class="govuk-body">0800 169 0154</p>
        <p class="govuk-body">Monday to Friday, 8am to 6pm</p>
        <p class="govuk-body">Closed public holidays</p>
        <h3 class="govuk-heading-s">Email</h3>
        <p class="govuk-body"><a rel="external" href="mailto:dwponline.helpdesk@dwp.gov.uk"> dwponline.helpdesk@dwp.gov.uk</a></p>
    </aside>

      </div> </div>

{% endblock %}
{% block footer %}
  {{ govukFooter({
    meta: {
      items: [
        {
          href: "https://www.get-disability-work-support.service.gov.uk/apply/accessibility-statement",
          text: "Accessibility statement "
        },
        {
          href: "cookie-policy",
          text: "Cookies"
        },
        {
          href: "https://www.gov.uk/government/organisations/department-for-work-pensions/about/personal-information-charter",
          text: "Privacy policy"
        }
      ]
    }
  }) }}
{% endblock %}
