{% set page = "claim" %}
{% set claim = "true" %}
{% set title = "Case details" %}

{% extends folder + "/claim/_CSIBASE.html" %}

{% block csi %}

<form action="{% if data['wpa']=='Yes' %}from{% else %}why{% endif %}" method="post" novalidate>
<div class="govuk-width-container">


  <main class="govuk-main-wrapper " id="main-content" role="main">
    <div class="govuk-grid-row">
      <div class="govuk-grid-column-two-thirds">

        <div class="govuk-form-group">
  <h1 class="govuk-label-wrapper"><label class="govuk-label govuk-label--l" for="sae-item-type">

                {% include "live-21//cases/check-application/sae/details/content/type.html" %} </label> </h1>


<div id="event-name-hint" class="govuk-hint">Give the name of one item of equipment. You will have the option to add more later.</div>


            <input class="govuk-input" id="sae-item-type" name="sae-item-type-2" type="text" spellcheck="false" autocomplete="name">

            </div>




                   </div>         </div><br>
                   <button class="govuk-button" data-module="govuk-button">
                   Save and continue
                   </button>

                   </form>


                   </main>
                 </div>


               {% endblock %}
