{% set page = "claim" %}
{% set claim = "true" %}
{% set title = "Case details" %}

{% extends folder + "/claim/_CSIBASE.html" %}

{% block csi %}

<form action="approve-new" method="post" novalidate>
<div class="govuk-width-container">


  <main class="govuk-main-wrapper " id="main-content" role="main">
    <div class="govuk-grid-row">
      <div class="govuk-grid-column-two-thirds">

        <div class="govuk-form-group">
      <fieldset class="govuk-fieldset" aria-describedby="from-sae-hint">
        <legend class="govuk-fieldset__legend govuk-fieldset__legend--l">
          <h1 class="govuk-fieldset__heading">
          {% include "accessibility/cases/check-application/support-worker/details/content/how-type-support-worker-identified.html" %}
          </h1>
        </legend>

        <div class="govuk-inset-text">
      {{ data['sw-type']}}
        </div>
        <div class="govuk-radios" data-module="govuk-radios">
          <div class="govuk-radios__item">
            <input class="govuk-radios__input" id="from-sae" name="from-sae" type="radio" value="From the workplace assessment report">
            <label class="govuk-label govuk-radios__label" for="from-sae">
            From the workplace assessment report
            </label>
          </div>
          <div class="govuk-radios__item">
            <input class="govuk-radios__input" id="from-sae-2" name="from-sae" type="radio" value="From {% if case =='other-cases-2' %}Thomas King{% endif %}{% if case =='other-cases' %}Sonya Corkery{% endif %}{% if not case %}Dereck Smith{% endif %}">
            <label class="govuk-label govuk-radios__label" for="from-sae-2">
        From {% if case =='other-cases-2' %}Thomas King{% endif %}{% if case =='other-cases' %}Sonya Corkery{% endif %}{% if not case %}Dereck Smith{% endif %}
            </label>
          </div>
        </div>

      </fieldset>
    </div>
                   <button class="govuk-button" data-module="govuk-button">
                   Save and continue
                   </button>

                   </form>


                   </main>
                 </div>


               {% endblock %}
