{% extends "layout.html" %} {% set serviceName = "Apply for Access to Work" %}

{% block pageTitle %}
  Accessibility statement for Access to Work
{% endblock %}

{% block beforeContent %}

<div class="govuk-phase-banner">
  <p class="govuk-phase-banner__content">
    <strong class="govuk-tag govuk-phase-banner__content__tag">
      beta
    </strong>
    <span class="govuk-phase-banner__text">
      This is a new service – your <a class="govuk-link" href="https://getinvolved.dwp.gov.uk/digital/cdc1a144">feedback</a> will help us to improve it.
    </span>
  </p>
</div>


{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

     <h1 class="govuk-heading-l">
      Accessibility statement for Access to Work
    </h1>
​
    <p class="govuk-body">
       This service is part of the wider GOV.UK website. There's a separate <a class="govuk-link" href="https://www.gov.uk/help/accessibility-statement/">accessibility statement for the main GOV.UK website</a>.
      </p>
      <p class="govuk-body">
        This page only contains information about the Apply for Access to Work service, available at <mark><a class="govuk-link" href="https://www.get-disability-work-support.service.gov.uk/apply">www.get-disability-work-support.service.gov.uk/apply</mark></a><mark>.</mark>
      </p>

      <h2 class="govuk-heading-m">
        Using this service
      </h2>
      <p class="govuk-body">
        This service is run by the Department for Work and Pensions <mark>(DWP)</mark>. We want as many people as possible to be able to use this service. For example, that means you should be able to:
      </p>
      <ul class="govuk-list govuk-list--bullet">
        <li>
        change colours, contrast levels and fonts
        </li>
        <li>
        zoom in up to 300% without the text spilling off the screen
        </li>
        <li>
        get from the start of the service to the end using just a keyboard
        </li>
        <li>
        get from the start of the service to the end using speech recognition software
        </li>
        <li>
        listen to the service using a screen reader <mark>(including the most recent versions of JAWS, NVDA and VoiceOver)</mark>
        </li>
      </ul>
      <p class="govuk-body">
        We've also made the text in the service as simple as possible to understand.
      </p>
      <p class="govuk-body">
        <a class="govuk-link" href="https://mcmw.abilitynet.org.uk/">AbilityNet</a> has advice on making your device easier to use if you have a disability.
      </p>

      <h2 class="govuk-heading-m">
        How accessible this service is
      </h2>
      <p class="govuk-body">
        The service is using common styles, patterns and components from the <mark><a class="govuk-link" href="https://design-system.service.gov.uk/">GOV.UK Design System</a></mark> which are widely regarded as accessible.
      </p>
      <p class="govuk-body">
        Some people may find parts of this service difficult to use:
      </p>
      <ul class="govuk-list govuk-list--bullet govuk-list--spaced">
        <li>
        JAWS screen reader software may not read out all page headings in Internet Explorer 11 – this is a known issue with JAWS version 18 or above, we recommend using a different browser to avoid this problem
        </li>
      </ul>

      <h2 class="govuk-heading-m">
        Feedback and contact information
      </h2>
      <p class="govuk-body">
       <mark>If you have difficulty using this service, contact us for free by:</mark>
      </p>
      <ul class="govuk-list govuk-list--bullet govuk-list--spaced">
        <li><mark>using the 
          <a class="govuk-link" href="https://secure.dwp.gov.uk/contact-dwp-about-accessibility/contact-form">online DWP accessibility contact form</a></mark>
        </li>
        <li>
          <mark>Telephone:</mark> 0800 121 7479
        </li>
        <li>
          <mark>Textphone:</mark> 0800 121 7579
        </li>
        <li>
          <mark><a class="govuk-link" href="https://www.relayuk.bt.com/">Relay UK</a>, if you cannot hear or speak on the phone: 18001 then 0800 121 7479</mark>
        </li>
        <li> <mark><a class="govuk-link" href="https://connect.interpreterslive.co.uk/vrs?ilc=DWP">Video Relay Service</a> for British Sign Language – <a class="govuk-link" href="https://www.interpreterslive.co.uk/contact-sign-language-interpreter">find out how to use the Video Relay Service</a> </mark></li>

      </ul>

     <p class="govuk-body"><mark>As part of providing this service, we may need to send you messages or documents. Contact us if you need information in a different format, for example large print, audio recording or braille.</mark></p>


      <h2 class="govuk-heading-m">
        Reporting accessibility problems with this service
      </h2>
      <p class="govuk-body">
        We're always looking to improve the accessibility of this service. If you find any problems that are not listed on this page, or think we're not meeting accessibility requirements, you can <a class="govuk-link" href="https://secure.dwp.gov.uk/contact-dwp-about-accessibility/contact-form"><mark>contact DWP to report an accessibility problem with this service</mark></a>.
      </p>

      <h2 class="govuk-heading-m">
        Enforcement procedure
      </h2>
      <p class="govuk-body">
        The Equality and Human Rights Commission (EHRC) is responsible for enforcing the Public Sector Bodies (Websites and Mobile Applications) (No. 2) Accessibility Regulations 2018 (the 'accessibility regulations'). If you're not happy with how we respond to your complaint, <a class="govuk-link" href="https://www.equalityadvisoryservice.com/">contact the Equality Advisory and Support Service (EASS)</a><mark>.</mark>
      </p>

      <h2 class="govuk-heading-m">
        Technical information about this service's accessibility
      </h2>
      <p class="govuk-body">
        <mark>DWP</mark> is committed to making this service accessible, in accordance with the Public Sector Bodies (Websites and Mobile Applications) (No. 2) Accessibility Regulations 2018.
      </p>

      <h3 class="govuk-heading-s">
        Compliance status
      </h3>
      <p class="govuk-body">
        This service is fully compliant with the <mark><a class="govuk-link" href="https://www.w3.org/TR/WCAG21/">Web Content Accessibility Guidelines version 2.1 AA standard</a>.</mark>
      </p>
      
      <h2 class="govuk-heading-m">
        Preparation of this accessibility statement
      </h2>

      <p class="govuk-body">
        <mark>This statement was prepared on 8 September 2020. It was last reviewed on 28 September 2023.</mark>
      </p>

      <p class="govuk-body">
        <mark>This service was last tested on 15 August 2023. The tests were carried out by DWP.</mark>
      </p>

    </div>
     </div>

{% endblock %}
{% block footer %}
  {{ govukFooter({
    meta: {
      items: [
        {
          href: "https://www.get-disability-work-support.service.gov.uk/apply/accessibility-statement",
          text: "Accessibility statement "
        },
        {
          href: "cookie-policy",
          text: "Cookies"
        },
        {
          href: "https://www.gov.uk/government/organisations/department-for-work-pensions/about/personal-information-charter",
          text: "Privacy policy"
        }
      ]
    }
  }) }}
{% endblock %}
