{% set case = "other-cases-fill-1" %}
{% set phase = "george" %}
{% set page = "claim" %}
{% set claim = "true" %}
{% set title = "Case details" %}

{% extends folder + "/claim/_CSIBASE.html" %}

{% block csi %}
<br>

<form action="award" method="post" novalidate>


  <div class="govuk-width-container">
    <!-- <a href="#" class="govuk-back-link">Back</a> -->

    <main class="govuk-main-wrapper">

      <div class="govuk-grid-row">
        <div class="govuk-grid-column-two-thirds">

  <div class="govuk-form-group">
             <fieldset class="govuk-fieldset">
               <legend class="govuk-fieldset__legend govuk-fieldset__legend--l">
                 <h2 class="govuk-fieldset__heading">
                Do you need to remove cost share from Kam Haraguchi award?
                 </h2>
               </legend>


               <div class="govuk-radios govuk-radios--inline">
                 <div class="govuk-radios__item">
                   <input class="govuk-radios__input" id="cost-share-need{{phase}}" name="cost-share-need{{phase}}" type="radio" value="Yes" {{ checked("cost-share-need"+ phase, "Yes") }}>
                   <label class="govuk-label govuk-radios__label" for="cost-share-need{{phase}}">
                     Yes
                   </label>
                 </div>
                 <div class="govuk-radios__item">
                   <input class="govuk-radios__input" id="cost-share-need{{phase}}-2" name="cost-share-need{{phase}}" type="radio" value="No" {{ checked("cost-share-need"+ phase, "No") }}>
                   <label class="govuk-label govuk-radios__label" for="cost-share-need{{phase}}-2">
                     No
                   </label>
                 </div>

               </div>

             </fieldset>
           </div>

           <button class="govuk-button" data-module="govuk-button">
             Save and continue
           </button>
         </form>
       </div>
     </div>


   </main>
   </div>



{% endblock %}
