{% extends "./claim/_BASE.html" %}
{% set hideBanner = true %}

{% if not phase %}
{% set phase = "allocator" %}

{% endif %}

{% set Unallocated = true %}

{% set unallocated = [
  {

    name: "Desmond Smith",
    submitted: "27 February 2020 - 04:23",
    interview: "1 November 2021",
    status: "New"
  },
  {

    name: "Sam Argentino",
    submitted: "23 February 2020 - 13:23",
    interview: "2 November 2021",
    status: "Action needed"
  }

  ]
  %}

{% block content %}
<div class="govuk-grid-row">
  <div class="govuk-grid-column-full">


    <div class="govuk-tabs" data-module="govuk-tabs">
      <h2 class="govuk-tabs__title">
        Contents
      </h2>
      <ul class="govuk-tabs__list">
        <li class="govuk-tabs__list-item govuk-tabs__list-item--selected">
          <a class="govuk-tabs__tab" href="#priority">
            Priority cases (0)
          </a>
        </li>
        <li class="govuk-tabs__list-item">
          <a class="govuk-tabs__tab" href="#other">
            Other cases (5)
          </a>
        </li>
        <li class="govuk-tabs__list-item">
          <a class="govuk-tabs__tab" href="#csi">
            CSI cases (50)
          </a>
        </li>
        <li class="govuk-tabs__list-item">
          <a class="govuk-tabs__tab" href="#past-year">
            Documents (100)
          </a>
        </li>
      </ul>
      <div class="govuk-tabs__panel" id="priority">
        <div class="govuk-grid-row">
         <div class="govuk-grid-column-one-quarter">
             <form action="/unallocated/filters/priority" method="post" data-submitonce="">
               <div id="unallocated-priority-apply-filter">






 <button class="govuk-button" data-module="govuk-button">
 Apply selected filters
 </button>

               </div>
               <div class="govuk-!-padding-bottom-3">
                 <a href="" class="govuk-link">Clear filters</a>
               </div>
               <div class="govuk-!-padding-bottom-3">
               <label class="govuk-label" for="unallocated-priority-sort">
                 Sort table by
               </label>
               <select class="select-inline govuk-select" id="unallocated-priority-sort-options" name="prioritySort">

                   <option value="date_created" selected="">Date created</option>


                   <option value="job_start">Job start date</option>

               </select>
               </div>



 <div class="govuk-form-group">

 <fieldset class="govuk-fieldset">

 <legend class="govuk-fieldset__legend govuk-fieldset__legend--m">

 Priority Type

 </legend>


 <div class="govuk-checkboxes govuk-checkboxes--small" data-module="govuk-checkboxes">








     <div class="govuk-checkboxes__item">
       <input class="govuk-checkboxes__input" id="type" name="priority_type[]" type="checkbox" value="JOB_START">
       <label class="govuk-label govuk-checkboxes__label" for="type">
   Job start
 </label>

     </div>










     <div class="govuk-checkboxes__item">
       <input class="govuk-checkboxes__input" id="type-2" name="priority_type[]" type="checkbox" value="CEV">
       <label class="govuk-label govuk-checkboxes__label" for="type-2">
   CEV
 </label>

     </div>










     <div class="govuk-checkboxes__item">
       <input class="govuk-checkboxes__input" id="type-3" name="priority_type[]" type="checkbox" value="KICKSTART">
       <label class="govuk-label govuk-checkboxes__label" for="type-3">
   Kickstart
 </label>

     </div>










     <div class="govuk-checkboxes__item">
       <input class="govuk-checkboxes__input" id="type-4" name="priority_type[]" type="checkbox" value="YPGS">
       <label class="govuk-label govuk-checkboxes__label" for="type-4">
   YPGS
 </label>

     </div>




 </div>


 </fieldset>


 </div>


             </form>
           </div>
         <div>
         <div class="govuk-grid-column-three-quarters">
           <h2 class="govuk-heading-m">
             Priority Cases
           </h2>



 <p class="govuk-body">There are sprint-49-ur-1ly no Priority Cases</p></div></div></div>

      </div>
      <div class="govuk-tabs__panel govuk-tabs__panel--hidden" id="other">
        <h2 class="govuk-heading-m">Other cases</h2>
        <table class="govuk-table" id="list-cases">
        <thead class="govuk-table__head">
          <tr class="govuk-table__row">
            <th class="govuk-table__header">Name</th>
            <!-- <th class="govuk-table__header">Specialism</th> -->
            <th class="govuk-table__header">Case type</th>
            <th class="govuk-table__header numeric">Date submitted</th>
            <th class="govuk-table__header"></th>
          </tr>
        </thead>
        <tbody>

            <tr class="click-row govuk-table__row" data-caseid="23Q7MX" data-caselink="apply/23Q7MX">
                <td class="govuk-table__cell">Terry jones</td>

                    <!-- <td class="govuk-table__cell">Director</td> -->

                <td class="govuk-table__cell">New application</td>
                <td class="govuk-table__cell numeric">25 Nov 2021, 3:58pm</td>

                  <td class="govuk-table__cell"><a href="/cases/apply/23Q7MX/case-management">View case</a></td>

            </tr>

            <tr class="click-row govuk-table__row" data-caseid="938RZ6" data-caselink="apply/938RZ6">
                <td class="govuk-table__cell">Terry Rasping</td>

                    <!-- <td class="govuk-table__cell">Director</td> -->

                <td class="govuk-table__cell">New application</td>
                <td class="govuk-table__cell numeric">25 Nov 2021, 4:04pm</td>

                  <td class="govuk-table__cell"><a href="/cases/apply/938RZ6/case-management">View case</a></td>

            </tr>

            <tr class="click-row govuk-table__row" data-caseid="4ZGVZR" data-caselink="apply/4ZGVZR">
                <td class="govuk-table__cell">Clive Jones</td>

                    <!-- <td class="govuk-table__cell">Director</td> -->

                <td class="govuk-table__cell">New application</td>
                <td class="govuk-table__cell numeric">25 Nov 2021, 4:32pm</td>

                  <td class="govuk-table__cell"><a href="/cases/apply/4ZGVZR/case-management">View case</a></td>

            </tr>

            <tr class="click-row govuk-table__row" data-caseid="13Y83K" data-caselink="apply/13Y83K">
                <td class="govuk-table__cell">Simon Test</td>

                    <!-- <td class="govuk-table__cell">Director</td> -->

                <td class="govuk-table__cell">New application</td>
                <td class="govuk-table__cell numeric">25 Nov 2021, 4:35pm</td>

                  <td class="govuk-table__cell"><a href="/cases/apply/13Y83K/case-management">View case</a></td>

            </tr>

            <tr class="click-row govuk-table__row" data-caseid="NZ68ML" data-caselink="apply/NZ68ML">
                <td class="govuk-table__cell">sad asdf</td>

                    <!-- <td class="govuk-table__cell">Pan disability</td> -->

                <td class="govuk-table__cell">New application</td>
                <td class="govuk-table__cell numeric">25 Nov 2021, 4:39pm</td>

                  <td class="govuk-table__cell"><a href="/cases/apply/NZ68ML/case-management">View case</a></td>

            </tr>

        </tbody>
      </table>

      </div>
      <div class="govuk-tabs__panel govuk-tabs__panel--hidden" id="csi">
        <h2 class="govuk-heading-m">
                 CSI Cases
               </h2>






   <div class="govuk-body govuk-!-font-size-19">
     Showing <span class="govuk-!-font-weight-bold">1</span> to <span class="govuk-!-font-weight-bold">20</span> of <span class="govuk-!-font-weight-bold">50</span> results.
   </div>



     <table class="govuk-table" id="list-cases-csi">
       <thead class="govuk-table__head">
       <tr class="govuk-table__row">
           <th class="govuk-table__header">Name</th>
           <th class="govuk-table__header numeric">Date submitted</th>
           <th class="govuk-table__header">Interview date</th>
           <th class="govuk-table__header numeric">Status</th>
           <th class="govuk-table__header">Action</th>
       </tr>
       </thead>
       <tbody>

         <tr class="click-row govuk-table__row" data-caseid="ZL1KPZ">
             <td class="govuk-table__cell">Martin Zvtvemyx Smith</td>
             <td class="govuk-table__cell numeric">2 Mar 2022, 12:15pm</td>
             <td class="govuk-table__cell numeric">16 March 2022</td>
             <td class="govuk-table__cell numeric">New</td>
             <td class="govuk-table__cell"><a href="#ZL1KPZ">Go to case</a></td>
         </tr>

         <tr class="click-row govuk-table__row" data-caseid="MJGVPM">
             <td class="govuk-table__cell">Enoch Yexujaqs Ward</td>
             <td class="govuk-table__cell numeric">2 Mar 2022, 12:15pm</td>
             <td class="govuk-table__cell numeric">16 March 2022</td>
             <td class="govuk-table__cell numeric">New</td>
             <td class="govuk-table__cell"><a href="#MJGVPM">Go to case</a></td>
         </tr>

         <tr class="click-row govuk-table__row" data-caseid="3OK61Z">
             <td class="govuk-table__cell">Colin Ypyrjbrh Fletcher</td>
             <td class="govuk-table__cell numeric">2 Mar 2022, 12:15pm</td>
             <td class="govuk-table__cell numeric">16 March 2022</td>
             <td class="govuk-table__cell numeric">New</td>
             <td class="govuk-table__cell"><a href="#3OK61Z">Go to case</a></td>
         </tr>

         <tr class="click-row govuk-table__row" data-caseid="MPDQKM">
             <td class="govuk-table__cell">Olivia Krtwbbjq Marsh</td>
             <td class="govuk-table__cell numeric">2 Mar 2022, 12:15pm</td>
             <td class="govuk-table__cell numeric">16 March 2022</td>
             <td class="govuk-table__cell numeric">New</td>
             <td class="govuk-table__cell"><a href="#MPDQKM">Go to case</a></td>
         </tr>

         <tr class="click-row govuk-table__row" data-caseid="ZN09KZ">
             <td class="govuk-table__cell">Charles Tamwpnsi Mason</td>
             <td class="govuk-table__cell numeric">2 Mar 2022, 12:15pm</td>
             <td class="govuk-table__cell numeric">16 March 2022</td>
             <td class="govuk-table__cell numeric">New</td>
             <td class="govuk-table__cell"><a href="#ZN09KZ">Go to case</a></td>
         </tr>

         <tr class="click-row govuk-table__row" data-caseid="318YXM">
             <td class="govuk-table__cell">Chris Hkwwagvp Antrobus</td>
             <td class="govuk-table__cell numeric">2 Mar 2022, 12:16pm</td>
             <td class="govuk-table__cell numeric">16 March 2022</td>
             <td class="govuk-table__cell numeric">New</td>
             <td class="govuk-table__cell"><a href="#318YXM">Go to case</a></td>
         </tr>

         <tr class="click-row govuk-table__row" data-caseid="ZKR4D3">
             <td class="govuk-table__cell">Fred Oxczlzep Smith</td>
             <td class="govuk-table__cell numeric">2 Mar 2022, 12:16pm</td>
             <td class="govuk-table__cell numeric">16 March 2022</td>
             <td class="govuk-table__cell numeric">New</td>
             <td class="govuk-table__cell"><a href="#ZKR4D3">Go to case</a></td>
         </tr>

         <tr class="click-row govuk-table__row" data-caseid="Z6KY9Z">
             <td class="govuk-table__cell">Zeberdee Xrpqwunl McDonald</td>
             <td class="govuk-table__cell numeric">2 Mar 2022, 12:16pm</td>
             <td class="govuk-table__cell numeric">16 March 2022</td>
             <td class="govuk-table__cell numeric">New</td>
             <td class="govuk-table__cell"><a href="#Z6KY9Z">Go to case</a></td>
         </tr>

         <tr class="click-row govuk-table__row" data-caseid="3QR8NM">
             <td class="govuk-table__cell">Lynne Otkvizhf Norris</td>
             <td class="govuk-table__cell numeric">2 Mar 2022, 12:16pm</td>
             <td class="govuk-table__cell numeric">16 March 2022</td>
             <td class="govuk-table__cell numeric">New</td>
             <td class="govuk-table__cell"><a href="#3QR8NM">Go to case</a></td>
         </tr>

         <tr class="click-row govuk-table__row" data-caseid="Z2D6LZ">
             <td class="govuk-table__cell">Vicki Harafluo Hindle</td>
             <td class="govuk-table__cell numeric">2 Mar 2022, 12:16pm</td>
             <td class="govuk-table__cell numeric">16 March 2022</td>
             <td class="govuk-table__cell numeric">New</td>
             <td class="govuk-table__cell"><a href="#Z2D6LZ">Go to case</a></td>
         </tr>

         <tr class="click-row govuk-table__row" data-caseid="ZGYN9Z">
             <td class="govuk-table__cell">Chris Qavjmxoo Cohen</td>
             <td class="govuk-table__cell numeric">2 Mar 2022, 12:17pm</td>
             <td class="govuk-table__cell numeric">16 March 2022</td>
             <td class="govuk-table__cell numeric">New</td>
             <td class="govuk-table__cell"><a href="#ZGYN9Z">Go to case</a></td>
         </tr>

         <tr class="click-row govuk-table__row" data-caseid="Z5VXRZ">
             <td class="govuk-table__cell">Roy Xcbnyaiy Shepherd</td>
             <td class="govuk-table__cell numeric">2 Mar 2022, 12:17pm</td>
             <td class="govuk-table__cell numeric">16 March 2022</td>
             <td class="govuk-table__cell numeric">New</td>
             <td class="govuk-table__cell"><a href="#Z5VXRZ">Go to case</a></td>
         </tr>

         <tr class="click-row govuk-table__row" data-caseid="MPD6KM">
             <td class="govuk-table__cell">Wendy Gqisrcef Walne</td>
             <td class="govuk-table__cell numeric">2 Mar 2022, 12:17pm</td>
             <td class="govuk-table__cell numeric">16 March 2022</td>
             <td class="govuk-table__cell numeric">New</td>
             <td class="govuk-table__cell"><a href="#MPD6KM">Go to case</a></td>
         </tr>

         <tr class="click-row govuk-table__row" data-caseid="M00E5M">
             <td class="govuk-table__cell">Sally Wwjiqwgj Mason</td>
             <td class="govuk-table__cell numeric">2 Mar 2022, 12:17pm</td>
             <td class="govuk-table__cell numeric">16 March 2022</td>
             <td class="govuk-table__cell numeric">New</td>
             <td class="govuk-table__cell"><a href="#M00E5M">Go to case</a></td>
         </tr>

         <tr class="click-row govuk-table__row" data-caseid="ZN0EKZ">
             <td class="govuk-table__cell">Leah Ozyqbeuv Cooper</td>
             <td class="govuk-table__cell numeric">2 Mar 2022, 12:17pm</td>
             <td class="govuk-table__cell numeric">16 March 2022</td>
             <td class="govuk-table__cell numeric">New</td>
             <td class="govuk-table__cell"><a href="#ZN0EKZ">Go to case</a></td>
         </tr>

         <tr class="click-row govuk-table__row" data-caseid="M7E0L3">
             <td class="govuk-table__cell">Kenneth Xzamdxat Knight</td>
             <td class="govuk-table__cell numeric">2 Mar 2022, 12:17pm</td>
             <td class="govuk-table__cell numeric">16 March 2022</td>
             <td class="govuk-table__cell numeric">New</td>
             <td class="govuk-table__cell"><a href="#M7E0L3">Go to case</a></td>
         </tr>

         <tr class="click-row govuk-table__row" data-caseid="ZR488Z">
             <td class="govuk-table__cell">Jordan Tmjgcutf Williamson</td>
             <td class="govuk-table__cell numeric">2 Mar 2022, 12:18pm</td>
             <td class="govuk-table__cell numeric">16 March 2022</td>
             <td class="govuk-table__cell numeric">New</td>
             <td class="govuk-table__cell"><a href="#ZR488Z">Go to case</a></td>
         </tr>

         <tr class="click-row govuk-table__row" data-caseid="3189XM">
             <td class="govuk-table__cell">Chuck Qvpvjefu Cruise</td>
             <td class="govuk-table__cell numeric">2 Mar 2022, 12:18pm</td>
             <td class="govuk-table__cell numeric">16 March 2022</td>
             <td class="govuk-table__cell numeric">New</td>
             <td class="govuk-table__cell"><a href="#3189XM">Go to case</a></td>
         </tr>

         <tr class="click-row govuk-table__row" data-caseid="ZVVNRZ">
             <td class="govuk-table__cell">Enoch Bkrmptic Docker</td>
             <td class="govuk-table__cell numeric">2 Mar 2022, 12:18pm</td>
             <td class="govuk-table__cell numeric">16 March 2022</td>
             <td class="govuk-table__cell numeric">New</td>
             <td class="govuk-table__cell"><a href="#ZVVNRZ">Go to case</a></td>
         </tr>

         <tr class="click-row govuk-table__row" data-caseid="Z41DQZ">
             <td class="govuk-table__cell">Joseph Gtqjmtds Cruise</td>
             <td class="govuk-table__cell numeric">2 Mar 2022, 12:18pm</td>
             <td class="govuk-table__cell numeric">16 March 2022</td>
             <td class="govuk-table__cell numeric">New</td>
             <td class="govuk-table__cell"><a href="#Z41DQZ">Go to case</a></td>
         </tr>

       </tbody>
 </table>










   <nav class="page-numbers-container govuk-body govuk-!-font-size-19" aria-label="Pagination">


     <div class="next">
       <a href="#" class="govuk-link govuk-link--no-visited-state" rel="next">
         Next <span class="hidden-mobile">page</span></a>
     </div>

     <div class="pagination"><ul class="list-inline">




       <li class="active"><a href="#" class="govuk-link govuk-link--no-visited-state"><span class="visuallyhidden">Page </span>1</a></li>


       <li><a href="#" class="govuk-link govuk-link--no-visited-state"><span class="visuallyhidden">Page </span>2</a></li>






       <li><a href="#" class="govuk-link govuk-link--no-visited-state"><span class="visuallyhidden">Page </span>3</a></li>

     </ul></div>
   </nav>

      </div>
      <div class="govuk-tabs__panel govuk-tabs__panel--hidden" id="past-year">
        <div class="govuk-grid-row">
    <div class="govuk-grid-column-one-third">
      <form action="#past-year" method="post" data-submitonce="">

      <div id="document-apply-filter">






  <button class="govuk-button" data-module="govuk-button" >
    Apply selected filters
  </button>

      </div>

      <div class="govuk-!-padding-bottom-3">
        <a href="#past-year" class="govuk-link">Clear filters</a>
      </div>




  <div class="govuk-form-group">

    <fieldset class="govuk-fieldset">

    <legend class="govuk-fieldset__legend govuk-fieldset__legend--m">

      Document Type

    </legend>


    <div class="govuk-checkboxes govuk-checkboxes--small" data-module="govuk-checkboxes">








            <div class="govuk-checkboxes__item">
              <input class="govuk-checkboxes__input" id="type" name="filters-button" type="checkbox" value="12064">
              <label class="govuk-label govuk-checkboxes__label" for="type">
          CSI
        </label>

            </div>










            <div class="govuk-checkboxes__item">
              <input class="govuk-checkboxes__input" id="type-2" name="filters-button" type="checkbox" value="12065">
              <label class="govuk-label govuk-checkboxes__label" for="type-2">
          Support Worker
        </label>

            </div>










            <div class="govuk-checkboxes__item">
              <input class="govuk-checkboxes__input" id="type-3" name="filters-button" type="checkbox" value="12060">
              <label class="govuk-label govuk-checkboxes__label" for="type-3">
          Support Worker (Welsh)
        </label>

            </div>










            <div class="govuk-checkboxes__item">
              <input class="govuk-checkboxes__input" id="type-4" name="filters-button" type="checkbox" value="12066">
              <label class="govuk-label govuk-checkboxes__label" for="type-4">
          Support Worker (multiple)
        </label>

            </div>










            <div class="govuk-checkboxes__item">
              <input class="govuk-checkboxes__input" id="type-5" name="filters-button" type="checkbox" value="12067">
              <label class="govuk-label govuk-checkboxes__label" for="type-5">
          One off costs (SAE)
        </label>

            </div>










            <div class="govuk-checkboxes__item">
              <input class="govuk-checkboxes__input" id="type-6" name="filters-button" type="checkbox" value="12061">
              <label class="govuk-label govuk-checkboxes__label" for="type-6">
          One off costs (Welsh)
        </label>

            </div>










            <div class="govuk-checkboxes__item">
              <input class="govuk-checkboxes__input" id="type-7" name="filters-button" type="checkbox" value="12068">
              <label class="govuk-label govuk-checkboxes__label" for="type-7">
          Travel to work
        </label>

            </div>










            <div class="govuk-checkboxes__item">
              <input class="govuk-checkboxes__input" id="type-8" name="filters-button" type="checkbox" value="12062">
              <label class="govuk-label govuk-checkboxes__label" for="type-8">
          Travel to work (Welsh)
        </label>

            </div>










            <div class="govuk-checkboxes__item">
              <input class="govuk-checkboxes__input" id="type-9" name="filters-button" type="checkbox" value="12069">
              <label class="govuk-label govuk-checkboxes__label" for="type-9">
          Travel in work
        </label>

            </div>










            <div class="govuk-checkboxes__item">
              <input class="govuk-checkboxes__input" id="type-10" name="filters-button" type="checkbox" value="12063">
              <label class="govuk-label govuk-checkboxes__label" for="type-10">
          Travel in work (Welsh)
        </label>

            </div>










            <div class="govuk-checkboxes__item">
              <input class="govuk-checkboxes__input" id="type-11" name="filters-button" type="checkbox" value="12070">
              <label class="govuk-label govuk-checkboxes__label" for="type-11">
          Change bank details
        </label>

            </div>










            <div class="govuk-checkboxes__item">
              <input class="govuk-checkboxes__input" id="type-12" name="filters-button" type="checkbox" value="12072">
              <label class="govuk-label govuk-checkboxes__label" for="type-12">
          TESG Claim form
        </label>

            </div>










            <div class="govuk-checkboxes__item">
              <input class="govuk-checkboxes__input" id="type-13" name="filters-button" type="checkbox" value="12071">
              <label class="govuk-label govuk-checkboxes__label" for="type-13">
          Progression Support Payment 1
        </label>

            </div>










            <div class="govuk-checkboxes__item">
              <input class="govuk-checkboxes__input" id="type-14" name="filters-button" type="checkbox" value="12090">
              <label class="govuk-label govuk-checkboxes__label" for="type-14">
          Progression Support Payment 2
        </label>

            </div>










            <div class="govuk-checkboxes__item">
              <input class="govuk-checkboxes__input" id="type-15" name="filters-button" type="checkbox" value="12040">
              <label class="govuk-label govuk-checkboxes__label" for="type-15">
          TESG application
        </label>

            </div>










            <div class="govuk-checkboxes__item">
              <input class="govuk-checkboxes__input" id="type-16" name="filters-button" type="checkbox" value="12042">
              <label class="govuk-label govuk-checkboxes__label" for="type-16">
          TESG application (Welsh)
        </label>

            </div>










            <div class="govuk-checkboxes__item">
              <input class="govuk-checkboxes__input" id="type-17" name="filters-button" type="checkbox" value="12041">
              <label class="govuk-label govuk-checkboxes__label" for="type-17">
          Customer Letter
        </label>

            </div>










            <div class="govuk-checkboxes__item">
              <input class="govuk-checkboxes__input" id="type-18" name="filters-button" type="checkbox" value="12044">
              <label class="govuk-label govuk-checkboxes__label" for="type-18">
          Employer Letter
        </label>

            </div>










            <div class="govuk-checkboxes__item">
              <input class="govuk-checkboxes__input" id="type-19" name="filters-button" type="checkbox" value="12039">
              <label class="govuk-label govuk-checkboxes__label" for="type-19">
          Renewal extension letter
        </label>

            </div>










            <div class="govuk-checkboxes__item">
              <input class="govuk-checkboxes__input" id="type-20" name="filters-button" type="checkbox" value="12038">
              <label class="govuk-label govuk-checkboxes__label" for="type-20">
          Renewal extension letter (Welsh)
        </label>

            </div>










            <div class="govuk-checkboxes__item">
              <input class="govuk-checkboxes__input" id="type-21" name="filters-button" type="checkbox" value="12077">
              <label class="govuk-label govuk-checkboxes__label" for="type-21">
          Questionnaire
        </label>

            </div>










            <div class="govuk-checkboxes__item">
              <input class="govuk-checkboxes__input" id="type-22" name="filters-button" type="checkbox" value="12048">
              <label class="govuk-label govuk-checkboxes__label" for="type-22">
          Application closure
        </label>

            </div>










            <div class="govuk-checkboxes__item">
              <input class="govuk-checkboxes__input" id="type-23" name="filters-button" type="checkbox" value="12049">
              <label class="govuk-label govuk-checkboxes__label" for="type-23">
          Application closure (Welsh)
        </label>

            </div>










            <div class="govuk-checkboxes__item">
              <input class="govuk-checkboxes__input" id="type-24" name="filters-button" type="checkbox" value="12085">
              <label class="govuk-label govuk-checkboxes__label" for="type-24">
          Application Withdrawal
        </label>

            </div>










            <div class="govuk-checkboxes__item">
              <input class="govuk-checkboxes__input" id="type-25" name="filters-button" type="checkbox" value="12086">
              <label class="govuk-label govuk-checkboxes__label" for="type-25">
          Application Withdrawal (Welsh)
        </label>

            </div>










            <div class="govuk-checkboxes__item">
              <input class="govuk-checkboxes__input" id="type-26" name="filters-button" type="checkbox" value="12087">
              <label class="govuk-label govuk-checkboxes__label" for="type-26">
          No approval - Rejection
        </label>

            </div>










            <div class="govuk-checkboxes__item">
              <input class="govuk-checkboxes__input" id="type-27" name="filters-button" type="checkbox" value="12050">
              <label class="govuk-label govuk-checkboxes__label" for="type-27">
          Medical Letter - travel
        </label>

            </div>










            <div class="govuk-checkboxes__item">
              <input class="govuk-checkboxes__input" id="type-28" name="filters-button" type="checkbox" value="12051">
              <label class="govuk-label govuk-checkboxes__label" for="type-28">
          Medical Letter - travel (Welsh)
        </label>

            </div>










            <div class="govuk-checkboxes__item">
              <input class="govuk-checkboxes__input" id="type-29" name="filters-button" type="checkbox" value="12052">
              <label class="govuk-label govuk-checkboxes__label" for="type-29">
          Employer funding letter
        </label>

            </div>










            <div class="govuk-checkboxes__item">
              <input class="govuk-checkboxes__input" id="type-30" name="filters-button" type="checkbox" value="12053">
              <label class="govuk-label govuk-checkboxes__label" for="type-30">
          Reconsideration
        </label>

            </div>










            <div class="govuk-checkboxes__item">
              <input class="govuk-checkboxes__input" id="type-31" name="filters-button" type="checkbox" value="12054">
              <label class="govuk-label govuk-checkboxes__label" for="type-31">
          Reconsideration (Welsh)
        </label>

            </div>










            <div class="govuk-checkboxes__item">
              <input class="govuk-checkboxes__input" id="type-32" name="filters-button" type="checkbox" value="WHITEMAIL">
              <label class="govuk-label govuk-checkboxes__label" for="type-32">
          Whitemail
        </label>

            </div>

            <div class="govuk-checkboxes__item">
              <input class="govuk-checkboxes__input" id="type-32" name="filters-button" type="checkbox" value="WHITEMAIL">
              <label class="govuk-label govuk-checkboxes__label" for="type-32">
          Supported Internship application (SI App)
          </label>

            </div>


    </div>


  </fieldset>


  </div>


    </form>

    <a class="govuk-link govuk-link--no-visited-state app-back-to-top__link" href="#top">
      <svg role="presentation" focusable="false" class="app-back-to-top__icon" xmlns="http://www.w3.org/2000/svg" width="13" height="17" viewBox="0 0 13 17">
        <path fill="sprint-49-ur-1Color" d="M6.5 0L0 6.5 1.4 8l4-4v12.7h2V4l4.3 4L13 6.4z"></path>
      </svg> Back to top
    </a>

    </div>


    <div class="govuk-grid-column-two-thirds">
    <h2 class="govuk-heading-m">
      Documents
    </h2>

    {% if not data['filters-button']%}
    <div class="govuk-body govuk-!-font-size-19">
      Showing <span class="govuk-!-font-weight-bold">1</span> to <span class="govuk-!-font-weight-bold">20</span> of <span class="govuk-!-font-weight-bold">100</span> results.
    </div><table class="govuk-table" id="list-envelopes">







        <thead class="govuk-table__head">
        <tr class="govuk-table__row">
            <th class="govuk-table__header">Name</th>
            <th class="govuk-table__header">Document type</th>
            <th class="govuk-table__header">Form reference</th>
            <th class="govuk-table__header">Date scanned</th>
            <th class="govuk-table__header numeric">Action</th>
            <th class="govuk-table__header"></th>
        </tr>
        </thead>
        <tbody>

            <tr class="click-row govuk-table__row" envelope-row="1646223504775">
                <td class="govuk-table__cell">

                    Martin Fokptydx Pope

                </td><td class="govuk-table__cell">CSI</td>
                <td class="govuk-table__cell">DP221JP</td>
                <td class="govuk-table__cell">23 June 2022</td>
                <td class="govuk-table__cell"><a href="#" referrerpolicy="strict-origin-when-cross-origin" aria-label="View Martin Fokptydx Pope's CSI document details">View details</a></td>
            </tr>

            <tr class="click-row govuk-table__row" envelope-row="1646223666532">
                <td class="govuk-table__cell">

                    Keith Wnvxvmzn Allen

                </td><td class="govuk-table__cell">CSI</td>
                <td class="govuk-table__cell">DP221JP</td>
                <td class="govuk-table__cell">23 June 2022</td>
                <td class="govuk-table__cell"><a href="#" referrerpolicy="strict-origin-when-cross-origin" aria-label="View Keith Wnvxvmzn Allen's CSI document details">View details</a></td>
            </tr>

            <tr class="click-row govuk-table__row" envelope-row="1646223342856">
                <td class="govuk-table__cell">

                    Guy Pkhkfzvg Rivers

                </td><td class="govuk-table__cell">CSI</td>
                <td class="govuk-table__cell">DP221JP</td>
                <td class="govuk-table__cell">23 June 2022</td>
                <td class="govuk-table__cell"><a href="#" referrerpolicy="strict-origin-when-cross-origin" aria-label="View Guy Pkhkfzvg Rivers's CSI document details">View details</a></td>
            </tr>

            <tr class="click-row govuk-table__row" envelope-row="1646223787840">
                <td class="govuk-table__cell">

                    Jordan Sznouaab McDonald

                </td><td class="govuk-table__cell">CSI</td>
                <td class="govuk-table__cell">DP221JP</td>
                <td class="govuk-table__cell">23 June 2022</td>
                <td class="govuk-table__cell"><a href="#" referrerpolicy="strict-origin-when-cross-origin" aria-label="View Jordan Sznouaab McDonald's CSI document details">View details</a></td>
            </tr>

            <tr class="click-row govuk-table__row" envelope-row="1646222917060">
                <td class="govuk-table__cell">

                    Chris Wrxqrbxs Pope

                </td><td class="govuk-table__cell">CSI</td>
                <td class="govuk-table__cell">DP221JP</td>
                <td class="govuk-table__cell">24 June 2022</td>
                <td class="govuk-table__cell"><a href="#1646222917060" referrerpolicy="strict-origin-when-cross-origin" aria-label="View Chris Wrxqrbxs Pope's CSI document details">View details</a></td>
            </tr>

            <tr class="click-row govuk-table__row" envelope-row="1646224433251">
                <td class="govuk-table__cell">

                    David Jzfrrynr Williamson

                </td><td class="govuk-table__cell">CSI</td>
                <td class="govuk-table__cell">DP221JP</td>
                <td class="govuk-table__cell">24 June 2022</td>
                <td class="govuk-table__cell"><a href="#46224433251" referrerpolicy="strict-origin-when-cross-origin" aria-label="View David Jzfrrynr Williamson's CSI document details">View details</a></td>
            </tr>

            <tr class="click-row govuk-table__row" envelope-row="1646224816237">
                <td class="govuk-table__cell">

                    Wendy Dfwbxjas Cruise

                </td><td class="govuk-table__cell">CSI</td>
                <td class="govuk-table__cell">DP221JP</td>
                <td class="govuk-table__cell">24 June 2022</td>
                <td class="govuk-table__cell"><a href="#46224816237" referrerpolicy="strict-origin-when-cross-origin" aria-label="View Wendy Dfwbxjas Cruise's CSI document details">View details</a></td>
            </tr>

            <tr class="click-row govuk-table__row" envelope-row="1646222876407">
                <td class="govuk-table__cell">

                    David Xozsrjqh Docker

                </td><td class="govuk-table__cell">CSI</td>
                <td class="govuk-table__cell">DP221JP</td>
                <td class="govuk-table__cell">24 June 2022</td>
                <td class="govuk-table__cell"><a href="#46222876407" referrerpolicy="strict-origin-when-cross-origin" aria-label="View David Xozsrjqh Docker's CSI document details">View details</a></td>
            </tr>

            <tr class="click-row govuk-table__row" envelope-row="1646224050055">
                <td class="govuk-table__cell">

                    David Gqbmqoqp Patel

                </td><td class="govuk-table__cell">CSI</td>
                <td class="govuk-table__cell">DP221JP</td>
                <td class="govuk-table__cell">24 June 2022</td>
                <td class="govuk-table__cell"><a href="#46224050055" referrerpolicy="strict-origin-when-cross-origin" aria-label="View David Gqbmqoqp Patel's CSI document details">View details</a></td>
            </tr>

            <tr class="click-row govuk-table__row" envelope-row="1646223484561">
                <td class="govuk-table__cell">

                    Quinn Idauahof Parker

                </td><td class="govuk-table__cell">CSI</td>
                <td class="govuk-table__cell">DP221JP</td>
                <td class="govuk-table__cell">24 June 2022</td>
                <td class="govuk-table__cell"><a href="#46223484561" referrerpolicy="strict-origin-when-cross-origin" aria-label="View Quinn Idauahof Parker's CSI document details">View details</a></td>
            </tr>

            <tr class="click-row govuk-table__row" envelope-row="1646223989523">
                <td class="govuk-table__cell">

                    Jordan Ymoxflhd Jackson

                </td><td class="govuk-table__cell">CSI</td>
                <td class="govuk-table__cell">DP221JP</td>
                <td class="govuk-table__cell">24 June 2022</td>
                <td class="govuk-table__cell"><a href="#46223989523" referrerpolicy="strict-origin-when-cross-origin" aria-label="View Jordan Ymoxflhd Jackson's CSI document details">View details</a></td>
            </tr>

            <tr class="click-row govuk-table__row" envelope-row="1646224755741">
                <td class="govuk-table__cell">

                    Kathleen Gljtjtze Allen

                </td><td class="govuk-table__cell">CSI</td>
                <td class="govuk-table__cell">DP221JP</td>
                <td class="govuk-table__cell">24 June 2022</td>
                <td class="govuk-table__cell"><a href="#46224755741" referrerpolicy="strict-origin-when-cross-origin" aria-label="View Kathleen Gljtjtze Allen's CSI document details">View details</a></td>
            </tr>

            <tr class="click-row govuk-table__row" envelope-row="1646224614653">
                <td class="govuk-table__cell">

                    Mary Gupsyixu Williamson

                </td><td class="govuk-table__cell">CSI</td>
                <td class="govuk-table__cell">DP221JP</td>
                <td class="govuk-table__cell">24 June 2022</td>
                <td class="govuk-table__cell"><a href="#46224614653" referrerpolicy="strict-origin-when-cross-origin" aria-label="View Mary Gupsyixu Williamson's CSI document details">View details</a></td>
            </tr>

            <tr class="click-row govuk-table__row" envelope-row="1646224009699">
                <td class="govuk-table__cell">

                    Robert Dhzcjhlj Fletcher

                </td><td class="govuk-table__cell">CSI</td>
                <td class="govuk-table__cell">DP221JP</td>
                <td class="govuk-table__cell">24 June 2022</td>
                <td class="govuk-table__cell"><a href="#46224009699" referrerpolicy="strict-origin-when-cross-origin" aria-label="View Robert Dhzcjhlj Fletcher's CSI document details">View details</a></td>
            </tr>

            <tr class="click-row govuk-table__row" envelope-row="1646222856029">
                <td class="govuk-table__cell">

                    Martin Hkwiyuez Knight

                </td><td class="govuk-table__cell">CSI</td>
                <td class="govuk-table__cell">DP221JP</td>
                <td class="govuk-table__cell">24 June 2022</td>
                <td class="govuk-table__cell"><a href="#46222856029" referrerpolicy="strict-origin-when-cross-origin" aria-label="View Martin Hkwiyuez Knight's CSI document details">View details</a></td>
            </tr>

            <tr class="click-row govuk-table__row" envelope-row="1646223565498">
                <td class="govuk-table__cell">

                    Zeberdee Mzwalmnt Smith

                </td><td class="govuk-table__cell">CSI</td>
                <td class="govuk-table__cell">DP221JP</td>
                <td class="govuk-table__cell">24 June 2022</td>
                <td class="govuk-table__cell"><a href="#46223565498" referrerpolicy="strict-origin-when-cross-origin" aria-label="View Zeberdee Mzwalmnt Smith's CSI document details">View details</a></td>
            </tr>

            <tr class="click-row govuk-table__row" envelope-row="1646223767705">
                <td class="govuk-table__cell">

                    Marty Mevrrwsu Piper

                </td><td class="govuk-table__cell">CSI</td>
                <td class="govuk-table__cell">DP221JP</td>
                <td class="govuk-table__cell">24 June 2022</td>
                <td class="govuk-table__cell"><a href="#46223767705" referrerpolicy="strict-origin-when-cross-origin" aria-label="View Marty Mevrrwsu Piper's CSI document details">View details</a></td>
            </tr>

            <tr class="click-row govuk-table__row" envelope-row="1646222977889">
                <td class="govuk-table__cell">

                    Vicki Ppsvuurg Williamson

                </td><td class="govuk-table__cell">CSI</td>
                <td class="govuk-table__cell">DP221JP</td>
                <td class="govuk-table__cell">24 June 2022</td>
                <td class="govuk-table__cell"><a href="#46222977889" referrerpolicy="strict-origin-when-cross-origin" aria-label="View Vicki Ppsvuurg Williamson's CSI document details">View details</a></td>
            </tr>

            <tr class="click-row govuk-table__row" envelope-row="1646224171048">
                <td class="govuk-table__cell">

                    Rachel Pyvkhxss Marsh

                </td><td class="govuk-table__cell">CSI</td>
                <td class="govuk-table__cell">DP221JP</td>
                <td class="govuk-table__cell">24 June 2022</td>
                <td class="govuk-table__cell"><a href="#46224171048" referrerpolicy="strict-origin-when-cross-origin" aria-label="View Rachel Pyvkhxss Marsh's CSI document details">View details</a></td>
            </tr>

            <tr class="click-row govuk-table__row" envelope-row="1646223363049">
                <td class="govuk-table__cell">

                    Nadia Lbuvoxdb Antrobus

                </td><td class="govuk-table__cell">CSI</td>
                <td class="govuk-table__cell">DP221JP</td>
                <td class="govuk-table__cell">24 June 2022</td>
                <td class="govuk-table__cell"><a href="#46223363049" referrerpolicy="strict-origin-when-cross-origin" aria-label="View Nadia Lbuvoxdb Antrobus's CSI document details">View details</a></td>
            </tr>

        </tbody>
    </table>





    <nav class="page-numbers-container govuk-body govuk-!-font-size-19" aria-label="Pagination">


      <div class="next">
        <a href="#" class="govuk-link govuk-link--no-visited-state" rel="next">
          Next <span class="hidden-mobile">page</span></a>
      </div>

      <div class="pagination"><ul class="list-inline">




        <li class="active"><a href="#" class="govuk-link govuk-link--no-visited-state"><span class="visuallyhidden">Page </span>1</a></li>


        <li><a href="#" class="govuk-link govuk-link--no-visited-state"><span class="visuallyhidden">Page </span>2</a></li>




        <li>…</li>



        <li><a href="#" class="govuk-link govuk-link--no-visited-state"><span class="visuallyhidden">Page </span>5</a></li>

      </ul></div>
    </nav>
    {% endif %}
                         {% if data['filters-button']%}
{% if '12064' in data['filters-button']%}
    <div class="govuk-body govuk-!-font-size-19">
      Showing <span class="govuk-!-font-weight-bold">1</span> to <span class="govuk-!-font-weight-bold">20</span> of <span class="govuk-!-font-weight-bold">100</span> results.
    </div><table class="govuk-table" id="list-envelopes">







        <thead class="govuk-table__head">
        <tr class="govuk-table__row">
            <th class="govuk-table__header">Name</th>
            <th class="govuk-table__header">Document type</th>
            <th class="govuk-table__header">Form reference</th>
            <th class="govuk-table__header">Date scanned</th>
            <th class="govuk-table__header numeric">Action</th>
            <th class="govuk-table__header"></th>
        </tr>
        </thead>
        <tbody>

            <tr class="click-row govuk-table__row" envelope-row="1646223504775">
                <td class="govuk-table__cell">

                    Martin Fokptydx Pope

                </td><td class="govuk-table__cell">CSI</td>
                <td class="govuk-table__cell">DP221JP</td>
                <td class="govuk-table__cell">23 June 2022</td>
                <td class="govuk-table__cell"><a href="#" referrerpolicy="strict-origin-when-cross-origin" aria-label="View Martin Fokptydx Pope's CSI document details">View details</a></td>
            </tr>

            <tr class="click-row govuk-table__row" envelope-row="1646223666532">
                <td class="govuk-table__cell">

                    Keith Wnvxvmzn Allen

                </td><td class="govuk-table__cell">CSI</td>
                <td class="govuk-table__cell">DP221JP</td>
                <td class="govuk-table__cell">23 June 2022</td>
                <td class="govuk-table__cell"><a href="#" referrerpolicy="strict-origin-when-cross-origin" aria-label="View Keith Wnvxvmzn Allen's CSI document details">View details</a></td>
            </tr>

            <tr class="click-row govuk-table__row" envelope-row="1646223342856">
                <td class="govuk-table__cell">

                    Guy Pkhkfzvg Rivers

                </td><td class="govuk-table__cell">CSI</td>
                <td class="govuk-table__cell">DP221JP</td>
                <td class="govuk-table__cell">23 June 2022</td>
                <td class="govuk-table__cell"><a href="#" referrerpolicy="strict-origin-when-cross-origin" aria-label="View Guy Pkhkfzvg Rivers's CSI document details">View details</a></td>
            </tr>

            <tr class="click-row govuk-table__row" envelope-row="1646223787840">
                <td class="govuk-table__cell">

                    Jordan Sznouaab McDonald

                </td><td class="govuk-table__cell">CSI</td>
                <td class="govuk-table__cell">DP221JP</td>
                <td class="govuk-table__cell">23 June 2022</td>
                <td class="govuk-table__cell"><a href="#" referrerpolicy="strict-origin-when-cross-origin" aria-label="View Jordan Sznouaab McDonald's CSI document details">View details</a></td>
            </tr>

            <tr class="click-row govuk-table__row" envelope-row="1646222917060">
                <td class="govuk-table__cell">

                    Chris Wrxqrbxs Pope

                </td><td class="govuk-table__cell">CSI</td>
                <td class="govuk-table__cell">DP221JP</td>
                <td class="govuk-table__cell">24 June 2022</td>
                <td class="govuk-table__cell"><a href="#1646222917060" referrerpolicy="strict-origin-when-cross-origin" aria-label="View Chris Wrxqrbxs Pope's CSI document details">View details</a></td>
            </tr>

            <tr class="click-row govuk-table__row" envelope-row="1646224433251">
                <td class="govuk-table__cell">

                    David Jzfrrynr Williamson

                </td><td class="govuk-table__cell">CSI</td>
                <td class="govuk-table__cell">DP221JP</td>
                <td class="govuk-table__cell">24 June 2022</td>
                <td class="govuk-table__cell"><a href="#46224433251" referrerpolicy="strict-origin-when-cross-origin" aria-label="View David Jzfrrynr Williamson's CSI document details">View details</a></td>
            </tr>

            <tr class="click-row govuk-table__row" envelope-row="1646224816237">
                <td class="govuk-table__cell">

                    Wendy Dfwbxjas Cruise

                </td><td class="govuk-table__cell">CSI</td>
                <td class="govuk-table__cell">DP221JP</td>
                <td class="govuk-table__cell">24 June 2022</td>
                <td class="govuk-table__cell"><a href="#46224816237" referrerpolicy="strict-origin-when-cross-origin" aria-label="View Wendy Dfwbxjas Cruise's CSI document details">View details</a></td>
            </tr>

            <tr class="click-row govuk-table__row" envelope-row="1646222876407">
                <td class="govuk-table__cell">

                    David Xozsrjqh Docker

                </td><td class="govuk-table__cell">CSI</td>
                <td class="govuk-table__cell">DP221JP</td>
                <td class="govuk-table__cell">24 June 2022</td>
                <td class="govuk-table__cell"><a href="#46222876407" referrerpolicy="strict-origin-when-cross-origin" aria-label="View David Xozsrjqh Docker's CSI document details">View details</a></td>
            </tr>

            <tr class="click-row govuk-table__row" envelope-row="1646224050055">
                <td class="govuk-table__cell">

                    David Gqbmqoqp Patel

                </td><td class="govuk-table__cell">CSI</td>
                <td class="govuk-table__cell">DP221JP</td>
                <td class="govuk-table__cell">24 June 2022</td>
                <td class="govuk-table__cell"><a href="#46224050055" referrerpolicy="strict-origin-when-cross-origin" aria-label="View David Gqbmqoqp Patel's CSI document details">View details</a></td>
            </tr>

            <tr class="click-row govuk-table__row" envelope-row="1646223484561">
                <td class="govuk-table__cell">

                    Quinn Idauahof Parker

                </td><td class="govuk-table__cell">CSI</td>
                <td class="govuk-table__cell">DP221JP</td>
                <td class="govuk-table__cell">24 June 2022</td>
                <td class="govuk-table__cell"><a href="#46223484561" referrerpolicy="strict-origin-when-cross-origin" aria-label="View Quinn Idauahof Parker's CSI document details">View details</a></td>
            </tr>

            <tr class="click-row govuk-table__row" envelope-row="1646223989523">
                <td class="govuk-table__cell">

                    Jordan Ymoxflhd Jackson

                </td><td class="govuk-table__cell">CSI</td>
                <td class="govuk-table__cell">DP221JP</td>
                <td class="govuk-table__cell">24 June 2022</td>
                <td class="govuk-table__cell"><a href="#46223989523" referrerpolicy="strict-origin-when-cross-origin" aria-label="View Jordan Ymoxflhd Jackson's CSI document details">View details</a></td>
            </tr>

            <tr class="click-row govuk-table__row" envelope-row="1646224755741">
                <td class="govuk-table__cell">

                    Kathleen Gljtjtze Allen

                </td><td class="govuk-table__cell">CSI</td>
                <td class="govuk-table__cell">DP221JP</td>
                <td class="govuk-table__cell">24 June 2022</td>
                <td class="govuk-table__cell"><a href="#46224755741" referrerpolicy="strict-origin-when-cross-origin" aria-label="View Kathleen Gljtjtze Allen's CSI document details">View details</a></td>
            </tr>

            <tr class="click-row govuk-table__row" envelope-row="1646224614653">
                <td class="govuk-table__cell">

                    Mary Gupsyixu Williamson

                </td><td class="govuk-table__cell">CSI</td>
                <td class="govuk-table__cell">DP221JP</td>
                <td class="govuk-table__cell">24 June 2022</td>
                <td class="govuk-table__cell"><a href="#46224614653" referrerpolicy="strict-origin-when-cross-origin" aria-label="View Mary Gupsyixu Williamson's CSI document details">View details</a></td>
            </tr>

            <tr class="click-row govuk-table__row" envelope-row="1646224009699">
                <td class="govuk-table__cell">

                    Robert Dhzcjhlj Fletcher

                </td><td class="govuk-table__cell">CSI</td>
                <td class="govuk-table__cell">DP221JP</td>
                <td class="govuk-table__cell">24 June 2022</td>
                <td class="govuk-table__cell"><a href="#46224009699" referrerpolicy="strict-origin-when-cross-origin" aria-label="View Robert Dhzcjhlj Fletcher's CSI document details">View details</a></td>
            </tr>

            <tr class="click-row govuk-table__row" envelope-row="1646222856029">
                <td class="govuk-table__cell">

                    Martin Hkwiyuez Knight

                </td><td class="govuk-table__cell">CSI</td>
                <td class="govuk-table__cell">DP221JP</td>
                <td class="govuk-table__cell">24 June 2022</td>
                <td class="govuk-table__cell"><a href="#46222856029" referrerpolicy="strict-origin-when-cross-origin" aria-label="View Martin Hkwiyuez Knight's CSI document details">View details</a></td>
            </tr>

            <tr class="click-row govuk-table__row" envelope-row="1646223565498">
                <td class="govuk-table__cell">

                    Zeberdee Mzwalmnt Smith

                </td><td class="govuk-table__cell">CSI</td>
                <td class="govuk-table__cell">DP221JP</td>
                <td class="govuk-table__cell">24 June 2022</td>
                <td class="govuk-table__cell"><a href="#46223565498" referrerpolicy="strict-origin-when-cross-origin" aria-label="View Zeberdee Mzwalmnt Smith's CSI document details">View details</a></td>
            </tr>

            <tr class="click-row govuk-table__row" envelope-row="1646223767705">
                <td class="govuk-table__cell">

                    Marty Mevrrwsu Piper

                </td><td class="govuk-table__cell">CSI</td>
                <td class="govuk-table__cell">DP221JP</td>
                <td class="govuk-table__cell">24 June 2022</td>
                <td class="govuk-table__cell"><a href="#46223767705" referrerpolicy="strict-origin-when-cross-origin" aria-label="View Marty Mevrrwsu Piper's CSI document details">View details</a></td>
            </tr>

            <tr class="click-row govuk-table__row" envelope-row="1646222977889">
                <td class="govuk-table__cell">

                    Vicki Ppsvuurg Williamson

                </td><td class="govuk-table__cell">CSI</td>
                <td class="govuk-table__cell">DP221JP</td>
                <td class="govuk-table__cell">24 June 2022</td>
                <td class="govuk-table__cell"><a href="#46222977889" referrerpolicy="strict-origin-when-cross-origin" aria-label="View Vicki Ppsvuurg Williamson's CSI document details">View details</a></td>
            </tr>

            <tr class="click-row govuk-table__row" envelope-row="1646224171048">
                <td class="govuk-table__cell">

                    Rachel Pyvkhxss Marsh

                </td><td class="govuk-table__cell">CSI</td>
                <td class="govuk-table__cell">DP221JP</td>
                <td class="govuk-table__cell">24 June 2022</td>
                <td class="govuk-table__cell"><a href="#46224171048" referrerpolicy="strict-origin-when-cross-origin" aria-label="View Rachel Pyvkhxss Marsh's CSI document details">View details</a></td>
            </tr>

            <tr class="click-row govuk-table__row" envelope-row="1646223363049">
                <td class="govuk-table__cell">

                    Nadia Lbuvoxdb Antrobus

                </td><td class="govuk-table__cell">CSI</td>
                <td class="govuk-table__cell">DP221JP</td>
                <td class="govuk-table__cell">24 June 2022</td>
                <td class="govuk-table__cell"><a href="#46223363049" referrerpolicy="strict-origin-when-cross-origin" aria-label="View Nadia Lbuvoxdb Antrobus's CSI document details">View details</a></td>
            </tr>

        </tbody>
    </table>





    <nav class="page-numbers-container govuk-body govuk-!-font-size-19" aria-label="Pagination">


      <div class="next">
        <a href="#" class="govuk-link govuk-link--no-visited-state" rel="next">
          Next <span class="hidden-mobile">page</span></a>
      </div>

      <div class="pagination"><ul class="list-inline">




        <li class="active"><a href="#" class="govuk-link govuk-link--no-visited-state"><span class="visuallyhidden">Page </span>1</a></li>


        <li><a href="#" class="govuk-link govuk-link--no-visited-state"><span class="visuallyhidden">Page </span>2</a></li>




        <li>…</li>



        <li><a href="#" class="govuk-link govuk-link--no-visited-state"><span class="visuallyhidden">Page </span>5</a></li>

      </ul></div>
    </nav>

{% else %}

    There are no matches for the selected filter.

{% endif %}
{% endif %}
    </div>
  </div>

      </div>
    </div>




















{% endblock %}
