{% set page = "claim" %}
{% set claim = "true" %}
{% set title = "Case details" %}
{% set view = "tab" %}

{% extends   "payments/current/claim/_CSIBASE-no-footer.html" %}


{% block csi %}
<br>


{% if case == 'sonya' %}
<form action="/payments/current/cases/sonya/claim-sonya#your-tasks" method="post" novalidate>
{% endif %}
{% if case == 'thomas' %}
<form action="/payments/current/cases/thomas/claim-thomas#your-tasks" method="post" novalidate>
{% endif %}




  <div class="govuk-width-container">
    <main class="govuk-main-wrapper">
      <div class="govuk-grid-row">
        <div class="govuk-grid-column-two-thirds">

<div class="govuk-form-group">

  <fieldset class="govuk-fieldset">

  <legend class="govuk-fieldset__legend govuk-fieldset__legend--l">

    <h1 class="govuk-fieldset__heading">
Add payee in SOP    </h1>

  </legend>

<p class="govuk-body">
          Claim will be put on hold until SOP confirms the payee record has been set up. 
        </p>


<!-- <p class="govuk-body">
      details about how the sop process is now compleated to go here after conversation with Jay
      </p> -->



        </div>
      </div>
    </fieldset>
  </div>
           <button class="govuk-button" data-module="govuk-button">
             Put claim on hold
           </button>
         </form>
       </div>
     </div>


        </main>
        </div>







{% endblock %}
