{% extends "layout.html" %}

{% block pageTitle %}
   Access to Work: get support if you have a disability or health condition: Renew your grant - GOV.UK
{% endblock %}

{% block header %}
  <!-- Blank header with no service name for the start page -->
  {{ govukHeader() }}
{% endblock %}

{% block beforeContent %}
  <div class="govuk-breadcrumbs">
    <ol class="govuk-breadcrumbs__list">
      <li class="govuk-breadcrumbs__list-item">
        <a class="govuk-breadcrumbs__link" href="https://www.gov.uk">Home</a>
      </li>
      <li class="govuk-breadcrumbs__list-item">
        <a class="govuk-breadcrumbs__link" href="https://www.gov.uk/browse/benefits">Benefits</a>
      </li>
      <li class="govuk-breadcrumbs__list-item">
        <a class="govuk-breadcrumbs__link" href="https://www.gov.uk/browse/benefits/disability">Benefits and financial support if you're disabled or have a health condition</a>
      </li>
    </ol>
  </div>
{% endblock %}

{% block content %}


  <div class="govuk-grid-row">
  
    <div class="govuk-grid-column-two-thirds">



      <h1 class="govuk-heading-xl">
        Access to Work: get support if you have a disability or health condition
      </h1>

        <p class="govuk-!-font-size-16 govuk-!-margin-bottom-2">Contents</p>
        <ul class="govuk-list app-govuk-nav">
        <li class="govuk-!-font-size-16 govuk-!-margin-bottom-2">— <a href="govuk-atw" class="govuk-link">What Access to Work is</a></li>
        <li class="govuk-!-font-size-16 govuk-!-margin-bottom-2">— <a href="govuk-eligibility" class="govuk-link">Eligibility</a></li>
        <li class="govuk-!-font-size-16 govuk-!-margin-bottom-2">— <a href="govuk-apply" class="govuk-link">Apply for an Access to Work grant</a></li>
        <li class="govuk-!-font-size-16 govuk-!-margin-bottom-2">— <a href="govuk-after-you-apply" class="govuk-link">After you apply for the grant</a></li>
        <li class="govuk-!-font-size-16 govuk-!-margin-bottom-2">— <a href="govuk-claiming-from-your-grant" class="govuk-link">Claiming money from your grant</a></li>
        <li class="govuk-!-font-size-16 govuk-!-margin-bottom-7">— Renew your grant</li>
      </ul>
      
    <hr>

    </div>

  
  
    <div class="govuk-grid-column-two-thirds">

   

    <h2 class="govuk-heading-m govuk-!-font-size-27 govuk-!-margin-top-2">Renew your grant</h2>

    <p>You’ll need to renew your Access to Work grant before it ends if you use it to pay for ongoing support (for example, a support worker).</p>

    <p>Your decision letter will say when your grant ends. You can apply to renew it 12 weeks before this.</p>


    <div class="govuk-inset-text">
      If you’re a civil servant and your grant will end on or after 1 April 2022, you will not be able to renew it. Contact your employer for support instead.
    </div>

    <p>You can apply to renew online or by phone.</p>

    <p><a href="govuk-eligibility">Check you’re still eligible</a> before you apply.</p>

    <p>You’ll need to give your unique reference number (if you know it).</p>

    <div class="govuk-inset-text">
      If you need the form in other formats, such as braille, large print or audio CD, call the Access to Work helpline.
    </div>


  <a class="gem-c-button govuk-button govuk-button--start " role="button" draggable="false" href="../service/renew-atw-cs.html"> Renew online <svg class="govuk-button__start-icon govuk-!-display-none-print" xmlns="http://www.w3.org/2000/svg" width="17.5" height="19" viewBox="0 0 33 40" role="presentation" focusable="false"><path fill="currentColor" d="M0 0h13l20 20-20 20H0l20-20z"></path></svg></a>

  <br>
  <br>
  <br>

    <h3 class="govuk-heading-m">Renew by phone</h3>

    <p>You can apply by calling the Access to Work helpline.</p>

    <h4 class="govuk-heading-s" id="access-to-work-helpline">Access to Work helpline</h4>

    <div class="contact">
    <p>Telephone: 0800 121 7479 <br>
    Textphone: 0800 121 7579   <br>
    <a href="https://www.relayuk.bt.com/">Relay UK</a> (if you cannot hear or speak on the phone): 18001 then 0800 121 7479<br>
    Monday to Friday, 9am to 5pm <br>
    <a href="http://dwpatwenquiry.signvideo.net/">Video relay service</a> for British Sign Language (BSL) users - <a href="https://www.youtube.com/watch?v=xgWBXN5Bp_E">check you can use the service</a><br>
    Monday to Friday, 9am to 5pm<br>
    <a href="https://www.gov.uk/call-charges">Find out about call charges</a></p>
    </div>



    <div class="govuk-inset-text">  
      If phone calls are difficult for you (for example, because you’re deaf or hard of hearing), you can ask for all communication to be by email instead.
    </div>

    <h3 class="govuk-heading-m">After you apply</h3>

    <p>An Access to Work adviser may contact you.</p>

    <p>If anything’s changed since you last applied, they may ask for more information. For example, about your condition, how it affects your work and what support you think you need.</p>

    <p>Another workplace assessment might be needed. If so, the adviser will ask for permission before contacting your employer.</p>

    <p>If you’re offered a new grant, you’ll be told how much you’ll get and for how long.</p>


    </div>

      <div class="govuk-grid-column-one-third">

        <aside class="app-related-items" role="complementary">
          <h2 class="govuk-heading-s" id="subsection-title">
            Related content
          </h2>
          <nav role="navigation" aria-labelledby="subsection-title">
            <ul class="govuk-list govuk-!-font-size-16">
              <li>
                <a href="https://www.gov.uk/government/publications/easy-read-get-help-at-work-if-youre-disabled-or-have-a-health-condition-access-to-work">
                  Easy read: Access to Work – get support if you have a disability or health condition
                </a>
              </li>
              <li>
                <a href="https://www.gov.uk/reasonable-adjustments-for-disabled-workers">
                  Reasonable adjustments for workers with disabilities or health conditions
                </a>
              </li>

              <li>
                <a href="https://www.gov.uk/definition-of-disability-under-equality-act-2010">
                  Definition of disability under the Equality Act 2010
                </a>
              </li>

              <li>
                <a href="https://www.gov.uk/rights-disabled-person">
                  Disability rights
                </a>
              </li>

              <li>
                <a href="https://www.gov.uk/looking-for-work-if-disabled">
                  Looking for work if you're disabled
                </a>
              </li>
            
            </ul>
          </nav>
        </aside>

      </div>
    </div>
  {% endblock %}
