{% extends "layout.html" %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

    <form id="form" method="post" action="../total_cost">

    <h1 class="govuk-heading-l govuk-!-margin-bottom-4">
        Your job interview
    </h1>
    <h2 class="govuk-heading-m govuk-!-margin-bottom-2">
        Who can we contact at the company?
    </h2>
    <span id="national-insurance-number-hint" class="govuk-hint">
        We’ll only contact this person after your job interview to confirm it has taken place.
    </span>
    <label class="govuk-label" for="more-detail">
    Name
    </label>
    <div class="govuk-form-group govuk-!-margin-bottom-8">
      <input class="govuk-input govuk-input--width-11" id="interviewer-name" name="interviewer-name" type="text" aria-describedby="interviewer-name-hint">
    </div>


    <div class="govuk-form-group">
        <fieldset class="govuk-fieldset" aria-describedby="citizenship-conditional-hint">
          <legend class="govuk-fieldset__legend govuk-fieldset__legend--xl">
            <h2 class="govuk-heading-m govuk-!-margin-bottom-2">
              How can we contact them?
            </h2>
          </legend>
          <div class="govuk-checkboxes" data-module="govuk-checkboxes">
            <div class="govuk-checkboxes__item">
              <input class="govuk-checkboxes__input" id="citizenship-conditional-1" name="citizen" type="checkbox" value="email" data-aria-controls="conditional-citizenship-conditional-1">
              <label class="govuk-label govuk-checkboxes__label" for="citizenship-conditional-1">
                Email
              </label>
            </div>
            <div class="govuk-checkboxes__conditional govuk-checkboxes__conditional--hidden" id="conditional-citizenship-conditional-1">
              <div class="govuk-form-group">
                <label class="govuk-label" for="contact-by-email">
                  Email address
                </label>
                <input class="govuk-input govuk-!-width-one-third" id="contact-by-email" name="contact-by-email" type="email" spellcheck="false">
              </div>

            </div>
            <div class="govuk-checkboxes__item">
              <input class="govuk-checkboxes__input" id="citizenship-conditional-2" name="citizen" type="checkbox" value="phone" data-aria-controls="conditional-citizenship-conditional-2">
              <label class="govuk-label govuk-checkboxes__label" for="citizenship-conditional-2">
                Phone
              </label>
            </div>

            <div class="govuk-checkboxes__conditional govuk-checkboxes__conditional--hidden" id="conditional-citizenship-conditional-2">
              <div class="govuk-form-group">
                <label class="govuk-label" for="contact-by-phone">
                  Phone number
                </label>
                <input class="govuk-input govuk-!-width-one-third" id="contact-by-phone" name="contact-by-phone" type="tel">
              </div>
              </div>
              </div>
            </div>

		<input type="submit" class="govuk-button" value="Continue" id="submit"><!-- total_cost -->

    </form>

  <div><!-- govuk-grid-column-two-thirds -->
<div><!-- govuk-grid-row -->
{% endblock %}
