{% set page = "claim" %}
{% set claim = "true" %}
{% set title = "Case details" %}

{% extends folder + "/claim/_CSIBASE.html" %}


{% if not totalsae %}
  {% set totalsae = 0 %}
  {% endif %}



    {% if data['sae-item-type'+ number]  %}
    {% set totalsae = totalsae + 1 %}
  {% endif %}


    {% for i in [1,2,3,4,5,6,7,8,9,10,11,12] -%}
       {% set index = i %}
        {% if data['sae-item-type'+ index]%}
        {% set totalsae = totalsae + 1 %}
      {% endif %}
        {%- endfor %}

{% block csi %}


<div class="govuk-width-container">


  <main class="govuk-main-wrapper " id="main-content" role="main">
    <div class="govuk-grid-row">
      <div class="govuk-grid-column-two-thirds">





      <h1 class="govuk-heading-l">
{% if phase =='sonya'%}{% set totalsae  = 2 %}{% endif %}
            Total items of specialist equipment: {{totalsae}} </h1>

{% if data['sae-item-type1']%}
            <h2 class="govuk-heading-m">

                  Items you have added </h2>
              <dl class="govuk-summary-list hmrc-list-with-actions hmrc-list-with-actions--short">


              {% for i in [1,2,3,4,5,6,7,8,9,10,11,12]-%}
              {% set index = i %}
              {% if data['sae-item-type'+ index]%}
  <div class="govuk-summary-list__row">

                  <dt class="govuk-summary-list__key govuk-!-font-weight-regular hmrc-summary-list__key">
                    {{data['sae-item-type'+ index]}}
                  </dt>

                  <dt class="govuk-summary-list__key govuk-!-font-weight-regular hmrc-summary-list__value">
{% if data['approve'+ index]=='I am not sure, I need more details'%}Need more details{% else %}
{% if data['social-domestic-'+ index]=='I am not sure, I need more details'%}Need more details{% else %}
                    {% if data['approve'+ index]=='Yes'%}Added to award{% endif %}
                      {% if data['approve'+ index]=='No'%}Not added to award{% endif %}{% endif %}{% endif %}
                  </dt>


                  <dd class="govuk-summary-list__actions hmrc-summary-list__actions">
                    <ul class="govuk-summary-list__actions-list">
                      <li class="govuk-summary-list__actions-list-item">
                        <a class="govuk-link" href="{{index}}/check"><span aria-hidden="true">Change</span><span class="govuk-visually-hidden">  {{data['sae-item-type'+ number]}}</span></a>
                      </li>
                      <li class="govuk-summary-list__actions-list-item">
                        <a class="govuk-link" href="{{index}}/remove"><span aria-hidden="true">Remove</span><span class="govuk-visually-hidden">  {{data['sae-item-type'+ number]}}</span></a>
                      </li>
                    </ul>
                  </dd>
</div>

                {% endif %}
    {%- endfor %}
  </dl>

  {% endif %}

  {% if phase == 'sonya'%}

              <h2 class="govuk-heading-m">

                  Items from application </h2>


                  <div class="govuk-form-group">

                    <dl class="govuk-summary-list hmrc-list-with-actions hmrc-list-with-actions--short">
                      <div class="govuk-summary-list__row">
                        <dt class="govuk-summary-list__key govuk-!-font-weight-regular hmrc-summary-list__key">
                          Jaws
                        </dt>
                        <dt class="govuk-summary-list__key govuk-!-font-weight-regular hmrc-summary-list__value">

      {% if data['social-domestic-'+ phase]=='I am not sure, I need more details'%}Need more details{% else %}
                          {% if data['approve-1']=='true'%}Added to award{% endif %}
                            {% if data['approve-1']=='false'%}Not added to award{% endif %}{% endif %}
                        </dt>
                        <dd class="govuk-summary-list__actions hmrc-summary-list__actions">
                          <ul class="govuk-summary-list__actions-list">
                            <li class="govuk-summary-list__actions-list-item">
                              <a class="govuk-link" href="check-1"><span aria-hidden="true">Change</span><span class="govuk-visually-hidden">  {{data['sae-item-type'+ number]}}</span></a>
                            </li>

                          </ul>
                        </dd>
                      </div>
                      <div class="govuk-summary-list__row">
                        <dt class="govuk-summary-list__key govuk-!-font-weight-regular hmrc-summary-list__key">
                          ZoomText
                        </dt>
                        <dt class="govuk-summary-list__key govuk-!-font-weight-regular hmrc-summary-list__value">

                      {% if data['social-domestic-'+ phase]=='I am not sure, I need more details'%}Need more details{% else %}
                          {% if data['approve-2']=='true'%}Added to award{% endif %}
                            {% if data['approve-2']=='false'%}Not added to award{% endif %}{% endif %}
                        </dt>

                        <dd class="govuk-summary-list__actions hmrc-summary-list__actions">
                          <ul class="govuk-summary-list__actions-list">
                            <li class="govuk-summary-list__actions-list-item">
                              <a class="govuk-link" href=""><span aria-hidden="true">Change</span><span class="govuk-visually-hidden">  {{data['sae-item-type'+ number]}}</span></a>
                            </li>
                             </ul>


</div>

      </dl>




                  {% endif %}






                   <form action="" method="post" novalidate>
                     <div class="govuk-form-group">
                                 <fieldset class="govuk-fieldset">
                                   <legend class="govuk-fieldset__legend govuk-fieldset__legend--m">

{% include "live-atwis/0/cases/check-application/sae/details/content/add.html" %}
                                   </legend>


                                <div id="event-name-hint" class="govuk-hint">You should add all items suggested by {% if case =='other-cases-2' %}Thomas King{% endif %}{% if case =='other-cases' %}Sonya Corkery{% endif %}{% if not case %}Dereck Smith{% endif %}{% if data['wpa']=='Yes'%} or in the workplace assessment report{% endif %}.</div>
                                   <div class="govuk-radios govuk-radios--inline" data-module="govuk-radios">
                                     <div class="govuk-radios__item govuk-radios--inline">
                                       <input class="govuk-radios__input" id="sae-add" name="sae-add{{phase}}" type="radio" value="Yes~/live-atwis/0/cases/{% if phase %}{{phase}}/cases/{% endif %}check-application/sae/details/{{totalsae +1}}/type.html" >
                                       <label class="govuk-label govuk-radios__label" for="sae-add">
                                         Yes
                                       </label>
                                     </div>
                                     <div class="govuk-radios__item">
                                       <input class="govuk-radios__input" id="sae-add-2" name="sae-add{{phase}}" type="radio" value="No~/live-atwis/0/cases/{% if phase %}sonya/cases/{% endif %}claim#business-case" {{ checked("sae-add", "No") }}>
                                       <label class="govuk-label govuk-radios__label" for="sae-add-2">
                                         No
                                       </label>
                                     </div>

                                   </div>

                                 </fieldset>
                         </div><br>
                             <button class="govuk-button" data-module="govuk-button">
                               Save and continue
                             </button>

                           </form>


                   </main>
                 </div>


               {% endblock %}
