{% set page = "claim" %}
{% set claim = "true" %}
{% set title = "Case details" %}

{% extends folder + "/claim/_CSIBASE.html" %}

{% block csi %}
<br>

<form action="{% if data['searchlight-cis500']%}check{% else %}/live-atwis/0/cases/claim#your-tasks{% endif %}" method="post" novalidate>


  <div class="govuk-width-container">
    <!-- <a href="#" class="govuk-back-link">Back</a> -->



      <div class="govuk-grid-row">
        <div class="govuk-grid-column-two-thirds">

  <div class="govuk-form-group" data-module="radios" data-required="">
             <fieldset class="govuk-fieldset">
               <legend class="govuk-fieldset__legend govuk-fieldset__legend--l">
                 <h2 class="govuk-fieldset__heading">
                Have you sent a CIS500 to update Searchlight?
                 </h2>
               </legend>


               <div class="govuk-radios govuk-radios--inline">
                 <div class="govuk-radios__item">
                   <input class="govuk-radios__input" id="searchlight-cis500" name="searchlight-cis500" type="radio" value="Yes" {{ checked("searchlight-cis500", "Yes") }}>
                   <label class="govuk-label govuk-radios__label" for="searchlight-cis500">
                     Yes
                   </label>
                 </div>
                 <div class="govuk-radios__item">
                   <input class="govuk-radios__input" id="searchlight-cis500-2" name="searchlight-cis500" type="radio" value="No" {{ checked("searchlight-cis500", "No") }}>
                   <label class="govuk-label govuk-radios__label" for="searchlight-cis500-2">
                     No
                   </label>
                 </div>

               </div>

             </fieldset>
           </div>

           <button class="govuk-button" data-module="govuk-button">
             Save and continue
           </button>
         </form>
       </div>
     </div>


   </main>
   </div>



{% endblock %}
