{% set monthAndYear = "November 2022" %}

  {% set cases = [
    {
      name: "Dereck Smith",
      specialism: "Large business",
      type: "Renewal",
      date: "3  "  + monthAndYear +  " - 11:57"
    },
    {

      name: "Maximillia Erdman",
      specialism: "Pan disability",
      type: "New application",
      date: "3  "  + monthAndYear +  " - 10:22"
    },
    {
      name: "Sonya Corkery",
      specialism: "Large business",
      type: "Renewal",
      date: "2  "  + monthAndYear +  " - 09:23"
    },
    {
      name: "Adaline Mann",
      specialism: "Pan disability",
      type: "New application",
      date: "2  "  + monthAndYear +  " - 16:23"
    }

    ]
    %}

    <div class="govuk-grid-row">
      <div class="govuk-grid-column-two-thirds">
    <h2 class="govuk-heading-l">Case history</h2>

    <br>

              <p>  **(do not dev this)The case history is being designed**</p>

              <p>  To view replace /baseline with /current</p>
</div></div>
