{% extends "layout-contact.html" %}

{% block pageTitle %}
    Are you a hybrid worker? – Access to Work – GOV.UK
{% endblock %}
{% if not number %}
{% set number = '1'%}
{% endif %}
{% block beforeContent %}
{{ govukBackLink({
text: "Back",
href: "javascript:history.go(-1)"
}) }}
{% endblock %}

{% block content %}


<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

    <form class="form" action="/alpha-1i/your-job-and-employer/{{number}}/employment/workplace-contact" method="post">

    <div class="govuk-form-group">
      <div class="govuk-form-group">

            <div class="govuk-form-group">
              <fieldset class="govuk-fieldset">
                <legend class="govuk-fieldset__legend govuk-fieldset__legend--l">
                  <h1 class="govuk-fieldset__heading">
                Are you a hybrid worker?
                  </h1>
                </legend>
              <div id="changed-name-hint" class="govuk-hint">
            By hybrid we mean that you work partly from home and partly from work premises, such as an office.
              </div>

                <div class="govuk-radios govuk-radios--inline">
                  <div class="govuk-radios__item">
                    <input class="govuk-radios__input" id="1i-hybrid" name="1i-hybrid{{number}}"
                           type="radio" value="Yes" {{ checked("1i-hybrid"+ number, "Yes") }}>
                    <label class="govuk-label govuk-radios__label" for="1i-hybrid">
                      Yes
                    </label>
                  </div>
                  <div class="govuk-radios__item">
                    <input class="govuk-radios__input" id="1i-hybrid-2" name="1i-hybrid{{number}}"
                           type="radio" value="No" {{ checked("1i-hybrid"+ number, "No") }}>
                    <label class="govuk-label govuk-radios__label" for="1i-hybrid-2">
                    No
                    </label>
                  </div>

                </div>

              </fieldset>
            </div>

        <div class="govuk-!-padding-bottom-0"></div>

      <form class="form" action="/url/of/next/page" method="post">
        <input type="hidden" name="hybrid" value="true">
        <button class="govuk-button" data-module="govuk-button">Save and continue</button>
      </form>

        
  </div>

  </div>

  </div>
  <div class="govuk-grid-column-one-third">

  </div>
</div>

  </div>

{% endblock %}
