{% extends folder + "/_BASE.html" %}
{% block service %}

    <h2 class="govuk-heading-xl govuk-!-margin-bottom-2">
      You need to ask your sign language interpreter or support worker how much it will cost
    </h2>



<p>
  Ask the person who will help you to communicate at the interview what their total cost will be. Ask them to include:
</P>

<ul class="govuk-list govuk-list--bullet">
  <li>travel costs</li>
  <li>administrative costs</li>
  <li>VAT</li>
</ul>

<p>
  Once you know the total cost, you can complete the application.
</p>

<!-- <p>
<a href="/{{folder}}/apply#what-youll-need-to-provide">[link to anchor in guidance]</a>
</p> -->
<p>
{{ govukButton({
  href: "apply",
  text: "Go back to GOV.UK"
}) }}
<p>
{% endblock %}
