{% set page = "claim" %}
{% set claim = "true" %}
{% set title = "Case details" %}
{% set hideback = "true" %}




{% extends folder + "/claim/_CSIBASE.html" %}

{% block csi %}

<a href="javascript:history.go(-1)" class="govuk-back-link">Back </a>

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">



<div class="govuk-summary-card">
  <div class="govuk-summary-card__title-wrapper">
    <h2 class="govuk-summary-card__title" id="workplace-contact">Workplace contact</h2>
  </div>
  <div class="govuk-summary-card__content">
    <dl class="govuk-summary-list">
      <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">
        Permission to communicate with workplace contact
        </dt>
        <dd class="govuk-summary-list__value">
          Permission given
        </dd>
        <dd class="govuk-summary-list__actions">
          <a class="govuk-link" href="permission#">
            Change<span class="govuk-visually-hidden">    Permission to communicate with workplace contact </span>
          </a>
        </dd>
      </div>
      <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">
        Their name
        </dt>
        <dd class="govuk-summary-list__value">
          Jane Doe
        </dd>
        <dd class="govuk-summary-list__actions">
          <a class="govuk-link" href="workplace-contact#">
            Change<span class="govuk-visually-hidden"> Their name </span>
          </a>
        </dd>
      </div>
      <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">
          Their job title
        </dt>
        <dd class="govuk-summary-list__value">
          Line Manager
        </dd>
        <dd class="govuk-summary-list__actions">
          <a class="govuk-link" href="workplace-contact#">
            Change<span class="govuk-visually-hidden">   Their job title </span>
          </a>
        </dd>
      </div>
      <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">
      Their email address
        </dt>
        <dd class="govuk-summary-list__value">

      Jane@smithdigital.co
        </dd>
        <dd class="govuk-summary-list__actions">
          <a class="govuk-link" href="workplace-contact#">
            Change<span class="govuk-visually-hidden">   Their email address </span>
          </a>
        </dd>
      </div>
      <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">
      Their telephone number
        </dt>
        <dd class="govuk-summary-list__value">

    123456789
        </dd>
        <dd class="govuk-summary-list__actions">
          <a class="govuk-link" href="workplace-contact#">
            Change<span class="govuk-visually-hidden">    Their telephone number  </span>
          </a>
        </dd>
      </div>
    </dl>
  </div>
</div>






<!-- </dl> -->
{% endblock %}
