{% extends folder + "/" + subfolder + "/intranet/_BASE.html" %}
{% set title = "Forms" %}
{% block intranet %}

<P><A name="maincontentarea" id="maincontentarea"></A> <A name="Access to Work Forms"
id="Access to Work Forms"></A></P>
<DIV class="singleBox">
<DIV class="border"><A name="H2ClaimForms" id="H2ClaimForms"></A></DIV>
<TABLE  border="1" cellspacing="1" cellpadding="1">
  <THEAD>
  <TR>
    <TH style="border-color: rgb(0, 114, 143); background-color: rgb(215, 232, 238);"
    colspan="2" scope="col">
      <H3>Claim Forms</H3>
      <P>Please use these forms and not ones that have been previously
    saved.</P></TH></TR></THEAD>
  <TBODY>
  <TR>
    <TD style="border-color: rgb(0, 114, 143);">
      <P><IMG title="application/pdf" class="file-icon" alt="" src="/public/sass/intranet/application-pdf.png"><A
      class="piwik_download" href="#">DP222JP</A></P>
      <P><IMG title="application/msword" class="file-icon" alt="" src="/public/sass/intranet/x-office-document.png"><A
      class="piwik_download" href="#">Instructions
      for completion (DP222)</A></P></TD>
    <TD style="border-color: rgb(0, 114, 143);">Application for reimbursement
      of Support Worker costs</TD></TR>
  <TR>
    <TD style="border-color: rgb(0, 114, 143);">
      <P><IMG title="application/pdf" class="file-icon" alt="" src="/public/sass/intranet/application-pdf.png"><A
      class="piwik_download" href="#">DP222JPW</A></P></TD>
    <TD style="border-color: rgb(0, 114, 143);">Application for reimbursement
      of Support Worker costs - Welsh Version</TD></TR>
  <TR>
    <TD style="border-color: rgb(0, 114, 143);">
      <P><IMG title="application/pdf" class="file-icon" alt="" src="/public/sass/intranet/application-pdf.png"><A
      class="piwik_download" href="#">DP223JP</A></P></TD>
    <TD style="border-color: rgb(0, 114, 143);">Application for reimbursement
      of Support worker costs, multiple employees</TD></TR>
  <TR>
    <TD style="border-color: rgb(0, 114, 143);">
      <P><IMG title="application/pdf" class="file-icon" alt="" src="/public/sass/intranet/application-pdf.png"><A
      class="piwik_download" href="#">DP224JP</A></P>
      <P><IMG title="application/msword" class="file-icon" alt="" src="/public/sass/intranet/x-office-document.png"><A
      class="piwik_download" href="#">Instructions
      for completion (DP224)</A></P></TD>
    <TD style="border-color: rgb(0, 114, 143);">Application for reimbursement
      of one off costs</TD></TR>
  <TR>
    <TD style="border-color: rgb(0, 114, 143);">
      <P><IMG title="application/pdf" class="file-icon" alt="" src="/public/sass/intranet/application-pdf.png"><A
      class="piwik_download" href="#">DP224JPW</A></P></TD>
    <TD style="border-color: rgb(0, 114, 143);">Application for reimbursement
      of one off costs - Welsh Version</TD></TR>
  <TR>
    <TD style="border-color: rgb(0, 114, 143);">
      <P><IMG title="application/pdf" class="file-icon" alt="" src="/public/sass/intranet/application-pdf.png"><A
      class="piwik_download" href="#">DP226JP</A></P>
      <P><IMG title="application/msword" class="file-icon" alt="" src="/public/sass/intranet/x-office-document.png"><A
      class="piwik_download" href="#">Instructions
      for completion (DP226)</A></P></TD>
    <TD style="border-color: rgb(0, 114, 143);">Application for assistance
      with travel to work costs</TD></TR>
  <TR>
    <TD style="border-color: rgb(0, 114, 143);">
      <P><IMG title="application/pdf" class="file-icon" alt="" src="/public/sass/intranet/application-pdf.png"><A
      class="piwik_download" href="#">DP226JPW</A></P></TD>
    <TD style="border-color: rgb(0, 114, 143);">Application for assistance
      with travel to work costs - Welsh Version</TD></TR>
  <TR>
    <TD style="border-color: rgb(0, 114, 143);">
      <P><IMG title="application/pdf" class="file-icon" alt="" src="/public/sass/intranet/application-pdf.png"><A
      class="piwik_download" href="#">DP227JP</A></P>
      <P><IMG title="application/msword" class="file-icon" alt="" src="/public/sass/intranet/x-office-document.png"><A
      class="piwik_download" href="#">Instructions
      for completion (DP227)</A></P></TD>
    <TD style="border-color: rgb(0, 114, 143);">Client’s claim for assistance
      with travel within work during working hours</TD></TR>
  <TR>
    <TD style="border-color: rgb(0, 114, 143);">
      <P><IMG title="application/pdf" class="file-icon" alt="" src="/public/sass/intranet/application-pdf.png"><A
      class="piwik_download" href="#">DP227JPW</A></P></TD>
    <TD style="border-color: rgb(0, 114, 143);">Client’s claim for assistance
      with travel within work during working hours - Welsh Version</TD></TR>
  <TR>
    <TD style="border-color: rgb(0, 114, 143);">
      <P><IMG title="application/pdf" class="file-icon" alt="" src="/public/sass/intranet/application-pdf.png"><A
      class="piwik_download" href="#">DP228JP</A></P>
      <P><IMG title="application/msword" class="file-icon" alt="" src="/public/sass/intranet/x-office-document.png"><A
      class="piwik_download" href="#">Instructions
      for completion (DP228)</A></P></TD>
    <TD style="border-color: rgb(0, 114, 143);">Access to Work claims: Change
      details</TD></TR>
  <TR>
    <TD style="border-color: rgb(0, 114, 143);"><IMG title="application/pdf"
      class="file-icon" alt="" src="/public/sass/intranet/application-pdf.png"><SPAN
      class="file file-document file-application-pdf" id="file-569269">
      <SPAN class="content"><SPAN class="file attachment"><A class="link piwik_download"
      href="#"
      type="application/pdf; length=1777397">DP229 TESG
      interactive.pdf</A></SPAN> </SPAN>   </SPAN> </TD>
    <TD style="border-color: rgb(0, 114, 143);">Claim for Transitional
      Employer Support Grant</TD></TR></TBODY></TABLE></DIV>
<DIV class="singleBox">
<DIV class="border"><A name="H2ComputerAccessibleClaimForms" id="H2ComputerAccessibleClaimForms"></A></DIV>
<TABLE  border="1" cellspacing="1" cellpadding="1">
  <CAPTION>&nbsp;</CAPTION>
  <THEAD>
  <TR>
    <TH style="border-color: rgb(0, 114, 143); background-color: rgb(215, 232, 238);"
    colspan="2" scope="col">
      <H3>Computer Accessible Claim Forms - WORD</H3>
      <P>Accessible versions. These formats have been provided to suit different
      types of screen reading software.</P></TH></TR></THEAD>
  <TBODY>
  <TR>
    <TD style="border-color: rgb(0, 114, 143);">
      <P><IMG title="application/msword" class="file-icon" alt="" src="/public/sass/intranet/x-office-document.png"><A
      class="piwik_download" href="#">DP222</A></P></TD>
    <TD style="border-color: rgb(0, 114, 143);">Support Worker claim</TD></TR>
  <TR>
    <TD style="border-color: rgb(0, 114, 143);">
      <P><IMG title="application/msword" class="file-icon" alt="" src="/public/sass/intranet/x-office-document.png"><A
      class="piwik_download" href="#">DP224</A></P></TD>
    <TD style="border-color: rgb(0, 114, 143);">Application for reimbursement
      of one off costs</TD></TR>
  <TR>
    <TD style="border-color: rgb(0, 114, 143);">
      <P><IMG title="application/msword" class="file-icon" alt="" src="/public/sass/intranet/x-office-document.png"><A
      class="piwik_download" href="#">DP226</A></P></TD>
    <TD style="border-color: rgb(0, 114, 143);">Application for travel to work
      costs</TD></TR>
  <TR>
    <TD style="border-color: rgb(0, 114, 143);">
      <P><IMG title="application/msword" class="file-icon" alt="" src="/public/sass/intranet/x-office-document.png"><A
      class="piwik_download" href="#">DP227</A></P></TD>
    <TD style="border-color: rgb(0, 114, 143);">Client’s claim for assistance
      with travel within work during working hours</TD></TR>
  <TR>
    <TD style="border-color: rgb(0, 114, 143);">
      <P><IMG title="application/msword" class="file-icon" alt="" src="/public/sass/intranet/x-office-document.png"><A
      class="piwik_download" href="#">DP228</A></P></TD>
    <TD style="border-color: rgb(0, 114, 143);">Access to work claims: Change
      details</TD></TR></TBODY></TABLE>
<TABLE  border="1" cellspacing="1" cellpadding="1">
  <THEAD>
  <TR>
    <TH style="border-color: rgb(0, 114, 143); background-color: rgb(215, 232, 238);"
    colspan="2" scope="col">
      <H3>Computer Accessible Claim Forms - EXCEL</H3>
      <P>Accessible versions. These formats have been provided to suit different
      types of screen reading software.</P></TH></TR></THEAD>
  <TBODY>
  <TR>
    <TD style="border-color: rgb(0, 114, 143);">
      <P><IMG title="application/vnd.ms-excel" class="file-icon" alt="" src="/public/sass/intranet/x-office-spreadsheet.png"><A
      class="piwik_download" href="#">DP222</A></P></TD>
    <TD style="border-color: rgb(0, 114, 143);">Support Worker claim</TD></TR>
  <TR>
    <TD style="border-color: rgb(0, 114, 143);">
      <P><IMG title="application/vnd.ms-excel" class="file-icon" alt="" src="/public/sass/intranet/x-office-spreadsheet.png"><A
      class="piwik_download" href="#">DP224</A></P></TD>
    <TD style="border-color: rgb(0, 114, 143);">Application for reimbursement
      of one off costs</TD></TR>
  <TR>
    <TD style="border-color: rgb(0, 114, 143);">
      <P><IMG title="application/vnd.ms-excel" class="file-icon" alt="" src="/public/sass/intranet/x-office-spreadsheet.png"><A
      class="piwik_download" href="#">DP226</A></P></TD>
    <TD style="border-color: rgb(0, 114, 143);">Application for travel to work
      costs</TD></TR>
  <TR>
    <TD style="border-color: rgb(0, 114, 143);">
      <P><IMG title="application/vnd.ms-excel" class="file-icon" alt="" src="/public/sass/intranet/x-office-spreadsheet.png"><A
      class="piwik_download" href="#">DP227</A></P></TD>
    <TD style="border-color: rgb(0, 114, 143);">Client’s claim for assistance
      with travel within work during working hours</TD></TR></TBODY></TABLE>
<P><A name="H2Informationmaterial" id="H2Informationmaterial"></A></P></DIV>
<DIV class="singleBox">
<TABLE  border="1" cellspacing="1" cellpadding="1">
  <THEAD>
  <TR>
    <TH style="border-color: rgb(0, 114, 143); background-color: rgb(215, 232, 238);"
    colspan="2" scope="col">
      <DIV class="border">
      <H3>Information material</H3></DIV>
      <P>Latest Leaflets 2015</P></TH></TR></THEAD>
  <TBODY>
  <TR>
    <TD style="border-color: rgb(0, 114, 143);">
      <P><IMG title="application/pdf" class="file-icon" alt="" src="/public/sass/intranet/application-pdf.png"><A
      class="piwik_download" href="#">ATWC1W</A></P></TD>
    <TD style="border-color: rgb(0, 114, 143);">Information for Customers –
      Welsh Version</TD></TR>
  <TR>
    <TD style="border-color: rgb(0, 114, 143);">
      <P><IMG title="application/pdf" class="file-icon" alt="" src="/public/sass/intranet/application-pdf.png"><A
      class="piwik_download" href="#"><U>ATWC1</U></A></P></TD>
    <TD style="border-color: rgb(0, 114, 143);">Information for
Customers</TD></TR>
  <TR>
    <TD style="border-color: rgb(0, 114, 143);">
      <P><IMG title="application/pdf" class="file-icon" alt="" src="/public/sass/intranet/application-pdf.png"><A
      class="piwik_download" href="#">ATWE1</A></P></TD>
    <TD style="border-color: rgb(0, 114, 143);">Information for
  employers</TD></TR></TBODY></TABLE>
<P><A name="MHSS" id="MHSS"></A></P>
<TABLE  border="1" cellspacing="1" cellpadding="1">
  <THEAD>
  <TR>
    <TH style="border-color: rgb(0, 114, 143); background-color: rgb(215, 232, 238);"
    scope="col">
      <H3>MHSS Forms</H3></TH></TR></THEAD>
  <TBODY>
  <TR>
    <TD style="border-color: rgb(0, 114, 143);"><IMG title="application/msword"
      class="file-icon" alt="" src="/public/sass/intranet/x-office-document.png"><A
      class="piwik_download" href="#">MHSS
      Referral Form</A></TD></TR>
  <TR>
    <TD style="border-color: rgb(0, 114, 143);"><IMG title="application/msword"
      class="file-icon" alt="" src="/public/sass/intranet/x-office-document.png"><A
      class="piwik_download" href="#">MHSS
      Plan Rejection Form</A></TD></TR>
  <TR>
    <TD style="border-color: rgb(0, 114, 143);"><IMG title="application/msword"
      class="file-icon" alt="" src="/public/sass/intranet/x-office-document.png"><A
      class="piwik_download" href="#">MHSS
      Plan Acceptance Form</A></TD></TR></TBODY></TABLE>
<P>&nbsp;</P>
<TABLE  border="1" cellspacing="1" cellpadding="1">
  <THEAD>
  <TR>
    <TH style="border-color: rgb(0, 114, 143); background-color: rgb(215, 232, 238);"
    scope="col">
      <H3>Information material for DWP Staff Only</H3></TH></TR></THEAD>
  <TBODY>
  <TR>
    <TD style="border-color: rgb(0, 114, 143);"><SPAN class="file file-document file-application-vndopenxmlformats-officedocumentwordprocessingmldocument"
      id="file-536056"><SPAN class="content"><SPAN class="file attachment"><IMG
      title="application/vnd.openxmlformats-officedocument.wordprocessingml.document"
      class="file-icon" alt="" src="/public/sass/intranet/x-office-document.png">
      <A class="link piwik_download" href="#"
      type="application/vnd.openxmlformats-officedocument.wordprocessingml.document; length=29744">AtW
      standardised decision making</A></SPAN> </SPAN>   </SPAN>
</TD></TR></TBODY></TABLE>
<P>&nbsp;</P>
<P>&nbsp;</P></DIV></DIV>

{% endblock %}
