{% set page = "claim" %}
{% set claim = "true" %}
{% set title = "Case details" %}

{% extends folder + "/claim/_CSIBASE.html" %}

{% block csi %}
<br>


<div class="govuk-grid-row">
      <div class="govuk-grid-column-two-thirds">
        <form action="../cases/claim#citizen-details" method="post" novalidate>
          <div class="govuk-form-group">
            <fieldset class="govuk-fieldset" role="group" aria-describedby="dob-hint">
              <legend class="govuk-fieldset__legend govuk-fieldset__legend--l">
                <h1 class="govuk-fieldset__heading">
                Telephone
                </h1>
              </legend>
              <div id="dob-hint" class="govuk-hint">

              </div>
            <div class="govuk-form-group">
              <label class="govuk-label" for="full-name">
                UK Telephone
              </label>
              <input class="govuk-input govuk-input--width-20" id="telephone" name="telephone" type="text" spellcheck="false" autocomplete="name" Value="{% if not data['telephone'] %}07192 838 482{% else %}{{data['telephone']}}{% endif %}"></div>          </div>
              </br>
<!-- <div class="govuk-inset-text">
text</div> -->
          <button class="govuk-button" data-module="govuk-button">
            Save and continue
          </button>
        </form>
      </div>
    </div>


{% endblock %}
