


            <li class="app-task-list__item">
              <span class="app-task-list__task-name">
  <a href="
  {% if data['exceptions']=='I need to contact Dereck Smith about their benefits' or data['Searchligh']=='Yes, but name, date of birth or address do not match' %}
  /live-5/cases/contact/how-do-you-want-to-contact{% else %}
  /live-5/cases/contact/do-not-need-to-contact{% endif %}
  " aria-describedby="contact-status">

              Contact {% if data['appointee']=='Yes'%}{{data['appointee-name']}}{% else %}Dereck Smith{% endif %} about Searchlight details
</a>
              </span>

              {% if data['asked-info-phone']=='yes'%}<strong class="govuk-tag app-task-list__tag" id="eligibility-status">Completed</strong>  {% endif %}
              {% if data['asked-info-phone']=='no'%}<strong class="govuk-tag govuk-tag--grey app-task-list__tag" id="list-convictions-status">In progress</strong> {% endif %}

          {% if data['contact']=='No'%}<strong class="govuk-tag app-task-list__tag" id="eligibility-status">Completed</strong>  {% endif %}

              {% if not data['asked-info-phone'] and not data['contact']%}
              <strong class="govuk-tag govuk-tag--grey app-task-list__tag" id="list-convictions-status">Not started</strong>{% endif %}
            </li>

      </ul>
      </li>




        <li>
          <h2 class="app-task-list__section">
            <span class="app-task-list__section-number">2. </span> Prepare business case
          </h2>
          <ul class="app-task-list__items">

            <li class="app-task-list__item">
              <span class="app-task-list__task-name">
  <a href="claim#your-tasks" aria-describedby="job-status">
                  Job details
</a>
              </span>
              <strong class="govuk-tag govuk-tag--grey app-task-list__tag" id="list-convictions-status">Not started</strong>
            </li>

            <li class="app-task-list__item">
              <span class="app-task-list__task-name">
  <a href="claim#your-tasks" aria-describedby="job-status">
                  Workplace assesment
</a>
              </span>
              <strong class="govuk-tag govuk-tag--grey app-task-list__tag" id="list-convictions-status">Not started</strong>            </li>
            <li class="app-task-list__item">
              <span class="app-task-list__task-name">
  <a href="claim#your-tasks" aria-describedby="job-status">
                  Evidence
</a>
              </span>
              <strong class="govuk-tag govuk-tag--grey app-task-list__tag" id="list-convictions-status">Not started</strong>            </li>
            <li class="app-task-list__item">
              <span class="app-task-list__task-name">
  <a href="claim#your-tasks" aria-describedby="job-status">
                  Quotes
</a>
              </span>
              <strong class="govuk-tag govuk-tag--grey app-task-list__tag" id="list-convictions-status">Not started</strong>            </li>

            <li class="app-task-list__item">
              <span class="app-task-list__task-name">
  <a href="claim#your-tasks" aria-describedby="job-status">
                  Elements
</a>
              </span>
              <strong class="govuk-tag govuk-tag--grey app-task-list__tag" id="list-convictions-status">Not started</strong>            </li>
              <li class="app-task-list__item">
                <span class="app-task-list__task-name">
            <a href="claim#your-tasks" aria-describedby="job-status">
                    Contact {% if data['appointee']=='Yes'%}{{data['appointee-name']}}{% else %}Dereck Smith{% endif %} about the business cases details
            </a>
                </span>
                <strong class="govuk-tag govuk-tag--grey app-task-list__tag" id="list-convictions-status">Not started</strong>            </li>
