{% set hideBanner = true %}
{% set yourCases = true %}
{% extends "../claim/_BASE.html" %}







{% block content %}








<div class="govuk-width-container">
  {{ govukBackLink({
  text: "Back",
  href: "javascript:history.go(-1)"
  }) }}

    <div class="govuk-grid-row">
      <div class="govuk-grid-column-two-thirds">
        <form action="/live-atwis/6/referral/mhss/typeprovider" method="post" autocomplete="off" novalidate="" class="casa-journey-form">





  <fieldset class="govuk-fieldset">
    <legend class="govuk-fieldset__legend govuk-fieldset__legend--l">
      <h1 class="govuk-fieldset__heading">
  Enter an address
      </h1>
    </legend>
    <div class="govuk-form-group">
      <label class="govuk-label" for="address-line-1">
        Address line 1
      </label>
      <input class="govuk-input" id="address-line-1" name="addressLine1" type="text" autocomplete="address-line1">
    </div>
    <div class="govuk-form-group">
      <label class="govuk-label" for="address-line-2">
        Address line 2 (optional)
      </label>
      <input class="govuk-input" id="address-line-2" name="addressLine2" type="text" autocomplete="address-line2">
    </div>
    <div class="govuk-form-group">
      <label class="govuk-label" for="address-town">
        Town or city
      </label>
      <input class="govuk-input govuk-!-width-two-thirds" id="address-town" name="addressTown" type="text" autocomplete="address-level2">
    </div>
    <div class="govuk-form-group">
      <label class="govuk-label" for="address-county">
        County (optional)
      </label>
      <input class="govuk-input govuk-!-width-two-thirds" id="address-county" name="addressCounty" type="text">
    </div>
    <div class="govuk-form-group">
      <label class="govuk-label" for="address-postcode">
        Postcode
      </label>
      <input class="govuk-input govuk-input--width-10" id="address-postcode" name="addressPostcode" type="text" autocomplete="postal-code">
    </div>
  </fieldset>


         <button type="submit" class="govuk-button" data-module="govuk-button">
           Continue
         </button>
       </form>
     </div>
   </div>



{% endblock %}



<!-------------- footer -->
{% block footer %}


  {{ govukFooter({
    meta: {
      html: urFooterLink ,

      items: [
        {
          href: "https://govuk-prototype-kit.herokuapp.com/",
          text: "GOV.UK Prototype Kit " + releaseVersion
        },
        {
          href: "/prototype-admin/clear-data",
          text: "Clear data"
        }

      ]
    }
  }) }}





{% endblock %}
