{% set page = "claim" %}
{% set claim = "true" %}
{% set title = "Case details" %}

{% extends folder + "/claim/_CSIBASE.html" %}

{% block csi %}
<br>







  <div class="govuk-width-container">


    <main class="govuk-main-wrapper">

      <div class="govuk-grid-row">
        <div class="govuk-grid-column-two-thirds">

          <h1 class="govuk-heading-l">
                   Organisation type
                 </h1>
                 <p class="govuk-body">
                Use the following links to find information about organisations:
                 </p>

                 <ul class="govuk-list govuk-list--bullet">
               <li>

Search for  <a href="https://www.gov.uk/government/organisations" class="govuk-link" target="_blank">UK government departments, agencies and public bodies</a></li>
<li>
Search the
<a href="https://www.gov.uk/find-charity-information" class="govuk-link" target="_blank">    charity register </a></li>
<li>
Search
<a href="https://www.gov.uk/get-information-about-a-company" class="govuk-link" target="_blank"> Companies House</a> for limited companies.</li>
</ul>
          <div class="govuk-form-group">
<form action="/live-34/cases/{% if phase %}{{phase}}/cases/{% endif %}job-details/details" method="post" novalidate>
                     <fieldset class="govuk-fieldset">
                       <legend class="govuk-fieldset__legend govuk-fieldset__legend--m">
                         <h2 class="govuk-fieldset__heading">
                        Do you know Smith Digital Limited's organisation type?
                         </h2>
                       </legend>

                       <div class="govuk-radios govuk-radios--inline">
                         <div class="govuk-radios__item" >
                           <input class="govuk-radios__input" id="employer-sector{{phase}}" name="employer-sector{{phase}}" type="radio" value="Yes~employment-sector-type" {{ checked("employer-sector"+ phase, "Yes and all of the details match") }}>
                           <label class="govuk-label govuk-radios__label" for="employer-sector">
                          Yes
                           </label>
                         </div>


                                          <div class="govuk-radios__item">
                                            <input class="govuk-radios__input" id="employer-sector-2" name="employer-sector{{phase}}" type="radio" value="No~employer-size" {{ checked("employer-sector"+ phase, "Yes, but some details do not match") }}>
                                            <label class="govuk-label govuk-radios__label" for="employer-sector-2">
                                                No
                                            </label>
                                          </div>


                       </div>

                     </fieldset>
                   </div>


           <button class="govuk-button" data-module="govuk-button">
             Save and continue
           </button>
         </form>
       </div>
     </div>


        </main>
        </div>



{% endblock %}
