{% set monthAndYear = "November 2021" %}

  {% set cases = [
    {
      name: "Dereck Smith",
      specialism: "Large business",
      type: "Renewal",
      date: "3  "  + monthAndYear +  "  11:57"
    },
    {

      name: "Maximillia Erdman",
      specialism: "Pan disability",
      type: "New application",
      date: "3  "  + monthAndYear +  "  10:22"
    },
    {
      name: "Sonya Corkery",
      specialism: "Large business",
      type: "Renewal",
      date: "2  "  + monthAndYear +  "  09:23"
    },
    {
      name: "Adaline Mann",
      specialism: "Pan disability",
      type: "New application",
      date: "2  "  + monthAndYear +  "  16:23"
    }

    ]
    %}


{% extends "layout.html" %}

{% block pageTitle %}
  {{title}} - {{serviceName}} - GOV.UK
{% endblock %}

{% block header %}

<header class="govuk-header " role="banner" data-module="govuk-header">

 </header>


  {% block atwisHeader %}





{% if not hideBanner %}
    {% block banner %}









{% if not hideback %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-three-quarters">
<br>
{{ govukBackLink({
text: "Back",
href: "javascript:history.go(-1)"
}) }}<br></div></div>{% endif %}

<main>

    {% endblock %}
{% endif %}

  {% endblock %}
{% endblock %}




{% block head %}
  {% include "includes/head.html" %}
  <!-- extra agent-only css  -->
<link href="/public/stylesheets/dwp.css" media="all" rel="stylesheet" type="text/css" />
<link href="/public/stylesheets/atwis.css" media="all" rel="stylesheet" type="text/css" />

{% endblock %}
