{% extends folder + "/_BASE.html" %}
{% block service %}

		<form id="form" method="post" action="interviewer-details">


		<h1 class="govuk-heading-xl govuk-!-margin-bottom-2">
				How long is the interview expected to last?
		</h1>

		<div class="govuk-date-input" id="duration">
				<div class="govuk-date-input__item">
					<div class="govuk-form-group">
						<label class="govuk-label govuk-date-input__label" for="duration">

						</label>
            <input class="govuk-input" id="duration" name="duration" type="text" autocomplete="duration" spellcheck="false">
				</div>
				</div>
			</div>


		<input type="submit" class="govuk-button" value="Continue" id="submit"><!-- interviewer_details -->

		</form>

{% endblock %}
