{% set page = "claim" %}
{% set claim = "true" %}
{% set title = "Case details" %}
{% set view = "tab" %}

{% extends   "payments/sprint-46/claim/_CSIBASE-no-footer.html" %}

{% block csi %}






<form action="/payments/sprint-46/cases/dereck/claim-dereck#your-tasks" method="post" novalidate>



        <div class="govuk-width-container">
        <main class="govuk-main-wrapper">
        <div class="govuk-grid-row">
        <div class="govuk-grid-column-two-thirds">



        <div class="govuk-form-group">
        <fieldset class="govuk-fieldset">
        <legend class="govuk-fieldset__legend govuk-fieldset__legend--l">


        <h2 class="govuk-fieldset__heading">
<!-- {{data['sw-invoice-ref-1']}}: summary -->
Summary of pro formas

        </h2>

        <div class="govuk-inset-text">
        Deadline for replacement invoice is

        {{data['invoice-deadline-day']}}

        {% if (data['invoice-deadline-month'] =='01') or (data['invoice-deadline-month'] =='1') %} January {% endif%}
        {% if (data['invoice-deadline-month'] =='02') or (data['invoice-deadline-month'] =='2') %} February  {% endif%}
        {% if (data['invoice-deadline-month'] =='03') or (data['invoice-deadline-month'] =='3') %} March {% endif%}
        {% if (data['invoice-deadline-month'] =='04') or (data['invoice-deadline-month'] =='4') %} June {% endif%}
        {% if (data['invoice-deadline-month'] =='05') or (data['invoice-deadline-month'] =='5') %} May {% endif%}
        {% if (data['invoice-deadline-month'] =='06') or (data['invoice-deadline-month'] =='6') %} June {% endif%}
        {% if (data['invoice-deadline-month'] =='07') or (data['invoice-deadline-month'] =='7') %} July {% endif%}
        {% if (data['invoice-deadline-month'] =='08') or (data['invoice-deadline-month'] =='8') %} August {% endif%}
        {% if (data['invoice-deadline-month'] =='09') or (data['invoice-deadline-month'] =='9') %} September {% endif%}
        {% if data['invoice-deadline-month'] =='10' %} October {% endif%}
        {% if data['invoice-deadline-month'] =='11'%} November {% endif%}
        {% if data['invoice-deadline-month'] =='12' %} December {% endif%}

        {{data['invoice-deadline-year']}}.
        </div>



        <br>


        <div class="govuk-summary-card">
          <div class="govuk-summary-card__title-wrapper">
            <h2 class="govuk-summary-card__title">Pro forma 1</h2>

          </div>
          <div class="govuk-summary-card__content">
            <dl class="govuk-summary-list">



                  <div class="govuk-summary-list__row">
                    <dt class="govuk-summary-list__key">
                      Foot rest
                    </dt>
                    <dd class="govuk-summary-list__value">
                        £24
                    </dd>
                    <dd class="govuk-summary-list__actions">
                      <a class="govuk-link" href="#">
                      </a>
                    </dd>
                  </div>



                      <br>

                      <div class="govuk-summary-list__row">
                        <dt class="govuk-summary-list__key">
                          Total
                        </dt>
                        <dd class="govuk-summary-list__value">
                          <p class="govuk-body govuk-!-font-weight-bold">£24</p>
                        </dd>
                        <dd class="govuk-summary-list__actions">
                          <a class="govuk-link" href="#">
                          </a>
                        </dd>
                      </div>

            </dl>
          </div>
        </div>

        <br>
        <div class="govuk-summary-card">
          <div class="govuk-summary-card__title-wrapper">
            <h2 class="govuk-summary-card__title">Pro forma 2</h2>
          </div>
          <div class="govuk-summary-card__content">
            <dl class="govuk-summary-list">
                  <div class="govuk-summary-list__row">
                    <dt class="govuk-summary-list__key">
                      Ergonomic keyboard
                    </dt>
                    <dd class="govuk-summary-list__value">
                        £110
                    </dd>
                    <dd class="govuk-summary-list__actions">
                      <a class="govuk-link" href="#">
                      </a>
                    </dd>
                  </div>
                  <div class="govuk-summary-list__row">
                    <dt class="govuk-summary-list__key">
                      Ergonomic mouse
                    </dt>
                    <dd class="govuk-summary-list__value">
                      £40.22
                    </dd>
                    <dd class="govuk-summary-list__actions">
                      <a class="govuk-link" href="#">
                      </a>
                    </dd>
                  </div>



                      <br>


                      <div class="govuk-summary-list__row">
                        <dt class="govuk-summary-list__key">
                          Total
                        </dt>
                        <dd class="govuk-summary-list__value">
                        <p class="govuk-body govuk-!-font-weight-bold">£150.22</p>

                        </dd>
                        <dd class="govuk-summary-list__actions">
                          <a class="govuk-link" href="#">
                          </a>
                        </dd>
                      </div>


            </dl>
          </div>
        </div>


        </fieldset>
        </div>



                    <!-- <div class="govuk-form-group">
                      <fieldset class="govuk-fieldset">
                        <legend class="govuk-fieldset__legend govuk-fieldset__legend--l">
                          <h2 class="govuk-heading-m">
                            Have you received a valid replacement invoice?
                          </h2>
                        </legend>
                          <div class="govuk-radios__item">
                            <input class="govuk-radios__input" id="SEA-hold-1-invoice-1" name="SEA-hold-1-invoice" type="radio" value="Yes~claim-dereck#your-tasks" {{ checked("SEA-hold-1-invoice-1", "Yes") }}>
                            <label class="govuk-label govuk-radios__label" for="SEA-hold-1-invoice-1">
                              Yes
                            </label>
                          </div>
                          <div class="govuk-radios__divider">or</div>
                          <div class="govuk-radios__item">
                            <input class="govuk-radios__input" id="SEA-hold-1-invoice-3" name="SEA-hold-1-invoice" type="radio" value="No~claim-dereck#your-tasks" {{ checked("SEA-hold-1-invoice", "No, put the claim on hold") }}>
                            <label class="govuk-label govuk-radios__label" for="SEA-hold-1-invoice-3">
                              No, put the claim on hold
                            </label>
                  </div>

                          <div class="govuk-radios__item">
                            <input class="govuk-radios__input" id="SEA-hold-1-invoice-2" name="SEA-hold-1-invoice" type="radio" value="No~review-invoice-no-match/sw-invoice-rejected-close-tab#your-tasks" {{ checked("SEA-hold-1-invoice-2", "No, the deadline date has passed") }}>
                            <label class="govuk-label govuk-radios__label" for="SEA-hold-1-invoice-2">
                              No, the deadline date has passed
                            </label>
                          </div>
                </div> -->



                <div class="govuk-form-group">
                  <fieldset class="govuk-fieldset">
                    <legend class="govuk-fieldset__legend govuk-fieldset__legend--l">
                      <h2 class="govuk-heading-m">
                        Have you received a valid replacement invoice?
                      </h2>
                    </legend>
                    <div class="govuk-radios" data-module="govuk-radios">
                      <div class="govuk-radios__item">
                        <input class="govuk-radios__input" id="SEA-hold-1-invoice" name="SEA-hold-1-invoice" type="radio" value="Yes~cases/cost-share-threshold/invoice-paid-select-tab#your-tasks" {{ checked("SEA-hold-1-invoice", "Yes") }}>
                        <label class="govuk-label govuk-radios__label" for="SEA-hold-1-invoice">
                          Yes
                        </label>
                      </div>
                      <div class="govuk-radios__item">
                        <input class="govuk-radios__input" id="SEA-hold-1-invoice-2" name="SEA-hold-1-invoice" type="radio" value="No, put the claim on hold~claim-dereck#your-tasks" {{ checked("SEA-hold-1-invoice-2", "No, put the claim on hold") }}>
                        <label class="govuk-label govuk-radios__label" for="SEA-hold-1-invoice-2">
                          No, put the claim on hold
                        </label>
                      </div>
                      <div class="govuk-radios__item">
                        <input class="govuk-radios__input" id="SEA-hold-1-invoice-3" name="SEA-hold-1-invoice" type="radio" value="No, the deadline date has passed~claim-dereck#your-tasks" {{ checked("SEA-hold-1-invoice-3", "No, the deadline date has passed") }}>
                        <label class="govuk-label govuk-radios__label" for="SEA-hold-1-invoice-3">
                          No, the deadline date has passed
                        </label>
                      </div>
                    </div>
                  </fieldset>
                </div>


<!-- TRIGGER -->





        <div class="govuk-button-group">
        <button class="govuk-button" data-module="govuk-button">
          Save and continue
        </button>
        </form>




        </form>
        </div>
        </div>
        </main>
        </div>







{% endblock %}
