








      </ul>
      </li>
      <!-- <p >
<a href="{% if not data['_do_1']%}/live-44/cases/contact/1/how-do-you-want-to-contact{% else %}/live-44/cases/contact/contact-log{% endif %}" aria-describedby="contact-status">

  Record contact with {% if data['appointee']=='Yes, I need to add an appointee'%}{{data['appointee-name']}}{% else %}{% if phase == "sonya" %}Sonya Corkery{% else %}Dereck Smith{% endif %}{% endif %}
</a>
      </p><br> -->

      <!-- <p >
      <a href="{% if not data['_do_1']%}/live-44/cases/contact/1/how-do-you-want-to-contact{% else %}/live-44/cases/contact/contact-log{% endif %}" aria-describedby="contact-status">
      Add contact
      </a>
      </p> -->
<!-- <br> -->
<li>
  <h2 class="app-task-list__section">
    <span class="app-task-list__section-number">3. </span> Workplace assessment and job details
  </h2>
  <ul class="app-task-list__items">
<li class="app-task-list__item">
  <span class="app-task-list__task-name">
<a href="{% if phase =="sonya"%}/live-44/cases/workplace-assesment/wpa-not-needed{% else %}{% if data['wpa']%}/live-44/cases/workplace-assesment/check-wpa{% else %}{% if data['elements']=='I do not know'%}/live-44/cases/workplace-assesment{% else %}/live-44/cases/workplace-assesment/wpa-not-needed{% endif %}{% endif %}{% endif %}" aria-describedby="job-status">
  Confirm whether workplace assessment is needed
</a>
  </span>

    {% if not data['wpa']%}<strong class="govuk-tag govuk-tag--blue app-task-list__tag" id="grant-matches-claim-status">Not started</strong>  {% else %}
<strong class="govuk-tag app-task-list__tag" id="eligibility-status">Completed</strong>
    {% endif %}
  </li>


  {% if data['wpa']=='Yes'%}
        <li class="app-task-list__item">
          <span class="app-task-list__task-name">
        <a href="{% if data['wpa-type']%}/live-44/cases/workplace-assesment/type/check{% else %}/live-44/cases/workplace-assesment/type{% endif %}" aria-describedby="job-status">
            Type of workplace assessment
        </a>
          </span>
                    {% if data['wpa-type']=='They do not want a workplace assessment'%}<strong class="govuk-tag app-task-list__tag" id="eligibility-status">Completed</strong>  {% endif %}
          {% if data['wpa-type']=='Face-to-face'%}<strong class="govuk-tag app-task-list__tag" id="eligibility-status">Completed</strong>  {% endif %}
          {% if data['wpa-type']=='Virtual'%}<strong class="govuk-tag app-task-list__tag" id="eligibility-status">Completed</strong>  {% endif %}
          {% if data['wpa-type']=='I need to contact them to discuss'%}<strong class="govuk-tag govuk-tag--blue app-task-list__tag" id="contact-details-status">Contact needed</strong>{% endif %}
          {% if not data['wpa-type']%}<strong class="govuk-tag govuk-tag--blue app-task-list__tag" id="grant-matches-claim-status">Not started</strong>  {% endif %}
          </li>
    {% endif %}

    {% if data['wpa-type']=='Virtual' or data['wpa-type']=='Face-to-face'%}
          <li class="app-task-list__item">
            <span class="app-task-list__task-name">
          <a href="{% if (data['address-of-wpa'] or data['wpa-availability']=='I’m waiting for an answer')%}/live-44/cases/workplace-assesment/availability/check{% else %}/live-44/cases/workplace-assesment/availability{% endif %}" aria-describedby="job-status">
              Availability for workplace assessment
          </a>
            </span>
            {% if data['address-of-wpa']%}<strong class="govuk-tag app-task-list__tag" id="contact-details-status"> Completed</strong>{% endif %}

{% if data['wpa-availability']=='I’m waiting for an answer'%}<strong class="govuk-tag govuk-tag--blue app-task-list__tag" id="eligibility-status">Contact needed</strong>  {% endif %}

            <!-- {% if data['wpa-availability']%}<strong class="govuk-tag app-task-list__tag" id="eligibility-status">in progress</strong>  {% endif %} -->

            {% if data['wpa-4-weeks']=='Yes'%}<strong class="govuk-tag govuk-tag--blue app-task-list__tag" id="contact-details-status"> On hold </strong>{% endif %}
          {% if data['wpa-4-weeks']=='No'%}
          {% if data['wpa-pause']=='No'%}<strong class="govuk-tag app-task-list__tag" id="contact-details-status"> Completed</strong>{% endif %}
          {% if data['wpa-pause']=='Yes'%}<strong class="govuk-tag govuk-tag--blue app-task-list__tag" id="contact-details-status"> On hold</strong>{% endif %}
{% endif %}


            {% if not data['wpa-availability']%}<strong class="govuk-tag govuk-tag--blue app-task-list__tag" id="grant-matches-claim-status">Not started</strong>  {% endif %}
            </li>
      {% endif %}
    <li>
      <li>


          <li class="app-task-list__item">
            <span class="app-task-list__task-name">
      <a href="
      {% if data ['job-deatils-contact']=='They gave permission (apply)'%}
      {% if data ['employer-sector']%}/live-44/cases/job-details/check{% else %}/live-44/cases/job-details/employment-sector{% endif %}
      {% else %}
      {% if data ['job-deatils-contact']%}/live-44/cases/job-details/check{% else %}/live-44/cases/contact-employer{% endif %}
      {% endif %}
      " aria-describedby="job-status">

          Add information about the employer
      </a>
            </span>
      {% if data['employer-sector']=='Yes' and data['employer-sector-type'] %}<strong class="govuk-tag app-task-list__tag" id="eligibility-status">Completed</strong>{% endif %}
      {% if not data['employer-sector']%}<strong class="govuk-tag govuk-tag--blue app-task-list__tag" id="grant-matches-claim-status">Not started</strong>{% endif %}
      {% if data ['employer-sector']=='No'%}<strong class="govuk-tag govuk-tag--blue app-task-list__tag" id="contact-details-status">Contact needed</strong>{% endif %}
      </li>

















{% if data['wpa']=='Yes' and  data['employer-size'] and data['employer-sector-type'] and data['address-of-wpa']%}
            <li class="app-task-list__item">
              <span class="app-task-list__task-name">
          <a href="{% if data['referral-form']%}/live-44/cases/workplace-assesment/check-referral-form{% else %}/live-44/cases/workplace-assesment/referral-form{% endif %}" aria-describedby="cost-share-agreement">
                  Workplace assessment referral form
          </a>
              </span>
              {% if not data['referral-form']%}
              <strong class="govuk-tag govuk-tag--blue app-task-list__tag" id="grant-matches-claim-status">Not started</strong>            </li>
{% else %}
<strong class="govuk-tag app-task-list__tag" id="eligibility-status">Completed</strong>
{% endif %}
{% endif %}




  {% if data['referral-form']%}

  <li class="app-task-list__item">
    <span class="app-task-list__task-name">
<a href="{% if data['report']%}/live-44/cases/workplace-assesment/wpa-report/check{% else %}/live-44/cases/workplace-assesment/wpa-report{% endif %}" aria-describedby="cost-share-agreement">
      Review workplace assessment report
</a>
    </span>
{% if data['report']%}<strong class="govuk-tag app-task-list__tag" id="eligibility-status">Completed</strong>{% else %}
    <strong class="govuk-tag govuk-tag--blue app-task-list__tag" id="grant-matches-claim-status">Not started</strong>   {% endif %}         </li>

{% endif %}








          </ul>
