{% set page = "claim" %}
{% set claim = "true" %}
{% set title = "Case details" %}
{% set view = "tab" %}

{% extends   "payments/current/claim/_CSIBASE-no-footer.html" %}


{% block csi %}
<br>




<!-- <form action="/cases/claim/task-list" method="post" novalidate> -->
<form action="/payments/current/cases/claim#your-tasks" method="post" novalidate>


  <div class="govuk-width-container">
    <main class="govuk-main-wrapper">
      <div class="govuk-grid-row">
        <div class="govuk-grid-column-two-thirds">

<div class="govuk-form-group">

  <fieldset class="govuk-fieldset">


  <div id="contact-hint" class="govuk-hint">
              <!-- secondary text -->
                </div>


                <div class="govuk-form-group">
                  <fieldset class="govuk-fieldset">
                    <legend class="govuk-fieldset__legend govuk-fieldset__legend--l">
                      <span class="govuk-caption-xl">
                        {% if data['invoice-name']%} {{data ['invoice-name'] }} {% else %} Invoice 1 {% endif %}</span>
                      <h1 class="govuk-fieldset__heading">
                        Did you save the replacement invoice in SharePoint?
                      </h1>
                    </legend>
                      <div class="govuk-radios__item">
                        <input class="govuk-radios__input" id="invoice-saved-1" name="invoice-saved" type="radio" value="Yes~dereck/cases/check-document/check-answers-tab#your-tasks" {{ checked("invoice-saved", "Yes") }}>
                        <label class="govuk-label govuk-radios__label" for="invoice-saved-1">
                          Yes
                        </label>
                      </div>
                      <div class="govuk-radios__item">
                        <input class="govuk-radios__input" id="invoice-saved-2" name="invoice-saved" type="radio" value="No~dereck/cases/check-document/saved-location-other-tab#your-tasks" {{ checked("invoice-saved", "No") }}>
                        <label class="govuk-label govuk-radios__label" for="invoice-saved-2">
                          No
                        </label>
                      </div>
                    </div>



        </div>
      </div>
    </fieldset>
  </div>
           <button class="govuk-button" data-module="govuk-button">
             Save and continue
           </button>
         </form>
       </div>
     </div>


        </main>
        </div>







{% endblock %}
