{% set page = "claim" %}
{% set claim = "true" %}
{% set title = "Case details" %}
{% set hideback = "true" %}
{% set hidebanner = "true" %}

{% set name = "sarah" %}


{% set phase = "case-manger-view" %}

{% extends   "live-atwis/current/claim/_MAINBASE.html" %}



{% block csi %}
<br>




{% set changeHide = 'true '%}

{% if claim %}
<nav class="navigation-secondary" style="max-width: 1280px">
      <ul style="max-width: 1280px">
          <li>
            <a href="summary_teamleader" aria-current="page" >Document summary</a>

</li>


<li >
  <a href="summary-data" aria-current="page" class="active">Manage data</a>

</li>



        </ul>

        </nav>



                <div class="govuk-tabs__panel" id="application-summary">

    <div class="govuk-grid-row">
   <div class="govuk-grid-column-two-thirds">




{% if data['data-delete-hold-sarah']=='yes'%}
     <div class="govuk-notification-banner govuk-notification-banner--success" role="alert" aria-labelledby="govuk-notification-banner-title" data-module="govuk-notification-banner">
       <div class="govuk-notification-banner__header">
         <h2 class="govuk-notification-banner__title" id="govuk-notification-banner-title">
           Success
         </h2>
       </div>
       <div class="govuk-notification-banner__content">
       <p class="govuk-notification-banner__heading">
        You have reset the deletion of this document data.
         </p>
         </div>
     </div>
{% endif %}











{% if "Customer feedback or complaint" in data['data-delete-hold-sarah'] or
"Fraud investigation" in data['data-delete-hold-sarah'] or
"Criminal case review" in data['data-delete-hold-sarah'] or
"Performance management" in data['data-delete-hold-sarah'] or
 data['data-delete-hold-sarah']=='no'%}


<div class="govuk-notification-banner govuk-notification-banner--success" role="alert" aria-labelledby="govuk-notification-banner-title" data-module="govuk-notification-banner">
  <div class="govuk-notification-banner__header">
    <h2 class="govuk-notification-banner__title" id="govuk-notification-banner-title">
      Success
    </h2>
  </div>
  <div class="govuk-notification-banner__content">
  <p class="govuk-notification-banner__heading">
    You have stopped this data from being deleted on <script>// Get date
          var now = new Date();
          var pastDate = new Date(now);
          pastDate.setDate(now.getDate() );

          var formattedDate = pastDate.toLocaleDateString('en-GB', {
          day: 'numeric',
          month: 'long',
          year: 'numeric'
          });

          var formattedTime = pastDate.toLocaleTimeString('en-GB', {
          hour: 'numeric',
          minute: 'numeric',
          hour12: true
          });

          document.write(formattedDate);</script>.
    </p>
    </div>
</div>


<h1 class="govuk-heading-l">This document is being investigated</h1>

<p>If the investigation of Sarah Smith's document data is complete, you must  <a href="data/hold">reset the deletion of this data in AtWIS</a>.</p>










{% else %}


     <h1 class="govuk-heading-l">This document data will be deleted in AtWIS on <script>// Get date
           var now = new Date();
           var pastDate = new Date(now);
           pastDate.setDate(now.getDate() + 730);

           var formattedDate = pastDate.toLocaleDateString('en-GB', {
           day: 'numeric',
           month: 'long',
           year: 'numeric'
           });

           var formattedTime = pastDate.toLocaleTimeString('en-GB', {
           hour: 'numeric',
           minute: 'numeric',
           hour12: true
           });

           document.write(formattedDate);</script></h1>






     <p>You can <a href="./data">stop this data from being deleted</a> if the document is being investigated.</p>


{% endif %}


























    </div>
  </div>












{% endif %}


{% endblock %}
