{% extends "layout_unbranded.html" %}

{% block pageTitle %}
Entry
{% endblock %}

{% block content %}

<h1 class="govuk-heading-l" >[Scenario 1: payment officer]</h1>

<p>[You have an invoice and claim form for an Access to Work case for Communication Support at Interview]</p>

<p>[You've been told that you now process these using ATWIS instead of DiSC.]</p>

<a class="govuk-button govuk-button--secondary" href="agreed/search-payments" data-module="govuk-button">
  Go to ATWIS
</a>

<p><a href="index">Back to index</a></p>



{% endblock %}
