
{% set changeHide = 'true '%}

{% if claim %}
<nav class="navigation-secondary" style="max-width: 1280px">
      <ul style="max-width: 1280px">
          <li>
            <a href="summary" aria-current="page" class="active" >Application summary</a>

</li>

<li >
  <a href="summary-application" aria-current="page">Application details</a>

</li>


        </ul>

        </nav>

        <div class="govuk-tabs__panel" id="application-summary">




       <div class="govuk-grid-row">
      <div class="govuk-grid-column-two-thirds">








<script>
  window.onload = function() {
    sessionStorage.removeItem('live-nino');
  };
  </script>

<h2 class="govuk-heading-l">Application summary</h2>
  <dl class="govuk-summary-list govuk-summary-list--no-border">
    <dl class="govuk-summary-list govuk-summary-list--no-border">

            <div class="govuk-summary-list__row">













              <p>URN: 123456789</p>
              <details class="govuk-details">
                <summary class="govuk-details__summary">
                  <span class="govuk-details__summary-text">
                Edit URN
                  </span>
                </summary>
                <div class="govuk-details__text">

                  <div class="govuk-form-group">
                    <label class="govuk-label" for="event-name">
                    URN
                    </label>
                    <input class="govuk-input govuk-input--width-10" id="URN" name="URN" type="text" value="123456789">
                  </div>
                  <div>
                             <input type="submit" class="govuk-button" id="submitButtonEditAdvisor" value="Save">
                           </div>

                  </div>
              </details>



      <div class="govuk-summary-list__row">


            <dt class="govuk-summary-list__key">
            Date submitted
            </dt>
            <dd class="govuk-summary-list__value">


              <script>// Get date
                  var now = new Date();
                  var pastDate = new Date(now);
                  pastDate.setDate(now.getDate() - 60);

                  var formattedDate = pastDate.toLocaleDateString('en-GB', {
                  day: 'numeric',
                  month: 'long',
                  year: 'numeric'
                  });

                  var formattedTime = pastDate.toLocaleTimeString('en-GB', {
                  hour: 'numeric',
                  minute: 'numeric',
                  hour12: true
                  });

                  document.write(formattedDate + ' at 3:00 pm');</script>     </dd>
          </div>
  <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">
          Full name
        </dt>
        <dd class="govuk-summary-list__value">


      Harold Lzhdrjrr Allen       </dd>
      </div>
    <div class="govuk-summary-list__row">
      <dt class="govuk-summary-list__key">
      Employer
      </dt>
      <dd class="govuk-summary-list__value">
        Smith PLC
      </dd>
    </div>

    <div class="govuk-summary-list__row">
      <dt class="govuk-summary-list__key">
      Condition
      </dt>
      <dd class="govuk-summary-list__value">
Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
      </dd>
    </div>

  </dl>




    </div>


 <div class="govuk-grid-column-one-third">


  {% if phase == "allocator"  %}
  <div class="update-panel">
       <h3 id="update-adviser-heading" class="govuk-heading-m">Update case manger</h3>
       <form action="/cases/apply/RMPX34/update-adviser" method="post" class="form" id="form-update-adviser" data-submitonce="data-submitonce">
         <div class="govuk-form-group form-group-compound">
           <select class="govuk-select" id="handlerId" name="handlerId" aria-labelledby="update-adviser-heading">
             <option value="" data-name=""></option>

                   <option value="4" data-name="Aaron">Aaron</option>

                   <option value="36" data-name="Adviser">Adviser</option>

                   <option value="37" data-name="Case Team Lead">Case Team Lead</option>

                   <option value="35" data-name="FRM">FRM</option>

                   <option value="38" data-name="Payment Officer">Payment Officer</option>

                   <option value="39" data-name="Payment Team Lead" selected="selected"> John Goldsmith</option>

                   <option value="40" data-name="Quality">Quality</option>

                   <option value="42" data-name="Quality1">Quality1</option>

                   <option value="5" data-name="Shannon White">Shannon White</option>

                   <option value="34" data-name="Telephony Agent">Telephony Agent</option>



           </select>
         </div>
         <div>
           <input type="submit" class="govuk-button" id="submitButtonEditAdvisor" value="Save">
         </div>
       </form>
     </div> {% endif %}


     <div class="govuk-form-group">
             <h2 id="update-specialism-heading" class="govuk-heading-m">Update specialism</h2>
             <form action="/atw/ui-agent_f-7909_atw/cases/apply/GOVGL5YM/update-specialism" method="post" class="form" id="form-update-specialism" autocomplete="off" data-submitonce="">
                 <div class="govuk-form-group form-group-compound">
                 <select class="govuk-select" id="specialismId" name="specialism" aria-labelledby="update-specialism-heading">

                     <option value="" data-name=""></option>


                         <option value="self_employed" data-name="Self-employed">
                     Self-employed
                     </option>

                         <option value="director" data-name="Director">
                     Director
                     </option>

                         <option value="hidden" data-name="Hidden impairments">
                     Hidden impairments
                     </option>

                         <option value="large_employer" data-name="Large employer">
                     Large employer
                     </option>

                         <option value="deaf" data-name="Deaf">
                     Deaf
                     </option>

                         <option value="visual" data-name="Visually impaired">
                     Visually impaired
                     </option>

                         <option value="unknown" data-name="Pan disability">
                     Pan disability
                     </option>

                 </select>
                 </div>
                 <div>
                   <input type="hidden" name="caseVersion" value="v2">
                   <input type="submit" class="govuk-button" id="submitButtonSpecialism" value="Update">
                 </div>
             </form>
         </div>







     <script>
     window.onload = function() {
       document.getElementById("timeline-date").innerHTML=moment().format("DD MM YYYY");
     }
   </script>


 </div></div>


 </div>




























{% endif %}
