
{% extends "layout.html" %}

{% block pageTitle %}
  Communication support at interview prototype
{% endblock %}

{% set serviceName = "Access to Work (AtWIS)" %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-full-width">
      <h1 class="govuk-heading-xl">
        ATWIS prototype (Payments, Assess and others)
        <span class="govuk-caption-xl">Running on {{releaseVersion}} of the GOV.UK prototype kit</span>
      </h1>
      <div class="govuk-warning-text">
        <span class="govuk-warning-text__icon" aria-hidden="true">!</span>
        <strong class="govuk-warning-text__text">
          <span class="govuk-warning-text__assistive">Warning</span>
          Navigation page for internal team use only. Not for development or usability sessions.
        </strong>
      </div>
      <p>
<a href="index-assess">Assess</a>
      </p>

      <p>
<a href="index-payments">Payments</a>
      </p>

      <p>
    <a href="orange/index">Others</a>
      </p>

      <p>
<a href="index-assess">CSI</a>
      </p>

{% endblock %}
