
{% extends "layout.html" %}

{% block pageTitle %}
  Communication support at interview prototype
{% endblock %}

{% set serviceName = "Access to Work (AtWIS)" %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-full-width">
      <h1 class="govuk-heading-xl">
      Accessibility
        <span class="govuk-caption-xl">Running on {{releaseVersion}} of the GOV.UK prototype kit</span>
      </h1>
      <div class="govuk-warning-text">
        <span class="govuk-warning-text__icon" aria-hidden="true">!</span>
        <strong class="govuk-warning-text__text">
          <span class="govuk-warning-text__assistive">Warning</span>
          Navigation page for internal team use only. Not for development or usability sessions.
        </strong>
      </div>
      <p>

      </p>
      <h2 class="govuk-heading-l"> AS IS (Live July 2024)</h2>
      <div class="govuk-accordion" data-module="govuk-accordion" id="accordion-default">


        <div class="govuk-accordion__section ">
          <div class="govuk-accordion__section-header">
            <h2 class="govuk-accordion__section-heading">
              <span class="govuk-accordion__section-button" id="accordion-default-heading-1">
             AtWIS
              </span>
            </h2>
          </div>
          <div id="accordion-default-content-1" class="govuk-accordion__section-content" aria-labelledby="accordion-default-heading-1">

                  {{ govukTable({
                    caption: "",
                    captionClasses: "govuk-heading-m",
                    firstCellIsHeader: true,
                    head: [
                      {
                        text: "Version"
                      },
                      {
                        text: "Date added"
                      },
                      {
                        text: ""
                      },
                      {
                        text: "Link"
                      }
                    ],
                    rows: [
                    [
                    {
                      text: " 0.1"
                    },
                    {
                      text: "1 March 2022"
                    },
                    {
                      html: '

                         <p><strong>Prototype: </strong></p>
                       <ul class="govuk-list govuk-list--bullet">

                           <li></li>
                          <li></li>
                        </ul>

                        <p><strong>Documents: </strong></p>
                    <a href="https://dwpdigital.atlassian.net/wiki/spaces/ATW/pages/132711318839/ATWIS+Error+messages">https://dwpdigital.atlassian.net/wiki/spaces/ATW/pages/132711318839/ATWIS+Error+messages</>


                     '
                    },

                    {
                      html: '<a href="/accessibility/index">Go to index </a>'
                    }
      ]
    ]
  }) }}
          </div>
          </div>



{% endblock %}
