
{% extends "layout.html" %}

{% block pageTitle %}
  Communication support at interview prototype
{% endblock %}

{% set serviceName = "Apply for commmunication support at interview (Access to Work)" %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-full-width">
      <h1 class="govuk-heading-xl">
        ATWIS prototype (Payments and Assess)
        <span class="govuk-caption-xl">Running on {{releaseVersion}} of the GOV.UK prototype kit</span>
      </h1>

      <p>
<a href="index-assess">Assess</a>
      </p>

      <p>
<a href="index-payments">Payments</a>
      </p>



{% endblock %}
