
{% extends "layout.html" %}

{% block pageTitle %}
  Communication support at interview prototype
{% endblock %}

{% set serviceName = "Apply for commmunication support at interview (Access to Work)" %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-full-width">
      <h1 class="govuk-heading-xl">
        Payments
        <span class="govuk-caption-xl">Running on {{releaseVersion}} of the GOV.UK prototype kit</span>
      </h1>

      <p>

      </p>
      <div class="govuk-accordion" data-module="govuk-accordion" id="accordion-default">


  <div class="govuk-accordion__section ">
    <div class="govuk-accordion__section-header">
      <h2 class="govuk-accordion__section-heading">
        <span class="govuk-accordion__section-button" id="accordion-default-heading-1">
          Usability prototype
        </span>
      </h2>
    </div>
    <div id="accordion-default-content-1" class="govuk-accordion__section-content" aria-labelledby="accordion-default-heading-1">

      <p>  <a href="https://dwpdigital.atlassian.net/wiki/spaces/ATW/pages/132548690256">Design decision confluence page</a></p>

      {{ govukTable({
        caption: "Version history for current team",
        captionClasses: "govuk-heading-m",
        firstCellIsHeader: true,
        head: [
          {
            text: "Version"
          },
          {
            text: "Date added"
          },
          {
            text: "Change log"
          },
          {
            text: "Link"
          }
        ],
        rows: [
        [
        {
          text: " 0.5"
        },
        {
          text: ""
        },
        {
          text: "Play area for testing ideas before sprint"
        },
        {
          html: '<a href="">Go to future </a>'
        }
        ],

        [
        {
          text: "0.1"
        },
        {
          text: "00 Month 2022"
        },

        {
          html: '

             <p><strong>Findings: </strong></p>
           <ul class="govuk-list govuk-list--bullet">
              <li></li>
            </ul>
              <p><strong>Changes for UR: </strong></p>
            <ul class="govuk-list govuk-list--bullet">
              <li></li>

             </ul>
             <p><strong>Jira tickets: </strong></p>
           <ul class="govuk-list ">

            </ul>

         '
        },

        {
          html: '<a href="/payments/current/indexmenu">Go to current </a>'
        }
        ],
        [
        {
          text: "0.1"
        },
        {
          text: "20 July 2022"
        },

        {
          html: '

             <p><strong>Findings: </strong></p>
           <ul class="govuk-list govuk-list--bullet">
              <li>Compleated Design analysis on Case Summary and a Task List structure</li>
              <li>Built Task list and initial content ready for UR</li>
              <li>Built Case Summary and initial conteent ready for UR</li>
              <li>Built Case history and initial content ready for UR</li>
            </ul>
              <p><strong>Changes for UR: </strong></p>
            <ul class="govuk-list govuk-list--bullet">
              <li>no UR at this stage</li>

             </ul>
             <p><strong>Jira tickets: </strong></p>
           <ul class="govuk-list ">
             <li>HTO-3787</li>
             <li>HTO-3789</li>
             <li>HTO-3788</li>
             <li>HTO-3790</li>



            </ul>

         '
        },

        {
          html: '<a href="/payments/sprint-8/indexmenu">Go to sprint-8 </a>'
        }
        ],
        [
        {
          text: "0.1"
        },
        {
          text: "06 July 2022"
        },

        {
          html: '

             <p><strong>Findings: </strong></p>
           <ul class="govuk-list govuk-list--bullet">
              <li>Stripped asses allocation screen to build up for payments</li>
              <li>Built single tab Claim allocation view as foundation for Payments journey waiting on BA analysis for possible further tab creation</li>
              <li>Conttent changed to reflect Payment officer</li>
              <li>Set up new Payment officer profile Sue Pearson</li>
            </ul>
              <p><strong>Changes for UR: </strong></p>
            <ul class="govuk-list govuk-list--bullet">
              <li>no UR at this stage</li>

             </ul>
             <p><strong>Jira tickets: </strong></p>
           <ul class="govuk-list ">
             <li>HTO-3618</li>
             <li>HTO-3698</li>

            </ul>

         '
        },

        {
          html: '<a href="/payments/sprint-7/indexmenu">Go to sprint-7 </a>'
        }
        ]


]

      }) }}
    </div>
</div>



{% endblock %}
