{% extends folder + "/2/claim/_BASE-live.html" %}

{% block content %}



{% set appointeeDetails = {
  name: "Mavis Brown",
  contact:  ["phone" ] ,
  address: "28 Cathedral Drive<br>Coventry<br>CV3 6JH",
  telephone: "02475 554 223"

} %}

{% set count = 0 %}

{% if (data['personal'] == 'no' or data['company'] == 'no' or data['interview'] == "no") and not (phase == "interview")  %}

{% set array = [data['personal'], data['company'], data['interview'] ] %}


{% for i in array %}
  {% if i == "no" %}
  {% set count = count + 1 %}
  {% endif %}
{% endfor %}

{% endif  %}



<div class="govuk-width-container">



    <div class="govuk-grid-row">
      <div class="govuk-grid-column-full">



                    {% block csi %}

                    {% endblock %}


      </div>



      <div class="govuk-grid-column-one-third">




{% if not contactCentre %} <!-- never shown for contact centre -->
        {% if phase == "payment-cancelled" %}

        <p>Stopped payment has been recorded.</p>
        {% set stopPayment %}
        <form action="index-payment-cancelled" method="post" novalidate>
        <p>Confirm that the payment has been resent.</p>
        {{ govukButton({
          text: "Confirm"
        }) }}
        </form>

        {% endset -%}
        {{ govukDetails({
          summaryText: "Record resent payment",
          html: stopPayment
        }) }}

        {% elif phase == "payment-closed" %}
        {% set stopPayment %}
        <form action="index-payment-cancelled" method="post" novalidate>
        <p>Confirm that the payment has been stopped.</p>
        {{ govukButton({
          text: "Confirm"
        }) }}
        </form>
        {% endset -%}
        {{ govukDetails({
          summaryText: "Record stopped payment",
          html: stopPayment
        }) }}
{% else %}

      {% if not (phase == "closed") and not ( phase == "payment-closed") and not (phase == "payment-cancelled") and not payments %}


       {% endif %}

        {% if (phase == "interview") or (phase == "waiting")  or (data['claim'] =="yes") or (phase == "payment-adviser") %}
                 <!-- <p><a  href="resend">Print and send claim form again</a></p> -->

{% endif %}

{% endif %}

{% endif %} <!-- end never shown for contact centre -->










<!-- -->

  </main>
</div>

{% endblock %}
