{% extends "layout_unbranded.html" %}

{% block pageTitle %}
Entry
{% endblock %}

{% block content %}

<h1 class="govuk-heading-l" >1: Payment officer</h1>

<p>Use the claim form and invoice to process the payment for a Communication Support at Interview case.</p>

<p>You can do this on ATWIS and do not need to use DiSC.</p>

<a class="govuk-button govuk-button--secondary" href="agreed/your-cases-payments" data-module="govuk-button">
  Go to ATWIS
</a>

<p><a href="index">Back to index</a></p>



{% endblock %}
