{% extends "layout_unbranded.html" %}

{% block pageTitle %}
Handover
{% endblock %}

{% block content %}

<h1 class="govuk-heading-l" >2: Adviser</h1>

<p>You have been given a Communication Support at Interview case from the payments team. The invoice is different from the quote.</p>

<p>Check the support cost on ATWIS. You do not need to use DiSC.</p>

<a class="govuk-button govuk-button--secondary" href="agreed/your-cases-payment-adviser" data-module="govuk-button">
  Go to Your cases
</a>

<p><a href="index">Back to index</a></p>



{% endblock %}
