{% set page = "claim" %}
{% set claim = "true" %}
{% set title = "Case details" %}

{% extends folder + "/claim/_CSIBASE.html" %}

{% block csi %}



<form action="/live-36/cases/claim#your-tasks" method="post" novalidate>
<div class="govuk-width-container">


  <main class="govuk-main-wrapper " id="main-content" role="main">
    <div class="govuk-grid-row">
      <div class="govuk-grid-column-two-thirds-from-desktop">

        <h2 class="govuk-heading-l">Task summary: referral form </h2>



        <dl class="govuk-summary-list govuk-!-margin-bottom-9">
          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
              Which tasks have you completed?


            </dt>
            <dd class="govuk-summary-list__value">

{% for feature in data['referral-form'] %}
  <li>{{ feature }}</li>
{% else %}
  <li>None </li>
{% endfor %}
            </dd>
            <dd class="govuk-summary-list__actions">
              <a class="govuk-link" href="referral-form">
              Update<span class="govuk-visually-hidden">           Which tasks have you completed?</span>
              </a>
            </dd>
          </div>





<br>

          <input type="hidden" name="job-details-checked" value="true">

          <button class="govuk-button" data-module="govuk-button" >
            Return to your tasks
          </button>

        </form>

      </div>
    </div>
  </main>
</div>


{% endblock %}
