{% extends "layout.html" %} {% set serviceName = "Renew Access to Work" %}

{% block pageTitle %}
  How we use cookies
{% endblock %}

{% block beforeContent %}

<div class="govuk-phase-banner">
  <p class="govuk-phase-banner__content">
    <strong class="govuk-tag govuk-phase-banner__content__tag">
      beta
    </strong>
    <span class="govuk-phase-banner__text">
      This is a new service – your <a class="govuk-link" href="https://getinvolved.dwp.gov.uk/digital/cdc1a144">feedback</a> will help us to improve it.
    </span>
  </p>
</div>

{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">


      <form action="/form-handler" method="post" novalidate>

              <legend class="govuk-fieldset__legend govuk-fieldset__legend--xl">
                <h1 class="govuk-fieldset__heading">
                  How we use cookies
                </h1>
              </legend>

             <p class="govuk-body">
             A cookie is a small file which is stored on your device for a short time to make this service work.
             </p>

             <p class="govuk-body">
             We use cookies that are:
             </p>


             <ul class="govuk-list govuk-list--bullet">
              <li>essential for the service to work, like remembering your answers to certain questions</li>
              <li>optional and will not stop the service from working, but will give us information to help us make it better</li>
             </ul>



             <p class="govuk-body">
             We will not:
             </p>


             <ul class="govuk-list govuk-list--bullet">
              <li>use any essential cookies until you use the service</li>
              <li>use any optional cookies unless you tell us we can</li>
              <li>be able to identify you through using cookies</li>
             </ul>

             <h2 class="govuk-heading-l">
              Optional cookie settings
            </h2>

            <h3 class="govuk-heading-m">
              Optional cookie settings
            </h3>

            <p class="govuk-body">
             We use Google Analytics to get information about how you use this service and help us make it better.
            </p>

            <div class="govuk-form-group">

          <fieldset class="govuk-fieldset" aria-describedby="f-cookieConsent-hint">

           <legend class="govuk-fieldset__legend govuk-fieldset__legend--s">
            Can we use cookies to help us improve the service?
           </legend>


          <div id="f-cookieConsent-hint" class="govuk-hint">
          </div>

          <div class="govuk-radios govuk-radios--inline">

          <div class="govuk-radios__item">
          <input class="govuk-radios__input" id="f-cookieConsent" name="cookieConsent" type="radio" value="accept" checked="" data-ga-question="Can we use cookies to help us improve the service?" data-ga-answer="Yes">
          <label class="govuk-label govuk-radios__label" for="f-cookieConsent">
          Yes
         </label>

        </div>

        <div class="govuk-radios__item">
          <input class="govuk-radios__input" id="f-cookieConsent-2" name="cookieConsent" type="radio" value="reject" data-ga-question="Can we use cookies to help us improve the service?" data-ga-answer="No">
          <label class="govuk-label govuk-radios__label" for="f-cookieConsent-2">
        No
      </label>

        </div>

                </div>

      </fieldset>
    </div>

      <button class="govuk-button" data-module="govuk-button" id="continue-button">
        Save and continue
      </button>

      <p class="govuk-body">
        <a class="govuk-link" href="cookie-details">Find out more about cookies on this service</a>
     </p>


      </form>

    </div>
     </div>

{% endblock %}
{% block footer %}
  {{ govukFooter({
    meta: {
      items: [
        {
          href: "https://www.get-disability-work-support.service.gov.uk/apply/accessibility-statement",
          text: "Accessibility statement "
        },
        {
          href: "cookie-policy",
          text: "Cookies"
        },
        {
          href: "https://www.gov.uk/government/organisations/department-for-work-pensions/about/personal-information-charter",
          text: "Privacy policy"
        }
      ]
    }
  }) }}
{% endblock %}
