{% extends "layout.html" %} {% set serviceName = "Renew Access to Work" %}

{% block pageTitle %}
Details about cookies on this service
{% endblock %}

{% block beforeContent %}

<div class="govuk-phase-banner">
  <p class="govuk-phase-banner__content">
    <strong class="govuk-tag govuk-phase-banner__content__tag">
      beta
    </strong>
    <span class="govuk-phase-banner__text">
      This is a new service – your <a class="govuk-link" href="https://getinvolved.dwp.gov.uk/digital/cdc1a144">feedback</a> will help us to improve it.
    </span>
  </p>
</div>

<a class="govuk-back-link" href="cookie-policy">Back</a>

{% endblock %}

{% block content %}

    <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <h1 class="govuk-heading-xl">
        Details about cookies on this service
      </h1>
      <p class="govuk-body">
        We need to use some essential cookies to make the ‘Renew Access to Work’ website work.
      </p>
      <p>
        <div class="govuk-inset-text">
  You can <a class="govuk-link" href="cookie-policy">change which cookies you’re happy for us to use</a>.
</div>

      </p>

      <h2 class="govuk-heading-m">
        If your cookies are switched off
      </h2>
      <p class="govuk-body">
        You will see an error message when you try to use the website if your cookies are disabled.
      </p>
      <p class="govuk-body">
        How to turn cookies on depends on the <a class="govuk-link" href="https://www.whatsmybrowser.org/" rel="noreferrer noopener" target="_blank">browser you are using</a> and how up to date it is.
      </p>
      <p class="govuk-body">
        Find out how to change your settings for the most popular browsers, including:
      </p>
      <ul class="govuk-list govuk-list--bullet">
        <li><a class="govuk-link" href="https://support.microsoft.com/en-us/products/windows?os=windows-10" rel="noreferrer noopener" target="_blank">Internet Explorer</a></li>
        <li><a class="govuk-link" href="https://www.mozilla.org/en-US/?v=a" rel="noreferrer noopener" target="_blank">Mozilla Firefox</a></li>
        <li><a class="govuk-link" href="https://support.google.com/accounts/answer/61416?hl=en" rel="noreferrer noopener" target="_blank">Google Chrome</a></li>
        <li><a class="govuk-link" href=""><a class="govuk-link" href="https://www.apple.com/" rel="noreferrer noopener" target="_blank">Safari</a>, commonly used on iPads, iPhones and other Apple computers</li>
      </ul>
      <p class="govuk-body">
        Find out <a class="govuk-link" href="http://www.aboutcookies.org/Default.aspx?page=1" rel="noreferrer noopener" target="_blank">how to manage cookies</a> for other browsers.
      </p>

      <h2 class="govuk-heading-m">
       Cookies that measure website use
      </h2>
      <p class="govuk-body">
        We use Google Analytics software to collect information about how you use the website. We use this information to improve this website.
      </p>
      <p>
        <div class="govuk-inset-text">
  We do not allow Google to use or share the data about how you use this site.
</div>

      </p>
      <p class="govuk-body">
        Google Analytics cookies collect and store information about:
      </p>
      <ul class="govuk-list govuk-list--bullet">
        <li>the pages you visit - what you click on when using the website</li>
        <li>how long you spend on each page</li>
        <li>how you got to the website</li>
      </ul>
      <table class="govuk-table">

  <caption class="govuk-table__caption">Google Analytics cookies</caption>

  <thead class="govuk-table__head">
    <tr class="govuk-table__row">

      <th scope="col" class="govuk-table__header">Name</th>

      <th scope="col" class="govuk-table__header">Purpose</th>

      <th scope="col" class="govuk-table__header">Expires</th>

    </tr>
  </thead>

  <tbody class="govuk-table__body">
        <tr class="govuk-table__row">
          <td class="govuk-table__cell">
          _ga
          </td>

          <td class="govuk-table__cell">
          Counts how many people visit the website by tracking if they’ve visited before
          </td>

          <td class="govuk-table__cell">
          60 minutes or when you close your browser
          </td>

        </tr>

        <tr class="govuk-table__row">
          <td class="govuk-table__cell">
          _gat
          </td>

          <td class="govuk-table__cell">
          Counts how many pages are viewed and how often
          </td>

          <td class="govuk-table__cell">
          10 minutes
          </td>

        </tr>

  </tbody>
</table>

      <h2 class="govuk-heading-m">
        Cookies that help keep your information secure
      </h2>
      <p class="govuk-body">
        We use session cookies to keep your information secure as you move back and forward through the website.
      </p>
      <p class="govuk-body">
        These cookies are automatically removed from your computer when you complete your application or if you:
      </p>
      <ul class="govuk-list govuk-list--bullet">
        <li>don’t do anything for 90 minutes</li>
        <li>close your browser</li>
        <li>switch off your computer</li>
      </ul>
      <table class="govuk-table">

  <caption class="govuk-table__caption">Security cookies</caption>


  <thead class="govuk-table__head">
    <tr class="govuk-table__row">
      <th scope="col" class="govuk-table__header">Name</th>
      <th scope="col" class="govuk-table__header">Purpose</th>
      <th scope="col" class="govuk-table__header">Expires</th>
    </tr>
  </thead>

  <tbody class="govuk-table__body">
        <tr class="govuk-table__row">

          <td class="govuk-table__cell">
          JRSESSIONID
          </td>

          <td class="govuk-table__cell">
          To remember where you are in the application and your previous answers so you can move back and forward through the website
          </td>

          <td class="govuk-table__cell">
          90 minutes or when you close your browser
          </td>

        </tr>

  </tbody>
</table>

      <h2 class="govuk-heading-m">
        Cookies message
      </h2>
      <p class="govuk-body">
        You may see a banner when you visit this website inviting you to accept cookies or review your settings. We’ll set cookies so that your computer knows you’ve seen it and not to show it again, and also to store your settings.
      </p>
      <table class="govuk-table">

  <caption class="govuk-table__caption">Service cookies</caption>


  <thead class="govuk-table__head">
    <tr class="govuk-table__row">

      <th scope="col" class="govuk-table__header">Name</th>

      <th scope="col" class="govuk-table__header">Purpose</th>

      <th scope="col" class="govuk-table__header">Expires</th>

    </tr>
  </thead>

  <tbody class="govuk-table__body">

        <tr class="govuk-table__row">

          <td class="govuk-table__cell">
          seen_cookie_message
          </td>

          <td class="govuk-table__cell">
          Saves your cookie consent settings
          </td>

          <td class="govuk-table__cell">
         1 year
         </td>

        </tr>

  </tbody>
</table>


    </div>
     </div>

{% endblock %}
{% block footer %}
  {{ govukFooter({
    meta: {
      items: [
        {
          href: "https://www.get-disability-work-support.service.gov.uk/apply/accessibility-statement",
          text: "Accessibility statement "
        },
        {
          href: "cookie-policy",
          text: "Cookies"
        },
        {
          href: "https://www.gov.uk/government/organisations/department-for-work-pensions/about/personal-information-charter",
          text: "Privacy policy"
        }
      ]
    }
  }) }}
{% endblock %}
