{% set link = "../../4-confirm/1" %}
{% set interviewLink = true %}
{% extends folder + "/" + subfolder + "/csi/_CSIQUESTION.html" %}

{% set title =  "Phone the employer" %}
{% set redirect = [{id : "yes", page: link }, {id: "no", page: "../../index-interview"}] %}


{% block csi %}


<p>Check that <strong>Thomas Brown</strong> attended the interview with an interpreter or support worker.</p>

<p>Contact Terry Gibson at Tesco on <strong>07192 838 482</strong>.</p>
<br>


{{ govukRadios({

      classes: "govuk-radios--inline",
       idPrefix: "employer",
       name: "employer",
       fieldset: {
         legend: {
           text: "Has the employer responded?",
           isPageHeading: false,
           classes: "govuk-fieldset__legend--m"
         }
       },
       items: [
         {
           id: "yes",
           value: "yes",
           text: "Yes"
         },
         {
           id: "no",
           value: "no",
           text: "No"
         }
       ]
     }) }}

{% endblock %}
