{% set page = "claim" %}
{% set claim = "true" %}
{% set title = "Case details" %}

{% extends folder + "/claim/_CSIBASE.html" %}

{% block csi %}
<br>

<div class="govuk-width-container">


  <main class="govuk-main-wrapper " id="main-content" role="main">
    <div class="govuk-grid-row">
      <div class="govuk-grid-column-two-thirds">
      <h2 class="govuk-heading-l">

                    Employment</h2>

        <form action="" method="post" novalidate>


              <div class="govuk-warning-text">
                <span class="govuk-warning-text__icon" aria-hidden="true">!</span>
                <strong class="govuk-warning-text__text">
                  <span class="govuk-warning-text__assistive">Warning</span>
          You must contact {% if phase == 'john'%}John Smith{% endif %}{% if not phase%}Dereck Smith{% endif %} for permission for Access to Work to communicate with their employer.
          </strong>
          </div>


<p>You'll need to contact <a href="/live-37/cases/john/cases/contact/contact-details">John Smith</a> for a quote.</p>



<div class="govuk-form-group">
            <fieldset class="govuk-fieldset">
              <legend class="govuk-fieldset__legend govuk-fieldset__legend--m">
                    {% include  "./content/has-confirmed-whether-contact-employer.html" %}
              </legend>






              <div class="govuk-radios " data-module="govuk-radios">
                <div class="govuk-radios__item govuk-radios--inline">
                  <input class="govuk-radios__input" id="job-deatils-contact" name="job-deatils-contact" type="radio" value="Yes, they gave permission~/live-37/cases/{% if phase %}{{phase}}/cases/{% endif %}job-details/employment-sector" {{ checked("job-deatils-contact", "Yes, they gave permission") }}>
                  <label class="govuk-label govuk-radios__label" for="job-deatils-contact">
                    Yes, they gave permission
                  </label>
                </div>
                <div class="govuk-radios__item">
                  <input class="govuk-radios__input" id="job-deatils-contact-2" name="job-deatils-contact" type="radio" value="They did not give permission~/live-37/cases/contact-employer/unhappy-cost-share" {{ checked("job-deatils-contact", "They did not give permission") }}>
                  <label class="govuk-label govuk-radios__label" for="job-deatils-contact-2">
                    They did not give permission
                  </label>
                </div>
                <div class="govuk-radios__item">
                  <input class="govuk-radios__input" id="job-deatils-contact-3" name="job-deatils-contact" type="radio" value="I have not spoken to them~/live-37/cases/claim#your-tasks" {{ checked("job-deatils-contact", "I have not spoken to them") }}>
                  <label class="govuk-label govuk-radios__label" for="job-deatils-contact-3">
                    I have not contacted
                  </label>
                </div>
              </div>

            </fieldset>
    </div>
            <button class="govuk-button" data-module="govuk-button">
              Save and continue
            </button>

          </form>
        </div>
      </div>
    </main>
  </div>


{% endblock %}
