{% extends "layout.html" %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <h1 class="govuk-heading-xl">

    AtWIS Live iterations (2024)

</h1>





<div class="govuk-accordion" data-module="govuk-accordion" id="accordion-default">
  <div class="govuk-accordion__section">
    <div class="govuk-accordion__section-header">
      <h2 class="govuk-accordion__section-heading">
        <span class="govuk-accordion__section-button" id="accordion-default-heading-1">
        Prototype versions - Live
        </span>
      </h2>
    </div>
    <div id="accordion-default-content-1" class="govuk-accordion__section-content">

      <table class="govuk-table">
  <caption class="govuk-table__caption govuk-table__caption--m"></caption>
  <thead class="govuk-table__head">
    <tr class="govuk-table__row">
      <th scope="col" class="govuk-table__header">Date</th>
      <th scope="col" class="govuk-table__header">Details</th>
        <th scope="col" class="govuk-table__header">Version</th>
    </tr>
  </thead>
  <tbody class="govuk-table__body">
    <tr class="govuk-table__row">
      <th scope="row" class="govuk-table__header">Latest version</th>
      <td class="govuk-table__cell">The most up to date version of the prototype.</td>
        <td class="govuk-table__cell">  <a class="govuk-link" href="current/index">Current </a></td>
    </tr>
    <tr class="govuk-table__row">
      <th scope="row" class="govuk-table__header">November 2024</th>
      <td class="govuk-table__cell">Data retetion designs for team leader to extend or withdraw application.<br><br>
    <strong>  Note</strong> Design de scoped as no requiremnt for all team leader to have feature. Removed in future versions.</td>
        <td class="govuk-table__cell">  <a class="govuk-link" href="1/index">live version 1</a></td>
    </tr>
    <tr class="govuk-table__row">
      <th scope="row" class="govuk-table__header">October 2024</th>
      <td class="govuk-table__cell">Accesbility WCAG 2.2 updateds. </td>
        <td class="govuk-table__cell">  <a class="govuk-link" href="0/index">live version 0 </a></td>
    </tr>

  </tbody>
</table>
    </div>
  </div>

</div>
{% endblock %}
