{% extends "layout.html" %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <h1 class="govuk-heading-xl">

      <span class="govuk-caption-xl"></span>

</h1>
<p>Jump to page:</p>
  <ul class="govuk-list">
    <p class="govuk-body-l">Custom user name for UR</p>
    <p>This screen will allow you to enter a username that then replaces all holding text of that name within the prototype to better aclimitise the user to the prototype for testing. <p>

    <li>
      <a class="govuk-link" href="cases/set-advisor.html">Custom user name </a>
    </li>
    <br>




  <ul class="govuk-list">
    <p class="govuk-body-l">Payment officer view</p>
    <li>
      <a class="govuk-link" href="your-cases.html">Your cases - User type: Payment Officer</a>
    </li>
    <br>
    <!-- <p class="govuk-body-l">Team lead view</p>
    <li>
      <a class="govuk-link" href="your-cases-team-lead.html">Your cases - User type: Team Lead</a>
    </li>
    <br> -->


    <p class="govuk-body-l"> Screens</p>
    <p>Each screen is attached to a case who name preceeds it. <p>

      <h2 class="govuk-heading-s">Dereck Smith Case:</h2>
      <p>Case type: Specialist Aids and Equipment</p>
      <p>Happy path</p>

    <li>
      <a class="govuk-link" href="cases/dereck/claim-dereck">Dereck - claim (Summary tab)</a>
    </li>
    <li>
      <a class="govuk-link" href="cases/dereck/claim-dereck#claim-details">Dereck - claim (Claim form tab)</a>
    </li>
    <li>
      <a class="govuk-link" href="cases/dereck/claim-dereck#document-details">Dereck - invoice (Documents tab)</a>
    </li>
    <li>
      <a class="govuk-link" href="cases/dereck/claim-dereck#your-tasks">Dereck - claim (Your tasks tab)</a>
    </li>



    <br>

    <h2 class="govuk-heading-s">Sonya Corkery:</h2>
    <p>Case type: Specialist Aids and Equipment</p>
    <p>Unhappy path</p>

    <li>
      <a class="govuk-link" href="cases/sonya/claim-sonya">Sonya - claim (Summary tab)</a>
    </li>
    <li>
      <a class="govuk-link" href="cases/sonya/claim-sonya#claim-details">Sonya - claim (Claim form tab)</a>
    </li>
    <li>
      <a class="govuk-link" href="cases/sonya/claim-sonya#document-details">Sonya - invoice (Documents tab)</a>
    </li>
    <li>
      <a class="govuk-link" href="cases/sonya/claim-sonya#your-tasks">Sonya - claim (Your tasks tab)</a>
    </li>

    <br>

    <h2 class="govuk-heading-s">James McCarthy:</h2>
    <p>Case type: Specialist Aids and Equipment</p>
    <p>Cost share</p>


    <li>
      <a class="govuk-link" href="cases/jamesm/claim-jamesm">James - claim (Summary tab)</a>
    </li>
    <li>
      <a class="govuk-link" href="cases/jamesm/claim-jamesm#claim-details">James - claim (Claim form tab)</a>
    </li>
    <li>
      <a class="govuk-link" href="cases/jamesm/claim-jamesm#document-details">James - invoice (Documents tab)</a>
    </li>
    <li>
      <a class="govuk-link" href="cases/jamesm/claim-jamesm#your-tasks">James - claim (Your tasks tab)</a>
    </li>

    <br>

    <h2 class="govuk-heading-s">Nina West:</h2>
    <p>Case type: Specialist Aids and Equipment</p>
    <p>Cost share</p>


    <li>
      <a class="govuk-link" href="cases/nina/claim-nina">Nina - claim (Summary tab)</a>
    </li>
    <li>
      <a class="govuk-link" href="cases/nina/claim-nina#claim-details">Nina - claim (Claim form tab)</a>
    </li>
    <li>
      <a class="govuk-link" href="cases/nina/claim-nina#document-details">Nina - invoice (Documents tab)</a>
    </li>
    <li>
      <a class="govuk-link" href="cases/nina/claim-nina#your-tasks">Nina - claim (Your tasks tab)</a>
    </li>

    <br>

    <h2 class="govuk-heading-s">Paul Hill:</h2>
    <p>Case type: Travel to work</p>
    <p>Happy path</p>
    <p>Public tansport deductions</p>


    <li>
      <a class="govuk-link" href="cases/paul/claim-paul">Paul - claim (Summary tab)</a>
    </li>
    <li>
      <a class="govuk-link" href="cases/paul/claim-paul#claim-details">Paul - claim (Claim form tab)</a>
    </li>
    <li>
      <a class="govuk-link" href="cases/paul/claim-paul#document-details">Paul - invoice (Documents tab)</a>
    </li>
    <li>
      <a class="govuk-link" href="cases/paul/claim-paul#your-tasks">Paul - claim (Your tasks tab)</a>
    </li>


  </ul>
</div>

{% endblock %}
